<div class="container responsivegrid">
    <form method="POST" action="/content/core-components-examples/library/form/button.html" id="new_form" name="new_form" enctype="multipart/form-data" class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12  cmp-region-select-dropdown">
      <input type="hidden" name=":formstart" value="/content/core-components-examples/library/form/button/jcr:content/root/responsivegrid/demo_881795653/component/container">
      <input type="hidden" name="_charset_" value="utf-8">
      <div class="options aem-GridColumn aem-GridColumn--default--12">
        <fieldset class="cmp-form-options cmp-form-options--radio">
          <label class="cmp-form-options__field-label cmp-radio-btn">
            <input type="radio"  checked="checked" name="radio">
            <span class="cmp-form-options__field-description">English - EN</span>
            <span class="checkmark"></span>
            
          </label>
          <label class="cmp-form-options__field-label cmp-radio-btn">
            <input type="radio" name="radio">
            <span class="cmp-form-options__field-description">Espanol - ES</span>
            <span class="checkmark"></span>
            
          </label>
        </fieldset>
      </div>
      <div class="button aem-GridColumn aem-GridColumn--default--12">
        <button type="BUTTON" id="form-button-1117902125" class="cmp-button__region-select" name="button">Change Location</button>
      </div>
    </form>
</div>