<div class="search cmp-search">
	<section id="search-b7b1075c98" class="cmp-search" role="search" data-cmp-min-length="3" data-cmp-results-size="10">
		<form class="cmp-search__form" data-cmp-hook-search="form">
			<div class="cmp-search__field">
				<button class="cmp-search__clear" data-cmp-hook-search="clear" aria-hidden="true" style="display: none;">
					<i class="cmp-search__clear-icon"></i>
				</button>
				<input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="Search by Vendor" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-owns="cmp-search-results-1">
				<i class="cmp-search__icon fas fa-search" data-cmp-hook-search="icon" aria-hidden="true"></i>
				<span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
			</div>
		</form>
		<div class="cmp-search__results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false" id="cmp-search-results-1" aria-hidden="true"></div>
	</section>
</div>