@import "../../variables";
@import "../../../site/variables";

.cmp-barChart {
	font-family: "Open Sans", sans-serif;
	justify-content: space-between;
	display: flex;
	width: rem(460px);
	height: rem(55px);
	margin: 0 15px;

	&__body {
		display: grid;
		grid-template-columns: 60% 40%;
	}

	&__title {
		font-size: $font-size-small;
		text-transform: uppercase;
		color: get-color(text-mid-gray);
		width: 100%;
		padding-bottom: 10px;
	}

	&__container {
		font-size: $font-size-xxsmall;
		color: get-color(text-mid-gray);
		width: 100%;
	}

	&__chart {
		& canvas {
			padding-bottom: 0;
			height: rem(95px) !important;
			width: rem(154px) !important;
		}
	}

	&__legend-row {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		white-space: nowrap;
		height: rem(15px);
		margin-bottom: rem(2px);
	}

	&__legend {
		display: flex;
		flex-direction: column;
		height: rem(15px);
		margin-bottom: rem(2px);

		div {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			margin-bottom: rem(2px);
		}
	}

	&__sub-title {
		font-size: $font-size-xxsmall;
		color: get-color(text-light-charcoal);
		padding: 0 0 0 rem(5px) !important;
		width: rem(105px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: capitalize;

		&-digits {
			font-size: $font-size-xxsmall;
			color: get-color(text-light-charcoal);
			text-align: right;
			padding-left: rem(40px);
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-currency {
			font-size: $font-size-xxsmall;
			color: get-color(text-light-charcoal);
			text-align: right;
			padding-left: rem(5px);
		}

		&-color-1 {
			border-right: rem(6px) solid get-color(brand-primary-text);
			padding-left: rem(32px);
		}

		&-color-2 {
			border-right: rem(6px) solid get-color(brand-blue);
			padding-left: rem(32px);
		}

		&-color-3 {
			border-right: rem(6px) solid get-color(tertiary-dark-blue);
			padding-left: rem(32px);
		}

		&-color-4 {
			border-right: rem(6px) solid get-color(td-primary-blue);
			padding-left: rem(32px);
		}

		&-color-5 {
			border-right: rem(6px) solid get-color(td-lightblue);
			padding-left: rem(32px);
		}
	}
}
