@import "../../variables";
@import "../../../site/variables";

.cmp-barChart {
	font-family: "Open Sans", sans-serif;
	justify-content: space-between;
	display: flex;
	width: 100%;
	height: auto;
	margin: 0 !important;

	&__body {
		display: grid;
		grid-template-columns: 60% 40%;
	}

	&__title {
		font-size: $font-size-small;
		text-transform: uppercase;
		color: get-color(text-mid-gray);
		width: 100%;
		padding-bottom: 0.625rem; // 10px / 16
	}

	&__container {
		font-size: $font-size-xxsmall;
		color: get-color(text-mid-gray);
		width: 100%;
	}

	&__chart {
		& canvas {
			padding-bottom: 0 !important;
			height: 7.25rem !important; // 116px / 16
			width: 9.625rem !important; // 154px / 16
		}
	}

	&__legend-row {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		white-space: nowrap;
		height: 0.9375rem; // 15px / 16
		margin-bottom: 0.125rem; // 2px / 16
	}

	&__legend {
		display: flex;
		flex-direction: column;
		height: 0.9375rem; // 15px / 16
		margin-bottom: 0.125rem; // 2px / 16

		@include mobile {
			height: auto;
			grid-row: 2;
			margin-top: 0.9375rem; // 15px / 16
			padding-left: 0.625rem; // 10px / 16
		}

		div {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			margin-bottom: 0.375rem; // 6px / 16
		}
	}

	&__sub-title {
		font-size: $font-size-xxsmall;
		color: get-color(text-light-charcoal);
		padding: 0 0 0 0.3125rem !important; // 5px / 16
		width: 6.5625rem; // 105px / 16
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: capitalize;

		&-digits {
			font-size: $font-size-xxsmall;
			color: get-color(text-light-charcoal);
			text-align: right;
			padding-left: 2.5rem; // 40px / 16
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-currency {
			font-size: $font-size-xxsmall;
			color: get-color(text-light-charcoal);
			text-align: right;
			padding-left: 0.3125rem; // 5px / 16
		}

		&-color-1 {
			border-right: 0.375rem solid get-color(brand-primary-text); // 6px / 16
			padding-left: 1rem; // 16px / 16
		}

		&-color-2 {
			border-right: 0.375rem solid get-color(brand-blue); // 6px / 16
			padding-left: 1rem; // 16px / 16
		}

		&-color-3 {
			border-right: 0.375rem solid get-color(tertiary-dark-blue); // 6px / 16
			padding-left: 1rem; // 16px / 16
		}

		&-color-4 {
			border-right: 0.375rem solid get-color(td-primary-blue); // 6px / 16
			padding-left: 1rem; // 16px / 16
		}

		&-color-5 {
			border-right: 0.375rem solid get-color(td-lightblue); // 6px / 16
			padding-left: 1rem; // 16px / 16
		}
	}
}
