@import "../../variables";
@import "../../../site/variables";

.cmp-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-custom-xxsmall;
  position: relative;
  &__wrapper{
    align-self: center;
    justify-content: space-between;
    margin-left: auto;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: right;
      list-style: none;
      li{
        padding: 0 rem(13px)!important;
        line-height: normal;
        & + li{
          border-left: rem(1px) solid get-color(brand-white);
        }
        a,span{
          color: get-color(brand-white);
          text-decoration: none;
        }

      }
    }
    &__child {

      align-items: center;
      &--right {
          align-items: center;
      }
      &--left {
          align-items: center;
      }
    }


    &__tablist{
      &__menu {
        position: absolute;
        z-index: 999;
        top: rem(60px);
        left: rem(0);
        background-color: get-color(brand-white);
        width: 1440px;
        height: rem(417px);
        display: flex;
        justify-content: space-between;
        &__item {
          padding-left: rem(15px);
          padding-right: rem(30px);
          h2 {
            font-size: $font-size-custom-xxsmall;
            color: get-color(text-light-charcoal);
            text-align: left;
          }

          img {
            width: rem(392px);
            height: rem(280px);
          }
          &--two-items {
            width: 0.5vw;
          }

          &--three-items {
            width: 0.33vw;
          }
        }
      }
    }
  }
  &--sub-nav {
    background-color: get-color(td-dark-blue);
    display: flex;
    width: 100%;
    height: rem(60px);
    line-height: rem(60px);
    height: rem(43px);
    > ol {
      margin: 0;
      padding: 0;
      align-self: center;
      &.cmp-tabs__tablist li{
        &:first-child,
        &.dashboard {
          margin-right: rem(70px);
        }
      }
      > li {
        display: inline-flex;
        position: relative;
        padding: 0 rem(15px)!important;
        z-index: 10;
        a,span {
          color: get-color(brand-white);
          text-decoration: none;
          display: flex;
          justify-content: right;
          position: relative;
          line-height: 3.3;
          &:hover {
            box-shadow: inset 0 -3px 0 0 get-color(brand-light-blue);
          }
        }
        &.cmp-tabs__tab--active,
        &.active,
        &:hover {
          background: transparent;
          border-bottom: 0 none;
          a,span{
            box-shadow: inset 0 -3px 0 0 get-color(brand-light-blue);
          }
        }
        &:hover > ul {
          display: flex;
          visibility: visible;
        }
      }
    }
  }
}

.cmp-new-subheader {
  .cmp-sub-header__menu--hide {
    display: none;
  }
  .menucategorieslist {
    background-color: white;
    .cmp-tools {
      z-index: 999;
      opacity: 1;
      .cmp-tools__category-name {
        background-color: white;

      }
    }

  }

  .menucategorieslist-aem-editor {
    background-color: white;
    position: relative;
    .cmp-tools {
      z-index: 999;
      opacity: 1;
      .cmp-tools__category-name {
        background-color: white;

      }
    }

  }
}


