@import "../../variables";
@import "../../../site/variables";

.cmp-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-custom-xxsmall;
  position: relative;

  &__wrapper {
    align-self: center;
    justify-content: space-between;
    margin-left: auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: right;
      list-style: none;
      color: get-color(brand-white);

      li {
        padding: 0 rem(13px) !important;
        line-height: normal;

        &+li {
          border-left: rem(1px) solid get-color(brand-white);

          @include mobile {
            display: none;
          }
        }

        a,
        span {
          color: get-color(brand-white);
          text-decoration: none;
        }

      }
    }

    &__child {

      align-items: center;

      &--right {
        align-items: center;

        @include mobile {
          margin: 0 auto !important;
        }

      }

      &--left {
        align-items: center;
      }
    }


    &__tablist {
      &__menu {
        position: absolute;
        z-index: 999;
        top: rem(60px);
        left: rem(0);
        background-color: get-color(brand-white);
        width: 1440px;
        height: rem(417px);
        display: flex;
        justify-content: space-evenly;

        &__item {
          padding-left: rem(15px);
          padding-right: rem(30px);

          h2 {
            font-size: $font-size-custom-xxsmall;
            color: get-color(text-light-charcoal);
            text-align: left;
          }

          img {
            width: rem(392px);
            height: rem(280px);
          }

        }
      }
    }
  }

  &--sub-nav {
    background-color: get-color(td-dark-blue);
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;

    >ol {
      margin: 0;
      padding: 0;

      &.cmp-tabs__tablist li {

        &:first-child,
        &.dashboard {
          margin-right: rem(54px);
        }
      }

      >li {
        display: inline-flex;
        position: relative;
        padding: 0 rem(5px) 0 rem(15px) !important;
        z-index: 10;
        margin-right: rem(12px);

        a,
        span {
          color: get-color(brand-white);
          text-decoration: none;
          display: flex;
          justify-content: right;
          position: relative;
          line-height: 3.3;

          &:hover {
            box-shadow: inset 0 -3px 0 0 get-color(brand-light-blue);
          }
        }

        &.cmp-tabs__tab--active,
        &.active,
        &:hover {
          background: transparent;
          border-bottom: 0 none;

          a,
          span {
            box-shadow: inset 0 -3px 0 0 get-color(brand-light-blue);
          }
        }

        &:hover>ul {
          display: flex;
          visibility: visible;
        }

        &:first-child {
          margin-right: rem(54px);
        }

      }
    }

    //This allows the sub-menu to display on mobile
    @include mobile {
        display: flex !important;

      ol {
        display: contents;

        li {
          a {
            white-space: nowrap;
          }
        }
      }
      .cmp-sub-header__wrapper ul li+li {
        display: none !important;
        border-left: rem(0px) solid get-color(brand-white);
      }

    }

  }
}

.cmp-new-subheader {
  .cmp-sub-header__menu--hide {
    display: none;
  }
}

@mixin subheader-span-border-bottom {
  > ol {
    > li {
      a,
      span.cmp-sub-header__span {
        height: rem(40px);
        box-shadow: unset;

        &:hover {
          border-bottom-width: rem(2px);
          border-bottom-style: solid;
          border-bottom-color: inherit;
        }
      }

      &.cmp-tabs__tab--active {
        a,
        span.cmp-sub-header__span {
          border-bottom-width: rem(2px);
          border-bottom-style: solid;
          border-bottom-color: inherit;
        }
      }
      
      &:first-child {
        margin-right: rem(12px);
      }
    }
  }
}

.cmp-sub-header {
  &--sub-nav {
    &.new-sub {
      height: rem(52.8px);
      background-color: get-color(brand-blue);
      grid-template-columns: 20% 60% 20%;
      @include subheader-span-border-bottom;
      top: 80px;
      position: fixed;
      z-index: 1;
    }

    &.cmp-experiencefragment__subheader--sticky {
      position: fixed;
      z-index: 1;      
      opacity: 1;
      height: 3.5em;
    }

    &.cmp-experiencefragment__subheader--sticky--opaque {
      opacity: 0.85;
    }

    &__title {
      font-weight: bold;
      color: get-color(brand-white);
      display: flex;
      align-items: center;

      span.cmp-sub-header__span {
        line-height: 3.3;
        margin-left: rem(20.33px);
      }
    }

    &__image {
      margin-left: rem(20.33px);

      img {
        max-width: 100%;
      }
    }
  }
}

/* StreamOne Styling */
.subheader {
  &.cmp-sub-header-stream-one {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          background-color: get-color(deep-teal);
          @include subheader-span-border-bottom;
        }
      }
    }
  }
}

/* DPB Styling */
.subheader {
  &.cmp-sub-header-dpb {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          background-color: get-color(secondary-ivory);
          a,
          span.cmp-sub-header__span {
            color: get-color(deep-teal);
          }

          @include subheader-span-border-bottom;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .subheader {
    .cmp-tabs {
      height: 60px;

      .cmp-sub-header--sub-nav {
        display: block!important;
        white-space: nowrap;

        &.new-sub {
          top: 45px;
          height: 4.5em;

          &.cmp-experiencefragment__subheader--sticky {
            height: 4.5em;
          }

        .cmp-sub-header--sub-nav__title {
          height: 16px;
          margin-top: 7px;

          .cmp-sub-header--sub-nav__image {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            text-align: -webkit-center;

            image {
              height: 18px;
            }
          }
        }

        .cmp-tabs__tablist {
          white-space: nowrap;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          overscroll-behavior-x: contain;
          scroll-snap-type: x mandatory;
          display: grid;
          grid-auto-flow: column;
          gap: 1rem;
          grid-template-rows: auto;
          overflow-y: hidden;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
  }
}
