.cmp-button {
	cursor: pointer;
}

.button {
    >.cmp-button {
        border: none;
    }
}

@include aem-only {
    button {
        border: none;
    }
}

.cmp-button--background-enabled {
    & .cmp-button {
        border-radius: 0.1875rem; // 3px / 16
        background-color: get-color(header-links-blue);

        &:hover {
            background-color: get-color(td-lightblue);
        }
    }
    .cmp-button__icon {
        color: get-color(brand-white);
    }
    & .cmp-button__text {
        color: get-color(brand-white);
    }
}

.cmp-button__clear {
    background-color: transparent !important;
    cursor: pointer !important;
}

.cmp-button__text--disabled {
    & .cmp-button__text {
        display: none;
    }
    & .cmp-button__icon {
        display: unset;
    }
}

.cmp-button__icon--disabled {
    & .cmp-button__text {
        display: unset;
    }
    & .cmp-button__icon {
        display: none;
    }
}

.cmp-button {
    border: unset;
    padding: 0.0625rem 0.375rem; // 1px / 16, 6px / 16
    color: unset;
    text-decoration: none;
    background: none;

    &.btn-xxsmall {
        font-size: $font-size-custom-xxsmall;
        width: 100%;
        padding: 0.375rem; // 6px / 16
        margin-top: 1.125rem; // 18px / 16
    }

    &:active,
    &:focus {
        outline: none;
        border: none;
    }

    &__disabled {
        color: get-color(text-light-charcoal);
        background-color: get-color(td-lighter-gray);
        width: 15rem; // 240px / 16
        height: 2.5rem; // 40px / 16
        box-shadow: inset 0 0 0 0.0625rem get-color(brand-light-gray2); // 1px / 16

        &.btn-xxsmall {
            font-size: $font-size-custom-xxsmall;
            width: 100%;
            padding: 0.375rem; // 6px / 16
            margin-top: 1.125rem; // 18px / 16
        }
    }

    &__primary {
        color: get-color(brand-white);
        background-color: get-color(td-dark-blue);
        width: 15rem; // 240px / 16
        height: 2.5rem; // 40px / 16
    }

    &__outlined {
        color: get-color(td-dark-blue);
        background-color: get-color(brand-white);
        width: 15rem; // 240px / 16
        height: 2.5rem; // 40px / 16
        box-shadow: inset 0 0 0 0.125rem get-color(td-dark-blue); // 2px / 16
    }

    &__region-select {
        color: get-color(brand-white);
        background-color: get-color(td-primary-blue);
        font-size: 1rem;
        width: 100%;
        cursor: pointer;
    }
}

.cmp-radio-btn {
	display: block;
	position: relative;
	padding-left: 1.375rem; // 22px / 16
	cursor: pointer;
	font-size: $font-size-custom-xxsmall;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:last-of-type {
		margin-bottom: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: 1.5rem; // 24px / 16
		height: 1.5rem; // 24px / 16
		left: -0.125rem; // -2px / 16
		top: -0.125rem; // -2px / 16

		&:checked ~ .checkmark {
			background-color: get-color(td-primary-blue);
			box-shadow: inset 0 0 0 0;

			&:after {
				display: block;
			}
		}
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 1.25rem; // 20px / 16
		width: 1.25rem; // 20px / 16
		background-color: get-color(brand-white);
		border-radius: 50%;
		box-shadow: inset 0 0 0 0.125rem get-color(text-light-charcoal); // 2px / 16

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 0.225rem; // 3.6px / 16
			left: 0.21875rem; // 3.5px / 16
			width: 0.375rem; // 6px / 16
			height: 0.375rem; // 6px / 16
			border-radius: 50%;
			background-color: get-color(brand-white);
		}
	}
}

.cmp-button__text--align-right {
	text-align: right;
}

.cmp-button__text {
	&--dark-blue,
	&--light-blue,
	&--white,
	&--grey {
		padding-top: 1.25rem; // 20px / 16

		.cmp-button {
			padding-left: 0;
			padding-right: 0;

			.cmp-button__text::after {
				@include font-awesome-custom-icon;
				content: "\f054";
				padding-left: 0.625rem; // 10px / 16
			}
		}
	}

	&--dark-blue {
		.cmp-button__text {
			color: get-color(td-dark-blue);
		}
	}
	&--light-blue {
		.cmp-button__text {
			color: get-color(brand-light-blue);
		}
	}
	&--white {
		.cmp-button__text {
			color: get-color(brand-white);
		}
	}
	&--grey {
		.cmp-button__text {
			color: get-color(brand-text-gray);
		}
	}
}

.cmp-class-for-uiFrontend-only {
	width: 28.125rem; // 450px / 16
	padding: 1rem; // 16px / 16
	margin: 75vh auto;
	font-size: $font-size-large;
	font-weight: $font-weight-normal;
	line-height: 1.2;
	text-align: center;
}

.cmp-jump-to-top {
	display: none;
	box-sizing: border-box;
	height: 3.75rem; // 60px / 16
	width: 3.75rem; // 60px / 16
	border: 0.0625rem solid get-color(brand-light-gray2); // 1px / 16
	background-color: get-color(brand-white);
	box-shadow: 0 0.125rem 0.25rem 0 get-color(brand-box-shadow); // 2px / 16, 4px / 16
	text-align: center;
	font-size: 30px;
	color: get-color(brand-blue);
	transition: all 0.05s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	transition: all 0.25s;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3rem 3rem 0; // 48px / 16

	a {
		height: 3.75rem; // 60px / 16
		width: 3.75rem; // 60px / 16
		color: get-color(brand-blue) !important;
		text-decoration: none;
		display: contents;
		transition: all 0.25s;

		&:before {
			content: auto;
		}
	}

	&:hover {
		box-shadow: 0 0.25rem 0.25rem 0 get-color(brand-box-shadow); // 4px / 16
	}
}
