.cmp-button {
	cursor: pointer;
}

.button {
    >.cmp-button {
        border: none;
    }
}

@include aem-only {
    button {
        border: none;
    }
}

.cmp-button--background-enabled {
	& .cmp-button {
		border-radius: rem(3px);
		background-color: get-color(header-links-blue);
		&:hover {
			background-color: get-color(td-lightblue);
		}
	}
	.cmp-button__icon {
		color: get-color(brand-white);
	}
	& .cmp-button__text {
		color: get-color(brand-white);
	}
}

.cmp-button__clear {
	background-color: transparent !important;
	cursor: pointer !important;
}
.cmp-button__text--disabled {
	& .cmp-button__text {
		display: none;
	}
	& .cmp-button__icon {
		display: unset;
	}
}

.cmp-button__icon--disabled {
	& .cmp-button__text {
		display: unset;
	}
	& .cmp-button__icon {
		display: none;
	}
}

.cmp-button {
	border: unset;
	padding: rem(1px) rem(6px);
	color: unset;
	text-decoration: none;
	background: none;

	&.btn-xxsmall {
		font-size: $font-size-custom-xxsmall;
		width: 100%;
		padding: rem(6px);
		margin-top: rem(18px);
	}

	&:active,
	&:focus {
		outline: none;
		border: none;
	}

	&__disabled {
		color: get-color(text-light-charcoal);
		background-color: get-color(td-lighter-gray);
		width: rem(240px);
		height: rem(40px);
		box-shadow: inset 0 0 0 rem(1px) get-color(brand-light-gray2);

		&.btn-xxsmall {
			font-size: $font-size-custom-xxsmall;
			width: 100%;
			padding: rem(6px);
			margin-top: rem(18px);
		}
	}

	&__primary {
		color: get-color(brand-white);
		background-color: get-color(td-dark-blue);
		width: rem(240px);
		height: rem(40px);
	}
	&__outlined {
		color: get-color(td-dark-blue);
		background-color: get-color(brand-white);
		width: rem(240px);
		height: rem(40px);
		box-shadow: inset 0 0 0 rem(2px) get-color(td-dark-blue);
	}
	&__region-select {
		color: get-color(brand-white);
		background-color: get-color(td-primary-blue);
		font-size: $font-size-custom-xxsmall;
		width: 100%;
		cursor: pointer;
	}
}

.cmp-radio-btn {
	display: block;
	position: relative;
	padding-left: rem(22px);
	cursor: pointer;
	font-size: $font-size-custom-xxsmall;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:last-of-type {
		margin-bottom: 0;
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: rem(24px);
		height: rem(24px);
		left: rem(-2px);
		top: rem(-2px);
		&:checked {
			~ {
				.checkmark {
					background-color: get-color(td-primary-blue);
					box-shadow: inset 0 0 0 0;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: rem(14px);
		width: rem(14px);
		background-color: get-color(brand-white);
		border-radius: 50%;
		box-shadow: inset 0 0 0 rem(2px) get-color(text-light-charcoal);
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: rem(3.6px);
			left: rem(3.5px);
			width: rem(6px);
			height: rem(6px);
			border-radius: 50%;
			background-color: get-color(brand-white);
		}
	}
}

.cmp-button__text--align-right {
	text-align: right;
}

.cmp-button__text {
	&--dark-blue,
	&--light-blue,
	&--white,
	&--grey {
		padding-top: rem(20px);

		.cmp-button {
			padding-left: 0;
			padding-right: 0;

			.cmp-button__text::after {
				@include font-awesome-custom-icon;

				content: "\f054";
				padding-left: rem(10px);
			}
		}
	}

	&--dark-blue {
		.cmp-button__text {
			color: get-color(td-dark-blue);
		}
	}
	&--light-blue {
		.cmp-button__text {
			color: get-color(brand-light-blue);
		}
	}
	&--white {
		.cmp-button__text {
			color: get-color(brand-white);
		}
	}
	&--grey {
		.cmp-button__text {
			color: get-color(brand-text-gray);
		}
	}
}

.cmp-class-for-uiFrontend-only {
	width: rem(450px);
	padding: rem(16px);
	margin: 75vh auto;
	font-size: $font-size-large;
	font-weight: $font-weight-normal;
	line-height: 1.2;
	text-align: center;
}

.cmp-jump-to-top {
	display: none;
	box-sizing: border-box;
	height: rem(60px);
	width: rem(60px);
	border: rem(1px) solid get-color(brand-light-gray2);
	background-color: get-color(brand-white);
	box-shadow: 0 rem(2px) rem(4px) 0 get-color(brand-box-shadow);
	text-align: center;
	font-size: 30px;
	color: get-color(brand-blue);
	transition: all 0.05s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	transition: all .25s;

	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 rem(48px) rem(48px) 0;

	a {
		height: rem(60px);
		width: rem(60px);
		color: get-color(brand-blue) !important;
		text-decoration: none;
		display: contents;
		transition: all .25s;

		&:before {
			content: auto;
		}
	}

	&:hover {
		box-shadow: 0 rem(4px) rem(4px) 0 get-color(brand-box-shadow);
	}
}
