.bg-color-container {
    position: absolute;
    top: 0;
    // height: 80%;
    height: 100%;
    width: inherit;
}

.section-image {
    // height: 80%;
    height: auto;
    width: 100%;
}

.nav-blue-container {
    background: #00558C;
    opacity: 0.60;
}

.ocean-blue-container {
    background: #00B1E2;
    opacity: 0.60;
}

.tagline-container {
    position: absolute;
    top: 45%;
    bottom: 45%;
    text-align: center;
    width: inherit;
}
