

.m-0 {
  margin: 0;
}

.ml-10 {
  margin-left: 10%;
}


.v-divider {  
  box-shadow: rem(1px) 0 0 0 get-color(v-divider-gray);
  &:last-of-type {    
    box-shadow: 0 0 0 0 get-color(v-divider-gray);
  }
}


.vx-divider {  
  border-left: rem(1px) solid get-color(v-divider-darkgray);
  border-right: rem(1px) solid get-color(v-divider-darkgray);
  padding: 0 rem(35px);
}