@import './../variables';
@import './../../../webpack/site/variables';
@import './../mixins';


// Everett Font
@font-face {
	font-family: "TWKEverett-Regular-web";
	src: url($font-marketing-path + "/TWKEverett-Regular.otf") format("otf"),
		url($font-marketing-path + "/TWKEverett-Regular-web.ttf") format("truetype"),
		url($font-marketing-path + "/TWKEverett-Regular-web.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TWKEverett-Medium-web";
	src: url($font-marketing-path + "/TWKEverett-Medium.otf") format("otf"),
		url($font-marketing-path + "/TWKEverett-Medium-web.ttf") format("truetype"),
		url($font-marketing-path + "/TWKEverett-Medium-web.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

//GeorgiaPro Font
@font-face {
	font-family: "Georgia Pro";
	src: url($font-digital-path + "/Georgia-Pro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Georgia Pro";
	src: url($font-digital-path + "/Georgia-Pro-Regular-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Georgia Pro";
	src: url($font-digital-path + "/Georgia-Pro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Georgia Pro";
	src: url($font-digital-path + "/Georgia-Pro-Bold-Italic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url($font-primary-path + "/OpenSans-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* BEGIN Italic */
@font-face {
	font-family: "Open Sans";
	src: url($font-primary-path + "/OpenSans-Italic.ttf") format("ttf");
	font-weight: normal;
	font-style: italic;
}

/* END Italic */
/* BEGIN Light */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "Light");
	font-weight: 300;
	font-style: normal;
}

/* END Light */
/* BEGIN Light Italic */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "LightItalic");
	font-weight: 300;
	font-style: italic;
}

/* END Light Italic */
/* BEGIN SemiBold */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "SemiBold");
	font-weight: 600;
	font-style: normal;
}

/* END SemiBold */
/* BEGIN SemiBold Italic */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "SemiBoldItalic");
	font-weight: 600;
	font-style: italic;
}

/* END SemiBold Italic */
/* BEGIN Bold */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "Bold");
	font-weight: bold;
	font-style: normal;
}

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "BoldItalic");
	font-weight: bold;
	font-style: italic;
}

/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "ExtraBold");
	font-weight: 800;
	font-style: normal;
}

/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
	font-family: "Open Sans";
	@include fontdef($font-primary-path, "ExtraBoldItalic");
	font-weight: 800;
	font-style: italic;
}

/* END Extrabold Italic */
