//== Techdata Base CSS Styling

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: 0.875rem;  // 14px / 16
    line-height: 1.5rem;  // 24px / 16
    color: map-get($color-palette, "charcoal");

    @include media(">=lg") {
        font-size: 1rem;  // 16px / 16
    }
}

a {
    // Style your links here (if needed)
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

img {
    vertical-align: middle;
}
