
.enhanced-list {
  .cmp-list {
    list-style-type: none;
    line-height: rem(12px);
    padding: 0;
    @include tablet {
      justify-content: space-evenly;
    }
  }
  .cmp-list__item {
    width: 100%;
    @include tablet {
      width: 150px;
    }
    article {
      margin-top: rem(8px);
      margin-bottom: rem(8px);
    }
  }
  .cmp-list__item-title {
    font-weight: $font-weight-normal;
    font-size: rem(13px);
    color: get-color(brand-text-gray);
  }
  .cmp-image__image-figure {
    height: auto;
    margin-bottom: 0;
    justify-content: center;

    &:not(:hover) {
      svg {
        path {
          fill: get-color(brand-blue) !important;
        }
      }
    }
  }

  .cmp-image__image {
    max-width: 100%;
    transition: all 0.3s;
    &:hover {
      filter: invert(100%) sepia(4%) saturate(405%) hue-rotate(284deg) brightness(114%) contrast(100%);
    }
  }
  .cmp-list__item-link {
    text-decoration: none;
    padding: 0;
    cursor: default;
    &:not(.cmp-list__item-link-inactive) {
      cursor: pointer;
      &:hover {
        .cmp-list__item-title {
          color: inherit;
          font-size: $font-size-medium;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}