// @use 'sass-rem' as rem;

@import '../../variables';
@import '../../../site/variables';

.cmp-dcp-widget {
  &-chart {
    &__title {
      font-size: $font-size-small;
      font-weight: normal;
      text-transform: uppercase;
      color: get-color(text-mid-gray);
      width: 100%;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    &__container {
      font-size: $font-size-xxsmall;
      color: get-color(text-mid-gray);
      width: 100%;
    }

    &__chart {
      &-row {
        display: flex;
      }

      & canvas {
        padding-bottom: 0.3125rem;
        width: rem-convert(154px) !important;
      }
    }

    &__sub-title {
      font-size: $font-size-xxsmall;
      color: get-color(text-light-charcoal);
      padding: 0 0.75rem 0 rem-convert(2.5px);

      &-wrapp {
        padding-bottom: 10px;
      }

      &-color-1 {
        border-right: 0.375rem solid get-color(brand-primary-text);
        display: inline-block;
        vertical-align: top;
        height: 0.875rem;
      }

      &-color-2 {
        border-right: 0.375rem solid get-color(td-lightblue);
        display: inline-block;
        vertical-align: top;
        height: 0.875rem;
      }

      &-color-3 {
        border-right: 0.375rem solid get-color(brand-blue);
        display: inline-block;
        vertical-align: top;
        height: 0.875rem;
      }

      &-color-4 {
        border-right: 0.375rem solid get-color(td-primary-blue);
        display: inline-block;
        vertical-align: top;
        height: 0.875rem;
      }

      &-color-5 {
        border-right: 0.375rem solid get-color(td-lightblue);
        display: inline-block;
        vertical-align: top;
        height: 0.875rem;
      }
    }
  }
}

.cmp-myconfigurations {
  width: 100%;

  .cmp-dcp-widget-chart__title {
    margin: 0;
    padding-bottom: 0.9375rem;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;

    @include mobile {
      padding: 0px 0px 0.9375rem 0.9375rem;
    }

    span {
      text-transform: none;
    }
  }

  .cmp-dcp-widget-chart__body {
    display: flex;
    width: max-content;
    margin: 0 auto;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  .cmp-dcp-widget-chart__legend {
    margin-top: 1.25rem;

    @include mobile {
      display: flex;
    }
  }

  .cmp-dcp-widget-chart__chart {
    position: relative;

    &-row {
      display: flex;
    }

    & canvas {
      padding-bottom: 0.3125rem;
      width: rem-convert(112px) !important;
      height: auto !important;
    }
  }

  .cmp-responsive-font {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left: 0;
      margin-right: 0;
      font-size: 150%;
    }
  }
}
