@import '../../variables';
@import '../../../site/variables';

.cmp-dcp-widget{
  &-chart{
    &__title {
      font-size: $font-size-small;
      font-weight: normal;
      text-transform: uppercase;
      color: get-color(text-mid-gray);
      width: 100%;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    &__container {
      font-size: $font-size-xxsmall;
      color: get-color(text-mid-gray);
      width: 100%;
    }
    &__chart {
      &-row{
        display: flex;
      }
      & canvas {
        padding-bottom: rem(5px);
        width: rem(154px) !important;
      }
    }
    &__sub-title {
      font-size: $font-size-xxsmall;
      color: get-color(text-light-charcoal);
      padding: rem(0px) rem(12px) rem(0px) rem(2.5px);
      &-wrapp{
        padding-bottom: 10px;
      }
      &-color-1 {
        border-right: rem(6px) solid get-color(brand-primary-text);
        display: inline-block;
        vertical-align: top;
        height: rem(14px);
      }
      &-color-2 {
        border-right: rem(6px) solid get-color(td-lightblue);
        display: inline-block;
        vertical-align: top;
        height: rem(14px);
      }
      &-color-3 {
        border-right: rem(6px) solid get-color(brand-blue);
        display: inline-block;
        vertical-align: top;
        height: rem(14px);
      }
      &-color-4 {
        border-right: rem(6px) solid get-color(td-primary-blue);
        display: inline-block;
        vertical-align: top;
        height: rem(14px);
      }
      &-color-5 {
        border-right: rem(6px) solid get-color(td-lightblue);
        display: inline-block;
        vertical-align: top;
        height: rem(14px);
      }
    }
  }
}

.cmp-myconfigurations{
  .cmp-dcp-widget-chart__title{
    margin: 0;
    padding-bottom: rem(15px);
    display: flex;    
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    @include mobile {
      padding: 0px rem(15px);
     }
    span {
      text-transform: none;
    }
  }
  .cmp-dcp-widget-chart__body{
      display: flex;
  }
  .cmp-dcp-widget-chart__legend{
    margin-top: rem(20px);
    margin-left: 1rem;
  }
  .cmp-dcp-widget-chart__chart{
    position: relative;
    &-row{
      display: flex;
    }
    & canvas {
      padding-bottom: rem(5px);
      width: auto !important;
      // width: rem(120px) !important;
      height: rem(100px) !important;
    }
    & span{
      font-size: rem(22.5px);
      line-height: rem(22.5px);
      position: absolute;
      width: 100%;
      text-align: center;
      margin: auto;
      top: calc( 50% - 11.25px );
    }
  }
}