.cmp-region-list {
	width: rem(1040px);
	font-family: $font-family;
	border-top: rem(2px) solid get-color(td-dark-blue);
	box-shadow: inset 0 0 0 rem(1px) get-color(td-dark-blue-shade);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: rem(45px);
	margin: 0 !important;
	padding: rem(18px) rem(75px) rem(40px);

	.americas {
		width: 20%;
	}

	.europe {
		width: 60%;
	}

	.asia {
		width: 20%;
		padding-left: rem(60px);
	}

	&__title {
		font-size: $font-size-medium;
		color: get-color(brand-text-gray);
		display: flex;
		flex-direction: column;
		line-height: 1.8;
		margin-bottom: rem(20px);
		&.eu {
			padding-left: rem(35px);
		}
	}

	&__countries {
		font-size: $font-size-custom-xxsmall;
		color: get-color(brand-text-gray);
		text-transform: uppercase;
		line-height: 1.8;
		margin-bottom: rem(20px);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		a {
			color: get-color(brand-text-gray) !important;
			text-decoration: none !important;
		}

		&--flag {
			width: rem(22px);
			margin-right: rem(5px);
		}

		&--name {
			display: flex;
			flex-direction: column;
		}
	}

	&__language {
		font-size: $font-size-xsmall;
		color: get-color(brand-text-lightgray) !important;
		text-transform: none !important;
		a {
			color: get-color(brand-text-lightgray) !important;
			text-decoration: none !important;
		}
	}
}

.cmp-regions-modal-target {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: get-color(brand-black);
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	overflow: hidden;
	&:target {
		opacity: 1;
		top: 0;
		bottom: 0;
		a.cmp-regions-modal-close {
			top: 0px;
		}
	}
}
.cmp-regions-modal-close {
	display: block;
	width: rem(20px);
	height: rem(20px);
	box-sizing: border-box;
	color: get-color(brand-black);
	text-decoration: none;
	position: absolute;
	top: rem(-80px);
	right: 0;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	&:before {
		content: "";
		display: block;
		height: rem(10px);
		width: rem(1px);
		background-color: get-color(brand-black);
		position: absolute;
		left: 0px;
		top: rem(10px);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		display: block;
		height: rem(10px);
		width: rem(1px);
		background: black;
		position: absolute;
		left: 0px;
		top: rem(10px);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
.cmp-regions-modal-wrap {
	position: absolute;
	top: 0px;
	right: 0px;
	box-shadow: 0px 0px rem(8px) rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	transition: all 0.5s ease-in-out 0s;
	margin: auto;
	width: rem(1040px);
	background-color: get-color(brand-white);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	z-index: 10;
}

//FLAGS
