<div class="cmp-s-code-popup__modal">
    <div class="cmp-s-code-popup__modal__content">
        <div class="cmp-s-code-popup__modal__content-container">
            <h4>Migration Resources</h4>
            <p>
                Please submit your 6-Digit Security Code to access Migration Resources.
            </p>
            <form id="form">
                <div class="cmp-form__group cmp-form__pincode">
                  <input type="tel" name="pincode-1" maxlength="1" pattern="[\d]*" tabindex="1" autocomplete="off">
                  <input type="tel" name="pincode-2" maxlength="1" pattern="[\d]*" tabindex="2" autocomplete="off">
                  <input type="tel" name="pincode-3" maxlength="1" pattern="[\d]*" tabindex="3" autocomplete="off">
                  <input type="tel" name="pincode-4" maxlength="1" pattern="[\d]*" tabindex="4" autocomplete="off">
                  <input type="tel" name="pincode-5" maxlength="1" pattern="[\d]*" tabindex="5" autocomplete="off">
                  <input type="tel" name="pincode-6" maxlength="1" pattern="[\d]*" tabindex="6" autocomplete="off">
                </div>
                <div class="cmp-form__buttons">
                  <a href="#" class="cmp-button cmp-button--primary" disabled>Submit</a>
                </div>
              </form>
        </div>
    </div>
</div>