<div class="aem-Grid aem-Grid--12">
    <a class="cmp-regions-modal" href="#regions-modal">
        click
    </a>
    <div class="cmp-regions-modal-target" id="regions-modal">
        <div class="cmp-regions-modal-wrap">
            <a class="cmp-regions-modal-close" href="#"><a>
                    <!-- Temporary CLOSE option above -->

                    <div class="cmp-region-list">
                        <div class="aem-GridColumn aem-GridColumn--default--3 americas">
                            <div class="cmp-region-list__title">AMERICAS</div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Brazil
                                </span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Canada
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#">English</a> | <a href="#" lang="fr">Français</a>
                                </span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Mexico
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#" lang="es">Español</a> | <a href="#">English</a>
                                </span>

                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    United States
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#">English</a> | <a href="#" lang="es">Español</a>
                                </span>
                            </div>
                        </div>


                        <div class="aem-GridColumn aem-GridColumn--default--6 europe">
                            <div class="cmp-region-list__title">EUROPE</div>
                            <div class="d-flex__column vx-divider">
                                <div class="aem-GridColumn aem-GridColumn--default--3">
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Belgium
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="fr-BE">België</a> | <a href="#">Belgique</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Denmark</div>
                                    <div class="cmp-region-list__countries">Finland</div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            France
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="fr">Français</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Germany
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Deutsche</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Ireland</div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Italy
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Italiano</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Netherlands</div>
                                </div>
                                <div class="aem-GridColumn aem-GridColumn--default--3">
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Norway
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Poland
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Polska</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Portugal
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="pt-PT">Português</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Russia
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="ru">Россия</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Spain
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="es">Español</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Sweden
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Switzerland
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Schweiz</a> |
                                            <a href="#">Suisse</a> |
                                            <a href="#">Svizzero</a> |
                                            <a href="#">Rumantsch</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">United Kingdom</div>
                                </div>
                            </div>
                        </div>


                        <div class="aem-GridColumn aem-GridColumn--default--3 asia">
                            <div class="cmp-region-list__title">ASIA PACIFIC</div>
                            <div class="language-modal__content__column__separator">
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Australia
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/au/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Hong Kong
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/hk/en.html">English</a> | 
                          
                            <a href="/content/techdata/apac/hk/tdcs.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Indonesia
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/id/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        India
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/in/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Malaysia
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/my/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        New Zealand
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/nz/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Singapore
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/sg/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Thailand
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/th/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                    <div class="cmp-region-list__countries">
                      <div class="cmp-region-list__countries--flag">
                         
                      </div>
                      <div class="cmp-region-list__countries--name">
                        Vietnam
                        <span class="cmp-region-list__language">
                          
                            <a href="/content/techdata/apac/vn/en.html">English</a>
                          
                        </span>
                      </div>
                    </div>
                  
                </div>
                        </div>
                    </div>
        </div>
    </div>

</div>