#cmp-techdata-header {
    &.cmp-experiencefragment__header--sticky {
      position: fixed;
      z-index: 9999;
      top: 0;
      background-color: inherit;
      width: 100%;
      left: 0;
    }
    &.cmp-experiencefragment__header--sticky--opaque {
      position: fixed;
      z-index: 9999;
      top: 0;
      width: 100%;
      left: 0;
    }

  }
#cmp-techdata-header:hover {
  background: rgba(255,255,255,1);
}

.sticky{
  position: fixed;
  z-index: 9998;
  opacity: 1;
}
