.carousel-left-arrow {
    left:2%;
}

.carousel-right-arrow {
    right: 2%;
}

.carousel-left-arrow, .carousel-right-arrow {
    position: absolute;
    top:43%;
}

.hide-active {
    display:none
}