<div id="MyConfigurations" data-observe-mutation style="width: 450px;margin: 0 auto;">
	<div
		data-component="MyConfigurations"
		data-cmp-type="react"
		className="cmp-configurations"
		data-config='{
			"label": "MY CONFIGURATIONS",
			"endpoint": "http://localhost:3000/configurationsSummary/get?criteria=123",
			"orderLabels": [
				{ "label": "Unquoted", "key": "unQuoted" },
				{ "label": "Quoted", "key": "quoted" },
				{ "label": "Inactive", "key": "oldConfigurations" }
			]
		}'
	></div>
</div>
