<div class="cmp-hamburger-container" id="simpleContainer" tabindex="-1" role="dialog" aria-labelledby="simpleContainerLabel"
    aria-hidden="true">
    <div class="cmp-hamburger-container__dialog">

        <div class="cmp-hamburger-container__content" aria-modal="true">
            <div class="cmp-hamburger-container__body">
                <!-- Navigation with accordion will go inside -->
                <div class="text">
                    <div data-cmp-data-layer="{&quot;text-2d9d50c5a7&quot;:{&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\n&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-22T11:56:17Z&quot;,&quot;@type&quot;:&quot;core/wcm/components/text/v2/text&quot;}}"
                        id="text-2d9d50c5a7" class="cmp-text__standard">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Eu mi bibend
                            <a href="">hyperlink text</a> congue quisque egestas. Varius morbi enim nunc
                            faucibus a pellentesque.Scelerisque eleifend donec pretium nec sagittis.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
