.cmp-separator {}
.cmp-separator__horizontal-rule {}

.dp-separator {
  width: auto;
  hr{
    height: 1px !important;
  }
  &--light-blue{
    .cmp-separator__horizontal-rule{
      color: get-color(brand-light-blue);
      border-color: get-color(brand-light-blue);
    }
  }
  &--dark-blue{
    .cmp-separator__horizontal-rule{
      color: get-color(brand-blue);
      border-color: get-color(brand-blue);
    }
  }
  &--gray{
    .cmp-separator__horizontal-rule{
      color: get-color(accessible-accent-grey);
      border-color: get-color(accessible-accent-grey);
    }
  }
  &--white{
    .cmp-separator__horizontal-rule{
      color: get-color(brand-white);
      border-color: get-color(brand-white);
    }
  }

  &--hidden{
    .cmp-separator__horizontal-rule{
      visibility: hidden;
    }
  }

  &--space{
    &-small{
      .cmp-separator {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &-medium{
      .cmp-separator {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    }

    &-large{
      .cmp-separator {
        margin-top: 4em;
        margin-bottom: 4em;
      }
    }
  }
}

.dp-general__separator{
    border-color: get-color(brand-blue);
    &-left{
        border-left: 1px solid;
        padding-left: 1em;
    }
    &-right{
      border-right: 1px solid;
      padding-right: 1em;
    }
    &-top{
      border-top: 1px solid;
      padding-top: 1em;
    }
    &-bottom{
      border-bottom: 1px solid;
      padding-bottom: 1em;
    }

    &-space--small{
      &.dp-general__separator-left{
        padding-left: 1em;
      }
      &.dp-general__separator-right{
        padding-right: 1em;
      }
      &.dp-general__separator-top{
        padding-top: 1em;
      }
      &.dp-general__separator-bottom{
        padding-bottom: 1em;
      }
    }
    &-space--medium{
      &.dp-general__separator-left{
        padding-left: 2em;
      }
      &.dp-general__separator-right{
        padding-right: 2em;
      }
      &.dp-general__separator-top{
        padding-top: 2em;
      }
      &.dp-general__separator-bottom{
        padding-bottom: 2em;
      }

    }
    &-space--large{
      &.dp-general__separator-left{
        padding-left: 4em;
      }
      &.dp-general__separator-right{
        padding-right: 4em;
      }
      &.dp-general__separator-top{
        padding-top: 4em;
      }
      &.dp-general__separator-bottom{
        padding-bottom: 4em;
      }

    }

    &--light-blue{
      border-color: get-color(brand-light-blue);
    }
    &--dark-blue{
      border-color: get-color(brand-blue);
    }
    &--gray{
      border-color: get-color(accessible-accent-grey);
    }
    &--white{
      border-color: get-color(brand-white);
    }
}
