<div class="cmp-adbutler">

    <div class="cmp-adbutler__content">
        <div class="cmp-adbutler__content-title">
            Suggested for You
        </div>
        <div class="cmp-adbutler__content-ad">
            
        </div>

    </div>
    <form class="compare-checkbox">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Compare</label>
    </form>
    <div class="cmp-adbutler__ad-to-cart">
        <div class="cmp-adbutler__ad-to-cart--quantity">
            <button>+</button>
            <button>-</button>
        </div>
        <input type="text" name="quantity" value="1" class="quantity" />
        Add to Cart
    </div>
</div>