<div
  class="cmp-megamenu aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4"
  style="width:550px;">
  <div id="megamenu" class="cmp-megamenu">
    <ol class="cmp-megamenu__primary" aria-multiselectable="false">
        <li>
            <a data-cmp-clickable="true" data-cmp-children="products"
                class="cmp-megamenu__tab-text">Products</a>
        </li>

        <li>
            <a data-cmp-clickable="true" data-cmp-children="solutions"
                class="cmp-megamenu__tab-text">Solutions</a>
        </li>

        <li>
            <a data-cmp-clickable="true" data-cmp-children="brands"
                class="cmp-megamenu__tab-text">Brands</a>
        </li>

        <li>
            <a data-cmp-clickable="true" data-cmp-children="about us"
                class="cmp-megamenu__tab-text">About Us</a>
        </li>
    </ol>

    <div class="cmp-megamenu__tabpanel" data-cmp-parent="products">
        <!-- Navigation -->
        <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation"
            itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
                <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/software"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-software"
                            class="cmp-navigation__item-link cmp-megamenu__wrapper-item--active">
                            <i class="fas fa-server"></i>Software
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/computing"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-computing"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Computing
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/mobility---iot"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-mobility &amp; iot"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Mobility &amp; IoT
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/data-center"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-data center"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Data Center
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/peripherals"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-peripherals"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Peripherals
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/software0"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-software"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Software
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/warranties"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-warranties"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Warranties
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/networking"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-networking"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Networking
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/components"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-components"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Components
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/audio-visual"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-audio visual"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Audio Visual
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/supplies"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-supplies"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Supplies
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/products/warranties0"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu products-warranties"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Warranties
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
                <div class="cmp-megamenu__wrapper-item cmp-megamenu__wrapper-item--active"
                    data-cmp-parent="menu products-software">
                    <h4 class="cmp-megamenu-level-title">Products Home</h4>
                    <ul class="cmp-navigation__group">
                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Warranties" data-cmp-clickable="true"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu products-warranties">
                                Warranties<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Audio Visual"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                Audio Visual<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Supplies"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                Supplies<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Audio Visual"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                Audio Visual<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Supplies"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                Supplies<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cmp-megamenu__wrapper cmp-megamenu__quaternary">
                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu products-warranties">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Warranties</h4>
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-2"
                            data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-734f73b286&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-03-17T08:17:44Z&quot;,&quot;dc:title&quot;:&quot;Config&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/config.html&quot;}}">
                            <a href="" title="Supplies"
                                class="cmp-navigation__item-link">
                                Supplies
                            </a>
                        </li>

                        <li class="cmp-navigation__item cmp-navigation__item--level-2"
                            data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-734f73b286&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-03-17T08:17:44Z&quot;,&quot;dc:title&quot;:&quot;Config&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/config.html&quot;}}">
                            <a href="" title="Audio Visual"
                                class="cmp-navigation__item-link">
                                Audio Visual
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu products-audio visual">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Audio Visual</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu products-supplies">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Supplies</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu products-audio visual">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Audio Visual</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu products-supplies">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Supplies</h4>

                </div>
            </div>
            <div class="cmp-adbutler">

                <div class="cmp-adbutler__content">
                    <div class="cmp-adbutler__content-title">
                        Suggested for You
                    </div>
                    <div class="cmp-adbutler__content-ad">

                    </div>

                </div>
                <form class="compare-checkbox">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Compare</label>
                </form>
                <div class="cmp-adbutler__ad-to-cart">
                    <div class="cmp-adbutler__ad-to-cart--quantity">
                        <button>+</button>
                        <button>-</button>
                    </div>
                    <input type="text" name="quantity" value="1" class="quantity" />
                    Add to Cart
                </div>
            </div>
        </nav>
        <!-- Navigation -->
    </div>

    <div class="cmp-megamenu__tabpanel" data-cmp-parent="solutions">
        <!-- Navigation -->
        <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation"
            itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
                <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/cloud"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-cloud"
                            class="cmp-navigation__item-link cmp-megamenu__wrapper-item--active">
                            <i class="fas fa-server"></i>Cloud
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/analytics---iot"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-analytics &amp; iot"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Analytics &amp; IoT
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/security"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-security"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Security
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/advanced-solutions"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-advanced solutions"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Advanced Solutions
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/endpoint-solutions"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-endpoint solutions"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Endpoint Solutions
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/solutions/specialized-solutions"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu solutions-specialized solutions"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Specialized Solutions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
            </div>
            <div class="cmp-adbutler">

                <div class="cmp-adbutler__content">
                    <div class="cmp-adbutler__content-title">
                        Suggested for You
                    </div>
                    <div class="cmp-adbutler__content-ad">

                    </div>

                </div>
                <form class="compare-checkbox">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Compare</label>
                </form>
                <div class="cmp-adbutler__ad-to-cart">
                    <div class="cmp-adbutler__ad-to-cart--quantity">
                        <button>+</button>
                        <button>-</button>
                    </div>
                    <input type="text" name="quantity" value="1" class="quantity" />
                    Add to Cart
                </div>
            </div>

        </nav>
        <!-- Navigation -->
    </div>

    <div class="cmp-megamenu__tabpanel" data-cmp-parent="brands">
        <!-- Navigation -->
        <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation"
            itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
                <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/apple"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-apple"
                            class="cmp-navigation__item-link cmp-megamenu__wrapper-item--active">
                            <i class="fas fa-server"></i>Apple
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/samsung"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-samsung"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Samsung
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/sony"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-sony"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Sony
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/lenovo"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-lenovo"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Lenovo
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/acer"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-acer"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Acer
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/citrix"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-citrix"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Citrix
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/oracle"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-oracle"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Oracle
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/autodesk"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-autodesk"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Autodesk
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/cisco"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-cisco"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Cisco
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/lg"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-lg"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>LG
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/google"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-google"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Google
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/redhat"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-redhat"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Redhat
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/cloudera"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-cloudera"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Cloudera
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/hpe"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-hpe"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>HPE
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/sophos"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-sophos"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Sophos
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/deepinstinct"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-deepinstinct"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Deepinstinct
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/dell"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-dell"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Dell
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/microsoft"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-microsoft"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Microsoft
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/sharp"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-sharp"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Sharp
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/vmware"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-vmware"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Vmware
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/informatica"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-informatica"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>Informatica
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/sap"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-sap"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>SAP
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/trendmicro"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-trendmicro"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>TrendMicro
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/brands/microfocus"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu brands-microfocus"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>MicroFocus
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
            </div>
            <div class="cmp-adbutler">

                <div class="cmp-adbutler__content">
                    <div class="cmp-adbutler__content-title">
                        Suggested for You
                    </div>
                    <div class="cmp-adbutler__content-ad">

                    </div>

                </div>
                <form class="compare-checkbox">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Compare</label>
                </form>
                <div class="cmp-adbutler__ad-to-cart">
                    <div class="cmp-adbutler__ad-to-cart--quantity">
                        <button>+</button>
                        <button>-</button>
                    </div>
                    <input type="text" name="quantity" value="1" class="quantity" />
                    Add to Cart
                </div>
            </div>

        </nav>
        <!-- Navigation -->
    </div>

    <div class="cmp-megamenu__tabpanel" data-cmp-parent="about us">
        <!-- Navigation -->
        <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation"
            itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
                <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/about-us/leadership"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu about us-leadership"
                            class="cmp-navigation__item-link cmp-megamenu__wrapper-item--active">
                            <i class="fas fa-server"></i>Leadership
                        </a>
                    </li>

                    <li class="cmp-navigation__item cmp-navigation__item--level-0">
                        <a href="/content/techdata/us/dcp-homepage/about-us/news"
                            title="Config" data-cmp-clickable="true"
                            data-cmp-children="menu about us-news"
                            class="cmp-navigation__item-link ">
                            <i class="fas fa-server"></i>News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
                <div class="cmp-megamenu__wrapper-item cmp-megamenu__wrapper-item--active"
                    data-cmp-parent="menu about us-leadership">
                    <h4 class="cmp-megamenu-level-title">About Us Home</h4>
                    <ul class="cmp-navigation__group">
                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="Rich Hume"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                Rich Hume<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="cmp-megamenu__wrapper-item "
                    data-cmp-parent="menu about us-news">
                    <h4 class="cmp-megamenu-level-title">About Us Home</h4>
                    <ul class="cmp-navigation__group">
                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href=""
                                title="News article 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 1 Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do<i
                                    class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="News article 2"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 2<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="News article 3"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 3<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="News article 4"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 4<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="News article 5"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 5<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <li
                            class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="" title="News article 6"
                                class="cmp-navigation__item-link"
                                data-cmp-children="menu ">
                                News article 6<i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="cmp-megamenu__wrapper cmp-megamenu__quaternary">
                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-rich hume">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> Rich Hume</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 1 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 1 Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    </h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 2">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 2</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 3">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 3</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 4">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 4</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 5">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 5</h4>

                </div>

                <div class="cmp-megamenu__wrapper-item"
                    data-cmp-parent="menu about us-news article 6">
                    <h4 class="cmp-megamenu-level-title"><i
                            class="fas fa-chevron-left"></i> News article 6</h4>

                </div>
            </div>
            <div class="cmp-adbutler">

                <div class="cmp-adbutler__content">
                    <div class="cmp-adbutler__content-title">
                        Suggested for You
                    </div>
                    <div class="cmp-adbutler__content-ad">

                    </div>

                </div>
                <form class="compare-checkbox">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Compare</label>
                </form>
                <div class="cmp-adbutler__ad-to-cart">
                    <div class="cmp-adbutler__ad-to-cart--quantity">
                        <button>+</button>
                        <button>-</button>
                    </div>
                    <input type="text" name="quantity" value="1" class="quantity" />
                    Add to Cart
                </div>
            </div>
        </nav>
        <!-- Navigation -->
    </div>

</div>
</div>