<div
  class="cmp-megamenu aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4" 
  style="width:550px;">
  <div id="megamenu" class="cmp-megamenu">
    <ol class="cmp-megamenu__primary" aria-multiselectable="false">
      <li>
        <a data-cmp-clickable="true" data-cmp-children="products" class="cmp-megamenu__tab-text">Products</a>
      </li>

      <li>
        <a href="http://google.com" data-cmp-clickable="true" data-cmp-children="solutions"  class="cmp-megamenu__tab-text">Solutions</a>
      </li>

      <li>
        <a data-cmp-clickable="" data-cmp-children="services" class="cmp-megamenu__tab-text">Services</a>
      </li>

      <li>
        <a data-cmp-clickable="" data-cmp-children="brands" class="cmp-megamenu__tab-text">Brands</a>
      </li>

      <li>
        <a href="http://google.com" data-cmp-clickable="" data-cmp-children="about us" class="cmp-megamenu__tab-text" href="">About Us</a>
      </li>
    </ol>
    <div class="cmp-megamenu__tabpanel" data-cmp-parent="products">
          <!-- Nvigation -->
            <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
              <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="#" title="Config" data-cmp-clickable="true" data-cmp-children="menu Config" class="cmp-navigation__item-link cmp-megamenu__item--active">
                      <i class="fas fa-server"></i>Config
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active">
                    <a href="#" title="Component Library" data-cmp-clickable="true" data-cmp-children="menu Component Library" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Component Library
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="/" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Product
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Product Teaser
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Product Carousel
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Related Products
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Product List
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Search
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Category Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Category Carousel
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Featured Category List" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Featured Category List
                    </a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-0">
                    <a href="" title="Commerce Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                      <i class="fas fa-server"></i>Commerce Teaser
                    </a>
                  </li>
                </ul>
              </div>
              <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
                <div class="cmp-megamenu__wrapper-item cmp-megamenu__wrapper-item--active" data-cmp-parent="menu Config">
                  <h4 class="cmp-megamenu-level-title">Products Home</h4>
                  <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Config" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Config <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                      <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Component Library <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product Teaser <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product Carousel <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Related Products <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product List <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Search <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="cmp-megamenu__wrapper-item" data-cmp-parent="menu Component Library">
                  <h4 class="cmp-megamenu-level-title">Products Home</h4>
                  <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Config" data-cmp-clickable="true" class="cmp-navigation__item-link" data-cmp-children="menu Laptops">
                        Laptops <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                      <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Component Library <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-1">
                      <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product Teaser <i class="fas fa-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="cmp-megamenu__wrapper cmp-megamenu__quaternary">
                <div class="cmp-megamenu__wrapper-item" data-cmp-parent="menu Laptops">
                  <h4 class="cmp-megamenu-level-title"><i class="fas fa-chevron-left"></i> Laptops</h4>
                  <ul class="cmp-navigation__group">
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-734f73b286&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-03-17T08:17:44Z&quot;,&quot;dc:title&quot;:&quot;Config&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/config.html&quot;}}">
                      <a href="" title="Config" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Config
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2 cmp-navigation__item--active" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                      <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Component Library
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-0dea1ff70e&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product.html&quot;}}">
                      <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-3253e121af&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productteaser.html&quot;}}">
                      <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product Teaser
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-a951b11a6c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productcarousel.html&quot;}}">
                      <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product Carousel
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9e0a26222d&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Related Products&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/relatedproducts.html&quot;}}">
                      <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Related Products
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-b907503750&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist.html&quot;}}">
                      <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Product List
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-d2f34340dd&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Search&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/search.html&quot;}}">
                      <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Search
                      </a>
                    </li>
                    <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-611486886f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Separator&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/separator.html&quot;}}">
                      <a href="" title="Separator" data-cmp-clickable="" class="cmp-navigation__item-link">
                        Separator
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          <!-- Nvigation -->
    </div>
    <div class="cmp-megamenu__tabpanel" data-cmp-parent="solutions">
      <!-- Nvigation -->
      <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
        <div class="cmp-megamenu__wrapper cmp-megamenu__secondary">
          <ul class="cmp-navigation__group">
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="#" title="Config" data-cmp-clickable="true" data-cmp-children="menu Config" class="cmp-navigation__item-link cmp-megamenu__item--active">
                <i class="fas fa-server"></i>Config22
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active">
              <a href="#" title="Component Library" data-cmp-clickable="true" data-cmp-children="menu Component Library" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Component Library
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="/" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Product
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Product Teaser
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Product Carousel
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Related Products
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Product List
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Search
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Category Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Category Carousel
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Featured Category List" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Featured Category List
              </a>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0">
              <a href="" title="Commerce Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                <i class="fas fa-server"></i>Commerce Teaser
              </a>
            </li>
          </ul>
        </div>
        <div class="cmp-megamenu__wrapper cmp-megamenu__tertiary">
          <div class="cmp-megamenu__wrapper-item cmp-megamenu__wrapper-item--active" data-cmp-parent="menu Config">
            <h4 class="cmp-megamenu-level-title">Products Home</h4>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Config" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Config <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Component Library <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product Teaser <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product Carousel <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Related Products <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product List <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Search <i class="fas fa-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="cmp-megamenu__wrapper-item" data-cmp-parent="menu Component Library">
            <h4 class="cmp-megamenu-level-title">Products Home</h4>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Config" data-cmp-clickable="true" class="cmp-navigation__item-link" data-cmp-children="menu Laptops">
                  Laptops <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Component Library <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-1">
                <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product Teaser <i class="fas fa-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="cmp-megamenu__wrapper cmp-megamenu__quaternary">
          <div class="cmp-megamenu__wrapper-item" data-cmp-parent="menu Laptops">
            <h4 class="cmp-megamenu-level-title"><i class="fas fa-chevron-left"></i> Laptops</h4>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Config" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Config22
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2 cmp-navigation__item--active">
                <a href="" title="Component Library" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Component Library
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Product" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product Teaser
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product Carousel
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Related Products
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Product List" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Product List
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Search" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Search
                </a>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2">
                <a href="" title="Separator" data-cmp-clickable="" class="cmp-navigation__item-link">
                  Separator
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- Nvigation -->
    </div>
    <div class="cmp-megamenu__tabpanel" data-cmp-parent="services">
    </div>
    <div class="cmp-megamenu__tabpanel" data-cmp-parent="brands">
    </div>
    <div class="cmp-megamenu__tabpanel" data-cmp-parent="about us">
    </div>
  </div>
</div>