<sly data-sly-use.serviceData="com.techdata.core.models.CaConfigReader">
    <sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
        <div class="cq-placeholder" data-emptyText="${component.title}"></div>
    </sly>

    <sly data-sly-use.model="${'searchresults.js' @uiServiceDomain=serviceData.uiServiceDomain}">
        <div id="SearchResults" data-observe-mutation>
            <div
                data-component="SearchResults"
                data-cmp-type="react"
                className=""
                data-config="${model.configJson}"
            ></div>
        </div>
    </sly>