.cmp-carousel__indicators {
    align-self: center;
    width: auto;
    flex-wrap: nowrap;
    
    //New classes for position of carousel dots
    &--left {
      .cmp-carousel__indicators{
        align-self: flex-start;
      }
    }
  
    &--right {
      .cmp-carousel__indicators{
        align-self: flex-end;
      }
    }
}