<div id="CreateQuote" data-observe-mutation style="padding: 30px;">
	<div
		data-component="CreateQuote"
		data-cmp-type="react"
		className="cmp-quote-create"
		data-config='{
			"label": "Create Quote",
			"buttonTitle": "Create Quote",
			"optionsList": [
			{ "key": "active", "label": "My Active Cart", "title": "CREATE QUOTE", "dropdownPlaceholder": "", "textPlaceholder": "", "manuallyTypedError": "" },
			{
				"key": "saved", "label": "Saved cart", "title": "CREATE QUOTE FROM", "dropdownPlaceholder": "Select Saved Cart", "textPlaceholder": "Enter Cart name",
				"manuallyTypedError": "Enter a new cart name or browse carts instead"
			},
			{
				"key": "estimate", "label": "Estimate ID", "title": "CREATE QUOTE", "dropdownPlaceholder": "Select Estimate", "textPlaceholder": "Estimate ID",
				"manuallyTypedError": "Enter a new ID or browse estimates instead"
			}
			],
			"quotePreviewUrl": "http://localhost:8080/quote.html?redirected=true",
			"endpoint": "http://localhost:3000/ui-content/v1/replaceCart",
			"cartslistEndpoint": "http://localhost:3000/savedCarts",
			"cartdetailsEndpoint": "http://localhost:3000/cart",
			"pricingConditions": "http://localhost:3000/pricingConditions",
			"estimatedIdListEndpoint": "http://localhost:3000/estimates",
			"estimatedIdDetailsEndpoint": "http://localhost:3000/ui-config/v1/estimations/validate?id={selected-id}&Type=Estimate"
		}'
	></div>
</div>
