<div class="hero">
  <div class="local-container">
    <div class="row">
      <div class="hero-content col-sm-6 col-xs-12">
        <h1 class="hero-title">
          Deliver Impactful Digital Transformation Results
        </h1>
        <p class="hero-contents">
          Take your business to new heights with
          Click-to-Run™ Solutions<br /><br />As technology continues to evolve,
          customer demands are becoming more complex and challenging than ever.
          To ensure you are meeting your customers’ demands faster and more
          effectively, TD SYNNEX’s Next-Gen Solutions Factory is here to support
          you by providing agile, adaptable and resilient solutions.
        </p>
      </div>
      <div class="hero-content video col-sm-6 col-xs-12">
        <div class="video-cie">
          <div class="video-content relative">
            <img
              style="width: 100%; margin: auto; display: block;"
              class="vidyard-player-embed"
              src="https://play.vidyard.com/DKCqPrfinpYEmScV4tRqhd.jpg"
              data-uuid="DKCqPrfinpYEmScV4tRqhd"
              data-v="4"
              data-type="inline"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="td-module">
  <div class="local-container">
    <h2 class="block-title">Discover the Benefits</h2>
    <p class="main-content">
      In today’s modern IT environment, customers demand cloud-based solutions
      that will help solve their most complicated business challenges. By
      utilizing our suite of Click-to-Run™ Solutions, you’ll
      be able to configure, customize and deploy next-generation offerings
      quickly and at scale, allowing you to achieve greater results.
    </p>
    <ul class="list sm-flex sm-flex-wrap mt-6">
      <li class="my-12 sm-w-1-2 sm-mx-0 lg-w-1-4">
        <img
          src="/content/dam/tds-site/americas/us/solutions/images/profitability.svg"
          class="mx-auto mb-6"
          style="max-height: 110px"
        />
        <p class="text-center lg-mx-16 font-bold mt-3">
          Recognize Higher Profitability
        </p>
        <p class="text-center lg-mx-12">
          Learn how to expand and enhance your portfolio while reducing costs.
        </p>
      </li>
      <li class="my-12 sm-w-1-2 sm-mx-0 lg-w-1-4">
        <img
          src="/content/dam/tds-site/americas/us/solutions/images/complexity.svg"
          class="mx-auto mb-6"
          style="max-height: 110px"
        />
        <p class="text-center lg-mx-16 font-bold mt-3">
          Mitigate Risks and Complexity
        </p>
        <p class="text-center lg-mx-12">
          Transform complex processes into streamlined deployments.
        </p>
      </li>
      <li class="my-12 sm-w-1-2 sm-mx-0 lg-w-1-4">
        <img
          src="/content/dam/tds-site/americas/us/solutions/images/market.svg"
          class="mx-auto mb-6"
          style="max-height: 110px"
        />
        <p class="text-center lg-mx-16 font-bold mt-3">
          Increase Speed to Market
        </p>
        <p class="text-center lg-mx-12">
          Configure, customize and deploy cloud-based offerings faster.
        </p>
      </li>
      <li class="my-12 sm-w-1-2 sm-mx-0 lg-w-1-4">
        <img
          src="/content/dam/tds-site/americas/us/solutions/images/gap.svg"
          class="mx-auto mb-6"
          style="max-height: 110px"
        />
        <p class="text-center lg-mx-16 font-bold mt-3">Reduce the Skills Gap</p>
        <p class="text-center lg-mx-12">
          Bridge the technical skills gaps seen in today’s competitive market.
        </p>
      </li>
    </ul>
  </div>
</div>

  <div class="td-module">
  <div class="local-container">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-6 col-xs-12 story-info"> 
            <h3 class="story-title">Featured Solution: SMB Fraud Defense</h3>
            <p>Alarming statistics show us the cyberattack landscape is evolving. Tackle malicious cyber threats at hand and build resiliency to better position your organization to shield against these prevalent threats with TD SYNNEX's new SMB Fraud Defense solution.</p>
      <p>Designed for small and medium business (SMB) partners, our new Click-to-Run™ solution enables a multi-layer defense against unprecedented security risks within cloud environments. Learn how SMB Fraud Defense is positioned to elevate your business and your client’s security posture below.</p>
            <div class="btn-container" style="padding-top: 15px;">
              <a href="https://info.tdsynnex.com/Microsoft-Global-Security-Webinar.html" class="btn-primary-lp" target="_blank">Watch OnDemand Webinar</a>
      </div>
      <div class="btn-container" style="padding-top: 15px;"><a href="./download/TDSYNNEX-SMBFraudDefenseSolutionsBriefOne-Pager.pdf" class="btn-primary-lp" target="_blank">Access Solution One Pager</a>
            </div>
        </div> 
        <div class="col-sm-6 col-xs-12 story-img"> 
          <img src="/content/dam/tds-site/americas/us/solutions/images/featured-solution.png">
        </div> 
      </div>
    </div>
  </div>
</div>

<div
  id="support"
  class="td-module bg-gray"
  style="padding-top: 100px; background-color: #f7f7f7"
>
  <div class="local-container">
    <h2 class="block-title">High-Growth Solutions at-a-Glance</h2>
    <p class="main-content">
      Driven by an outcome focus, the Next-Gen Solutions Factory is here to
      aggregate and match optimal solutions to the appropriate needs, assembling
      top-notch technologies from vendors throughout the IT ecosystem. We
      deliver validated, market-vetted and repeatable solutions designed to
      simplify the implementation and deployment of complex technology. Browse
      our catalog of innovative cloud-based offerings.
    </p>
    <div class="tabs-content">
      <div class="tabs">
        <div id="tab-1" class="tab selected">
            <img src="/content/dam/tds-site/americas/us/solutions/images/cloud.svg" class="mr-3">
            Cloud 
        </div>
        <div id="tab-2" class="tab">
            <img src="/content/dam/tds-site/americas/us/solutions/images/security.svg" class="mr-3">
            Security
        </div>
        <div id="tab-3" class="tab">
            <img src="/content/dam/tds-site/americas/us/solutions/images/data.svg" class="mr-3">
            Data &amp; IoT
        </div>
    </div>
      <div class="tab-content tab-content-1 active">
          <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Core Infrastructure</p>
                      <p class="sub-content">Optimized cloud-enabled networks begin with a well-established foundation. Equip your organization with more secure, scalable and reliable solutions.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acc12" class="accordian-header">
                                  Relational Database Services (RDS) with AWS
                              </div>
                              <div class="accordian-content accordian-content-acc12">
                                  <p>Deploy a fully managed database with a variety of common DB engines to choose from with Relational Database Services (RDS) with AWS, which leverages Amazon Relational Database Services.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc2" class="accordian-header">
                                  Azure Virtual Desktop (AVD)
                              </div>
                              <div class="accordian-content accordian-content-acc2">
                                  <p>Deploy a ready-to-use virtual desktop environment in Microsoft Azure within minutes – providing more secure access, higher compliance and facilitating an increasingly elastic workforce with their specific needs and specialized workloads.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc3" class="accordian-header">
                                  Azure Active Directory Domain Services
                              </div>
                              <div class="accordian-content accordian-content-acc3">
                                  <p>This solution provides a simplified deployment of managed domain services, which offers alternatives for IT administrators that need to create VPN connections back to an on-premises AD DS environment or run and manage VMs in Azure to provide identity services.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc4" class="accordian-header">
                                  RDS on Azure
                              </div>
                              <div class="accordian-content accordian-content-acc4">
                                  <p>Remote Desktop Services on Azure makes virtualization simple, secure, robust, and flexible. This solution provides server-hosted access to Windows-based applications and desktops, removing the need for applications to be installed and run locally on individual workstations.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc5" class="accordian-header">
                                  AWS ElastiCache for Redis
                              </div>
                              <div class="accordian-content accordian-content-acc5">
                                  <p>This solution rapidly improves process times, delivers interactive experiences like leaderboards and gaming environments, and significantly reduces infrastructure costs. 
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc6" class="accordian-header">
                                  Scalable Storage with S3
                              </div>
                              <div class="accordian-content accordian-content-acc6">
                                  <p>Leverage this solution to build a cloud-based storage environment for files, media, and archiving purposes on AWS.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acc7" class="accordian-header">
                                  Virtual Machines with EC2
                              </div>
                              <div class="accordian-content accordian-content-acc7">
                                  <p>This solution gives you the flexibility to deploy a Virtual Machine using Windows or Linux operating systems, along with the specific sizing options to automate the environment created all through our Cloud Marketplace.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc8" class="accordian-header">
                                  Azure SQL Database
                              </div>
                              <div class="accordian-content accordian-content-acc8">
                                  <p>Azure SQL Database is a high-performance, highly available, reliable and secure database you can use to build data-driven applications and websites in the programming language of your choice, without needing to manage the infrastructure.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc9" class="accordian-header">
                                  FileSync on Azure 
                              </div>
                              <div class="accordian-content accordian-content-acc9">
                                  <p>This solution enables you to sync multiple branch offices and replicate between multiple Windows Server endpoints, eliminating the need for additional backups and disaster recovery plans.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc10" class="accordian-header">
                                  NoSQL with DynamoDB
                              </div>
                              <div class="accordian-content accordian-content-acc10">
                                  <p>This solution allows organizations to easily build modern, serverless applications that can collect, store and query unstructured data.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc11" class="accordian-header">
                                  Redshift
                              </div>
                              <div class="accordian-content accordian-content-acc11">
                                  <p>The Redshift solution deploys Amazon RedShift, providing you with the ability to run complex analytic queries against large amounts of structured and unstructured data.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
        <div class="divide">
                              <div id="acc11aws" class="accordian-header">
                                  AWS Storage Gateway
                              </div>
                              <div class="accordian-content accordian-content-acc11aws">
                                  <p>Customers of all types are making the journey to the cloud for cost, performance, security, and compliance reasons. This solution provides customers everywhere with a robust hybrid cloud storage solution that they can seamlessly integrate with existing and new on-premises applications.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acc1" class="accordian-header">
                              Archiving on Azure
                              </div>
                              <div class="accordian-content accordian-content-acc1">
                                  <p>Archiving on Azure allows you to store your data in the cloud for access in a fast, secure, flexible, and cost-efficient way, no matter which worldwide location your business is running.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc13" class="accordian-header">
                                  Small Business Cloud Server 
                              </div>
                              <div class="accordian-content accordian-content-acc13">
                                  <p>"Designed for the SMB customer in mind, this solution can help to consolidate your customer’s IT Infrastructure and give them the flexibility to access it from anywhere. You may move exisiting and any new applications to this virtual envronment running on Microsoft Azure.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc14" class="accordian-header">
                                  SQL on Azure (RHEL)
                              </div>
                              <div class="accordian-content accordian-content-acc14">
                                  <p>SQL Server on Azure virtual machines enables you to use full versions of SQL Server in the Cloud without managing any on-premises hardware.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc15" class="accordian-header">
                                  SQL on Azure (Windows)
                              </div>
                              <div class="accordian-content accordian-content-acc15">
                                  <p>Expand your operating system choice offering and accelerate your hassle-free SQL migration deployment in a highly secure and broadly compliant solution while reducing your capital investments and optimizing operational expenses.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="acc16" class="accordian-header">
                                  Managed Azure Virtual Desktop (AVD)
                              </div>
                              <div class="accordian-content accordian-content-acc16">
                                  <p>Offers a simplified approach for implementing, delivering and fully managing Azure Virtual Desktop (AVD) environments, with the added benefit of 24x7 support provided via phone, email and chats in select regions and languages.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      
                      
                      
                  </div>
              </div>
          </div>
          <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Modern Workplace</p>
                      <p class="sub-content">Today’s workforce demands the flexibility to work securely from any location on any device. Learn more about the technology-based solutions that streamline processes, improve employee productivity and foster seamless communication.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accb1" class="accordian-header">
                                  NetApp SaaS Backup for O365
                              </div>
                              <div class="accordian-content accordian-content-accb1">
                                  <p>This solution leverages Amazon Web Services FSx Managed File System and NetApp ONTAP to simplify and accelerate workload migrations to the cloud. The powerful combination provides high-end security, reliability, scalability, and unmatched performance.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accb2" class="accordian-header">
                                  Office 365  with ATP and Domain Controller
                              </div>
                              <div class="accordian-content accordian-content-accb2">
                                  <p>A cost-effective yet simple way to accelerate your transition to Office 365 and Azure with a  fully automated Domain Controller set up, which allows organizations to manage user accounts and customize their authentication model.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accb3" class="accordian-header">
                                  Office 365 with AD Premium and Domain Controller
                              </div>
                              <div class="accordian-content accordian-content-accb3">
                                  <p>Accelerate your transition to Office 365 and Azure with a customized, fully automated Domain Controller build set up to enable organizations to manage user accounts and sync on-premise identities into Azure Active Directory.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accb4" class="accordian-header">
                                  Identity Management
                             </div>
                             <div class="accordian-content accordian-content-accb4">
                                 <p>This versatile solution can be deployed as a highly available domain controller and identity management platform eliminating single points of failure or as a secondary Domain Controller that is fully synchronized with an on-premise directory.
                                 </p>
                                 <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                             </div>
                          </div>
                          <div class="divide">
                              <div id="accb5" class="accordian-header">
                                  Microsoft 365 with Domain Controller
                             </div>
                             <div class="accordian-content accordian-content-accb5">
                                 <p>Help your clients achieve digital transformation by offering a complete, intelligent modern workplace platform that includes a domain controller in Azure as the necessary foundation to move workloads into the cloud and synchronize user identities across active directories.
                                 </p>
                                 <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                             </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accb6" class="accordian-header">
                                  Modern Workplace with Secure Score
                              </div>
                              <div class="accordian-content accordian-content-accb6">
                                  <p>Modern Workplace with Secure Score establishes crucial security settings based on industry best practices, creating an Azure Automation runbook designed to implement Mailbox and Data Loss Prevention Policies whenever new users are added.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accb7" class="accordian-header">
                                  Veeam Backup for O365
                              </div>
                              <div class="accordian-content accordian-content-accb7">
                                  <p>Easily deploy a complete backup and recovery solution for all your Office 365 data across individual Exchange, SharePoint, and OneDrive environments.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Application Innovation &amp; Data Management</p>
                      <p class="sub-content">Building and managing applications for a streamlined network can be an arduous task. Leverage solutions designed to simplify Application Innovation processes.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accc1" class="accordian-header">
                                  Managed Containers on Azure
                              </div>
                              <div class="accordian-content accordian-content-accc1">
                                  <p>Managed Containers on Azure simplifies the deployment and operations of Kubernetes, enabling you to dynamically scale your application infrastructure with confidence and agility.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
        <div class="divide">
                              <div id="accc1cfcdn" class="accordian-header">
                                  CloudFront CDN
                              </div>
                              <div class="accordian-content accordian-content-accc1cfcdn">
                                  <p>This solution simplifies and automates the deployment of the CloudFront Content Delivery Network Service from Amazon Web Services. Through this solution you will deliver content securely through a high-performance global network.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accc3" class="accordian-header">
                                  DevTest Lab
                              </div>
                              <div class="accordian-content accordian-content-accc3">
                                  <p>DevTest Lab on Azure helps developers and testers quickly create environments in Azure while minimizing waste and controlling costs.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accc4" class="accordian-header">
                                  Red Hat Openshift on Azure 
                              </div>
                              <div class="accordian-content accordian-content-accc4">
                                  <p>Quickly deploy a secure, reliable, flexible hybrid cloud environment with Red Hat solutions on Azure.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="tab-content tab-content-2">
<div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Data Security</p>
                      <p class="sub-content">With the expanding presence of data online and stored in networks, it’s more important than ever to secure your organization’s data.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accd1" class="accordian-header">
                                  Cloud Backup on Azure
                              </div>
                              <div class="accordian-content accordian-content-accd1">
                                  <p>The Cloud Backup solution offers scalable, repeatable SMB sized &amp; productized solutions to cover multiple backup scenarios, including backup on-premise or cloud applications and data to Microsoft Azure. 
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd2" class="accordian-header">
                              Site Recovery on Azure 
                              </div>
                              <div class="accordian-content accordian-content-accd2">
                                  <p>"Deploy replication, failover, and recovery processes with  Site Recovery on Azure to help keep your applications running whether you encounter planned or unplanned outages. 	 "
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd3" class="accordian-header">
                                  Veeam Backup and Replication (AWS)
                              </div>
                              <div class="accordian-content accordian-content-accd3">
                                  <p>Help your clients create a fast and reliable backup and instant recovery environment using Veeam Backup and Replication on AWS, plus the management console to protect all workloads, including virtual, physical, and cloud.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd4" class="accordian-header">
                                  Veeam Backup and Replication (Azure)
                              </div>
                              <div class="accordian-content accordian-content-accd4">
                                  <p>Help your clients create a fast and reliable backup environment using Veeam Backup and Replication, plus the management console to protect all workloads, including virtual, physical, and cloud.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accd5" class="accordian-header">
                                  File Storage with EFS
                              </div>
                              <div class="accordian-content accordian-content-accd5">
                                  <p> File Storage with EFS solution leverages the Amazon Elastic File Storage System to build a secure and highly scalable file storage environment in minutes.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd6" class="accordian-header">
                                  File Sharing on Azure
                              </div>
                              <div class="accordian-content accordian-content-accd6">
                                  <p>Transform clients' Windows servers into a quick cache leveraging Microsoft Azure file share, eliminating the need for local backup.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd7" class="accordian-header">
                                  NetApp Cloud Sync
                              </div>
                              <div class="accordian-content accordian-content-accd7">
                                  <p>NetApp Cloud Sync is a simple replication and synchronization solution that enables you to transfer and synchronize NAS data to and from the cloud or on-premises object storage.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd8" class="accordian-header">
                              NetApp Cloud Volumes ONTAP on Azure
                              </div>
                              <div class="accordian-content accordian-content-accd8">
                                  <p>Provide protection, visibility, and control for your cloud-based workloads and spin up a new enterprise-class data management system in minutes with ONTAP Cloud Volumes ONTAP on AWS.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accd9" class="accordian-header">
                              Veeam Backup for O365
                              </div>
                              <div class="accordian-content accordian-content-accd9">
                                  <p>Easily deploy a complete backup and recovery solution for all your Office 365 data across individual Exchange, SharePoint, and OneDrive environments. 
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd10" class="accordian-header">
                              Veeam Cloud Connect on Azure
                              </div>
                              <div class="accordian-content accordian-content-accd10">
                                  <p>This solution provides the features and flexibility of Veeam Cloud Connect software with security, high availability, and quality of service of Microsoft Azure.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          <div class="divide">
                              <div id="accd11" class="accordian-header">
                                  FSx for NetApp ONTAP
                              </div>
                              <div class="accordian-content accordian-content-accd11">
                                  <p>This solution leverages Amazon Web Services FSx Managed File System and NetApp ONTAP to simplify and accelerate workload migrations to the cloud. The powerful combination provides high-end security, reliability, scalability, and unmatched performance.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Threat Intelligence</p>
                      <p class="sub-content">Secure your infrastructure with optimal security protocols, ensuring organization-wide compliance.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acce1" class="accordian-header">
                                  Azure Sentinel
                             </div>
                             <div class="accordian-content accordian-content-acce1">
                                 <p>Organizations can deploy the Azure Sentinel solution to improve their security posture, enhance threat protection and analyze activity across the entire IT infrastructure. 
                                 </p>
                                 <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                             </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acce2" class="accordian-header">
                                  Modern Workplace with Secure Score
                             </div>
                             <div class="accordian-content accordian-content-acce2">
                                 <p>&nbsp;
                                 </p>
                                 <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                             </div>
                          </div>
                      </div>
      <div class="core-sections">
                          <div class="divide">
                              <div id="acce222" class="accordian-header">
                                  SMB Fraud Defense
                             </div>
                             <div class="accordian-content accordian-content-acce222">
                                 <p>Empowers partners serving small and medium business (SMB) customers to elevate their security posture while mitigating potential risks in day-to-day cloud operations.
                                 </p>
                                 <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                             </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>   
      <div class="tab-content tab-content-3">
        <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Data &amp; IoT Foundations</p>
                      <p class="sub-content">Cultivate a more connected, data-centric organization with the right tools when leveraging our Data &amp; IoT Foundations solution offerings.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accf1" class="accordian-header">
                                  Azure Data Lake
                               </div>
                               <div class="accordian-content accordian-content-accf1">
                                   <p>Azure Data Lake makes it easy to create a reliable, secure, and unstructured data repository in Microsoft Azure, which can be utilized to store and analyze petabytes size files and trillions of objects.
                                   </p>
                                   <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                               </div>
                          </div>
                          <div class="divide">
                              <div id="accf2" class="accordian-header">
                                  IoT Central
                              </div>
                              <div class="accordian-content accordian-content-accf2">
                                  <p>This solution helps organizations easily connect devices to Microsoft Azure, with the option to deploy the software-as-a-service (SaaS) based IoT Central.
                                  </p>
                                  <!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                          
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accf3" class="accordian-header">
                                  IoT Essentials 
                               </div>
                               <div class="accordian-content accordian-content-accf3">
                                   <p>With IoT Essentials, organizations can easily connect devices to Microsoft Azure, with the option to deploy the software-as-a-service (SaaS).
                                   </p>
                                   <!--<!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                               </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div id="accf4" class="accordian-header">
                              IAconnects MobiusFlow® on Azure
                           </div>
                           <div class="accordian-content accordian-content-accf4">
                               <p> IAconnects MobiusFlow® on Azure facilitates smart buildings and smart office experiences. The solution enables occupancy control and energy-efficient operation while collecting secure data from sensors and intelligent controllers stored in the cloud.
                               </p>
                               <!--<!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                           </div>	
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-tab core-row">
              <div class="accordian-side ">
                  <div class="core-row-content">
                      <p class="font-bold mb-4 acc-title">Data Modernization &amp; Services</p>
                      <p class="sub-content">Take a proactive approach and enable your organization to keep pace with the ever-growing need for the circulation of information and insights.</p>
                  </div>
                  <div class="accordians core-row-sections">
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acch4" class="accordian-header">
                                  Cloudera Data Platform (CDP) Private Cloud on Azure
                              </div>
                              <div class="accordian-content accordian-content-acch4">
                                  <p>Cloudera Data Platform (CDP) Private Cloud, powered by Microsoft Azure, is a secure global enterprise data cloud that delivers high-performance and faster data insights with a single pane of glass across hybrid and public clouds.</p>
                                  <!--<!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="acch1" class="accordian-header">
                                  Azure SQL Database
                              </div>
                              <div class="accordian-content accordian-content-acch1">
                                  <p>Azure SQL Database is a high-performance, highly available, reliable, and secure database you can use to build data-driven applications and websites in the programming language of your choice without needing to manage infrastructure.
                                  </p>
                                  <!--<!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                      <div class="core-sections">
                          <div class="divide">
                              <div id="accg1" class="accordian-header">
                                  IBM Cloud Pak for Data on Azure
                              </div>
                              <div class="accordian-content accordian-content-accg1">
                                  <p>IBM Cloud Pak offerings are an integrated set of AI-infused software solutions that help you fully implement intelligent workflows in your business to accelerate your data modernization journey.
                                  </p>
                                  <!--<!--<a class="text-white-light inline-block mt-4 border-b-2 border-solid border-white-light" target="_blank" href="#">Learn More</a>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
  </div>
  <script>
    $(document).ready(function () {
      var acc = 0;
      var openAcc = 0;
      $(".accordian-header").on("click", (e) => {
        var id = $(e.currentTarget).attr("id");

        if (acc === id) {
          $(".accordian-header").removeClass("selected");
          $(".accordian-content").removeClass("active");
          acc = 0;
          openAcc = 0;
        } else {
          $(".accordian-header").removeClass("selected");
          $(e.currentTarget).addClass("selected");
          //acc = id[4]
          acc = id;
          openAcc = ".accordian-content-" + acc;
          $(".accordian-content").removeClass("active");
          $(openAcc).addClass("active");
        }
      });
    });
  </script>

  <div class="hard-edge local-container">
    <div class="py-8 md-pt-24 local-container container-skinny">
      <h2 class="block-title">Hear What Our Partners Are Saying</h2>
      <div class="testimonial">
        <div class="testimonial-content relative">
          <img
            class="absolute top-0 center -mt-24"
            src="./images/home-new/“.svg"
            alt=""
          />
          <p class="testimonial-text">
            "With Tech Data’s Modern Workplace with Secure Score Click-to-Run™
            Solution, it’s easy to design security from the beginning."
          </p>
          <p class="text-sm font-black leading-none testimonial-reference">
            Mary Anne Fitzgerald
            <br />Senior Systems Engineer, MCM Technology Solutions
          </p>
          <div class="btn-container">
            <a href="/us/en/solutions/solutions-factory/case-study.html" class="btn-primary-lp"
              >Read All Stories</a
            >
          </div>
        </div>
        <div class="testimonial-content relative">
          <img
            class="absolute top-0 center -mt-24"
            src="./images/home-new/“.svg"
            alt=""
          />
          <p class="testimonial-text">
            "The Click-to-Run™ solution saved us a ton of time. We’ve been
            migrating clients to Azure backup ever since. Our clients appreciate
            the cost savings and scalability of Azure backup, and we appreciate
            the efficiencies we’ve gained in deploying this solution."
          </p>
          <p class="text-sm font-black leading-none testimonial-reference">
            Angela O’Donnell
            <br />CEO, W. O’Donnell Consulting Inc.
          </p>
          <div class="btn-container">
            <a href="/us/en/solutions/solutions-factory/case-study.html" class="btn-primary-lp"
              >Read All Stories</a
            >
          </div>
        </div>
        <div class="testimonial-content relative">
          <img
            class="absolute top-0 center -mt-24"
            src="./images/home-new/“.svg"
            alt=""
          />
          <p class="testimonial-text">
            "With the Click-to-Run™ solution, we guaranteed a correct and secure
            implementation, quickly and efficiently. Our customer was more than
            happy with the solution, all implementation worked as expected and
            presented no downtime for the business."
          </p>
          <p class="text-sm font-black leading-none testimonial-reference">
            Paulo Sá
            <br />IT Manager at PLEXIT
          </p>
          <div class="btn-container">
            <a href="/us/en/solutions/solutions-factory/case-study.html" class="btn-primary-lp"
              >Read All Stories</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function initSlider(selector, options) {
      console.log(
        " - file: AEM-solutions-page-advances.html - line 720 - initSlider  options",
        options
      );
      console.log(
        " - file: AEM-solutions-page-advances.html - line 720 - initSlider - selector",
        selector
      );

      console.log(
        " - file: AEM-solutions-page-advances.html - line 723 - initSlider - $.fn.slick",
        $.fn.slick
      );
      if ($.fn.slick) {
        $(selector).slick(options);
      } else {
        setTimeout(function () {
          initSlider(selector, options);
        }, 500);
      }
    }
    initSlider(".testimonial", {
      dots: false,
      // arrows: true,
      slidesToShow: 1,
      adaptiveHeight: false,
      infinite: true,
      autoplay: 5000,
    });
  </script>

  <div class="bg-white local-container">
    <div class="local-container pt-0 md-pt-16 py-32">
      <h2 class="block-title">Featured Resources</h2>
      <div class="flex flex-col md-flex-row">
        <div class="md-w-1-3 px-6 mt-12">
          <img
            src="/content/dam/tds-site/americas/us/solutions/images/resources-1.png"
            class="w-full"
            alt=""
          />
          <div class="resouces-content">
            <p class="font-bold my-8">Getting Started</p>
            <p class="leading-tight content">
              Start with the basics and learn more about how our catalog of
              solutions increases your agility and speed to market and how you
              can begin leveraging the offerings.
            </p>
            <a
              class="text-blue-light inline-block mt-4 border-b-2 border-solid border-blue-light"
              target="_blank"
              href="/content/dam/tds-site/americas/us/solutions/files/Getting-Started-Kit.zip"
              >Learn More
            </a>
          </div>
        </div>
        <div class="md-w-1-3 px-6 mt-12">
          <img
            src="/content/dam/tds-site/americas/us/solutions/images/resources-2.png"
            class="w-full"
            alt=""
          />
          <div class="resouces-content">
            <p class="font-bold my-8">Catalog</p>
            <p class="leading-tight content">
              Explore our catalog of pre-configured
              Click-to-Run™ Solutions, customizable to fit your business needs.
            </p>
            <a
              class="text-blue-light inline-block mt-4 border-b-2 border-solid border-blue-light"
              target="_blank"
              href="/content/dam/tds-site/americas/us/solutions/files/1089270-22-NextGen-Factory-Briefcase.pdf"
              >Learn More</a
            >
          </div>
        </div>
        <div class="md-w-1-3 px-6 mt-12">
          <img
            src="/content/dam/tds-site/americas/us/solutions/images/resources-3.png"
            class="w-full"
            alt=""
          />
          <div class="resouces-content">
            <p class="font-bold my-8">E-Book</p>
            <p class="leading-tight content">
              Access our Data Protection e-book to learn more about the
              opportunities involved and how you can unlock the benefits behind
              our solutions.
            </p>
            <a
              class="text-blue-light inline-block mt-4 border-b-2 border-solid border-blue-light"
              target="_blank"
              href="https://info.techdata.com/AWS-data-protection-global.html"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-content local-container">
    <div class="local-container">
      <h2>Schedule a Consultation</h2>
      <div class="btn-container">
        <a href="#" class="btn-primary-lp open-feature-modal">Connect</a>
      </div>
    </div>

    <div class="feature-modal xoo-modal">
      <div class="xoo-modal__wrapper">
        <h2>Schedule a Consultation</h2>
        <div class="_form_1"></div>
        <form id="mktoForm_8774"></form>
        <script>
          MktoForms2.loadForm("//info.techdata.com", "946-OMQ-360", 8774);
        </script>
        <div class="xoo-modal__close"></div>
      </div>
    </div>
  </div>
</div>
