<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://td-synnex-static.sparxoolabs.com/css/styles.css?v=1.0"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="//info.techdata.com/js/forms2/js/forms2.min.js"></script>
<script src="https://td-synnex-static.sparxoolabs.com/js/xoo-modal.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://td-synnex-static.sparxoolabs.com/css/xoo-modal.css"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>
<script
  src="https://td-synnex-static.sparxoolabs.com/js/app.bundle.js"
  type="text/javascript"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
/>
<style>
  *,
  :after,
  :before,
  svg {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;

    animation-iteration-count: 1 !important;
  }

  .cmp-searchbar {
	 min-width: rem(250px);
	 position: relative;
	 width: 100%;
	 padding: 10px 0;
}
 @media only screen and (max-width: 768px) {
  .tab {
    height: 60px !important;
  }

	 .cmp-searchbar {
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 margin-left: 0;
		 top: 0.3%;
		 min-width: 0;
		 width: auto;
	}
}

.tab.selected{
    background: #005758;
    color: white;
    border-radius: 10px 10px 0 0;
  }

  .tab.selected img{
    filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(80deg) brightness(110%) contrast(101%);
  }

  .tab img{
    margin-right: 10px;
  }

 @media only screen and (max-width: 768px) {
	 .cmp-searchbar--checked {
		 background-color: get-color(brand-white);
		 margin-left: 0;
		 margin-top: 35px;
		 width: 100%;
		 left: 0;
		 top: rem(45px);
		 z-index: -1;
		 max-height: 80px;
		 position: fixed;
	}

  .cmp-navigation--us #navigation {
    margin-left: 0%;
  }

  .tab {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  .core-row-sections{
    flex-direction: column;
  }

  .core-sections {
    width: 100% !important;
    padding: 0% !important;
  }
}

@media only screen and (max-width: 768px) {
    .cmp-searchbar__input--mobile {
      width: 100%;
    }
  }

.core-row-sections{
  display: flex;
}

.core-sections {
  width: 33.33%;
  padding: 0 4rem 0 0;
}

.core-sections:last-child  {
  padding: 0px;
}
@media only screen and (max-width: 768px) {
  .list, .sm-flex, .sm-flex-wrap, .mt-6 {
    display: flex;
      flex-direction: column;
      align-content: center;
  }

}

.list, .sm-flex, .sm-flex-wrap, .mt-6 {
  display: flex;
    flex-direction: row;
    align-content: center;
}

.story-img {
  margin-top: 30px;
}

 .cmp-searchbar__container {
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
	 margin: 0 auto;
	 width: 100%;
	 height: 40px;
	 padding: 0 rem(8px);
}
 .cmp-searchbar__input {
	 border: rem(1px) solid get-color(text-shadow);
	 border-radius: rem(6px) 0 0 rem(6px);
	 border-right: rem(1px);
	 box-sizing: border-box;
	 outline: none;
	 padding: rem(10px) rem(14px);
	 transition: all 400ms ease;
	 width: 100%;
	 height: 100%;
	 border: rem(1px) solid get-color(border-light-gray);
	 border-radius: 0;
	 padding: 0;
	 display: none;
	 min-width: 0;
	 width: 0;
}
 .cmp-searchbar__input:focus {
	 border: rem(1px) solid get-color(td-dark-blue);
}
 .cmp-searchbar__input::placeholder {
	 color: get-color(border-light-gray);
	 font-style: italic;
}
 .cmp-searchbar__input--mobile {
	 padding: rem(6px) rem(10px);
	 visibility: visible;
	 display: flex;
	 width: 86%;
   border: rem(1px);
}

@media only screen and (max-width: 1430px) {
  .cmp-searchbar__input--mobile {
		 width: 70%;
	}
}

@media only screen and (max-width: 1180px) {
  .cmp-searchbar__input--mobile {
		 width: 65%;
	}
}

 .cmp-searchbar__button {
	 background-color: get-color(brand-white);
	 border-right: rem(1px) solid get-color(text-shadow) !important;
	 border-top: rem(1px) solid get-color(text-shadow) !important;
	 border-bottom: rem(1px) solid get-color(text-shadow) !important;
	 border-left: 0 !important;
	 border-radius: 0 rem(6px) rem(6px) 0;
	 box-sizing: border-box;
	 padding: 3.8px 8px;
	 transition: all 200ms ease;
	 height: 100%;
	 background-color: transparent;
	 border: none !important;
	 padding: 0;
	 margin: 0 rem(8px);
}
 .cmp-searchbar__button:hover {
	 cursor: pointer;
}
 .cmp-searchbar__button--mobile {
	 padding: 0;
	 margin-left: rem(8px);
	 margin-right: rem(8px);
}
 .cmp-searchbar__button--mobile .cmp-searchbar__icon {
	 stroke: aqua;
}
 .cmp-searchbar__button--checked {
	 background-color: get-color(td-dark-blue);
	 border-color: get-color(td-dark-blue) !important;
}
 .cmp-searchbar__icon {
	 stroke: #63666a;
	 margin-top: rem(9.6px);
}
 @media only screen and (max-width: 768px) {
	 .cmp-searchbar__icon {
		 stroke: #63666a;
	}
}
 .cmp-searchbar__icon--checked {
	 stroke: get-color(td-dark-blue);
}
 @media only screen and (max-width: 768px) {
	 .cmp-searchbar__icon--checked {
		 stroke: get-color(brand-light-blue);
	}
}
 .cmp-searchbar__context-menu {
	 box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
	 background-color: get-color(brand-white);
	 position: absolute;
	 width: 100%;
	 z-index: 100;
}
 @media only screen and (max-width: 768px) {
	 .cmp-searchbar__context-menu {
		 box-shadow: none;
		 position: relative;
		 margin-bottom: rem(12px);
		 min-width: rem(350px);
	}

  .md-flex-row {
    flex-direction: column !important;
    width: 100%;
  }

  .mt-12 {
    margin-top: 48px;
  }

  .md-w-1-3{
    width: 100% !important;
  }
}
 .cmp-searcharea {
	 list-style-type: none;
	 text-decoration: none;
	 padding: 0;
	 margin: 0;
	 box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
	 margin: 0 rem(10px) 0 rem(10px);
	 max-height: 0;
	 transition: all 200ms ease;
}
 .cmp-searcharea--checked {
	 background-color: get-color(brand-white);
	 max-height: rem(350px);
	 position: relative;
	 overflow-x: hidden;
	 overflow-y: scroll;
	 width: 95.5%;
}
 @media only screen and (max-width: 768px) {
	 .cmp-searcharea--checked {
		 width: 100%;
		 margin: 0;
	}
}
 .cmp-searcharea__area {
	 background-color: get-color(brand-white);
}
 .cmp-searcharea__button {
	 background-color: transparent;
	 color: get-color(brand-text-gray);
	 padding: rem(10px) rem(14px);
	 transition: all 200ms ease;
	 text-align: left;
	 width: 100%;
}
 .cmp-searcharea__button:hover, .cmp-searcharea__button:active {
	 background-color: get-color(border-light-gray);
}
 .cmp-searcharea__button:hover {
	 background-color: #f6f6f6;
	 color: get-color(brand-text-gray);
}
 .cmp-searcharea__selectedarea {
	 border-bottom: rem(2px) solid get-color(brand-black);
	 margin-left: 0;
	 margin-right: 0;
	 transition: all 200ms ease;
}
 .cmp-searcharea__selectedarea--checked {
	 margin-left: rem(10px);
	 margin-right: rem(10px);
}
 @media only screen and (max-width: 768px) {
	 .cmp-searcharea__selectedarea--checked {
		 margin-left: 0;
		 margin-right: 0;
	}
}
 .cmp-searcharea__selectedarea-button {
	 background-color: transparent;
	 color: get-color(brand-text-gray);
	 padding: rem(10px) rem(14px);
	 transition: all 200ms ease;
	 text-align: left;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 padding: rem(10px) rem(14px);
}
 .cmp-searcharea__selectedarea-button:hover, .cmp-searcharea__selectedarea-button:active {
	 background-color: get-color(border-light-gray);
}
 @media only screen and (max-width: 768px) {
	 .cmp-searcharea__selectedarea-button {
		 min-width: rem(350px);
	}
}
 .cmp-searcharea__selectedarea-button:hover, .cmp-searcharea__selectedarea-button:active {
	 background-color: #f6f6f6;
	 color: get-color(brand-text-gray);
}
 .cmp-searcharea__selectedarea-button:hover svg, .cmp-searcharea__selectedarea-button:active svg {
	 color: get-color(brand-nav-blue);
}
 .cmp-searcharea__selectedarea-icon {
	 color: get-color(brand-nav-blue);
	 margin-left: rem(8px);
	 transition: all 200ms ease;
	 width: rem(24px);
}
 .cmp-searcharea::-webkit-scrollbar {
	 width: rem(8px);
}
 .cmp-searcharea::-webkit-scrollbar-track {
	 background: get-color(brand-white);
}
 .cmp-searcharea::-webkit-scrollbar-thumb {
	 background: get-color(brand-black);
	 border-radius: rem(8px);
	 max-height: rem(4px);
}
 .cmp-searcharea::-webkit-scrollbar-button {
	 display: none;
}
 .cmp-searchsuggestions {
	 list-style-type: none;
	 text-decoration: none;
	 padding: 0;
	 margin: 0;
}
 .cmp-searchsuggestions:first-child {
	 color: get-color(brand-nav-blue);
}
 .cmp-searchsuggestions__suggestion, .cmp-searchsuggestions__link {
	 list-style-type: none;
	 text-decoration: none;
	 padding: 0;
	 margin: 0;
	 color: get-color(brand-text-gray);
}
 .cmp-searchsuggestions__suggestion {
	 display: flex;
	 transition: all 200ms ease;
	 padding: rem(8px) rem(16px);
}
 .cmp-searchsuggestions__suggestion.cmp-searchsuggestions__suggestion-withRefinement {
	 flex-direction: column;
	 justify-content: center;
	 padding-bottom: 0px;
}
 @media only screen and (max-width: 768px) {
	 .cmp-searchsuggestions__suggestion.cmp-searchsuggestions__suggestion-withRefinement {
		 display: flex;
		 flex-direction: column;
	}
}
 .cmp-searchsuggestions__suggestion.cmp-searchsuggestions__suggestion-withRefinement .cmp-searchrefinements {
	 padding-top: rem(8px);
	 padding-left: rem(5px);
}
 .cmp-searchsuggestions__suggestion:hover {
	 background-color: #f6f6f6;
	 color: get-color(brand-white);
}
 .cmp-searchrefinements {
	 padding: 0;
	 margin: 0;
}
 .cmp-searchrefinements__link, .cmp-searchrefinements__item, .cmp-searchrefinements__refinement {
	 list-style-type: none;
	 text-decoration: none;
	 padding: 0;
	 margin: 0;
	 color: get-color(brand-nav-blue);
}
 .cmp-searchrefinements__item {
	 padding-left: rem(4px);
}
 .cmp-searchrefinements__item-icon {
	 color: get-color(brand-nav-blue);
	 margin-left: rem(8px);
	 transition: all 200ms ease;
	 width: rem(24px);
}
 @media only screen and (max-width: 768px) {
	 .cmp-searchrefinements__item-icon {
		 width: auto;
	}
}
 .cmp-searchbar__loading-indicator {
	 right: 0.8rem;
	 left: unset;
}
 .cmp-searchbar__clear {
	 display: none;
}
 .cmp-searchbar__clear-icon {
	 left: 0.5rem;
	 right: unset;
}

.regionSelectDropdown .languageselection-button {
    background-color: #003031;
  }

 .experiencefragment.cmp-experiencefragment--header .cmp-experiencefragment > .cmp-container .aem-Grid .search {
	 margin-left: auto !important;
	 width: 35% !important;
}
 @media only screen and (max-width: 768px) {
	 .experiencefragment.cmp-experiencefragment--header .cmp-experiencefragment > .cmp-container .aem-Grid .search {
		 width: 100% !important;
	}
}
 @media only screen and (max-width: 768px) {
	 #cmp-techdata-header.cmp-container .aem-Grid .search {
		 width: auto !important;
	}
}
 .activeClass {
	 background-color: get-color(brand-nav-blue);
}
 .activeClass .cmp-searcharea__button {
	 color: get-color(brand-white);
}
 .activeClass .cmp-searcharea__button:hover {
	 background-color: get-color(brand-nav-blue);
}
 

  .button:before{
    width: 0% !important; 
    height: 0%;
  }

  .languageselection-button .button:before{
    width: 0% !important; 
    height: 0%;
  }

  .root {
    overflow-y: clip;
  }

  .languagenavigation svg {
    height: 26px;
    width: 26px;
    padding-right: 0.25rem;
    margin-bottom: 3px;
    position: relative;
  }

  .language-modal__content {
    width: 68%;
  }

  .cmp-region-list__countries a {
    color: #555 !important;
    font-size: 13px;
  }

  .language-modal__content__column__separator {
    padding: 0 0 0 65px;
  }

  .cmp-region-list__countries--flag {
    width: 22px;
    margin-right: 5px;
  }

  .cmp-region-list__language a {
    font-size: 9pt !important;
  }

  @media (min-width: 600px) and (max-width: 768px) {
    .language-modal__content {
      width: 320px !important;
    }
  }

  @media (min-width: 769px) and (max-width: 1280) {
    #megamenu {
      margin-left: 0% !important;
    }
  }

  @media (max-width: 768px) {
    .language-modal__content {
      width: 320px !important;
    }

    .language-modal__content__column__separator {
      padding-left: 10px;
    }

    #cmp-techdata-header div.container {
      width: 100%;
      margin: 0px !important;
    }
    #cmp-techdata-header.cmp-container .aem-Grid {
      justify-content: flex-start;
    }

    #cmp-techdata-header.cmp-experiencefragment--header-mobile.cmp-container
      > div
      .search {
      margin-left: 50% !important;
      margin-bottom: 8px;
    }

    .cmp-td-hamburgerMenu {
      font-size: 21px;
      margin-right: 10px;
    }

    .local-container {
      padding: 30px;
    }
    .testimonial .testimonial-content {
      height: 725px !important;
      padding: 1rem !important;
    }

    .testimonial .testimonial-reference {
      height: 75px;
      line-height: 2.5vh !important;
    }

    .list, .sm-flex, .sm-flex-wrap, .mt-6 {
      padding: 0;
    }

    .lg-w-1-4 {
      width: 100% !important;
    }

    .tabs-section .tabs-content .tab-content-1,
    .tabs-section .tabs-content .tab-content-2,
    .tabs-section .tabs-content .tab-content-3 {
      flex-direction: column !important;
    }
  }

  @media (max-width: 1280px) {
    .language-modal__content {
      width: 1280px;
    }

    .language-modal__content__column__separator {
      padding-left: 10px;
    }
  }

  .cmp-experiencefragment--tds-footer hr {
    margin: 0;
  }

  .separator
    .dp-separator--teal
    .aem-GridColumn--default--none
    .aem-GridColumn--phone--none
    .aem-GridColumn--phone--12
    .aem-GridColumn
    .aem-GridColumn--default--6
    .aem-GridColumn--offset--phone--0
    .aem-GridColumn--offset--default--0 {
    height: 2px;
  }

  .cmp-experiencefragment--tds-footer
    .dp-general__innerspace--right
    > .cmp-container {
    margin-left: 40px;
  }

  .aem-Grid.aem-Grid--default--12
    > .aem-GridColumn.aem-GridColumn--offset--default--0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .cmp-experiencefragment--tds-footer
    .dp-general__innerspace--right-large
    > .cmp-container {
    padding-right: 5rem;
  }

  .cmp-experiencefragment--tds-footer
    .dp-general__innerspace--left-medium
    > .cmp-container {
    padding-left: 2rem;
  }

  .cmp-paragraph-small * {
    font-size: 14px;
    line-height: 16.8px;
  }

  .cmp-experiencefragment--tds-footer .cmp-image__image {
    max-width: 85%;
    width: 100%;
  }
  .cmp-text p > a:hover {
    text-decoration: underline;
    color: white;
  }
  .cmp-text p > a {
    text-decoration: none;
    color: white;
  }
  .headerutility {
    z-index: 0;
  }

  .cmp-megamenu {
    z-index: 0;
  }

  .cmp-region-list__countries--name span {
    display: flex;
    flex-direction: column;
  }

  .sm-flex {
    list-style-type: none;
  }

  .sm-flex img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  .my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .tab-content.active {
    display: flex !important;
    flex-direction: column !important;
  }

  .cmp-region-list__title {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .hero {
    height: 485px;
    background-image: url(/content/dam/tds-site/americas/us/solutions/images/hero-img.png);
    background-size: cover;
    background-position: center 30%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(https://td-synnex-static.sparxoolabs.com/images/hamb-icon.svg);
  }
  .container {
    max-width: unset;
    width: 100%;
    padding: 0px;
  }
  .cmp-image__image {
    width: 160px;
    max-width: 160px;
    height: auto;
    margin-bottom: 0px;
  }

  .cmp-navigation--us #navigation {
    margin-left: 20%;
  }
  #cmp-techdata-header {
    background: #fff;
  }
  .dp-text--xsmall,
  .dp-text--xsmall .cmp-text li {
    font-size: 1.1rem !important;
    width: 80%;
  }
  #cmp-techdata-header.cmp-container .aem-Grid {
    background: #fff;
    height: 8.5rem;
    display: flex !important;
    float: unset !important;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .cmp-searchbar__container {
    width: 90%;
    margin-left: 10%;
    margin-right: 0px;
  }

  .cmp-searchbar__icon {
    margin-top: 0rem;
  }

  .cmp-megamenu .cmp-navigation .cmp-megamenu__wrapper a {
    font-size: 13px;
  }
  .cmp-megamenu .cmp-navigation .cmp-megamenu-level-title {
    font-size: 13px;
  }

  .hub .cmp-button__dropdown a {
    font-size: 13px;
    padding: 12px;
    line-height: 18px;
  }

  .cmp-radio-btn {
    font-size: 13px;
    padding: 12px;
    line-height: 18px;
  }

  .cmp-radio-btn .checkmark {
    height: 13px !important;
    width: 13px !important;
    top: 5px;
  }

  .cmp-radio-btn .checkmark:after {
    top: 3.25px;
    left: 3.05px;
    width: 6px;
    height: 6px;
  }

  .cmp-button__region-select {
    font-size: 13px;
  }

  .cmp-experiencefragment--tds-footer .button {
    padding: 0.5em 0.5em;
  }

  .dp-separator--teal .cmp-separator__horizontal-rule {
    border-top: 2px solid !important;
  }

  .cmp-megamenu .cmp-megamenu__primary li {
    font-size: 15px !important;
    padding-left: 40px;
    padding-top: 5px;
  }

  #regionSelectDropdown .languageselection-button {
    display: inline-block !important;
    background-color: #003031;
  }

  .cmp-megamenu .cmp-megamenu__primary {
    justify-content: space-evenly !important;
    height: auto !important;
    width: max-content;
  }
  .cmp-megamenu .cmp-megamenu__primary ol {
    justify-content: space-around;
  }
  #cmp-techdata-footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .megamenu
    .aem-GridColumn--default--none
    .aem-GridColumn
    .aem-GridColumn--default--5
    .aem-GridColumn--offset--default--0 {
    margin-left: 50px;
    width: 400px;
  }
  .dp-general__innerspace--left-medium > .cmp-container {
    padding-left: 0rem;
  }

  .dp-general__innerspace--right-medium > .cmp-container {
    padding-left: 0rem;
  }

  .dp-general__innerspace--top-medium > .cmp-container {
    padding-left: 0rem;
  }
  .dp-general__innerspace--top-large > .cmp-container {
    padding-top: 0rem;
  }

  .dp-general__innerspace--bottom-large > .cmp-container {
    padding-bottom: 0rem;
  }

  .dp-general__innerspace--bottom-medium > .cmp-container {
    padding-left: 0rem;
  }

  .dp-general__innerspace--left-medium > .cmp-container figure {
    margin-left: 0rem !important;
  }

  #cmp-techdata-header.cmp-container .aem-Grid .search {
    width: 45%;
  }

  .text.cmp-paragraph-small p {
    font-size: 14px;
    line-height: 16.8px;
  }

  #cmp-techdata-header.cmp-container .aem-Grid .search {
    margin-left: 0px !important;
  }

  .cmp-experiencefragment--tds-footer .cmp-container--max-1440,
  .cmp-container__full-width > .cmp-container {
    max-width: 1440px !important;
  }

  .cmp-experiencefragment--tds-footer > div:first-child {
    height: 433.2px;
    display: flex;
    align-items: center;
  }

  .cmp-experiencefragment--tds-footer .cmp-button__text {
    font-size: 18px;
    line-height: 1.5;
  }

  .cmp-experiencefragment--tds-footer .text.cmp-paragraph-small p {
    margin: 0 0 0px;
  }

  .megamenu {
    margin-left: 5%;
    width: 70%;
    z-index: 999999999;
  }

  .headerutility.aem-GridColumn {
    margin-right: 6%;
    justify-content: stretch !important;
  }

  .cmp-searchbar__button {
    margin-right: 0% !important;
    margin-top: 0%;
  }

  #cmp-techdata-header div.container {
    width: 85%;
  }

  #cmp-techdata-header div figure {
    margin-right: 0%;
  }

  .cmp-techdata-header div figure .cmp-image__link img {
    width: 175%;
    max-width: 175%;
    height: auto;
  }

  .cmp-experiencefragment--tds-footer img {
    width: 100%;
  }

  .button:before,
  .button-mirror:before,
  .button-flip-mirror-power:before {
    position: initial !important;
  }

  .cmp-marketing-card h2 {
    font-size: 28px !important;
    padding-bottom: 30px;
  }

  #megamenu {
    margin-left: 15%;
  }
  .font-bold {
    font-weight: 700 !important;
  }
  .local-container {
    width: 100%;
    height: inherit;
  }
  .div-separator {
    padding: 1%;
  }

  @media (max-width: 768px) {
    .cmp-experiencefragment--tds-footer > div:first-child {
      height: auto;
    }
  }

  @media (min-width: 640px) {
    .local-container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .local-container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .local-container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .local-container {
      max-width: 1280px;
    }
  }
  @media (min-width: 640px) {
    .sm:local-container {
      width: 100%;
    }
    @media (min-width: 640px) {
      .sm:local-container {
        max-width: 640px;
      }
    }
    @media (min-width: 768px) {
      .sm:local-container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px) {
      .sm:local-container {
        max-width: 1024px;
      }
    }
    @media (min-width: 1280px) {
      .sm:local-container {
        max-width: 1280px;
      }
    }
  }
  @media (min-width: 640px) {
    .sm:local-container {
      width: 100%;
    }
    @media (min-width: 640px) {
      .sm:local-container {
        max-width: 640px;
      }
    }
    @media (min-width: 768px) {
      .sm:local-container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px) {
      .sm:local-container {
        max-width: 1024px;
      }
    }
    @media (min-width: 1280px) {
      .sm:local-container {
        max-width: 1280px;
      }
    }
  }
  @media (min-width: 1024px) {
    .lg:local-container {
      width: 100%;
    }
    @media (min-width: 640px) {
      .lg:local-container {
        max-width: 640px;
      }
    }
    @media (min-width: 768px) {
      .lg:local-container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px) {
      .lg:local-container {
        max-width: 1024px;
      }
    }
    @media (min-width: 1280px) {
      .lg:local-container {
        max-width: 1280px;
      }
    }
  }
  @media (min-width: 1280px) {
    .xl:local-container {
      width: 100%;
    }
    @media (min-width: 640px) {
      .xl:local-container {
        max-width: 640px;
      }
    }
    @media (min-width: 768px) {
      .xl:local-container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px) {
      .xl:local-container {
        max-width: 1024px;
      }
    }
    @media (min-width: 1280px) {
      .xl:local-container {
        max-width: 1280px;
      }
    }
  }
  @media (max-width: 1600px) {
    .cmp-image__image {
      margin-left: -2vw;
    }

    .cmp-experiencefragment--tds-footer .cmp-image__image {
      margin-left: 0vw;
    }

    #megamenu {
      margin-left: 0%;
    }
    .headerutility.aem-GridColumn {
      margin-right: 0%;
    }

    #cmp-techdata-header div.container {
      width: 100%;
    }
    .aem-Grid.aem-Grid--default--12
      > .aem-GridColumn.aem-GridColumn--offset--default--0 {
      margin-bottom: 0px;
    }

    .cmp-searchbar__container {
      width: 100%;
      margin-right: 0px;
      margin-left: 0%;
      margin-top: 0%
    }
    .cmp-searchbar__button {
      margin-top: 2%;
    }
  }
  @media (max-width: 1250px) {
    .cmp-image__image {
      margin-left: -12vw;
    }
  }
  @media (max-width: 950px) {
    .cmp-image__image {
      margin-left: -15vw;
    }
  }
  @media (max-width: 780px) {
    .cmp-image__image {
      margin: auto;
      padding: 1v2;
    }
  }
  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  header {
    background: white 0 0 no-repeat padding-box;
  }
  header nav .navbar-collapse {
    flex-grow: 1;
    align-items: center;
  }
  .collapse:not(.show) {
    display: none;
  }
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  nav .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-clean-search.navbar-light .navbar-nav .nav-link {
    color: #465765;
  }
  .navigation-clean-search.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
  .global-header {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hero .local-container,
  .hero .row {
    height: inherit;
  }
  .hero .hero-content {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 1rem;
    height: inherit;
  }
  .btn-primary-lp {
    background-color: #07bed5;
    color: white;
    border-radius: 25px;
    padding: 0.5em 2em;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-primary-lp:hover,
  .btn-primary-lp:focus {
    color: white;
    text-decoration: none;
  }
  .hero .hero-content h1 {
    color: white;
    font-size: 43px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-bottom: 2rem;
  }
  .hero .hero-contents {
    color: white;
    font-size: 16px;
  }
  .story-content {
    text-align: center;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 15rem;
  }
  .story-content svg {
    position: absolute;
    top: -237px;
    right: 200px;
  }
  .story-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
  }
  .story-list .story-list-details {
    width: 33.333%;
  }
  .story-list .story-list-details p {
    font-size: 16px;
    padding-top: 2rem;
  }
  .story-content h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #005758;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 7rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }
  .case-study h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #005758;
    width: 60%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }
  h2.block-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #005758;
    width: 60%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }
  div.td-module {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  div.td-module p.main-content {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
  }
  div.td-module p.sub-content {
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }
  .cmp-embed div p {
    font-size: 16px;
    font-family: GeorgiaPro, sans-serif;
    color: #303030;
    font-weight: 100;
  }
  .resouces-content .content {
    min-height: 87px;
  }
  .resouces-content a {
    font-size: 16px;
  }
  .story-content .story-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    height: 335px;
  }
  .story-content h3 {
    color: #005758;
    font-weight: 300;
    font-size: 26px;
  }
  .story-content p {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #303030;
    font-weight: 100;
  }
  .case-study {
    background-color: #edf2f4;
    text-align: center;
    padding: 4vw 0;
  }
  .global-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .hs-button {
    background: white !important;
    color: #153054 !important;
    line-height: 12px !important;
    border: 2px solid #3b838e !important;
    border-radius: 5px !important;
    font-family: Helvetica, sans-serif !important;
    font-size: 15px !important;
  }
  .cta-content {
    padding: 7rem 0;
    margin: 0 auto;
    text-align: center;
    background: rgb(0, 48, 48);
    background: linear-gradient(
      83deg,
      rgba(0, 48, 48, 1) 0%,
      rgba(0, 85, 86, 1) 36%,
      rgba(0, 185, 232, 1) 82%,
      rgb(7, 190, 213) 100%
    );
    max-width: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .cta-content h2 {
    color: white;
    margin: 0 0 4rem 0;
    font-size: 30px;
  }
  footer {
    background: #003130 !important;
  }
  footer .logo-border {
    height: 35px;
    border-right: 1px solid;
    border-right-color: darkgray;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  footer p {
    color: white;
    font-size: 0.9em;
  }
  .fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
  .fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
  }
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  .fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none;
  }
  .flip-card {
    position: relative;
    perspective: 1000px;
    display: block;
  }
  .flip-card-inner {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-card:not(:hover) .flip-card-inner {
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  .flip-card:hover .flip-card-inner,
  .flip-card:active .flip-card-inner {
    -webkit-transform: rotate3d(-1, 1, 0, -180deg);
    transform: rotate3d(-1, 1, 0, -180deg);
  }
  .flip-card:hover,
  .flip-card:active {
    z-index: 997;
  }
  .flip-card-front,
  .flip-card-back,
  .flip-card-front:after {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #fff;
    color: #333;
  }
  .flip-card-front h2 {
    padding-left: 42px;
  }
  .flip-card-back {
    background-color: #202e4d;
    color: #fff;
    transform: translate(-50%, -50%) rotate3d(-1, 1, 0, -180deg);
    padding: 30px 40px;
  }
  .td-module.image-link-list ul li {
    max-width: 300px;
  }
  .flip-card {
    flex: 0 0 46%;
    margin: 1.5%;
    border-radius: 0;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .flip-card .flip-card-inner {
    height: auto;
  }
  .flip-card .flip-card-front {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: bold;
    text-align: left;
    line-height: 1em;
    color: white;
    background-color: white;
    cursor: pointer;
  }
  .flip-card .flip-card-back {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
  .flip-card .flip-card-back:focus,
  .flip-card .flip-card-back:hover {
    color: white;
    text-decoration: none;
  }
  .flip-card .flip-card-back span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
  .graphs .graph.outcome .flip-card .flip-card-back {
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .flip-card .flip-card-back p {
    margin: 0;
  }
  .flip-card .flip-card-back a {
    color: white;
    font-weight: bold;
  }
  .flip-card .flip-card-back a:hover,
  .flip-card .flip-card-back a:focus {
    text-decoration: underline;
  }
  .case-study ul li {
    max-width: 300px;
    display: inline-block;
  }
  .case-study ul {
    margin-top: 20px;
  }
  .case-study ul li img {
    display: block;
    width: 100%;
  }
  .re-li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation-clean-search {
    background: #fff !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
  }
  .navigation-clean-search .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  .navbar {
    margin-bottom: unset !important;
    box-shadow: unset !important;
    height: unset !important;
  }
  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    height: unset !important;
  }
  .navigation-clean-search .navbar-toggler {
    color: #888;
  }
  .navigation-clean-search .navbar-toggler {
    border-color: #ddd;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .visually-hidden,
  .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .bg-white {
    max-width: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    background-color: white;
  }
  .bg-blue-med {
    background-color: #0067ac;
  }
  .bg-blue-light {
    background-color: #07bed5;
    transition-duration: 0.2s;
  }
  .bg-blue-light:hover {
    background-color: #03acd6;
  }
  .bg-blue-dark {
    background-color: #011d45;
  }
  .text-blue {
    color: #0067ac;
  }
  .text-blue-light {
    color: #07bed5;
  }
  .border-blue-light {
    border-color: #07bed5;
  }
  .bg-gray {
    background-color: #ecf2f4;
  }
  .container-skinny {
    max-width: 900px !important;
  }
  .hard-edge {
    background-image: -webkit-linear-gradient(
      bottom,
      #fff 0%,
      #fff 20%,
      #fff 50%,
      #ecf2f4 50%,
      #ecf2f4 100%
    );
    max-width: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .center {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .testimonial .testimonial-content {
      padding: 1rem;
      height: 500px;
    }
  }

  .testimonial .testimonial-content {
    height: 415px;
    width: 784px !important;
    margin: 0 auto;
    padding: 75px 100px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #0067ac, #07bed5);
  }
  .testimonial {
    color: white;
    padding: 2% 5%;
  }
  .testimonial .btn-container {
    position: absolute;
    right: 0;
    left: 0;
  }
  .container-skinny {
    max-width: 900px;
  }
  .testimonial .slick-prev {
    left: 0 !important;
  }
  .testimonial .slick-arrow:before {
    padding: 10px;
    color: #05b1e2;
  }
  .testimonial .slick-arrow {
    width: auto;
    height: auto;
  }
  .testimonial .slick-next {
    right: 0 !important;
  }
  .testimonial .slick-track {
    display: flex !important;
  }
  .testimonial .testimonial-content .testimonial-text {
    font-weight: 100;
    padding-bottom: 40px;
    font-size: 24px;
    color: #fff;
  }
  .testimonial .testimonial-reference {
    font-size: 14px;
    padding-bottom: 2rem;
    color: #fff;
    line-height: 1.5vw;
    font-weight: bold;
  }
  .tabs-section {
    margin-top: 10rem;
    width: 100%;
    height: auto;
    background: white;
  }
  .tabs-section .tabs-content {
    margin-top: -3rem;
    padding-bottom: 2rem;
  }
  .tabs-section .tabs {
    display: flex;
    top: -51px;
    justify-content: space-between;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
  }
  .tab:hover {
    background: #005758;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  .tab:hover img{
    filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(80deg) brightness(110%) contrast(101%);
  }
  .tab {
    display: flex;
    width: 30%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-top: 0px;
    background: white;
    font-weight: 900;
    color: #005758;
    padding: 0px 25px;
    line-height: 1.1;
    border-right: 2px solid white;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
  }

  .tabs-section.tabs.tab {
    display: flex;
    width: 30%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-top: 0px;
    background: white;
    font-weight: 900;
    color: #005758;
    padding: 0px 25px;
    line-height: 1.1;
    border-right: 2px solid white;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
  .tabs-section .tabs .tab {
    display: flex;
    width: 30%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-top: 0px;
    background: white;
    font-weight: 900;
    color: #005758;
    padding: 0px 25px;
    line-height: 1.1;
    border-right: 2px solid white;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
  }
  .tabs-section .tabs .tab:hover,
  .tabs-section .tabs .tab.selected {
    background: #005758;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  .tabs-section .tabs .tab:hover img,
  .tabs-section .tabs .tab.selected img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  .tabs-section .tabs .tab:last-child {
    border-right: 0px solid white;
  }
  .tab-content {
    height: calc(100% - 60px);
    display: none;
    background-color: white;
  }

  .tabs-section .tabs-content .tab-content-1,
  .tabs-section .tabs-content .tab-content-2,
  .tabs-section .tabs-content .tab-content-3 {
    flex-direction: row;
  }

  .tab-right-side {
    width: 50%;
    text-align: left;
    padding: 0 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .tab-right-side h3 {
    font-weight: 900 !important;
    color: #00b1e2 !important;
  }
  .tab-right-side p {
    font-size: 14px;
    line-height: 1.4;
  }
  .accordian-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
  }
  .accordian {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .accordian-header:hover {
    background-color: #005758;
  }
  .accordian-header.selected {
    border-radius: 11px 11px 0 0;
    margin-bottom: 0;
  }
  .accordian-header.selected:hover {
    background-color: #07bed5;
  }
  .accordian-side .acc-title {
    color: #07bed5;
  }
  .accordian-header {
    padding: 10px;
    background-color: #07bed5;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 900;
    flex-shrink: 0;
    position: relative;
    border-radius: 5px;
  }
  .accordian-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
  }
  .accordian-header.selected .accordian-arrow {
    transform: translateY(-50%) rotate(180deg);
  }
  .accordian-content {
    display: block;
    height: 0px;
    background-color: #07bed5;
    transition-duration: 0.3s;
    text-align: left;
    padding: 0px 10px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 0 0 11px 11px;
  }
  .accordian-content p {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    color: white !important;
  }
  .accordian-content a {
    color: white !important;
  }
  .accordian-content.active {
    height: 100%;
    padding-bottom: 10px;
  }
  .flip-card .flip-card-back p {
    color: white;
  }
  .mktoForm {
    text-align: left;
    max-width: 750px;
    margin: 2em auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    font-size: 16px !important;
  }
  .mktoForm > * {
    flex: 0 0 50%;
  }
  .mktoForm > *:nth-child(even) > .mktoFormCol {
    padding-right: 10px;
  }
  .mktoForm .mktoLabel,
  .mktoForm input[type="text"],
  .mktoForm input[type="email"],
  .mktoForm input[type="number"],
  .mktoForm input[type="tel"],
  .mktoForm .mktoFormCol,
  .mktoForm .mktoFieldWrap,
  .mktoForm .mktoButtonRow {
    display: block;
    width: 100% !important;
    text-align: left;
  }
  .feature-modal .mktoForm label,
  .mktoForm .mktoLabel span {
    color: black !important;
  }
  .feature-modal .mktoForm input {
    border: #979797 1px solid !important;
  }
  .mktoForm input[type="text"],
  .mktoForm input[type="url"],
  .mktoForm input[type="email"],
  .mktoForm input[type="tel"],
  .mktoForm input[type="number"],
  .mktoForm input[type="date"],
  .mktoForm select.mktoField,
  .mktoForm textarea.mktoField {
    width: 100% !important;
    height: 2em;
    margin-bottom: 5px !important;
    box-shadow: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border: 0 !important;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
    background-color: white;
  }
  .mktoForm .mktoGutter,
  .mktoForm .mktoOffset {
    display: none;
  }
  .mktoForm .mktoRequiredField label.mktoLabel {
    padding-bottom: 0.5rem;
  }
  .mktoForm .mktoButtonRow {
    flex: 0 0 100%;
  }
  .mktoForm .mktoButtonRow span {
    display: block;
    width: 100%;
    margin: 2em 0 0 0 !important;
    text-align: center;
  }
  .mktoForm button {
    background-image: none !important;
    background-color: #00b1e2 !important;
    color: #fff !important;
    width: auto !important;
    max-width: 300px;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0.8em 1.35em !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    font-size: 1em !important;
    font-family: "Work Sans" !important;
    font-weight: 300 !important;
    font-style: normal !important;
    line-height: 1.35em !important;
    font-weight: 400 !important;
  }
  .feature-modal h2 {
    color: black;
  }
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-md .navbar-nav {
      flex-direction: row;
    }
    .case-study ul li {
      margin: 10px;
    }
    .navigation-clean-search {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .mktoForm > * {
      flex: 0 0 100%;
    }
    .mktoForm > *:nth-child(even) > .mktoFormCol {
      padding-right: 0;
    }
    .mktoForm .mktoRequiredField label.mktoLabel {
      display: flex;
      flex-direction: row-reverse;
      text-align: left;
      justify-content: flex-end;
    }
    .mktoForm label strong {
      padding: 10px 0 !important;
    }
    .hero {
      height: fit-content !important;
    }
    .hero .hero-content h1 {
      font-size: 45px;
      width: 100%;
    }
    .hero .hero-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .story-content svg {
      display: none;
    }
    .story-list {
      flex-direction: column;
    }
    .story-list .story-list-details {
      width: 100%;
    }
    .story-content .story-img {
      padding-top: 3rem;
    }
    .story-content .story-img img {
      width: inherit;
    }
    .story-content h2 {
      padding-bottom: 3rem;
      width: 100%;
      font-size: 25px;
    }
    .story-content .story-info {
      justify-content: unset;
      height: unset;
    }
    .story-content {
      padding-bottom: 5rem;
    }
    nav .container-fluid {
      justify-content: unset;
    }
    .navbar-nav {
      display: flex;
      list-style: none;
      background-color: #fff;
      border: 1px solid #707070;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: auto;
      max-height: 100%;
      padding: 1.875rem;
      position: absolute;
      width: 100%;
      max-width: 14.375rem;
      overflow-x: hidden;
      overflow-y: auto;
      top: 77px;
      right: 0;
      z-index: 9;
      height: 10vh;
      right: 0;
      position: fixed;
    }
    .navbar-nav li {
      padding-bottom: 0.5rem;
    }
    header {
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      width: 100%;
    }
    body {
      margin-top: 9rem !important;
    }
    .tabs-section .tabs .tab {
      flex-direction: column;
      height: 60px;
    }
    .tabs-section .tabs {
      top: -62px;
    }
    .accordian-side {
      width: 100%;
    }

    .story-content p {
      padding: 2rem 0;
    }
    div.td-module p.main-content {
      width: 100%;
    }
    .testimonial .slick-next {
      right: -20px !important;
    }
    .testimonial .slick-prev {
      left: -17px !important;
    }
  }
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-flex {
    display: flex;
  }
  .mt-6 {
    margin-top: 1.5rem;
  }
  .sm-w-1-2 {
    width: 50%;
  }
  .lg-w-1-4 {
    width: 25%;
  }
  .md-pt-16 {
    padding-top: 4rem;
  }
  .md-flex-row {
    display: flex;
    flex-direction: row;
  }
  .md-w-1-3 {
    width: 32.333333%;
  }
  .md-pt-24 {
    padding-top: 6rem;
  }
  .feature-modal .xoo-modal__wrapper {
    color: black !important;
    background-color: white !important;
  }
  .feature-modal .mktoForm label,
  .mktoForm .mktoLabel span {
    color: black !important;
  }
  .feature-modal .mktoForm input {
    border: #979797 1px solid !important;
  }
  .xoo-modal {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2.5rem 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-animation: fadeIn 512ms ease-out forwards;
    animation: fadeIn 512ms ease-out forwards;
    will-change: opacity;
    overflow: auto;
    text-align: center;
    color: white;
  }
  .xoo-modal__scroller {
    overflow: auto;
    max-height: calc(100vh - 5rem);
  }
  @media (min-width: 992px) {
    .xoo-modal__scroller {
      max-height: calc(100vh - 10rem);
    }
  }
  .xoo-modal.open {
    display: block;
  }
  .xoo-modal__wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: #001e45;
    -webkit-filter: drop-shadow(0 0 20px rgba(51, 51, 51, 0.25));
    filter: drop-shadow(0 0 20px rgba(51, 51, 51, 0.25));
    opacity: 0;
    -webkit-animation: fadeIn 512ms ease-out forwards 512ms;
    animation: fadeIn 512ms ease-out forwards 512ms;
    will-change: opacity;
  }
  .xoo-modal.not-authorized .xoo-modal__wrapper {
    max-width: calc(1200px - 2.5rem);
  }
  .xoo-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 2.5rem;
    width: 0.9em;
    height: 0.9em;
    background-color: #a80000;
    cursor: pointer;
  }
  .xoo-modal__close:before,
  .xoo-modal__close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.05em;
    border-radius: 0.05em;
    background-color: white;
  }
  .xoo-modal__close:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .xoo-modal__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .xoo-modal__close:hover {
    background-color: #bd0000;
  }
  @media (min-width: 992px) {
    .xoo-modal__close {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      -webkit-transform: scale(1) translate(50%, -50%);
      transform: scale(1) translate(50%, -50%);
    }
  }
  .xoo-modal.not-allowed .content img {
    display: none;
  }
  .xoo-modal.not-allowed .footer {
    margin: 0 -2.5rem -2.5rem -2.5rem;
    padding: 2.5rem;
    color: white;
    background-color: #001e45;
  }
  .xoo-modal.not-allowed .footer a {
    color: #00b9e7;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .xoo-modal.not-allowed .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .xoo-modal.not-allowed .content img {
      display: block;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<script
  type="text/javascript"
  async
  src="https://play.vidyard.com/embed/v4.js"
></script>