<div class="cmp-todays-action-items">
  <div class="cmp-todays-action-items__title">
    TODAY'S ACTION ITEMS
    </div>
    <div class="cmp-todays-action-items__tab">
        <div class="cmp-todays-action-items__tab--title">
            Orders Blocked
        </div>
        <div class="cmp-todays-action-items__tab--items">
           1
        </div>
        <div class="cmp-todays-action-items__tab--action-icon">
            <i class="fas fa-ban"></i>
        </div>
    </div>
    <div class="cmp-todays-action-items__tab">
        <div class="cmp-todays-action-items__tab--title">
            Deals Expiring
        </div>
        <div class="cmp-todays-action-items__tab--items">
            5
        </div>
        <div class="cmp-todays-action-items__tab--action-icon">
            <i class="fas fa-stopwatch"></i>
        </div>
    </div>
</div>
