<div id="TodaysAction" data-observe-mutation>
	<div
		data-component="TodaysActionItems"
		data-cmp-type="react"
		className="cmp-topConfig"
		data-config='{
             "uiServiceEndPoint":"http://localhost:3000/ui-account/v1/topActions?top=5",
             "mainTitle" : "Main Title",
             "ordersBlocked" : "Orders Blocked from json config",
             "iconOrdersBlocked" : "fas fa-ban",
             "dealsExpiring" : "Deals Expiring from json config",
             "iconDealsExpiring" : "fas fa-hourglass-half"
            }'
	></div>
</div>
