<div class="teaser cmp-teaser-csr__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
    <div id="teaser-425fa125c7" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-425fa125c7&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-12T17:02:21Z&quot;,&quot;dc:title&quot;:&quot;Edge&quot;,&quot;dc:description&quot;:&quot;<p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.google.com&quot;}}">
      <div class="cmp-teaser__image">
        <a class="cmp-image__link" href="https://www.google.com" data-cmp-clickable="" data-cmp-hook-image="link">
          <img src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
        </a>
      </div>
      <div class="cmp-teaser__content">
        <h2 class="cmp-teaser__title">
            <a class="cmp-teaser__title-link" href="https://www.google.com" data-cmp-clickable="">Environmental</a>
        </h2>
        <div class="cmp-teaser__description">
          <p>At TD SYNNEX, our vision for a vibrant, interconnected world remains focused on protecting our environment. We are committed to lowering our global carbon footprint, setting targets for emission reductions, increasing our sustainability initiatives and supporting our customers and vendors.</p>
        </div>
      </div>
    </div>
  </div>
  