<div id="WhiteLabelQuoteHeader" data-observe-mutation">
  <div
      data-component="WhiteLabelQuoteHeader"
      data-cmp-type="react"
      className="cmp-whitelabelquoteheader"
      data-config='{
        "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/details",
        "information": {
            "yourCompanyHeaderLabel": "Your Company Information",
            "yourLogoLabel": "Your logo",
            "productImagesLabel": "Product images",
            "partNoManufacturerLabel": "Part number - manufacturer",
            "partNoTDLabel": "Part number - Tech Data",
            "trackingNoLabel": "UPC number",
            "MSRPLabel": "MSRP",
            "endUserHeaderLabel": "End User Information",
            "generalHeaderLabel": "General Information",
            "emailLabel": "Email",
            "phoneLabel": "Phone",
            "sourceLabel": "Source",
            "tierLabel": "Tier",
            "referenceLabel": "Reference",
            "dealLabel": "Deal"
        },
        "title": "Create a quote for your end user",
        "subtitle": "Items to include on quote:",
        "items": {
          "logo": "Your logo",
          "image": "Product images",
          "manufacturer": "Part number- manufacturer",
          "TD": "Part number- Tech data",
          "upc": "UPC number",
          "msrp": "MSRP"
        }
      }'
  ></div>
</div>
