.cmp-quote-details {
  .cmp-qp__general-info {
    display: inline-grid;
    width: 33%;
    margin: rem(30px) 0;
    padding-left: rem(65px);
    box-shadow: rem(1px) 0 0 0 get-color(v-divider-gray);
    &--title {
        margin-bottom: 0.75rem;
        cursor: auto;
        position: unset;
        &::before {
            content: none;
        }
    }
    &--address-group {
        .cmp-qp__information-row--readonly {
          height: unset;
          padding-bottom: rem(2px);
          
          & > span {
            font-weight: 600;
          }
        }
    }
  }
}
