@import '../../variables';
@import '../../../site/variables';

.cmp-renewals {
	display: grid;
	grid-template-columns: 70% 30%;
	width: rem(445px);
	position: relative;
	font-family: 'Open Sans', sans-serif;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px;
	&-info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
	}
	&__title {
		font-size: $font-size-small;
		text-transform: uppercase;
		color: get-color(text-mid-gray);
		width: rem(115px);
		align-self: baseline;
		margin-bottom: rem(48px);
	}
	&__sub-title {
		font-size: $font-size-xsmall;
		font-family: Verdana, sans-serif;
		color: get-color(text-light-charcoal);

		&--digits {
			font-size: $font-size-custom-large;
		}
	}
	&__all-days {
		display: flex;
		justify-content: start;
	}
	&__today {
		position: absolute;
		right: 0;
		padding-right: rem(48px);
		display: flex;
		width: auto;
		margin: auto;
		text-align: center;
		&--number {
			font-size: $font-size-custom-large;
		}
	}
	&__chart {
		& .chart-container {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	&__error {
		margin-top: rem(28px);
	}
	&-color-1 {
		border-left: rem(6px) solid get-color(brand-primary-text);
		padding-left: rem(6px);
		padding-right: rem(28px);
	}
	&-color-2 {
		border-left: rem(6px) solid get-color(tertiary-light-blue);
		padding-left: rem(6px);
		padding-right: rem(28px);
	}
	&-color-3 {
		border-left: rem(6px) solid get-color(brand-blue);
		padding-left: rem(6px);
		padding-right: rem(28px);
	}
}
