@import '../../variables';
@import '../../../site/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Ported from ui.frontend/src/main/webpack/components/_icons.scss
.info-icon {
  color: get-color(brand-light-blue);
}

.cmp-td-quote-subtotal {
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-content: flex-end;

  &__price-area {
    display: inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;

    &--title {
      font-size: 1.25rem;
    }

    &--price {
      font-size: 1.5rem;
      margin-left: 1.875rem;
    }
  }

  &__checkout-area {
    width: 15rem;
  }
}
