# Configuration created by Apache Sling JCR Installer
sling.servlet.resourceTypes=["techdata/components/page"]
include.lastmod=B"false"
character.encoding=""
extensionless.urls=B"false"
changefreq.properties=[""]
remove.slash=B"false"
include.inherit=B"false"
damassets.property=""
damassets.types=[""]
priority.properties=[""]
exclude.property="hideInNav"
externalizer.domain="publish"
