// to handle the container max-width style
.cmp-container--max-1440 {
  .cmp-tools {
    max-width: 90rem;
  }
}

.menucategorieslist {
  @include tablet {
    display: none;
  }
  .cmp-tools,
  .cmp-tools--editor {
    margin: 0;
    padding: 0.625rem;
    display: flex;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: 190px;
    background: get-color(brand-white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
    ul,
    li {
      padding: 0;
      margin: 0;
    }
    .cmp-tools__category-name {
      min-width: 180px;
      padding-right: 1.875rem;
      margin-right: 0.625rem;
      color: get-color(brand-blue);
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.25rem;
    }
    li {
      list-style: none;
      a {
        color: get-color(brand-text-gray);
        font-size: 0.8125rem;
        font-weight: normal;
        line-height: 1.25rem;
        text-decoration: none;
      }
    }
  }

  .cmp-tools {
    position: absolute;
  }
}
