.headerutility {
    z-index: 99;
    &.aem-GridColumn {
        display: flex !important;
        align-items: center;
        justify-content: flex-end !important;
        flex: 0;
        margin-left: auto;
        flex-wrap: nowrap;
        @include reset-aemgrid;
    } 
    .signin {
        white-space: nowrap;
    }
    .minicart,
    .signin,
    .languagenavigation,
     .hub {
        padding: 0 10px;
         @media only screen and (min-width: 1024px) and (max-width: 1260px){
                    padding: 0 5px;
         }
    }
    .languagenavigation {
        position: relative;
        white-space: nowrap;
        #regionSelectDropdown {
            position: absolute;
            right: 2px;
            top: 53px;
            z-index: 100;
            @include tablet {
                position: fixed;
            }
        }
    }
}
