%clickable-action {
    display: flex;
    gap: rem(8px);
    align-items: center;
    cursor: pointer;
    & > * {
        cursor: pointer;
    }
}
.cmp-order-tracking-grid {
    .ag-header-cell[col-id~="total"] {
        text-align: right;
        .ag-header-cell-text[ref='eText'] {        
            position: relative;
            &::before {
                position: absolute;
                top: 1.8px;
                left: -14px;
            }
        }
    }
    .ag-cell.ag-cell-value[col-id~="total"] {
        .ag-react-container {
            text-align: right;
        }
    }
    &__open-orders {
        @extend %clickable-action;
    }
    &__search {
        @extend %clickable-action;
    }
    &__filter {
        @extend %clickable-action;
    }
    &__export {
        @extend %clickable-action;
    }

    &__select-column {
        &__caret {
            margin-left: 28px;
        }
    }
}