.dp-separator {
  width: 100%;
  position: relative;
  display: flex;

  hr {
    height: 1px;
  }

  &--light-blue {
    .cmp-separator__horizontal-rule {
      color: get-color(brand-light-blue);
      border-color: get-color(brand-light-blue);
    }
  }

  &--dark-blue {
    .cmp-separator__horizontal-rule {
      color: get-color(brand-blue);
      border-color: get-color(brand-blue);
    }
  }

  &--gray {
    .cmp-separator__horizontal-rule {
      color: get-color(accessible-accent-grey);
      border-color: get-color(accessible-accent-grey);
    }
  }

  &--white {
    .cmp-separator__horizontal-rule {
      color: get-color(brand-white);
      border-color: get-color(brand-white);
    }
  }

  &--hidden {
    .cmp-separator__horizontal-rule {
      visibility: hidden;
    }
  }

  &--teal {
    .cmp-separator__horizontal-rule {
      color: map-get($color-palette, "teal") !important;
      border-color: map-get($color-palette, "teal") !important;
      background-color: map-get($color-palette, "teal") !important;
    }
  }

  &--deep-teal {
    .cmp-separator__horizontal-rule {
      color: get-color(deep-teal) !important;
      border-color: get-color(deep-teal) !important;
      background-color: get-color(deep-teal) !important;
    }
  }

  &--steel-blue {
    .cmp-separator__horizontal-rule {
      color: get-color(steel-blue) !important;
      border-color: get-color(steel-blue) !important;
      background-color: get-color(steel-blue) !important;
    }
  }

  &--green {
    .cmp-separator__horizontal-rule {
      color: map-get($color-palette, "green") !important;
      border-color: map-get($color-palette, "green") !important;
      background-color: map-get($color-palette, "green") !important;
    }
  }

  &--stone {
    .cmp-separator__horizontal-rule {
      color: get-color(stone) !important;
      border-color: get-color(stone) !important;
      background-color: get-color(stone) !important;
    }
  }

  &--cool-gray-1 {
    .cmp-separator__horizontal-rule {
      color: get-color(cool-gray-1) !important;
      border-color: get-color(cool-gray-1) !important;
      background-color: get-color(cool-gray-1) !important;
    }
  }

  &--aqua {
    .cmp-separator__horizontal-rule {
      color: map-get($color-palette, "aqua") !important;
      border-color: map-get($color-palette, "aqua") !important;
      background-color: map-get($color-palette, "aqua") !important;
    }
  }

  &--space {
    &-zero {
      .cmp-separator {
        margin: 0;
        hr {
          margin: 0;
        }
      }
    }

    &-small {
      .cmp-separator {
        margin: rem(16px) 0;
      }
    }

    &-medium {
      .cmp-separator {
        margin: rem(32px) 0;
      }
    }

    &-large {
      .cmp-separator {
        margin: rem(64px) 0;
      }
    }
  }
}

.dp-general__separator {
  border-color: get-color(brand-blue);

  &-left {
    border-left: 1px solid;
  }

  &-right {
    border-right: 1px solid;
  }

  &-top {
    border-top: 1px solid;
  }

  &-bottom {
    border-bottom: 1px solid;
  }

  &--light-blue {
    border-color: get-color(brand-light-blue);
  }

  &--dark-blue {
    border-color: get-color(brand-blue);
  }

  &--gray {
    border-color: get-color(accessible-accent-grey);
  }

  &--white {
    border-color: get-color(brand-white);
  }

  &--navy {
    border-color: map-get($color-palette, "navy") !important;
  }

  &--aqua-blue {
    border-color: map-get($color-palette, "aqua") !important;
  }

  &--planet {
    border-color: map-get($color-palette, "chartreuse")chartreuse !important;
  }

  &--copper {
    border-color: map-get($color-palette, "copper") !important;
  }
}

.dp-stream__separator {
  border-top: solid 5.36px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

  div {
    padding: 0.335em 0.341rem;
  }
}

.tds-separator-horizontal {
  hr {
    border-top-width: rem(2px) !important;
  }
}