<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Static Frontend file</title>
		<meta name="template" content="page-content" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="/etc.clientlibs/techdata/clientlibs/clientlib-base.css" type="text/css"> -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-dependencies.js"></script>
		<link rel="stylesheet" href="/etc.clientlibs/techdata/clientlibs/clientlib-dependencies.css" type="text/css" />
	</head>
	<body class="page basicpage">
		<div class="root container responsivegrid">
			<div class="cmp-container">
				<!-- Start teaser Box 1 -->
				<div class="container responsivegrid">
					<div id="maincontent" class="cmp-container">
						<div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
							<div
								class="container responsivegrid cmp-container--fixed cmp-container--padding aem-GridColumn aem-GridColumn--default--12"
							>
								<div id="container-c92b3ef9df" class="cmp-container">
									<div class="aem-Grid aem-Grid--2 aem-Grid--default--2 aem-Grid--phone--12">
										<div class="hero-title title aem-GridColumn aem-GridColumn--default--2">
											<div
												data-cmp-data-layer='{"hero-title-ce3b569e11":{"@type":"techdata/components/content/hero-title","repo:modifyDate":"2020-11-24T10:05:10Z","dc:title":"McCafé® Coffee"}}'
												class="cmp-title"
											>
												<h1 class="cmp-title__text">Form Options Components Variations</h1>
												<%= require('html-loader!./partials/signin/signin.html') %>
											</div>
										</div>
										<h4 class="cmp-title">Checkbox</h4>
										<div
											class="aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--1"
										>
											<%= require('html-loader!./partials/form-options/checkbox.html') %>
										</div>
										<h4 class="cmp-title">Drop Down</h4>
										<div
											class="aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--1"
										>
											<%= require('html-loader!./partials/form-options/drop-down.html') %>
										</div>
										<h4 class="cmp-title">Multi Select Drop Down</h4>
										<div
											class="aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--1"
										>
											<%= require('html-loader!./partials/form-options/multi-select-drop-down.html') %>
										</div>
										<h4 class="cmp-title">Radio Button</h4>
										<div
											class="aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--1"
										>
											<%= require('html-loader!./partials/form-options/radio-button.html') %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End teaser Box 1 -->
			</div>
		</div>
		<!-- <script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-site.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-base.js"></script> -->
	</body>
</html>
