<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Static Frontend file</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://localhost:9000/bundle.css" type="text/css" />
    <script
			src="/etc/cloudsettings.kernel.js/libs/settings/cloudsettings/legacy/contexthub"
			type="text/javascript"
		></script>
</head>
<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <!-- Start teaser Box 1 -->
            <div class="container responsivegrid">
                <div id="maincontent" class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="container responsivegrid cmp-container--fixed cmp-container--padding aem-GridColumn aem-GridColumn--default--12">
                            <div id="container-c92b3ef9df" class="">
                                <div class="aem-Grid aem-Grid--2 aem-Grid--default--2 aem-Grid--phone--12 ">
                                    <div class="hero-title title aem-GridColumn aem-GridColumn--default--2">
                                        <div data-cmp-data-layer="{&quot;hero-title-ce3b569e11&quot;:{&quot;@type&quot;:&quot;techdata/components/content/hero-title&quot;,&quot;repo:modifyDate&quot;:&quot;2020-11-24T10:05:10Z&quot;,&quot;dc:title&quot;:&quot;McCafé® Coffee&quot;}}" class="cmp-title">
                                            <h1 class="cmp-title__text">My configurations component</h1>
                                        </div>
                                    </div>
                                    <div class="aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--1">
                                        <%= require('html-loader!./partials/signin/signin.html') %>
                                        <%= require('html-loader!./partials/myconfigurations/myconfigurations.html') %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End teaser Box 1 -->
        </div>
    </div>
    <script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-dependencies.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-site.js"></script>

    <script
        type="text/javascript"
        src="/etc.clientlibs/core/wcm/components/commons/site/clientlibs/container.js"
    ></script>
    <script type="text/javascript" src="/etc.clientlibs/techdata/clientlibs/clientlib-base.js"></script>
    <script src="http://localhost:9000/bundle.js"></script>
</body>
</html>