<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <base href="" />
    <title>Order Tracking</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="http://localhost:9000/bundle.css" type="text/css" />

    <style>
        .test-dev-env-sticky {
            position: fixed;
            top: 0;
            z-index: 999;
            background: #ffffff;
            width: 100%;
        }

        .aem-GridColumn--default--1--dev--test {
            padding: 0 2rem;
        }
    </style>
    <%= require('html-loader!./partials/intouch/head.html') %>
</head>

<body class="intouchpage page basicpage" id="intouchpage-99333e9456" data-signin-httponly data-disable-extra-reload data-cmp-data-layer-enabled>
    <div class="page-container">
        <div id="intouch-headerhtml">
            <%= require('html-loader!./partials/intouch/header.html') %>
        </div>
        <div class="container responsivegrid">
            <div id="container-5facbc53d1" class="cmp-container">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="container responsivegrid dp-general__separator--gray dp-general__innerspace--right dp-general__innerspace--left aem-GridColumn aem-GridColumn--default--12">
                        <div id="container-109cb7ce87" class="cmp-container ">
                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                <section class="dp-title cmp-tds-title cmp-text__black aem-GridColumn aem-GridColumn--default--12">
                                    <div data-cmp-data-layer="{&quot;title-fc4177b6d6&quot;:{&quot;@type&quot;:&quot;tds-site/components/title&quot;,&quot;dc:title&quot;:&quot;Order Tracking\t\t\t\t\t\t\t\t&quot;,&quot;jcr:title&quot;:&quot;Order Tracking\t\t\t\t\t\t\t\t&quot;,&quot;repo:modifyDate&quot;:&quot;2023-06-13T09:47:10Z&quot;}}" id="title-fc4177b6d6" class="cmp-title">
                                        <h3 class="dp-title__text" style="color:  !important">
                                            Order Tracking
                                        </h3>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="orderstrackinggrid aem-GridColumn aem-GridColumn--default--12">
                        <%= require('html-loader!./partials/grids/orders-tracking-grid.html') %>
                    </div>
                </div>
            </div>
        </div>
        <div id="intouch-footerhtml">
            <%= require('html-loader!./partials/intouch/footer.html') %>
        </div>
    </div>
    <%= require('html-loader!./partials/intouch/foot.html') %>
    <%= require('html-loader!./partials/included-scripts/included-scripts.html') %>
    <script>
        window.onscroll = () => addSticky();
        let header = document.querySelector(".cmp-experiencefragment--test---header");
        let sticky = header.offsetTop;
        function addSticky() {
            if (window.pageYOffset > sticky) {
                header.classList.add("test-dev-env-sticky");
            } else {
                header.classList.remove("test-dev-env-sticky");
            }
        }
    </script>
</body>
</html>
