
.hero-style-4 {
    position: relative;

    &__image {}

    .cmp-teaser__content {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        padding: 3.438rem;
        margin-top: -26%;
        margin-left: 4%;
        z-index: 1;

        @include mobile {
            padding: 0;
        }
    }

    .cmp-teaser__pretitle {
        display: none;
    }

    .cmp-teaser__title {
        float: left;
        width: 50%;
        max-width: rem(530px);
        text-shadow: 0 0 0.063rem #919599;
        font-size: 2rem;
        letter-spacing: 0rem;
        line-height: 2.688rem;
        text-align: right;
        padding-right: 4.438rem;
        border-right: 0.063rem solid #979797;
        box-sizing: border-box;
        font-weight: 400;

        &:after {
            font-weight: 600;
            padding: rem(0px 6px);
            position: relative;
            top: -8px;
            text-shadow: none;
            font-size: 15px;
            letter-spacing: 0;
        }

        @include desktop {
            &:after {
                padding: rem(1px 9px);
                font-size: 20px;
                top: -10px;
            }
        }

        @include mobile {
            font-size: 0.8rem;
            line-height: inherit;
            padding-right: 2.438rem;
        }
    }

    &__title-link {}

    .cmp-teaser__description {
        float: left;
        width: 50%;
        text-shadow: 0 0 0.063rem #919599;
        font-weight: normal;
        font-size: 1rem;
        letter-spacing: 0rem;
        line-height: 1.375rem;
        padding-left: 3.438rem;
        padding-right: 0;
        padding-bottom: 0;
        margin: 0rem;
        max-width: rem(550px);

        @include mobile {
            font-size: 0.6rem;
            line-height: inherit;
            padding-left: 2rem;
            width: 80%;
        }
    }
}
