@import './../teaser/teaser.scss';

.cmp-teaser-demo {
  // Add "cmp-teaser--solution" class for solution Variation
  &--solution {
    margin-bottom: rem-convert(100px);
    margin-top: rem-convert(100px);

    @include media('<lg') {
      margin-bottom: rem-convert(60px);
    }
    .cmp-teaser-demo__image {
      position: relative;
      width: 100%;
      z-index: 1;
      background-size: cover;
      display: flex;
      justify-content: center;
      .cmp-image__image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        position: absolute;
        top: 0;
        transform: translate(-50%, -40%);
        border-radius: 100px;
      }
    }
    .cmp-teaser-demo__content {
      padding: rem-convert(64px) rem-convert(54px) rem-convert(45px) rem-convert(50px);
      border: rem-convert(1px) solid get-color(secondary-light-grey);
      min-height: rem-convert(250px);

      @include media('<lg') {
        padding: rem-convert(64px) rem-convert(12px) rem-convert(10px) rem-convert(12px);
      }
    }
    .cmp-teaser-demo__description {
      color: get-color(secondary-dark-grey);
      font-size: rem-convert(14px);
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      min-height: 75px;
    }
    .cmp-teaser-demo__title {
      color: get-color(brand-black);
      font-size: rem-convert(24px);
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      font-weight: 700;
    }
  }
  // Add "cmp-teaser-demo--about-us" class for about us Variation
  &--about-us {
    margin-bottom: rem-convert(100px);
    margin-top: rem-convert(148px);

    @include media('<lg') {
      margin-bottom: rem-convert(60px);
    }
    .cmp-teaser-demo__image {
      position: relative;
      width: 100%;
      z-index: 1;
      background-size: cover;
      display: flex;
      justify-content: center;
      .cmp-image__image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        top: 0;
        transform: translate(-50%, -40%);
        border-radius: 300px;
        border: 40px solid get-color(brand-blue);
      }
    }
    .cmp-teaser-demo__content {
      padding: rem-convert(192px) rem-convert(54px) rem-convert(16px) rem-convert(50px);
      border: rem-convert(1px) solid get-color(secondary-light-grey);
      min-height: rem-convert(350px);

      @include media('<lg') {
        padding: rem-convert(192px) rem-convert(12px) rem-convert(10px) rem-convert(12px);
      }
    }
    .cmp-teaser-demo__description {
      color: get-color(secondary-dark-grey);
      font-size: rem-convert(14px);
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      min-height: 75px;
    }
    .cmp-teaser-demo__title {
      color: get-color(secondary-link-blue);
      font-size: rem-convert(24px);
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      font-weight: 700;
    }
  }
}

$teaser-headings: (
  //  tag  size      weight line-height
  'h1' rem-convert(54px) bold rem-convert(56px),
  'h2' rem-convert(36px) bold rem-convert(40px),
  'h3' rem-convert(36px) normal rem-convert(40px),
  'h4' rem-convert(24px) bold rem-convert(32px),
  'h5' rem-convert(24px) normal rem-convert(28px),
  'h6' rem-convert(16px) bold rem-convert(24px)
);

$teaser-headings-mobile: ('h1' rem-convert(36px) bold rem-convert(40px), 'h2' rem-convert(28px) bold rem-convert(32px), 'h3' rem-convert(28px) normal rem-convert(32px), 'h4' rem-convert(20px) bold rem-convert(24px), 'h5' rem-convert(20px) normal rem-convert(24px), 'h6' rem-convert(16px) bold rem-convert(24px));

.cmp-teaser-demo__content {
  text-align: left;

  @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings-mobile {
    #{$heading} {
      font-size: $fontSize;
      font-weight: $weight;
      line-height: $lineHeight;
    }
  }
  @include media('>=lg') {
    @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings {
      #{$heading} {
        font-size: $fontSize;
        font-weight: $weight;
        line-height: $lineHeight;
      }
    }
  }
  &__text {
    margin: 0 0 rem-convert(40px) 0;
    letter-spacing: rem-convert(-0.15px);
    @include media('>=lg') {
      margin: 0 0 rem-convert(50px) 0;
    }
  }
}
