<router-outlet></router-outlet>
<div class="compName">MY CONFIGURATIONS</div>
<ul>
    <li>
        <app-chart-comp [dataOnClick]="chart1data"></app-chart-comp>
        <button class="btn-simple" >Change Customer Data</button>
    </li>
    <li>
        <app-chart-comp [dataOnClick]="chart2data"></app-chart-comp>
        <button class="btn-simple" >Change Sales Data</button>
    </li>
    <li>
        <app-chart-comp [dataOnClick]="chart3data"></app-chart-comp>
        <button class="btn-simple" >Change Prod Data</button>
    </li>
</ul>