<div class="row row-cols-2 row-cols-sm-3 row-cols-md-5">
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Computing</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Mobility & loT</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Data Center</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Peripherals</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Software</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Networking</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Components</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Audio Visual</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Supplies</p>
  </div>
  <div class="col text-center my-3 fs-5 fw-light">
    <span class="small-circle mb-2 border rounded-circle border-5"></span>
    <p>Warranties</p>
  </div>
</div>