<div class="container">
  <h2 class="fw-light section-title">Over <span class="text-info">22 million</span> products in stock</h2>
  <div class="row align-items-center my-5">
    <div class="col-md-auto">
      <div role="tablist" class="vertical-list nav flex-md-column px-3" aria-label="otra" aria-mdivtiselectable="false">
        <a class="nav-link fs-3 fw-light active" data-toggle="tab" href="#compare-tab" role="tab"
          aria-controls="compare-tab" aria-selected="true">Compare</a>
        <a class="nav-link fs-3 fw-light" data-toggle="tab" href="#select-tab" role="tab" aria-controls="select-tab"
          aria-selected="false">Select</a>
        <a class="nav-link fs-3 fw-light" data-toggle="tab" href="#quote-tab" role="tab" aria-controls="quote-tab"
          aria-selected="false">Quote</a>
        <a class="nav-link fs-3 fw-light" data-toggle="tab" href="#faster-tab" role="tab" aria-controls="faster-tab"
          aria-selected="false">Faster</a>
      </div>
    </div>
    <div class="col">
      <div class="tab-content" id="myTabContent0">
        <div id="compare-tab" role="tabpanel" aria-labelledby="compare-tab" tabindex="0"
          class="tab-pane fade show active" role="tabpanel" data-cmp-hook-tabs="tabpanel">
          <div data-sly-unwrap data-sly-use.frontTemplate="tabpanel.html">
            <div data-sly-unwrap data-sly-call="${frontTemplate}"></div>
          </div>
        </div>
        <div id="select-tab" role="tabpanel" aria-labelledby="select-tab" tabindex="1" class="tab-pane fade"
          role="tabpanel" data-cmp-hook-tabs="tabpanel">
          <div data-sly-unwrap data-sly-use.frontTemplate="tabpanel.html">
            <div data-sly-unwrap data-sly-call="${frontTemplate}"></div>
          </div>
        </div>
        <div id="quote-tab" role="tabpanel" aria-labelledby="quote-tab" tabindex="1" class="tab-pane fade"
          role="tabpanel" data-cmp-hook-tabs="tabpanel">
          <div data-sly-unwrap data-sly-use.frontTemplate="tabpanel.html">
            <div data-sly-unwrap data-sly-call="${frontTemplate}"></div>
          </div>
        </div>
        <div id="faster-tab" role="tabpanel" aria-labelledby="faster-tab" tabindex="1" class="tab-pane fade"
          role="tabpanel" data-cmp-hook-tabs="tabpanel">
          <div data-sly-unwrap data-sly-use.frontTemplate="tabpanel.html">
            <div data-sly-unwrap data-sly-call="${frontTemplate}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center">
    <a class="btn btn-link btn-lg text-decoration-none" href="#">Learn about all of our Products <i
        class="fas fa-chevron-right"></i></a>
  </p>
</div>