<div class="tabs" data-component="tabs">
    <div id="tabs-4102fed94f" class="cmp-tabs" data-cmp-data-layer="{&quot;tabs-4102fed94f&quot;:{&quot;shownItems&quot;:[&quot;tabs-4102fed94f-item-cfdf1a57a8&quot;],&quot;@type&quot;:&quot;core-components-examples/components/tabs&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:15:45Z&quot;}}" data-placeholder-text="false">
      <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
        <li role="tab" id="tabs-4102fed94f-item-dceeb2558b-tab" class="cmp-tabs__tab" aria-controls="tabs-4102fed94f-item-dceeb2558b-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Tab 1</li>
        <li role="tab" id="tabs-4102fed94f-item-b216ff5512-tab" class="cmp-tabs__tab" aria-controls="tabs-4102fed94f-item-b216ff5512-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Tab 2</li>
        <li role="tab" id="tabs-4102fed94f-item-cfdf1a57a8-tab" class="cmp-tabs__tab cmp-tabs__tab--active" aria-controls="tabs-4102fed94f-item-cfdf1a57a8-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">Tab 3</li>
      </ol>
      <div id="tabs-4102fed94f-item-dceeb2558b" role="tabpanel" aria-labelledby="tabs-4102fed94f-item-dceeb2558b" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-4102fed94f-item-dceeb2558b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
      <div id="tabs-4102fed94f-item-b216ff5512" role="tabpanel" aria-labelledby="tabs-4102fed94f-item-b216ff5512" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-4102fed94f-item-b216ff5512&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
      <div id="tabs-4102fed94f-item-cfdf1a57a8" role="tabpanel" aria-labelledby="tabs-4102fed94f-item-cfdf1a57a8" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-4102fed94f-item-cfdf1a57a8&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
    </div>
  </div>