<!-- Your Company Information -->

<section class="cmp-quote-address-info">
    <div class="cmp-quote-address-info__title">
        Your Company Information
    </div>
    <div class="cmp-quote-address-info__company-name">
        The Company Name Inc.
    </div>
    <div class="cmp-quote-address-info__company-info">
        <div class="cmp-quote-address-info__company-info--name">Wade Wilson</div>
        <div class="cmp-quote-address-info__company-info--street">9071 Santa Monica Blvd</div>
        <div class="cmp-quote-address-info__company-info--city-state-zip">West Hollywood, CA 90069</div>
        <div class="cmp-quote-address-info__company-info--state">United States</div>
        
        <div>Email: dpool@sismargarets.com</div>
        <div>Phone: (424) 777-8399</div>
    </div>
</section>
<section class="cmp-quote-address-info">
    <div class="cmp-quote-address-info__title">
        End User Information
    </div>
    <div class="cmp-quote-address-info__company-name">
        Stark Enterprises
    </div>
    <div class="cmp-quote-address-info__company-info">
        <div class="cmp-quote-address-info__company-info--name">Wade Wilson</div>
        <div class="cmp-quote-address-info__company-info--street">9071 Santa Monica Blvd</div>
        <div class="cmp-quote-address-info__company-info--city-state-zip">West Hollywood, CA 90069</div>
        <div class="cmp-quote-address-info__company-info--state">United States</div>
        
        <div>Email: dpool@sismargarets.com</div>
        <div>Phone: (424) 777-8399</div>
    </div>
</section>
<section class="cmp-quote-address-info">
    <!-- <div class="cmp-quote-address-info__title">
        General Information
    </div>
    _________________________________________________________________________________________________

    WE DON'T NEED THIS SECTION FOR THE STORY 148232. I AM CREATING THE SECTION AS A PLACEHOLDER.
                                                                                            ~ OP 
    _________________________________________________________________________________________________
    
-->
</section>