<section>
    <div class="cmp-deals__title">
        My Order Status
    </div>
    <div class="cmp-deals">
      <div class="cmp-deals__table">
        <table cellpadding="0" cellspacing="6">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td class="cmp-deals__sub-title-color-1"></td>
              <td class="cmp-deals__sub-title">On Hold</td>
            </tr>
            <tr>
              <td class="cmp-deals__sub-title-color-2"></td>
              <td class="cmp-deals__sub-title">In Process</td>
            </tr>
            <tr>
              <td class="cmp-deals__sub-title-color-3"></td>
              <td class="cmp-deals__sub-title">Shipped</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cmp-deals__bar-Graph">
        <section>
            <span class="cmp-deals__icon-color-1">
                <i class="fa-3x fas fa-bell"></i>
            </span>
            <div class="cmp-deals__count">
                  4
            </div>
        </section>
        <section>
            <span class="cmp-deals__icon-color-2">
                <i class="fa-3x fas fa-clock"></i>
            </span>
            <div class="cmp-deals__count">
                  16
            </div>
        </section>
        <section>
            <span class="cmp-deals__icon-color-3">
                <i class="fa-3x fas fa-calendar-week"></i>
            </span>
            <div class="cmp-deals__count">
                  42
            </div>
        </section>
  
      </div>
  
    </div>
</section>