<section id="cmp-quotes">

  <div class="cmp-quotes">
    <div class="cmp-quotes__title">My Quotes</div>

    <div class="cmp-quotes__all-myQuotes">

      <div class="cmp-quotes__sub-title">
        Converted
        <div class="cmp-quotes__sub-title--digits">41.49%</div>
      </div>

      <div class="cmp-quotes__sub-title">
        Open
        <div class="cmp-quotes__sub-title--digits">38</div>
      </div>

      <div class="cmp-quotes__sub-title">
        Quote to Order
        <div class="cmp-quotes__sub-title--digits">12:1</div>
      </div>

    </div>
  </div>

  <div class="cmp-quotes">
    <div class="cmp-quotes__active-value">
      <div class="cmp-quotes__active-value--price">$879,999</div>
      <div class="cmp-quotes__active-value--title">Active Quote Value</div>
    </div>
  </div>

</section>