<section id="cmp-renewals">

  <div class="cmp-renewals">
    <div class="cmp-renewals__title">My Renewals</div>
  </div>

  <div class="cmp-renewals">

    <div class="cmp-renewals__all-days">

      <div class="cmp-renewals__sub-title cmp-renewals-color-1">
        30 Days:
        <div class="cmp-renewals__sub-title--digits">19</div>
      </div>

      <div class="cmp-renewals__sub-title cmp-renewals-color-2">
        60 Days:
        <div class="cmp-renewals__sub-title--digits">42</div>
      </div>

      <div class="cmp-renewals__sub-title cmp-renewals-color-3">
        90 Days:
        <div class="cmp-renewals__sub-title--digits">89</div>
      </div>

    </div>

    <div class="cmp-renewals__today">
      <div class="cmp-renewals__today--number">2
        <div class="cmp-renewals__sub-title">TODAY</div>
      </div>
    </div>

    
  </div>

</section>