<div id="QuoteDetails" data-observe-mutation>
  <div
    data-component="QuoteDetails"
    data-cmp-type="react"
    className="cmp-td-quote-details"
    data-config='{
      "logoURL": "http://localhost:8080/content/techdata/language-masters/en/_jcr_content/root/container/container_943305826/teaser_copy_573990399.coreimg.png/1627657642556/security.png",
      "downloadLinkText": "Download PDF",
      "fileName": "Download PDF",
      "subheaderLabel": "Quote Details",
      "subheaderTitle": "TD Quote",
      "createdDateLabel": "Created",
      "expiresDateLabel": "Expires",
      "subTotalLabel": "Sub Total",
      "errorGettingDataMessage500":"Whoops - error getting data 500",
      "errorGettingDataMessage401":"Whoops - error getting data 401",
      "errorGettingDataMessage403":"Whoops - error getting data 403",
      "errorGettingDataMessage404":"Whoops - error getting data 404",
      "errorGettingDataMessage408":"Whoops - error getting data 408",
      "confirmButtonLabel": "Continue with Quick Quote",
      "makeChoiceLabel": "Make this my default choice",
      "continueStandardPriceLabel": "Continue With Standard Price Text instead",
      "resellerContactLabel": "Your Company Information",
      "endUserContactLabel": "End User Information",
      "subtotalLabel": "Subtotal",
      "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/details",
      "uiServiceEndPointExcel": "http://localhost:3000/ui-commerce/v1/downloadQuoteDetails",
      "shopDomainPage": "https://shop.cstenet.com",
      "information": {
        "yourCompanyHeaderLabel": "Your Company Information",
        "yourLogoLabel": "Your logo",
        "productImagesLabel": "Product images",
        "partNoManufacturerLabel": "Part number - manufacturer",
        "partNoTDLabel": "Part number - Tech Data",
        "trackingNoLabel": "UPC number",
        "MSRPLabel": "MSRP",
        "endUserHeaderLabel": "End User Information",
        "generalHeaderLabel": "General Information",
        "emailLabel": "Email",
        "phoneLabel": "Phone",
        "sourceLabel": "Source",
        "tierLabel": "Tier",
        "referenceLabel": "Reference",
        "dealLabel": "Deal"
      },
      "productLines": {
        "noRowsErrorMessage":"Whoops - no rows found",
        "label": "Line Item Details",
        "applyMarkupLabel": "Apply markup as",
        "expandAllLabel": "Expand All",
        "collapseAllLabel": "Collapse All",
        "startDateLabel": "Start Date",
        "autoRenewLabel": "Auto Renew",
        "durationLabel": "Duration",
        "billingLabel": "Billing",
        "yesLabel": "Yes",
        "noLabel": "No",
        "productEmptyImageUrl": "/content/dam/techdata/digital-commerce-platform/product-default-images/default.jpg",
        "columnList": [
          { "columnLabel": "Line Item", "columnKey": "id" },
          { "columnLabel": "Item Information", "columnKey": "displayName" },
          {
            "columnLabel": "Unit List Price",
            "columnKey": "unitListPriceFormatted"
          },
          { "columnLabel": "% Off List Price", "columnKey": "discounts" },
          { "columnLabel": "Quantity", "columnKey": "quantity" },
          { "columnLabel": "Unit Price", "columnKey": "unitPrice" },
          { "columnLabel": "Extended Price", "columnKey": "extendedPriceFormatted" }
        ]
      },
      "checkout": {
        "uiServiceEndPoint":"http://localhost:3000/ui-content/v1/replaceCart",
        "redirectUrl": "https://shop.techdata.com/cart"
      },
      "quoteOptions": {
        "dropdownLabel": "Quote Options",
        "exportToCSV": "Export to XLS",
        "exportToPDF": "Export to PDF",
        "whiteLabelQuote": "White Label Quote",
        "checkoutLabel": "Check Out"
      },
      "whiteLabel": {
        "markubLabel": "Markup",
        "MSRPLabel": "MSRP",
        "description": "Description",
        "value": "Value",
        "addNew": "Add new",
        "yourCostLabel": "Your cost",
        "yourCustomerPriceLabel": "Your cusotmers price",
        "yourMarkupLabel": "Your markup",
        "subtotalLabel": "Subtotal",
        "ancillaryItemsLabel": "Ancillary items",
        "endUserTotalLabel": "End user total",
        "savingsLabel": "Savings over MSRP",
        "applyToAllLabel": "Apply to all",
        "applyMarkupLabel": "Apply your markup to the line items below",
        "previewQuoteLabel": "Preview customer quote",
        "information": { "yourWhiteLogoLabel": "logo.png" },
        "titleLabel": "Create a quote for your end user",
        "subtitleLabel": "Items to include on quote:",
        "checkboxItems": {
          "logoLabel": "The reseller logo",
          "imageLabel": "Product images",
          "manufacturerLabel": "Part number - manufacturer",
          "partNumberTDLabel": "Part number - Tech data",
          "msrpLabel": "MSRP/List price"
        },
        "columnList": [
          { "columnLabel": "Line Item", "columnKey": "id" },
          { "columnLabel": "Item Information", "columnKey": "shortDescription" },
          { "columnLabel": "Quantity", "columnKey": "quantity" },
          { "columnLabel": "MSRP", "columnKey": "msrp" },
          { "columnLabel": "Unit Price", "columnKey": "unitPrice" },
          {
            "columnLabel": "Extended Price",
            "columnKey": "extendedPriceFormatted"
          },
          { "columnLabel": "Markup", "columnKey": "appliedMarkup" },
          { "columnLabel": "Client Unit Price", "columnKey": "clientUnitPrice" },
          {
            "columnLabel": "Client Extended Price",
            "columnKey": "clientExtendedPrice"
          }
        ]
      }
    }
    '
  ></div>
</div>
