<div id="QuoteDetails" data-observe-mutation>
    <div
        data-component="QuoteDetails"
        data-cmp-type="react"
        className="cmp-td-quote-details"
        data-config='{
            "subheaderLabel": "TD Quote:",
            "subheaderTitle": "",
            "resellerContactLabel": "Your Company Information",
            "endUserContactLabel": "End User Information",
            "subtotalLabel": "Subtotal:",
            "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/details"}'
    ></div>
</div>
