<div id="QuoteDetails" data-observe-mutation>
  <div
    data-component="QuoteDetails"
    data-cmp-type="react"
    className="cmp-td-quote-details"
    data-config='{
  "fileName": "quote.pdf",
  "downloadLinkText": "Download Quote As PDF",
  "logoURL": "http://localhost:8080/content/techdata/language-masters/en/_jcr_content/root/container/container_943305826/teaser_copy_573990399.coreimg.png/1627657642556/security.png",
  "resellerContactLabel": "Your Company Information",
  "endUserContactLabel": "End User Information",
  "subheaderLabel": "Quote Details",
  "subheaderTitle": "TD Quote",
  "createdDateLabel": "Created",
  "expiresDateLabel": "Expires",
  "subtotalLabel": "Subtotal",
  "confirmButtonLabel": "Continue with Quick Quote",
  "subTotalLabel": "Sub Total",
  "makeChoiceLabel": "Make this my default choice",
  "continueStandardPriceLabel": "Continue With Standard Price Text instead",
  "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/details",
  "information": {
    "yourCompanyHeaderLabel": "Your Company Information",
    "yourLogoLabel": "Your logo",
    "productImagesLabel": "Product images",
    "partNoManufacturerLabel": "Part number - manufacturer",
    "partNoTDLabel": "Part number - Tech Data",
    "trackingNoLabel": "UPC number",
    "MSRPLabel": "MSRP",
    "endUserHeaderLabel": "End User Information",
    "generalHeaderLabel": "General Information",
    "emailLabel": "Email",
    "phoneLabel": "Phone",
    "sourceLabel": "Source",
    "tierLabel": "Tier",
    "referenceLabel": "Reference",
    "dealLabel": "Deal"
  },
  "productLines": {
    "label": "Line Item Details",
    "applyMarkupLabel": "Apply your markup to the line items below",
    "expandAllLabel": "Expand All",
    "collapseAllLabel": "Collapse All",
    "startDateLabel": "Start Date",
    "autoRenewLabel": "Auto Renew",
    "durationLabel": "Duration",
    "billingLabel": "Billing",
    "yesLabel": "Yes",
    "noLabel": "No",
    "columnList": [
      {
        "columnLabel": "Line Item",
        "columnKey": "displayLineNumber"
      },
      {
        "columnLabel": "Item Information",
        "columnKey": "displayName"
      },
      {
        "columnLabel": "Unit List Price",
        "columnKey": "unitListPriceFormatted"
      },
      {
        "columnLabel": "% Off List Price",
        "columnKey": "discounts"
      },
      {
        "columnLabel": "Quantity",
        "columnKey": "quantity"
      },
      {
        "columnLabel": "Unit Price",
        "columnKey": "unitPrice"
      },
      {
        "columnLabel": "Extended Price",
        "columnKey": "extendedPriceFormatted"
      }
    ]
  },
  "quoteOptions": {
    "dropdownLabel": "Quote Options",
    "exportToCSV": "Export to CSV",
    "exportToPDF": "Export to PDF",
    "whiteLabelQuote": "White Label Quote",
    "checkoutLabel": "Check Out"
  },
  "whiteLabel": {
    "markubLabel": "Markup",
    "MSRPLabel": "MSRP",
    "description": "Description",
    "value": "Value",
    "addNew": "Add new",
    "yourCostLabel": "Your cost",
    "yourCustomerPriceLabel": "Your cusotmers price",
    "yourMarkupLabel": "Your markup",
    "subtotalLabel": "Subtotal",
    "ancillaryItemsLabel": "Ancillary items",
    "endUserTotalLabel": "End user total",
    "savingsLabel": "Savings over MSRP",
    "applyToAllLabel": "Apply to all",
    "applyMarkupLabel": "Apply markup as",
    "previewQuoteLabel": "Preview customer quote",
    "information": {
      "yourWhiteLogoLabel": "logo.png"
    },
    "titleLabel": "Create a quote for your end user",
    "subtitleLabel": "Items to include on quote:",
    "checkboxItems": {
      "logoLabel": "The reseller logo",
      "imageLabel": "Product images",
      "manufacturerLabel": "Part number- manufacturer",
      "partNumberTDLabel": "Part number- Tech data",
      "msrpLabel": "MSRP/List price "
    },
    "columnList": [
      {
        "columnLabel": "Line Item",
        "columnKey": "displayLineNumber"
      },
      {
        "columnLabel": "Item Information",
        "columnKey": "displayName"
      },
      {
        "columnLabel": "Quantity",
        "columnKey": "quantity"
      },
      {
        "columnLabel": "MSRP",
        "columnKey": "msrp"
      },
      {
        "columnLabel": "Unit Price",
        "columnKey": "unitPrice"
      },
      {
        "columnLabel": "Extended Price",
        "columnKey": "extendedPriceFormatted"
      },
      {
        "columnLabel": "Markup",
        "columnKey": "appliedMarkup"
      },
      {
        "columnLabel": "Client Unit Price",
        "columnKey": "clientUnitPrice"
      },
      {
        "columnLabel": "Client Extended Price",
        "columnKey": "clientExtendedPrice"
      }
    ]
  }
}'
  ></div>
</div>
