<sly data-sly-use.serviceData="com.techdata.core.models.CaConfigReader">
<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
	<div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>
<div id="QuoteDetails" data-observe-mutation data-sly-use.model="${'quotedetail.js' @uiServiceDomain=serviceData.uiServiceDomain,quoteDetailEndpoint=serviceData.quoteDetailEndpoint,shopDomainPage=serviceData.shopDomainPage,quoteDetailsXLSEndpoint=serviceData.quoteDetailsXLSEndpoint,productEmptyImageUrl=serviceData.productEmptyImageUrl,serviceData=serviceData}">
	<div
			data-component="QuoteDetails"
			data-cmp-type="react"
			className="cmp-td-quote-details"
			data-config="${model.configJson}"
	></div>
</div>