<div class="image cmp-image--spacing-header">
	<div
		data-cmp-lazythreshold="0"
		data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1384627264/component/image.coreimg{.width}.jpeg/1550672497829/lava-into-ocean.jpeg"
		data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
		data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
		data-title="Lava flowing into the ocean"
		id="image-1a5cc576ae"
		data-cmp-data-layer='{"image-1a5cc576ae":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T11:48:48Z","dc:title":"Lava flowing into the ocean","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg","xdm:tags":[]}}}'
		class="cmp-image"
		itemscope=""
		itemtype="http://schema.org/ImageObject"
	>
		<img
			src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/512px-Adobe_XD_CC_icon.svg.png"
			class="cmp-image__image"
			itemprop="contentUrl"
			data-cmp-hook-image="image"
			alt="Lava flowing into the ocean"
		/>
		<span class="cmp-image__title" itemprop="caption">Lava flowing into the ocean</span>
	</div>
</div>
