.dp-list,
.cmp-list {
  &--svg-size {
    figure > svg {
      width: rem(72px);
      height: rem(72px);
    }
  }

  &--teaser {
    .cmp-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
    }

    .cmp-list__item {
      text-align: center;
      padding: rem(4px);

      > article {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: rem(20px);
        margin-top: rem(16px);
        margin-bottom: rem(16px);
        width: rem(180px);
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }

    .cmp-image__image-figure {
      height: rem(144px);
      margin: 0;
      margin-bottom: rem(20px);
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &--menu-grid {
    @include tablet {
      .cmp-list {
        justify-content: space-evenly;
      }
    }

    .cmp-list__item-title {
      display: block;
    }

    .cmp-image__image {
      max-width: 100%;
      max-height: 100%;
    }

    .cmp-list__item-link {
      color: inherit;
      font-size: rem(20px);
      font-weight: 300;
      text-decoration: none;
      padding: rem(16px);
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 0 rem(4px) rem(1.5px) get-color(brand-light-blue);
      }
    }

    &-fixed {
      .cmp-list {
        @include tablet {
          justify-content: space-evenly;
        }
      }

      .cmp-list__item {
        width: 16.66%;

        @include tablet {
          width: 200px;
        }

        article {
          margin: 0 auto;
          max-width: rem(180px);
          width: 100%;
        }
      }

      .cmp-list__item-title {
        display: block;
      }

      .cmp-image__image {
        max-width: 100%;
        max-height: 100%;
      }

      .cmp-list__item-link {
        color: inherit;
        font-size: rem(20px);
        font-weight: 300;
        text-decoration: none;
        padding: rem(16px);
        transition: box-shadow 0.3s;

        &:hover {
          box-shadow: 0 0 rem(4px) rem(1.5px) get-color(brand-light-blue);
        }
      }
    }
  }

  &--brand-grid {
    .cmp-list {
      align-items: center;

      @include tablet {
        justify-content: space-evenly;
      }
    }

    .cmp-list__item {
      width: calc(100% / 8);

      @include tablet {
        width: 150px;
      }

      article {
        margin-top: rem(8px);
        margin-bottom: rem(8px);
      }
    }

    .cmp-list__item-title {
      display: none;
    }

    .cmp-image__image-figure {
      height: auto;
      margin-bottom: 0;
      justify-content: center;
    }

    .cmp-image__image {
      max-width: 100%;
    }

    .cmp-list__item-link {
      text-decoration: none;
      transition: box-shadow 0.3s;
      padding: rem(4px);

      &:hover {
        box-shadow: 0 0 rem(4px) rem(1.5px) get-color(brand-light-blue);
      }
    }
  }

  &--brand-grid-2 {
    .cmp-list {
      align-items: center;

      @include tablet {
        justify-content: space-evenly;
      }
    }

    .cmp-list__item {
      width: calc(100% / 8);

      @include tablet {
        width: 150px;
      }

      article {
        margin-top: rem(8px);
        margin-bottom: rem(8px);
      }
    }

    .cmp-list__item-title {
      display: none;
    }

    .cmp-image__image-figure {
      height: auto;
      margin-bottom: 0;
      justify-content: center;
    }

    .cmp-image__image {
      max-width: 100%;
      transition: all 0.3s;

      &:hover {
        filter: invert(100%) sepia(4%) saturate(405%) hue-rotate(284deg)
          brightness(114%) contrast(100%);
      }
    }

    .cmp-list__item-link {
      text-decoration: none;
    }
  }

  &--brand-grid-3 {
    .cmp-list {
      list-style-type: none;
      line-height: rem(12px);
      padding: 0;

      @include tablet {
        justify-content: space-evenly;
      }
    }

    .cmp-list__item {
      width: 100%;

      @include tablet {
        width: 150px;
      }

      article {
        margin-top: rem(8px);
        margin-bottom: rem(8px);
      }
    }

    .cmp-list__item-title {
      font-weight: $font-weight-normal;
      font-size: rem(13px);
      color: inherit;
    }

    .cmp-image__image-figure {
      height: auto;
      margin-bottom: 0;
      justify-content: center;

      &:not(:hover) {
        svg {
          path {
            fill: get-color(brand-blue) !important;
          }
        }
      }
    }

    .cmp-image__image {
      max-width: 100%;
      transition: all 0.3s;

      &:hover {
        filter: invert(100%) sepia(4%) saturate(405%) hue-rotate(284deg)
          brightness(114%) contrast(100%);
      }
    }

    .cmp-list__item-link {
      text-decoration: none;
      padding: 0;

      &:hover {
        .cmp-list__item-title {
          color: inherit;
          font-size: $font-size-medium;
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  &--menu-grid-2 {
    .cmp-list__item-title {
      display: block;
    }

    .cmp-list {
      @include mobile {
        justify-content: center;
        padding: 0;
      }
    }

    .cmp-list__item {
      flex-basis: 16.66%;

      &:hover {
        article {
          svg {
            path {
              fill: get-color(brand-light-blue);
            }
          }

          .cmp-list__item-title {
            font-weight: 600;
          }
        }
      }
    }

    .cmp-image__image {
      max-width: 100%;
      max-height: 100%;
      filter: invert(94%) sepia(0%) saturate(45%) hue-rotate(149deg)
        brightness(95%) contrast(88%);
      transition: all 0.3s;
    }

    .cmp-list__item-link {
      color: inherit;
      font-size: rem(20px);
      font-weight: 300;
      text-decoration: none;
      padding: rem(16px);
      transition: all 0.3s;
    }

    .cmp-list__item {
      transition: all 0.3s;

      &:hover .cmp-list__item-link {
        color: inherit;
      }

      &:hover .cmp-image__image {
        filter: none;
      }
    }

    &-fixed {
      .cmp-list {
        @include tablet {
          justify-content: space-evenly;
        }
      }

      .cmp-list__item {
        width: 16.66%;

        @include tablet {
          width: 200px;
        }

        article {
          margin: 0 auto;
          max-width: rem(180px);
          width: 100%;
          align-items: center;
        }
      }

      .cmp-list__item-title {
        display: block;
      }

      .cmp-image__image {
        max-width: 100%;
        max-height: 100%;
        filter: invert(94%) sepia(0%) saturate(45%) hue-rotate(149deg)
          brightness(95%) contrast(88%);
        transition: all 0.3s;
      }

      .cmp-list__item-link {
        color: inherit;
        font-size: rem(20px);
        font-weight: 500;
        text-decoration: none;
        padding: rem(16px);
        transition: all 0.3s;
        opacity: 0.5;
      }

      .cmp-list__item {
        transition: all 0.3s;

        &:hover {
          .cmp-list__item-link {
            color: inherit;
            opacity: 1;
          }
        }

        &:hover .cmp-image__image {
          filter: none;
        }
      }
    }
  }

  &--cards-image-list {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      list-style-type: none;
      li {
        width: rem(410.12px);
        height: rem(483.2px);
        background-color: white;
        flex: 0 0 30.0%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6rem;
        @include tablet {
          width: rem(298.12px);
          height: rem(419.2px);
        }
        
        article {
          background-color: get-color(neutral-gray-2);
          width: rem(410px);
          height: rem(263px);

          @include tablet{
            width: rem(298px)
          }
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      background-color: get-color(neutral-gray-2);
      figure {
        margin: 0px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      span.cmp-list__item-title {
        height: rem(50px);
        width: rem(354px);
        font-family: 'Arial Regular';
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin: auto;
        color: map-get($color-palette,"teal");
        background-color: white;
        padding-bottom: 2.5rem;
        padding-top: rem(15px);

        @include tablet {
          width: rem(242px);
          font-size: 13px;
          margin-top: 3px;
        }
      }
    }

    span {
      display: block;
      position: relative;
      background-color: white;
      padding-bottom: rem(38px);
      padding-top: rem(0px);
      padding-right: rem(27px);
      padding-left: rem(27px);
      position: relative;
      top: rem(-30px);
      font-family: 'Arial Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-left: auto;
      margin-right: auto;
      height: rem(186px);
      width: rem(354px);

      @include tablet {
        width: rem(242px);
        height: rem(195px);
        font-size: 10px;
      }
    }
  }
}

.dp-list--products-with-icons {
  .cmp-list {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: flex;
      width: 16%;
      list-style-type: none;
      transition: all 0.3s;
      padding-bottom: 20px;
      justify-content: center;

      @include tablet {
        align-items: center;
        justify-content: center;
        width: 200px;
      }

      &:hover {
        svg path g polyline ellipse line line rect {
          fill: get-color(brand-light-blue);
        }

        &.cmp-list__item-title {
          font-weight: 600;
        }

        article {
          a.cmp-list__item-link {
            span.cmp-list__item-title {
              color: inherit;
              font-weight: bold;
            }
          }
        }
      }

      article {
        a.cmp-list__item-link {
          display: flex;
          flex-direction: column;
          text-decoration: none;

          figure.cmp-image__image-figure {
            justify-content: center;
            display: flex;

            img.cmp-image__image {
              width: rem(75px);
              height: rem(75px);
            }
          }

          span.cmp-list__item-title {
            text-decoration: none;
            font-size: rem(13px);
            line-height: rem(15px);
            text-align: center;
            color: inherit;
            margin: 0 rem(5px);
          }
        }
      }
    }
  }
}

.cmp-list {
  &--menu-grid-tds {
    .cmp-list__item {
      &:hover {
        article {
          svg {
            path {
              fill: map-get($color-palette, 'aqua') !important;
            }
          }
        }
      }
    }
  }
}
