<div class="container responsivegrid cmp-form-options">
	<form
		method="POST"
		action="/content/core-components-examples/library/form/options.html"
		id="new_form"
		name="new_form"
		enctype="multipart/form-data"
		class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
	>
		<input
			type="hidden"
			name=":formstart"
			value="/content/core-components-examples/library/form/options/jcr:content/root/responsivegrid/demo_1594702855/component/container"
		/>
		<input type="hidden" name="_charset_" value="utf-8" />
		<div class="options aem-GridColumn aem-GridColumn--default--12">
			<fieldset class="cmp-form-options cmp-form-options--checkbox">
				<legend class="cmp-form-options__legend">Venue Planning</legend>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="alone"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">I attend alone</span>
				</label>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="spouse"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">I attend with spouse</span>
				</label>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="meat"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">I eat meat</span>
				</label>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="vet"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">I am vegetarian</span>
				</label>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="spouse-veg"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">Spouse is vegetarian</span>
				</label>
				<label class="cmp-form-options__field-label">
					<input
						class="cmp-form-options__field cmp-form-options__field--checkbox"
						name="venue-planning"
						value="spouse-meat"
						type="checkbox"
					/>
					<span class="cmp-form-options__field-description">Spouse eats meat</span>
				</label>
				<p class="cmp-form-options__help-message">
					We like to plan our events and prepare the meals in advance, please help us by choosing your preferences
				</p>
			</fieldset>
		</div>
	</form>
</div>
