<div class="options cmp-form-options">
	<fieldset class="cmp-form-options cmp-form-options--multi-drop-down">
		<label class="cmp-form-options__label" for="form-options-464897793">Countries you've lived in</label>
		<select
			class="cmp-form-options__field cmp-form-options__field--multi-drop-down"
			name="countries"
			id="form-options-464897793"
			multiple=""
		>
			<option value="ch">Switzerland</option>
			<option value="ge">Germany</option>
			<option value="fr">France</option>
			<option value="en">England</option>
		</select>
	</fieldset>
</div>
