<!-- <div id="ModalBox" data-observe-mutation>
	<div
		data-component="Modal"
		data-cmp-type="react"
		className="cmp-modal"
		data-config='{"title":"Track My Order","buttonLabel":"Connect All","buttonIcon":"fas fa-angle-double-up"}'>
	</div>
</div> -->
 
 <!-- Track My Order Modal -->

 <div class="cmp-modal visible">
    <div class="cmp-modal_container">
      <div class="cmp-modal_backdrop"></div>
      <div class="cmp-modal_content">
        <div class="cmp-modal_header">
          <h3 class="cmp-modal_title">Serial</h3>
          <button class="cmp-modal_close" aria-label="Close">
            <span class="cmp-modal_close" aria-hidden="true">×</span>
          </button>
        </div>
        <div class="cmp-modal_body">
          <section>
            <div class="cmp-order-details-serial-numbers-modal">
                <div class="cmp-order-details-serial-numbers-modal__line">
                  UCSC-C220-M5SX-WZP251473R
                </div>
                <div class="cmp-order-details-serial-numbers-modal__line">
                  UCSC-C220-M5SX-WZP251473R
                </div>
                <div class="cmp-order-details-serial-numbers-modal__line">
                  UCSC-C220-M5SX-WZP251473R
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
