<div class="orderdetail aem-GridColumn aem-GridColumn--default--12">

    <div id=OrderDetails" data-observe-mutation>
        <div data-component="OrderDetails" data-cmp-type="react" className="cmp-td-order-details"
             data-config="{&#34;orderLabel&#34;:&#34;Order ID : &#34;,&#34;orderDateLabel&#34;:&#34;Ordered On:&#34;,&#34;purchaseOrderLabel&#34;:&#34;PO :&#34;,&#34;exportCSVLabel&#34;:&#34;Export CSV Label&#34;,&#34;resellerContactLabel&#34;:&#34;Your Company Information&#34;,&#34;endUserContactLabel&#34;:&#34;End User Information&#34;,&#34;subtotalLabel&#34;:&#34;Quote Subtotal:&#34;,&#34;uiServiceEndPoint&#34;:&#34;http://localhost:3000/ui-commerce/v1/orderdetails&#34;}"></div>
        </div>
    </div>

</div>