<div>
  <div>
    <div id="container-11f27a2be9" class="cmp-container"></div>
  </div>
  <div
    class="notification cmp-notification-primary cmp-notification-large"
  >
    <div class="cmp-notification">
      <div class="cmp-notification-message-container">
        <span class="cmp-notification_icon fa-solid fa-arrow-up"></span>
        <span class="cmp-notification_text"
          >Changes to items on your original renewal quote requires additional vendor approval before checkout.
        </span>
      </div>
      <div class='cmp-notification-link-container'>
        <a target="_blank" href="https://www.google.com/">
          <span class="cmp-notification_text">Try again</span>
        </a>
        <a class="close-notification">
        </a>
      </div>
      
    </div>
  </div>
  <div
    class="notification cmp-notification-secondary"
  >
    <div class="cmp-notification">
      <div class="cmp-notification-message-container">
        <span class="cmp-notification_icon fa-solid fa-arrow-up"></span>
        <span class="cmp-notification_text"
          >Changes to items on your original renewal quote requires additional vendor approval before checkout.
        </span>
      </div>
      <div class='cmp-notification-link-container'>
        <a target="_self" href="#">
          <span class="cmp-notification_text">Try again</span>
        </a>
        <a class="close-notification">
        </a>
      </div>
      
    </div>
  </div>
  <div
    class="notification cmp-notification-alert"
  >
    <div class="cmp-notification">
      <div class="cmp-notification-message-container">
        <span class="cmp-notification_icon fa-solid fa-arrow-up"></span>
        <span class="cmp-notification_text"
          >Changes to items on your original renewal quote requires additional vendor approval before checkout.
        </span>
      </div>
      <div class='cmp-notification-link-container'>
        <a target="_blank" href="#" class="nolink">
          <span class="cmp-notification_text">Try again</span>
        </a>
        <a class="close-notification">
        </a>
      </div>
      
    </div>
  </div>
  <div
    class="notification cmp-notification-warning"
  >
    <div class="cmp-notification">
      <div class="cmp-notification-message-container">
        <span class="cmp-notification_icon fa-solid fa-arrow-up"></span>
        <span class="cmp-notification_text"
          >Changes to items on your original renewal quote requires additional vendor approval before checkout.
        </span>
      </div>
      <div class='cmp-notification-link-container'>
        <a target="_self" href="#" class="nolink">
          <span class="cmp-notification_text">Try again</span>
        </a>
        <a class="close-notification">
        </a>
      </div>
      
    </div>
  </div>
</div>
