<div class="notification aem-GridColumn aem-GridColumn--default--12"><div class="notification cmp-notification cmp-notification-primary">
    <div class="cmp-notification-message-container">
        <span class="cmp-notification_icon fa-solid fa-arrow-up"></span>
        <span class="cmp-notification_text">Use the security code provided to access migration resources. </span>
    </div>
    <a target="_self" href="#" class="nolink">
        <span class="cmp-notification_text">Migration resources</span>
    </a>
</div></div>