/// Techdata Color Palette
/// Primary and secondary colors for TDS, 
/// along with old color palette.
/// @type Map
$color-palette: (
    // TDS Primary colors
    "teal":          #005758,
    "deep-teal":     #003031,
    "aqua":          #08BED5,
    "cool-gray-8":   #888B8D,
    "cool-gray-10":  #63666A,
    "green":         #2D9F88,
    "chartreuse":    #CCD814,
    "black":         #000000,
    "white":         #FFFFFF,

    //TDS Secondary colors
    "steel-blue":    #1F728B,
    "navy":          #1D3152,
    "copper":        #AB584D,
    "stone":         #75716E,
    "cool-gray-1":   #D9D8D7,
    "purple":        #923A7F,
    "plum":          #5A2D3F,
    "citron":        #908C13,

    //TDS Digital colors
    "cobalt":        #006FBA,        
    "cherry":        #CD163F,
    "amber":         #F7B500,
    "forest":        #38853C,
    "charcoal":      #262626,
    "cool-gray-9":   #727679,
    "neutral-gray-1":#F8F8F8,
    "neutral-gray-2":#E4E5E6,
    "brilliant":     #FCFCFC,
    
    // old color palette
    "dark-blue": #000c20,
    "sky-blue": #0bb0df,
    "legacy-gray":#676c71,
    "brand-black":  #000000,
    "brand-primary-text":  #ffbc0d,
    "brand-secondary-text": #d90007,
    "brand-white": #ffffff,
    "brand-blue": #000c21,
    "brand-green-synnex": #003030,
    "brand-blue-sheer": rgba(0, 11, 31, 0.549),
    "secondary-link-blue": #006bae,
    "secondary-dark-grey": #6f6f6f,
    "secondary-grey": #adadad,
    "secondary-light-grey": #d6d6d6,
    "secondary-ivory": #f9f9f9,
    "accessible-accent-gold": #c08b00,
    "accessible-accent-grey": #959595,
    "tertiary-light-green": #a9c141,
    "tertiary-dark-blue": #103c82,
    "tertiary-light-blue": #56afd1,
    "tertiary-fuchsia": #9a0a4d,
    "tertiary-beige": #b69a81,
    "brand-light-blue": #00B1E2,
    "brand-light-blue-shadow": rgba(0, 177, 226, 0.15),
    "brand-button-blue": #00558C,
    "brand-nav-blue": #048FC8,
    'border-light-gray': #979797,
    'border-lighter-gray': #D9D9D9,
    'text-shadow': #919599,
    "text-dark-grey": #5D6165,
    'text-light-gray': #7c8388,
    'text-lighter-gray': #f6f6f6,
    'text-mid-gray': #53565a,
    'text-mid-charcoal': #666666,
    'text-light-charcoal': #555555,
    'td-lighter-gray': #f6f6f6,
    'td-lightblue': #00b1e2,
    'td-primary-blue': #048fc8,
    'td-link-hover-state': #213859,
    'td-dim-blue': #153b51,
    'td-dark-blue': #000c21,
    'td-dark-blue-shade': rgba(0, 12, 33, 0.64),
    'brand-light-gray': #eaeaea,
    "header-links-blue": #21314D,
    'v-divider-gray': #e6e6e6,
    'v-divider-darkgray': #c6c6c6,
    'brand-light-gray2': #E6E6E6,
    'brand-light-gray3': #f6f6f6,
    "brand-text-gray": #555555,
    "brand-text-lightgray": #888888,
    "brand-light-blue-icon": #009FD4,
    "brand-success": #26A600,
    "button-open": #38853C,
    "brand-scrollbar": #d8d8d8,
    "brand-red-brilliant": #FF0000,
    "box-shadow": rgba(0,0,0,0.5),
    "brand-box-shadow": rgba(0, 0, 0, 0.5),
    "light-see-through-background": rgba(255, 255, 255, 0.5),
    "input-border": #BDBDBD,
    "brand-orange": #FFBA30,
    "td-brand-space-light": #334B76,
    "container-transparent": rgba(0, 0, 0, 0),
);

/// Default white color
/// @type Color
$white: #ffffff;

/// Black color
/// @type Color
$black: #000000;

/// Space color
/// @type Color
$space: #000c21;

/// Sky color
/// @type Color
$sky: #00b1e2;

/// Dark sky color
/// @type Color
$sky-dark: #00558c;

/// Gray color
/// @type Color
$gray: #5d6165;

/// Planet color
/// @type Color
$planet: #ccd814;

/// Fire color
/// @type Color
$fire: #bf0000;

/// Fall color
/// @type Color
$fall: #fdb71a;

/// Grass color
/// @type Color
$grass: #1ba41f;

/// Smoke color
/// @type Color
$smoke: #53565a;

/// Carbon color
/// @type Color
$carbon: #1f2024;

/// Gray-1 color
/// @type Color
$gray-1: #5d6165;

/// Gray-2 color
/// @type Color
$gray-2: #979797;

/// Gray-4 color
/// @type Color
$gray-4: #d6d6d6;

/// Gray-5 color
/// @type Color
$gray-5: #f6f6f6;

/// Gray-3 color
/// @type Color
$gray-3: #c6c6c6;
