@import '../../site/_variables.scss';
@import '../_mixins.scss';
@import '../styles/_font-face.scss';

.cmp-text-alignment {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}
