<div class="list cmp-logos-layout">
  <ul>
    <!-- <li class="cmp-logos-layout__col-3">
      this is a placeholder for UI spacing layout. Once this component is in SIT I will uncomment it out to match the mockup look in UI  
    </li> -->
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
      </article>
    </li>
    <li class="cmp-logos-layout__col-1">

    </li>
  </ul>
  <ul>
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
      </article>
    </li>
    <li class="cmp-logos-layout__col-1">

    </li>
  </ul>
  <ul>
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
      </article>
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </li>
    <li class="cmp-list__item">
      <article>
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
      </article>
    </li>
    <li class="cmp-logos-layout__col-1">

    </li>
  </ul>
</div>