<div class="cmp-logos-layout">
    <div class="cmp-logos-layout__col-3">
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
    </div>
</div>
<div class="cmp-logos-layout">
    <div class="cmp-logos-layout__col-3">
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
    </div>
</div><div class="cmp-logos-layout">
    <div class="cmp-logos-layout__col-3">
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Cloudera-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Hewlett-Packard-Enterprise-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="square-circle-logo" src="/src/main/webpack/assets/logos/Apple-logo-black.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/Lenovo-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/LG-logo-2015.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/red-hat-2019-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
        <img class="rectangle-logo" src="/src/main/webpack/assets/logos/VMware-logo.svg" />
    </div>
    <div class="cmp-logos-layout__col-1">
    </div>
</div>