.cmp-button-group {
  .cmp-button-group-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: rem(11px);
    letter-spacing: 0;
    line-height: normal;
    color: get-color(brand-white);

    li:not(:last-child) {
      border-right: rem(1px) solid get-color(brand-white);
    }

    .cmp-button-group__item {
      a {
        text-decoration: none;
        color: get-color(brand-white);
        cursor: pointer;

        &.nolink {
          cursor: default;

          &[data-displaylocation='true'] {
            cursor: pointer;
          }
        }

        article {
          display: flex;
          align-items: center;
          flex-direction: row;
        }
      }
    }

    .cmp-image {
      margin-right: rem(4px);
    }

    .cmp-image__image {
      width: rem(14.4px);
      margin-top: 0.5vh;
    }

    .cmp-button-group__item-title {
      padding-top: rem(2px);
    }
  }

  .cmp-button-group-list {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding-inline-start: 0px;
  }

  &__color-pill {
    background-color: get-color(deep-teal) !important;
    border-radius: 25px;
    .cmp-button-group {
      padding-top: rem(15px) !important;
      padding-bottom: rem(15px) !important;
    }

    span {
      font-family: $font-family-everett;
      font-size: 20px;
      line-height: 26px;
    }
    .cmp-button-group__item {
      width: 50%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
    }
  }
}