@use "~sass-rem" as rem;

.cmp-container {
  float: unset !important;
  &--fixed > .cmp-container {
    margin: 0 auto;
    max-width: rem.convert(1170px);
    overflow: hidden;
    @include media('<lg') {
      margin: rem.convert(0 20px);
    }
  }

  &--padding > .cmp-container {
    @include media('>=lg') {
      .aem-Grid {
        margin-left: rem.convert(-8px);
        margin-right: rem.convert(-8px);
        width: auto;
        > .aem-GridColumn {
          padding-left: rem.convert(8px);
          padding-right: rem.convert(8px);
        }
      }
    }

    @include media('<lg') {
      .aem-Grid {
        margin-left: rem.convert(-4px);
        margin-right: rem.convert(-4px);
        width: auto;
        > .aem-GridColumn {
          padding-left: rem.convert(4px);
          padding-right: rem.convert(4px);
        }
      }
    }
  }

  // ported over from ui.frontend/src/main/webpack/components/_container.scss
  &__full-width > .cmp-container,
  &--max-1440 {
    max-width: rem.convert(1440px);
    margin: 0 auto !important;
    float: unset !important;
    clear: both !important;
  }

  &__full-width--max-1600 > .cmp-container,
  &--max-1600 {
    max-width: 1600px;
    margin: 0 auto !important;
    float: unset !important;
    clear: both !important;
  }
}
