@import '../../global/tds-core-components/tabs/tds-tabs.scss';

.top-nav {
  .nav {
    border: none;
  }
  .li,
  [role="tab"] {
    padding: 0 1rem;
    font-size: 0.9rem;
    border-bottom: transparent 3px solid;
    &:active,
    &:hover,
    &:focus {
      outline: none;
    }
    &:hover {
      border-bottom: #00b1e2 3px solid;
    }
    min-height: 30px;
  }

  .cmp-tabs__tab--active {
    border-bottom: #00b1e2 3px solid;
  }
  .cmp-tabs__tabpanel {
    padding: 2rem 0;
  }
  .cmp-tabs__tabpanel--active {
    display: block;
  }
}

.cmp-tabs__tablist {
  margin-bottom: 4rem;
}

.cmp-tabs__tab {
  text-align: center;
  padding: 0 0.5rem;
  border-bottom: 0;
  font-size: 1rem;

  .cmp-tabs__tab-image {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 6px solid transparent;
    padding: 1.5rem;
    margin-top: 0.9rem;
    transition: border-color 0.3s;
  }

  &.cmp-tabs__tab--active,
  &:hover,
  &:active {
    outline: 0 none;

    .cmp-tabs__tab-image {
      border-color: #cfcaca;
    }
  }
}

.cmp-tabs__tabpanel--text {
  height: 36px;
  width: 133px;

  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

.cmp-text__white {
  &.cmp-tabs__tabpanel--text,
  cmp-tabs__tab,
  cmp-tabs__tab--active {
    color: #ffffff;
  }
}

.tab-center {
  .cmp-tabs__tablist {
    display: flex;
    justify-content: center;
  }
}

.tab-divider {
  .cmp-tabs__tablist {
    display: flex;
    justify-content: center;

    .cmp-tabs__tab {
      padding: 0;

      &:not(:first-child):before {
        content: "|";
        font-weight: $font-weight-normal;
        padding: 0 2rem;
      }

      &.cmp-tabs__tab--active {
        font-weight: $font-weight-bold;
      }

      &:not(.cmp-tabs__tab--active) {
        font-weight: $font-weight-light;
      }

      &:hover {
        font-weight: $font-weight-bold;
      }
    }
  }
}
// Wrapped 5 tabs in a row

.cmp-five-icon-tabs {
  width: unset; //test for AEM local
  .cmp-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__tablist {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
      width: 100%;
      justify-content: center;
      background-color: get-color(brand-blue);
      svg,
      img {
        width: 100%;
      }
      .cmp-tabs__tabpanel--text {
        color: white;
      }
      &--text {
        width: 100%;
      }
    }

    &__tab-image {
      padding: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(100px);
      height: rem(100px);
      border-radius: 50%;
      border: 0 solid transparent;
      padding: 0;
      margin-top: rem(14px);
      margin-bottom: rem(18px);
      transition: border-color 0.3s;
      background-color: get-color(brand-white);
      padding: rem(10px);
      img {
        width: auto;
        margin: 0 auto;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: get-color(brand-light-blue) !important;
        padding: rem(10px);
      }
    }
    &__tabpanel--text {
      height: rem(36px);
      width: 100%;
      font-family: $font-family-sans-serif;
      font-size: rem(16px);
      letter-spacing: 0;
      line-height: rem(16px);
      text-align: center;
      font-weight: 600;
    }
    &__tab {
      text-align: center;
      padding: 0 rem(8px);
      border-bottom: 0;
      font-size: $font-size-medium;
      width: rem(230px);
      &.cmp-tabs__tab--active,
      &:hover,
      &:active {
        outline: 0 none;
        .cmp-tabs__tab-image {
          background-color: get-color(brand-light-blue) !important;
          svg path g polyline ellipse line line rect {
            fill: get-color(brand-white);
          }
        }
      }
    }
  }
}

.cmp-tabs__stream {
  background-color: get-color(container-transparent);
  li {
    font-family: $font-family-everett !important;
    font-weight: 500;
    font-size: 16px;
    &:hover,
    &:active {
      outline: 0 none;
      background: white;
      color: black;
      border: 5px;
      border-radius: 3em;
      .cmp-tabs__tab-image {
        border-color: get-color(secondary-light-grey);
      }
    }
  }

  .cmp-tabs__tablist {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .cmp-tabs__tab {
    padding: 1rem 1.75rem;
  }
}
