/**
 * Notification component.
 *
 * @class notification
 */
.notification {
  margin: 1rem;
  display: flex;
  align-items: center;
}

/**
 * Notification component.
 *
 * @class cmp-notification
 */
.cmp-notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;

  /**
   * Link container within the notification component.
   *
   * @class cmp-notification-link-container
   */
  .cmp-notification-link-container {
    display: flex;
    align-items: center;

    a {
      margin: 0 rem-convert(10px);
    }
  }

  /**
   * Mixin for notification types.
   *
   * @mixin notification-type
   * @param {string} $color - The color value for the notification.
   */
  @mixin notification-type($color) {
    .cmp-notification {
      width: 100%;
      height: 100%;
    }
    height: rem-convert(64px);
    width: auto;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 0px 4px 4px 0px;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: $color;
    font-family: $font-family-everett;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    display: flex;

    /**
     * Close notification icon.
     *
     * @class close-notification
     */
    .close-notification:after {
      display: inline-block;
      content: '\00d7'; /* This will render the 'X' */
      margin-right: rem-convert(20px);
      margin-bottom: rem-convert(15px);
      font-size: 25px;
    }

    .close-notification {
      margin: 0px;
    }

    /**
     * Notification text.
     *
     * @class cmp-notification_text
     */
    .cmp-notification_text {
      color: map-get($color-palette, 'charcoal');
    }

    a > span.cmp-notification_text {
      color: get-color(cobalt);
      margin: 0px;
    }

    /**
     * Notification icon.
     *
     * @class cmp-notification_icon
     */
    .cmp-notification_icon {
      color: $color;
      width: rem-convert(20px);
      height: rem-convert(18.5px);
    }

    .cmp-notification-link {
      margin-right: rem-convert(20px);
      margin-left: auto;
    }

    // Tablet screen
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      width: 96% !important;
      margin-left: rem-convert(16px) !important;
      margin-right: rem-convert(16px) !important;
      .cmp-notification-message-container {
        width: 85%;
        justify-content: space-evenly;
      }
    }

    // Mobile screen
    @media only screen and (min-width: 5px) and (max-width: 767px) {
      height: auto;
      width: 92% !important;
      margin-left: rem-convert(16px) !important;
      margin-right: rem-convert(16px) !important;
      .cmp-notification {
        flex-direction: column;
        position: relative;
      }

      .cmp-notification .cmp-notification_text {
        text-align: justify;
        width: 80%;
      }

      .cmp-notification-message-container {
        display: flex;
        align-items: flex-start !important;
        margin-right: rem-convert(40px);
      }

      .cmp-notification-link-container {
        width: 100%;
        justify-content: space-between;
        position: relative;
      }

      .close-notification {
        top: 0px;
        position: absolute;
        margin: 0 20px 0.625rem;
        right: -25px;
      }

      .cmp-notification-link {
        margin-right: auto;
        margin-left: rem-convert(48px);
        padding-top: rem-convert(20px);
      }
    }
  }

  /**
   * Primary notification variant.
   *
   * @class cmp-notification-primary
   */
  &-primary {
    @include notification-type(get-color(cobalt));
  }

  /**
   * Secondary notification variant.
   *
   * @class cmp-notification-secondary
   */
  &-secondary {
    @include notification-type(get-color(forest));
  }

  /**
   * Alert notification variant.
   *
   * @class cmp-notification-alert
   */
  &-alert {
    @include notification-type(get-color(cherry));
  }

  /**
   * Warning notification variant.
   *
   * @class cmp-notification-warning
   */
  &-warning {
    @include notification-type(get-color(amber));
  }

  /**
   * Small size variant.
   *
   * @class cmp-notification-small
   */
  &-small {
    width: 40%;
  }

  /**
   * Medium size variant.
   *
   * @class cmp-notification-medium
   */
  &-medium {
    width: 40%;
  }

  /**
   * Large size variant.
   *
   * @class cmp-notification-large
   */
  &-large {
    width: auto;
  }

  a {
    text-decoration: none;
  }

  /**
   * Message container within the notification component.
   *
   * @class cmp-notification-message-container
   */
  .cmp-notification-message-container {
    margin-left: rem-convert(22px);
    display: flex;
    align-items: center;
  }

  /**
   * CSS class for disabling link interaction.
   *
   * @class nolink
   */
  .nolink {
    pointer-events: none;
  }

  .cmp-notification_text {
    color: map-get($color-palette, 'charcoal');
    margin-left: rem-convert(18px);
  }
}
