.notification {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.cmp-notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;

  .cmp-notification-link-container {
    display: flex;
    align-items: center;
    a {
      margin: 0 rem(10px);
    }
  }

  @mixin notification-type($color) {
    .cmp-notification {
      width: 100%;
      height: 100%;
    }
    height: rem(64px);
    width: auto;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 0px 4px 4px 0px;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: $color;
    font-family: $font-family-everett;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    display: flex;

    .close-notification:after {
      display: inline-block;
      content: '\00d7'; /* This will render the 'X' */
      margin-right: rem(20px);
      margin-bottom: rem(15px);
      font-size: 25px;
    }

    .close-notification {
      margin: 0px;
    }

    .cmp-notification_text {
      color: get-color(deep-teal);
    }

    a > span.cmp-notification_text {
      color: get-color(cobalt);
      margin: 0px;
    }

    .cmp-notification_icon {
      color: $color;
      width: rem(20px);
      height: rem(18.5px);
    }

    .cmp-notification-link {
      margin-right: rem(20px);
      margin-left: auto;
    }

    // Tablet scree
    @media only screen and (min-width: 768px) and (max-width: 1023px) {  
      width: 96% !important;
      margin-left: rem(16px) !important;
      margin-right: rem(16px) !important;
      .cmp-notification-message-container { 
        width: 85%;
        justify-content: space-evenly;
      }
    }

    @media only screen and (min-width: 5px) and (max-width: 767px) {  
      height: auto;
      width: 92% !important;
      margin-left: rem(16px) !important;
      margin-right: rem(16px) !important;
      .cmp-notification {
        flex-direction: column;
        position: relative;
      }

      .cmp-notification .cmp-notification_text {
        text-align: justify;
        width: 80%;
        
      }
  

      .cmp-notification-message-container {
        display: flex;
        align-items: flex-start !important; 
        margin-right: rem(40px)
      }

      .cmp-notification-link-container {
        width: 100%;
        justify-content: space-between;
        position: relative;
      }

      .close-notification {
        top: 0px;
        position: absolute;
        margin: 0 20px 0.625rem;
        right: -25px;
      }

      .cmp-notification-link {
        margin-right: auto;
        margin-left: rem(48px);
        padding-top: rem(20px);
      }
    }
  }

  &-primary {
    @include notification-type(get-color(cobalt));
  }

  &-secondary {
    @include notification-type(get-color(forest));
  }

  &-alert {
    @include notification-type(get-color(cherry));
  }

  &-warning {
    @include notification-type(get-color(amber));
  }

  &-small {
    width: 40%;
  }
  &-medium {
    width: 40%;
  }
  &-large {
    width: auto;
  }
  a {
    text-decoration: none;
  }

  .cmp-notification-message-container {
    margin-left: rem(22px);
    display: flex;
    align-items: center;
  }

  .nolink {
    pointer-events: none;
  }

  .cmp-notification_text {
    margin-left: rem(18px);
  }
}
