@mixin fontdef($font-primary-path, $FontType: "Regular") {
	src: url("#{$font-primary-path}/#{$FontType}/OpenSans-#{$FontType}.ttf") format("ttf"),
		url("#{$font-primary-path}/#{$FontType}/OpenSans-#{$FontType}.ttf") format("ttf");
}

@mixin font-awesome-custom-icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
}

// making overriding of AEM-styles easier
@mixin reset-aemgrid {
  float: unset !important;
  width: auto !important;
  @content;
}
