@import '../../../../../../tds-core/ui.frontend/src/main/webpack/global/abstracts/colors';

// have the site/variables file added here as per old includes.
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/variables';
@import '../site/variables';
@import './mixins';

// $OpenSansVersion: "1.101" !default;
// == REM SASS Mixin
$rem-baseline: 16px;

// == Font
$font-base-path: '../resources/fonts';
$fontawesome-font-family: 'fontawesome';
$fontawesome-font-path: '../resources/fonts/fontawesome';
$font-family: 'Open Sans', -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif;
$font-marketing-path: '../resources/fonts/everett';
$font-digital-path: '../resources/fonts/GeorgiaPro';
$font-primary-path: '../resources/fonts/OpenSans';
$open-sans: 'Open Sans', sans-serif;
