.honeycomb {
  &.cmp-honeycomb__dpb {
    .cmp-accordion__item {
      .cmp-honeycomb-svg {
        fill: map-get($color-palette, 'aqua');
        height: 126px;
        &:hover {
          fill: map-get($color-palette, 'white');
        }
      }

      &[data-cmp-expanded] {
        .cmp-accordion__title {
          color: map-get($color-palette, 'white');
          margin-top: -2px;
        }
      }
      .cmp-accordion__panel {
        .cmp-text {
          color: map-get($color-palette, 'white');
        }
      }
    }
  }

  .cmp-accordion {
    padding: 27px 0;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
  }
  .cmp-accordion__title {
    position: relative;
    bottom: 77px;
    margin: auto;
    font-size: 16px;
    font-family: $font-family-everett;
  }
  .cmp-accordion__button {
    width: unset;
    background-color: unset;
    display: flex;
    flex-direction: column;
  }
  & > .cmp-accordion .cmp-accordion__button[aria-expanded='false']:after,
  & > .cmp-accordion .cmp-accordion__button[aria-expanded='true']:after {
    content: '' !important;
  }
  .cmp-accordion__item {
    width: 123px;
    height: 127px;
    margin: -9px 3px;
    .cmp-accordion__header {
      .cmp-accordion__title {
        font-weight: normal;
      }
    }

    .cmp-honeycomb-expanded-svg {
      height: 136px;
      display: none;
      margin-top: -6px;
      margin-left: -3px;
    }
    .cmp-honeycomb-svg {
      height: 126px;
    }

    &[data-cmp-expanded] {
      .cmp-honeycomb-svg {
        display: none;
      }
      .cmp-honeycomb-expanded-svg {
        display: block;
      }
    }
    .cmp-accordion__panel {
      position: relative;
      bottom: 141px;
      height: 100px;
      width: 200px;
      align-items: center;
      &.cmp-accordion__panel--expanded {
        display: flex;
      }
    }
  }
  .cmp-accordion__item:nth-child(even) {
    .cmp-accordion__panel {
      right: 192px;
      justify-content: right;
      .text {
        position: absolute;
        right: 22px;
      }
    }
  }
  .cmp-accordion__item:nth-child(odd) {
    .cmp-accordion__panel {
      left: 143px;
    }
  }

  .cmp-accordion__item:nth-child(1),
  .cmp-accordion__item:nth-child(4) {
    margin-left: 103px;
  }
  .cmp-accordion__item:nth-child(2) {
    margin-left: 40px;
  }
}
