.honeycomb {
  &.cmp-honeycomb__dpb {
    .cmp-accordion__item {
      .cmp-honeycomb-svg {
        fill: map-get($color-palette, 'aqua');
        height: 126px;
        &:hover {
          fill: map-get($color-palette, 'white');
        }
      }

      &[data-cmp-expanded] {
        .cmp-accordion__title {
          color: map-get($color-palette, 'white');
          margin-top: -2px;
          font-weight: 500;
        }
      }
      .cmp-accordion__panel {
        .cmp-text {
          color: map-get($color-palette, 'white');
        }
      }
    }
  }

  padding-bottom: 120px;
  margin-left: -21px;

  @include mobile {
    display: flex;
    justify-content: center;
    margin-left: 32px;
  }

  .cmp-accordion {
    padding: 27px 0;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
  }
  .cmp-accordion__title {
    position: relative;
    bottom: 77px;
    margin: auto;
    font-size: 16px;
    font-family: $font-family-everett;
  }
  .cmp-accordion__button {
    width: unset;
    background-color: unset;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  & > .cmp-accordion .cmp-accordion__button[aria-expanded='false']:after,
  & > .cmp-accordion .cmp-accordion__button[aria-expanded='true']:after {
    content: '' !important;
  }
  .cmp-accordion__item {
    width: 123px;
    height: 127px;
    margin: -9px 3px;
    .cmp-accordion__header {
      .cmp-accordion__title {
        font-weight: normal;
      }
    }

    .cmp-honeycomb-expanded-svg {
      height: 136px;
      display: none;
      margin-top: -6px;
      margin-left: -3px;
    }
    .cmp-honeycomb-svg {
      height: 126px;
    }

    &[data-cmp-expanded] {
      .cmp-honeycomb-svg {
        display: none;
      }
      .cmp-honeycomb-expanded-svg {
        display: block;
      }
    }
    .cmp-accordion__panel {
      position: relative;
      bottom: 141px;
      height: 100px;
      width: 200px;
      align-items: center;

      @include mobile {
        position: relative;
        width: 314px;
        text-align: center;
        align-items: start;
        .text {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }

      &.cmp-accordion__panel--expanded {
        display: flex;
      }
    }
  }
  .cmp-accordion__item:nth-child(even) {
    .cmp-accordion__panel {
      right: 192px;
      justify-content: right;
      .text {
        position: absolute;
        right: 22px;
      }
    }
  }
  .cmp-accordion__item:nth-child(odd) {
    .cmp-accordion__panel {
      left: 143px;
    }
  }

  .cmp-accordion__item:nth-child(1),
  .cmp-accordion__item:nth-child(4) {
    margin-left: 103px;
  }
  .cmp-accordion__item:nth-child(2) {
    margin-left: 40px;
  }

  @include mobile {
    .cmp-honeycomb__two-rows {
      .cmp-accordion__item:nth-child(1) {
        .cmp-accordion__panel {
          top: 125px;
          right: 91px;
          left: unset;
        }
      }
      .cmp-accordion__item:nth-child(2) {
        .cmp-accordion__panel {
          top: 16px;
          right: 6px;
          left: unset;
        }
      }
      .cmp-accordion__item:nth-child(3) {
        .cmp-accordion__panel {
          top: 16px;
          right: 157px;
          left: unset;
        }
      }
    }
    .cmp-honeycomb__three-rows {
      .cmp-accordion__item:nth-child(1) {
        .cmp-accordion__panel {
          top: 222px;
          right: 63px;
          left: unset;
        }
      }
      .cmp-accordion__item:nth-child(2) {
        .cmp-accordion__panel {
          top: 113px;
          left: 22px;
          right: unset;
        }
      }
      .cmp-accordion__item:nth-child(3) {
        .cmp-accordion__panel {
          top: 113px;
          right: 129px;
          left: unset;
        }
      }
      .cmp-accordion__item:nth-child(4) {
        .cmp-accordion__panel {
          top: 4px;
          right: 41px;
          left: unset;
        }
      }
      .cmp-accordion__item:nth-child(5) {
        .cmp-accordion__panel {
          top: 4px;
          right: 192px;
          left: unset;
        }
      }
    }
  }
}
