<div class="list cmp-list cmp-article-list--list-view w-50-pct">
  <ul id="list-071ec16d50"
    data-cmp-data-layer="{&quot;list-071ec16d50&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:56:13Z&quot;}}"
    class="cmp-list">
    <li class="cmp-list__item d-flex justify-content-between w-100-pct b-0">
      <h3 class="m-0 font-w-500">Press Releases</h3>
      <button type="button" class="cmp-list__item-viewmore b-0 cmp-button__clear">view more <i
          class="fas fa-chevron-right"></i></button>
    </li>
    <li class="cmp-list__item list-vew"
      data-cmp-data-layer="{&quot;list-949c81eff0-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>

        <a class="cmp-list__item-link" href="/content/core-components-examples/library/page-authoring/title.html"
          data-cmp-clickable="">
          <figure class="cmp-image__image-figure">
            <img class="cmp-image__image" src="/src/main/webpack/assets/images/list-view-img1.JPG" />
          </figure>
          <span class="cmp-list__item-info">
            <span class="cmp-list__item-date">2020-04-29</span>
            <span class="cmp-list__item-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            <span class="cmp-list__item-description">Display a rich text paragraph</span>
          </span>
        </a>

      </article>
    </li>

    <li class="cmp-list__item list-vew"
      data-cmp-data-layer="{&quot;list-949c81eff0-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>

        <a class="cmp-list__item-link" href="/content/core-components-examples/library/page-authoring/title.html"
          data-cmp-clickable="">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image"
              src="/src/main/webpack/assets/images/list-view-img2.JPG" />
          </figure>
          <span class="cmp-list__item-info">
            <span class="cmp-list__item-date">2020-04-29</span>
            <span class="cmp-list__item-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            <span class="cmp-list__item-description">Display a rich text paragraph</span>
          </span>
        </a>

      </article>
    </li>

    <li class="cmp-list__item list-vew"
      data-cmp-data-layer="{&quot;list-949c81eff0-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>

        <a class="cmp-list__item-link" href="/content/core-components-examples/library/page-authoring/title.html"
          data-cmp-clickable="">
          <figure class="cmp-image__image-figure">
            <img class="cmp-image__image" src="/src/main/webpack/assets/images/list-view-img3.JPG" />
          </figure>
          <span class="cmp-list__item-info">
            <span class="cmp-list__item-date">2020-04-29</span>
            <span class="cmp-list__item-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            <span class="cmp-list__item-description">Display a rich text paragraph</span>
          </span>
        </a>

      </article>
    </li>
  </ul>
</div>
