// have the site/variables file added here as per old includes.
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/variables';
@import '../site/variables';
@import './mixins';


$primary-color-palette: ( 
    "teal":#005758,
    "deep-teal": #003031,
    "aqua": #08BED5,
    "chartreuse": #CCD814,
    "black": #000000,
    "cool-gray-8": #888B8D,
    "cool-gray-10": #63666A,
    "white-secondary": #FFFFFF,
);

$secondary-color-palette: ( 
    "steel-blue": #1F728B,
    "navy": #1D3152,
    "copper": #AB584D,
    "green": #2D9F88,
    "stone": #75716E,
    "cool-gray-1": #D9D8D7,
);

$td-legacy-color-palette: ( 
    'dark-blue': #000c20,
    'sky-blue': #0bb0df,
    'td-gray': #676C71,
);
