@import '../../site/_variables.scss';
@import '../_mixins.scss';
@import '../styles/_font-face.scss';
@import '../../../../../../../tds-core/ui.frontend/src/main/webpack/global/base/_typography.scss';

.cmp-tds-title {
    h1 {
        font-size: 2.5rem;        // 40px / 16
        line-height: 3.8125rem;   // 61px / 16

        &.large {
            font-size: 4.125rem;  // 66px / 16
        }
    }

    h2 {
        font-size: 2rem;          // 32px / 16
        line-height: 3rem;        // 48px / 16
    }

    h3 {
        font-size: 1.75rem;       // 28px / 16
        line-height: 2.625rem;    // 42px / 16
    }

    h4 {
        font-size: 1.25rem;       // 20px / 16
        line-height: 1.875rem;    // 30px / 16
    }

    h5 {
        font-size: 1rem;          // 16px / 16
        line-height: 1.5rem;      // 24px / 16
    }

    h6 {
        font-size: 0.875rem;      // 14px / 16
        line-height: 1.245rem;    // 19.92px / 16
    }

    p {
        font-size: 1rem;          // 16px / 16
        line-height: 1.5rem;      // 24px / 16

        &.large {
            font-size: 1.25rem;   // 20px / 16
            line-height: 1.875rem; // 30px / 16
        }

        &.small {
            font-size: 0.875rem;  // 14px / 16
            line-height: 1.05rem; // 16.8px / 16
        }
    }
}

.cmp-marketing {
    h1 {
        font-family: $font-family-marketing;
        font-size: 88px;
        margin: 0;
    }

    h2 {
        font-family: $font-family-marketing;
        font-size: 33px;
        margin: 0;
    }

    h3 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h4 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h5 {
        font-family: $font-family-marketing;
        font-size: 15px;
        margin: 0;
    }

    h6 {
        font-family: $font-family-marketing;
        font-size: 13px;
        margin: 0;
    }
}

.cmp-digital {
    h1 {
        font-family: $font-family-digital;
        font-size: 88px;
        margin: 0;
    }

    h2 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 33px;
        margin: 0;
    }

    h3 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h4 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h5 {
        font-family: $font-family-digital;
        font-size: 15px;
        margin: 0;
    }

    h6 {
        font-family: $font-family-digital;
        font-size: 13px;
        margin: 0;
    }
}

.cmp-text-alignment {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}
