@import '../../site/_variables.scss';
@import '../_mixins.scss';
@import '../styles/_font-face.scss';


.cmp-marketing {
    h1 {
        font-family: $font-family-marketing;
        font-size: 88px;    
        margin: 0;    
    }
    h2 {
        font-family: $font-family-marketing;
        font-size: 33px;    
        margin: 0;        
    }
    h3 {
        font-family: $font-family-digital;
        font-size: 20px;   
        margin: 0;         
    }
    h4 {
        font-family: $font-family-digital;
        font-size: 20px;   
        margin: 0;         
    }
    h5 {
        font-family: $font-family-marketing;
        font-size: 15px;    
        margin: 0;        
    }
    h6 {
        font-family: $font-family-marketing;
        font-size: 13px;  
        margin: 0;          
    }
}

.cmp-digital {
    h1 {
        font-family: $font-family-digital;
        font-size: 88px;    
        margin: 0;    
    }
    h2 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 33px;    
        margin: 0;        
    }
    h3 {
        font-family: $font-family-digital;
        font-size: 20px;   
        margin: 0;         
    }
    h4 {
        font-family: $font-family-digital;
        font-size: 20px;   
        margin: 0;         
    }
    h5 {
        font-family: $font-family-digital;
        font-size: 15px;    
        margin: 0;        
    }
    h6 {
        font-family: $font-family-digital;
        font-size: 13px;  
        margin: 0;          
    }
}

.cmp-text-alignment {
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
    &--center {
        text-align: center;
    }
}

.cmp-primary-palette {
    &--teal {
        background-color: map-get($primary-color-palette, "teal");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--deep-teal {
        background-color: map-get($primary-color-palette, "deep-teal");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--aqua {
        background-color: map-get($primary-color-palette, "aqua");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--chartreuse {
        background-color: map-get($primary-color-palette, "chartreuse");
        color:  map-get($primary-color-palette, "black");
    }
    &--black {
        background-color: map-get($primary-color-palette, "black");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--cool-gray-8 {
        background-color: map-get($primary-color-palette, "cool-gray-8");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--cool-gray-10 {
        background-color: map-get($primary-color-palette, "cool-gray-10");
        color:  map-get($primary-color-palette, "white-secondary");
    }
    &--white-secondary {
        background-color: map-get($primary-color-palette, "white-secondary");
        color:  map-get($primary-color-palette, "black");
    }
}



.cmp-secondary-palette {
    &--steel-blue {
        background-color: map-get($secondary-color-palette, "steel-blue");
        color:  map-get($secondary-color-palette, "white-secondary");
    }
    &--navy {
        background-color: map-get($secondary-color-palette, "navy");
        color:  map-get($secondary-color-palette, "white-secondary");
    }
    &--copper {
        background-color: map-get($secondary-color-palette, "copper");
        color:  map-get($secondary-color-palette, "white-secondary");
    }
    &--green {
        background-color: map-get($secondary-color-palette, "green");
        color:  map-get($secondary-color-palette, "white-secondary");
    }
    &--stone {
        background-color: map-get($secondary-color-palette, "stone");
        color:  map-get($secondary-color-palette, "white-secondary");
    }
    &--cool-gray-1 {
        background-color: map-get($secondary-color-palette, "white-secondary");
        color:  map-get($secondary-color-palette, "black");
    }
}