<div data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel" id="${carousel.id}"
  class="carousel slide ${properties.customWrapperClasses}" aria-label="${carousel.accessibilityLabel}"
  data-interval="${carousel.autoplay ? carousel.delay : 'false'}"
  data-pause="${carousel.autopauseDisabled ? 'false' : 'hover'}" data-ride="${carousel.autoplay ? 'carousel' : ''}">
  <div class="carousel-inner">
    <div data-sly-repeat.item="${carousel.items}" data-sly-resource="${item.name @ decorationTagName='div'}"
      id="${item.id}" class="carousel-item${itemList.first ? ' active' : ''} ${properties.customItemClasses}"
      role="tabpanel" aria-roledescription="slide"
      aria-label="${'Slide {0} of {1}' @ format=[itemList.count, carousel.items.size], i18n}"
      data-cmp-data-layer="${item.data.json}" data-dp-hook-carousel="item"></div>
  </div>
  <sly data-sly-test="${properties.navigationType == 'arrows'}">
    <a class="carousel-control-prev" href="#${carousel.id}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#${carousel.id}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </sly>
  <div data-sly-unwrap data-sly-use.alertTemplate="alert.html">
    <div data-sly-unwrap data-sly-call="${alertTemplate}"></div>
  </div>
  <ol data-sly-test="${properties.navigationType == 'dots'}"
    class="dp-carousel__nav m-0 px-4 py-2 position-absolute w-100 bottom-0 carousel-indicators ${properties.navigationHorizontal}"
    aria-label="${'Choose a slide to display' @ i18n}">
    <li data-sly-repeat.item="${carousel.items}" data-target="#${carousel.id}" data-slide-to="${itemList.index}"
      class="dp-carousel__nav-dot ${properties.navigationColor} ${itemList.first ? 'active' : ''}"
      aria-label="${'Slide {0}' @ format=[itemList.count], i18n}">
    </li>
  </ol>
  <section data-sly-test="${properties.navigationType == 'labels'}" aria-label="${'Choose a slide to display' @ i18n}"
    class="dp-carousel__nav carousel-indicators m-0 position-absolute w-100 bottom-0 d-flex font-12 px-4 py-2 ${properties.navigationHorizontal}">
    <sly data-sly-repeat.item="${carousel.items}">
      <a data-target="#${carousel.id}" data-slide-to="${itemList.index}"
        aria-label="${'Slide {0}' @ format=[itemList.count], i18n}" href="#"
        class="dp-carousel__nav-label text-decoration-none position-relative mx-3 py-1 ${properties.navigationColor} ${properties.navigationSize} ${itemList.first ? 'active' : ''}">
        <span data-sly-test="${!itemList.first}" class="dp-carousel__nav-label-separator text-white py-1">|</span>
        ${item.title}
      </a>
    </sly>
  </section>
</div>