.cmp-renewal-action-container {
  --button-gap: 0.31rem;
  --button-display: flex;
  --button-padding: 0;
  --tds-button-display: flex;
  --tds-button-flex-direction: column;
  --menu-width: 11.2578125rem;

  tds-menu {
    position: fixed;
    right: 12.5rem;
    top: -1.5rem;
    display: flex;
  }
}
