/* stylelint-disable -- Too much to fix, will delete file later. */
@use "sass:map";

.cmp-grid-techdata {
  &.cmp-cancel-dialog {
    color: $brand-blue;
    &__cancel-button {
      &--yes {
        border-radius: 2px;
        color: $brand-blue;
        &.MuiButton-outlined {
          border: 1px solid map.get($color-palette, 'teal');
        }
        &:hover {
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: rgba(0, 12, 33, 0.1);
          color: $brand-blue;
        }
      }
      &--no {
        border-radius: 2px;
        background-color: map.get($color-palette, 'teal');

        &:hover {
          background: map.get($color-palette, 'teal');
          color: $brand-white;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, #ffffff, #ffffff);
            opacity: 0.2;
          }
        }
      }
    }
  }
}
