.cmp-grid-techdata { 

    &.cmp-cancel-dialog {
        color: $brand-blue;
        &__cancel-button {
            &--yes {
                border-radius: 2px;
                color: $brand-blue;
                &.MuiButton-outlined {
                   border: 1px solid $brand-blue;
                }
                &:hover {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: rgba(0, 12, 33, 0.1);
                    color: $brand-blue;
                }
            }
            &--no { 
                border-radius: 2px;
                background-color: $brand-blue;
               
                &:hover {
                    
                    background: $brand-blue;
                    color: $brand-white;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF);
                        opacity: .2;
                    }
                }
            }
        }
    }
}