.Chart ul{
  display: flex;
  list-style: none;
  width: 900px;
  padding: 10px;
  margin: 0 20px 20px 20px;
}
.Chart {
  text-align: center;
  /* width: 300px; */
}
.Chart button{
  background-color: rgb(51,62,77);
  padding: 10px;
  margin: 10px;
  color: #FFFFFF;
  border: 1px solid rgb(51,62,77);;
}
.Chart button:hover{
  background-color: rgb(67, 78, 95);
  padding: 10px;
  margin: 10px;
  color: #FFFFFF;
  border: 1px solid #000000;
}
//.Chart .compName{
//    border: 1px solid gray;
//    padding: 10px;
//    text-align: left;
//    margin: 20px 20px 0px 20px;
//    width: 900px;
//    background-color: midnightblue;
//    color: white;
//    font-weight: bold;
//}
.Chart .compFooter{
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
  margin: 2px;
  width: 900px;
  background-color:lightcyan;
  color: white;
  font-weight: bold;
  //display: none;
}
//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}

.Chart ul li{
  /* display: inline; */
  /* width: 20%;
  height: 250px; */
  border: 0px inset grey;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
