$brand-blue: #000c21;
$secondary-link-blue: #006bae;
.inputStyle {
  position: relative;
  padding: 0.25em;
  border: 0;
  border-bottom: 1px solid currentcolor;
  font-weight: lighter;
  letter-spacing: 0.15em;
  border-radius: 0;
  color: rgba(85, 85, 85, 1);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 16px;
  width: 15rem;
}

.inputStyle option {
  height: 17.5px;
  width: 170px;
  color: rgba(0, 12, 33, 1);
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17.5px;
}

.inputStyle:focus,
.inputStyle:active {
  outline: 0;
  border-bottom-color: $secondary-link-blue;
}

.inputStyle input {
  display: inline-block;
  width: 123px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 96px 0;
  vertical-align: middle;
  // margin-bottom: 0;
}

.inputStyle option:hover {
  background-color: #f2f2f2;
}

.cmp-search-tooltip {
  // width: 100%;
  height: 17.5px;
  width: 170px;
  color: rgba(0, 12, 33, 1);
  font-family: "Open Sans";
  top: 45px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17.5px;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 10000;
  padding: 0.5em;
  height: 50px;
  &__button {
    background-color: $brand-blue;
    cursor: pointer;
    i, svg {
      color: white !important;
    }
  }
}
.tooltipContainer {
  position: relative;
}
.tooltipContainer:hover > .tooltip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-top: -17px;
}

.tooltip button {
  background: none;
  border: none;
  padding: 0;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.tooltip__button {
  background-color: $secondary-link-blue;
  color: white;
}

.cmp-search-select-container{
  position: relative;
  &__box{
    cursor: pointer;
  }
}
.cmp-renewal-search {
  cursor: pointer;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  span {
    color: #555555;
  }
  i, svg {
    color: $secondary-link-blue;
  }
}
.cmp-search-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0.5px 0.5px 8px #000000ad;
  padding: 9px;
  position: absolute;
  height: fit-content;
  z-index: 5;
  background: white;
  top: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 17rem;
  label{
    cursor: pointer;
  }
  &__reset{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
    a{
      color: $secondary-link-blue;
      text-decoration: underline;
    }
  }
}
