/* stylelint-disable -- Too much to fix, will delete file later. */

$flyout-padding: 16px;
$flyout-small-height: 780px;
$flyout-small-height-formax: 779px;

.MuiDrawer-modal,
.MuiDrawer-paper,
.MuiAutocomplete-popper {
  z-index: 1200 !important;
}

.cmp-flyout {
  font-family: $font-family-arial;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    align-items: center;
    border-bottom: 2px solid $brand-charcoal;
    padding-bottom: 1rem;
    &-title {
      color: $brand-charcoal;
      font-family: $font-family-arial;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 26px;
    }
    &-icon {
      height: 30px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  &__content {
    padding: 0 $flyout-padding $flyout-padding $flyout-padding;
    overflow-y: auto;
    height: calc(100% - 117px);
    &-description {
      margin: 2rem 0 30px 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 24px;
      color: $brand-charcoal;
      font-family: $font-family-arial;
      &--ellipsis {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 35ch;
      }
    }
    &__contentGrid {
      display: grid;
      grid-template-columns: 75px 1fr;
      grid-gap: 16px;
    }
    &-bold {
      font-weight: 700;
      color: $brand-charcoal;
      font-family: $font-family-arial;
      width: fit-content;
    }
    &-search {
      position: relative;
      .MuiAutocomplete-root .MuiFormControl-root {
        .MuiInput-root.MuiInputLabel-formControl,
        .Mui-error,
        .Mui-focused,
        .MuiInputLabel-shrink {
          color: $brand-text-gray;
          font-family: $font-family-arial;
          font-size: 1rem;
          bottom: 35px;
          top: unset;
          .Mui-focused,
          .MuiInputLabel-shrink {
            color: map-get($color-palette, 'teal');
          }
        }
        .MuiInput-root.MuiInput-root.MuiAutocomplete-inputRoot,
        .MuiInput-root.MuiAutocomplete-inputRoot.Mui-focused {
          font-family: $font-family-arial;
          bottom: 4px;
          padding-bottom: 4px;
          line-height: 16px;
        }
      }

      .MuiInput-root.MuiInput-root.MuiInputBase-adornedEnd {
        padding-right: 0;
        .cmp-autocomplete__button-section,
        .MuiInput-root {
          padding-right: 0;
          .cmp-button__autocomplete-search {
            height: 24px;
            position: relative;
            svg {
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
    &--error {
      color: $td-error-red;
      font-size: 0.75rem;
    }
    .cmp-flyout__quotecmp-flyout__selected-quote {
      margin-top: 24px;
      padding: 16px 15px 16px 15px;
      background-color: $td-neutral-gray;
      font-size: 0.875rem;
      font-family: $font-family-arial;

      &__label,
      &__label-header {
        font-weight: 700;
        padding-bottom: 7px;
      }
      &__label-header {
        font-size: 1rem;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    &:has(.new-purchase-footer-info) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      button {
        width: 100%;
        background-color: $td-neutral-gray-2;
        text-align: center;
        color: $brand-text-lightgray;
        padding: 0 2rem;
        height: 48px;
        font-family: $font-family-arial;

        &.cmp-flyout__footer-button--enabled {
          background-color: $brand-green;
          color: white;
          cursor: pointer;
        }
        &.cmp-flyout__footer-button--secondary {
          border: 1px solid $brand-green;
          background-color: white;
          color: $brand-green;
          cursor: pointer;
        }
      }
    }
  }
  .cmp-flyout__footer__warning__container {
    position: absolute;
    display: flex;
    bottom: 79px;
    margin: 0 $flyout-padding;
    color: $brand-charcoal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 18px;
    border-left: 4px solid $brand-amber;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 0px 4px 4px 0px;
    padding: 20px;
    svg {
      flex-shrink: 0;
      margin-left: -1px;
    }
    .cmp-flyout__footer__warning__content {
      padding-left: 19px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      font-family: $font-family-arial;
      letter-spacing: -0.175px;
    }
    @media (max-height: $flyout-small-height-formax) {
      &__section-footer {
        display: none;
      }
      &__section-content {
        position: unset;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }
    @media (min-height: $flyout-small-height) {
      &__section-content {
        display: none;
      }
    }
  }
  &__content-search {
    #combo-box-demo {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &.error-flyout {
    .cmp-flyout__content {
      padding-top: 16px;

      & > pre {
        white-space: break-spaces;
      }
    }
  }

  // share flyout styles

  &.share-flyout {
    .cmp-flyout__content {
      &__description {
        margin-top: 20px;
      }
      > p {
        font-size: 16px;
        line-height: 24px;
        color: #1d252d;
      }
      label {
        font-size: 12px;
        line-height: 18px;
        color: #888b8d;
      }
      .email-preview-section {
        margin-top: 40px;
        &-title {
          font-size: 12px;
          line-height: 14px;
          color: #888b8d;
          margin-bottom: 10px;
        }
        &-product {
          font-size: 14px;
          line-height: 21px;
          font-weight: 700;
          margin-bottom: 15px;
        }
        &-desc {
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        &-quote-btn {
          padding: 8px 20px;
          background-color: map-get($color-palette, 'teal');
          color: white;
          font-size: 14px;
          line-height: 21px;
          margin-top: 10px;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
        }
      }
      textarea {
        display: block;
        width: 100%;
        resize: none;
        font-size: 14px;
        line-height: 21px;
        padding: 10px;
        margin-bottom: 5px;
        &::placeholder {
          color: #888b8d;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .char-count {
        font-size: 12px;
        line-height: 18px;
        color: #888b8d;
        display: block;
      }
      .email-signature {
        p {
          font-size: 14px;
          line-height: 21px;
          color: #262626;
        }
      }
    }
    .cmp-flyout__header {
      padding: 20px 16px;
      border-color: #d9d8d7;
      &-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
      }
      &-icon {
        height: 24px;
        svg {
          height: 24px;
        }
      }
    }
    .cmp-flyout__footer {
      padding: 16px;
      border-top: 1px solid lightgrey;

      &-buttons {
        justify-content: end;
      }

      &-button {
        width: auto;
        height: auto;
        padding: 12px 20px 12px 20px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        &.cmp-flyout__footer-button--enabled {
          background-color: map-get($color-palette, 'teal');
        }
      }
    }
    .MuiFilledInput-root:after {
      border-color: map-get($color-palette, 'teal');
    }
    .MuiAutocomplete-root {
      margin-bottom: 0;
      margin-top: 10px;
    }
    .required-text {
      font-size: 12px;
      line-height: 18px;
      color: #888b8d;
    }
    .MuiFilledInput-root {
      background-color: white;
      padding-left: 0;
    }

    #cc-email-label + .MuiFilledInput-root {
      padding-left: 22px;
    }
    .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
      transform: translate(0, 30px) scale(1);
    }
    .css-o943dk-MuiFormLabel-root-MuiInputLabel-root {
      transform: translate(0, 7px) scale(0.75);
    }
    #cc-email-label {
      transform: translate(0, 30px);
    }
    .MuiAutocomplete-endAdornment {
      top: calc(50% - 4px);
    }
    .MuiAutocomplete-root label {
      transform: translate(0, 30px) scale(1);
    }
    .MuiAutocomplete-root.Mui-focused label {
      transform: translate(0, 7px) scale(0.75);
    }
    .MuiAutocomplete-root label[data-shrink='true'] {
      transform: translate(0, 7px) scale(0.75);
    }
    .MuiChip-root {
      background-color: white;
      border: 1px solid #00558c;
      height: auto;
      &:hover {
        background-color: rgba(0, 111, 186, 0.1);
        cursor: pointer;
      }
    }

    .MuiChip-root {
      svg {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.26);
      }
      &.MuiChip-colorError {
        border-color: rgba(205, 22, 63, 1);
        .MuiChip-label {
          color: rgba(205, 22, 63, 1);
        }
      }
      &.MuiChip-colorError svg {
        color: rgba(205, 22, 63, 1);
      }
    }
    .backdrop {
      position: absolute;
      z-index: 9;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .api-failed-section {
      position: absolute;
      bottom: 0;
      z-index: 99;
      background-color: white;
      width: 100%;
      left: 0;

      .content-section {
        padding: 15px 20px;
        display: flex;
        gap: 10px;
        h3 {
          font-size: 16px;
          line-height: 22px;
          color: #262626;
          font-weight: 700;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
          color: #262626;
        }
        .email-pills {
          border: 1px solid rgba(99, 102, 106, 1);
          border-radius: 20px;
          padding: 0px 12px;
          margin-right: 10px;
          background: rgba(99, 102, 106, 0.1);
          font-size: 14px;
          line-height: 24px;
          margin-top: 10px;
          display: inline-block;
          cursor: pointer;
          &:hover {
            border-color: map-get($color-palette, 'deep-teal');
            background: rgba(0, 111, 186, 0.1);
            color: #006fba;
          }
        }

        input {
          border: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
          font-size: 16px;
          padding: 7px 4px;
          margin-right: 5px;
          max-width: 190px;

          &.error-input {
            border-color: red;
          }
        }

        .close-icon {
          vertical-align: sub;
          margin-left: 6px;
          svg {
            path {
              fill: rgba(0, 0, 0, 0.26);
            }
          }
        }
      }
      .button-section {
        padding: 10px 25px;
        border-top: 1px solid #d9d8d7;
        margin-top: 10px;
        text-align: right;
        a {
          padding: 8px 20px;
          background-color: #00558c;
          color: white;
          border: 1px solid #00558c;
          font-size: 14px;
          line-height: 21px;
          margin-top: 10px;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          margin-left: 28px;
        }

        .cancel-btn {
          color: #00558c;
          background-color: white;
        }
      }
    }
  }
  &.request-flyout {
    .cmp-flyout__content {
      > p {
        font-size: 16px;
        line-height: 24px;
        color: #262626;
      }
      label {
        font-size: 12px;
        line-height: 18px;
        color: #888b8d;
        margin-bottom: 12px;
        display: block;
      }
      textarea {
        display: block;
        width: 100%;
        resize: none;
        font-size: 16px;
        line-height: 24px;
        padding: 16px;
        margin-bottom: 5px;
        height: 58px;
        &::placeholder {
          color: #888b8d;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .char-count {
        font-size: 12px;
        line-height: 18px;
        color: #888b8d;
        display: block;
      }
    }
    .cmp-flyout__header {
      padding: 18px;
      border-color: #d9d8d7;
      margin-bottom: 15px;
      &-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
      }
      &-icon {
        height: 24px;
        svg {
          height: 24px;
        }
      }
    }
    .cmp-flyout__footer {
      padding: 10px 0;
      border-top: 1px solid lightgrey;

      &-buttons {
        justify-content: end;
      }

      &-button {
        width: auto;
        margin-right: 20px;
        height: auto;
        padding: 12px 20px 12px 20px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        &.cmp-flyout__footer-button--enabled {
          background-color: map-get($color-palette, 'teal');

          &:hover {
            background-color: $brand-green;
          }
        }
      }
    }
  }
}

li[id^='combo-box-demo-option-']:active {
  background-color: #005758 !important;

  .cmp-flyout-autocomplete__option-name * {
    color: white;
  }

  .cmp-flyout__content-search__quote--highlighted {
    color: map-get($color-palette, 'white') !important;
  }
}

.MuiAutocomplete-option
  .cmp-flyout-autocomplete__option-name
  .cmp-flyout__quotecmp-flyout__selected-quote {
  font-family: $font-family-arial;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
  color: $text-darker-grey;
  .cmp-flyout__quotecmp-flyout__selected-quote {
    &__account-number {
      font-size: 1rem;
      line-height: 21px;
      color: map-get($color-palette, 'charcoal');
      font-family: $font-family-arial;

      .cmp-flyout__content-search__quote--highlighted {
        color: map-get($color-palette, 'charcoal');
        font-weight: normal;
        font-family: $font-family-arial;
      }
      span {
        font-family: $font-family-arial;
      }
    }

    &__account-number,
    &__account-name,
    &__city {
      font-family: $font-family-arial;

      .cmp-flyout__content-search__quote--highlighted {
        color: map-get($color-palette, 'charcoal');
        font-weight: normal;
        font-family: $font-family-arial;
      }
    }
  }
}

.cmp-flyout-table {
  &__header {
    &-headCell {
      color: map-get($color-palette, 'charcoal') !important;
    }
  }
  .MuiTableHead-root {
    border-top: 3px solid $brand-charcoal;
    th {
      font-weight: 700;
      border-bottom: 1px solid $brand-charcoal;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .MuiTableBody-root {
    .MuiTableRow-root {
      .MuiTableCell-root {
        padding-top: 20px;
      }
    }
  }
  .MuiTableCell-root {
    border: transparent;
  }

  .MuiTableCell-paddingCheckbox[class^='MuiTableCell-root'] {
    padding: 7px 0px 7px 15px;
  }
  .Mui-selected[class^='MuiTableRow-root'] {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  .MuiTableRow-hover[class^='MuiTableRow-root']:hover {
    background-color: transparent;
  }
}

.cmp-flyout__content.order-modification {
  padding: 0;
  .add-new {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: $brand-green;
    border-bottom: 1px solid $v-divider-gray;
  }
  .edit-quantities {
    font-size: 16px;
    padding-left: 30px;
  }
}

.cmp-flyout__footer-buttons.order-modification {
  display: block;
  > button {
    width: auto;
    min-width: 98px;
    height: 48px;
    float: right;
    background-color: $brand-white;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    &:disabled {
      background-color: $td-neutral-gray-2;
      color: $brand-text-lightgray;
      cursor: default;
    }
  }

  .primary {
    color: $brand-white;
    background-color: $brand-green;
    margin-left: 20px;
  }
  .secondary {
    color: $brand-green;
    background-color: $brand-white;
    display: flex;
    align-items: center;
  }
}

.cmp-flyout-list {
  padding: 20px 30px;

  &__element {
    height: 158px;
    padding: 20px 0;
    border-bottom: 1px solid $v-divider-gray;
    display: grid;
    grid-template-columns: 36px 110px 627px 106px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    p {
      font-size: 14px;
      margin: 0;
    }

    &__number {
      grid-area: 1 / 1 / 3 / 2;
    }
    &__picture {
      grid-area: 1 / 2 / 3 / 3;
    }
    &__title {
      grid-area: 1 / 3 / 2 / 4;
      p {
        color: $brand-cobalt;
        font-size: 16px;
      }
    }
    &__counter {
      grid-area: 2 / 3 / 3 / 4;
    }
    &__price {
      grid-area: 2 / 4 / 3 / 5;
      text-align: right;
      font-size: 14px;

      &-bold {
        font-weight: 600;
      }
    }
  }
}

.cmp-flyout-td-synnex {
  & .cmp-flyout__footer {
    &-buttons {
      button {
        &.cmp-flyout__footer-button--enabled {
          background-color: $brand-green;
        }
        &.cmp-flyout__footer-button--secondary {
          border: 1px solid $brand-green;
          color: $brand-green;
        }
      }
    }
  }
}

.cmp-flyout-newPurchase {
  display: flex;
  flex-direction: column;
  &__banner {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $light-blue;
    border-left: 4px solid $brand-cobalt;

    &__icon {
      margin-left: 22px;
    }
    &__text {
      padding: 22px;
    }
  }

  &__description {
    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 10px;
    }
    &__subtext {
      margin-top: 20px;
      color: $brand-text-lightgray;
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-self: center;

    &__container {
      width: 360px;
      margin-top: 30px;
      margin-bottom: 18px;
      place-self: center;
    }

    &__input-reseller-search {
      margin-bottom: 8px;
      position: relative;

      .cmp-flyout__content--error {
        margin-top: 10px;
      }

      .MuiAutocomplete-root .MuiFormControl-root {
        .MuiInput-root.MuiInputLabel-formControl,
        .Mui-error,
        .Mui-focused,
        .MuiInputLabel-shrink {
          color: $brand-text-gray;
          font-family: $font-family-arial;
          font-size: 1rem;
          bottom: 35px;
          top: unset;
          .Mui-focused,
          .MuiInputLabel-shrink {
            color: map-get($color-palette, 'teal');
          }
        }
        .MuiInput-root.MuiInput-root.MuiAutocomplete-inputRoot,
        .MuiInput-root.MuiAutocomplete-inputRoot.Mui-focused {
          font-family: $font-family-arial;
          bottom: -8px;
          padding-bottom: 2px;
          line-height: 16px;
        }
      }

      .MuiInput-root.MuiInput-root.MuiInputBase-adornedEnd {
        padding-right: 0;
        .cmp-autocomplete__button-section,
        .MuiInput-root {
          padding-right: 0 !important;
          .cmp-button__autocomplete-search {
            height: 24px;
            padding-left: 0;
            padding-right: 0;
            min-width: 24px;
          }
        }
      }
      .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary,
      .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary:focus {
        font-size: 12px;
        color: $brand-text-lightgray;
      }
    }

    &__input-container {
      width: 100%;
      margin-top: 16px !important;
    }
  }

  &__form-details {
    display: flex;
    flex-direction: column;
    &__title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
    }
    &__card {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: $td-neutral-gray;
      display: flex;
      justify-content: space-between;
    }
    &__card-section {
      max-width: 200px;
      display: flex;
      flex-direction: column;
    }
    &__card-title {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      color: $brand-icon-gray-color;
    }
    &__card-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    &__description {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    &__description-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
    }
    &__description-text {
      margin-top: 10px;
      line-height: 24px;
    }
  }

  &__form-search {
    max-width: 328px;

    .cmp-flyout__content--error {
      margin-top: 10px;
    }

    .MuiAutocomplete-root .MuiFormControl-root {
      .MuiInput-root.MuiInputLabel-formControl,
      .Mui-error,
      .Mui-focused,
      .MuiInputLabel-shrink {
        color: $brand-text-gray;
        font-family: $font-family-arial;
        font-size: 1rem;
        bottom: 35px;
        top: unset;
        .Mui-focused,
        .MuiInputLabel-shrink {
          color: map-get($color-palette, 'teal');
        }
      }
      .MuiInput-root.MuiInput-root.MuiAutocomplete-inputRoot,
      .MuiInput-root.MuiAutocomplete-inputRoot.Mui-focused {
        font-family: $font-family-arial;
        bottom: -8px;
        padding-bottom: 2px;
        line-height: 16px;
      }
    }

    .MuiInput-root.MuiInput-root.MuiInputBase-adornedEnd {
      padding-right: 0;
      .cmp-autocomplete__button-section,
      .MuiInput-root {
        padding-right: 0 !important;
        .cmp-button__autocomplete-search {
          height: 24px;
          padding-left: 0;
          padding-right: 0;
          min-width: 24px;
        }
      }
    }
    .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary,
    .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary:focus {
      font-size: 12px;
      color: $brand-text-lightgray;
    }
  }
  &__form-date {
    display: flex;
    margin-top: 28px;
    &__display-column {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }
    &__display-column--wide {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
    }
    &__hyphen {
      height: 1px;
      width: 11px;
      margin-top: 28px;
      margin-right: 10px;
      background-color: $brand-blue;
    }
    &__title {
      font-size: 12px !important;
      line-height: 18px;
      color: $brand-icon-gray-color !important;
    }
    &__text {
      color: $brand-charcoal !important;
      line-height: 24px;
    }
    &__input {
      color: $brand-charcoal !important;
      line-height: 24px;
      border-bottom: 1px solid $brand-icon-gray-color;
    }
  }
  &__form-table {
    margin-top: 10px;
    width: 100%;
    &__header {
      height: 56px;
      border-top: 3px solid $brand-black;
      border-bottom: 1px solid $brand-black;
      &__title {
        color: $brand-charcoal;
        padding: 10px 21px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        &:first-of-type {
          padding-left: 10px;
        }
        &:last-of-type {
          padding-right: 29px;
        }
      }
      .header-content-column {
        display: flex;
        flex-direction: column;
        .currency {
          font-weight: 400;
        }
      }
      .unitPrice-header {
        padding-right: 21px;
      }
    }
    &__body {
      tr {
        border-bottom: 1px solid $brand-cool-gray-1;
      }
      &__text {
        color: $brand-charcoal;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 21px;
        &:first-of-type {
          padding-left: 10px;
        }
        &:last-of-type {
          padding-right: 7px;
        }
      }
      .total-price-body {
        display: flex;
        justify-content: end;
        button {
          margin-left: 10px;
        }
      }
      &__input {
        display: flex;
        justify-content: end;
        align-items: center;

        input {
          font-size: 14px;
          border: none;
          border-bottom: 1px solid $brand-text-lightgray;
          width: 100px;
          text-align: right;
        }

        button {
          margin-left: 5px;
        }

        /* disabe input arrows */
        /* For Chrome, Safari, Edge, and other WebKit-based browsers */
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* For Firefox */
        input[type='number'] {
          -moz-appearance: textfield;
        }
      }
      .body-content-column {
        display: flex;
        flex-direction: column;
      }
      .cmp-quantity-column {
        display: flex;
        justify-content: center;

        &__btn--column {
          display: flex;
          flex-direction: column;
        }
        &__btn {
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $brand-green;
          color: $brand-white;

          &--disabled {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brand-cool-gray-1;
            color: $brand-charcoal;
            padding: 0 3px;
          }

          &:hover {
            background-color: #08bed5;
            color: #262626;
            cursor: pointer;
          }

          svg {
            fill: $brand-white;
            height: 11px;
            width: 11px;
          }
        }

        &__input {
          grid-area: input;
          border: 1px solid #75716e;
          text-align: center;
          width: 32px;
          height: 32px;

          &:focus {
            border: 1px solid #75716e;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
          -moz-appearance: textfield;
        }
      }
    }
    &__subtotal {
      display: flex;
      justify-content: end;
      margin-top: 16px;
      margin-right: 29px;
      &__title {
        margin-right: 44px;
        color: $brand-charcoal;
        font-size: 14px;
      }
      &__text {
        color: $brand-charcoal;
        font-size: 14px;
      }
    }
    .text-align-start {
      text-align: start;
    }
    .text-align-center {
      text-align: center;
    }
    .text-align-end {
      text-align: end;
    }
  }
}
.new-purchase-footer-info {
  display: flex;
  flex-direction: column;
  &__title {
    color: $brand-green;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
  &__text {
    color: $brand-charcoal;
    font-size: 14px;
  }
}
.new-purchase-datepicker-container {
  padding-left: 40px;
  margin-bottom: 19rem;
  margin-top: 30px;

  input#start-date {
    pointer-events: none;
  }
  .datepicker-checks {
    li {
      list-style: none;
      padding-left: 21px;
      margin-bottom: 0.45rem;

      label {
        color: #555555;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        cursor: pointer;
        user-select: none;
      }

      input[type='radio'] {
        accent-color: black;
        margin-right: 6px;
        vertical-align: middle;
        margin-top: 0;
        cursor: pointer;
      }

      input[type='radio'].td-synnex {
        accent-color: $brand-green;
      }
    }
  }
}
