$flyout-padding: 1.3rem;
$flyout-small-height: 780px;
$flyout-small-height-formax: 779px;

.cmp-flyout {
  font-family: $font-family-arial;
  position: relative;
  height: 100%;
  overflow: hidden;
  
  &__header {
    display: flex;
    justify-content: space-between;
    padding: $flyout-padding;
    align-items: center;
    border-bottom: 2px solid $brand-charcoal;
    padding-bottom: 1rem;
    &-title {
      color: $brand-charcoal;
      font-family: $font-family-arial;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 26px;
    }
    &-icon {
      font-size: 2rem;
      cursor: pointer;
    }
  }
  &__content {
    padding: 0 $flyout-padding $flyout-padding $flyout-padding;
    overflow-y: auto;
    height: calc(100% - 117px);

    &-description {
      margin: 2rem 0 30px 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 18px;
      color: $brand-charcoal;
      font-family: $font-family-arial;
    }
    &-bold {
      font-weight: 700;
      color: $brand-charcoal;
      font-family: $font-family-arial;
    }
  }
  &__footer {
    display:flex;
    button {
      width: 100%;
      background-color: $td-neutral-gray-2;
      text-align: center;
      color: $brand-text-lightgray;
      padding: 0 2rem;
      height: 48px;
      font-family: $font-family-arial;

      &.cmp-flyout__footer-button--enabled {
        background-color: $brand-green;
        color: white;
        cursor: pointer;
      }
      &.cmp-flyout__footer-button--secondary {
        border: 1px solid $brand-green;
        background-color: white;
        color: $brand-green;
        cursor: pointer;
      }
    }
  }
}

.cmp-flyout-table {
  .MuiTableHead-root{
    border-top: 3px solid $brand-charcoal;
    th {
      font-weight: 700;
      border-bottom: 1px solid $brand-charcoal;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .MuiTableBody-root{
    .MuiTableRow-root{
      .MuiTableCell-root{
        padding-top: 20px;
      } 
    }
  }
  .MuiTableCell-root{
    border: transparent;
  } 
  
  .MuiTableCell-paddingCheckbox[class^='MuiTableCell-root']{
    padding: 7px 0px 7px 15px
  }
  .Mui-selected[class^='MuiTableRow-root']{
    background-color: transparent;
    &:hover {
    background-color: transparent;
    }
  }
  .MuiTableRow-hover[class^='MuiTableRow-root']:hover{
    background-color: transparent;
  }
}