.tdr-link {
    &.always {
        text-decoration: underline;
        cursor: pointer;
    }
    &.none {
        text-decoration: none;
    }
    &.hover {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}