.cmp-quote-preview {
    .cmp-loader-roller {
        display: block;
        margin: 0 auto;
    }
}

.cmp-qp-continue {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    padding: 20px;
    .cmp-quote-button.cmp-qp-continue__btn {
        max-width: fit-content;
        color: $brand-white;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        margin-bottom: 10px;
    }
    &__checkbox {
        color: $brand-text-gray;
        font-size: 13px;
        letter-spacing: 0;
        text-align: right;
        margin-bottom: 20px;
        label {
            padding-left: 5px;
        }
    }
    &__link {
        color: $brand-button-blue;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }
}

.cmp-qp__subtotal {
    text-align: right;
    padding-right: 20px;
    &>p {
        color: $brand-blue;
        font-size: 20px;
        font-family: inherit;
        line-height: 27px;
        text-align: right;
        margin-bottom: 0;
        &>span {
            color: $brand-blue;
            font-family: inherit;
            font-size: 24px;
            letter-spacing: 0;
            line-height: 33px;
        }
    }
}

.cmp-qp__config-grid {
    &--title {
        border-bottom: 1px solid $brand-blue;
        padding: 0 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        color: $brand-blue;
        font-size: 18px;
        span {
            color: $brand-text-gray;
            line-height: 30px;
        }
    }
}

.cmp-qp__company-info, .cmp-qp__general-info, .cmp-qp__enduser-info {
    &--title {
        color: $brand-blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        position: relative;
        cursor: pointer;
        &::before {
            content: '\f303';
            position: absolute;
            left: -22px;
            font-family: 'Font Awesome 5 Free';
            color: $brand-light-blue-icon;
        }
    }
    &--sub-title {
        color: $brand-text-gray;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
    }
    &--address-group {
        color: $brand-text-gray;
        font-size: 13px;
        line-height: 18px;
        span {
            display: block;
        }
    }
}

.info-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    padding: 20px 40px;
}

.cmp-qp__default-address {
    .form-check {
        font-size: 13px;
        line-height: 18px;
        color: $brand-text-gray;
        label {
            display: block;
        }
        span {
            &:not(:first-of-type) {
                display: block;
                margin-left: 22px;
            }
            &:first-of-type {
                margin-left: 9px;
            }
            &:last-of-type {
                border-bottom: 1px solid $brand-scrollbar;
                padding-bottom: 4px;
                margin-bottom: 6px;
            }
        }
    }
    .form-group {
        margin-top: 20px;
        display: flex;
        .cmp-qp--save-address {
            margin-right: 10px;;
        }
        .cmp-qp--cancel-address {
            background-color: $brand-scrollbar;
            color: $brand-text-gray;
        }
    }
}
