.place-cmp-order-dialog-container {
  padding: 1.6rem 2rem;
  padding-top: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
  }
  .cmp-order-purchase-order-number {
    label,
    p {
      color: $brand-icon-gray-color;
    }
    label.Mui-error {
      color: #a6aaab !important;
    }
  }
  .cmp-place-order-title {
    font-family: 'Arial';
    color: $brand-charcoal;
    span b {
      font-family: 'Arial';
    }
  }

  .cmp-place-order-content {
    .cmp-order-purchase-order-number {
      .MuiInputLabel-root,
      .MuiInput-root .MuiInput-input,
      .MuiFormHelperText-root.MuiFormHelperText-root {
        font-family: 'Arial';
      }
    }
  }
}
.place-cmp-adobe-order-dialog-container {
  padding: 24px;
  padding-top: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px !important;
  height: auto;
  &__closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 24px 0 24px;
    cursor: pointer;
  }
  .cmp-order-purchase-order-number {
    label,
    p {
      color: $brand-text-lightgray;
    }
    label.Mui-error {
      color: #a6aaab !important;
    }
  }
  .cmp-place-order-main-title {
    font-family: 'Arial';
    color: $brand-charcoal;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
  }
  .cmp-place-order-title {
    font-family: 'Arial';
    color: $brand-charcoal;
    span b {
      font-family: 'Arial';
    }
  }

  .cmp-place-order-content {
    .cmp-order-purchase-order-number {
      .MuiInputLabel-root,
      .MuiInput-root .MuiInput-input,
      .MuiFormHelperText-root.MuiFormHelperText-root {
        font-family: 'Arial';
      }
    }
  }
}

.cmp-place-order-actions {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 0;
  button.cmp-order-button-component {
    font-family: 'Arial';
    text-transform: none;
    &.td-synnex {
      background-color: $brand-green;
      &.Mui-disabled {
        background-color: #0000001f;
      }
    }
    &.cmp-grid-techdata {
      background-color: map-get($color-palette, 'deep-teal');
      &.Mui-disabled {
        background-color: #0000001f;
      }
    }
    .cmp-progress-icon {
      animation: loading-icon 1.3s linear infinite;
    }
  }
}

.cmp-place-adobe-order-actions {
  display: flex;
  flex-direction: row-reverse;
  button.cmp-order-button-component {
    font-family: 'Arial';
    text-transform: none;
    background-color: $brand-green;
    color: $brand-white;
    height: 48px;
    &.td-synnex {
      background-color: $brand-green;
      &.Mui-disabled {
        background-color: #0000001f;
      }
    }
    &.cmp-grid-techdata {
      background-color: map-get($color-palette, 'deep-teal');
      &.Mui-disabled {
        background-color: #0000001f;
      }
    }
    .cmp-progress-icon {
      animation: loading-icon 1.3s linear infinite;
    }
  }
  .disabledAdobeVNButton {
    background-color: $td-neutral-gray-2 !important;
    color: $brand-text-lightgray !important;
  }
}

@keyframes loading-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.cmp-place-order-terms {
  display: flex;

  .cmp-place-order-checkbox {
    align-self: start;
    padding-top: 2px;

    svg {
        fill: $brand-green;
    }
  }

  a.cmp-place-order-link {
    color: #00558c;
    cursor: pointer;
  }
  label {
    span,
    .cmp-place-order-link {
      font-family: 'Arial';
    }
    a.cmp-place-order-link {
      color: map-get($color-palette, 'teal');
      text-decoration: none;
    }
    color: $brand-charcoal;
  }
  .cmp-place-order-checkbox {
    padding-left: 0px;
    &.td-synnex {
      color: $brand-green;
    }
    &.cmp-grid-techdata {
      color: $brand-blue;
    }
  }
}

.cmp-place-order-terms label {
  cursor: pointer;
}

.cmp-place-order-terms {
    a,
    span {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
}
