.place-cmp-order-dialog-container {
    padding: 1.6rem 2rem;
    padding-top: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__closeIcon{
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        cursor: pointer;
    }
    .cmp-order-purchase-order-number{
        label.Mui-error{
            color: #a6aaab !important;
        }
    }
    .cmp-place-order-title{
        font-family: "Arial";
    }

}

.cmp-place-order-actions {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem 0;
    button.cmp-order-button-component {
        &.td-synnex {
            background-color: $brand-green;
            &.Mui-disabled{
                background-color: #0000001f;
            }
        }
        &.cmp-grid-techdata {
            background-color: $brand-blue;
            &.Mui-disabled{
                background-color: #0000001f;
            }
        }
        .cmp-progress-icon {
            animation: loading-icon 1.3s linear infinite;
        }
    }
}

@keyframes loading-icon {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.cmp-place-order-terms{
	a.cmp-place-order-link {
		color: #00558C;
		cursor: pointer;
	}
    .cmp-place-order-checkbox {
        padding-left: 0px;
        &.td-synnex {
            color: $brand-green;            
        }
        &.cmp-grid-techdata {
            color: $brand-blue;
        }
    }
}

.cmp-place-order-terms label{	
    cursor: pointer;
}

@mixin toasterContent($borderColor : #207c71){
    padding: 29px;
    border-left: 9px solid $borderColor;
    display: flex;
    gap: 1rem;
    position: relative;
    p{
        padding: 0;
        margin: 0;
        text-align: justify;
        margin-bottom: 21px;
    }
    &__closeIcon{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        svg {
            width: 20px;
        }
    }
}
.toaster-modal {    
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
        height: auto;
        transition: all .4s ease-out;
        right: 2rem;
        width: 30rem;
        .cmp-toaster-content{
            @include toasterContent;    
            &__message{
                font-family: "Arial";
                p {
                    font-family: "Arial";
                    margin: 0;                
                }
            }      
            &__error-title{
                display: block;
                margin-bottom: 1rem;
            }
        }
        .cmp-toaster-content-error{
            @include toasterContent($borderColor: rgb(181 0 0));         
            p {
                margin-bottom: 0;
            } 
        }       
    }  
}

.MuiDrawer-root .MuiDrawer-modal .toaster-modal .MuiModal-root  {
    .MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation16 .MuiDrawer-paper .MuiDrawer-paperAnchorRight {
        top: 4.5rem !important;
    }
}

.MuiDrawer-root .MuiDrawer-modal .toaster-modal .MuiModal-root  {
    .MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation16 .MuiDrawer-paper .MuiDrawer-paperAnchorRight {
        top: 4.5rem !important;
    }
}
