.cmp-renewals-details {
    .page-info.hidden{
        display: none;
      }
    .cmp-quantity-column {
        display: grid;
        grid-template-columns: 19px minmax(34px, 1fr);
        grid-template-rows: 18px 18px;
        grid-template-areas: 
            "add      input"
            "subtract input";
        
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brand-green;
            color: $brand-white;

            &--disabled {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $brand-cool-gray-1;
                color: $brand-charcoal;
                padding: 0 3px;
            }

            &:hover {
                background-color: #08BED5;
                color: #262626;
                cursor: pointer;
            }

            svg {
                fill: $brand-white;
                height: 11px;
                width: 11px;
            }
          
        }

        &__input {
            grid-area: input;
            border: 1px solid #75716E;
            text-align: center;
            width: 100%;
            
            &:focus {
                border: 1px solid #75716E;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none;
            }
            -moz-appearance: textfield;
        }
    }
    .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-focus {
        border: none !important;
        border-top: 1px solid #d8d8d8 !important;
    }
}