.place-cmp-order-dialog-container {
    padding: 1.6rem 2rem;
}

p.cmp-place-order-actions {
    display: flex;
    flex-direction: row-reverse;
}

.cmp-place-order-terms{
	a.cmp-place-order-link {
		color: #00558C;
		cursor: pointer;
	}
}