// overriding styles applied over grid in quote preview.
.cmp-renewal-preview
  .ag-header-container
  .ag-header-row
  .ag-header-cell:nth-child(3) {
  .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
    width: auto;
  }
}

.cmp-renewal-preview {
  .details-container {
    display: flex;
    padding: 27px 15px 0 15px;
    justify-content: space-between;
    .details-preview {
        color: rgba(0, 12, 33, 1);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 33px;
    }
  }
  .loader-rotate {
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .saving__absolute {
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .icon-button {
    display: flex;
    align-items: center;
    &.underlined_hover:not(.disabled):hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    &__default {
      @include font-arial-normal();
      background-color: transparent;
      color: #005758;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
      &:disabled {
        color: #D9D8D7;
        text-decoration: none;
        cursor: default;
      }
    }
  }
  .icon-button__container {
    display: flex;
    align-items: center;
    &.cancel-save__absolute {
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
  .cmp-product-lines-grid__header {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 22px;
      font-weight: 500;
      text-shadow: 0px 0px 0px #000c21;
    }
  }
  .cmp-product-lines-grid__item-information__box-text {
    a p {
      font-weight: bold;
    }
  }
  .cmp-renewal-preview {
    &__subtotal {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      padding: 24px 20px;
      &--description {
        color: #000c21;
        font-size: 20px;
        line-height: 27px;
      }
      &--value {
        color: #000c21;
        font-size: 24px;
        line-height: 33px;
        padding-left: 40px;
      }
      &--note {
        font-size: 16px;
        line-height: 27px;
      }
      &--currency-code {
        margin-left: 7px;
      }
      &--currency-symbol {
        margin-right: 2px;
      }
    }    
  }

  .cmp-unitprice{
    width: 100%;
    margin: 0 auto;
  }
  .cmp-unitprice-edit{
    #formatted-uniteprice-input{
      text-align: right;
      color: #555555;
    }
  }
  &__prod-details {
    cursor: pointer;
    .short-desc {
      margin: 0;
      color: #00558c;
      font-size: 12px;
      font-weight: 600;
      width: 62%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
    }
    span {
      color: #555555;
      font-size: 11px;
      letter-spacing: 0;
      line-height: 14px;
      display: block;
    }
  }

  .ag-header-container .ag-header-row {
    .ag-cell-label-container span.ag-header-cell-text {
      font-size: 15px;
    }
  }

  .cmp-grid.ag-theme-alpine {
    .ag-header {
      height: 65px !important;
      &-row {
        height: 55px !important;
      }
      &-cell {
        padding: 0 10px 10px;
        min-width: 90px;
      }
    }
    .ag-root-wrapper {
      border: none;
    }
  }
  
  .right-aligned {
    text-align: right;
  }
  
  .center-aligned {
    text-align: center;
  }
}
