// overriding styles applied over grid in quote preview.
.cmp-renewal-preview
  .ag-header-container
  .ag-header-row
  .ag-header-cell:nth-child(3) {
  .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
    width: auto;
  }
}

.cmp-renewal-preview {
  .cmp-product-lines-grid__header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: 1rem;
    span {
      font-size: 22px;
      font-weight: 500;
      text-shadow: 0px 0px 0px #000c21;
    }
  }
  .cmp-renewal-preview {
    &__download {
      button {
        background-color: inherit;
        border: none;
        &:first-child span {
          padding-right: 20px;
          border-right: 1px solid #d8d8d8;
        }
        span {
          color: #555555;
          font-size: 13px;
          line-height: 13px;
          display: inline-block;
          cursor: pointer;
          &:last-child {
            padding-left: 8px;
          }
          svg {
            color: #000c21;
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
            margin-right: 8px;
          }
          i {
            margin-right: 8px;
          }
        }
      }
    }
    &__subtotal {
      width: 100%;
      display: flex;
      justify-content: right;
      align-items: center;
      background-color: #f6f6f6;
      padding: 24px 0;
      padding-right: 40px;
      &--description {
        color: #000c21;
        font-size: 20px;
        line-height: 27px;
      }
      &--value {
        color: #000c21;
        font-size: 24px;
        line-height: 33px;
        padding-left: 40px;
      }
    }
  }
  .note {
    color: #555555;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    padding-right: 20px;
  }
  .price{
    width: 68%;
    margin: 0 auto;
  }
  &__prod-details {
    cursor: pointer;
    .short-desc {
      margin: 0;
      color: #00558c;
      font-size: 12px;
      font-weight: 600;
      width: 62%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
    }
    span {
      color: #555555;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 14px;
      display: block;
    }
  }
}
