.cmp-renewals-grid {
  .ag-theme-alpine .ag-root-wrapper {
    border: none;
  }
}
.cmp-renewals-subheader {
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  border-bottom: 2px solid #030f24;
  align-items: center;
  .cmp-navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
    p {
      margin: 0;
      color: #555555;
      font-size: .9rem;
      display: flex;
      button {
        background: none;
        cursor: pointer;
      }
    } 
    &__actions{
      button {
        margin: 0;
        padding: 0;
      }
      &-labels{
        display: flex;
        padding: 0 4px;
        gap: 6px;
        span.selected{
          position: relative;
          display: block;
          width: 13px;
          text-align: center;
          &::after{
            content: "";
            width: 13px;
            background: #b7b7b7;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
  .renewal-filters {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .cmp-renewals-filter-container {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    button {
      background: none;
      color: #555555;
    }
    i, svg {
      color: #00558c;
    }
    &__button {
      background: none;
    }
  }
  .cmp-vertical-separator {
    width: 2px;
    background: #e2e7eb;
    height: 1.3rem;
    margin: auto 0;
    display: inline;
  }
}
.cmp-renewals-grid {
  .ag-react-container {
    font-size: 0.875rem;
  }
  .icon-container {
    margin: 0 0.8em;
    padding: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    button {
      cursor: pointer;
      background-color: inherit;
      svg, i {
        margin-right: 0.7em;
      }
    }
  }
  .cmp-grid.ag-theme-alpine .ag-paging-panel {
    position: relative !important;
  }
}

span.ag-group-value {
  font-size: x-large;
  font-weight: bold;
}

.ag-cell-wrapper.ag-row-group {
  display: flex;
  justify-content: center;
}
