
@mixin common-planoption-card {
  padding: 1rem 22px 1rem 0;
  text-align: left;
  position: relative;
  padding-bottom: 2rem;  
  .rightHeader {
    margin-left: 2px;
    float: right;
    font-size: 16px;
    color: $brand-blue;
    h4{
      cursor: pointer; 
      transition: all .13s ease;     
    }
  }
  .clear {
    clear: both;
  }
  .leftHeader {
    float: left;
    font-size: 16px;
    color: $brand-blue;
    h4{
      label{
        cursor: pointer;
        transition: all .13s ease;
      }
      input{
        margin: 0;
      }
    }
  }
  .planDetails {
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
    p {
      line-height: 1.6em;
    }
  }
  .currentPlan {
    text-align: left;
    font-style: italic;
    color: $brand-success;
    display: block;
    margin-bottom: 10px;
  }		
  .footer{
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    button {
      width : min-content;
      background-color: $td-neutral-gray;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      span{
        color: $brand-text-gray;
      }
    }
    span.vertical-separator{
      background: #cbc9c9;
      width: 1px;
      height: 19px;
      }
  }	
}

@mixin cart-icon {  
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill:$brand-icon-gray-color;  
    color: $brand-icon-gray-color;
    transition: all .5 ease;
  }   
  &:hover span, &:hover svg {
    color: $td-lightblue;
    fill: $td-lightblue;
  } 
} 

.cmp-renewals-grid {
  .page-info.hidden{
    display: none;
  }
  .ag-theme-alpine .ag-root-wrapper {
    border: none;
  }
  .cmp-renewal-duration{
    display: flex;
    align-items: center;
    gap: .6rem;
    justify-content: space-between;
    cursor: pointer; 
    &__info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }      
    .cmp-triangle-up, .cmp-triangle-down{
      pointer-events: none;
    }
  }
  .cmp-grid.ag-theme-alpine .ag-row{
    background-color: white !important;
    border-bottom: 1.2px solid #cdcbcb61;    
  }
  .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper, .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container, .ag-theme-alpine .ag-layout-print .ag-center-cols-clipper, .ag-theme-alpine .ag-layout-print .ag-center-cols-container{
    min-height: auto;
  }
  .cmp-grid.ag-theme-alpine .planDetails{ 
    .ag-row{
      border-bottom: none;
    }
    .ag-header{
      display: none;
    }
    .ag-cell{
      padding: 0;
      border: none;      
    }
  }
  .cmp-grid.ag-theme-alpine .ag-header{
    height: 45px !important;
    padding-top:4px;
  }
  .ag-theme-alpine .ag-header-cell-resize::after{
    top: calc(50% - 24%);
    height: 52%;
  }
  .cmp-due-date-day-column{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% / 2);
		margin: 0 auto;
		height:100%;
		gap: .5rem;
		.cmp-due-date-days-number{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
	.cmp-due-date-column{
		text-align: left;
	}
  @mixin bottom-border(){
    &:nth-child(-n+4){			
      &::before{
        content: "";
        position: absolute;
        background-color: $td-neutral-gray-2;
        height: 1px;
        width: 97%;
        left: -9px;
        bottom: 0;				
      }				
    } 
  }
  @mixin right-border{
    &::after{
      content: "";
      position: absolute;
      background-color: $td-neutral-gray-2;
      width: 1px;
      height: 92%;
      top: -6px;
      bottom: 0;
      right: 0;				
    }
  }
	.cmp-price-column{
		text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
	}
  .cmp-card-marketing-section{
    @include common-planoption-card;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .marketing-body{
      background-color: $td-neutral-gray;
      width: 90%;
      height: 90%;
    }
  }
  .cmp-renewal-plan-column{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(297px, 1fr) );
		grid-gap: 26px;
		padding: 20px;
    background-color: $td-neutral-gray;
		-webkit-box-shadow: inset 5px -5px 4px -4px #E1E1E1; 
		box-shadow: inset 5px -5px 4px -4px #E1E1E1, inset -6px 3px 4px -4px #E1E1E1;
  		@media (max-width:750px){
			display: flex;
			flex-direction: column;
		}  
    .card-no-border{
      @include common-planoption-card;  
    }
    .card-bottom-border {    
      @include common-planoption-card;  
      @include bottom-border;  
    }
    .card-right-border {
      @include common-planoption-card;  
      @include right-border;   
      grid-row: 1/3;
      grid-column: 1/2;
    }
		.card-full-border {	
      @include common-planoption-card;
      @include bottom-border;
      @include right-border;
		  }
    &__item {
      & > div {
        height: 11rem;
      }
    }
	}
  .cmp-renewal-plan-column.four-columns-only {
    grid-template-columns: repeat(4, 1fr);
  }
  .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
    white-space: nowrap;
  }
}
.cmp-renewals-subheader {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 2px solid #030f24;
  align-items: center;
  height:45px;
  margin-top: 2.5rem;
  /*
    Styles for pagination
  */
  .cmp-navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
    .navigation__info {
      color: #555555;
      font-size: 12px;
    }
    span.cta {
      margin: auto 2px;
      font-weight: bold;
      &:first-child{
        margin-left: 0;
      }
    }
    &__info, &__actions {
      margin: 0;
      color: $brand-text-gray;
      font-size: 12px;
      display: flex;
      button {
        background: none;        
      }
    }
    &__actions {
      .move-button {
        &__disabled {
          color: #C6C6C6;
        }
      }     
      button {
        margin: 0 0.5rem;
        padding: 0;
        cursor: pointer;
      }
      &-labels {
        display: flex;
        padding: 0 4px;
        gap: 6px;
        input {
          width: 27px;
          max-width: 27px;
          max-height: 1.3em;
          outline: none;
          border: none;
          border-block-end: 2px groove;
          margin: 0.1em auto 0;
          text-align: center;
          &.goSmall {
            font-size: 12px;
          }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }

        span.selected {
          position: relative;
          display: block;
          width: 13px;
          text-align: center;
          &::after {
            content: "";
            width: 13px;
            background: #b7b7b7;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
  .renewal-filters {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .cmp-renewals-filter-container {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    button {
      background: none;
      color: $brand-text-gray;
      &.count {
        background-color: #001d44;
        color: #fff;
      }
      &.count.td-synnex {
        background-color:$brand-green;
        color: #fff;
      }
    }
    i,
    svg {
      color: #00558c;
    }
    &__button {
      background: none;
    }
  }
  .cmp-vertical-separator {
    width: 2px;
    background: #e2e7eb;
    height: 1.3rem;
    margin: auto 0;
    display: inline;
  }
}
.cmp-renewals__pagination--bottom {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  // copied from previous impl, require refactoring
  .cmp-navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
    .navigation__info {
      color: #555555;
      font-size: 12px;
    }
    span.cta {
      margin: auto .2em;
      font-weight: bold;
    }
    &__info, &__actions {
      margin: 0;
      color: $brand-text-gray;
      font-size: 12px;
      display: flex;
      button {
        background: none;
      }
    }
    &__actions {
      .move-button {
        &__disabled {
          color: #C6C6C6;
        }
      }
      button.border {
        margin: 0 .4em;
        cursor: pointer;
      }
      button {
        margin: 0 0.5rem;
        padding: 0;
        cursor: pointer;
      }
      &-labels {
        display: flex;
        padding: 0 4px;
        gap: 6px;
        input {
          width: 27px;
          max-width: 27px;
          max-height: 1.3em;
          outline: none;
          border: none;
          border-block-end: 2px groove;
          margin: 0.1em auto 0;
          text-align: center;
          &.goSmall {
            font-size: 12px;
          }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }

        span.selected {
          position: relative;
          display: block;
          width: 13px;
          text-align: center;
          &::after {
            content: "";
            width: 13px;
            background: #b7b7b7;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
.cmp-renewals-grid {
  .ag-react-container {
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon-container {
    margin: 0 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
    a {
      text-decoration: none;
    }
    button {
      cursor: pointer;
      background-color: inherit;
      margin: 1rem;
      display: flex;
      align-items: center;
      svg,
      i {
        margin-right: 0.4em;
        font-size: 18px;
        height: 18px;
      }
    }
    span.vertical-separator{
      background: #cbc9c9;
      width: 1px;
      height: 24px;
    }
  }
  .cmp-grid.ag-theme-alpine .ag-paging-panel {
    position: relative !important;
  }
  .renewal-links__secondary {
    color: #00558C;
  }
}

.cmp-grid-td-synnex {
  .icon-container {
    * {
      font-family: Arial;
    }
  }
}

span.ag-group-value {
  font-size: x-large;
  font-weight: bold;
}

.ag-cell-wrapper.ag-row-group {
  display: flex;
  justify-content: center;
}

.cmp-renewal-action-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3px;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  > * {
    cursor: pointer;   
  }
  .cmp-renewals-cart-icon{  
    @include cart-icon;
  }
}

.card-right-border .footer { 
  .cmp-renewals-cart-icon {   
    @include cart-icon;
    cursor: pointer;
    align-items: center;    
  }
  .cmp-order-label-disabled{
    color: #c6c6c6 !important;
  }
}

.renewals-grid {
  &__custom-tooltip {
    position: absolute;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #30343B;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
  }
}

button.icon-box {
  margin: 0;
  cursor: pointer;
  svg{
    margin: auto 0;
    width: 22px;
    display: block;          
    fill: #21314d;
  }
}

@mixin horizontal_scroll {
  @media screen and (max-width: 1739px) {
    & .ag-root-wrapper-body {
      overflow-x: scroll;
    }
    & .ag-root {
      &.ag-unselectable {
        &.ag-layout-auto-height {
          overflow: unset;
          width: unset;
        }
      } 
    }
  }
}

.cmp-grid-td-synnex {
  & .cmp-renewals-subheader, .cmp-renewals__pagination--bottom {
    @include font-arial-normal();
    border-bottom: unset;
    & .cmp-navigation {
      span.cta {
        font-weight: unset;
      }
      & .navigation__info {
        font-size: 0.875rem;
        color: #262626;
      }
      & .cmp-navigation__actions {
        font-size: 14px;
        align-items: center;
        color: #003031;
         button {
          display: flex;
          margin: unset;
          width: 20px;
          svg {
            height: 10px;
          }
        }
        & .move-button {
          svg {
            fill:#08bed5;
            height: 16px;
          }
          &__disabled {
            svg {
              fill: #c6c6c6;
              height: 16px;
            }
          }
        }
        & .cmp-navigation__actions-labels {
          font-family: 'Arial', sans-serif;
          input, span {
            font-family: 'Arial', sans-serif;
            color: #003031;
          }
        }
      }
    }

    & .renewal-filters {
      & .cmp-renewal-search {
        span {
          color: #262626;
          font-family: 'Arial', sans-serif;
        }
      }
      & .cmp-renewal-filter {
        & .cmp-renewals-filter-container {
          & .cmp-renewals-filter__button {
            color: #262626;
            font-family: 'Arial', sans-serif;
          }
          svg {
            fill: #262626;
          }
        }
      }
      & .inputStyle {
        font-family: unset;
        font-style: normal;
        font-size: 1rem;
      }
    }
  }
  & .cmp-renewals-grid {
    & .cmp-renewal-duration {
      & .cmp-triangle-down, .cmp-triangle-up {
        display: flex;
        svg {
          fill: #555555;
          height: 16px;
        }
      }
    }

    & .cmp-due-date-day-column {
      width: 65%;
    }

    & .cmp-price-column, .cmp-renewal-action-container {
      padding-right: unset;
    }

    & .cmp-renewal-action-container {
      & .cmp-vertical-separator  {
        width: 2px;
        background: #e2e7eb;
        height: 1.3rem;
        margin: auto 0;
        display: inline;
      }     
      svg.disabled {
        opacity: 0.5;
      }
    }

    & .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
      @include font-arial-normal($weight: 700, $size: 0.875rem);
    }

    .cmp-grid {
      @include font-arial-normal();
      &.ag-theme-alpine {
        border-top: 2px solid #030f24;
        min-width: unset;
        @include horizontal_scroll;
        & .ag-header {
          background-color: #F7F7F7;
        }
        & .ag-header-row {
          color: #262626;
        }
        & .ag-header-cell {
          padding-left: 9px;
          &[col-id="total"] {
            padding-right: 3px;
            .ag-header-cell-label {
              text-align: right;
              .ag-header-cell-text {
                position: relative;
              }
              .ag-header-cell-text::before {
                position: absolute;
                top: 3px;
                left: -14px;
              }
            }
          }
          &[col-id="actions"] {
            padding-right: 4px;
            .ag-header-cell-label {
              display: flex;
              justify-content: center;
            }
          }
        }
        & .ag-cell {
          color: #262626;
          padding-left: 4px;
          &[col-id="dueDays"] {
            padding-left: 18px;
          }
          &[col-id="actions"] {
            padding-right: 4px;
          }
        }
       
        & .ag-header-cell-sortable {
          & .ag-header-cell-text::before {
            top: 10px;
            left: 1px;
          }
          & .ag-header-cell-sorted-none {
            & .ag-header-cell-text::before {
              content:'';
              background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuNTQgMi4yM2EuNzUuNzUgMCAwIDAtMS4wOCAwbC02LjI1IDYuNWEuNzUuNzUgMCAxIDAgMS4wOCAxLjA0TDEyIDMuODMybDUuNzEgNS45MzhhLjc1Ljc1IDAgMSAwIDEuMDgtMS4wNGwtNi4yNS02LjVabTAgMTkuNTRhLjc1Ljc1IDAgMCAxLTEuMDggMGwtNi4yNS02LjVhLjc1Ljc1IDAgMSAxIDEuMDgtMS4wNEwxMiAyMC4xNjhsNS43MS01LjkzOGEuNzUuNzUgMCAxIDEgMS4wOCAxLjA0bC02LjI1IDYuNVoiIGZpbGw9ImJsYWNrIi8+PC9zdmc+");
              width: 14px;
              height: 14px;
              background-size: cover;
              
            }
          }
          & .ag-header-cell-sorted-desc {
            & .ag-header-cell-text::before {
              content:'';
              background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC4yMiA4LjQ3YS43NS43NSAwIDAgMSAxLjA2IDBMMTIgMTUuMTlsNi43Mi02LjcyYS43NS43NSAwIDEgMSAxLjA2IDEuMDZsLTcuMjUgNy4yNWEuNzUuNzUgMCAwIDEtMS4wNiAwTDQuMjIgOS41M2EuNzUuNzUgMCAwIDEgMC0xLjA2WiIgZmlsbD0iYmxhY2siLz48L3N2Zz4=");
              width: 13px;
              height: 10px;
              background-size: cover;
            }
          }
          & .ag-header-cell-sorted-asc {
            & .ag-header-cell-text::before {
              content:'';
              background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC4yMiA4LjQ3YS43NS43NSAwIDAgMSAxLjA2IDBMMTIgMTUuMTlsNi43Mi02LjcyYS43NS43NSAwIDEgMSAxLjA2IDEuMDZsLTcuMjUgNy4yNWEuNzUuNzUgMCAwIDEtMS4wNiAwTDQuMjIgOS41M2EuNzUuNzUgMCAwIDEgMC0xLjA2WiIgZmlsbD0iYmxhY2siLz48L3N2Zz4=");
              width: 13px;
              height: 10px;
              background-size: cover;
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    & .renewal-links__secondary {
      color: #006fba;
    }
  }
}

svg {
  &.cmp-svg-icon__charcoal {
    fill: $brand-charcoal;
  }
}

*, ::before, ::after, svg {
  animation-duration: 1.5s !important;
  animation-iteration-count: infinite !important;
}
