.place-cmp-order-dialog-container {
    padding: 1.6rem 2rem;
}

p.cmp-place-order-actions {
    display: flex;
    flex-direction: row-reverse;
}

.cmp-place-order-terms{
	a.cmp-place-order-link {
		color: #00558C;
		cursor: pointer;
	}
}

.cmp-place-order-terms label{	
    cursor: pointer;
}

.toaster-modal {
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
        height: auto;
        top: 13rem;
        right: 2rem;
        width: 30rem;
        .cmp-toaster-content{
            padding: 29px;
            border-left: 9px solid #207c71;
            display: flex;
            gap: 1rem;
            position: relative;
            p{
                padding: 0;
                margin: 0;
                text-align: justify;
                margin-bottom: 21px;
            }
            &__closeIcon{
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                svg {
                    width: 20px;
                }
            }
        }
    }
}