// overriding styles applied over grid in quote preview.
.cmp-renewal-preview
  .ag-header-container
  .ag-header-row
  .ag-header-cell:nth-child(3) {
  .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
    width: auto;
  }
}

.cmp-renewal-preview {
  .details-container {
    padding: 29px 0 0 21px;
    .details-preview {
        color: rgba(0, 12, 33, 1);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 33px;
    }
  }
  .cmp-product-lines-grid__header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    span {
      font-size: 22px;
      font-weight: 500;
      text-shadow: 0px 0px 0px #000c21;
    }
  }
  .cmp-product-lines-grid__item-information__box-text {
    a p {
      font-weight: bold;
    }
  }
  .cmp-renewal-preview {
    &__subtotal {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      padding: 24px 20px;
      &--description {
        color: #000c21;
        font-size: 20px;
        line-height: 27px;
      }
      &--value {
        color: #000c21;
        font-size: 24px;
        line-height: 33px;
        padding-left: 40px;
      }
      &--note {
        font-size: 16px;
        line-height: 27px;
      }
    }    
  }

  .price{
    width: 100%;
    margin: 0 auto;
  }
  &__prod-details {
    cursor: pointer;
    .short-desc {
      margin: 0;
      color: #00558c;
      font-size: 12px;
      font-weight: 600;
      width: 62%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
    }
    span {
      color: #555555;
      font-size: 11px;
      letter-spacing: 0;
      line-height: 14px;
      display: block;
    }
  }

  .ag-header-container .ag-header-row {
    .ag-cell-label-container span.ag-header-cell-text {
      font-size: 15px;
    }
  }

  .cmp-grid.ag-theme-alpine {
    .ag-header {
      height: 60px !important;
      &-row {
        height: 55px !important;
      }
      &-cell {
        padding: 0 10px 10px;
        min-width: 90px;
      }
    }
  }
}
