.cmp-sign-in {
	display: flex;
	justify-content: center;

	&-option {
		display: inline-block;
		position: relative;
	}

	&-button {
		border: none;
		background-color: transparent;
		padding: 5px;
		cursor: pointer;
		height: 35px;
		max-width: 180px;
		color: #22334e;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 13px;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 2px solid #04b0e2;
		}
		&:focus {
			outline: 0;
		}
		svg {
			font-size: 19px;
			margin-top: 10px;
			margin-right: 10px;
		}
	}

	&-list {
		display: none;
		position: absolute;
		top: 40px;
		left: 0;
		z-index: 9999;
		border-top: 2px solid darkblue;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;

		p {
			height: 35px;
			width: 148px;
			color: #555555;
			font-family: 'Open Sans', sans-serif;
			font-size: 13px;
			letter-spacing: 0;
			line-height: 16px;
			word-break: break-all;
			padding-left: 9px;
			margin: 10px 0;
		}
	}
	&-signout {
		border: none;
		background-color: transparent;
		padding: 5px;
		cursor: pointer;
		height: 35px;
		width: 180px;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 13px;
		background-color: #1699d1;
	}

	.active {
		display: block;
	}
}
