@mixin toasterContent($borderColor : #38853C) {
    padding: 29px;
    border-left: 9px solid $borderColor;
    display: flex;
    gap: 1rem;
    position: relative;

    p {
        padding: 0;
        margin: 0;
        margin-bottom: 21px;
    }

    &__closeIcon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        svg {
            width: 20px;
        }
    }
}

.toaster-modal {    
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
        height: auto;
        transition: all .4s ease-out;
        right: 2rem;
        width: 30rem;

        .cmp-toaster-content {
            @include toasterContent; 

            &__message {
                font-family: "Arial";
                color: $brand-charcoal;
                p {
                    font-family: "Arial";
                    margin: 0;                
                }
            }

            &__error-title {
                display: block;
                margin-bottom: 1rem;
            }
        }

        .cmp-toaster-content-error {
            @include toasterContent($borderColor: #CD163F);

            p {
                margin-bottom: 0;
            } 
        }       
    }  
}

@mixin toasterContentOTG($borderColor : #38853C) {
    padding: 20px 22px !important;
    border-left: 4px solid $borderColor;
    display: flex;
    gap: 22px;
    position: relative;

    p {
        padding: 0;
        margin: 0;
        margin-bottom: 21px;
    }

    &__closeIcon {
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
        svg {
            width: 20px;
        }
    }
}

.toaster-modal-otg {    
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
        height: auto;
        transition: all .4s ease-out;
        right: 2rem;
        width: 28rem;

        .cmp-toaster-content {
            @include toasterContentOTG; 

            &__message {
                font-family: "Arial";
                color: $brand-charcoal;

                p {
                    font-family: "Arial";
                    margin: 0 42px 0 0; 
                    line-height: 24px;
                }
            }

            &__error-title {
                display: block;
                margin-bottom: 1rem;
            }
        }
        
        .cmp-toaster-content-error {
            @include toasterContent($borderColor: #CD163F); 

            p {
                margin-bottom: 0;
            } 
        }       
    }  
}

.MuiDrawer-root .MuiDrawer-modal .toaster-modal .MuiModal-root  {
    .MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation16 .MuiDrawer-paper .MuiDrawer-paperAnchorRight {
        top: 4.5rem !important;
    }
}

.MuiDrawer-root .MuiDrawer-modal .toaster-modal .MuiModal-root  {
    .MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation16 .MuiDrawer-paper .MuiDrawer-paperAnchorRight {
        top: 4.5rem !important;
    }
}