<div class="cmp-examples-demo">
    <div class="cmp-examples-demo__top">
        <div class="cmp-examples-demo__component cmp-examples-demo__component--width${resource.valueMap.fullWidth ? 'Full' : 'Auto'}" data-sly-resource="${'component' @ decoration=true}"></div>
    </div>
    <div class="cmp-examples-demo__info cmp-examples-demo__info--open" data-cmp-examples-hook-demo="info">
        <div data-sly-resource="${'info' @ decoration=true, wcmmode='disabled'}"></div>
        <div class="cmp-examples-demo__info-actions">
            <button class="cmp-examples-button" aria-label="${'Copy to clipboard' @ i18n}" data-cmp-examples-tooltip="${'Copy to clipboard' @ i18n}"><i class="cmp-examples-button__icon fas fa-copy"></i></button>
         	<button class="cmp-examples-button" aria-label="${'Hide code' @ i18n}" data-cmp-examples-tooltip="${'Hide code' @ i18n}"><i class="cmp-examples-button__icon fas fa-angle-down"></i></button>
         	<button disabled class="cmp-examples-button" data-cmp-examples-hook-demo="showCode" aria-label="${'Show code' @ i18n}" data-cmp-examples-tooltip="${'Show code' @ i18n}"><i class="cmp-examples-button__icon fas fa-angle-up"></i></button>
        </div>
    </div>
</div>
