.cmp-button {
	cursor: pointer;

	&--default-dark {
		& .cmp-button {
			background-color: map-get($color-palette,"teal");
			padding: 1rem;

			& .cmp-button__text {
				color: get-color(brand-white);
			}

			&:hover {
				background-color: map-get($color-palette,"aqua");

				& .cmp-button__text {
					color: map-get($color-palette,"charcoal");
				}
			}

			&:focus {
				background-color: map-get($color-palette,"teal");

				& .cmp-button__text {
					color: map-get($color-palette,"white");
				}
			}
		}

	}

	&--default-light {
		& .cmp-button {
			background-color: map-get($color-palette,"white");
			padding: 1rem;

			& .cmp-button__text {
				color: map-get($color-palette,"teal");
			}

			&:hover {
				background-color: map-get($color-palette,"aqua");

				& .cmp-button__text {
					color: map-get($color-palette,"charcoal");
				}
			}

			&:focus {
				background-color: #fff;

				& .cmp-button__text {
					color: map-get($color-palette,"teal");
				}
			}
		}

	}

	&--disabled {
		& .cmp-button {
			background-color: map-get($color-palette,"cool-gray-10");
			padding: 1rem;

			& .cmp-button__text {
				color: map-get($color-palette,"charcoal");
			}
		}
	}
}

.button {
	>.cmp-button {
		border: none;
	}
}

@include aem-only {
	button {
		border: none;
	}
}

.cmp-button--background-enabled {
	& .cmp-button {
		border-radius: rem(3px);
		background-color: get-color(header-links-blue);

		&:hover {
			background-color: get-color(td-lightblue);
		}
	}

	.cmp-button__icon {
		color: get-color(brand-white);
	}

	& .cmp-button__text {
		color: get-color(brand-white);
	}
}

.cmp-button__clear {
	background-color: transparent !important;
	cursor: pointer !important;
}

.cmp-button__text--disabled {
	& .cmp-button__text {
		display: none;
	}

	& .cmp-button__icon {
		display: unset;
	}
}

.cmp-button__icon--disabled {
	& .cmp-button__text {
		display: unset;
	}

	& .cmp-button__icon {
		display: none;
	}
}

.cmp-button {
	border: unset;
	padding: rem(1px) rem(6px);
	color: unset;
	text-decoration: none;
	background: none;

	&.btn-xxsmall {
		font-size: $font-size-custom-xxsmall;
		width: 100%;
		padding: rem(6px);
		margin-top: rem(18px);
	}

	&:active,
	&:focus {
		outline: none;
		border: none;
	}

	&__disabled {
		color: get-color(text-light-charcoal);
		background-color: get-color(td-lighter-gray);
		width: rem(240px);
		height: rem(40px);
		box-shadow: inset 0 0 0 rem(1px) get-color(brand-light-gray2);

		&.btn-xxsmall {
			font-size: $font-size-custom-xxsmall;
			width: 100%;
			padding: rem(6px);
			margin-top: rem(18px);
		}
	}

	&__primary {
		color: get-color(brand-white);
		background-color: get-color(td-dark-blue);
		width: rem(240px);
		height: rem(40px);
	}

	&__outlined {
		color: get-color(td-dark-blue);
		background-color: get-color(brand-white);
		width: rem(240px);
		height: rem(40px);
		box-shadow: inset 0 0 0 rem(2px) get-color(td-dark-blue);
	}

	&__region-select {
		color: get-color(brand-white);
		background-color: get-color(td-primary-blue);
		font-size: $font-size-custom-xxsmall;
		width: 100%;
		cursor: pointer;
	}
}

.cmp-radio-btn {
	display: block;
	position: relative;
	padding-left: rem(22px);
	cursor: pointer;
	font-size: $font-size-custom-xxsmall;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:last-of-type {
		margin-bottom: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: rem(24px);
		height: rem(24px);
		left: rem(-2px);
		top: rem(-2px);

		&:checked {
			~ {
				.checkmark {
					background-color: get-color(td-primary-blue);
					box-shadow: inset 0 0 0 0;

					&:after {
						display: block;
					}
				}
			}
		}
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: rem(14px);
		width: rem(14px);
		background-color: get-color(brand-white);
		border-radius: 50%;
		box-shadow: inset 0 0 0 rem(2px) get-color(text-light-charcoal);

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: rem(3.6px);
			left: rem(3.5px);
			width: rem(6px);
			height: rem(6px);
			border-radius: 50%;
			background-color: get-color(brand-white);
		}
	}
}

.cmp-jump-to-top {
	display: none;
	box-sizing: border-box;
	height: rem(60px);
	width: rem(60px);
	border: rem(1px) solid get-color(brand-light-gray2);
	background-color: get-color(brand-white);
	box-shadow: 0 rem(2px) rem(4px) 0 get-color(brand-box-shadow);
	text-align: center;
	font-size: 30px;
	color: get-color(brand-blue);
	transition: all 0.05s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	transition: all .25s;

	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 rem(48px) rem(48px) 0;

	a {
		height: rem(60px);
		width: rem(60px);
		color: get-color(brand-blue) !important;
		text-decoration: none;
		display: contents;
		transition: all .25s;
	}


	&:hover {
		box-shadow: 0 rem(4px) rem(4px) 0 get-color(brand-box-shadow);
	}
}



.cmp-button__text--align-right {
	text-align: right;
}

.cmp-button__text--align-center {
	.cmp-button {
		display: table;
		margin: auto;
	}
}

.cmp-button__text {

	&--dark-blue,
	&--light-blue,
	&--white,
	&--grey {
		padding-top: rem(20px);

		.cmp-button {
			padding-left: 0;
			padding-right: 0;

			.cmp-button__text::after {
				@include font-awesome-custom-icon;

				content: "\f054";
				padding-left: rem(10px);
			}
		}
	}

	&--dark-blue {
		.cmp-button__text {
			color: get-color(td-dark-blue);
		}
	}

	&--light-blue {
		.cmp-button__text {
			color: get-color(brand-light-blue);
		}
	}

	&--white {
		.cmp-button__text {
			color: get-color(brand-white);
		}
	}

	&--grey {
		.cmp-button__text {
			color: get-color(brand-text-gray);
		}
	}
}


.cmp-tds-button {
	width: auto;

	.cmp-button {
		font-size: rem(16px);
		padding: rem(16px) rem(57.5px);
		gap: rem(10px);
		border: 0;
		transition: all 0.24s;
		text-decoration: none;

		background-color: map-get($color-palette, 'teal');
		color: map-get($color-palette, 'white');

		&:hover {
			background-color: map-get($color-palette, 'aqua') !important;
			color: map-get($color-palette, 'charcoal') !important;
		}

		&:disabled {
			background-color: get-color(cool-gray-1) !important;
			color: map-get($color-palette, 'charcoal') !important;
		}
	}


	// TDS Primary background colors
	&.btn-teal {
		.cmp-button {
			background-color: map-get($color-palette, 'teal');
		}
	}

	&.btn-deep-teal {
		.cmp-button {
			background-color: get-color(deep-teal);
		}
	}

	&.btn-aqua {
		.cmp-button {
			background-color: map-get($color-palette, 'aqua');
		}
	}

	&.btn-cool-gray-8 {
		.cmp-button {
			background-color: get-color(cool-gray-8);
		}
	}

	&.btn-cool-gray-10 {
		.cmp-button {
			background-color: get-color(cool-gray-10);
		}
	}

	&.btn-green {
		.cmp-button {
			background-color: map-get($color-palette, 'green');
		}
	}

	&.btn-black {
		.cmp-button {
			background-color: map-get($color-palette, 'black');
		}
	}

	&.btn-white {
		.cmp-button {
			background-color: map-get($color-palette, 'white');			
            @include text-charcoal;
		}
	}

	//TDS Secondary background colors
	&.btn-steel-blue {
		.cmp-button {
			background-color: get-color(steel-blue);
		}
	}

	&.btn-navy {
		.cmp-button {
			background-color: map-get($color-palette, 'navy');
		}
	}

	&.btn-copper {
		.cmp-button {
			background-color: map-get($color-palette, 'copper');
		}
	}

	&.btn-stone {
		.cmp-button {
			background-color: get-color(stone);
		}
	}

	&.btn-cool-gray-1 {
		.cmp-button {
			background-color: get-color(cool-gray-1);
		}
	}

	//TDS Digital background colors
	&.btn-cherry {
		.cmp-button {
			background-color: get-color(cherry);
		}
	}

	&.btn-amber {
		.cmp-button {
			background-color: get-color(amber);
		}
	}

	&.btn-forest {
		.cmp-button {
			background-color: map-get($color-palette, 'forest');
		}
	}

	&.btn-charcoal {
		.cmp-button {
			background-color: map-get($color-palette, 'charcoal');
		}
	}

	&.btn-cool-gray-9 {
		.cmp-button {
			background-color: get-color(cool-gray-9);
		}
	}

	&.btn-cobalt {
		.cmp-button {
			background-color: get-color(cobalt);
		}
	}

	&.btn-neutral-gray-1 {
		.cmp-button {
			background-color: get-color(neutral-gray-1);			
            @include text-charcoal;
		}
	}

	&.btn-neutral-gray-2 {
		.cmp-button {
			background-color: get-color(neutral-gray-2);
            @include text-charcoal;
		}
	}

	//Legacy background colors
	&.btn-dark-blue {
		.cmp-button {
			background-color: get-color(dark-blue);
		}
	}

	&.btn-sky-blue {
		.cmp-button {
			background-color: get-color(sky-blue);
		}
	}

	&.btn-legacy-gray {
		.cmp-button {
			background-color: get-color(legacy-gray);
		}
	}
}


@mixin practice_builder_button_action_style {
	&:hover {
		background-color: get-color("aqua");
		border: 1px solid get-color("aqua");
		& span.cmp-button__text {
			color: #262626;
		}
	}
	&:focus {
		outline: 3px solid get-color("aqua");
	}
	&:disabled {
		background-color: get-color(cool-gray-1);
		border: none;
		pointer-events: none;
		& span.cmp-button__text {
			color: black;
		}
	}
}

@mixin cmp_button_style ($bg-color) {
	background-color: get-color($bg-color);
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0.1875rem;
	height: 100%;

}

.button {
	height: 100%;
	@include mobile {
		position: absolute;
		right: 20px;
	}
	&.cmp-button--color-teal {
		& .cmp-button {
			@include cmp_button_style("teal");
			@include practice_builder_button_action_style;
		}
		& span.cmp-button__text {
			color: get-color("white");
		}
	}
	&.cmp-button--shape-rectangle {
		& .cmp-button {
			border-radius: unset !important;
		}
	}
	&.cmp-button--theme-light {
		& .cmp-button {
			@include cmp_button_style("white");
			@include practice_builder_button_action_style;
		}
		& span.cmp-button__text {
			color: get-color("teal");
		}
	}
	&.cmp-button--small-minimal {
		margin-top: 10px;
		& .cmp-button {
			height: unset;
			padding: 6px 8px;
			border: 1px solid get-color("teal");
			font-size: 12px;
			@include practice_builder_button_action_style;
		}
	}
	&.cmp-button-align-right {
		float: right;
	}
}