@function get-color($base, $shade: base) {
    $color: map-get($color-palette, $base);
    @return $color;
  }

$colors: map-get($color-palette,"cherry"), map-get($color-palette, "aqua"), map-get($color-palette,"chartreuse"), map-get($color-palette,"forest");

.cmp-div__three-column {

    .cmp-contentfragmentlist {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        .cmp-contentfragment__element--hero-image {
            height: 230px;
        }

        @for $i from 1 through length($colors) {
            .cmp-contentfragment:nth-of-type(#{$i}) {
                .cmp-contentfragment__title {
                    font-size: medium;
                    margin-left: -10px;
                    padding-left: 7px;
                    color: map-get($color-palette, "teal");
                    font-weight: bold;
                    min-height: 18px;
                    margin-bottom: 10px;
    
                
                    &::before {
                        content: "";
                        margin-left: -7px;
                        padding-left: 10px;
                        max-height: 18px;
                        border-left: solid nth($colors, $i) 4px;
                        }
                    }
                }
            }

        }

        .cmp-contentfragment__element--short-body {
            color: map-get($color-palette, "teal");
            padding-left: 5px;
            padding-bottom: 20px;
        }

        .cmp-contentfragment__element--resource-link {
            padding-left: 5px;
            color: map-get($color-palette, "teal");
            font-weight: bold;
            text-decoration: none;
            padding-bottom: 20px;
        }

        .cmp-contentfragment {
            display: inline-block;
            justify-content: center;
            border: 1px solid darkgray;
            border-radius: 4px;
            justify-content: center;
            padding: 0 10px;
            margin: 0 10px;

            &__element-title {
                display: none;
            }
        }
    }


// RESPONSIVE

@media (max-width: 991.98px) {
    .cmp-div__three-column {
        .cmp-contentfragmentlist {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr;

            .cmp-contentfragment__element--hero-image {
                height: 230px;
            }

            .cmp-contentfragment__title {
                font-size: medium;
                margin-left: -10px;
                padding-left: 7px;
                color: map-get($color-palette, "teal");
                font-weight: bold;
                min-height: 18px;
                margin-bottom: 10px;

                &::before {
                    content: "";
                    margin-left: -7px;
                    padding-left: 10px;
                    max-height: 18px;
                    border-left: solid map-get($color-palette, "black") 4px;
                }
            }

            .cmp-contentfragment__element--short-body {
                color: map-get($color-palette, "teal");
                padding-left: 5px;
                padding-bottom: 20px;
            }

            .cmp-contentfragment__element--resource-link {
                padding-left: 5px;
                color: map-get($color-palette, "teal");
                font-weight: bold;
                text-decoration: none;
                padding-bottom: 20px;
            }

            .cmp-contentfragment {
                display: inline-block;
                justify-content: center;
                border: 1px solid darkgray;
                border-radius: 4px;
                justify-content: center;
                padding: 0 10px;
                margin: 0 10px 10px;

                &__element-title {
                    display: none;
                }
            }
        }
    }
}