.cmp-div__three-column {
    display: grid;
    justify-content: center;
    
    .cmp-contentfragmentlist {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        .cmp-contentfragment__element--hero-image {
            height: 230px;
            width: 100%;
            background-color: map-get($color-palette, "cool-gray-8");
        }

        .cmp-contentfragment {
            max-width: 356.266px;

            a {
                &:visited, &:link, &:hover {
                    text-decoration: none;
                }
            }

            .cmp-contentfragment__title {
                font-size: medium;
                margin-left: -10px;
                padding-left: 7px;
                min-height: 18px;
                margin-bottom: 10px;
                padding-top: 20px;
                padding-left: 17px;
                display: flex;
                line-height: initial;
                font-size: 20px;
                font-weight: 500;
                color: map-get($color-palette, "teal");
                line-height: 30px;
                height: 75px;

                @include mobile {
                    height: auto;
                }
            
                &::before {
                    content: "";
                    margin-left: -7px;
                    padding-left: 10px;
                    max-height: 30px;
                    }
                }
            }

            .cmp-contentfragment[data-json*=release-notes] {
                .cmp-contentfragment__title {                
                    &::before {
                        border-left: solid map-get($color-palette, "aqua") 4px;
                    }
                }

                .cmp-contentfragment__element--resource-link::before {
                    content: url(https://api.iconify.design/fluent/document-bullet-list-24-regular.svg?color=%23005758&width=24);
                    vertical-align: sub;
                    vertical-align: -18%;
                    margin-right: 5px;
                }
            }

            .cmp-contentfragment[data-json*=datasheets] {
                .cmp-contentfragment__title {                
                    &::before {
                        border-left: solid map-get($color-palette, "chartreuse") 4px;
                    }
                }

                .cmp-contentfragment__element--resource-link::before {
                    content: url(https://api.iconify.design/fluent/document-bullet-list-24-regular.svg?color=%23005758&width=24);
                    vertical-align: -18%;
                    margin-right: 5px;
                }
            }

            .cmp-contentfragment[data-json*=blog] {
                .cmp-contentfragment__title {                
                    &::before {
                        border-left: solid map-get($color-palette, "forest") 4px;
                    }
                }

                .cmp-contentfragment__element--resource-link::before {
                    content: url(https://api.iconify.design/fluent/chart-person-24-regular.svg?color=%23005758&width=24);
                    vertical-align: -18%;
                    margin-right: 5px;
                }
            }

            .cmp-contentfragment[data-json*=videos] {
                .cmp-contentfragment__title {                
                    &::before {
                        border-left: solid map-get($color-palette, "cherry") 4px;
                    }
                }

                .cmp-contentfragment__element--resource-link::before {
                    content: url(https://api.iconify.design/fluent/play-circle-24-regular.svg?color=%23005758&width=24);
                    vertical-align: -18%;
                    margin-right: 5px;
                }
            }
        }

        .cmp-contentfragment__element--short-body {
            color: map-get($color-palette, "charcoal");
            padding: 0 15px 15px 15px;
            height: 150px;
            line-height: 24px;
        }

        .cmp-contentfragment__element--resource-link {
            padding-left: 5px;
            color: map-get($color-palette, "teal");
            font-weight: bold;
            text-decoration: none;
            padding-left: 15px;
        }

        .cmp-contentfragment {
            display: inline-block;
            justify-content: center;
            border: 1px solid darkgray;
            border-radius: 4px;
            justify-content: center;
            margin: 0 10px;
            margin-bottom: 20px;
            padding-bottom: 10px;

            &__element-title {
                display: none;
            }
        }
    }


// RESPONSIVE
@media screen and (max-width: 1200px ) {
    .cmp-div__three-column {
        .cmp-contentfragmentlist {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr 1fr;

        }
    }
}

@media screen and (max-width: 991.98px) {
    .cmp-div__three-column {
        .cmp-contentfragmentlist {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr;

            .cmp-contentfragment__element--hero-image {
                height: 230px;
            }

            .cmp-contentfragment__title {
                font-size: medium;
                margin-left: -10px;
                padding-left: 7px;
                color: map-get($color-palette, "teal");
                font-weight: bold;
                line-height: 23px;

                &::before {
                    content: "";
                    margin-left: -7px;
                    padding-left: 10px;
                    max-height: 18px;
                    border-left: solid map-get($color-palette, "black") 4px;
                }
            }

            .cmp-contentfragment__element--short-body {
                color: map-get($color-palette, "teal");
                padding: 0 15px 5px;
            }

            .cmp-contentfragment__element--resource-link {
                padding-left: 5px;
                color: map-get($color-palette, "teal");
                font-weight: bold;
                text-decoration: none;
                padding-bottom: 20px;
            }

            .cmp-contentfragment {
                display: inline-block;
                justify-content: center;
                border: 1px solid darkgray;
                border-radius: 4px;
                justify-content: center;
                margin: 0 10px 10px;

                &__element-title {
                    display: none;
                }
            }
        }
    }
}

