@import '../../global/tds-core-components/tabs/tds-tabs.scss';
.top-nav {
  .nav {
    border: none;
  }

  > .cmp-tabs > .cmp-tabs__tablist {
    .li,
    [role="tab"] {
      padding: 0 1rem;
      font-size: 0.9rem;
      border-bottom: transparent 3px solid;

      &:hover {
        border-bottom: get-color(brand-light-blue) 3px solid;
      }

      min-height: 30px;
    }

    .cmp-tabs__tab--active {
      border-bottom: get-color(brand-light-blue) 3px solid;
    }

    min-height: 30px;
  }

  .cmp-tabs__tabpanel {
    padding: 2rem 0;
  }

  .cmp-tabs__tabpanel--active {
    display: block;
  }
}

.top-nav--tds-navigation {
  .nav {
    border: none;
  }
  > .cmp-tabs > .cmp-tabs__tablist {
    .li,
    [role="tab"] {
      padding: 0 1rem;
      font-size: 0.9rem;
      padding-top: 4px;

      &:active,
      &:hover,
      &:focus {
        outline: none;
      }
      &:hover {
        color: white;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
      }
    }

    .cmp-tabs__tab--active {
      color: white;
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: 3px;
    }
    min-height: 30px;
    justify-content: space-evenly;
  }

  .cmp-tabs__tabpanel {
    padding: 2rem 0;
  }
  .cmp-tabs__tabpanel--active {
    display: block;
  }
}

.cmp-tabs__tablist {
  margin-bottom: 4rem;

  //tabs with bottom tabTitle
  &.five-tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 190px;
  }
}

.cmp-tabs__tab {
  text-align: center;
  padding: 0 0.5rem;
  border-bottom: 0;
  font-size: 1rem;

  .cmp-tabs__tab-image {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 6px solid transparent;
    padding: 1.5rem;
    margin-top: 0.9rem;
    transition: border-color 0.3s;
  }

  &.cmp-tabs__tab--active,
  &:hover,
  &:active {
    outline: 0 none;

    .cmp-tabs__tab-image {
      border-color: get-color(secondary-light-grey);
    }
  }
}

.cmp-tabs__tabpanel--text {
  height: 36px;
  width: 133px;

  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

.cmp-text__white {
  &.cmp-tabs__tabpanel--text,
  cmp-tabs__tab,
  cmp-tabs__tab--active {
    color: get-color(brand-white);
  }
}

.tab-center {
  .cmp-tabs__tablist {
    display: flex;
    justify-content: center;
  }
}

.tab-divider {
  > .cmp-tabs > .cmp-tabs__tablist {
    display: flex;
    justify-content: center;

    .cmp-tabs__tab {
      padding: 0;

      &:not(:first-child) {
        padding-left: rem(16px);
      }

      &:not(:last-child)::after {
        content: "|";
        font-weight: $font-weight-normal;
        float: right;
        padding-left: rem(16px);
      }

      &.cmp-tabs__tab--active {
        font-weight: $font-weight-bold;
      }

      &:not(.cmp-tabs__tab--active) {
        font-weight: $font-weight-light;
      }

      &:hover {
        font-weight: $font-weight-bold;
      }
    }
  }
}

.tab-circles {
  > .cmp-tabs > .cmp-tabs__tablist {
    display: flex;
    justify-content: center;

    .cmp-tabs__tab {
      background: $color-foreground;
      border-radius: 50%;
      color: $color-background;
      font-weight: $font-weight-bold;
      height: rem(60px);
      line-height: rem(60px);
      margin: 0 1.5rem;
      text-align: center;
      width: rem(60px);

      &.cmp-tabs__tab--active {
        background: $color-link;
      }

      &:hover {
        background: $color-link;
      }
    }
  }
}

.cmp-tabs--services-nested {
  .cmp-tabs {
    display: flex;
    align-items: flex-start;
    margin: 0;
    color: get-color(brand-white);

    &__tablist {
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      margin: 0;
      padding: rem(0 100px);
      padding-top: rem(10px);
      font-family: $open-sans;
      font-size: rem(16px);
      flex: 50%;
    }

    .cmp-tabs {
      &__tab {
        flex: 50%;
        padding: rem(2px 30px);
        text-align: left;

        &:hover {
          color: get-color(brand-light-blue);
        }
      }

      &__tab--active {
        color: get-color(brand-light-blue);
      }
    }

    &__tabpanel {
      margin: 0;
      flex: 50%;

      .text,
      .text p {
        font-family: $open-sans;
        font-size: 14px;
        color: get-color(brand-white);
        height: 137px;
        letter-spacing: 0;
      }
    }
  }
}

// Wrapped 5 tabs in a row

.cmp-five-icon-tabs {
  width: unset; //test for AEM local

  .cmp-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__tablist {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
      width: 100%;
      justify-content: center;
      background-color: get-color(brand-blue);

      svg,
      img {
        width: 100%;
      }

      .cmp-tabs__tabpanel--text {
        color: white;
      }

      &--text {
        width: 100%;
      }
    }

    &__tab-image {
      padding: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(100px);
      height: rem(100px);
      border-radius: 50%;
      border: 0 solid transparent;
      padding: 0;
      margin-top: rem(14px);
      margin-bottom: rem(18px);
      transition: border-color 0.3s;
      background-color: get-color(brand-white);
      padding: rem(10px);

      img {
        width: auto;
        margin: 0 auto;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: get-color(brand-light-blue) !important;
        padding: rem(10px);
      }
    }

    &__tabpanel--text {
      height: rem(36px);
      width: 100%;
      font-family: $font-family-sans-serif;
      font-size: rem(16px);
      letter-spacing: 0;
      line-height: rem(16px);
      text-align: center;
      font-weight: 600;
    }

    &__tab {
      text-align: center;
      padding: 0 rem(8px);
      border-bottom: 0;
      font-size: $font-size-medium;
      width: rem(230px);

      &.cmp-tabs__tab--active,
      &:hover,
      &:active {
        outline: 0 none;

        .cmp-tabs__tab-image {
          background-color: get-color(brand-light-blue) !important;

          svg path g polyline ellipse line line rect {
            fill: get-color(brand-white);
          }
        }
      }
    }
  }
}

.cmp-tabs--ourpurpose {
  .cmp-tabs {
    display: flex;
    align-items: flex-start;
    margin: 0;

    &__tablist {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      flex-wrap: wrap;
      margin: 0;
      padding: rem(0 100px);
      padding-top: rem(10px);
      font-family: $open-sans;
      font-size: rem(16px);
      flex: 40%;

      li::after {
        content: " > ";
      }
    }

    .cmp-tabs {
      &__tab {
        flex: 50%;
        padding: rem(2px 30px);
        text-align: center;

        &:hover {
          color: get-color(brand-light-blue);
        }
      }

      &__tab--active {
        color: get-color(brand-light-blue);
      }
    }

    &__tabpanel {
      margin: 0;
      flex: 60%;
      padding-top: rem(10px);

      .text,
      .text p {
        font-family: $open-sans;
        font-size: 14px;
        color: get-color(brand-black);
        height: 137px;
        letter-spacing: 0;
      }
    }
  }
}

.cmp-tabs__stream {
  background-color: get-color(container-transparent);
  li {
    font-family: $font-family-everett !important;
    font-weight: 500;
    font-size: 16px;
    &:hover,
    &:active {
      outline: 0 none;
      background: white;
      color: black;
      border: 5px;
      border-radius: 3em;
      .cmp-tabs__tab-image {
        border-color: get-color(secondary-light-grey);
      }
    }
  }

  .cmp-tabs__tablist {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .cmp-tabs__tab {
    padding: 1rem 1.75rem;
  }
}
