@import "../../site/_variables.scss";
@import "../../global/_mixins.scss";
@import "../../global/styles/_font-face.scss";
@import "../../../../../../../tds-core/ui.frontend/src/utils/text-enhancer/text-enhancer.scss";


//These sizes should be in sync with the sizes in the _variables.scss file
.cmp-tds-title {
    &.dp-title {
        h1 {
            font-size: rem(40px);
            line-height: rem(61px);

            &.large {
                font-size: rem(66px);
                line-height: rem(82px);
            }
        }

        h2 {
            font-size: rem(32px);
            line-height: rem(48px);
        }

        h3 {
            font-size: rem(28px);
            line-height: rem(42px);
        }

        h4 {
            font-size: rem(20px);
            line-height: rem(30px);
        }

        h5 {
            font-size: rem(16px);
            line-height: rem(24px);
        }

        h6 {
            font-size: rem(14px);
            line-height: rem(19.92px);
        }

        p {
            font-size: rem(16px);
            line-height: rem(24px);

            &.large {
                font-size: rem(20px);
                line-height: rem(30px);
            }

            &.small {
                font-size: rem(14px);
                line-height: rem(16.8px);
            }
        }


    }
}

.cmp-marketing {
    font-family: $font-family-marketing;
    font-weight: normal;

    &-large {
        font-family: $font-family-marketing;
        h1 {
            font-size: $font-size-marketing-h1-large !important;
            margin: 0;
            line-height: 1.5;
        }
    }

    &-card {
        h2 {
            font-family: $font-family-marketing-md;
            font-size: $font-size-marketing-h3 !important;
            margin: 0;
            line-height: 1.5;
        }
    }

    h1 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h1 !important;
        margin: 0;
        line-height: 1.5;
    }

    h2 {
        font-family: $font-family-marketing-md;
        font-size: $font-size-marketing-h2 !important;
        margin: 0;
        line-height: 1.5;
    }

    h3 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h3 !important;
        margin: 0;
        line-height: 1.5;
    }

    h4 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h4 !important;
        margin: 0;
        line-height: 1.5;
    }

    h5 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h5 !important;
        margin: 0;
        line-height: 1.5;
    }

    h6 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h6 !important;
        margin: 0;
        line-height: 1.5;
    }
}

.cmp-digital {
    font-family: $font-family-digital;

    &-large {
        font-family: $font-family-digital;

        h1 {
            font-family: $font-family-digital;
            font-weight: normal;
            font-size: $font-size-digital-h1-large !important;
            line-height: 1.5;
        }
    }

    &-card {
        font-family: $font-family-digital;

        h2 {
            font-weight: bold;
            font-size: $font-size-digital-h2-card !important;
            line-height: rem(42px);
        }
    }

    h1 {
        font-family: $font-family-digital;
        font-size: $font-size-digital-h1 !important;
        line-height: rem(61px);
        margin: 0;
    }

    h2 {
        font-family: $font-family-digital;
        font-weight: bold;
        font-size: $font-size-digital-h2 !important;
        margin: 0;
    }

    h3 {
        font-family: $font-family-digital;
        font-size: $font-size-digital-h3 !important;
        line-height: rem(42px);
        margin: 0;
    }

    h4 {
        font-family: $font-family-digital;
        font-size: $font-size-digital-h4 !important;
        line-height: rem(30px);
        font-weight: bold;
        margin: 0;
    }

    h5 {
        font-family: $font-family-digital;
        font-size: $font-size-digital-h5 !important;
        line-height: rem(24px);
        font-weight: bold;
        margin: 0;
    }

    h6 {
        font-family: $font-family-digital;
        font-size: $font-size-digital-h6 !important;
        line-height: rem(16.8px);
        font-weight: bold;
        margin: 0;
    }
}

.cmp-td-legacy {
    font-family: $open-sans;

    h1 {
        font-size: $font-size-digital-h2 !important; //32px
        line-height: 1.5;
        margin: 0;
    }

    h2 {
        font-size: $font-size-digital-h2-card !important; //28px
        line-height: 1.5;
        margin: 0;
    }

    h3 {
        font-size: $font-size-custom-midi !important; //20px
        line-height: 1.5;
        margin: 0;
    }

    h4 {
        font-size: $font-size-medium !important; //16px
        line-height: 1.5;
        margin: 0;
    }

    h5 {
        font-size: $font-size-custom-xxsmall !important; //13px
        line-height: 1.2;
        margin: 0;
    }

    h6 {
        font-size: $font-size-custom-xxsmall !important; //13px
        line-height: 1.2;
        margin: 0;
    }
}

.dp-title {
    @include typewriter-animation;

    &__text {
        font-weight: 300;

        &--gray {

            .dp-title__text,
            .dp-title__link {
                color: #5d6165 !important;
            }
        }

        &--light-blue {

            .dp-title__text,
            .dp-title__link {
                color: #00b1e2 !important;
            }
        }

        &--dark-blue {

            .dp-title__text,
            .dp-title__link {
                color: #000c21 !important;
            }
        }

        &--white {

            .dp-title__text,
            .dp-title__link {
                color: #ffff !important;
            }
        }

        &-align {
            &-center {
                text-align: center;

                @include mobile {
                    margin: 0!important;
                    width: auto!important;
                    float: none!important;
                }
            }

            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }
        }

        &-font {
            &-bold {
                .dp-title__text {
                    font-weight: 700;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
    }

    &__plus-sign {
        position: absolute;
        background-color: #00b1e2;
        color: #ffff;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        margin-left: 0.5rem;

        &-white-on-blue {
            .dp-title__plus-sign {
                color: #ffff !important;
                background-color: #00b1e2;
            }
        }

        &-blue-on-white {
            .dp-title__plus-sign {
                color: #00b1e2 !important;
                background-color: #ffff;
            }
        }
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@include mobile {
    .dp-title {
        @include mobile {
            h1  {
                font-size: rem(32px);
                line-height: rem(40px);

                &.large {
                    font-size: rem(52px);
                    line-height: rem(68px);
                }
            }

            h2 {
                font-size: rem(28px);
                line-height: rem(42px);
            }

            h3 {
                font-size: rem(20px);
                line-height: rem(30px);
            }

            h4 {
                font-size: rem(16px);
                line-height: rem(21px);
            }

            h5 {
                font-size: rem(16px);
                line-height: rem(21px);
            } 

            h6 {
                font-size: rem(14px);
                line-height: rem(21px);
            }
        }
    }
}