// @use 'sass-rem' as rem;

.cmp-orders-grid {
  width: 100%;
  overflow: auto;
  & .status {
    display: flex;
  }
  & .icon {
    display: flex;
    margin-top: rem-convert(11px);
    margin-right: rem-convert(5px);
  }
  &__search {
    display: flex;
    gap: rem-convert(20px);
    width: 100%;
  }
}
