.cmp-td-hamburgerMenu {
    background: transparent;
    font-size: rem(21px);
    margin-top: rem(2.4px);
    &:hover {
        cursor: pointer;
    }

    &.active {
        color: get-color(td-lightblue);
    }
}