<div id="SignInBox" data-observe-mutation>
	<div class="dropdownbutton button aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--offset--default--0">
		<button type="button" id="dropdownbutton-6e6446dac2" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;dropdownbutton-6e6446dac2&quot;:{&quot;@type&quot;:&quot;techdata/components/dropdownbutton&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-27T17:06:42Z&quot;,&quot;dc:title&quot;:&quot;Partner with Us&quot;}}">
			
			<span class="cmp-button__icon cmp-button__icon--fa fa-user"></span>
		
			<span class="cmp-button__text" style="color: ">Partner with Us</span>
		</button>
		
		
			<div class="cmp-button__dropdown" data-hide-dropdown="true">
				<a href="/id/en/partner-with-us/become-a-partner.html" data-cmp-clickable="true" data-cmp-data-layer="{&quot;linkitem-054b8e8d&quot;:{&quot;xdm:linkURL&quot;:&quot;/id/en/partner-with-us/become-a-partner.html&quot;,&quot;@type&quot;:&quot;tds-site/components/linkitem&quot;,&quot;dc:title&quot;:&quot;Become a Partner&quot;,&quot;parentId&quot;:&quot;dropdownbutton-6e6446dac2&quot;}}">Become a Partner</a>
			
				<a href="/id/en/partner-with-us/become-a-vendor.html" data-cmp-clickable="true" data-cmp-data-layer="{&quot;linkitem-2d7c0498&quot;:{&quot;xdm:linkURL&quot;:&quot;/id/en/partner-with-us/become-a-vendor.html&quot;,&quot;@type&quot;:&quot;tds-site/components/linkitem&quot;,&quot;dc:title&quot;:&quot;Become a Vendor&quot;,&quot;parentId&quot;:&quot;dropdownbutton-6e6446dac2&quot;}}">Become a Vendor</a>
			</div>
		
		</div>
	<div
		data-component="SignIn"
		data-cmp-type="react"
		className="signin"
		data-config='{
			"label": "Sign In",
			"isPrivatePage": false,
			"welcomeLabel":"Welcome",
			"myEcIdlabel":"test my ecid label",
			"authenticationURL":"http://localhost:3000/",
			"uiServiceEndPoint": "http://localhost:3000/login",
			"clientId":"testciendID",
			"hideWhenNotLoggedIn": "false",
			"hideWhenLoggedIn": false,
			"myEcId":"testECID",
			"errorMessage":"Failed to login",
			"pingLogoutURL":"http://localhost:3000",
			"errorPageUrl":"#",
			"aemAuthUrl":"http://localhost:3000/auth",
			"shopLogoutRedirectUrl":"http://localhost:8080",
			"logoutURL":"http://localhost:3000/ui-account/v1/logout",
			"items":[{"linkTitle":"My Dashboard","linkUrl":"/dashboard","iconUrl":"fa fa-user", "linkTarget":false},{"linkTitle":"Reseller Tools","linkUrl":"/reseller-tools","iconUrl":"fa fa-calculator","linkTarget":true},{"linkTitle":"Favorites","linkUrl":"/favorites","iconUrl":"fa fa-heart","linkTarget":false}, {"linkTitle":"Account Settings","linkUrl":"/account-settings","iconUrl":"fa fa-cog","linkTarget":false}],
			"userEndpoint": "http://localhost:3000/ui-account/v1/GetUser/AEM",
			"ecommerceAuthenticationLoginEndpoint": "http://localhost:3000/ui-account/v1/login/par"
		}'
	></div>
	<script>
		//script copied from DigitalCommercePlatform/content/tds-core/ui.apps/src/main/content/jcr_root/apps/tds-core/components/page/v1/page/get-user-script.html for testing purposes so that react dev server has a similar behavior to the AEM server
		function resolveAcceptLanguage (language, country) {
			const collectiveCountry = country === 'UK' ? 'GB' : country;
			return language + '-' + collectiveCountry;
		}
	
		function getHeaderInfoFromUrl(pathName) {
			let countryIndex = 1; // uat/stage/prod
			let languageIndex = 2
			const pathArray = pathName?.split('/');
	
			if (pathArray && pathArray.length >= 5 && pathArray[1] === 'content') {
				countryIndex = 4; // dit/sit
				languageIndex = 5;
			}
	
			const country = pathArray[countryIndex]?.toUpperCase() || '';
			const language = pathArray[languageIndex]?.replace('.html', '') || country === 'US' ? 'en' : '';
			return {
				site: country,
				acceptLanguage: resolveAcceptLanguage(language, country)
			};
		}
	
		const headerInfo = getHeaderInfoFromUrl(window.location.pathname);
	
		let userDataPromise = null;
		let cachedUserData = null;
		let cachedResponseStatus = null;
		let cacheExpiration = null;
		const CACHE_DURATION = 600;
	
		async function getUserData() {
			if ((cachedUserData || !!cachedResponseStatus) && Date.now() < cacheExpiration) {
				if (cachedResponseStatus === 401) {
					throw(new Error(401));
				}
	
				return cachedUserData;
			}
	
			if (userDataPromise) {
				return await userDataPromise;
			}
	
			try {
				userDataPromise = fetch(
                "http://localhost:3000" +
                "/ui-account/v1/GetUser/AEM", {
					"headers": {
						"accept": "application/json, text/plain, */*",
						"accept-language": headerInfo.acceptLanguage,
						"consumer": "AEM",
						"site": headerInfo.site,
						"traceid": new Date().toISOString()
					},
					"body": null,
					"method": "GET",
					"credentials": "include"
				});
	
				const response = await userDataPromise;
				cachedResponseStatus = response.status;
				cacheExpiration = Date.now() + CACHE_DURATION * 1000;
	
				if (response.ok) {
					const data = await response.json();
					cachedUserData = data.content.user;
					return cachedUserData;
				} else {
					console.log('HTTP-Error: ' + response.status);
					throw(new Error(response.status));
				}
			}
			catch (error) {
				throw(new Error(401));
			}
			finally {
				userDataPromise = null;
			}
	
			return null;
		}
	
		const isExtraReloadDisabled = () => document.body.hasAttribute("data-disable-extra-reload");
		const isHttpOnlyEnabled = () => document.body.hasAttribute("data-signin-httponly");
		async function getSessionInfo() {
			let isLoggedIn;
			let userData;
	
			if (isHttpOnlyEnabled() || isExtraReloadDisabled()) {
				let  data;
	
				try {
					data = await getUserData();
				} catch (error) {
					data = null;
				}
	
				isLoggedIn = !!data;
				userData = data;
			} else {
				isLoggedIn = window.localStorage.getItem("sessionId");
				userData = window.localStorage.getItem("userData") ? JSON.parse(window.localStorage.userData) : null;
			}
			return [isLoggedIn, userData];
		}
	</script>
	
</div>
