$fontawsome-font-family: 'fontawsome' !default;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-recenter-path1: '\e91e';
$icon-recenter-path2: '\e91f';
$icon-recenter-path3: '\e920';
$icon-recenter-path4: '\e921';
$icon-location-marker-path1: '\e919';
$icon-location-marker-path2: '\e91a';
$icon-location-marker-path3: '\e91b';
$icon-location-marker-path4: '\e91c';
$icon-location-marker-path5: '\e91d';
$icon-filter-path1: '\e913';
$icon-filter-path2: '\e914';
$icon-filter-path3: '\e915';
$icon-filter-path4: '\e916';
$icon-filter-path5: '\e917';
$icon-filter-path6: '\e918';
$icon-locate: '\e912';
$icon-open-link: '\e911';
$icon-play: '\e90f';
$icon-pause: '\e910';
$icon-my-account-path1: '\e908';
$icon-my-account-path2: '\e909';
$icon-my-account-path3: '\e90a';
$icon-my-account-path4: '\e90b';
$icon-my-account-path5: '\e90c';
$icon-my-account-path6: '\e90d';
$icon-my-account-path7: '\e90e';
$icon-close: '\e907';
$icon-location: '\e905';
$icon-Search: '\e906';
$icon-hamburger: '\e900';
$icon-minus: '\e901';
$icon-check: '\e902';
$icon-plus: '\e903';
$icon-arrow-down: '\e904';
