/**
 * Styles for the intouch page.
 *
 * @class intouchpage
 * @classdesc Styles for the intouch page.
 */
 .intouchpage {
    /* display: none; */
  
    #page-container {
      position: relative;
      min-height: 100vh;
    }
  
    /* Push header to the bottom of the page */
    #intouch-footerhtml {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  