//style system specific presets
.cmp-search--light-blue {
}
.cmp-search--grey {
}
.cmp-search--white {
}
.cmp-search--dark-blue {
	& .cmp-search__input {
		border: 1px solid #000c21;
		border-radius: unset;
		&::placeholder {
			font-style: normal;
			font-family: 'Open Sans';
			font-size: 0.84em;
			font-weight: 300;
			letter-spacing: 0;
		}
	}
	& .cmp-search__icon {
		color: #02b8dc;
	}
}
//default view
.cmp-search__field {
	height: 1.97em;
	display: flex;
}
.cmp-search__icon {
	background-image: unset;
	right: 0.8rem;
	left: unset;
}
.cmp-search__input {
	border: 1px solid lightgray;
	border-radius: 0.2em;
	outline: none;
}
.cmp-search__loading-indicator {
	right: 0.8rem;
	left: unset;
}
.cmp-search__clear {
	display: none;
}
.cmp-search__clear-icon {
	left: 0.5rem;
	right: unset;
}
