<!-- TD Quote Subtotal -->

<section>
    <div class="cmp-td-quote-subtotal">
        <div class="cmp-td-quote-subtotal__price-area">
            <div class="cmp-td-quote-subtotal__price-area--title">
                Quote Subtotal:
            </div>
            <div class="cmp-td-quote-subtotal__price-area--price">
                $6,422.20
            </div>
        </div>

        <!-- PLEASE DON'T DELETE THE CODE BELOW -->
        <!--            
            <div class="cmp-td-quote-subtotal__checkout-area">
                <div class="info-icon">
                    <i class="fas fa-info-circle fa-sm"></i>
                </div>
                    <div class="font-xxsmall">Enter Zip Code for a Freight Estimate</div>
                <button class="cmp-button__full">
                    Checkout
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <button class="cmp-button__outlined">
                    Export Options
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        -->

    </div>
</section>