<section>
  <div class="cmp-topQuotes">
    <div class="cmp-topQuotes__table">
      <table cellpadding="0" cellspacing="5">
        <thead>
          <div class="cmp-topQuotes__title">
            Top 5 Quotes by Value
          </div>
        </thead>
        <tbody>
          <tr>
            <td class="cmp-topQuotes__sub-title-color-1"></td>
            <td class="cmp-topQuotes__sub-title">End User Company A </td>
            <td class="cmp-topQuotes__sub-title-digits">$685,000</td>
          </tr>
          <tr>
            <td class="cmp-topQuotes__sub-title-color-2"></td>
            <td class="cmp-topQuotes__sub-title">End User Name B </td>
            <td class="cmp-topQuotes__sub-title-digits">$685,000</td>
          </tr>
          <tr>
            <td class="cmp-topQuotes__sub-title-color-3"></td>
            <td class="cmp-topQuotes__sub-title">End User C </td>
            <td class="cmp-topQuotes__sub-title-digits">$685,000</td>
          </tr>
          <tr>
            <td class="cmp-topQuotes__sub-title-color-4"></td>
            <td class="cmp-topQuotes__sub-title">End User Customer D </td>
            <td class="cmp-topQuotes__sub-title-digits">$685,000</td>
          </tr>
          <tr>
            <td class="cmp-topQuotes__sub-title-color-5"></td>
            <td class="cmp-topQuotes__sub-title">End User E </td>
            <td class="cmp-topQuotes__sub-title-digits">$685,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cmp-topQuotes__bar-Graph">

    </div>

  </div>
</section>