<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
    <div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>

<sly data-sly-use.model="com.techdata.core.models.GetMenuCategories">
    <ul data-sly-list.category="${model.categoriesList}" class="cmp-tools">
        <li class="cmp-tools__category-name">
            ${category.categoryName}
            <sly data-sly-list.link="${category.menuList}">
                <ul>
                    <li><a href="${link.linkUrl}" target="${link.linkTarget == 'true' ? '_blank':''}">${link.linkLabel}</a></li>
                </ul>
            </sly>
        </li>
    </ul>
</sly>
