
    <header id="header" name="header" class="header">

    <div class="row text-center" ng-controller="CustomerBarController">
        <div ng-if="showBar" class="col-lg-12">
            <div class="CustBar_state0">
                <div class="Custbar_top-bar">
                    <div class="CustBar_InnerDiv">
                        <div class="floatLeft">
                        </div>
                        <div class="floatRight">
                            <p style="display:inline"><span>Switch Account:</span></p>
                            <input id="u158_input" type="text" value="" class="customerid" maxlength="9" style="width: 80px;color: rgb(153, 153, 153);display:inline" onkeypress="if (td.isEnterKeyPressed(event)) td.navigateToSalesLogin(this.value);">
                            <p class="CustBar_Account"><span onclick="td.navigateToCustomerHierarchyListing();">Show Accounts</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:44px;"></div></div>
    </div>
    <div class="row text-center">

    </div>

    <div class="row text-center">
        <div class="logo-banner" ng-controller="BannerController" ng-init="init({&quot;SalesLogin&quot;:&quot;&quot;,&quot;Mvc_ProductMain_Url&quot;:null,&quot;Api_OnlineCheckMain_Url&quot;:null,&quot;Api_ProductSearchMain_Url&quot;:null,&quot;Api_ProductComparisonMain_Url&quot;:null,&quot;Api_ProductSearchSettingsMain_Url&quot;:null,&quot;Api_NewPDPApiEndpointRelative_Url&quot;:null,&quot;Api_NewPDPApiEndpointRelativeForEmbedded_Url&quot;:&quot;/Intouch/MVC&quot;,&quot;Web_IntouchUrl_Relative_Url&quot;:&quot;/Intouch&quot;})">
            <div id="TopBannerHtmlBody" ng-bind-html="TopBannerHtmlBody | trustAsHtml" style="margin-left: 575px;"></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="header-content">


            <div class="logo-img">
                <a href="https://intouch-quality.techdata.eu/InTouch/MVC/MicroSite/Private?corpregionid=14&amp;categorypageid=938&amp;msmenuid=2707">
                    <img alt="" src="https://intouch-quality.techdata.eu/InTouch/MVC/css/intouch/images/logo/td_logo_new_synnex.gif">
                </a>
            </div>
            <div id="freeSearchMain">
                <input type="text" autocomplete="off" class="FreeText" onblur="SetDefaultText('blur',event,'TechData.Services.Product.DataContract.Dto.Products.CountrySetting.CountrySettingItemResponse');" onclick="SetDefaultText('focus',event,'TechData.Services.Product.DataContract.Dto.Products.CountrySetting.CountrySettingItemResponse');" id="txtFreeTextSearch" maxlength="250" placeholder="Product Search" name="Product Search">
                <a title="Go" onclick="if (autosuggest){ return imgSearchclick();}" class="linkfreesearchMain" id="lnkFreeSearch">search</a>
                <div id="autofilledview" style="display: none;">
                </div>
            </div>
            <div class="look-ahead">


                <div class="top_log_bar_COS" id="divtoplogbar">
                    <div class="top_log_bar_mid_COS" id="divtoplogbarmid">
                        <div style="float:left">
                            <div ng-controller="SavedSearchController" class="saved-product-search-container">
                                <div class="saved-product-search-open">
                                    <div ng-click="openSavedSearch()" class="top_log_bar_mysearches">
                                        MY SEARCHES
                                    </div>
                                    <div class="saved-product-search ng-hide" ng-show="isSavedSearchActive" ng-mouseleave="closeWithDelay()">
                                        <div class="saved-product-search-loader" ng-show="isLoading">
                                            <img alt="" src="https://intouch-quality.techdata.eu/InTouch/MVC/css/intouch/images/loader_small.gif" />
                                        </div>
                                        <div class="saved-product-search-list" ng-hide="isLoading">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tbody>
                                                <tr ng-hide="savedProductSearchItems.length > 0">
                                                    <td><i>Empty list</i></td>
                                                </tr>
                                                <tr ng-repeat="savedProductSearchItem in savedProductSearchItems">
                                                    <td class="msi-delete" ng-click="deleteSavedSearch(savedProductSearchItem.SavedSearchId)">
                                                        <span class="material-icons">highlight_off</span>
                                                    </td>
                                                    <td class="msi-name">
                                                        <a ng-href="https://intouch-quality.techdata.eu/InTouch/MVC/ProductSearch/Search?{{savedProductSearchItem.Params}}" ng-link ng-click="goToSavedSearch()">{{::savedProductSearchItem.Name}}</a>
                                                    </td>
                                                    <td class="msi-totals">
                                                        {{::savedProductSearchItem.ResultCount}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="saved-product-search-legend">
                                            To create a Saved Search, perform a<br>search and click on save in the result header<br>(stores upto 20 searches);
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topQuickBasket_COS">
                            <a onclick="OpenQuickAdd()">QUICK ADD</a>
                        </div>
                    </div>
                </div>

                <div id="pop-up" class="overlay none">
                    <div id="modal-body">
                    </div>
                </div>

            </div>
            <div class="login-details-container">



                <div class="login-details-header">
                    <i class="fa fa-user-circle-o fa-2x" style="vertical-align:middle;"></i>

                    SP
                    <i class="fa fa-caret-down fa-lg"></i>
                </div>
                <div class="login-details-content">
                    <div class="white-frame"></div>
                    <ul>
                        <li>
                            <span style="padding-right:50px;">Hello:  Steve.Peters Peters</span>
                            <span>CN: 325009 </span>
                            <br />
                            <span>
                steve.peters@techdata.com
            </span>
                        </li>

                        <li>

                            <a href="https://intouch-quality.techdata.eu/Intouch/Home.aspx?RefURL=https://intouch-quality.techdata.eu/Intouch/GUIMasterSearch/UserProfile.aspx">See user details</a>
                        </li>
                        <li>



                            <a href="https://intouch-quality.techdata.eu/InTouch/MiscFE/SSO/Logout?service=IntouchClient&ContinueUrl=https%3A%2F%2Fuk-quality.techdata.eu&Lang=en-GB">

                                <span class="logout">Logout</span>

                            </a>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
                    function LanguageChangeRedirect(param) {
                        window.location.href = "https://" + window.location.host + param + "&redirectUrl=" + encodeURIComponent(window.location.href);
                    }
                </script>

            </div>
            <div class="basket-container" ng-controller="BasketController" ng-init="init({&quot;SalesLogin&quot;:&quot;&quot;,&quot;Mvc_ProductMain_Url&quot;:null,&quot;Api_OnlineCheckMain_Url&quot;:null,&quot;Api_ProductSearchMain_Url&quot;:null,&quot;Api_ProductComparisonMain_Url&quot;:null,&quot;Api_ProductSearchSettingsMain_Url&quot;:null,&quot;Api_NewPDPApiEndpointRelative_Url&quot;:null,&quot;Api_NewPDPApiEndpointRelativeForEmbedded_Url&quot;:&quot;/Intouch/MVC&quot;,&quot;Web_IntouchUrl_Relative_Url&quot;:&quot;/Intouch&quot;})">


                <div style="float:left;margin-top:2px;margin-right:5px;">
                    <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/DisplayMessages" id="openBasket" ng-if="DisplayMessageIcon" ng-click="openMessageWindow($event)" class="openBasket">
                        <i class="material-icons">mail_outline</i>
                    </a>
                </div>

                <div class="basket">
                    <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/Open" id="openBasket" ng-click="open($event)">
                        <div class="basket-cart-icon" title="Open Basket">shopping_cart</div>
                    </a>
                    <div class="basket-cart">
                        <div class="basket-cart-number">
                            <div class="basket-name"></div>
                            <div class="basket-numberOfLines"></div>
                        </div>
                        <div class="basket-arrow material-icons">play_arrow</div>
                        <div class="basket-cart-menu">
                            <div class="basket-cart-menu-actions">
                                <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/Open" id="openSelectedBasket" ng-click="open($event)">Open Basket</a>
                                <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/Create" id="createBasket" ng-click="create($event)">Create Basket</a>
                                <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/Delete" id="deleteBasket" ng-click="delete($event)">Delete Basket</a>
                                <a url="https://intouch-quality.techdata.eu/InTouch/MVC/Basket/Checkout" id="checkoutBasket" ng-click="checkout($event)" onclick="DisplayLoader();">Proceed to Checkout</a>
                            </div>
                            <div class="basket-cart-menu-basket-list-header">Basket List</div>
                            <div class="basket-cart-menu-basket-list">

                                <ul id="basketList" class="">
                                </ul>
                                <input type="hidden" id="cmbBaskets" />
                            </div>
                        </div>
                        <div id="divPurchaseLoader" style="position: fixed;left: -21px; top: 331px; width: 100%;height: 100%;display:none">
                            <div>
                                <div>
                                    <img src="/Images/ajax-loader_transparent.gif" alt="loading...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="row  text-center">
        <div class="col-lg-12">

            <div class="COS2_menu_external" ng-controller="TaxonomyController">
                <div class="COS2_menu" ng-init="initContent()">
                    <ul class="COS2_m_ul1">
                        <li class="COS2_m_li1">
                            <span class="COS2_m_li1a">Main Menu</span>
                        </li>
                        <li class="COS2_m_li1 highlight">
                            <span class="COS2_m_li1a">Brands & Browse</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Computing</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Peripherals</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Printing</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Software</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Networking</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Components</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Mobility &amp; IoT</span>
                        </li>
                        <li class="gd_m_li1">
                            <span class="gd_m_li1a">Audio, Video &amp; Image</span>
                        </li>
                    </ul>
                </div>
            </div></div>
    </div>




</header>


<div class="ps">
    <div ng-view></div>
    <div style="clear: both"></div>
</div>

<div id="main-loader" name="main-loader" class="global-overlay" style="display: none">
    <div id="loaderwheel" name="loaderwheel" class="loader"></div>
</div>
<input id="hidusertype" type="hidden" value="" />
<!--/*

<footer> tag below to be replaced by .js that calls:  

https://intouch-quality.techdata.eu/Intouch/MVC/Footer/Index?SpecialistId=1&SpecialistName=BroadLine&categorypageid=943&corpregionid=33&countryCode=33&culture=de-DE&customerId=150967&msmenuid=2608&userId=2103825&version=1.4

Assumption:

	1. The user is authenticated in another browser tab.
*/-->


<footer>
   <div id="footer">
      <div class="footerCOS" id="ctl00_ucFooterCOS">
         <div id="DVFooterSpecialist">
            <div id="ctl03_dvFooter">
               <a href="https://uk.techdata.com/privacypolicy?MenuId=12307" target="_self">Privacy Statement</a>
               <label> | </label>                                <a href="https://uk.techdata.com/contact-us?MenuId=7916" target="_self">Contact Us</a>
               <label> | </label>                                <a href="https://uk.techdata.com/SecurityAwareness?MenuId=12308" target="_self">Security Awareness</a>
               <label> | </label>                                <a href="https://uk.techdata.com/Legal/TermsandConditions?MenuId=12306" target="_self">Terms and Conditions</a>
               <label> | </label>                                <a href="https://intouch-quality.techdata.eu/InTouch/Home.aspx?RefURL=https://techdatacareers.co.uk&amp;MenuId=14357" target="_blank">Careers</a>
               <label> | </label>                                <a href="http://intouch-quality.techdata.eu/intouch/sitemap.aspx?MenuId=12310" target="_self">Site Map</a>
               <label> | </label>                                <a onclick="TechData.CookieAgreement.loadCookiesPopup(); return false;" href="#">Cookie settings</a>
            </div>
         </div>
      </div>
   </div>
</footer>
<div class="scoller active" du-smooth-scroll="header" duration="500" du-scrollspy></div>
