.cmp-renewals-details__tds {
  * {
    @include font-everett-regular-normal();
  }

  .cmp-renewals-qp__config-grid {
    .header-container {
      .image-container {
        .back-to-renewal {
          @include font-everett-regular-normal($line-height: 22px);
        }
      }
    }

    .export-container {
      button span {
        color: map-get($color-palette, 'teal');
        font-weight: 400;
      }
      .quote-preview {
        @include font-everett-medium-bold($size: 20px, $line-height: 18px);
      }
    } 

    .cmp-renewals-qp__reseller-info,
    .cmp-renewals-qp__agreement-info,
    .cmp-renewals-qp__enduser-info {
      @include font-everett-medium-bold();

      &--title {
        @include font-everett-medium-bold($size: 16px);
      }

      &--address-group {
        span {
          @include font-everett-regular-normal($line-height: 24px);
          color: #606060;
        }
      }
    }
  }

  .cmp-renewal-preview {
    .details-container {
      .details-preview {
        color: $brand-green;
        @include font-everett-medium-bold();
      }
    }

    .cmp-grid.ag-theme-alpine {
      .ag-header-cell {
        padding-bottom: 0;
      }

      .ag-row .cmp-renewal-preview__prod-details span {
        color: map-get($color-palette, 'cool-gray-9');
        font-weight: 600;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
      }
    }

    .cmp-product-lines-grid__item-information__box-text a p {
      margin-top: 0;
    }

    .cmp-renewal-preview__download {
      &--icon {
        display: inline-block;
        margin-right: 14px;
      }
    }
  }

  .cmp-product-lines-grid {
    .ag-root-wrapper-body {
      .ag-header-container {
        background-color: map-get($color-palette, 'cool-gray-1');

        .ag-header-cell-text {
          color: map-get($color-palette, 'charcoal');
          @include font-everett-regular-normal();
        }
      }
    }
  }

  .cmp-grid.ag-theme-alpine {
    .ag-row * {
      @include font-everett-regular-normal($size: 14px);
      color: map-get($color-palette, 'charcoal');
      ;
    }

    .ag-header {
      border: none;
    }
  }

  .cmp-renewal-preview__subtotal--value * {
    @include font-everett-regular-normal();
    font-size: 24px;
    line-height: 32px;
  }
}
