<sly data-sly-list="${resource.children}">
  <sly data-sly-list="${item.children}">
    <a data-sly-test="${item.socialMedia && item.linkUrl}" class="m-2 rounded-circle bg-${item.socialMedia}"
      href="${item.linkUrl}">
      <i class="fab fa-${item.socialMedia}"></i>
    </a>
  </sly>
</sly>

<div data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-call="${template.placeholder @ isEmpty=!resource.children}"></div>
<div data-sly-test="${wcmmode.edit && !resource.children}" class="alert alert-primary">
  <!--/* Customize title and text to provide instructions for developers */-->
  <h4>Developer Mode Only</h4>
  <p>Social media links component. This component may be limited by polices to follow design rules.</p>
  <p>If you need a different functionality please contact support.</p>
</div>
