<div
  style="width: 35%; margin-left: 15%; margin-top: 5%"
  class="accordion cmp-accordion__cvp-chevrons aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--offset--default--1"
>
  <div
    id="accordion-03e2d1a0a4"
    class="cmp-accordion"
    data-cmp-data-layer='{"accordion-03e2d1a0a4":{"shownItems":["accordion-03e2d1a0a4-item-caa7cbae7f"],"@type":"tds-site/components/accordion","repo:modifyDate":"2022-09-05T15:20:05Z"}}'
    data-cmp-single-expansion=""
    data-placeholder-text="false"
  >
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer='{"accordion-03e2d1a0a4-item-8c85351036":{"@type":"tds-site/components/accordion/item","dc:title":"Inclusion - Your voice matters."}}'
      id="accordion-03e2d1a0a4-item-8c85351036"
    >
      <h2 class="cmp-accordion__header">
        <button
          id="accordion-03e2d1a0a4-item-8c85351036-button"
          class="cmp-accordion__button"
          aria-controls="accordion-03e2d1a0a4-item-8c85351036-panel"
          data-cmp-hook-accordion="button"
          aria-expanded="false"
        >
          <span class="cmp-accordion__title" style="color: "
            >Inclusion - Your voice matters.</span
          >
          <span class="cmp-accordion__icon"></span>
        </button>
      </h2>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-03e2d1a0a4-item-8c85351036-panel"
        class="cmp-accordion__panel cmp-accordion__panel--hidden"
        role="region"
        aria-labelledby="accordion-03e2d1a0a4-item-8c85351036-button"
        aria-hidden="true"
      >
        <div class="container responsivegrid">
          <div id="container-8c85351036" class="cmp-container">
            <div class="aem-Grid aem-Grid--4 aem-Grid--default--4">
              <div class="text aem-GridColumn aem-GridColumn--default--4">
                <div
                  data-cmp-data-layer='{"text-9fb97af70f":{"@type":"tds-site/components/text","repo:modifyDate":"2022-08-31T18:22:46Z","xdm:text":"<p>With diverse backgrounds, expertise and experiences, our co-workers make us who we are. When we seek to understand one another and recognize the power of the individual, we demonstrate respect and dignity; we learn, evolve and unlock potential to achieve outstanding results for our customers and win together.</p>\n<p>&amp;nbsp;</p>\n<p>This broad perspective is integral to our commitment to diversity, equity and inclusion.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;</p>\n"}}'
                  id="text-9fb97af70f"
                  class="cmp-text"
                  style="color: "
                >
                  <p>
                    With diverse backgrounds, expertise and experiences, our
                    co-workers make us who we are. When we seek to understand
                    one another and recognize the power of the individual, we
                    demonstrate respect and dignity; we learn, evolve and unlock
                    potential to achieve outstanding results for our customers
                    and win together.
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    This broad perspective is integral to our commitment to
                    diversity, equity and inclusion.&nbsp;&nbsp;&nbsp;&nbsp;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer='{"accordion-03e2d1a0a4-item-caa7cbae7f":{"@type":"tds-site/components/accordion/item","dc:title":"Collaboration - We amplify strengths."}}'
      id="accordion-03e2d1a0a4-item-caa7cbae7f"
      data-cmp-expanded=""
    >
      <h2 class="cmp-accordion__header">
        <button
          id="accordion-03e2d1a0a4-item-caa7cbae7f-button"
          class="cmp-accordion__button cmp-accordion__button--expanded cmp-accordion__button--disabled"
          aria-controls="accordion-03e2d1a0a4-item-caa7cbae7f-panel"
          data-cmp-hook-accordion="button"
          aria-expanded="true"
          aria-disabled="true"
        >
          <span class="cmp-accordion__title" style="color: "
            >Collaboration - We amplify strengths.</span
          >
          <span class="cmp-accordion__icon"></span>
        </button>
      </h2>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-03e2d1a0a4-item-caa7cbae7f-panel"
        class="cmp-accordion__panel cmp-accordion__panel--expanded"
        role="region"
        aria-labelledby="accordion-03e2d1a0a4-item-caa7cbae7f-button"
        aria-hidden="false"
      >
        <div class="container responsivegrid">
          <div id="container-caa7cbae7f" class="cmp-container">
            <div class="aem-Grid aem-Grid--4 aem-Grid--default--4">
              <div class="text aem-GridColumn aem-GridColumn--default--4">
                <div
                  data-cmp-data-layer='{"text-2347e20f6d":{"@type":"tds-site/components/text","repo:modifyDate":"2022-08-31T18:22:46Z","xdm:text":"<p>With diverse backgrounds, expertise and experiences, our co-workers make us who we are. When we seek to understand one another and recognize the power of the individual, we demonstrate respect and dignity; we learn, evolve and unlock potential to achieve outstanding results for our customers and win together.</p>\n<p>&amp;nbsp;</p>\n<p>This broad perspective is integral to our commitment to diversity, equity and inclusion.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;</p>\n"}}'
                  id="text-2347e20f6d"
                  class="cmp-text"
                  style="color: "
                >
                  <p>
                    With diverse backgrounds, expertise and experiences, our
                    co-workers make us who we are. When we seek to understand
                    one another and recognize the power of the individual, we
                    demonstrate respect and dignity; we learn, evolve and unlock
                    potential to achieve outstanding results for our customers
                    and win together.
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    This broad perspective is integral to our commitment to
                    diversity, equity and inclusion.&nbsp;&nbsp;&nbsp;&nbsp;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer='{"accordion-03e2d1a0a4-item-cba35e7729":{"@type":"tds-site/components/accordion/item","dc:title":"Integrity: Character counts."}}'
      id="accordion-03e2d1a0a4-item-cba35e7729"
    >
      <h2 class="cmp-accordion__header">
        <button
          id="accordion-03e2d1a0a4-item-cba35e7729-button"
          class="cmp-accordion__button"
          aria-controls="accordion-03e2d1a0a4-item-cba35e7729-panel"
          data-cmp-hook-accordion="button"
          aria-expanded="false"
        >
          <span class="cmp-accordion__title" style="color: "
            >Integrity: Character counts.</span
          >
          <span class="cmp-accordion__icon"></span>
        </button>
      </h2>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-03e2d1a0a4-item-cba35e7729-panel"
        class="cmp-accordion__panel cmp-accordion__panel--hidden"
        role="region"
        aria-labelledby="accordion-03e2d1a0a4-item-cba35e7729-button"
        aria-hidden="true"
      >
        <div class="text"></div>
      </div>
    </div>
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer='{"accordion-03e2d1a0a4-item-d0e1ab03ca":{"@type":"tds-site/components/accordion/item","dc:title":"Excellence - We win."}}'
      id="accordion-03e2d1a0a4-item-d0e1ab03ca"
    >
      <h2 class="cmp-accordion__header">
        <button
          id="accordion-03e2d1a0a4-item-d0e1ab03ca-button"
          class="cmp-accordion__button"
          aria-controls="accordion-03e2d1a0a4-item-d0e1ab03ca-panel"
          data-cmp-hook-accordion="button"
          aria-expanded="false"
        >
          <span class="cmp-accordion__title" style="color: "
            >Excellence - We win.</span
          >
          <span class="cmp-accordion__icon"></span>
        </button>
      </h2>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-03e2d1a0a4-item-d0e1ab03ca-panel"
        class="cmp-accordion__panel cmp-accordion__panel--hidden"
        role="region"
        aria-labelledby="accordion-03e2d1a0a4-item-d0e1ab03ca-button"
        aria-hidden="true"
      >
        <div class="text"></div>
      </div>
    </div>
  </div>
</div>
