<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
    <form method="POST" action="/content/techdata/test.html" id="new_form" name="new_form" enctype="multipart/form-data" class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12">

        <input type="hidden" name=":formstart" value="/content/techdata/test/jcr:content/root/container/container/container_1375460688">
        <input type="hidden" name="_charset_" value="utf-8">

        <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div class="cmp-form-text">
                <label for="form-text-1272703498">First Name</label>


                <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="form-text-1272703498" name="First Name" placeholder="First Name">
            </div></div>
        <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div class="cmp-form-text">
                <label for="form-text-1126005804">Last Name</label>


                <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="form-text-1126005804" name="Last Name" placeholder="Last Name">
            </div></div>
        <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div class="cmp-form-text">
                <label for="form-text-2052313522">Business Email</label>


                <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="form-text-2052313522" name="Business Email" placeholder="Business Email">
            </div></div>
        <div class="options aem-GridColumn aem-GridColumn--default--12">

            <fieldset class="cmp-form-options cmp-form-options--drop-down">


                <label class="cmp-form-options__label" for="form-options-1029867923">Country</label>
                <select class="cmp-form-options__field cmp-form-options__field--drop-down" name="Country" id="form-options-1029867923"><option value="" selected="" hidden="" disabled="">Country</option>
                    <option value="ind">india</option>

                    <option value="us">United Sates</option>
                </select>


            </fieldset>




        </div>
        <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div class="cmp-form-text">
                <label for="form-text-1156310076">How can we help? (optional)</label>

                <textarea class="cmp-form-text__textarea" data-cmp-hook-form-text="input" id="form-text-1156310076" name="Message" rows="5" placeholder="How can we help? (optional)" spellcheck="false"></textarea>

            </div></div>
        <div class="button aem-GridColumn aem-GridColumn--default--12">
            <button type="SUBMIT" id="form-button-496954747" class="cmp-form-button">Submit</button>
        </div>


    </form>
</div>