<div id="QuotePreviewBox" data-observe-mutation>
  <div
    data-component="QuotePreview"
    data-cmp-type="react"
    className="cmp-quotePreview"
    data-config='{
        "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/preview",
        "quickQuoteEndpoint": "http://localhost:3000/ui-commerce/v1/quote/createFrom",
        "companyInfoEndPoint": "http://localhost:3000/ui-account/v1/getAddress",
        "dealsForEndpoint": "http://localhost:3000/ui-config/v1/getdealsFor?endUserName={end-user-name}&orderLevel={order-level}&mfrPartNumbers={manufacturer-parts-id-array}details=true",
        "pricingConditionsEndpoint": "http://localhost:3000/ui-commerce/v1/pricingConditions?getAll=true&Id=2",
        "headerLabel": "Quote Preview: Confirm Details to Quote",
        "subtotalLabel": "Subtotal of items selected for quote",
        "confirmButtonLabel": "Continue with Quick Quote",
        "defaultChoiceLabel": "Make this my default choice",
        "continueWithStandardPriceLabel": "Continue with Standard Pricing Instead",
        "information": {
            "yourCompanyHeaderLabel": "Your Company Information",
            "endUserHeaderLabel": "End User Information",
            "generalHeaderLabel": "General Information",
            "emailLabel": "Email",
            "phoneLabel": "Phone",
            "sourceLabel": "Source",
            "tierLabel": "Tier",
            "referenceLabel": "Reference",
            "dealLabel": "Deal",
            "nameLabel": "Name",
            "companyLabel": "Company",
			"addressLabel": "Address ",
			"searchingDealsLabel": "Searching Deals",
			"noDealsFoundLabel": "No Deal(s) Found",
			"dealsFoundLabel": "Deal(s) Found",
			"bidLabel": "Bid:",
			"versionLabel": "Version:",
			"spaIdLabel": "Deal ID:",
			"endUserNameLabel": "End User:",
			"errorGettingDealsLabel": "There was an error trying to get the Deals, please try again."
        },
        "productLines": {
            "label": "Select Line Items to Include",
            "expandAllLabel": "Expand All",
            "collapseAllLabel": "Collapse All",
            "startDateLabel": "Start Date",
            "autoRenewLabel": "Auto Renew",
            "durationLabel": "Duration",
            "billingLabel": "billing",
            "yesLabel": "Yes",
            "noLabel": "No",
            "columnList":[
                {"columnLabel":"Select All","columnKey":"id", "expandable": true, "sortable": false},
                {"columnLabel":"Item Information","columnKey":"shortDescription", "sortable": false},
                {"columnLabel":"MSRP/Unit List Price","columnKey":"unitListPriceFormatted", "sortable": false},
                {"columnLabel":"Quantity","columnKey":"quantity", "sortable": false},
                {"columnLabel":"Extended Price","columnKey":"extendedPriceFormatted", "sortable": false}
            ]
        },
        "note":  {
            "headerLabel":"Please note: We are able to provide your quote, however some items will require attention before entering the checkout process.",
            "setupRequiredLabel":"Setup required",
            "attachmentRequiredLabel": "Attachment required"
        }
    }'
  ></div>
</div>
