<div id="QuotePreviewBox" data-observe-mutation>
  <div
    data-component="QuotePreview"
    data-cmp-type="react"
    className="cmp-quotePreview"
    data-config='{
	"uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/quote/preview?id=4234213",
	"productLinesGrid": {
		"columnList":[
			{"columnLabel":"Select All","columnKey":"id", "expandable": true, "sortable": false},
			{"columnLabel":"Item Information","columnKey":"shortDescription", "sortable": false},
			{"columnLabel":"MSRP/Unit List Price","columnKey":"unitListPriceFormatted", "sortable": false},
			{"columnLabel":"Quantity","columnKey":"quantity", "sortable": false},
			{"columnLabel":"Extended Price","columnKey":"extendedPriceFormatted", "sortable": false}
		]
	}
	}'
  ></div>
</div>
