// @use 'sass-rem' as rem;

.cmp-social {
  display: flex;
  a {
    background-color: transparent;
    width: rem-convert(28.58px);
    height: rem-convert(28.58px);
    margin-right: rem-convert(16.44px);
    border-radius: 50%;
    &:last-child {
      margin-right: unset;
    }
    & img {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
  }
}
