.headerutility {
    &.aem-GridColumn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0;
        margin-left: auto;
    }
    .signin {
        white-space: nowrap;
    }
    .minicart,
    .signin,
    .languagenavigation {
        padding: 0 10px;
    }
    .languagenavigation {
        position: relative;
        #regionSelectDropdown {
            position: absolute;
            right: 2px;
            top: 53px;
        }
    }
}
