<div class="list cmp-list">
  <ul id="list-88a698b7a4" data-cmp-data-layer="{&quot;list-88a698b7a4&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:00:17Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-88a698b7a4-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Title</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-88a698b7a4-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-88a698b7a4-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-88a698b7a4-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
  </ul>
</div>