<div class="cmp-td-order-details__parent-container">
  <div class="cmp-td-order-details__header">
  <div class="cmp-td-order-details_header--details">
    <div class="order-number">Order 1234567890TS</div>
    <div>Placed on 2021/03/04</div>
    <div>Purchase Order: DP2020CureFor</div>
  </div>

  <div class="cmp-td-order-details_header--status">
    <a href="#">Export CSV</a>
    <div>800-237-8931</div>
    <button class="open">Open</button>
  </div>
</div>
  <div class="cmp-td-order-details__info-cards">
  <div class="cmp-td-order-details__info-cards__card">
    <div class="cmp-td-order-details__info-cards__card__container">
      <h4 class="cmp-td-order-details__info-cards__card__container__label">Status</h4>
      <div class="cmp-td-order-details__info-cards__card__container__status-body">
        <div class="cmp-td-order-details__info-cards__card__container__status-body__status-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__status-body__status-heading">
          Your order is open and in process.
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__status-body__status-description">
          This order is being processed, and it is being carefully prepared by qualified technicians to ensure supreme levels of quality.
        </div>
      </div>
    </div>
  </div>
  <div class="cmp-td-order-details__info-cards__card">
    <div class="cmp-td-order-details__info-cards__card__container">
      <h4 class="cmp-td-order-details__info-cards__card__container__label">End User</h4>
      <div class="cmp-td-order-details__info-cards__card__container__end-user">
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__address-name">
          Sister Maggie's School
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__address-lines">
          <p>9200 Sunset Boulevard</p>
          <p>Suite 100</p>
          <p>West Hollywood CA 90069</p>
          <p>US</p>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__contact-info-name">
          Wade Wilson
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__contact-info-details">
          <p><i class="fas fa-phone fa-flip-horizontal"></i> (424)-244-7789</p>
          <p><i class="fas fa-envelope"></i> mrpool@sismaggies.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cmp-td-order-details__info-cards__card">
    <div class="cmp-td-order-details__info-cards__card__container">
      <h4 class="cmp-td-order-details__info-cards__card__container__label">Ship To</h4>
      <div class="cmp-td-order-details__info-cards__card__container__ship-to">
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__address-name">
          Sister Maggie's School
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__address-lines">
          <p>9200 Sunset Boulevard</p>
          <p>Suite 100</p>
          <p>West Hollywood CA 90069</p>
          <p>US</p>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__contact-info-name">
          Wade Wilson
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__contact-info-details">
          <p><i class="fas fa-phone fa-flip-horizontal"></i> (424)-244-7789</p>
          <p><i class="fas fa-envelope"></i> mrpool@sismaggies.com</p>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__ship-to__packaging">
          <p><i class="fas fa-check"></i> Blind Packaging Used</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cmp-td-order-details__info-cards__card">
    <div class="cmp-td-order-details__info-cards__card__container">
      <h4 class="cmp-td-order-details__info-cards__card__container__label">Payment</h4>
      <div class="cmp-td-order-details__info-cards__card__container__payment">
        <div class="cmp-td-order-details__info-cards__card__container__payment__line-item">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
          Subtotal
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            13.920.00
          </div>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__payment__line-item">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
            Subtotal
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            13,920.00
          </div>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__payment__line-item">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
            Tax
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            10.00
          </div>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__payment__line-item">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
            Freight
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            5,920.00
          </div>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__payment__total">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
            Subtotal
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            13.920.00
          </div>
        </div>
        <div class="cmp-td-order-details__info-cards__card__container__payment__line-item">
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__left">
            Terms:
          </div>
          <div class="cmp-td-order-details__info-cards__card__container__payment__line-item__right">
            30 Days Net 10
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- <div class="list cmp-list">
  <ul id="list-b5ec41c712" data-cmp-data-layer="{&quot;list-b5ec41c712&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:59:51Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Title</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-bd937d6b13&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:32Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-db5309eae3&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Social Sharing&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/social-sharing.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Social Sharing</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-611486886f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Separator&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/separator.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Separator</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-5cc306b231&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-05-29T15:04:39Z&quot;,&quot;dc:title&quot;:&quot;Progress Bar&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/progressbar.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Progress Bar</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-9f8160f4bd&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-06-18T11:25:34Z&quot;,&quot;dc:title&quot;:&quot;PDF Viewer&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/pdf-viewer.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">PDF Viewer</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-da73ac8b3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:40Z&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/list.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">List</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-849883059f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:39Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/experience-fragment.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Experience Fragment</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-12fc929c8a&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Embed&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/embed.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Embed</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-d911db0f45&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:36Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/download.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Download</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-f48a790a96&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:43Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment-list.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Content Fragment List</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-12f115629d&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:38Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Content Fragment</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-b5ec41c712-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
  </ul>
</div> -->