<div class="list cmp-list">
  <ul id="list-64bf657ac8" data-cmp-data-layer="{&quot;list-64bf657ac8&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-14T14:07:05Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-64bf657ac8-item-cf30385173&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Category Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/categorycarousel.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Category Carousel</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-64bf657ac8-item-b0a08e7237&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:28Z&quot;,&quot;dc:title&quot;:&quot;Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/carousel.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Carousel</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-64bf657ac8-item-a951b11a6c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productcarousel.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Product Carousel</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-64bf657ac8-item-9e0a26222d&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Related Products&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/relatedproducts.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Related Products</span>
      </article>
    </li>
  </ul>
</div>