<div class="list cmp-list cmp-list--teaser cmp-list--menu-grid-2">
  <ul id="list-071ec16d50" data-cmp-data-layer="{&quot;list-071ec16d50&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:56:13Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-bd937d6b13&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:32Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-d911db0f45&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:36Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/download.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-da73ac8b3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:40Z&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/list.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-849883059f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:39Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/experience-fragment.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-12f115629d&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:38Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-f48a790a96&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:43Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment-list.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-12fc929c8a&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Embed&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/embed.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-9f8160f4bd&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-06-18T11:25:34Z&quot;,&quot;dc:title&quot;:&quot;PDF Viewer&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/pdf-viewer.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://www.svgrepo.com/show/320085/d12.svg" /></figure>
          <span class="cmp-list__item-title">Title</span>
        </a>
      </article>
    </li>
  </ul>
</div>