@font-face {
    font-family: "MaterialIcons";
    font-display: swap;
    src: url("../resources/assets/fonts/material-icons.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}