
.status {
  display: flex;
}
.icon {
  display: flex;
  margin-top: rem(11px);
  margin-right: rem(5px);
}
.cmp-td-order-details {

  &__parent-container {
    background-color: #f6f6f6;
  }

  font-smooth: always;

  &__info-cards {
    display: flex;

    &__card {

      width:25%;
      padding: 2rem;
      min-height: rem(400px);

      &__container {
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        min-height: inherit;

        &__label {
          margin-top: rem(0);
          margin-bottom: rem(16px);
        }

        &__status-title {

        }
        &__status-body {
          display: flex;
          flex-direction: column;
          text-align: center;
          &__status-heading {
            padding-top: rem(16px);
            padding-bottom: rem(16px);
            font-weight: bold;
          }

          &__status-icon, &__status-icon-inprocess, &__status-icon-open, &__status-icon-shipped, &__status-icon-inreview, &__status-icon-cancelled {

            svg, .fas {
              border-radius: 50%;
              padding: rem(7px);
              width: rem(30px) !important;
              height: rem(30px);
            }
          }

          &__status-icon, &__status-icon-open, &__status-icon-inprocess, &__status-icon-shipped {
            svg, .fas {
              background-color: get-color(button-open);
              color: get-color(brand-white);
            }
          }


          &__status-icon-inreview {
            svg, .fas {
              background-color: get-color(brand-orange);
              color: get-color(td-dark-blue);
            }
          }

          &__status-icon-cancelled {
            svg, .fas {
              font-size: rem(25px);
              background-color: get-color(brand-white);
              color: get-color(brand-text-gray);
              padding: 0;
            }
          }
        }



        &__ship-to, &__end-user, &__payment {
        color : get-color(brand-text-gray);
        line-height: rem(24px);
        font-size: $font-size-custom-xxsmall;
           p {
             margin-top: rem(0);
             margin-bottom: rem(0);
           }
      }

        &__payment {
          flex-direction: row;

          &__line-item, &__total {
            display: flex;
            &__left {
              line-height: inherit;
              width: 50%;
              text-align: left;
            }

            &__right {
              line-height: inherit;
              width: 50%;
              text-align: right;
            }

            &__error {
              font-weight: bold;
            }
          }

          &__total {
            font-weight: bold;
            margin-top: rem(16px);
            border-top: rem(2px) solid get-color(black) ;
          }



        }

        &__ship-to, &__end-user {

          &__address-name {
            font-weight: bold;
          }

          &__contact-info-name {
            margin-top: rem(16px);
            font-weight: bold;
          }

          &__packaging {
            margin-top: rem(32px);
            font-weight: bold;
          }

        }
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: rem(16px);
    padding-right: rem(16px);

    

    &__details,
    &__status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      &--icon {
        background-color: transparent;
        font-size: 20px;
        margin-right: rem(-25px);
        z-index: 1;

        &:hover{
          cursor: pointer;
        }
      }

      div {
        padding: 0 rem(25px);
      }

      &__order-number {
        color: get-color(td-dark-blue);
        font-size: $font-size-custom-medium;
        font-weight: 700;
        position: relative;
      }

      &__open, &__cancelled, &__in-review, &__open-in-process, &__shipped {
        font-size: $font-size-small;
        padding: rem(7px) rem(10px);
        border: 0;
        font-weight: 600;
      }

      &__open, &__shipped, &__open-in-process {
        color: get-color(brand-white);
        background-color: get-color(button-open);
      }

      &__cancelled {
        color: get-color(brand-white);
        background-color: get-color(text-light-charcoal);
      }

      &__in-review {
        background-color: get-color(brand-orange);
        color: get-color(td-dark-blue);
      }

      &__error {
        color: get-color(brand-white);
        background-color: red;
      }


    }


    &__details {
      font-size: $font-size-xsmall;
      color: get-color(brand-text-gray);
    }

    &__status {
      font-size: $font-size-small;
      color: get-color(brand-button-blue);
      align-items: center;

      a {
        border-right: rem(1px) solid get-color(brand-light-gray2);
        text-decoration: none;
        color: get-color(brand-button-blue);
        padding-right: rem(24px);

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}
