.cmp-order-details-serial-numbers-modal {
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;

  &__info {
    font-size: $font-size-small;
    margin-bottom: 1.25rem;
    color: get-color(brand-text-gray);
  }

  &__line {
    align-items: flex-start;
    padding: 0.9375rem;
    text-align: left;
    font-size: $font-size-small;
    color: get-color(brand-text-gray);
    margin-bottom: 0.9375rem;
    background-color: get-color(td-lighter-gray);
  }
}
