<div data-observe-mutation>
  <div data-component="RenewalsDetails" data-cmp-type="react" class="cmp-renewals-details cmp-renewals-details__tds"></div>
</div>
<script>
  const renewalsDetailDom = document.querySelector("[data-component='RenewalsDetails']");
  const AEM_DATA = {
    agGridLicenseKey: 'CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79',
    shopDomainPage: 'https://shop.cstenet.com/products',
    uiServiceEndPoint: 'http://localhost:3000/ui-renewal/v1/Details',
    exportPDFRenewalsEndpoint: 'http://localhost:3000/ui-export/v1/downloadRenewalQuotePdf',
    shopURL: 'https://shop.cstenet.com/renewals',
    updateRenewalOrderEndpoint: 'http://localhost:3000/ui-renewal/v1/Update',
    getStatusEndpoint: 'http://localhost:3000/ui-renewal/v1/getStatus',
    orderRenewalEndpoint: 'http://localhost:3000/ui-renewal/v1/order',
    enableReviseOption: true,
    lineItemDetailLabels: {
      serialNumberLabel: 'Serial  Number',
      supportLevelLabel: 'Support Level',
      instanceLabel: 'Instancenew:',
      dueDateLabel: 'Due Date:',
      durationLabel: 'Duration:',
      usagePeriodLabel: 'Usage:',
    },
    productLines: {
      line: 'Line',
      lineItemDetailsLabel: 'Line Check',
      lineActiveLicenceLabel: 'Active Licence',
      lineRenewalDetailsLabel: 'Renewal Details New',
      downloadPDFLabel: 'Download PDF',
      showDownloadPDFButton: true,
      downloadXLSLabel: ' ',
      showDownloadXLSButton: true,
      productfamily: 'Product family',
      productdescription: 'Product description',
      disableProductDetailsLink: true,
      enableActiveLicence: 'true',
      vendorPartNo: 'Vendor part N0 see',
      unitPrice: 'Unit price\r\n({currency-code})',
      listPrice: 'List price\r\n({currency-code})',
      percentOffListPrice: '% off list\r\nprice',
      totalPrice: 'Total\r\n({currency-code})',
      quantity: 'Quantity',
      quoteSubtotal: 'Quote Subtotal:',
      quoteSubtotalCurrency: '{currency-code}',
      quoteTextForFileName: 'quotehelp',
      note: '<p>Note: Pricing displayed is subject to vendor price changes and exchange rate fluctuations. <b>Taxes are not included.</b></p>\r\n',
      migrationNote: 'Note: Pricing displayed is subject to vendor price changes and exchange rate fluctuations. Adobe: price displayed in migration quotes is for reference purpose only. VIP and VIP MP Renewals pricing will differ.',
      adobeNote: 'Please note that pricing is subject to change and is only valid in the same calendar month that this quote has been supplied. The vendor retains rights to implement pricing changes at the start of each month.',
      yourOrderFor: 'Your order for',
      hasBeenSuccessfullySubmittedForProcessing: 'has been successfully submitted for processing.',
      menuCopy: 'Copy',
      menuCopyWithHeaders: 'Copy with headers',
      menuExport: 'Export',
      menuCsvExport: 'CSV',
      menuExcelExport: 'XLS',
      menuOpenLink: 'Open in new tab',
      menuCopyLink: 'Copy URL',
    },
    quotePreview: {
      renewalsUrl: 'http://localhost:8080/renewals-grid.html',
      addressesEndpoint: 'http://localhost:3000/ui-renewal/v1/getAddresses',
      renewalsUrlLabel: 'Back to all Renewals',
      quotePreviewlabel: 'Quote Preview',
      quoteOpportunityRequestLabel: 'Request Quote',
      quoteOpportunityText: 'This is an opportunity and some details are missing. Click Request quote to be contacted by your TechData representative with more detials.',
      reseller: {
        resellerLabel: 'Reseller',
        resellerVendorAccountNoLabel: 'Reseller vendor account No:',
        accountNoLabel: 'Account No:',
        previousPurchaseOrderNoLabel: 'Previous purchase order No:',
        resellerSAPaccNoLabel: 'Account Nº:',
        previousResellerorderNoLabel: 'Previous Reseller order number',
        typeEndUserLabel: 'Type of end user',
        vendorAccountNoResLabel: 'Reseller vendor account No:',
        previousPurchaseOrderNoEndLabel: 'Previous purchase order No:',
        previousOrderNoLabel: 'Previous order number',
        shipToLabel: 'SOLD-TO ADDRESS',
        paymentTerms: 'Payment Terms',
        shipToEditLabel: 'Ship-to address',
      },
      productLines: {
        endCustomerLabel: 'End Customer',
        emailLabel: 'Email:',
        phoneLabel: 'Phone:',
        endCustomerType: 'End customer type:',
        vendorAccountNo: 'Vendor account No:',
        endCustpreviousPurchaseOrderNo: 'Previous purchase order No:',
      },
      agreementInfo: {
        disableMultipleAgreement: false,
        agreementInfoLabel: 'Agreement ',
        programLabel: 'Program:',
        termLabel: 'TErm',
        supportLevelLabel: 'Support level:',
        quoteNo: 'Quote Nº',
        agreementNoLabel: 'Agreement Nº:',
        vendorQuoteId: 'Vendor quote ID',
        dueDateLabel: 'Due date',
        quoteExpiryDateLabel: 'Quote expiry date:',
        duration: 'Duration',
        usageDuration: 'Usage Duration',
      },
    },
    errorMessages: {
      notFoundErrorMessage: 'The renewal details cannot be found.',
      unexpectedErrorMessage: 'An unexpected error occurred.',
      errorLoadingPageTitle: 'Renewal details',
      errorLoadingPageRedirect: 'https://duckduckgo.com/',
    },
    orderingFromDashboard: {
      showOrderingIcon: true,
      placeOrderDialogTitle: 'To continue placing your order for ({enduser-companyname}) please provide the following information.',
      termsAndConditions: 'I have read and accept Terms & Conditions',
      termsAndConditionsLink: 'https://www.techdata.com/content/visitor/abouttd/conditions.aspx',
      successSubmission: 'Your order has been successfully submitted for processing. You will receive an email once processing is complete',
      failedSubmission: 'Please try again. If the error persists please contact us at ({email})',
    },
    quoteEditing: {
      cancelDialogDescription: 'Are you sure you would like to cancel? Your changes will not be saved.',
      successUpdate: 'Changes have been successfully saved.',
      failedUpdate: 'Please try again. If error persists please contact us at {email}',
      orderButtonLabel: 'Order',
      saveAndOrderButtonLabel: 'Save and order',
    },
    searchResultsError: {
      noResultsTitle: 'No Results Found',
      noResultsDescription: 'There are no results for your search criteria. Adjust your search and filter choices to improve results.',
      noResultsImage: '/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png',
      noDataTitle: 'No Results Found',
      noDataDescription: 'There are no active renewals quotes at this time.',
      noDataImage: '/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png',
    },
    copyFlyout: {
      title: 'Copy',
      description: 'Select the reseller to whom you want to copy the renewal. If the account does not have the correct accreditation, it does not appear in the list.',
      resellerAccountLabel: 'Reseller account № or name',
      searchLabel: 'Search',
      searchPlaceholder: 'Search by account number',
      selectedAccountLabel: 'Selected Account',
      accountNumberLabel: 'Account number:',
      accountNameLabel: 'Account Name:',
      cityLabel: 'City:',
      permissionsWarning: 'Ensure you have the appropriate permissions before copying this quote to another customer. It contains sensitive contact and commercial information. If you have any doubt please speak with you manager.',
      unknownError: 'Unknown error has occurred. Please try again.',
      quoteExistsError: 'Quote exists, please try again with another account.',
      accountDoesntExistError: "Account doesn't exist!",
      copySuccessMessage: 'Copy quote successfully requested. You will receive an email when new quote is ready.',
      copyFailureMessage: 'Your quote failed to copy. Open a ticket for further investigation.',
      button: 'Copy',
      accountLookUpEndpoint: 'http://localhost:3000/ui-renewal/v1/AccountLookUp?SearchInput={reseller-id}',
      checkQuoteExitsforResellerEndpoint: 'http://localhost:3000/ui-renewal/v1/SearchCheck?ResellerId={reseller-id}&WithPaginationInfo=true&ContractID={agreement-number}',
      copyQuoteEndpoint: 'http://localhost:3000/ui-renewal/v1/CopyQuote',
    },
    shareFlyout: {
      shareFlyoutTitle: 'Share',
      shareFlyoutDescription: 'Input the emails of whom you would like to share this quote with, and any additional comments you would like to add to the email.',
      emailPreviewDescription: 'Email Preview :',
      shareFlyoutQuoteButtonLabel: 'View quote',
      shareFlyoutCommentCountText: 'Characters left',
      shareFlyoutCommentCount: '500',
      shareFlyoutSignatureLabel: 'Kindlyregards',
      requiredText: 'This field is required',
      shareFlyoutCommentsLabel: 'Add any additional comments',
      shareFlyoutQuoteDescription: 'View quotes related to this agreement along with any applicable upsell options. Use the Revise Quote option from the dashboard menu to send a member of our team a message if you require any further assistance.',
      emailToLabel: 'Email:',
      emailCCLabel: 'CC:',
      shareFlyoutButtonLabel: 'shareButton',
      shareFlyoutButtonSharingLabel: 'Sharing loading',
      shareFailedLabel: 'Share Failed',
      shareFailedDescription: 'FAiled descriptiom',
      shareFailedCancelLabel: 'Cancel',
      shareFailedTryAgainLabel: 'TRy again',
      incorrectEmailLabel: 'Incorrecr email',
      incorrectEmailDescription: 'incorrect email descriotiom',
      incorrectEmailCancelLabel: 'incorrectemail email cancel',
      incorrectEmailTryAgainLabel: 'incorrectemail try gain',
      recipientNotFoundLabel: 'receipt not found',
      recipientNotFoundDescription: ' descritiom',
      recipientNotFoundCancelLabel: 'recipient Not Found  Cancel',
      recipientNotFoundContinueLabel: 'recipient Not Found  continue',
      shareQuoteEndpoint: 'http://localhost:3000/ui-renewal/v1/ShareQuoteEmail',
      shareSuccessMessage: 'Shre success msg',
    },
    requestQuote: {
      requestQuoteHeading: 'Request quote',
      requestQuoteDescription: 'After creating the quote, you will receive an email from our sales team. This process can take 24 - 48 hours.',
      additionalInformationLabel: 'Additional information request',
      additionalInformationPlaceholderText: 'Type any additional information you would like to receive',
      requestQuoteCommentCountText: 'MAx 300 text ',
      requestQuoteCommentCount: '300',
      requestQuoteButtonLabel: 'Label',
      successToastMessage: 'Suceess Message',
      errorToastMessage: 'Error message',
      quoteRequestedMessage: 'quoted Requested',
    },
    revisionFlyout: {
      requestRevisionHeading: 'Request revision',
      requestRevisionDescription: 'After creating the quote, you will receive an email from our sales team. This process can take 24 - 48 hours.',
      additionalInformationLabel: 'Additional information request',
      additionalInformationPlaceholderText: 'Type any additional information you would like to receive',
      requestRevisionCommentCountText: 'Max 500 text ',
      requestRevisionCommentCount: '500',
      requestRevisionButtonLabel: 'Label',
      successToastMessage: 'Suceess Message',
      errorToastMessage: 'Error message',
      revisionRequestedMessage: 'quoted Requested',
    },
    updateRenewalOrderEndpoint: 'http://localhost:3000/ui-renewal/v1/Update',
    getStatusEndpoint: 'http://localhost:3000/ui-renewal/v1/getStatus',
    orderRenewalEndpoint: 'http://localhost:3000/ui-renewal/v1/order',
    exportXLSRenewalsEndpoint: 'http://localhost:3000/ui-export/v1/downloadRenewalQuoteDetails',
    hideCopyHeaderOption: false,
    hideExportOption: false,
    enableShareOption: true,
    enableRequestQuote: true,
    menuCopy: 'Copy',
    menuCopyWithHeaders: 'Copy with headers',
    menuExport: 'Export',
  };
  renewalsDetailDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
