<div data-observe-mutation>
    <div
        data-component="RenewalsDetails"
        data-cmp-type="react"
        className="cmp-renewals-details"
        data-config='{
            "uiServiceEndPoint": "http://localhost:3000/ui-renewal/v1/Details",
            "agGridLicenseKey":"ThisIsAnInvalidAgGridLicenseKey",
            "productLines": {
                "label": "Details",
                "pdf": "Download PDF",
                "xls": "Download XLS",
                "columnList":[
                    {"columnLabel":"Line","columnKey":"id", "sortable": false},
                    {"columnLabel":"Product family","columnKey":"vendorPartNo", "sortable": false},
                    {"columnLabel":"Product details","columnKey":"shortDescription", "sortable": false},
                    {"columnLabel":"Mfr. part №","columnKey":"mfrNumber", "sortable": false},
                    {"columnLabel":"Unit price (USD)","columnKey":"unitPrice", "sortable": false},
                    {"columnLabel":"Quantity","columnKey":"quantity", "sortable": false},
                    {"columnLabel":"Total (USD)","columnKey":"totalPrice", "sortable": false}
                ]
            },
            "quotePreview": {
                "quotePreviewlabel": "Quote Preview",
                "resellerVendorAccountNoLabel": "Reseller Vendor Account No:",
                "reseller": {
                  "resellerLabel": "Reseller",
                  "accountNoLabel": "Account No:",
                  "previousPurchaseOrderNoLabel": "Previous Purchase Order No:",
                  "resellerSAPaccNoLabel": "Reseller SAP account number",
                  "previousResellerorderNoLabel": "Previous Reseller Order Number",
                  "typeEndUserLabel": "Type of End User",
                  "vendorAccountNoResLabel": "Vendor account No",
                  "previousPurchaseOrderNoEndLabel": "Previous Purchase Order Number",
                  "previousOrderNoLabel": "Previous Order Number"
                },
                "productLines": {
                  "endCustomerLabel": "End Customer",
                  "emailLabel": "Email:",
                  "phoneLabel": "Phone:",
                  "endCustomerType": "End Customer Type:",
                  "vendorAccountNo": "Vendor Account No:",
                  "endCustpreviousPurchaseOrderNo": "Previous Purchase Order No:"
                },
                "agreementInfo": {
                  "agreementInfoLabel": "Agreement Information",
                  "programLabel": "Program:",
                  "durationLabel": "Duration:",
                  "supportLevelLabel": "Support Level:",
                  "distiQuoteNoLabel": "Disti. Quote No:",
                  "distiQuoteIDLabel": "Disti Quote ID",
                  "agreementNoLabel": "Agreement No:",
                  "distiQuoteLabel": "Disti. Quote:",
                  "quotedueDateLabel": "Quote Due Date:",
                  "agreeStartDateLabel": "Agree Start Date:",
                  "agreeEndDateLabel": "Agree End Date :",
                  "usageStartDateLabel": "Usage Start Date:",
                  "usageEndDateLabel": "Usage End Date:"
                }
              }
        }'
    ></div>
</div>
