
<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
    <div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>

<div id="MyRenewals" data-observe-mutation>
    <div data-component="MyQuotes" data-cmp-type="react" className="MyQuotes" data-config='{"label" : "${properties.label @ i18n}","labelConverted" : "${properties.labelConverted @ i18n}","labelOpen" : "${properties.labelOpen @ i18n}","labelQuoteToOrder" : "${properties.labelQuoteToOrder @ i18n}","labelActiveQuoteValue" : "${properties.labelActiveQuoteValue @ i18n}","uiServiceEndPoint": "${properties.uiServiceEndPoint}"}'>
    </div>
</div>


