<div class="cmp-teaser hero-style-3">
  <div class="teaser container-">
    <div id="teaser-61035a52f1" class="cmp-teaser">
      <div class="cmp-teaser__content">
        <h1 class="cmp-teaser__title float-l">
          Hyperconverged Infrastructure (HCI)
          <div class="cmp-buttons__plus white float-l"></div>
        </h1>
        <div class="cmp-teaser__description">
          Cisco HyperFlex. Extending the simplicity of hyperconvergence from
          core to edge and multicloud.
        </div>
        <div class="cmp-teaser__action-container"></div>
      </div>
    </div>
  </div>
</div>