<div class="cmp-teaser hero-style-4 cmp-text-color--onDark-theme">
  <div class="teaser container">
    <div id="teaser-61035a52f1" class="cmp-teaser">
      <div class="cmp-teaser__image">
        <img src="/content/techdata/language-masters/ondra---test-homepage/about-us/_jcr_content/root/container/teaser.coreimg.jpeg/1619014068131/carousel1.jpeg" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image" alt="tech data carousel image" title="Connect With Power">
        <meta itemprop="caption" content="Connect With Power">
      </div>
      <div class="cmp-teaser__content d-flex">
        <div class="cmp-teaser__title">
          About Us:&nbsp;&nbsp;&nbsp;A Closer Look at <br>
          What Makes Us Tech Data</div>
        <div class="cmp-teaser__description">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
          occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga.
        </div>
      </div>
    </div>
  </div>
</div>
