<div class="hero-style-2">
  <div class="teaser container">
    <div id="teaser-61035a52f1" class="cmp-teaser">
      <div class="cmp-teaser__content">
        <h1 class="cmp-teaser__title">
          Power Your Cloud Business
          <div class="cmp-buttons__plus blue"></div>
        </h1>

        <div class="cmp-teaser__description">
          <p>
            Leverage Tech Data's StreamOne platform to create a customer
            experience that matches your business model
          </p>
        </div>
      </div>
    </div>
  </div>
</div>