.table_box {
  margin: 1cm;
  padding: 5px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
}

.box div, .box ul {
  float: right;
}

.box button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.box button.color_page {
  background: #337ab7;
  color: #fff;
}
