<div id="WhitelabelExportConfiguration" data-observe-mutation style="width: 450px;margin: 0 auto;">
    <div
        data-component="WhitelabelExportConfiguration"
        data-cmp-type="react"
        className="cmp-whiltelabelexportconfig"
        data-config='{
            "title": "Create a quote for your end user",
            "subtitle": "Items to include on quote:",
            "items": [
                { "key":"1", "value":"Your logo"},
                { "key":"2", "value":"Product images"},
                { "key":"3", "value":"Part number- manufacturer"},
                { "key":"4", "value":"Part number- Tech data"},
                { "key":"5", "value":"UPC number"},
                { "key":"6", "value":"MSRP"}
            ]
        }'
    ></div>
</div>
