@use "sass:map";

.dropdownbutton {
  position: relative;
  display: inline-block;
  width: auto !important;

  .cmp-button {
    color: black;
    padding: 16px 0;
    margin: 0 16px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    &__icon {
      @include font-awesome-custom-icon;
      font-family: 'FontAwesome' !important;
      vertical-align: middle;
    }

    &__text {
      vertical-align: ;
    }
    &__dropdown {
      display: none;
      border-top: 3px solid var(--teal, map.get($color-palette, 'teal'));
      position: absolute;
      top: 60px;
      background-color: var(--brilliant, map.get($color-palette, 'brilliant'));
      width: 12.0625rem;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 14px;
    }
    &__dropdown {
      &.show {
        display: block;
      }
    }
    &__dropdown a {
      color: var(--charcoal, map.get($color-palette, 'charcoal'));
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: map.get($color-palette, 'neutral-gray-2');
      }
    }
  }
}
