<div
  class="teaser cmp-three-teasers-apac aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--default--3 aem-GridColumn--offset--default--0"
>
  <div id="teaser-0fda3b130e" class="cmp-teaser">
    <div class="cmp-teaser__image">
      <div
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/techdata/americas/us/en/_jcr_content/root/container/container_981266119/container/teaser_copy.coreimg{.width}.png/1643028360834/image-home-services-dataanalytics.png"
        data-asset="/content/dam/techdata/language-masters/americas/english/homepage-content/homepage/services/Image_Home_Services_DataAnalytics.png"
        data-title="Data analytics &amp; IoT"
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
        id="image-0fda3b130e"
        data-cmp-clickable=""
      >
        <a
          class="cmp-image__link"
          href="/content/techdata/americas/us/en/services/build-my-practice/data-analytics-iot.html"
          data-cmp-hook-image="link"
        >
          <img
            src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
            class="cmp-image__image not svg"
            itemprop="contentUrl"
            data-cmp-hook-image="image"
            alt="undefined alt"
          />
        </a>
      </div>
    </div>

    <div
      class="cmp-teaser__content"
      data-title="Data analytics &amp; IoT"
      data-cmp-clickable=""
    >
      <!-- Render if overlay SVG is configured -->

      <h3 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          href="/content/techdata/americas/us/en/services/build-my-practice/data-analytics-iot.html"
          data-cmp-clickable=""
        >
          Center of Excellence
          <span class="cmp-buttons__plus"> </span>
        </a>
      </h3>

      <a
        class="cmp-teaser__desc-link"
        href="/content/techdata/americas/us/en/services/build-my-practice/data-analytics-iot.html"
      >
        <div class="cmp-teaser__description">
          <p>
            Digital Transformation enables new business models as organizations move from purchasing silo IT products to comprehensive IT solutions to meet their business goals. Tech Data provides an adaptive virtual lab environment built for the channel ecosystem. 
          </p>
          <p>
            Our Center of Excellence (CoE) provides a suite of ready-built and tested solution offerings to leverage to help innovation, drive agility, and accelerate success and speed to market.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
