<!-- LIGHT THEME -->
<section class="cmp-triptych-teaser">
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-light">
        People
      </div>
    </div>
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-light">
        Planet
      </div>
    </div>
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-light">
        Progress
      </div>
    </div>
  </section>
  
  <!-- DARK THEME -->
  <section class="cmp-triptych-teaser">
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-dark">
        People
      </div>
    </div>
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-dark">
        Planet
      </div>
    </div>
    <div class="cmp-triptych-teaser__card">
      <img />
      <div class="cmp-triptych-teaser__card--title-dark">
        Progress
      </div>
    </div>
  </section>