<!-- LIGHT THEME -->
<div class="cmp-light-theme">
  <div class="cmp-teaser">
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Light Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Dark Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Progress
        </div>
      </div>
    </div>
  </div>

<!-- DARK THEME -->
<div class="cmp-dark-theme">
  <div class="cmp-teaser">
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Light Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Dark Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title">
          Progress
        </div>
      </div>
    </div>
  </div>