<!-- LIGHT THEME -->
<div class="cmp-triptych-teaser">
  <div class="cmp-teaser">
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title--dark">
          Light Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title--light">
          Dark Theme
        </div>
      </div>
      <div class="cmp-teaser__content">
        <img />
        <div class="cmp-teaser__title--light">
          Progress
        </div>
      </div>
    </div>
  </div>
