<div class="aem-Grid aem-Grid--12">
    <a class="cmp-regions-modal" href="#regions-modal">
        click
    </a>
    <div class="cmp-regions-modal-target" id="regions-modal">
        <div class="cmp-regions-modal-wrap">
            <a class="cmp-regions-modal-close" href="#"><a>
                    <!-- Temporary CLOSE option above -->

                    <div class="cmp-region-list">
                        <div class="aem-GridColumn aem-GridColumn--default--3 americas">
                            <div class="cmp-region-list__title">AMERICAS</div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Brazil
                                </span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Canada
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#">English</a> | <a href="#" lang="fr">Français</a>
                                </span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Mexico
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#" lang="es">Español</a> | <a href="#">English</a>
                                </span>

                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    United States
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#">English</a> | <a href="#" lang="es">Español</a>
                                </span>
                            </div>
                        </div>


                        <div class="aem-GridColumn aem-GridColumn--default--6 europe">
                            <div class="cmp-region-list__title eu">EUROPE</div>
                            <div class="d-flex__column vx-divider">
                                <div class="aem-GridColumn aem-GridColumn--default--3">
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Belgium
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="fr-BE">België</a> | <a href="#">Belgique</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Denmark</div>
                                    <div class="cmp-region-list__countries">Finland</div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            France
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="fr">Français</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Germany
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Deutsche</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Ireland</div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Italy
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Italiano</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">Netherlands</div>
                                </div>
                                <div class="aem-GridColumn aem-GridColumn--default--3">
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Norway
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Poland
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Polska</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Portugal
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="pt-PT">Português</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Russia
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="ru">Россия</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Spain
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#" lang="es">Español</a> | <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Sweden
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">
                                        <span class="cmp-region-list__countries-name">
                                            Switzerland
                                        </span>
                                        <span class="cmp-region-list__language">
                                            <a href="#">Schweiz</a> |
                                            <a href="#">Suisse</a> |
                                            <a href="#">Svizzero</a> |
                                            <a href="#">Rumantsch</a>
                                        </span>
                                    </div>
                                    <div class="cmp-region-list__countries">United Kingdom</div>
                                </div>
                            </div>
                        </div>


                        <div class="aem-GridColumn aem-GridColumn--default--3 asia">
                            <div class="cmp-region-list__title">ASIA PACIFIC</div>
                            <div class="cmp-region-list__countries">Australia</div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    China
                                </span>
                                <span class="cmp-region-list__language">
                                    <a href="#" lang="zh-Hans">中国大陆</a> | <a href="#">English</a>
                                </span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Hong Kong
                                </span>
                                <span class="cmp-region-list__language"><a href="#" lang="zh-HK">香港</a> | <a
                                        href="#">English</a></span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Indonesia
                                </span>
                                <span class="cmp-region-list__language"><a href="#" lang="id">日本</a> | <a
                                        href="#">English</a></span>
                            </div>
                            <div class="cmp-region-list__countries">
                                <span class="cmp-region-list__countries-name">
                                    Singapore
                                </span>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

</div>