#cmp-techdata-header {
    &.cmp-container {
        .megamenu {
            @include tablet {
                display: none;
            }
        }
    }

    &.cmp-experiencefragment--header-mobile.cmp-container {
        .megamenu {
            display: none;
            height: 100vh;
            left: 0;
            position: fixed;
            top: rem(44px);
            width: 100%;

            &--open.aem-GridColumn {
                display: block;
                width: 100%;
                float: unset;
                margin: unset;
            }
        }

        .cmp-megamenu {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #707070;
            height: 100%;
            overflow-y: auto;
            padding: rem(0 15px);
            position: relative;

            &__body {
                background-color: get-color(brand-white);
                border: 1px solid #707070;
                display: flex;
                flex-direction: column;
                margin: auto;
                max-height: 100%;
                padding: rem(30px);
                padding-top: 0;
                position: absolute;
                width: 100%;
                max-width: rem(310px);
                overflow-x: hidden;
                overflow-y: auto;
                // disable scrollbar, but retain scroll.
                &::-webkit-scrollbar {
                    width: 0;
                }
                // disable scrollbar for other browsers - not tested
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;
            }

            &__primary {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: rem(12px 0);

                    &:after {
                        content: '\f054';
                        font-family: 'Font Awesome 5 Free';
                        font-size: rem(16px);
                        font-weight: 900;
                        color: get-color(border-lighter-gray);
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }

        .cmp-megamenu2 {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #707070;
            height: 100%;
            overflow-y: auto;
            padding: rem(0 15px);
            position: relative;

            &__body {
                background-color: get-color(brand-white);
                border: 1px solid #707070;
                display: flex;
                flex-direction: column;
                margin: auto;
                max-height: 100%;
                padding: rem(30px);
                padding-top: 0;
                position: absolute;
                width: 100%;
                max-width: rem(310px);
                overflow-x: hidden;
                overflow-y: auto;
                // disable scrollbar, but retain scroll.
                &::-webkit-scrollbar {
                    width: 0;
                }
                // disable scrollbar for other browsers - not tested
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;
            }

            &__primary {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: rem(12px 0);

                    &:after {
                        content: '\f054';
                        font-family: 'Font Awesome 5 Free';
                        font-size: rem(16px);
                        font-weight: 900;
                        color: get-color(border-lighter-gray);
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
}
