<div id="SearchBar" data-observe-mutation style="width: 450px;margin: 0 auto;">
	<div
		data-component="SearchBar"
		data-cmp-type="react"
		className="cmp-searchbar"
		data-config='{"typeAheadSearchEndpoint":"undefined","areaList":[{"area":"all","endpoint":"/searchall?b=1&kw={search-term}","areaLabel":"Search in All Categories"},{"area":"product","endpoint":"/searchall?b=1&kw={search-term}","areaLabel":"Search in Products"},{"area":"content","endpoint":"/searchall?b=1&kw={search-term}#contentSearchTab","areaLabel":"Search in Content"}],"id":"aaa","placeholder":"Find brands, products, services, and solutions..."}'
	></div>
</div>
