<div id="SearchBar" data-observe-mutation style="width: 450px;margin: 0 auto;">
	<div
		data-component="SearchBar"
		data-cmp-type="react"
		className="cmp-searchbar"
		data-config='{
			"uiServiceDomain":"http://localhost:3000",
			"typeAheadDomain":"http://localhost:3000/typeahead?keyword={search-term}&searchApplication=shop",
			"searchDomain":"https://shop.cstenet.com",
			"areaList":[
				{
					"area":"product","areaSuggestionUrl":"/searchall?kw={search-term}&pks=1&pksi={suggestion-index}",
					"endpoint":"/searchall?b=1&kw={search-term}",
					"areaLabel":"Search in Products"
				},
				{
					"area":"content",
					"areaSuggestionUrl":"/searchall?kw={search-term}&pks=1&pksi={suggestion-index}#contentSearchTab",
					"endpoint":"/searchall?b=1&kw={search-term}#contentSearchTab",
					"areaLabel":"Search in Content"
				},
				{
					"area":"quote","areaSuggestionUrl":"undefined",
					"endpoint":"/quotes/0?quoteType=null&quoteId={search-term}",
					"areaLabel":"Search in Quotes",
					"dcpLookupEndpoint": "/ui-commerce/v1/quote",
					"detailsPage": "/dcp/quotes/quote-detail.html",
					"dcpSearchPage": "/content/techdata/language-masters/en/products"
				},
				{
					"area":"order","areaSuggestionUrl":"undefined",
					"endpoint":"/orderv2/search/results?kw={search-term}&pks=1&TwelveMonthSearch=false",
					"areaLabel":"Search in Orders",
					"detailsPage": "/dcp/orders/order-details.html",
					"dcpLookupEndpoint": "/searchbar/orders",
					"dcpSearchPage": "/content/techdata/language-masters"
				},
				{
					"area":"spa",
					"areaSuggestionUrl":"undefined",
					"endpoint":"/spa/search/results?uantb={search-term}&pks=1",
					"areaLabel":"Search in SPA"
				}
			],
			"id":"searchBarId",
			"placeholder":"Find brands, products, services, and solutions..."}'
	></div>
</div>
