/* stylelint-disable -- Too much to fix, will delete file later. */
.hub {
  position: relative;
  display: inline-block;
  width: auto !important;
  z-index: 99;

  .cmp-button {
    color: black;
    padding: 16px 0;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    &__icon {
      @include font-awesome-custom-icon;
      font-family: 'FontAwesome' !important;
      vertical-align: middle;
    }
    &__dropdown {
      display: none;
      border-top: 3px solid var(--teal, map-get($color-palette, 'teal'));
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: map-get($color-palette, 'brilliant');
      width: 12.0625rem;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 999;
      @include tablet {
        position: fixed;
        top: 50px;
      }
    }
    &__dropdown {
      &.show {
        display: block;
      }
    }
    &__dropdown a {
      color: var(--charcoal, map-get($color-palette, 'charcoal'));
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: map-get($color-palette, 'neutral-gray-2');
      }
    }
  }
}
.techdata-header-style .hub {
  .cmp-button__dropdown {
    a {
      &:hover {
        background-color: #e4e5e6;
      }
      &:active,
      &:focus {
        background-color: #000c21;
        color: white;
      }
    }
  }
}

#cmp-techdata-header {
  &.cmp-experiencefragment--header-mobile.cmp-container {
    &.cmp-tds-site-header {
      .hub .cmp-button .cmp-button__icon {
        margin-right: 8px;
        width: 20px;
      }
      .hub .cmp-button {
        padding: 10px 0;
      }
      &.hub-menu-active {
        .hub .cmp-button {
          position: relative;
          padding: 0;
          margin: 0 2px;
        }

        .headerutility .headerutility,
        .megamenu,
        .headerutility .headerutility.button {
          display: none;
        }

        .headerutility .headerutility.hub {
          display: block;
          position: relative;
        }

        .header-active.cmp-container .masthead {
          display: none;
        }

        .hub .cmp-button__dropdown {
          &.show {
            background-color: map-get($color-palette, 'teal');
            z-index: 9999;
            box-shadow: none;
            padding: 10px;
            max-width: none;
            color: map-get($color-palette, 'brilliant');
            position: absolute;
            left: -32px;
            right: 0;
            width: 12.0625rem;
            border-top: 1px solid #fff;
            margin: 0 1pc;
            top: 56px;
          }

          a {
            color: white;
            font-size: 16px;
            line-height: 36px;
            padding: 5px 12px;
          }
        }
      }
    }
  }
}
