.cmp-filmstrip-carousel {
  width: 45rem;
  padding: 0 2.5rem;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    color: get-color(brand-blue);
    font-weight: normal;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__cards {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    &--card {
      width: 10.75rem;
      height: 16.875rem;
      margin-top: 1.5625rem;
      margin-bottom: 1.5625rem;
      background-color: get-color(brand-white);
      box-shadow: 0.125rem 0.125rem 0.25rem 0 get-color(box-shadow);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &img {
        width: 100%;
        height: 10.625rem;
      }

      &--name {
        width: 100%;
        height: 2.1875rem;
        color: get-color(brand-white);
        background-color: get-color(brand-blue);
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--position {
        font-size: $font-size-xsmall;
        line-height: 0.875rem;
        text-align: center;
        padding: 0.9375rem 0.3125rem 0.5rem;
        height: 65px;
      }
    }
  }

  ol {
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 50%;
    justify-content: space-between;
    flex-direction: row;
  }
}

.cmp-filmstrip-slider {
  width: 40rem;
  height: 19.0625rem;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 1.25rem;
  width: auto !important;
  a {
    text-decoration: none !important;
    color: unset;
  }
  img {
    display: block;
    width: 100%;
    height: 10.625rem;
    border: 0 solid transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.slick-track {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  a {
    text-decoration: none !important;
    img {
      display: block;
      width: 100%;
      height: 10.625rem;
      border: 0 solid transparent;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}

.slick-dots {
  li {
    margin: 0 !important;
    button {
      &:before {
        font-family: 'Font Awesome 5 Free' !important;
        font-size: 0.625rem !important;
        border: solid 0.0625rem get-color(text-light-charcoal) !important;
        border-radius: 50% !important;
        line-height: 0.625rem !important;
        width: 0.625rem !important;
        height: 0.625rem !important;
        opacity: unset !important;
        color: transparent !important;
      }
      &:hover::before {
        border: solid 0 get-color(text-light-charcoal) !important;
        line-height: 0.875rem !important;
        opacity: unset !important;
        color: transparent !important;
        top: -0.001375rem !important;
        box-shadow: inset 0 0 0 0.4375rem get-color(brand-blue) !important;
        width: 0.625rem !important;
        height: 0.625rem !important;
      }
    }
    &.slick-active {
      button {
        &:before {
          border: solid 0 get-color(text-light-charcoal) !important;
          line-height: 0.875rem !important;
          opacity: unset !important;
          color: transparent !important;
          top: -0.001375rem !important;
          box-shadow: inset 0 0 0 0.4375rem get-color(brand-blue) !important;
          width: 0.625rem !important;
          height: 0.625rem !important;
        }
      }
    }
  }
}
