.cmp-article-list{

  .cmp-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .cmp-list__item{
    position: relative;
    width: 30%;
    margin-bottom: rem(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cmp-list__item-title{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,12,33,0.6);
    color: get-color(brand-white);
    font-size: rem(13px);
    line-height: rem(18px);
    padding: rem(18px) rem(5px) rem(12px) rem(11px);
    span{
      word-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .cmp-image__image-figure{
    padding: 0;
    margin: 0;
  }
  .cmp-image__image{
    width: 100%;
  }
  .cmp-article-list__header{
    display: flex;
    align-items: center;
    margin-bottom: rem(30px);
  }
  .cmp-article-list__header-title{
    font-size: rem(24px);
    margin: 0;
  }
  .cmp-article-list__header-separator{
    flex: 1;
  }
  .cmp-article-list__header-link{
    font-size: rem(14px);
    color: get-color(secondary-dark-grey);
    text-decoration: none;
    i{
      vertical-align: middle;
      padding-left: rem(8px);
    }
  }

  &--list-view{
    .cmp-list__item-description{
        display: none;
    }
    .cmp-list__item{
        box-shadow: 0 0 0 rem(1px)  get-color(secondary-light-grey);
        margin-bottom: rem(18px);
        margin-left: rem(25px);
        margin-right: rem(25px);
        &.list-vew {
         height: rem(110px);
        }
    }
    .cmp-image__image-figure {
        width: rem(195px);
        height: rem(110px);
        margin: 0;
        display: inline-block;
    }
    .cmp-list__item-info{
        display: flex;
        flex-direction: column;
        padding: rem(10px) rem(24px);
        line-height: rem(24px);
    }
    .cmp-list__item-link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .cmp-list__item-date{
        font-size: rem(12px);
        color: get-color(brand-text-gray);
    }
    .cmp-list__item-viewmore{
        font-size: rem(14px);
        font-weight: 400;
        color: get-color(brand-text-gray);
    }
    .cmp-list__item-title{
        font-size: rem(20px);
        color: get-color(brand-blue);
    }
    .cmp-image__image{
        max-width: 100%;
        max-height: 100%;
    }
}

  &--fixed-items{
    .cmp-list__item{
      width: rem(170px);
      height: rem(170px);
    }
  }
}
