<div class="cmp-article-list cmp-article-article__card">
  <div class="cmp-article-list__header">
    <h3 class="cmp-article-list__header-title">In the News</h3>
    <span class="cmp-article-list__header-separator"></span>
  </div>
  <ul id="article-list-1" data-cmp-data-layer="{&quot;list-071ec16d50&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:56:13Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">Private equity giant to buy Tech Data for $5.4 billion</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">The $5.4 Billion Deal That Will ‘Accelerate Our Future’</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">The $5.4 Billion Deal That Will ‘Accelerate Our Future’</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">The 25 Most Influential Executives of 2019: Rich Hume</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-bd937d6b13&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:32Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">Tech Data Expands Cloud Solution Factory and Practice Builder Program</span>
        </a>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-071ec16d50-item-d911db0f45&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:36Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/download.html&quot;}}">
      <article>
        <a class="cmp-list__item-link" href="#">
          <figure class="cmp-image__image-figure"><img class="cmp-image__image" src="https://p7.hiclipart.com/preview/868/313/314/laptop-computer-icons-computer-monitors-laptops.jpg" /></figure>
          <span class="cmp-list__item-title">Tech Data Expands Cloud Solution Factory and Practice Builder Program</span>
        </a>
      </article>
    </li>
  </ul>
</div>