@use "~sass-rem" as rem;

/**
 * Styles for the cmp-grid component with the ag-theme-alpine.
 *
 * @class cmp-grid
 * @classdesc Styles for the cmp-grid component.
 */
.cmp-grid.ag-theme-alpine {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: rem.convert(1376px);
  overflow: auto;

  /**
   * Styles for the ag-root-wrapper.
   */
  .ag-root-wrapper {
  }

  /**
   * Styles for the ag-root.
   */
  .ag-root {
    font-size: $font-size-xsmall;
  }

  /**
   * Styles for the ag-header.
   */
  .ag-header {
    border-top: 2px solid get-color(brand-blue);
    border-bottom: 1px solid get-color(brand-blue);
    color: get-color(td-dark-blue);
    height: rem.convert(34px) !important;
    min-height: rem.convert(34px) !important;
  }

  .ag-header-viewport {
  }

  .ag-header-container {
  }

  /**
   * Styles for the ag-header-row.
   */
  .ag-header-row {
    height: rem.convert(34px) !important;
    color: get-color(td-dark-blue);
    font-weight: normal;
  }

  .ag-header-cell {
  }

  .ag-body-viewport {
  }

  .ag-body {
  }

  /**
   * Styles for the ag-row.
   */
  .ag-row {
    color: get-color(brand-text-gray);
    font-weight: normal;
    font-size: $font-size-xsmall;
    border-bottom-style: none;
  }

  .ag-cell {
    display: grid;
    align-content: center;
    line-height: rem.convert(32px);

    button {
      line-height: rem.convert(16px);
      height: 50%;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      font-size: rem.convert(16px);
      box-sizing: border-box;
      background-color: inherit;
    }
  }

  .ag-row-odd {
    background-color: $gray-5;
  }

  .ag-icon-previous,
  .ag-icon-next {
    color: get-color(brand-light-blue-icon);
  }

  /**
   * Styles for URLs in the cmp-grid component.
   */
  .cmp-grid-url-underlined {
    text-decoration: underline;
    color: get-color(brand-button-blue);
    cursor: pointer;
  }

  .cmp-grid-url-not-underlined {
    text-decoration: none;
    color: get-color(brand-button-blue);
  }

  .ag-root-wrapper-body {
    margin-top: rem.convert(30px);
  }

  .ag-paging-panel {
    position: absolute;
    top: 0;
    right: 0;
    border-top: none;
    height: rem.convert(30px) !important;
  }

  .ag-icon-previous,
  .ag-icon-next {
    color: get-color(brand-light-blue-icon);
  }

  /**
   * Custom sorting arrows styles.
   */
  .ag-header-cell-sortable {
    .ag-icon,
    .ag-header-icon {
      display: none;
    }

    & .ag-header-cell-text {
      margin-left: 0.5rem;

      &::before {
        position: absolute;
        top: 0.7rem;
        left: 1rem;
        display: block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
      }
    }

    & .ag-header-cell-sorted-none .ag-header-cell-text::before {
      content: '\f0dc';
    }

    & .ag-header-cell-sorted-asc .ag-header-cell-text::before {
      content: '\f0de';
    }

    & .ag-header-cell-sorted-desc .ag-header-cell-text::before {
      content: '\f0dd';
    }
  }

  .ag-body-horizontal-scroll {
    display: none;
  }

  /**
   * Custom page info styles.
   */
  .hidden {
    display: none;
  }

  .page-info {
    z-index: 1;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: get-color(brand-text-gray);
  }

  /**
   * Custom expand/collapse/checked/unchecked styles for child rows.
   */
  .ag-icon-tree-open {
    color: get-color(brand-light-blue-icon);

    &::before {
      padding-right: 0.3rem;
      display: block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f078' !important;
    }
  }

  .ag-icon-tree-closed {
    color: get-color(brand-light-blue-icon);

    &::before {
      padding-right: 0.5rem;
      display: block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f054' !important;
    }
  }

  .ag-checkbox-input-wrapper,
  .ag-checkbox-input-wrapper.ag-indeterminate {
    &::after {
      padding-right: 1rem;
      font-size: 1.2rem;
      display: block;
      font-family: 'Font Awesome 5 Free';
      content: $unchecked-state-content;
      color: get-color(td-dark-blue);
    }
  }

  .ag-checkbox-input-wrapper.ag-indeterminate {
    &::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: $font-weight-semi-bold;
    }
  }

  .ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
    font-weight: $font-weight-bold;
  }

  .ag-checkbox-input-wrapper.ag-checked {
    &::after {
      color: get-color(td-dark-blue);
      content: '\f14a';
    }
  }
}

.ag-input-field-input .ag-checkbox-input {
  &::after {
    font-weight: $font-weight-bold;
  }
}

.ag-checkbox-input-wrapper.ag-checked {
  &::after {
    font-weight: $font-weight-bold;
  }
}

.ag-cell-label-container {
  .ag-header-cell-label {
    display: inline;
    align-self: center;
    width: 100%;
    span.ag-header-cell-text {
      white-space: break-spaces;
    }
  }
}
