<div class="carousel">
  <div id="carousel-d602cb4093" class="cmp-carousel" role="group" aria-live="polite" aria-roledescription="carousel" data-cmp-autoplay="" data-cmp-delay="5000" data-cmp-data-layer="{&quot;carousel-d602cb4093&quot;:{&quot;shownItems&quot;:[&quot;carousel-d602cb4093-item-3946a406d0&quot;],&quot;@type&quot;:&quot;core-components-examples/components/carousel&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-14T20:10:38Z&quot;}}" data-placeholder-text="false">
    <div class="cmp-carousel__content" aria-atomic="false" aria-live="off">
      
        <div class="cmp-cardView-carousel">
          <div class="cmp-cardView-carousel__title">
            Executive Leadership
          </div>
          <div id="carousel-d602cb4093-item-3946a406d0-tabpanel" 
              class="cmp-cardView-carousel__cards cmp-carousel__item cmp-carousel__item--active" 
              role="tabpanel" 
              aria-labelledby="carousel-d602cb4093-item-3946a406d0-tab" 
              aria-roledescription="slide" 
              aria-label="Slide 1 of 3" 
              data-cmp-data-layer="{&quot;carousel-d602cb4093-item-3946a406d0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/carousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-06T18:48:01Z&quot;}}" 
              data-cmp-hook-carousel="item">
                  <div class="cmp-cardView-carousel__cards--card">
                    <div class="cmp-cardView-carousel__cards--card--name">
                      Rich Hume
                    </div>
                    <div class="cmp-cardView-carousel__cards--card--position">
                      Chief Executive Officer
                    </div>
                  </div>
                  <div class="cmp-cardView-carousel__cards--card">
                    <div class="cmp-cardView-carousel__cards--card--name">
                      Charles V. Dannewitz
                    </div>
                    <div class="cmp-cardView-carousel__cards--card--position">
                      Executive Vice President, 
                      Chief Financial Officer
                    </div>
                  </div>
                  <div class="cmp-cardView-carousel__cards--card">
                    <div class="cmp-cardView-carousel__cards--card--name">
                      Beth E. Simonetti
                    </div>
                    <div class="cmp-cardView-carousel__cards--card--position">
                      Executive Vice President, 
                      Chief Human <br/>
                      Resources Officer
                    </div>
                  </div>
          </div>
          <div id="carousel-d602cb4093-item-6cacfb6276-tabpanel" 
              class="cmp-cardView-carousel__cards cmp-carousel__item" 
              role="tabpanel" 
              aria-labelledby="carousel-d602cb4093-item-6cacfb6276-tab" 
              aria-roledescription="slide" 
              aria-label="Slide 2 of 3" 
              data-cmp-data-layer="{&quot;carousel-d602cb4093-item-6cacfb6276&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/carousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-06T18:48:06Z&quot;}}" 
              data-cmp-hook-carousel="item" 
              aria-hidden="true">
              <div class="cmp-cardView-carousel__cards--card">
                <div class="cmp-cardView-carousel__cards--card--name">
                  Rich Hume
                </div>
                <div class="cmp-cardView-carousel__cards--card--position">
                  Chief Executive Officer
                </div>
              </div>
              <div class="cmp-cardView-carousel__cards--card">
                <div class="cmp-cardView-carousel__cards--card--name">
                  Charles V. Dannewitz
                </div>
                <div class="cmp-cardView-carousel__cards--card--position">
                  Executive Vice President, 
                  Chief Financial Officer
                </div>
              </div>
              <div class="cmp-cardView-carousel__cards--card">
                <div class="cmp-cardView-carousel__cards--card--name">
                  Beth E. Simonetti
                </div>
                <div class="cmp-cardView-carousel__cards--card--position">
                  Executive Vice President, 
                  Chief Human <br/>
                  Resources Officer
                </div>
              </div>
          </div>
          <div  id="carousel-d602cb4093-item-c4cef25e5a-tabpanel" 
                class="cmp-cardView-carousel__cards cmp-carousel__item" 
                role="tabpanel" 
                aria-labelledby="carousel-d602cb4093-item-c4cef25e5a-tab" 
                aria-roledescription="slide" 
                aria-label="Slide 3 of 3" 
                data-cmp-data-layer="{&quot;carousel-d602cb4093-item-c4cef25e5a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/carousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-06T18:48:13Z&quot;}}" 
                data-cmp-hook-carousel="item" 
                aria-hidden="true">

                <div class="cmp-cardView-carousel__cards--card">
                  <div class="cmp-cardView-carousel__cards--card--name">
                    Rich Hume
                  </div>
                  <div class="cmp-cardView-carousel__cards--card--position">
                    Chief Executive Officer
                  </div>
                </div>
                <div class="cmp-cardView-carousel__cards--card">
                  <div class="cmp-cardView-carousel__cards--card--name">
                    Charles V. Dannewitz
                  </div>
                  <div class="cmp-cardView-carousel__cards--card--position">
                    Executive Vice President, 
                    Chief Financial Officer
                  </div>
                </div>
                <div class="cmp-cardView-carousel__cards--card">
                  <div class="cmp-cardView-carousel__cards--card--name">
                    Beth E. Simonetti
                  </div>
                  <div class="cmp-cardView-carousel__cards--card--position">
                    Executive Vice President, 
                    Chief Human <br/>
                    Resources Officer
                  </div>
                </div>
          </div>

          <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display" data-cmp-hook-carousel="indicators">
              <li id="carousel-d602cb4093-item-3946a406d0-tab" 
                  class="cmp-carousel__indicator cmp-carousel__indicator--active" 
                  role="tab" aria-controls="carousel-d602cb4093-item-3946a406d0-tabpanel" 
                  aria-label="Slide 1" 
                  data-cmp-hook-carousel="indicator" 
                  aria-selected="true" 
                  tabindex="0">
              </li>
              <li id="carousel-d602cb4093-item-6cacfb6276-tab" 
                  class="cmp-carousel__indicator" 
                  role="tab" 
                  aria-controls="carousel-d602cb4093-item-6cacfb6276-tabpanel" 
                  aria-label="Slide 2" 
                  data-cmp-hook-carousel="indicator" 
                  aria-selected="false" 
                  tabindex="-1">
              </li>
              <li id="carousel-d602cb4093-item-c4cef25e5a-tab" 
                  class="cmp-carousel__indicator" 
                  role="tab" 
                  aria-controls="carousel-d602cb4093-item-c4cef25e5a-tabpanel" 
                  aria-label="Slide 3" 
                  data-cmp-hook-carousel="indicator" 
                  aria-selected="false" 
                  tabindex="-1">
              </li>
          </ol>
        </div>

    </div>
  </div>
</div>
