<div
    class="
        teaser
        cmp-teaser__card--aboutus
        aem-GridColumn--default--none
        aem-GridColumn
        aem-GridColumn--offset--default--0
        aem-GridColumn--default--2
    "
>
    <div
        id="teaser-0a2e5657d3"
        class="cmp-teaser"
        data-cmp-data-layer='{"teaser-0a2e5657d3":{"@type":"techdata/components/teaser","repo:modifyDate":"2021-01-25T09:43:22Z","dc:title":"Data Center","dc:description":"<p>Tech Data Advanced Solutions enables channel partners to deliver complex IT solutions around the world.&amp;nbsp; Choose a solution area to explore our offerings</p>\r\n"}}'
    >
        <div class="cmp-teaser__image">
            <img
                src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png"
                class="cmp-image__image"
                itemprop="contentUrl"
                data-cmp-hook-image="image"
            />
        </div>
        <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title">Our History</h2>
            <div class="cmp-teaser__description">
                <p>
                    Tech Data Advanced Solutions enables channel partners to
                    deliver complex IT solutions around the world.&nbsp; Choose
                    a solution area to explore our offerings.
                </p>
            </div>
        </div>
    </div>
</div>
