<div class="teaser cmp-teaser__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
    <div id="teaser-eb87fbf1f7" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-eb87fbf1f7&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-01-25T09:48:21Z&quot;,&quot;dc:title&quot;:&quot;Security&quot;,&quot;dc:description&quot;:&quot;<p>Putting security first needs to be a priority for every business. Cyber threats continue to evolve and your customers’ vulnerabilities need to be protected. We take a holistic approach to security.</p>\r\n&quot;}}">
        <div class="cmp-teaser__image">
            <a class="cmp-image__link" href="https://www.google.com" data-cmp-clickable="" data-cmp-hook-image="link">
                <img src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_222031586/teaser_1412257165_co.coreimg.png/1614978743765/icon-security.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
            </a>
        </div>
        <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title">Security</h2>
            <div class="cmp-teaser__description">
                <p>Putting security first needs to be a priority for every business. Cyber threats continue to evolve and your customers’ vulnerabilities need to be protected We take a holistic...</p>
            </div>
        </div>
    </div>
</div>