<!-- <div class="teaser cmp-teaser__card">
  <div id="teaser-425fa125c7" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-425fa125c7&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-12T17:02:21Z&quot;,&quot;dc:title&quot;:&quot;Edge&quot;,&quot;dc:description&quot;:&quot;<p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.google.com&quot;}}">
    <div class="cmp-teaser__image">
      <div data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1581767054/component/teaser_2781767054.coreimg{.width}.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
        data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" data-title="Snowy mountain glacier" id="image-561632a539"
        data-cmp-data-layer="{&quot;image-561632a539&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:42:09Z&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:37Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;,&quot;xdm:tags&quot;:[]}}}"
        class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
        <img
          src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png"
          class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Snowy mountain glacier"
          title="Snowy mountain glacier">
        <meta itemprop="caption" content="Snowy mountain glacier">
      </div>
    </div>
    <div class="cmp-teaser__content">
      <div class="cmp-teaser__description">
        <p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>
      </div>
      <h2 class="cmp-teaser__title">
        Edge
      </h2>
    </div>
  </div>
  </div> -->
<div class="teaser cmp-teaser__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
  <div id="teaser-425fa125c7" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-425fa125c7&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-12T17:02:21Z&quot;,&quot;dc:title&quot;:&quot;Edge&quot;,&quot;dc:description&quot;:&quot;<p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.google.com&quot;}}">
    <div class="cmp-teaser__image">
      <a class="cmp-image__link" href="https://www.google.com" data-cmp-clickable="" data-cmp-hook-image="link">
        <img src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
      </a>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
          <a class="cmp-teaser__title-link" href="https://www.google.com" data-cmp-clickable="">Edge</a>
      </h2>
      <div class="cmp-teaser__description">
        <p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>
      </div>
    </div>
  </div>
</div>