<div class="teaser cmp-teaser__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
    <div id="teaser-26d79d81fc" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-26d79d81fc&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-01-25T09:45:58Z&quot;,&quot;dc:title&quot;:&quot;Cloud&quot;,&quot;dc:description&quot;:&quot;<p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>\r\n&quot;}}">
        <div class="cmp-teaser__image">
            <img src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
        </div>
        <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title">Cloud</h2>
            <div class="cmp-teaser__description">
                <p>Whether you’re a traditional IT reseller looking to provide cloud technology solutions for the first time or a cloud service provider with existing cloud managed services…</p>
            </div>
        </div>
    </div>
</div>