<div class="teaser cmp-teaser__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
  <div id="teaser-970f25e450" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-970f25e450&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-01-25T09:50:48Z&quot;,&quot;dc:title&quot;:&quot;Networking &amp; Communications&quot;,&quot;dc:description&quot;:&quot;<p>We integrate more than 150,000 products with expert services and solutions focused on&nbsp; PC systems, peripherals, printers, supplies, mobile &amp;amp; consumer electronics&nbsp;</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.google.com&quot;}}">
      <div class="cmp-teaser__image">
        <a class="cmp-image__link" href="https://www.google.com" data-cmp-clickable="" data-cmp-hook-image="link">
          <img src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
        </a>
      </div>
      <div class="cmp-teaser__content">
        <h2 class="cmp-teaser__title">
          <a class="cmp-teaser__title-link" href="https://www.google.com" data-cmp-clickable="">Networking &amp; Communications</a>
        </h2>
        <div class="cmp-teaser__description">
          <p>We integrate more than 150,000 products with expert services and solutions focused on&nbsp; PC systems, peripherals, printers, supplies, mobile &amp; consumer...</p>
        </div>
      </div>
  </div>
</div>