.cmp-grid {
	height: 100%;
	width: 100%;
	position: relative;
	.ag-root-wrapper {
	}
	.ag-root {
		font-size: $font-size-xsmall;
	}

	.ag-header {
		border-top: 2px solid get-color(brand-blue);
		border-bottom: 1px solid get-color(brand-blue);
		color: get-color(td-dark-blue);
		height: rem(34px) !important;
		min-height: rem(34px) !important;
	}
	.ag-header-viewport {
	}
	.ag-header-container {
	}
	.ag-header-row {
		height: rem(34px) !important;
		color: get-color(td-dark-blue);
		font-weight: normal;
	}
	.ag-header-cell {
	}

	.ag-body-viewport {
	}
	.ag-body {
	}
	.ag-row {
		color: get-color(brand-text-gray);
		font-weight: normal;
		font-size: $font-size-xsmall;
		border-bottom-style: none;
	}
	.ag-cell {
		line-height: rem(34px);

		button {
			line-height: rem(18px);
		}
	}

	.ag-row-odd {
		background-color: $gray-5;
	}
	.ag-icon-previous,
	.ag-icon-next {
		color: get-color(brand-light-blue-icon);
	}

	.cmp-grid-url-underlined {
		text-decoration: underline;
		color: get-color(brand-button-blue);
	}

	.cmp-grid-url-not-underlined {
		text-decoration: none;
		color: get-color(brand-button-blue);
	}

	.ag-root-wrapper-body {
		margin-top: rem(30px);
	}

	.ag-paging-panel {
		position: absolute;
		top: 0;
		right: 0;
		border-top: none;
		height: rem(30px) !important;
	}

	.ag-icon-previous,
	.ag-icon-next {
		color: get-color(brand-light-blue-icon);
	}

	// *** custom sorting arrows *** //
	.ag-header-cell-sortable {
		.ag-icon,
		.ag-header-icon {
			display: none;
		}
		& .ag-header-cell-text {
			margin-left: 0.5rem;
			&::before {
				position: absolute;
				top: 0.7rem;
				left: 1rem;
				display: block;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}
		}
		& .ag-header-cell-sorted-none .ag-header-cell-text::before {
			content: '\f0dc';
		}
		& .ag-header-cell-sorted-asc .ag-header-cell-text::before {
			content: '\f0de';
		}
		& .ag-header-cell-sorted-desc .ag-header-cell-text::before {
			content: '\f0dd';
		}
	}
	// *** horizontal scrollbar fix on column auto width *** //
	.ag-body-horizontal-scroll {
		display: none;
	}

	// *** custom page info ***//
	.hidden {
		display: none;
	}
	.page-info {
		z-index: 1;
		position: absolute;
		top: 0.5rem;
		right: 1rem;
		color: get-color(brand-text-gray);
	}
}
