<!-- This is the original AEM component below -->
<div class="text">
  <div
    data-cmp-data-layer="{&quot;text-2d9d50c5a7&quot;:{&quot;@type&quot;:&quot;core/wcm/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-22T11:56:17Z&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\n&quot;}}"
    id="text-2d9d50c5a7" class="cmp-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque.
      Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
  </div>
</div>

<hr />

<div class="text">
  <div
    data-cmp-data-layer="{&quot;text-6d91c6d9a4&quot;:{&quot;@type&quot;:&quot;core/wcm/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-22T12:17:02Z&quot;,&quot;xdm:text&quot;:&quot;<p><b>Bold </b>can be used to emphasize a word or phrase, as can <u>underline</u> and <i>italics.&amp;nbsp;</i><sup>Superscript</sup> and <sub>subscript</sub> are useful for mathematical (E = mc<sup>2</sup>) or scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:</p>\n<blockquote>&amp;quot;<i>Be yourself; everyone else is already taken&amp;quot;</i></blockquote>\n<blockquote>- Oscar Wilde</blockquote>\n&quot;}}"
    id="text-6d91c6d9a4" class="cmp-text">
    <p><b>Bold </b>can be used to emphasize a word or phrase, as can <u>underline</u> and
      <i>italics.&nbsp;</i><sup>Superscript</sup> and <sub>subscript</sub> are useful for mathematical (E =
      mc<sup>2</sup>) or scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide alternative renderings,
      such as quote sections:
    </p>
    <blockquote>"<i>Be yourself; everyone else is already taken"</i></blockquote>
    <blockquote>- Oscar Wilde</blockquote>
  </div>
</div>

<div class="text">
  <div
    data-cmp-data-layer="{&quot;text-d7f5d18c60&quot;:{&quot;@type&quot;:&quot;core/wcm/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:48:02Z&quot;,&quot;xdm:text&quot;:&quot;<ul>\r\n<li>List item</li>\r\n<li>List item</li>\r\n<li>List item</li>\r\n<li>List item</li>\r\n</ul>\r\n<p>&amp;nbsp;</p>\r\n<ol>\r\n<li>List Item 1</li>\r\n<li>List Item 2</li>\r\n<li>List item 3</li>\r\n<li>List item 4</li>\r\n</ol>\r\n&quot;}}"
    id="text-d7f5d18c60" class="cmp-text">
    <ul>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
    <p>&nbsp;</p>
    <ol>
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
    </ol>
  </div>
</div>
<hr />
<div class="text">
  <div
    data-cmp-data-layer="{&quot;text-6ecfe1f00f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-14T14:02:56Z&quot;,&quot;xdm:text&quot;:&quot;<table cellpadding=\&quot;5\&quot; cellspacing=\&quot;0\&quot; border=\&quot;1\&quot;>\n<tbody><tr><td>Column 1</td>\n<td>Column 2</td>\n<td>Column 3</td>\n<td>Column 4</td>\n</tr><tr><td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n</tr><tr><td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n</tr><tr><td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n</tr><tr><td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n</tr><tr><td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n<td>&amp;nbsp;</td>\n</tr></tbody></table>\n&quot;}}"
    id="text-6ecfe1f00f" class="cmp-text">
    <table cellpadding="5" cellspacing="0" border="1">
      <tbody>
        <tr>
          <td>Column 1</td>
          <td>Column 2</td>
          <td>Column 3</td>
          <td>Column 4</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
