.cmp-text {}
.cmp-text__paragraph {}

$text-headings: (
//  tag  size      weight line-height
    "h1" rem(54px) bold rem(56px),
    "h2" rem(36px) bold rem(40px),
    "h3" rem(36px) normal rem(40px),
    "h4" rem(24px) bold rem(32px),
    "h5" rem(24px) normal rem(28px),
    "h6" rem(16px) bold rem(24px)
);

$text-headings-mobile: (
    "h1" rem(36px) bold rem(40px),
    "h2" rem(28px) bold rem(32px),
    "h3" rem(28px) normal rem(32px),
    "h4" rem(20px) bold rem(24px),
    "h5" rem(20px) normal rem(24px),
    "h6" rem(16px) bold rem(24px)
);

.cmp-text {
    @each $heading, $fontSize, $weight, $lineHeight in $text-headings-mobile {
        #{$heading} {
            font-size: $fontSize;
            font-weight: $weight;
            line-height: $lineHeight;
        }
    }
    @include media(">=lg") {
        @each $heading, $fontSize, $weight, $lineHeight in $text-headings {
            #{$heading} {
                font-size: $fontSize;
                font-weight: $weight;
                line-height: $lineHeight;
            }
        }
    }
    a{
        color: get-color(secondary-link-blue);
    }
}