.td-capsule {
  background-color: $brand-green;
  min-width: 25px;
  border-radius: 20px;
  padding: 0 17px 0 17px;
  height: 29px;
  display: flex;
  align-items: center;

  &__text {
    color: $brand-white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.07px;
    line-height: 29px;
    text-align: center;
    text-wrap: nowrap;
  }
  &__close-icon {
    color: $brand-white;
    padding-bottom: 3px;
  }
  & * svg {
    fill: $brand-white;
    margin-left: 14px;
    cursor: pointer;
  }
}

.cmp-grid-td-synnex {
  & .td-capsule {
    background-color: $brand-green;
  }
}
