.counter {
  float: left;
  > * {
    display: inline-block;
  }
  .minus,
  .plus {
    border: 1px solid $brand-charcoal;
    background-color: $brand-green-background;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
  }
  .disabled {
    background-color: $td-neutral-gray-2;
    border: 1px solid $brand-text-lightgray;
    color: $brand-text-lightgray;
    cursor: default;
  }
  input {
    width: 48px;
    height: 44px;
    margin: 0 10px;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
