.filter-modal-container {
  position: fixed;
  background: rgba(0, 12, 33, .28);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;

  &__popup {
    height: 100%;
  }
}

.filter-modal-content.td-synnex {
  top: 220px;

  .filter-modal-container {
    &__popup {
      *:not([class*="fas"]) {
        font-family: Arial;
      }
    }
  }
}

.filter-modal-content {
  all: initial;
  font-family: Arial;
  transition: all .3s ease;
  position: absolute;
  top: 220px;
  right: 0;
  height: calc(100vh - 220px);
  width: 400px;
  border-radius: 4px 0 0 4px;
  background-color: $brand-white;
  z-index: 9999;

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__popup {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .filter-modal-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    z-index: 1;
    left: -21px;
    background-color: transparent;

    &:before {
      content: "\f057";
      @include font-awesome;
      font-weight: 900;
      font-size: 30px;
    }

    &:after {
      content: "";
      width: 2.2rem;
      height: 2.2rem;
      background: $brand-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
      padding: 1px;
    }
  }

  &__close.td-synnex {
    top: 15px;
    left: -18px;
    position: absolute;

    &:before {
      color: $brand-green;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000c21;

    h3 {
      color: #000c21;
      font-size: 23px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 32px;
      margin: 0;
    }

    &--clear-all {
      background: transparent;
      border: 0;
      text-decoration: none;
      color: #0067ab;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: 0;
      line-height: 17px;
    }

    &--close-button {
      background: transparent;
      border: 0;
      text-decoration: none;
      color: black;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: 0;
      line-height: 17px;
    }
  }

  &__header.td-synnex {
    border-bottom: 2px solid $brand-green;

    h3 {
      color: $brand-green;
    }
  }

  &__results {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border: 1px solid #000c21;
    border-radius: 0 0 0 4px;
    background-color: #000c21;
  }

  &__results.td-synnex {
    background-color: $brand-green;
    color: $brand-white;
  }

  .cmp-quote-button {
    height: 52px;
    align-items: center;
  }

  .cmp-quote-button:disabled {
    opacity: 0.8;
    background-color: #000c21;
    color: $brand-white;
    cursor: none;
  }

  .cmp-quote-button.td-synnex {
    background-color: $brand-green;
    height: 52px;
    align-items: center;
  }

  .cmp-quote-button.td-synnex:disabled {
    background-color: $brand-green;
    color: $brand-text-gray;
    background: $gray-light;
  }
}


.filter-option {
  &__checkbox {
    accent-color: black;
    cursor: pointer;
    margin-right: 6px;
    vertical-align: middle;
  }

  &__checkbox.td-synnex {
    accent-color: $brand-green;
  }

  &__label {
    color: $brand-charcoal;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }

  &__label.td-synnex {
    color: $brand-green--dark;
  }

  &__options {
    all: initial;
    border-bottom: 1px solid #d8d8d8;
    display: block !important;
    padding-left: 40px;

    >ul,
    >li {
      margin-bottom: .45rem;

      label {
        text-transform: capitalize;
        font-family: Open Sans, sans-serif;
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }

    ul.sub-filter {
      justify-content: start;
      padding-left: 2rem;
      margin: 0;

      li {
        margin: 0.4rem 0;
      }
    }
  }
}

.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}
.order-filter-accordion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'TWKEverett-Regular-web';
  overflow-y: hidden;

  div.filter-option__options li {
    list-style: none;
    padding-left: 21px !important;
  }

  &__item {
    list-style: none;
    border-top: 1px solid $td-neutral-gray-2;
    &--group {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-left: 20px !important;
      padding-right: 20px;
      position: relative;

      .count {
        max-height: 20px;
      }

      .count.td-synnex {
        background-color: $brand-green;
      }
    }
  }
  .separator {
    border-bottom: 1px solid $td-neutral-gray-2;
  }
  border-top: 1px solid $td-neutral-gray-2;
  h3 {
    margin: 30px 0 !important;
    padding-top: 0 !important;
    color: $brand-charcoal;
    font-family: Arial !important;
    font-size: 16px !important;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0;
    cursor: pointer;

    &.active {
      &:before {
        content: "\f078";
      }
    }

    &.active.td-synnex {
      color: $brand-charcoal;
    }

    &:before {
      content: "\f054";
      @include font-awesome;
      padding-right: 11px;
      font-weight: 900;
    }
  }
}

.order-filter-tags-more {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  width: 82px;
  box-sizing: border-box;
  border: 2px solid $filter-light-gray;
  border-radius: 10px;
  cursor: pointer;
}
.filter-order-tags-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background: $brand-white;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}

.activated {
  height: 84px;
}

.order-filter-tags-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: $brand-white;

  .filter-tags {
    border-radius: 14px;
    background-color: $blue-dark;
    color: white;
    padding: 0 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: max-content;
    height: 20px;
    margin-bottom: 10px;

    &>span:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 1px 0 0;
    }

    &__title {
      color: $brand-white;
      font-family: Arial !important;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.07px;
      line-height: 17px;
      text-align: center;
    }

    &__close {
      color: $brand-white;
      font-family: "Font Awesome 5 Free";
      font-size: 9px;
      letter-spacing: 0;
      line-height: 10px;
      cursor: pointer;
    }
  }

  .filter-tags.td-synnex {
    background-color: $brand-green;
    padding: 11px;
  }
}
.filter-datepicker-container {
  padding-left: 40px;
  margin-bottom: 19rem;

  .datepicker-checks {
    li {
      list-style: none;
      padding-left: 21px;
      margin-bottom: .45rem;

      label {
        color: #555555;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        cursor: pointer;
        user-select: none;
      }

      input[type="radio"] {
        accent-color: black;
        margin-right: 6px;
        vertical-align: middle;
        margin-top: 0;
        cursor: pointer;
      }

      input[type="radio"].td-synnex {
        accent-color: $brand-green;
      }
    }

  }
}

.cmp-vertical-space-separator {
  height: 4rem;
}

.count {
  border-radius: 9.5px;
  background-color: $blue-dark;
  color: $brand-white;
  text-align: center;
  padding: 0px 12px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
}

.count-clear {
  border-radius: 9.5px;
  background-color: $blue-dark;
  color: $brand-white;
  text-align: justify;
  padding: 0 5px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  width: 39px;
  height: 16px;
  display: flex;
}

.filter-clear-button {
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  padding-left: 5px;
  padding-block-end: 0;
  padding-block-start: 0; 
  padding-inline-end: 0; 
  padding-inline-start: 0;
}

.filter-count-wrapper {
  width: 15px;
  height: 15px;
  text-align: center;
}

.count.td-synnex {
  background-color: $brand-green;
}

.cmp-grid-techdata {
  .filter-modal-content {
    &__close {
      &::before {
        color: $brand-blue
      }
    }

    .filter-datepicker-container {
      .datepicker-checks {
        li {
          input[type="radio"] {
            accent-color: $brand-blue;
          }
        }
      }
    }

    .cmp-quote-button {
      background-color: $brand-blue;
      color: $td-neutral-gray;

      &:disabled {
        background-color: $brand-cool-gray-1;
        color: $brand-charcoal;
      }
    }
  }


  .filter-modal-bottom {
    .filter-tags-container {
      .filter-tags {
        background-color: $brand-blue;
      }
    }
  }
}

.tag_teal {
  background-color: #005758 !important;
  color: rgba(255, 255, 255, 1) !important;
}

.tag_dark_teal {
  background-color: rgba(0, 48, 49, 1) !important;
}

.scrollbar_y_none {
  overflow-y: hidden !important;
}

.height_order_filters {
    overflow-y: scroll !important;
      overflow: auto;
}

.teal_scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.teal_scroll::-webkit-scrollbar {
  width: 8px;
}

.teal_scroll::-webkit-scrollbar-thumb {
  background: #005758;
}

.datepicker-wrapper {
  height: 450px !important;
  min-height: 450px;
}

.datepicker-wrapper-custom {
  height: 380px !important;
  min-height: 380px;
}

div.DateRangePicker.DateRangePicker_1 {
  width: 339px;
}

div.DateRangePickerInput.DateRangePickerInput_1 {
  width: 255px;
}

div.DateRangePickerInput_arrow.DateRangePickerInput_arrow_1 {
  margin-right: 10px;
}