// overriding styles applied over grid in quote preview.
.cmp-order-preview
  .ag-header-container
  .ag-header-row
  .ag-header-cell:nth-child(3) {
  .ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text {
    width: auto;
  }
}

.cmp-order-preview {
  font-family: 'Arial';
  .details-container {
    display: flex;
    padding: 27px 15px 0 0;
    justify-content: space-between;
    .details-preview {
      color: $brand-charcoal;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 30px;
    }
  }
  .loader-rotate {
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .saving__absolute {
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .icon-button {
    display: flex;
    align-items: center;
    &.underlined_hover:not(.disabled):hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    svg {
      stroke: $brand-green;
    }
    &__default {
      @include font-arial-normal();
      background-color: transparent;
      color: #005758;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
      &:disabled {
        color: #d9d8d7;
        text-decoration: none;
        cursor: default;
      }
    }
  }
  .icon-button__container {
    display: flex;
    align-items: center;
    &.cancel-save__absolute {
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
  .cmp-product-lines-grid__header {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 22px;
      font-weight: 500;
      text-shadow: 0px 0px 0px #000c21;
    }
  }
  .cmp-product-lines-grid__item-information__box-text {
    a p {
      font-weight: bold;
    }
  }
  .cmp-order-preview {
    &__subtotal {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      padding: 24px 20px;
      &--description {
        color: #000c21;
        font-size: 20px;
        line-height: 27px;
      }
      &--value {
        color: #000c21;
        font-size: 24px;
        line-height: 33px;
        padding-left: 40px;
      }
      &--note {
        font-size: 16px;
        line-height: 27px;
      }
      &--currency-code {
        margin-left: 7px;
      }
      &--currency-symbol {
        margin-right: 2px;
      }
    }
    .line-status {
      font-size: 16px;
      font-family: 'Arial';
      svg {
        vertical-align: middle;
        margin-right: 5px;
        width: auto;
      }
      &-link {
        color: $brand-green;
        cursor: pointer;
      }
    }
  }

  .cmp-unitprice {
    width: 100%;
    margin: 0 auto;
  }
  .cmp-unitprice-edit {
    #formatted-uniteprice-input {
      text-align: right;
      color: #555555;
    }
  }
  &__prod-details {
    cursor: pointer;
    .short-desc {
      margin: 0;
      color: #00558c;
      font-size: 12px;
      font-weight: 600;
      width: 62%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
    }
    span {
      color: #555555;
      font-size: 11px;
      letter-spacing: 0;
      line-height: 14px;
      display: block;
    }
  }

  .ag-header-container .ag-header-row {
    .ag-cell-label-container span.ag-header-cell-text {
      font-size: 14px;
      font-weight: 700;
      line-height: 1rem;
      min-width: 150px;
      svg {
        margin-left: 5px;
        margin-bottom: 3px;
        cursor: pointer;
      }
    }
  }

  .cmp-grid.ag-theme-alpine {
    min-width: 0 !important;
    .ag-header {
      height: 42px !important;
      background-color: transparent;
      &-row {
        color: $brand-charcoal;
      }
    }
    .ag-root-wrapper {
      border: none;
    }
    .ag-cell {
      font-size: 16px;
      font-family: 'Arial' !important;
      line-height: 1.5rem;
      color: $brand-charcoal;
    }
    .ag-row {
      border-bottom: 1px solid $brand-cool-gray-1;
      background-color: transparent;
    }
    .ag-row-odd {
      background-color: transparent;
    }
    .ag-cell-value {
      overflow: visible;
    }
  }

  .right-aligned {
    text-align: right;
  }

  .center-aligned {
    text-align: center;
  }
}
