.tool-tip {
  position: absolute;
  height: auto;
  padding: 0 12px;
  border-radius: 2px;
  background-color: $tooltip-background-dark;
  color: $brand-white;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: left;
}
.tool-tip-text {
  color: $brand-white;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 0;
}
.status-column-container {
  display: flex;
}
.status-span-icon {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
.status-icon-offset {
  margin-left: 14px;
}

.status-popover-grid > .MuiPaper-root.MuiPaper-elevation {
  height: 40px;
  padding: 5px;
  border-radius: 2px;
  background-color: $tooltip-background-dark;
  color: $brand-white;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}

.MuiTooltip-popper[data-popper-placement*='bottom']
  div[class^='MuiTooltip-tooltip'] {
  margin-top: 19px;
}
div[class*='MuiTooltip-tooltip'] {
  background-color: $tooltip-background;
  color: $brand-white;
  font-size: 14px;
  line-height: 21px;
  border-radius: 6px;
  padding: 8px;
}
div[class*='MuiPopper-root-MuiTooltip-popper'] .MuiTooltip-arrow::before {
  background-color: $tooltip-background;
}
