<div data-sly-unwrap="${wcmmode.disabled}">
	<div class="container-fluid">
		<div class="row">
			<section class="col dp-multi-column-left">
				<sly
					data-sly-resource="${ @path='leftColumn', resourceType='/apps/digital-platform/components/structure/responsivegrid'}"
				></sly>
			</section>
			<section class="col-sm-12 col-lg-8 dp-multi-column-main">
				<sly
					data-sly-resource="${ @path='mainColumn', resourceType='/apps/digital-platform/components/structure/responsivegrid'}"
				></sly>
			</section>
			<section class="col dp-multi-column-right">
				<sly
					data-sly-resource="${ @path='rightColumn', resourceType='/apps/digital-platform/components/structure/responsivegrid'}"
				></sly>
			</section>
		</div>
	</div>
</div>
