<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
    <div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>
<div class="brand-list" data-sly-use.listUse="com.adobe.cq.wcm.core.components.models.List">
    <sly data-sly-list.item="${listUse.listItems}">
        <li>
            <sly data-sly-test="${item.link}">
                <a href="${item.link}" class="vendor-section-link">${item.title}</a>
            </sly>
            <sly data-sly-test="${!item.link}">
                <a class="vendor-section-link">${item.title}</a>
            </sly>
        </li>
    </sly>
</div>