<div class="container-fluid py-5">
  <div class="row align-items-start">
    <div class="col">
      <div class="teaser bg-secondary text-light px-5 pt-5 pb-3">
        <div id="teaser-83a73ada4e" class="cmp-teaser py-5"
          data-cmp-data-layer="{&quot;teaser-83a73ada4e&quot;:{&quot;dc:description&quot;:&quot;<p>Teaser Description</p>\r\n&quot;,&quot;dc:title&quot;:&quot;Teaser Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:42:40Z&quot;,&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;}}">

          <div class="cmp-teaser__content">
            <div class="col">
              <h4 class="cmp-teaser__title">
                <p class="align-content-center">TECH DATA ANNOUNCES COMPLETION
                  OF ACQUISITION BY AFFILIATES OF
                  APOLLO GLOBAL MANAGEMENT</p>
              </h2>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-light rounded-0 align-content-center">
                Learn More
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </button>
            </div>

            <div class="d-flex align-items-end align-content-center">
              <div class="col text-uppercase">
                Free Standard Shipping on your first order with Tech Data!
              </div>
              <div class="cmp-teaser__description col text-uppercase d-flex align-items-end justify-content-between">
                <button type="button" class="btn btn-light col rounded-0  text-uppercase font-weight-bold">
                  <span class="text-primary">Take a</span>
                  <span class="text-info">Guided Tour</span>
                  <span class="text-primary">of Tech Data
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right font-weight-bold" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </span>
                </button>
                <button type="button" class="btn btn-light col rounded-0  text-uppercase font-weight-bold">
                  <span class="text-primary">Sign Up Now &</span>
                  <span class="text-info">
                    Become a Reseller Today!
                  </span>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right text-primary font-weight-bold"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
