@use 'sass:map';
// @use 'sass-rem' as rem;

//Component Mixins

@mixin nav-button {
  background-color: transparent;
  color: get-color(brand-text-gray);
  padding: rem-convert(10px) rem-convert(14px);
  transition: all 200ms ease;
  text-align: left;
  width: 100%;

  &:hover,
  &:active {
    background-color: get-color(border-light-gray);
  }
}

@mixin reset-list-styles {
  list-style-type: none;
  text-decoration: none;
}

@mixin reset-spacing-styles {
  padding: 0;
  margin: 0;
}

@mixin chevron-icon {
  color: get-color(brand-nav-blue);
  margin-left: rem-convert(8px);
  transition: all 200ms ease;
  width: rem-convert(24px);
}

.cmp-search-icon-hidden {
  display: none !important;
}
.cmp-searchbar__mobile-container--mobile {
  width: 100vw !important;
  height: 100vh !important;
  background-color: white;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  .cmp-searchbar__container {
    margin-top: rem-convert(80px);
    margin-bottom: 1vh;
    justify-content: space-between;
  }
  .input-icon {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .cmp-icon-input i svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 69px;
  }
  .cmp-icon-input svg {
    right: rem-convert(26px);
  }
  .cmp-button__icon {
    position: absolute;
    margin-left: 0rem;
    margin-right: 1rem;
    left: 78%;
    top: 85px;
  }
  .cmp-searchbar__remove-icon--mobile {
    position: relative;
    margin: unset;
    top: 0;
    left: 0;
  }
  .cmp-searchbar__context-menu {
    box-shadow: 0px;
  }
  .cmp-searcharea__selectedarea-button {
    padding-left: rem-convert(61px);
  }
  .cmp-searchsuggestions__suggestion.cmp-searchsuggestions__suggestion-withRefinement {
    padding-left: rem-convert(61px);
  }
  .cmp-searcharea__area {
    .cmp-searcharea__button {
      margin-left: rem-convert(61px);
    }
  }

  .cmp-searchbar__arrow {
    height: 24px;
    width: 24px;

    &::before {
      content: '';
      mask: url('/content/dam/global-shared/icons/regular/back-arrow.svg');
      -webkit-mask: url('/content/dam/global-shared/icons/regular/back-arrow.svg');
      background: no-repeat;
      height: 16.67px;
      width: 20px;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: map.get($color-palette, 'black');
      display: inline-block;
      align-items: center;
      vertical-align: middle;
    }
  }

  .cmp-searchbar__button {
    z-index: 1;
  }

  .cmp-searchbar__input--mobile {
    width: 95%;
    border: transparent;
    background: linear-gradient(#000, #000) center bottom 5px / calc(100% - 10px) 2px no-repeat;
    &:focus {
      border: rem-convert(0px) solid transparent;
    }
  }
  .cmp-searcharea__selectedarea {
    border-bottom: 0px;
  }
}

.cmp-searchbar__remove-icon {
  position: relative;
  top: 5px;
  right: 25px;
}
//Search Bar styles
.cmp-searchbar {
  min-width: rem-convert(250px);
  position: relative;
  width: 100%;
  padding: 10px 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    top: 0.3%;
    min-width: 0;
    width: auto;
  }

  &--checked {
    @include mobile {
      background-color: get-color(brand-white);
      margin-left: 0;
      margin-top: 0;
      width: 100%;
      left: 0;
      top: rem-convert(45px);
      z-index: -1;
      max-height: 80px;
      position: fixed;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 0 rem-convert(8px);

    .input-icon {
      .cmp-icon-input {
        .cmp-searchbar__remove-icon {
          position: relative;
          right: 25px;
          top: 5px;
        }
      }
    }

    div:first-child {
      width: 100%;
      display: flex;
    }
  }

  &__input {
    border: rem-convert(1px) solid get-color(text-shadow);
    border-radius: rem-convert(6px) 0 0 rem-convert(6px);
    border-right: 0;
    box-sizing: border-box;
    outline: none;
    padding: rem-convert(10px) rem-convert(14px);
    transition: all 400ms ease;
    width: 100%;
    height: 100%;

    &:focus {
      border: rem-convert(1px) solid get-color(td-dark-blue);
    }

    &::placeholder {
      color: get-color(border-light-gray);
      font-style: italic;
    }

    border: rem-convert(1px) solid get-color(border-light-gray);
    border-radius: 0;
    padding: 0;
    display: none;
    min-width: 0;
    width: 0;

    &--mobile {
      padding: rem-convert(6px) rem-convert(10px);
      visibility: visible;
      display: flex;
      width: 86%;
    }
  }

  &__button {
    background-color: get-color(brand-white);
    border-right: rem-convert(1px) solid get-color(text-shadow) !important;
    border-top: rem-convert(1px) solid get-color(text-shadow) !important;
    border-bottom: rem-convert(1px) solid get-color(text-shadow) !important;
    border-left: 0 !important;
    border-radius: 0 rem-convert(6px) rem-convert(6px) 0;
    box-sizing: border-box;
    padding: 3.8px 8px;
    transition: all 200ms ease;
    height: 100%;

    &:hover {
      cursor: pointer;

      @include mobile {
        background-color: transparent;
      }
    }

    background-color: transparent;
    border: none !important;
    padding: 0;
    margin: 0 rem-convert(8px);

    &--mobile {
      padding: 0;
      margin-left: rem-convert(8px);
      margin-right: rem-convert(8px);
      .cmp-searchbar__icon {
        @include stroke-aqua;
      }
    }

    &--checked {
      background-color: get-color(td-dark-blue);
      border-color: get-color(td-dark-blue) !important;
    }
  }

  &__icon {
    @include stroke-cool-gray-10;
    margin-top: rem-convert(9.6px);

    @include mobile {
      @include stroke-cool-gray-10;
    }

    &--checked {
      stroke: get-color(td-dark-blue);

      @include mobile {
        stroke: get-color(brand-light-blue);
      }
    }
  }

  &__context-menu {
    box-shadow: rem-convert(1px) rem-convert(1px) rem-convert(5px) rgba(0, 0, 0, 0.2);
    background-color: get-color(brand-white);
    position: absolute;
    width: 100%;
    z-index: 100;

    @include mobile {
      box-shadow: none;
      position: relative;
      margin-bottom: rem-convert(12px);
      min-width: rem-convert(350px);
    }
  }
}

//Search Area styles
.cmp-searcharea {
  @include reset-list-styles;
  @include reset-spacing-styles;
  box-shadow: rem-convert(1px) rem-convert(1px) rem-convert(5px) rgba(0, 0, 0, 0.2);
  margin: 0 rem-convert(10px) 0 rem-convert(10px);
  max-height: 0;
  transition: all 200ms ease;

  &--checked {
    background-color: get-color(brand-white);
    max-height: rem-convert(350px);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 95.5%;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }

  &__area {
    background-color: get-color(brand-white);
  }

  &__button {
    @include nav-button;

    &:hover {
      background-color: map.get($color-palette, 'td-lighter-gray');
      color: get-color(brand-text-gray);
    }
  }

  &__selectedarea {
    border-bottom: rem-convert(2px) solid get-color(brand-black);
    margin-left: 0;
    margin-right: 0;
    transition: all 200ms ease;

    &--checked {
      margin-left: rem-convert(10px);
      margin-right: rem-convert(10px);

      @include mobile {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-button {
      @include nav-button;
      display: flex;
      align-items: center;
      padding: rem-convert(10px) rem-convert(14px);

      @include mobile {
        min-width: rem-convert(350px);
      }

      &:hover,
      &:active {
        background-color: map.get($color-palette, 'td-lighter-gray');
        color: get-color(brand-text-gray);

        svg {
          color: get-color(brand-nav-blue);
        }
      }
    }

    &-icon {
      @include chevron-icon;
    }
  }
}

// Search Area scrollbar Styling

/* Width */
.cmp-searcharea::-webkit-scrollbar {
  width: rem-convert(8px);
}
/* Track */
.cmp-searcharea::-webkit-scrollbar-track {
  background: get-color(brand-white);
}
/* Handle */
.cmp-searcharea::-webkit-scrollbar-thumb {
  background: get-color(brand-black);
  border-radius: rem-convert(8px);
  max-height: rem-convert(4px);
}
/* Buttons */
.cmp-searcharea::-webkit-scrollbar-button {
  display: none;
}

//Search Suggestions styles
.cmp-searchsuggestions {
  @include reset-list-styles;
  @include reset-spacing-styles;

  &:first-child {
    color: get-color(brand-nav-blue);
  }

  &__suggestion,
  &__link {
    @include reset-list-styles;
    @include reset-spacing-styles;
    color: get-color(brand-text-gray);

    &-mobile {
      @include reset-list-styles;
      @include reset-spacing-styles;
      color: get-color(brand-text-gray);
      padding-left: rem-convert(61px);
    }
  }

  &__suggestion {
    display: flex;
    transition: all 200ms ease;
    padding: rem-convert(8px) rem-convert(16px);

    &.cmp-searchsuggestions__suggestion-withRefinement {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0px;

      @include mobile {
        display: flex;
        flex-direction: column;
      }

      .cmp-searchrefinements {
        padding-top: rem-convert(8px);
        padding-left: rem-convert(5px);
      }
    }

    &:hover {
      background-color: map.get($color-palette, 'td-lighter-gray');
      color: get-color(brand-white);
    }
  }
}

//Search Bar Refinements styles
.cmp-searchrefinements {
  @include reset-spacing-styles;

  &__link,
  &__item,
  &__refinement {
    @include reset-list-styles;
    @include reset-spacing-styles;
    color: get-color(brand-nav-blue);
  }

  &__item {
    padding-left: rem-convert(4px);

    &-icon {
      @include chevron-icon;
      @include mobile {
        width: auto;
      }
    }
  }
}

//Loading indicator Styling
.cmp-searchbar__loading-indicator {
  right: 0.8rem;
  left: unset;
}

.cmp-searchbar__clear {
  display: none;
}

.cmp-searchbar__clear-icon {
  left: 0.5rem;
  right: unset;
}

//AEM overriding Styling
.experiencefragment.cmp-experiencefragment--header .cmp-experiencefragment > .cmp-container .aem-Grid .search {
  margin-left: auto !important;
  width: 35% !important;

  @include mobile {
    width: 100% !important;
  }
}

//Searchbar width on UAT
#cmp-techdata-header.cmp-container .aem-Grid .search {
  width: 30%;
  @include mobile {
    width: 80% !important;
  }
}

//Separeted active class for re-use on all the component
.activeClass {
  background-color: get-color(brand-nav-blue);

  .cmp-searcharea__button {
    color: get-color(brand-white);

    &:hover {
      background-color: get-color(brand-nav-blue);
    }
  }
}
