<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>DCP Home Page with React</title>
    <meta name="template" content="techdata-dcp-template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            rel="stylesheet"
            href="/etc.clientlibs/techdata/clientlibs/clientlib-base.css"
            type="text/css"
    />

    <script
            src="/etc/cloudsettings.kernel.js/libs/settings/cloudsettings/legacy/contexthub"
            type="text/javascript"
    ></script>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="//fonts.googleapis.com/css?family=Open+Sans"
    />

    <script
            src="https://kit.fontawesome.com/e1e12a4c06.js"
            crossorigin="anonymous"
    ></script>
    <!-- CSS only -->

    <script src="/etc.clientlibs/techdata/clientlibs/clientlib-dependencies.js"></script>

    <link
            rel="stylesheet"
            href="/etc.clientlibs/techdata/clientlibs/clientlib-dependencies.css"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="/etc.clientlibs/techdata/clientlibs/clientlib-react.css"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="/etc.clientlibs/techdata/clientlibs/clientlib-site.css"
            type="text/css"
    />
</head>
<body
        class="page basicpage"
        id="page-0b2985290c"
        data-cmp-data-layer-enabled
>
<script>
    window.adobeDataLayer = window.adobeDataLayer || [];
    adobeDataLayer.push({
        page: JSON.parse(
            "{\x22page\u002D0b2985290c\x22:{\x22@type\x22:\x22techdata\/components\/page\x22,\x22repo:modifyDate\x22:\x222021\u002D03\u002D22T14:32:51Z\x22,\x22dc:title\x22:\x22DCP Home Page with React\x22,\x22xdm:template\x22:\x22\/conf\/techdata\/settings\/wcm\/templates\/techdata\u002Ddcp\u002Dtemplate\x22,\x22xdm:language\x22:\x22en\u002DUS\x22,\x22xdm:tags\x22:[],\x22repo:path\x22:\x22\/content\/techdata\/language\u002Dmasters\/dcp\u002Dhome\u002Dpage\u002Dwith\u002Dreact.html\x22}}"
        ),
        event: "cmp:show",
        eventInfo: {
            path: "page.page\u002D0b2985290c",
        },
    });
</script>

<div class="root container responsivegrid">
    <div id="container-844c73321a" class="cmp-container">
        <div
                class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                style="text-align: center; height: 450px"
        >
            <div
                    class="
                            experiencefragment
                            aem-GridColumn aem-GridColumn--default--12
                        "
            >
                <div
                        id="experiencefragment-c3ba703843"
                        class="
                                cmp-experiencefragment
                                cmp-experiencefragment--test---header
                            "
                >
                    <div
                            id="container-9f972e7b3f"
                            class="cmp-container"
                    >
                        <div
                                class="
                                        aem-Grid
                                        aem-Grid--12
                                        aem-Grid--default--12
                                    "
                                style="text-align: center; height: 450px"
                        >
                            <figure
                                    class="
                                            dp-figure dp-figure--spacing-header
                                            aem-GridColumn--default--none
                                            aem-GridColumn
                                            aem-GridColumn--offset--default--0
                                            aem-GridColumn--default--1
                                        "
                                    style="
                                            /* position: relative; */
                                            display: inline-block;
                                        "
                            >
                                <?xml version="1.0" standalone="no"?>
                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

                                <img
                                        src="http://allvectorlogo.com/img/2017/09/tech-data-logo.png"
                                        class="cmp-image__image"
                                        itemprop="contentUrl"
                                        data-cmp-hook-image="image"
                                        style="
                                                position: absolute;
                                                clip: rect(
                                                    33px,
                                                    190px,
                                                    75px,
                                                    0px
                                                );
                                                width: 200px;
                                                top: -23px;
                                                left: 200px;
                                            "
                                />
                            </figure>
                            <div
                                    class="
                                            tabs
                                            top-nav
                                            cmp-text__black
                                            aem-GridColumn--default--none
                                            aem-GridColumn
                                            aem-GridColumn--offset--default--0
                                            aem-GridColumn--default--4
                                        "
                                    style="
                                            margin-left: 200px; /* margin-top: 23px; */
                                            display: inline-block;
                                        "
                            >
                                <div
                                        id="tabs-5a4ac0dfd9"
                                        class="cmp-tabs"
                                        data-cmp-is="tabs"
                                        data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9&#34;:{&#34;shownItems&#34;:[&#34;tabs-5a4ac0dfd9-item-48bd6f9f3b&#34;],&#34;@type&#34;:&#34;techdata/components/tabs&#34;,&#34;repo:modifyDate&#34;:&#34;2021-02-26T12:54:23Z&#34;}}"
                                >
                                    <ol
                                            role="tablist"
                                            class="cmp-tabs__tablist"
                                            aria-multiselectable="false"
                                    >
                                        <li
                                                role="tab"
                                                id="tabs-5a4ac0dfd9-item-48bd6f9f3b-tab"
                                                class="
                                                        cmp-tabs__tab
                                                        cmp-tabs__tab--active
                                                    "
                                                aria-controls="tabs-5a4ac0dfd9-item-48bd6f9f3b-tabpanel"
                                                tabindex="0"
                                                data-cmp-hook-tabs="tab"
                                        >
                                            Products
                                        </li>

                                        <li
                                                role="tab"
                                                id="tabs-5a4ac0dfd9-item-4a4ac41a48-tab"
                                                class="cmp-tabs__tab"
                                                aria-controls="tabs-5a4ac0dfd9-item-4a4ac41a48-tabpanel"
                                                tabindex="-1"
                                                data-cmp-hook-tabs="tab"
                                        >
                                            Solutions
                                        </li>

                                        <li
                                                role="tab"
                                                id="tabs-5a4ac0dfd9-item-e6011ac29d-tab"
                                                class="cmp-tabs__tab"
                                                aria-controls="tabs-5a4ac0dfd9-item-e6011ac29d-tabpanel"
                                                tabindex="-1"
                                                data-cmp-hook-tabs="tab"
                                        >
                                            Services
                                        </li>

                                        <li
                                                role="tab"
                                                id="tabs-5a4ac0dfd9-item-4c67bf013a-tab"
                                                class="cmp-tabs__tab"
                                                aria-controls="tabs-5a4ac0dfd9-item-4c67bf013a-tabpanel"
                                                tabindex="-1"
                                                data-cmp-hook-tabs="tab"
                                        >
                                            Brands
                                        </li>

                                        <li
                                                role="tab"
                                                id="tabs-5a4ac0dfd9-item-1c5a67baae-tab"
                                                class="cmp-tabs__tab"
                                                aria-controls="tabs-5a4ac0dfd9-item-1c5a67baae-tabpanel"
                                                tabindex="-1"
                                                data-cmp-hook-tabs="tab"
                                        >
                                            About Us
                                        </li>
                                    </ol>
                                    <div
                                            id="tabs-5a4ac0dfd9-item-48bd6f9f3b"
                                            role="tabpanel"
                                            aria-labelledby="tabs-5a4ac0dfd9-item-48bd6f9f3b"
                                            tabindex="0"
                                            class="
                                                    cmp-tabs__tabpanel
                                                    cmp-tabs__tabpanel--active
                                                "
                                            data-cmp-hook-tabs="tabpanel"
                                            data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9-item-48bd6f9f3b&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Products&#34;}}"
                                    >
                                        <div class="tabs">
                                            <div
                                                    id="tabs-6ba9f74039"
                                                    class="cmp-tabs"
                                                    data-cmp-is="tabs"
                                                    data-cmp-data-layer="{&#34;tabs-6ba9f74039&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;techdata/components/tabs&#34;}}"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                            id="tabs-5a4ac0dfd9-item-4a4ac41a48"
                                            role="tabpanel"
                                            aria-labelledby="tabs-5a4ac0dfd9-item-4a4ac41a48"
                                            tabindex="0"
                                            class="cmp-tabs__tabpanel"
                                            data-cmp-hook-tabs="tabpanel"
                                            data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9-item-4a4ac41a48&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Solutions&#34;}}"
                                    >
                                        <div class="tabs">
                                            <div
                                                    id="tabs-6093b1cf52"
                                                    class="cmp-tabs"
                                                    data-cmp-is="tabs"
                                                    data-cmp-data-layer="{&#34;tabs-6093b1cf52&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;techdata/components/tabs&#34;}}"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                            id="tabs-5a4ac0dfd9-item-e6011ac29d"
                                            role="tabpanel"
                                            aria-labelledby="tabs-5a4ac0dfd9-item-e6011ac29d"
                                            tabindex="0"
                                            class="cmp-tabs__tabpanel"
                                            data-cmp-hook-tabs="tabpanel"
                                            data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9-item-e6011ac29d&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Services&#34;}}"
                                    >
                                        <div class="tabs">
                                            <div
                                                    id="tabs-724f21363f"
                                                    class="cmp-tabs"
                                                    data-cmp-is="tabs"
                                                    data-cmp-data-layer="{&#34;tabs-724f21363f&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;techdata/components/tabs&#34;}}"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                            id="tabs-5a4ac0dfd9-item-4c67bf013a"
                                            role="tabpanel"
                                            aria-labelledby="tabs-5a4ac0dfd9-item-4c67bf013a"
                                            tabindex="0"
                                            class="cmp-tabs__tabpanel"
                                            data-cmp-hook-tabs="tabpanel"
                                            data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9-item-4c67bf013a&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Brands&#34;}}"
                                    >
                                        <div class="tabs">
                                            <div
                                                    id="tabs-dc98489f52"
                                                    class="cmp-tabs"
                                                    data-cmp-is="tabs"
                                                    data-cmp-data-layer="{&#34;tabs-dc98489f52&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;techdata/components/tabs&#34;}}"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                            id="tabs-5a4ac0dfd9-item-1c5a67baae"
                                            role="tabpanel"
                                            aria-labelledby="tabs-5a4ac0dfd9-item-1c5a67baae"
                                            tabindex="0"
                                            class="cmp-tabs__tabpanel"
                                            data-cmp-hook-tabs="tabpanel"
                                            data-cmp-data-layer="{&#34;tabs-5a4ac0dfd9-item-1c5a67baae&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;About Us&#34;}}"
                                    >
                                        <div class="tabs">
                                            <div
                                                    id="tabs-e7b2c8ecee"
                                                    class="cmp-tabs"
                                                    data-cmp-is="tabs"
                                                    data-cmp-data-layer="{&#34;tabs-e7b2c8ecee&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;techdata/components/tabs&#34;}}"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="
                                            search
                                            cmp-search--dark-blue
                                            aem-GridColumn--default--none
                                            aem-GridColumn
                                            aem-GridColumn--offset--default--1
                                            aem-GridColumn--default--2
                                        "
                                    style="
                                            display: inline-block;
                                            margin-left: 100px;
                                        "
                            >
                                <section
                                        id="search-2f4a01a0e3"
                                        class="cmp-search"
                                        role="search"
                                        data-cmp-is="search"
                                        data-cmp-min-length="3"
                                        data-cmp-results-size="10"
                                >
                                    <form
                                            class="cmp-search__form"
                                            data-cmp-hook-search="form"
                                            method="get"
                                            action="/content/techdata/language-masters/dcp-home-page-with-react.searchresults.json/_jcr_content/root/search"
                                            autocomplete="off"
                                    >
                                        <div
                                                class="cmp-search__field"
                                                style="position: relative"
                                        >
                                            <button
                                                    class="
                                                            cmp-search__clear
                                                        "
                                                    data-cmp-hook-search="clear"
                                            >
                                                <i
                                                        class="
                                                                cmp-search__clear-icon
                                                            "
                                                ></i>
                                            </button>
                                            <input
                                                    class="
                                                            cmp-search__input
                                                        "
                                                    data-cmp-hook-search="input"
                                                    type="text"
                                                    name="fulltext"
                                                    placeholder="Keyword, Part number or Brand"
                                                    role="combobox"
                                                    aria-autocomplete="list"
                                                    aria-haspopup="true"
                                                    aria-invalid="false"
                                                    style="width: 400px"
                                            />
                                            <i
                                                    class="
                                                            cmp-search__icon
                                                            fas
                                                            fa-search
                                                        "
                                                    data-cmp-hook-search="icon"
                                                    style="
                                                            position: absolute;
                                                            top: 8px;
                                                        "
                                            ></i>
                                            <span
                                                    class="
                                                            cmp-search__loading-indicator
                                                        "
                                                    data-cmp-hook-search="loadingIndicator"
                                            ></span>
                                        </div>
                                    </form>
                                    <div
                                            class="cmp-search__results"
                                            data-cmp-hook-search="results"
                                            role="listbox"
                                            aria-multiselectable="false"
                                    ></div>

                                    <script
                                            data-cmp-hook-search="itemTemplate"
                                            type="x-template"
                                    >
                                        <a class="cmp-search__item" data-cmp-hook-search="item">
                                            <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
                                        </a>
                                    </script>
                                </section>
                            </div>
                            <div
                                    class="
                                            signin
                                            aem-GridColumn
                                            aem-GridColumn--default--12
                                        "
                                    style="
                                            display: inline-block;
                                            padding-left: 30px;
                                            padding-right: 30px;
                                        "
                            >
                                <div
                                        id="SignInBox"
                                        data-observe-mutation
                                >
                                    <div
                                            data-component="SignIn"
                                            data-cmp-type="react"
                                            className="signin"
                                            data-config='{
													"label": "Sign In",
													"myEcIdlabel":"test my ecid label",
													"authenticationURL":"http://localhost:3000/",
													"uiServiceEndPoint": "http://localhost:3000/login",
													"clientId":"testciendID",
													"myEcId":"testECID",
													"isPrivatePage" : true,
													"items":[{"linkTitle":"My Dashboard","linkUrl":"/dashboard","iconUrl":"fa fa-user"},{"linkTitle":"Reseller Tools","linkUrl":"/reseller-tools","iconUrl":"fa fa-calculator"},{"linkTitle":"Favorites","linkUrl":"/favorites","iconUrl":"fa fa-heart"}, {"linkTitle":"Account Settings","linkUrl":"/account-settings","iconUrl":"fa fa-cog"}]
												}'
                                    ></div>
                                </div>
                            </div>
                            <div id="Mini cart" data-observe-mutation>
                                <div data-component="MiniCart" data-cmp-type="react" className="minicart"
                                     data-config="{&#34;maxItems&#34;:&#34;99&#34;,
                                    &#34;endpoint&#34;:&#34;http://localhost:3000/activeCart&#34;,
                                    &#34;shopUrl&#34;:&#34;https://shop.cstenet.com/cart&#34;}">
                                </div>
                            </div>
                            <div
                                    class="
                                            button
                                            cmp-button__icon--disabled
                                            aem-GridColumn--default--none
                                            aem-GridColumn
                                            aem-GridColumn--offset--default--0
                                            aem-GridColumn--default--1
                                        "
                                    style="display: inline-block"
                            >
                                <a
                                        type="button"
                                        id="button-e33685947b"
                                        class="cmp-button"
                                        href="https://www.google.com"
                                        data-cmp-clickable
                                        data-cmp-data-layer="{&#34;button-e33685947b&#34;:{&#34;@type&#34;:&#34;techdata/components/button&#34;,&#34;repo:modifyDate&#34;:&#34;2021-01-28T12:34:37Z&#34;,&#34;dc:title&#34;:&#34;USA&#34;,&#34;xdm:linkURL&#34;:&#34;https://www.google.com&#34;}}"
                                >
                                            <span class="cmp-button__icon">
                                                <i class="fas fa-search"></i>
                                            </span>

                                    <span class="cmp-button__text"
                                    >USA</span
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                    class="
                            container
                            responsivegrid
                            aem-GridColumn aem-GridColumn--default--12
                        "
            >
                <div id="container-68f8e28b81" class="cmp-container">
                    <div
                            class="
                                    aem-Grid aem-Grid--12 aem-Grid--default--12
                                "
                            style="text-align: center"
                    ></div>
                </div>
            </div>
            <div
                    class="
                            experiencefragment
                            aem-GridColumn aem-GridColumn--default--12
                        "
            >
                <div
                        id="experiencefragment-f464676325"
                        class="
                                cmp-experiencefragment
                                cmp-experiencefragment--footer
                            "
                >
                    <div
                            id="container-44461fd645"
                            class="cmp-container"
                    >
                        <div class="separator">
                            <div
                                    id="separator-ebe730ff07"
                                    class="cmp-separator"
                            >
                                <hr
                                        class="
                                                cmp-separator__horizontal-rule
                                            "
                                />
                            </div>
                        </div>
                        <div class="text">
                            <div
                                    data-cmp-data-layer="{&#34;text-e1ca7549ef&#34;:{&#34;@type&#34;:&#34;techdata/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Copyright 2021, Tech Data.&amp;nbsp;All rights reserved.&lt;/p>\r\n&#34;}}"
                                    id="text-e1ca7549ef"
                                    class="cmp-text"
                            >
                                <p>
                                    Copyright 2021, Tech Data. All
                                    rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/etc.clientlibs/techdata/clientlibs/clientlib-react.js"></script>
<script src="/etc.clientlibs/techdata/clientlibs/clientlib-site.js"></script>
<script src="/etc.clientlibs/core/wcm/components/commons/site/clientlibs/container.js"></script>
<script src="/etc.clientlibs/techdata/clientlibs/clientlib-base.js"></script>
</body>
</html>
