<!-- Intouch JS scripts in Footer -->
<script type="text/javascript">
    (function () {
        'use strict';
        window.tdGlobal = {
            salesLogin: '',
            version: '5.40025'
        };
    })(window);
</script>
<script type="text/javascript">
    (function () {
        'use strict';
        window.td = {
            homePageUrl: '',
            intouchBaseUrl: 'https://intouch.staging.tdsynnex.eu',
            landingPageURl: '',
            intouchAdminBaseUrl: 'https://intouchadmin.staging.tdsynnex.eu',
            intouchAdminLocalUrl: 'http://localhost:8023',
            intouchAdminEndpointUrl: 'https://intouchadmin.staging.tdsynnex.eu/Intouch',
            intouchRelativeUrl: '/Intouch',
            intouchMVCRelativeUrl: '/InTouch/MVC/',
            promotionPageUrl: 'https://intouchadmin.staging.tdsynnex.eu/intouch/AdminFE/PromotionList/MSPromotionMaintence',
            domainCheckURL: 'https://intouchadmin.staging.tdsynnex.eu/intouch/AdminFE/api/DomainValidator/Index',
            rawUrl: '/InTouch/MVC/Header/JS?',
            pDPSRPBreadcrumbLink: '',
            marketingPortalUrl: 'https://mpf.staging.tdsynnex.eu',
            host: '',
            countryCode: '',
            language: '',
            rootPath: '/InTouch/MVC/',
            TDSynnex: '1',
            rootScope: {
                $broadcast: function () { }
            },
            deferred: {
                $htmlLoaded: function () { },
                $requireJSLoaded: function () { },
                $gtmLoaded: function () { }
            },
            gtm: {
                gtmCode: 'GTM-KPQGNF',
                gtmCountryCode: ''
            }
        };
    })(window);
</script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/angular_framework_js?v=ivTivrK2MhcdQ4a7KiI9twzSL-PlfQpQD667ahePaq41"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/externals_js?v=8kEkHbvVpjvKWDNVQr2t1_vckwU29afTLUp9Vyci7Z01"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/components_js?v=OXCco4ETiE10KfDI9xLWQPrquapjjfV_TeKvOWAyVn01"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/common_js?v=OKofC8lyllxMddeAm0h16kwKfJnBFBKyuyZwp-iQzWY1"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/require_js?v=gvXsIgWQFvqsecXDMNKRlmRp2WlBzv7T8roZladYnKk1"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/private_require_dynamic_js?v=Q1RAk1IxPWmVxGe9WBGnJmH0ZitL0NPl3Q0DQcYaxqg1"></script>

<script type="text/javascript" src="https://intouch.staging.tdsynnex.eu/InTouch/MVC/bundles/marketo_js?v=LEAMW-tG1x83Z7EBylWH1SM285iME17aFOgjJ-G7nB81"></script>

<script type="text/javascript">
    window.td.deferred.$htmlLoaded = $.Deferred();
    window.td.deferred.$requireJSLoaded = $.Deferred();
    window.td.deferred.$gtmLoaded = $.Deferred();

    $.when(window.td.deferred.$htmlLoaded, window.td.deferred.$requireJSLoaded).done(function () {
        console.log("Angular bootstrap triggered!");
        angular.bootstrap(document, ['tdInTouch']);
    });
</script>

<!-- End Intouch JS scripts in Footer -->