<footer>
    <div id="footer">
        <div class="footerCOS" id="ctl00_ucFooterCOS">
            <div id="DVFooterSpecialist">
                <div id="ctl03_dvFooter">
                    <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/InTouch/MVC/Microsite/Private?categorypageid=21980&amp;msmenuid=23629&amp;MenuId=12307" target="_blank">Privacy Statement</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/Intouch/Home.aspx?RefURL=http://wwwmp.integration.techdata.co.uk/?TemplateID=21&amp;AsClass=&amp;Vendor=&amp;MenuId=10341&amp;corpregionid=14&amp;MenuId=7916" target="_blank">Contact Us</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/InTouch/MVC/Microsite/Private?categorypageid=21981&amp;msmenuid=23630&amp;MenuId=12308" target="_blank">Security Awareness</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=http://wwwmp.integration.techdata.co.uk/?cos=&amp;ShMenuId=9798&amp;MenuId=12306&amp;MenuId=12306" target="_blank">Terms and Conditions</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/intouch/sitemap.aspx?MenuId=12310&amp;MenuId=12310" target="_blank">Site Map</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://techdatacareers.co.uk&amp;MenuId=14357&amp;MenuId=14357" target="_blank">Careers</a>
                    <span>|</span>                                <a href="https://intouch.staging.tdsynnex.eu/InTouch/Home.aspx?RefURL=https://intouch.staging.tdsynnex.eu/InTouch/MVC/#&amp;MenuId=15059&amp;sessionid=20336431582299010D98D4C767E4B88865AD29DA5C897B4" target="_blank">Cookie Settings</a>
                </div>
            </div>
        </div>
    </div>
</footer>