@import "../../variables";
@import "../../../site/variables";

.cmp-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-custom-xxsmall;
  position: relative;
  font-weight: normal;

  &__wrapper {
    align-self: center;
    justify-content: space-between;
    margin-left: auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: right;
      list-style: none;
      color: get-color(brand-white);

      li {
        padding: 0 rem(13px) !important;
        line-height: normal;

        &+li {
          border-left: rem(1px) solid get-color(brand-white);
        }

        a,
        span {
          color: get-color(brand-white);
          text-decoration: none;
        }

      }
    }

    &__child {

      align-items: center;

      &--right {
        align-items: center;

        @include mobile {
          margin: 0 auto !important;
        }

      }

      &--left {
        align-items: center;
      }
    }


    &__tablist {
      &__menu {
        position: absolute;
        z-index: 999;
        top: rem(60px);
        left: rem(0);
        background-color: get-color(brand-white);
        width: 1440px;
        height: rem(417px);
        display: flex;
        justify-content: space-evenly;

        &__item {
          padding-left: rem(15px);
          padding-right: rem(30px);

          h2 {
            font-size: $font-size-custom-xxsmall;
            color: get-color(text-light-charcoal);
            text-align: left;
          }

          img {
            width: rem(392px);
            height: rem(280px);
          }

        }
      }
    }
  }

  &--sub-nav, &--sub-nav>.cmp-sub-header--content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    //grid-template-columns: 75% 25%;
    width: 100%;
    align-items: center;
    height: 0;

    >ol {
      margin: 0;
      padding: 0;

      &.cmp-tabs__tablist li {

        &:first-child,
        &.dashboard {
          //margin-right: rem(54px);
        }
      }

      >li {
        display: inline-flex;
        position: relative;
        padding: 0 !important;
        z-index: 10;
        margin-right: rem(28px);

        span, a
         {
          color: get-color(brand-white);
          text-decoration: none;
          display: flex;
          justify-content: right;
          position: relative;
          line-height: 2.5rem;

          &:hover {
            box-shadow: none;
            font-weight: bolder;            
          }
        }

        &.cmp-tabs__tab--active,
        &.active,
        &:hover {
          background: transparent;
          border-bottom: 0 none;

          a,
          span {
            box-shadow: none;
            font-weight: bolder;
          }
        }

        &:hover>ul {
          display: flex;
          visibility: visible;
        }

        &:first-child {
          //margin-right: rem(54px);
        }

      }
    }

    
    @include mobile {
      display: grid !important;

      .cmp-sub-header__wrapper ul li+li {
        display: none !important;
        border-left: rem(0px) solid get-color(brand-white);
      }

    }

  }
}

.cmp-new-subheader {
  .cmp-sub-header__menu--hide {
    display: none;
  }
}

@mixin subheader-span-border-bottom {
  > ol {
    > li {
      a,
      span.cmp-sub-header__span {
        height: rem(40px);
        box-shadow: unset;

        &:hover {
          border-bottom-width: rem(2px);
          border-bottom-style: solid;
          border-bottom-color: inherit;
        }
      }

      &.cmp-tabs__tab--active {
        a,
        span.cmp-sub-header__span {
          border-bottom-width: rem(2px);
          border-bottom-style: solid;
          border-bottom-color: inherit;
        }
      }
      
      &:first-child {
        margin-left: rem(48px);
      }
    }
  }
}

.cmp-sub-header {
  &--sub-nav {
    &.new-sub {
      height: rem(44px);
      @include subheader-span-border-bottom;


      &>.cmp-sub-header--content {
        position: relative;
        margin: auto !important;
        max-width: 90rem;
        width: 100%;
        padding-left: rem(42px);

        @media (max-width: 1023px) {
          padding-left: rem(73px);
        }

        @include mobile{
          padding-left: rem(39px);
        }

        .cmp-tabs__tablist {

          &>.cmp-tabs__tab {
            span.cmp-sub-header__span {
              height: 2.5rem;
              a {
                height: 2.5rem;
                &:hover {
                  box-shadow: none;
                  font-weight: bolder;
                }
              }


              &:hover {
                box-shadow: unset;
              }
            }
            &.cmp-tabs__tab--active{
              span.cmp-sub-header__span {
                & {
                  box-shadow: unset;
                }
                a {
                    box-shadow: none;
                    font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    &__title {
      font-weight: bold;
      color: get-color(brand-white);
      display: flex;
      align-items: center;
      height: inherit;

      span.cmp-sub-header__span {
        line-height: 2.5;
        padding-right: rem(48px)!important; 
        @media (max-width: 1023px) {
          padding-right: rem(40px)!important;
        }

        @include mobile{
          padding-right: rem(7px)!important;
        }
      }
    }

    &__image {
      padding-right: 48px;
      @media (max-width: 1023px) {
        padding-right: rem(40px);
      }

      @include mobile{
        padding-right: rem(7px);
      }

      img {
        max-width: 100%;
        height: 16px;
      }
    }
  }
}

/* StreamOne Styling */
.subheader {
  &.cmp-sub-header-stream-one {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          background-color: get-color(deep-teal);
          @include subheader-span-border-bottom;
        }
      }
    }
  }
}

/* DPB Styling */
.subheader {
  &.cmp-sub-header-dpb {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          background-color: get-color(secondary-ivory);
          a,
          span.cmp-sub-header__span {
            color: get-color(deep-teal);
          }

          @include subheader-span-border-bottom;
        }
      }
    }
  }
}

.subheader {
  font-family: Arial, Helvetica, sans-serif;

  &.cmp-sub-header-no-logo {
    .cmp-tabs {
      .cmp-tabs__tablist {
        .cmp-sub-header__span {
        }
      }
    }
  }
}

@media (min-width: 768.99px) and (max-width: 1199.98px) { 
  .subheader {
    &.cmp-sub-header-no-logo {
      .cmp-tabs {
        .cmp-sub-header--sub-nav {
          display: flex !important;

          .cmp-sub-header--content {
            height: 0;

            .cmp-sub-header--sub-nav__title {
            }        
        }
      }

        .cmp-tabs__tablist {
          .cmp-sub-header__span {
            top: 0;
          }
        }
      }
    }

  .cmp-tabs {
    height: unset;

    .cmp-sub-header--sub-nav {

      &.new-sub {

      .cmp-sub-header--sub-nav__title {
        margin-top: 0;
      }
    }
  }
}
}
 }

@media (max-width: 768.98px) {
  .subheader {    
      &.cmp-sub-header-no-logo {        
        .cmp-sub-header--content {
          display: flex!important;
          height: 0px!important;
    
          .cmp-sub-header--sub-nav__title {
            margin-top: 0!important;
          }

          ol li {
            top: 0;
          }
        }

        .cmp-tabs {

          .cmp-sub-header--sub-nav {
            display: flex !important;
          }

          .cmp-tabs__tablist {
            display: flex;
            height: unset!important;

            .cmp-sub-header__span {
              top: 0;
            }
          }
        }
      }

      .cmp-sub-header--content {
        height: 60px;
      }

    .cmp-tabs {
      height: 60px;

      .cmp-sub-header--sub-nav {
        display: block!important;
        white-space: nowrap;

        &.new-sub {
          top: 45px;

        .cmp-sub-header--sub-nav__title {
          height: 16px;
          margin-top: 7px;
          margin-left: 0px;

          .cmp-sub-header--sub-nav__image {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            text-align: -webkit-center;

            image {
              height: 18px;
            }
          }
        }

        .cmp-tabs__tablist {
          white-space: nowrap;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          overscroll-behavior-x: contain;
          scroll-snap-type: x mandatory;
          display: grid;
          grid-auto-flow: column;
          gap: 1rem;
          grid-template-rows: auto;
          overflow-y: hidden;
          height: 60px;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
  }
}

.subheader{
  >.cmp-tabs{
    &.cmp-experiencefragment__subheader--sticky {
      position: fixed;
      z-index: 9998;
      opacity: 1;
    }
    &.cmp-experiencefragment__subheader--sticky--opaque {
      opacity: 0.85;
    }
  }
}

.subheader {
  &.cmp-sub-header-border-bottom-teal {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'teal');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-deep-teal {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(deep-teal);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-aqua {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'aqua');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-chartreuse {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'chartreuse');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-black {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'black');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cool-gray-8 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cool-gray-8);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cool-gray-10 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cool-gray-10);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-white {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'white');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-steel-blue {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(steel-blue);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-navy {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'navy');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-copper {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'copper');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-green {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'green');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-stone {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(stone);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cool-gray-1 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cool-gray-1);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-purple {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'purple');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-plum {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'plum');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-citron {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'citron');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cherry {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cherry);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-amber {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(amber);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-forest {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'forest');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cobalt {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cobalt);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-charcoal {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'charcoal');
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-cool-gray-9 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(cool-gray-9);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-neutral-gray-2 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(neutral-gray-2);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-neutral-gray-1 {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid get-color(neutral-gray-1);
        }
      }
    }
  }
  &.cmp-sub-header-border-bottom-brilliant {
    .cmp-sub-header {
      &--sub-nav {
        &.new-sub {
          border-bottom: 1px solid map-get($color-palette, 'brilliant');
        }
      }
    }
  }
}
