<!-- @format -->

<div data-observe-mutation>
  <div data-component="OrdersTrackingGrid" data-cmp-type="react" className="cmp-orders-tracking-grid"></div>
</div>
<script>
  const renewalsGridDom = document.querySelector("[data-component='OrdersTrackingGrid']");
  const AEM_DATA = {
    detailUrl: "/content/tds-site/uk/en/dcp/orders-tracking/order-tracking-details",
    menuCopy: "Copy",
    reportLabels: {
      openOrdersLabel: "Open Orders",
      newBacklogLabel: "New Backlog",
      eolReportLabel: "End of Life Orders",
      todaysShipmentsDeliveriesLabel: "Today's Shipments/Deliveries",
      last7DaysOrdersLabel: "Last 7 Days Orders",
      last30DaysOrdersLabel: "Last 30 Days Orders",
      last7DaysShipmentsLabel: "Last 7 Days Shipments",
      last30DaysShipmentsLabel: "Last 30 Days Shipments",
    },
    reportPillLabel: "Report",
    menuCopyWithHeaders: "Copy with headers",
    menuExport: "Export",
    filterTooltip: "Filtering by date, status and order type",
    reportTooltip: "Predefined reports",
    settingsTooltip: "Pro-active messaging settings",
    exportTooltip: "Export to excel",
    columnList: [
      {
        columnLabel: "",
        columnKey: "select",
        sortable: false,
        type: "buttonList",
      },
      {
        columnLabel: "Updated",
        columnKey: "updated",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Ship to",
        columnKey: "shipTo",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Status",
        columnKey: "statusText",
        sortable: false,
        type: "plainText",
      },
      {
        columnLabel: "Order Date",
        columnKey: "created",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Order Nº",
        columnKey: "id",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "PO Nº",
        columnKey: "customerPO",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Total",
        columnKey: "priceFormatted",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Invoices",
        columnKey: "invoices",
        sortable: false,
        type: "plainText",
      },
      {
        columnLabel: "D-Notes",
        columnKey: "deliveryNotes",
        sortable: false,
        type: "plainText",
      },
    ],
    orderLineDetails: {
      migrationInfoBoxText: "Due to data migration, a new order was created for items that have not been shipped.",
      originalInfoBoxText: "Due to data migration, this new order was created for items that have not been shipped in a previous order.",
      viewOrderText: "View order",
      shippedLabel: "Shipped",
      notShippedLabel: "Not Shipped",
      itemsLabel: "items",
      trackLabel: "Track",
      modifyEligibleItemsLabel: "Modify eligible items",
      titleReleaseModal: "Release order",
      orderNoString: "Order №",
      PONoString: "PO №",
      upperText: 'Releasing your order will remove the "ship complete" block from your order and cannot be undone.',
      lowerText: 'Select "Release Order" to allow items to ship as they become available.',
      cancelString: "Cancel",
      releaseOrderString: "Release Order",
      releaseButtonLabel: "Release the order",
      releaseSuccessText: '"Complete Delivery Flag" has been removed from your order.',
      releaseFailText: "It wasn't possible to complete your request at this time. Please try again later.",
    },
    orderLineDetailsShippedColumnLabels: {
      dropdownArrow: "",
      shipDate: "SHIP DATE",
      dnote: "D-NOTE",
      invoice: "INVOICE",
      qty: "QTY",
      track: "",
    },
    orderLineDetailsNotShippedColumnLabels: {
      lineNumber: "LINE",
      item: "ITEM",
      pnsku: "PN/SKU",
      nqty: "QTY",
      deliveryEstimate: "DELIVERY ESTIMATE",
    },
    searchOptionsList: [],
    searchTitleLabel: "Search",
    searchEnterLabel: "Enter",
    searchLabels: {
      orderNo: "Order Nº",
      dnoteNo: "D-note Nº",
      invoiceNo: "Invoice Nº",
      poNo: "PO Nº",
      serialNo: "Serial Nº",
    },
    uiCommerceServiceDomain: "http://localhost:3000/ui-commerce",
    uiProactiveServiceDomain: "http://localhost:3000/ui-proactive",
    shopURL: "https://shop.cstenet.com/renewals",
    agGridLicenseKey: "CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79",
    pageTitle: "Order Tracking",
    itemsPerPage: "25",
    paginationStyle: "scroll",
    options: {
      defaultSortingColumnKey: "created",
      defaultSortingDirection: "desc",
    },
    filterListValues: [],
    productGrid: {
      quoteIdLabel: "Quote ID:",
      refNoLabel: "Ref No:",
      expiryDateLabel: "Expiry Date:",
      downloadPDFLabel: "Download PDF",
      showDownloadPDFButton: true,
      downloadXLSLabel: "Download XLS",
      showDownloadXLSButton: true,
      seeDetailsLabel: "See details",
      showSeeDetailsButton: true,
    },
    icons: {
      overdue: { overdueIcon: "fas fa-bell", overdueIconColor: "#CD163F" },
      "0-30": {
        afterZeroIcon: "fas fa-alarm-clock",
        afterZeroIconColor: "#F7B500",
      },
      "31-60": {
        afterThirtyIcon: "fas fa-clock",
        afterThirtyIconColor: "#38853C",
      },
      "61+": { sixtyPlusIcon: "calendar", sixtyPlusIconColor: "#006FBA" },
    },
    dateOptionValues: [
      { label: "Overdue", field: "overdue" },
      { label: "Today", field: "today" },
      { label: "0 - 30 days", field: "30" },
      { label: "31 - 60 days", field: "60" },
      { label: "61 - 90 days", field: "90" },
      { label: "91+ days", field: "91" },
      { label: "Custom date range", field: "custom" },
    ],
    displayCurrencyName: true,
    orderingFromDashboard: {
      showOrderingIcon: true,
      placeOrderDialogTitle: "To continue placing your order for ({enduser-companyname}) please provide the following information.",
      termsAndConditions: "I have read and accept Terms & Conditions",
      termsAndConditionsLink: "https://www.techdata.com/content/visitor/abouttd/conditions.aspx",
      successSubmission: "Your order has been successfully submitted for processing. You will receive an email once processing is complete",
      failedSubmission: "Please try again. If the error persists please contact us at ({email})",
      noResponseMessage: "We are sorry, your order could not be processed, please try again later.",
    },
    hideExportOption: false,
    hideCopyHeaderOption: false,
    searchResultsError: {
      noResultsTitle: "No Results Found",
      noResultsDescription: "There are no results for your search criteria. Adjust your search and filter choices to improve results.",
      noResultsImage: "/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png",
      noDataTitle: "No Results Found",
      noDataDescription: "There are no results for your current search. Adjust search criteria to improve results.",
      noDataImage: "/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png",
    },
    defaultSearchDateRange: "30",
    last30DaysCriteria: "Showing results from the last 30 days.",
    last90DaysCriteria: "Showing results from the last 90 days. Apply a Date Range filter to see results for more specific dates",
    multiple: "multiple",
    eolSeeOptions: "See options",
    endOfLife: "End Of Life",
    eolUpdateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
    shipToTooltipTemplate: "{name}<br/>{address.line1}<br/>{address.line2}<br/>{address.line3}<br/>{address.city} {address.state} {address.zip} {address.country}",
    iconsStatuses: {
      completeDeliveryOnly: "Complete Delivery Only",
      iconInvestigation: "Investigation",
      rejected: "Order Rejected",
      completed: "Order Completed",
    },
    orderModifyLabels: {
      addNewItem: "Add new Item",
      editQuantities: "Edit quantities of eligible items - if a line from your order is not listed here, it is not possible to modify that line",
      lineTotal: "Line total",
      modifyOrder: "Modify order",
      flyoutCancel: "Cancel",
      update: "Update",
      manufacturersPartNumber: "Manufacturer's part number",
      quantity: "Quantity",
      add: "Add",
      lineMfgPartNo: "Mfr. №:",
      additionalQuantityAdded: "Additional quantities will show in the Order Details page as a new line",
      selectReasonLabel: "Select reason for rejection*",
      rejectionPrice: "Price",
      rejectionAvailability: "Availability",
      rejectionOther: "Other",
      rejectionRequiredInfo: "This is required field",
      cancelNewItem: "Cancel",
      updateSucessMessage: "Your order has been successfully updated as requested",
      updateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
      updateErrorListMessage: "We weren't able to complete the following updates:",
      line: "Line",
      reduceQuantity: "Reduce Quantity",
      addNewLine: "Add new line",
      pleaseTryAgain: "Please try again.",
      newItemInfo: "The item will show in the order detail as a new line.",
      newItemRemove: "Remove",
      newItemErrorMessage: "Product not found.",
      sorry: "Sorry,",
      thereAreNoItemsAddNew: "there are no items eligible to modify, but you can add a new line to your order",
      thereAreNoItems: "there are no items eligible to modify, but you can create a new order"
    },
    settingsFlyoutLabels: {
      switchLabel: "Notification options selected here apply to orders shipped via DHL, TNT, and JEP.",
      cancelSettingsChange: "Cancel",
      save: "Save",
      notificationMessages: "Notifications messages",
      notificationTypes: "Notification types",
      notificationEmails: "Notification email(s)",
      rangeIntouchOnly: "All orders placed by my InTouch account via InTouch ONLY",
      rangeTdSynnex: "All orders placed against my TD SYNNEX account (InTouch, Manual, EDI/XML etc.)",
      shippedFromTDSWarehouse: "Shipped from TDSynnex warehouse",
      outForDelivery: "Out for delivery",
      delivered: "Delivered",
      deliveryException: "Delivery exceptions",
      defaultEmailAddress: "Default Email Address",
      addAnotherEmail: "Add another email address",
      newEmailAddress: "New email address",
      emailsErrorMessage: "You must select at least one email for notifications",
      forInternalUseOnly: "For Internal use only. Communications may contain sensitive information.",
      settingsSuccessMessage: "You updated the notification settings for InTouch orders successfully.",
      settingsErrorMessage: "Update of notification settings failed. Please try again later",
      adjustSettings: "Adjust Settings",
    },
    dNotesFlyout: {
      title: "D-notes",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    dNoteColumnList: [
      {
        columnLabel: "D-note №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "actualShipDateFormatted",
      },
    ],
    invoicesFlyout: {
      title: "Invoices",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    invoicesColumnList: [
      {
        columnLabel: "Invoice №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "dateFormatted",
      },
    ],
    exportFlyout: {
      title: "Export",
      descriptionMessage: "InTouch can export up to 500 orders at a time.  Apply filters to refine your results.",
      description: "Send to",
      secondaryDescription: "Details to include",
      button: "Export",
      exportSuccessMessage: "Your .xlsx export has been created successfully.",
    },
    exportOptionsList: [{ label: "Exel (.xlxs)", key: "exportOptionsListKey" }],
    exportSecondaryOptionsList: [
      { label: "Export all order lines", key: "exportAllOrderLinesKey" },
      { label: "Export lines with serial numbers only", key: "exportLinesWithSerialNumbersKey" },
    ],
    productReplacementFlyout: {
      replacementModifyOrder: "Modify order",
      pleaseSelect: "Please select one of the following options to replace the line item.",
      qtyReplacement: "Qty",
      unitCost: "Unit cost",
      replaceWithSuggestedItem: "Replace item with the suggested item",
      removeWithoutReplacement: "Cancel selected line item from your order without selecting a replacement",
      cancelReplacement: "Cancel",
      updateReplacement: "Update",
      lineTotalReplacement: "Line total",
      quantityReplacement: "Qty",
      lineMfgPartNoReplacement: "Mfg №:",
      replacementUpdateSucessMessage: "Your order has been successfully updated as requested",
      replacementUpdateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
      replacementUpdateErrorListMessage: "We weren't able to complete the following updates:",
      replacementLine: "Line",
      replacementReduceQuantity: "Reduce Quantity",
      replacementAddNewLine: "Add new line",
      replacementPleaseTryAgain: "Please try again.",
    },
    filterListValues: [
      {
        accordionLabel: "My custom filter",
        filterField: "InvoiceId",
        filterOptionsValues: [
          { filterOptionLabel: "Six", filterOptionKey: "666" },
          { filterOptionLabel: "Five", filterOptionKey: "555" },
          { filterOptionLabel: "Four", filterOptionKey: "444" },
        ],
      },
      {
        accordionLabel: "My custom filter1",
        filterField: "IdType",
        filterOptionsValues: [
          { filterOptionLabel: "Three", filterOptionKey: "333" },
          { filterOptionLabel: "Two", filterOptionKey: "222" },
          { filterOptionLabel: "One", filterOptionKey: "111" },
        ],
      },
    ],
    dateOptionsList: [{ label: "My custom date", key: "mock" }],
    filterLabels: {
      filterType: "static",
      startLabel: "Start",
      endLabel: "End",
      filterTitle: "Filters",
      showResultLabel: "Show Result",
      dateRange: "Date Range",
      orderStatus: "Order Status",
      orderType: "Order Type",
      open: "Open",
      investigation: "Investigation",
      shipping: "Shipping",
      reject: "Reject",
      complete: "Complete",
      cancelled: "Cancelled",
      onHold: "On Hold",
      shipped: "Shipped",
      inProcess: "In Process",
      inTouch: "In Touch",
      ediOrXml: "EDI or XML",
      consignmentFillUp: "Consignment Fill-Up",
      license: "License",
      tdmrsProject: "TDMRS Project",
      manual: "Manual",
      tdStaffPurchase: "TD Staff purchase",
      projectOrder: "Project order",
      quotationLabel: "Quotation",
      thirdParty: "Third Party",
      licensing: "Licensing",
      stockingOrder: "Stocking Order",
      streamOne: "Stream One",
      orderDateLabel: "Order Date",
      shipDateLabel: "Ship Date",
      invoiceDateLabel: "Invoice Date",
      datePlaceholder: "MM/DD/YYYY",
      dateFormat: "MM/DD/YYYY",
      shortDateFormat: "D.MMM"
    },
    noAccessProps: {
      noAccessTitle: "Access permisions needed",
      noAccessMessage: "Looks like your credentials don't include this area. If you feel this is a mistake, please contact your administrator to request a change.",
      noAccessBack: "Go back",
    },
    analyticsCategories: {
      sort: "Sort",
      search: "Search",
      filter: "Filter",
      export: "Export",
      report: "Report",
      pagination: "Pagination",
    },
    paginationLabels: {
      ofLabel: "of",
      resultsLabel: "results",
    },
    statusesLabels: {
      statusesTitle: "Order status explained",
      statusesClose: "Close",
      statusesList: [
        {
          title: "Acknowledged",
          explanation: "We have received your order."
        },
        {
          title: "Estimated",
          explanation: "We have a PO open with the supplier that will fulfill your order, but they didn't confirm the delivery date yet."
        },
        {
          title: "Confirmed",
          explanation: "This delivery date was provided by the supplier of the product."
        },
        {
          title: "Available",
          explanation: "The product is available in our TD SYNNEX warehouse, but it cannot be shipped yet. For example, we are waiting for the other products in the order."
        },
        {
          title: "Shipped",
          explanation: "The product has been shipped to its final destination."
        },
        {
          title: "Constraint",
          explanation: "There is a constraint situation, and at the moment it is uncertain when the stock will be available for your order."
        },
        {
          title: "Expedited",
          explanation: "The supplier agreed to give your order a higher priority."
        },
        {
          title: "Transit",
          explanation: "The stock that will fulfill your order are now in transit to our TD SYNNEX warehouse."
        },
        {
          title: "Investigation",
          explanation: "The delivery date was flagged by our internal quality controls. We are reviewing the delivery date with our supplier."
        },
        {
          title: "Damaged",
          explanation: "The product arrived damaged at our warehouse - or was missing during the scheduled delivery. We are looking for a solution with the supplier."
        },
        {
          title: "Late Delivery",
          explanation: "We passed the expected delivery date, and working on getting you a new confirmation from the supplier."
        },
        {
          title: "Delivered",
          explanation: "The product has been delivered at its final destination. It could still be open in the backlog for administrative reasons (e.g. a price issue being resolved)."
        }
      ]
    },
  };
  renewalsGridDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
