<!-- @format -->

<div data-observe-mutation>
  <div
    data-component="OrdersTrackingGrid"
    data-cmp-type="react"
    className="cmp-orders-tracking-grid"
  ></div>
</div>
<script>
  const renewalsGridDom = document.querySelector(
    "[data-component='OrdersTrackingGrid']"
  );
  const AEM_DATA = {
    detailUrl:
      "/content/tds-site/uk/en/dcp/orders-tracking/order-tracking-details",
    menuCopy: "Copy",
    reportLabels: {
      openOrdersLabel: "Open Orders",
      newBacklogLabel: "New Backlog",
      eolReportLabel: "End of Life Orders",
      todaysShipmentsDeliveriesLabel: "Todays Shipments Deliveries",
      last7DaysOrdersLabel: "Last 7 Days Orders",
      last30DaysOrdersLabel: "Last 30 Days Orders",
      last7DaysShipmentsLabel: "Last 7 Days Shipments",
      last30DaysShipmentsLabel: "Last 30 Days Shipments",
    },
    reportPillLabel: "Report",
    menuCopyWithHeaders: "Copy with headers",
    menuExport: "Export",
    columnList: [
      {
        columnLabel: "",
        columnKey: "select",
        sortable: false,
        type: "buttonList",
      },
      {
        columnLabel: "Updated",
        columnKey: "updated",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Ship to",
        columnKey: "shipTo",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Status",
        columnKey: "statusText",
        sortable: false,
        type: "plainText",
      },
      {
        columnLabel: "Order Date",
        columnKey: "created",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Order Nº",
        columnKey: "id",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "PO Nº",
        columnKey: "customerPO",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Total",
        columnKey: "priceFormatted",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Invoices",
        columnKey: "invoices",
        sortable: false,
        type: "plainText",
      },
      {
        columnLabel: "D-Notes",
        columnKey: "deliveryNotes",
        sortable: false,
        type: "plainText",
      },
    ],
    orderLineDetails: {
      shippedLabel: "Shipped",
      notShippedLabel: "Not Shipped",
      itemsLabel: "items",
      trackLabel: "Track",
      modifyEligibleItemsLabel: "Modify eligible items",
      title: "Release order",
      orderNoString: "Order Nº",
      PONoString: "PO Nº",
      upperText: "Releasing your order will remove the \"ship complete\" block from your order and cannot be undone.",
      lowerText: "Select \"Release Order\" to allow items to ship as they become available.",
      cancelString: "Cancel",
      releaseOrderString: "Release Order",
      releaseButtonLabel: "Release the order",
      releaseSuccessText: "\"Complete Delivery Flag\" has been removed from your order.",
      releaseFailText: "It wasn't possible to complete your request at this time. Please try again later.",
    },
    orderLineDetailsShippedColumnLabels: {
      dropdownArrow: '',
      shipDate: 'SHIP DATE',
      dnote: 'D-NOTE',
      invoice: 'INVOICE',
      value: 'VALUE',
      qty: 'QTY',
      track: '',
    },
    orderLineDetailsNotShippedColumnLabels: {
      lineNumber: 'LINE',
      item: 'ITEM',
      pnsku: 'PN/SKU',
      nqty: 'QTY',
      deliveryEstimate: 'DELIVERY ESTIMATE',
    },
    searchOptionsList: [],
    searchEnterLabel: "Enter",
    searchLabels:{
      orderNo: "Order Nº",
      dnoteNo: "D-note №",
      invoiceNo: "Invoice №",
      poNo: "PO Nº",
      serialNo: "Serial Nº",
    },
    uiCommerceServiceDomain: "http://localhost:3000/ui-commerce",
    uiProactiveServiceDomain: "http://localhost:3000/ui-proactive",
    uiServiceEndPoint: "http://localhost:3000/ui-commerce/v2/orders",
    uiServiceEndPointForDetails: "http://localhost:3000/ui-commerce/v2/order",
    ordersReportEndpoint: "http://localhost:3000/ui-commerce/v2/ReportOrders",
    ordersReportCountEndpoint:
      "http://localhost:3000/ui-commerce/v2/ReportOrdersCount",
    exportAllOrderLinesEndpoint: "http://localhost:3000/ui-commerce/v2/OrdersExport",
    exportLinesWithSerialNumbersOnlyEndpoint: "http://localhost:3000/ui-commerce/v2/ReportOrdersExport",
    orderModifyEndpoint: "http://localhost:3000/ui-commerce/v2/OrderModify",
    orderModifyChangeEndpoint: "http://localhost:3000/ui-commerce/v2/OrderModifyChange",
    shopURL: "https://shop.cstenet.com/renewals",
    agGridLicenseKey:
      "CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79",
    itemsPerPage: "25",
    paginationStyle: "scroll",
    options: {
      defaultSortingColumnKey: "created",
      defaultSortingDirection: "desc",
    },
    filterListValues: [],
    productGrid: {
      quoteIdLabel: "Quote ID:",
      refNoLabel: "Ref No:",
      expiryDateLabel: "Expiry Date:",
      downloadPDFLabel: "Download PDF",
      showDownloadPDFButton: true,
      downloadXLSLabel: "Download XLS",
      showDownloadXLSButton: true,
      seeDetailsLabel: "See details",
      showSeeDetailsButton: true,
    },
    icons: {
      overdue: { overdueIcon: "fas fa-bell", overdueIconColor: "#CD163F" },
      "0-30": {
        afterZeroIcon: "fas fa-alarm-clock",
        afterZeroIconColor: "#F7B500",
      },
      "31-60": {
        afterThirtyIcon: "fas fa-clock",
        afterThirtyIconColor: "#38853C",
      },
      "61+": { sixtyPlusIcon: "calendar", sixtyPlusIconColor: "#006FBA" },
    },
    dateOptionValues: [
      { label: "Overdue", field: "overdue" },
      { label: "Today", field: "today" },
      { label: "0 - 30 days", field: "30" },
      { label: "31 - 60 days", field: "60" },
      { label: "61 - 90 days", field: "90" },
      { label: "91+ days", field: "91" },
      { label: "Custom date range", field: "custom" },
    ],
    displayCurrencyName: true,
    orderingFromDashboard: {
      showOrderingIcon: true,
      placeOrderDialogTitle:
        "To continue placing your order for ({enduser-companyname}) please provide the following information.",
      termsAndConditions: "I have read and accept Terms & Conditions",
      termsAndConditionsLink:
        "https://www.techdata.com/content/visitor/abouttd/conditions.aspx",
      successSubmission:
        "Your order has been successfully submitted for processing. You will receive an email once processing is complete",
      failedSubmission:
        "Please try again. If the error persists please contact us at ({email})",
      noResponseMessage:
        "We are sorry, your order could not be processed, please try again later.",
    },
    hideExportOption: false,
    hideCopyHeaderOption: false,
    searchResultsError: {
      noResultsTitle: "No Results Found",
      noResultsDescription:
        "There are no results for your search criteria. Adjust your search and filter choices to improve results.",
      noResultsImage:
        "/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png",
      noDataTitle: "No Results Found",
      noDataDescription: "There are no results for your current search. Adjust search criteria to improve results.",
      noDataImage:
        "/content/dam/tds-site/tds-site-shared/error-icons/search-error-tds.png",      
    },
    defaultSearchDateRange: "30",
    multiple: "multiple",
    orderModifyLabels: {
      addNewItem: "Add new Item",
      editQuantities: "Edit quantities of eligible items",
      lineTotal: "Line total",
      modifyOrder: "Modify order",
      cancel: "Cancel",
      update: "Update",
      manufacturersPartNumber: "Manufacturer's part number",
      quantity: "Quantity",
      add: "Add",
      lineMfgPartNo: "Mfr. №:",
      additionalQuantityAdded: "Additional quantities will show in the Order Details page as a new line",
      selectReasonLabel: "Select reason for rejection*",
      rejectionPrice: "Price",
      rejectionAvailability: "Availability",
      rejectionOther: "Other",
      rejectionRequiredInfo: "This is required field",
      completeDeliveryOnly: "Complete Delivery Only",
      cancelNewItem: "Cancel",
    },
    settingsFlyoutLabels: {
      switchLabel: 'Notification options selected here apply to orders shipped via DHL, TNT, and JEP.',
      cancelSettingsChange: "Cancel",
      save: "Save"
    },
    dNotesFlyout: {
      title: "D-notes",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    dNoteColumnList: [
      {
        columnLabel: "D-note №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "actualShipDateFormatted",
      },
    ],
    invoicesFlyout: {
      title: "Invoices",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    invoicesColumnList: [
      {
        columnLabel: "Invoice №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "dateFormatted",
      },
    ],
    exportFlyout: {
      title: "Export",
      description: "Send to",
      secondaryDescription: "Details to include",
      button: "Export",
      exportSuccessMessage:"Your .xlsx export has been created successfully."
    },
    exportOptionsList: [{ label: "Exel (.xlxs)", key: "exportOptionsListKey" }],
    exportSecondaryOptionsList: [
      { label: "Export all order lines", key: "exportAllOrderLinesKey" },
      { label: "Export lines with serial numbers only", key: "exportLinesWithSerialNumbersKey" },
    ],
    filterListValues: [
      {
        accordionLabel: "My custom filter",
        filterField: "InvoiceId",
        filterOptionsValues: [
          {filterOptionLabel: "Six", filterOptionKey: "666"},
          {filterOptionLabel: "Five", filterOptionKey: "555"},
          {filterOptionLabel: "Four", filterOptionKey: "444"},
      ]
      },
      {
        accordionLabel: "My custom filter1",
        filterField: "IdType",
        filterOptionsValues: [
          {filterOptionLabel: "Three", filterOptionKey: "333"},
          {filterOptionLabel: "Two", filterOptionKey: "222"},
          {filterOptionLabel: "One", filterOptionKey: "111"},
      ]
      },
    ],
    dateOptionsList: [
      {label: "My custom date", key: "mock"},
  ],
    filterLabels: {
      filterType: "static",
      startLabel: "Start",
      endLabel: "End",
      filterTitle: "Filters",
      showResultLabel: "Show Result",
      dateRange: "Date Range",
      orderStatus: "Order Status",
      orderType: "Order Type",
      open: "Open",
      investigation: "Investigation",
      shipping: "Shipping",
      reject: "Reject",
      complete: "Complete",
      cancelled: "Cancelled",
      onHold: "On Hold",
      shipped: "Shipped",
      inProcess: "In Process",
      inTouch: "In Touch",
      ediOrXml: "EDI or XML",
      consignmentFillUp: "Consignment Fill-Up",
      license: "License",
      tdmrsProject: "TDMRS Project",
      manual: "Manual",
      tdStaffPurchase: "TD Staff purchase",
      projectOrder: "Project order",
      quotationLabel: "Quotation",
      thirdParty: "Third Party",
      licensing: "Licensing",
      stockingOrder: "Stocking Order",
      streamOne: "Stream One",
      orderDateLabel: "Order Date",
      shipDateLabel: "Ship Date",
      invoiceDateLabel: "Invoice Date",
      datePlaceholder: "MM/DD/YYYY",
      dateFormat: "MM/DD/YYYY",
    },
    noAccessProps: {
    noAccessTitle: "Access permisions needed",
    noAccessMessage: "Looks like your credentials don't include this area. If you feel this is a mistake, please contact your administrator to request a change.",
    noAccessBack: "Go back",
    },
    analyticsCategories: {
      sort: "Sort",
      search: "Search",
      filter: "Filter",
      export: "Export",
      report: "Report",
      pagination: "Pagination",
    },
    paginationLabels: {
      of: "of",
      results: "results",
    },
  };
  renewalsGridDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
