<div class="dropdownbutton button aem-GridColumn aem-GridColumn--default--12">
    <a type="button" id="dropdownbutton-92991499de" class="cmp-button" href="/content/techdata/language-masters/en/products.html" data-cmp-clickable="" data-cmp-data-layer="{&quot;dropdownbutton-92991499de&quot;:{&quot;@type&quot;:&quot;techdata/components/dropdownbutton&quot;,&quot;repo:modifyDate&quot;:&quot;2021-07-22T19:23:28Z&quot;,&quot;dc:title&quot;:&quot;Partner with Us&quot;,&quot;xdm:linkURL&quot;:&quot;/content/techdata/language-masters/en/products.html&quot;}}">

        <span class="cmp-button__icon cmp-button__icon--far fa-user"></span>

        <span class="cmp-button__text">Partner with Us</span>
    </a>


    <div class="cmp-button__dropdown">
        <a href="/content/techdata/language-masters/en/about-us/news">Become a reseller</a>

        <a href="/content/techdata/language-masters/en/about-us/our-careers" target="_blank">Become a vendor</a>

        <a>Become a Hero</a>
    </div>

</div>