.orderstrackinggrid {

  .cmp-order-tracking-grid .cmp-base-grid .cmp-grid.ag-theme-alpine .ag-header {
    background-color: $brand-white;
    border-top: 3px solid $brand-charcoal;
    border-bottom: 1px solid $brand-charcoal;
  }

  .cmp-order-tracking-grid .cmp-base-grid .cmp-grid.ag-theme-alpine .ag-row {
    @include font-arial-normal($size: 14px);

    .ag-cell .ag-react-container a {
      color: $brand-cobalt;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/**
 * Styles for the order tracking grid component.
 *
 * @class cmp-order-tracking-grid
 * @classdesc Styles for the order tracking grid component.
 */
 %clickable-action {
  display: flex;
  gap: rem(8px);
  align-items: center;
  cursor: pointer;

  & > * {
    cursor: pointer;
  }
}


.cmp-order-tracking-grid {
  /* Styles for the base grid */
  & .cmp-base-grid .cmp-grid {
    &.ag-theme-alpine {
      & .ag-header {
        padding-top: 0;
      }
      & .ag-header-cell {
        cursor: default;
        & * .ag-header-cell-text::before {
            cursor: pointer;
        }
        &:not(.ag-header-cell-sortable) {
          padding-left: 4px;
        }

        &[col-id="priceFormatted"] {
          .ag-header-cell-label {
            padding: 0px 12px 0px 0px;
            text-align: right;

            .ag-header-cell-text {
              position: relative;
            }

            .ag-header-cell-text::before {
              position: absolute;
              left: -14px;
              top: 2px;
            }
          }
        }
      }
      & .ag-root-wrapper-body {
        overflow-x: hidden !important
      }
    }
  }

  &__open-orders {
    @extend %clickable-action;
  }

  &__search {
    @extend %clickable-action;
  }

  &__filter {
    @extend %clickable-action;
  }

  &__report {
    @extend %clickable-action;
    position: relative;
  }

  &__report-dropdown {
    position: absolute;
    width: 240px;
    top: 25px;
    left: -156px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.24);
    background-color: $brand-white;
    z-index: 10;

    ul {
      list-style: none;
      padding: 0;
      line-height: 36px;
      margin: 0;

      > li {
        padding: 0 14px;
      }

      > li:hover {
        background-color: $td-neutral-gray-2;
      }
    }
  }

  &__report-pill {
    background-color: #005758;
    padding: 0 20px;
    color: $brand-white;
    border-radius: 20px;

    span {
      font-size: 14px;
      line-height: 29px;
      padding-right: 14px;
    }

    svg {
      cursor: pointer;
    }
  }

  &__settings {
    @extend %clickable-action;
    position: relative;
  }

  &__export {
    @extend %clickable-action;
  }

  &__select-column {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__total-column {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
  }

  &__description {
    &-link {
      color: $brand-cobalt;
      max-height: 3em;
      max-width: 191px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &-text {
      div {
        font-size: 14px;
      }
    }
  }  
}

// Styles for Order Tracking Grid dropdown
.loadingIcon-rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cmp-order-tracking-grid {
  // Enable vertical scrollbar in NotShipped inner grid
  .cmp-base-grid .cmp-grid.ag-theme-alpine .ag-root.ag-unselectable.ag-layout-auto-height {
    overflow-y: overlay !important;
  }
  .ag-row.ag-row-level-0.ag-row-group.ag-row-position-absolute.ag-after-created.ag-row-group-expanded {
    border-bottom: 1px solid $td-neutral-gray;
  }
  .ag-row-group-expanded{
    background-color: $td-neutral-gray !important;
  }
  .ag-row-no-focus.ag-row.ag-full-width-row.ag-row-position-absolute.ag-after-created,
  .ag-row.ag-full-width-row.ag-row-position-absolute.ag-after-created.ag-full-width-focus.ag-row-focus {
    background-color: $td-neutral-gray !important;
    border-bottom: 4px solid $brand-black;
    .ag-header-viewport {
      background-color: $td-neutral-gray;
    }
    .ag-header-cell-text {
      font-weight: 400;
    }
    .ag-row-no-focus.ag-row {
      &.ag-full-width-row.ag-row-position-absolute.ag-row-last.ag-after-created{
        background-color: $brand-white !important;
        border-bottom: 1px solid $brand-text-lightgray;
        border-top: 1px solid $brand-text-lightgray ;
        &.ag-row-hover {
          background-color: $brand-white !important;
        }
      }
    } 
    .ag-row.ag-row-level-0.ag-row-group.ag-row-group-contracted.ag-row-position-absolute.ag-after-created {
      border-bottom: 1px solid $brand-text-lightgray;
    }
  }
}
.order-line-details {
  .ag-react-container {
    background-color: $brand-white;
    padding-bottom: 0;
  }
  .ag-row.ag-row-level-0.ag-row-group.ag-row-position-absolute.ag-after-created.ag-row-group-expanded {
    border-bottom: 1px solid $brand-white;
  }
  .ag-row-no-focus.ag-row.ag-full-width-row.ag-row-position-absolute.ag-after-created,
  .ag-row.ag-full-width-row.ag-row-position-absolute.ag-after-created.ag-full-width-focus.ag-row-focus {
    border-bottom: 1px solid $brand-text-lightgray;
  }

  // Enable vertical scrollbar in NotShipped inner grid
  .ag-cell-label-container .ag-header-cell-label {
    align-self: flex-end;
    margin-bottom: 4px;
  }
  .ag-header-cell-text::before {
    top: 13px !important;
  }
  .ag-header .ag-focus-managed .ag-pivot-off {
    height: 30px
  }
  .ag-body-viewport.ag-layout-auto-height.ag-row-no-animation {
    max-height: 370px;
    overflow-y: overlay;
  }
  .ag-cell-value {
    width: 100%
  }
  .track {
    color: $brand-green !important;
  }
  .ag-row-group-expanded {
    background-color: $brand-white !important;
  }
  
  * {
    font-family: Arial !important;
  }
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 29px;
  &__header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    &__tab {
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-bottom: 10px;
      color: $brand-charcoal;
      width:50%;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
      border-bottom: 1px solid $brand-black;
    }
    &__tab-active {
      border-bottom: 4px solid $brand-aqua;
    }
    &__tab-inActive {
      cursor: pointer;
    }
    &__tab-disabled {
      cursor: auto;
    }
    &__icon {
      margin-right: 10px;
    }
    &__tab-items {
      margin-left: 10px;
      color: $brand-icon-gray-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    &__disabled {
      color: $brand-icon-gray-color;
    }
  }
  &__content {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &__title-text {
      color: $brand-black;
      font-size: 28px;
      font-weight: 400;
    }
    &__title-button {
      height: 44px;
      padding: 8px 20px;
      font-size: 12px !important;
      font-weight: 400;
      color: $brand-green;
      border: 1px solid $brand-green !important
    }
    &__release-button {
      height: 44px;
      padding: 8px 20px;
      font-size: 12px !important;
      font-weight: 400;
      color: $brand-green;
      border: 0 !important;
      background-color: transparent !important;
    }
    &__downloadLink {
      color: $brand-cobalt;
      cursor: pointer;
    }
    &__trackLink {
      color: $brand-green;
      cursor: pointer;
    }
    &__grid {
      & * {
        font-size: 16px !important;
      }
    }
    &__innerTable {
      margin-left: 48px;
      &__line {
        display: flex;
        width: fit-content;
        align-items: center;
        min-height: 42px;
        padding: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid $brand-text-lightgray;
      }
      &__column {
        padding-left: 30px;
      }
      &__separateLine {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $brand-text-lightgray;
      }
      &__text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $brand-charcoal;
        font-size: 14px !important;
      }
      &__quantity {
        color: $brand-charcoal;
        font-size: 14px !important;
      }
      &__image {
        width: 50px;
      }
    }
    &__innerTableNotShipped {
      &__item-column {
        display: flex;
        flex-direction: column;
        justify-content: center
      }
      &__item-row {
        display: flex;
      }
      &__image {
        width: 65px;
        height:auto;
        max-height: 45px;
      }
      &__right {
        margin-left: 1rem;
      }
      &__ellipsis {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 425px;
      }
      &__separateLine {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 73px;
        border-bottom: 1px solid $brand-text-lightgray;
      }
      &__separateLineMultiple {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 73px;
        border-bottom: 1px solid $brand-text-lightgray;
      }
      &__separateLineText {
        line-height: 24px;
        margin:0;
      }
      &__text {
        color: $brand-charcoal;
        line-height: 24px;
      }
    }
    &__description {
      &-column {
        display: flex;
      }
      &-right {
        margin-left: 1rem;
      }
    }
  }
  // Overrides for inner grid
   * {
    &.cmp-grid.ag-theme-alpine{
      border-top: none !important;
    }
    &.cmp-grid.ag-theme-alpine .ag-header {
      border-top: none !important;
      border-bottom: 3px solid $brand-charcoal !important;
    }
    &.ag-theme-alpine .ag-root-wrapper .ag-root-wrapper-body .ag-body-viewport{
        min-height: fit-content !important;
      }
    &.ag-root-wrapper-body.ag-layout-auto-height.ag-focus-managed{
      overflow-x: hidden !important;
    }
  }
}
.order-modal {
  &__wrapper {
    min-width: 768px;
    width: auto;
    min-height: 394px;
    height: auto;
    position: absolute;
    top: 233px;
    left: 336px;
    background-color: $brand-white;
    padding: 24px;
  }

  &__header {
    height: 36px;
    line-height: 36px;
    font-size: 2rem;
      position: absolute;
      top: 24px;
  }

  &__line {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0;
  }

    &__body {
      width: 740px;
      height: 210px;
      line-height: 30px;
      position: absolute;
      top: 80px;
    }
  
    &__footer {
    min-width: 266px;
    height: 48px;
    position: absolute;
      bottom: 36px;
      right: 24px;
  }

&__primary-button {
    background-color: $brand-green;
    color: $brand-white;
    min-width: 151px;
    height: 48px;
    padding: 12px 20px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px  !important;
    letter-spacing: 0;
  }
&__secondary-button {
    background-color: $brand-white;
    color: $brand-green;
    min-width: 95px;
    height: 48px;
    padding: 12px 20px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px !important;
    letter-spacing: 0;
  }
  &__gap{
    height: 48px;
    width: 10px !important;
    min-width: 10px;
    display: inline-flex;
  }
  &__alert-wrapper{
    position: relative;
    top: 206px;
    left: 1200px;
    display: inline;
    &__red{
      border-left-color: $dark-cherry;
      background-color: $light-cherry;
      border-left-width: 4px;
      border-style: solid;
      width: 448px;
      height: 88px;
    }
    &__green{
      border-left-color: $dark-forrest;
      background-color: $light-forrest;
      border-left-width: 4px;
      border-style: solid;
      width: 448px;
      height: 88px;
    }
    &__text{
      margin-top: 20px;
      margin-bottom: 20px;
      width: 328px;
      height: 48px;
      float: left;
    }
    &__icon-symbol{
      padding: 18px;
      float: left;
    }
    &__icon-close{
      padding: 18px;
      float: right;
    }
  }
}