<div class="button">
  <button type="button" id="button-1d3ee49e15" class="cmp-button" data-cmp-clickable=""
    data-cmp-data-layer="{&quot;button-1d3ee49e15&quot;:{&quot;@type&quot;:&quot;core/wcm/components/button/v1/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:38:48Z&quot;,&quot;dc:title&quot;:&quot;Contact Us&quot;}}">
    <span class="cmp-button__icon cmp-button__icon--email"></span>
    <i class="far fa-user"></i>
    <span class="cmp-button__text--sign-in-out">Sign In</span>
  </button>
</div>
