// @use 'sass-rem' as rem;

@import '../../abstracts/variables';
@import '../../../site/variables';

/**
 * Bar chart component styles.
 */
.cmp-barChart {
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 !important;

  /**
   * Body section of the bar chart.
   */
  &__body {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  /**
   * Title section of the bar chart.
   */
  &__title {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: get-color(text-mid-gray);
    width: 100%;
    padding-bottom: 10px;
  }

  /**
   * Container section of the bar chart.
   */
  &__container {
    font-size: $font-size-xxsmall;
    color: get-color(text-mid-gray);
    width: 100%;
  }

  /**
   * Chart section of the bar chart.
   */
  &__chart {
    /**
     * Canvas element within the chart section.
     */
    & canvas {
      padding-bottom: 0 !important;
      height: rem-convert(116px) !important;
      width: rem-convert(154px) !important;
    }
  }

  /**
   * Legend row section of the bar chart.
   */
  &__legend-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    height: rem-convert(15px);
    margin-bottom: rem-convert(2px);
  }

  /**
   * Legend section of the bar chart.
   */
  &__legend {
    display: flex;
    flex-direction: column;
    height: rem-convert(15px);
    margin-bottom: rem-convert(2px);

    @include mobile {
      height: auto;
      grid-row: 2;
      margin-top: rem-convert(15px);
      padding-left: rem-convert(10px);
    }

    div {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      margin-bottom: rem-convert(6px);
    }
  }

  /**
   * Sub-title section of the bar chart.
   */
  &__sub-title {
    font-size: $font-size-xxsmall;
    color: get-color(text-light-charcoal);
    padding: 0 0 0 rem-convert(5px) !important;
    width: rem-convert(105px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;

    /**
     * Digits sub-title within the sub-title section.
     */
    &-digits {
      font-size: $font-size-xxsmall;
      color: get-color(text-light-charcoal);
      text-align: right;
      padding-left: rem-convert(40px);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /**
     * Currency sub-title within the sub-title section.
     */
    &-currency {
      font-size: $font-size-xxsmall;
      color: get-color(text-light-charcoal);
      text-align: right;
      padding-left: rem-convert(5px);
    }

    /**
     * Color variant 1 of the sub-title section.
     */
    &-color-1 {
      border-right: rem-convert(6px) solid get-color(brand-primary-text);
      padding-left: rem-convert(16px);
    }

    /**
     * Color variant 2 of the sub-title section.
     */
    &-color-2 {
      border-right: rem-convert(6px) solid get-color(brand-blue);
      padding-left: rem-convert(16px);
    }

    /**
     * Color variant 3 of the sub-title section.
     */
    &-color-3 {
      border-right: rem-convert(6px) solid get-color(tertiary-dark-blue);
      padding-left: rem-convert(16px);
    }

    /**
     * Color variant 4 of the sub-title section.
     */
    &-color-4 {
      border-right: rem-convert(6px) solid get-color(td-primary-blue);
      padding-left: rem-convert(16px);
    }

    /**
     * Color variant 5 of the sub-title section.
     */
    &-color-5 {
      border-right: rem-convert(6px) solid get-color(td-lightblue);
      padding-left: rem-convert(16px);
    }
  }
}
