@use 'sass:map';
// @use 'sass-rem' as rem;

/**
 * Article List component.
 *
 * @class cmp-article-list
 */
.cmp-article-list {
  /**
     * List component within the Article List.
     *
     * @class cmp-list
     */
  .cmp-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    * {
      color: map.get($color-palette, 'charcoal');
    }
  }

  /**
     * List item within the List component.
     *
     * @class cmp-list__item
     */
  .cmp-list__item {
    position: relative;
    width: 30%;
    margin-bottom: 1.87rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /**
     * Title element within the List item.
     *
     * @class cmp-list__item-title
     */
  .cmp-list__item-title {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 12, 33, 0.6);
    color: #ffffff;
    font-size: 0.81rem;
    line-height: 1.12rem;
    padding: 1.125rem 0.313rem 0.75rem 0.688rem;

    span {
      word-wrap: break-word;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  /**
     * Image component within the Article List.
     *
     * @class cmp-image__image-figure
     */
  .cmp-image__image-figure {
    padding: 0;
    margin: 0;
  }

  .cmp-image__image {
    width: 100%;

    &__image-figure {
      width: 12.1875rem;
      height: 6.875rem;
      margin: 0;
      display: inline-block;
    }
  }

  /**
     * Header section within the Article List.
     *
     * @class cmp-article-list__header
     */
  .cmp-article-list__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.87rem;
  }

  /**
     * Title element within the Article List header.
     *
     * @class cmp-article-list__header-title
     */
  .cmp-article-list__header-title {
    font-size: 1.5rem;
    margin: 0;
  }

  /**
     * Separator element within the Article List header.
     *
     * @class cmp-article-list__header-separator
     */
  .cmp-article-list__header-separator {
    flex: 1;
  }

  /**
     * Link element within the Article List header.
     *
     * @class cmp-article-list__header-link
     */
  .cmp-article-list__header-link {
    font-size: 0.87rem;
    color: #6f6f6f;
    text-decoration: none;

    i {
      vertical-align: middle;
      padding-left: 0.5rem;
    }
  }

  /**
     * Fixed items variant for the Article List.
     *
     * @class cmp-article-list--fixed-items
     */
  &--fixed-items {
    /**
       * List item within the Article List.
       *
       * @class cmp-list__item
       */
    .cmp-list__item {
      width: 10.62rem;
      height: 10.62rem;
    }
  }

  /**
     * Header section within the Article List.
     *
     * @class cmp-article-list__header
     */
  &__header {
    display: flex;
    align-items: center;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    margin-bottom: 1.875rem;
  }

  /**
     * Image component within the Article List.
     *
     * @class cmp-image__image
     */
  .cmp-image__image {
    width: 100%;

    &__image-figure {
      width: rem-convert(195px);
      height: rem-convert(110px);
      margin: 0;
      display: inline-block;
    }
  }

  /**
     * Article variant for the Article List.
     *
     * @class cmp-article-article
     */
  &.cmp-article-article {
    /**
       * List view section within the Article List.
       *
       * @class cmp-article-list__list-view
       */
    &__list-view {
      /**
         * List component within the Article List.
         *
         * @class cmp-list
         */
      .cmp-list {
        &__item-description {
          display: none;
        }

        /**
           * List item within the Article List.
           *
           * @class cmp-list__item
           */
        &__item {
          box-shadow: 0 0 0 rem-convert(1px) get-color(secondary-light-grey);
          margin-bottom: rem-convert(18px);
          margin-left: rem-convert(25px);
          margin-right: rem-convert(25px);
          height: rem-convert(110px);
          width: 100%;

          /**
             * Info section within the List item.
             *
             * @class cmp-list__item-info
             */
          &__item-info {
            display: flex;
            flex-direction: column;
            padding: rem-convert(10px) rem-convert(24px);
            line-height: rem-convert(24px);
          }

          /**
             * Link element within the List item.
             *
             * @class cmp-list__item-link
             */
          &__item-link {
            display: flex;
            align-items: center;
            text-decoration: none;
          }

          /**
             * Date element within the List item.
             *
             * @class cmp-list__item-date
             */
          &__item-date {
            font-size: rem-convert(12px);
            color: get-color(brand-text-gray);
          }

          /**
             * Title element within the List item.
             *
             * @class cmp-list__item-title
             */
          &__item-title {
            font-size: rem-convert(20px);
            font-weight: 500;
            color: get-color(brand-blue);
            background-color: transparent;
            left: auto;
            bottom: auto;
            padding: 0;
            position: relative;
          }

          /**
             * Image component within the List item.
             *
             * @class cmp-image__image
             */
          .cmp-image__image {
            min-width: 100%;
            min-height: 100%;

            &-figure {
              width: rem-convert(195px);
              min-width: rem-convert(195px);
              height: rem-convert(110px);
              margin: 0;
              display: inline-block;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
