.tool-tip {
    position: absolute;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #30343B;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}