<div class="teaser cmp-teaser__card aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
    <div id="teaser-0a2e5657d3" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-0a2e5657d3&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-01-25T09:43:22Z&quot;,&quot;dc:title&quot;:&quot;Data Center&quot;,&quot;dc:description&quot;:&quot;<p>Tech Data Advanced Solutions enables channel partners to deliver complex IT solutions around the world.&amp;nbsp; Choose a solution area to explore our offerings</p>\r\n&quot;}}">
        <div class="cmp-teaser__image">
            <img src="https://images.hindustantimes.com/tech/img/2020/11/14/960x540/pubg_mobile_india_video_teaser_1605357611975_1605357634049.png" class="cmp-image__image " itemprop="contentUrl" data-cmp-hook-image="image">
        </div>
        <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title">Data Center</h2>
            <div class="cmp-teaser__description">
                <p>Tech Data Advanced Solutions enables channel partners to deliver complex IT solutions around the world.&nbsp; Choose a solution area to explore our offerings.</p>
            </div>
        </div>
  </div>
</div>