<div class="alertcarousel dp-carousel dp-carousel__alert--hero1 dp-carousel__navigation--hero1 aem-GridColumn aem-GridColumn--default--12"><div id="carousel" class="cmp-carousel" role="group" aria-live="polite" aria-roledescription="carousel" data-cmp-delay="5000" data-cmp-autopause-disabled="" data-cmp-data-layer="{&quot;carousel&quot;:{&quot;shownItems&quot;:[&quot;carousel-item-cbf777707a&quot;],&quot;@type&quot;:&quot;techdata/components/alertcarousel&quot;,&quot;repo:modifyDate&quot;:&quot;2021-07-30T12:16:45Z&quot;,&quot;analyticsRegion&quot;:&quot;analytics region&quot;,&quot;analyticsCategory&quot;:&quot;analytics category&quot;,&quot;carouselName&quot;:&quot;hero carousel&quot;}}" data-placeholder-text="false">
    <div class="cmp-carousel__content" aria-atomic="false" aria-live="polite">
        <div id="carousel-item-cbf777707a" class="cmp-carousel__item cmp-carousel__item--active" data-cmp-carousel-number="1" role="tabpanel" aria-roledescription="slide" aria-label="Slide 1 of 4" data-cmp-data-layer="{&quot;carousel-item-cbf777707a&quot;:{&quot;@type&quot;:&quot;techdata/components/alertcarousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-07-30T12:16:12Z&quot;,&quot;dc:title&quot;:&quot;World of Technology&quot;}}" data-cmp-hook-carousel="item"><div class="teaser hero-style-1 cmp-buttons__plus-white">
            <div id="teaser-cbf777707a" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-cbf777707a&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-07-30T12:16:12Z&quot;,&quot;dc:title&quot;:&quot;Power of Technology&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.techdata.com&quot;}}">



                <div class="cmp-teaser__image">

                    <a class="cmp-image__link" href="#" data-cmp-hook-image="link" data-cmp-clickable="">


                        <img src="/content/techdata/language-masters/en/_jcr_content/root/container/alertcarousel/item_1623845152094.coreimg.jpeg/1627657576320/carousel1.jpeg" class="cmp-image__image  not svg" itemprop="contentUrl" data-cmp-hook-image="image" alt="tech data carousel image-TD alt" title="Connect With Power">


                    </a>

                    <meta itemprop="caption" content="Connect With Power">






                </div>


                <div class="cmp-teaser__content">

                    <div class="cmp-teaser__pretitle">Connecting the World to the </div>


                    <h2 class="cmp-teaser__title">
                        <a class="cmp-teaser__title-link" href="#" data-cmp-clickable="">
                            Power of Technology
                            <span class="cmp-buttons__plus">

            </span>
                        </a>
                    </h2>







                </div>
            </div>



        </div>
        </div>
        <div id="carousel-item-8e8ffc67c3" data-cmp-carousel-number="2" class="cmp-carousel__item" role="tabpanel" aria-roledescription="slide" aria-label="Slide 2 of 4" data-cmp-data-layer="{&quot;carousel-item-8e8ffc67c3&quot;:{&quot;@type&quot;:&quot;techdata/components/alertcarousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:51:48Z&quot;,&quot;dc:title&quot;:&quot;Cloud Power with StreamOne&quot;}}" data-cmp-hook-carousel="item" aria-hidden="true"><div class="teaser hero-style-2 cmp-buttons__plus-white">
            <div id="teaser-8e8ffc67c3" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-8e8ffc67c3&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:51:48Z&quot;,&quot;dc:title&quot;:&quot;Power Your Cloud Business&quot;,&quot;dc:description&quot;:&quot;<p>Leverage Tech Data's StreamOne platform to create a customer experience that matches your business model</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.techdata.com&quot;}}">



                <div class="cmp-teaser__image">

                    <a class="cmp-image__link" href="#" data-cmp-clickable="" data-cmp-hook-image="link">


                        <img src="/content/techdata/language-masters/en/_jcr_content/root/container/alertcarousel/item_1623845154354.coreimg.jpeg/1627657478305/carousel2.jpeg" class="cmp-image__image  not svg" itemprop="contentUrl" data-cmp-hook-image="image" alt="null-TD alt">


                    </a>








                </div>


                <div class="cmp-teaser__content">




                    <h2 class="cmp-teaser__title">
                        <a class="cmp-teaser__title-link" href="#" data-cmp-clickable="">
                            Power Your Cloud Business
                            <span class="cmp-buttons__plus">

            </span>
                        </a>
                    </h2>


                    <div class="cmp-teaser__description"><p>Leverage Tech Data's StreamOne platform to create a customer experience that matches your business model</p>
                    </div>




                </div>
            </div>



        </div>
        </div>
        <div id="carousel-item-34ba86eafa" class="cmp-carousel__item" role="tabpanel" aria-roledescription="slide" aria-label="Slide 3 of 4" data-cmp-data-layer="{&quot;carousel-item-34ba86eafa&quot;:{&quot;@type&quot;:&quot;techdata/components/alertcarousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:54:13Z&quot;,&quot;dc:title&quot;:&quot;Cisco Data Centers&quot;}}" data-cmp-hook-carousel="item" data-cmp-carousel-number="3" aria-hidden="true"><div class="teaser hero-style-3 cmp-buttons__plus-white">
            <div id="teaser-34ba86eafa" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-34ba86eafa&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:54:13Z&quot;,&quot;dc:title&quot;:&quot;Hyperconverged Infrastructure (HCI)&quot;,&quot;dc:description&quot;:&quot;<p>Cisco HyperFlex. Extending the simplicity of hyperconvergence from core to edge and multicloud.</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.techdata.com&quot;}}">



                <div class="cmp-teaser__image">

                    <a class="cmp-image__link" href="#" data-cmp-hook-image="link" data-cmp-clickable="">


                        <img src="/content/techdata/language-masters/en/_jcr_content/root/container/alertcarousel/item_1623845156059.coreimg.jpeg/1627657535438/carousel3.jpeg" class="cmp-image__image  not svg" itemprop="contentUrl" data-cmp-hook-image="image" alt="null-TD alt">


                    </a>








                </div>


                <div class="cmp-teaser__content">




                    <h2 class="cmp-teaser__title">
                        <a class="cmp-teaser__title-link" href="#" data-cmp-clickable="">
                            Hyperconverged Infrastructure (HCI)
                            <span class="cmp-buttons__plus">

            </span>
                        </a>
                    </h2>


                    <div class="cmp-teaser__description"><p>Cisco HyperFlex. Extending the simplicity of hyperconvergence from core to edge and multicloud.</p>
                    </div>




                </div>
            </div>



        </div>
        </div>
        <div id="carousel-item-4b4bf6d856" class="cmp-carousel__item" role="tabpanel" aria-roledescription="slide" aria-label="Slide 4 of 4" data-cmp-data-layer="{&quot;carousel-item-4b4bf6d856&quot;:{&quot;@type&quot;:&quot;techdata/components/alertcarousel/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:57:15Z&quot;,&quot;dc:title&quot;:&quot;$750M Digital Transformation&quot;}}" data-cmp-hook-carousel="item" data-cmp-carousel-number="4" aria-hidden="true"><div class="teaser hero-style-3 cmp-buttons__plus-white">
            <div id="teaser-4b4bf6d856" class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-4b4bf6d856&quot;:{&quot;@type&quot;:&quot;techdata/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2021-06-21T07:57:15Z&quot;,&quot;dc:title&quot;:&quot;Tech Data:  Transforming Technology&quot;,&quot;dc:description&quot;:&quot;<p>We’re investing $750 million</p>\r\n<p>to accelerate digital transformation</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.google.com&quot;}}">



                <div class="cmp-teaser__image">

                    <a class="cmp-image__link" href="#" data-cmp-hook-image="link" data-cmp-clickable="">


                        <img src="/content/techdata/language-masters/en/_jcr_content/root/container/alertcarousel/item_1623845158081.coreimg.jpeg/1627657551080/carousel4.jpeg" class="cmp-image__image  not svg" itemprop="contentUrl" data-cmp-hook-image="image" alt="null-TD alt">


                    </a>








                </div>


                <div class="cmp-teaser__content">




                    <h2 class="cmp-teaser__title">
                        <a class="cmp-teaser__title-link" href="#" data-cmp-clickable="">
                            Tech Data:  Transforming Technology
                            <span class="cmp-buttons__plus">

            </span>
                        </a>
                    </h2>


                    <div class="cmp-teaser__description"><p>We’re investing $750 million</p>
                        <p>to accelerate digital transformation</p>
                    </div>




                </div>
            </div>



        </div>
        </div>
        <div role="tablist" aria-label="Choose a slide to display" data-cmp-hook-carousel="indicators" class="cmp-carousel__indicators dp-carousel__nav dp-carousel__nav-labels">

            <a role="tab" aria-controls="carousel-item-0" aria-label="Slide 1" data-cmp-clickable="" data-cmp-hook-carousel="indicator" class="dp-carousel__nav-label cmp-carousel__indicator--active" aria-selected="true" tabindex="0">

                World of Technology
            </a>

            <a role="tab" aria-controls="carousel-item-1" aria-label="Slide 2" data-cmp-clickable="" data-cmp-hook-carousel="indicator" class="dp-carousel__nav-label" aria-selected="false" tabindex="-1">
                <span class="dp-carousel__nav-label-separator">|</span>
                Cloud Power with StreamOne
            </a>

            <a role="tab" aria-controls="carousel-item-2" aria-label="Slide 3" data-cmp-clickable="" data-cmp-hook-carousel="indicator" class="dp-carousel__nav-label" aria-selected="false" tabindex="-1">
                <span class="dp-carousel__nav-label-separator">|</span>
                Cisco Data Centers
            </a>

            <a role="tab" aria-controls="carousel-item-3" aria-label="Slide 4" data-cmp-clickable="" data-cmp-hook-carousel="indicator" class="dp-carousel__nav-label" aria-selected="false" tabindex="-1">
                <span class="dp-carousel__nav-label-separator">|</span>
                $750M Digital Transformation
            </a>

        </div>

        <div class="dp-carousel__alert">
            <div class="dp-carousel__alert-container">
                <div class="dp-carousel__alert-text text-shadow-1">Free Standard Shipping on your first order with Tech Data!</div>
                <div class="dp-carousel__alert-buttons">

                    <a href="#" class="dp-carousel__alert-button" data-cmp-clickable="">
                        <span> TAKE A <span class="dp-carousel__alert-button-color">GUIDED TOUR</span> OF TECH DATA </span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </a>

                    <a href="#" class="dp-carousel__alert-button" data-cmp-clickable="">
                        <span> SIGN UP NOW &amp; <span class="dp-carousel__alert-button-color">BECOME A RESELLER TODAY!</span> </span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </a>

                </div>
            </div>
        </div>


    </div>

</div>




</div>