<div class="subheader tabs aem-GridColumn aem-GridColumn--default--12">
    <div id="subheader-a615f12191" class="cmp-tabs cmp-sub-header"
         data-cmp-data-layer="{&quot;subheader-a615f12191&quot;:{&quot;shownItems&quot;:[&quot;subheader-a615f12191-item-2be79c86a1&quot;],&quot;@type&quot;:&quot;techdata/components/subheader&quot;,&quot;repo:modifyDate&quot;:&quot;2021-09-30T13:07:51Z&quot;}}">


        <div class="cmp-sub-header--sub-nav">
            <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">


                <li role="tab" id="subheader-a615f12191-item-2be79c86a1-tab" class="cmp-tabs__tab cmp-tabs__tab--active"
                    data-tab-name="My Dashboard" aria-controls="subheader-a615f12191-item-2be79c86a1-tabpanel"
                    tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">
                    <span>My Dashboard</span>
                </li>


                <li role="tab" id="subheader-a615f12191-item-45434d4799-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Configurations" aria-controls="subheader-a615f12191-item-45434d4799-tabpanel"
                    tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/configurations.html">Configurations</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-75d487c7d3-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Deals" aria-controls="subheader-a615f12191-item-75d487c7d3-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/deals.html">Deals</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-c13059895b-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Quotes" aria-controls="subheader-a615f12191-item-c13059895b-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/quotes.html">Quotes</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-4d2ab10a95-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Renewals" aria-controls="subheader-a615f12191-item-4d2ab10a95-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/renewals.html">Renewals</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-706252a39b-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Orders" aria-controls="subheader-a615f12191-item-706252a39b-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/orders.html">Orders</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-f229463a5b-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Returns" aria-controls="subheader-a615f12191-item-f229463a5b-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a href="/content/techdata/language-masters/en/dcp/dashboard.html">Returns</a>
                </li>


                <li role="tab" id="subheader-a615f12191-item-c1a04efb61-tab" class="anchor cmp-tabs__tab"
                    data-tab-name="Tools" aria-controls="subheader-a615f12191-item-c1a04efb61-tabpanel" tabindex="-1"
                    data-cmp-hook-tabs="tab" aria-selected="false">
                    <a>Tools</a>
                </li>


            </ol>


            <div data-component="Subheader" data-cmp-type="react" class="cmp-sub-header__wrapper"
                 data-config="{&quot;minified&quot;:&quot;true&quot;,&quot;accountnumberLabel&quot;:&quot;Account Number&quot;,&quot;vendorConnectionsModal&quot;:{&quot;uiServiceEndPoint&quot;:&quot;http://localhost:3000/ui-account/v1&quot;,&quot;title&quot;:&quot;Vendor Connections&quot;,&quot;buttonLabel&quot;:&quot;Connect All&quot;,&quot;buttonIcon&quot;:&quot;fas fa server&quot;,&quot;content&quot;:&quot;Content to display on modal window&quot;,&quot;connectedLabel&quot;:&quot;Connect&quot;,&quot;disconnectedLabel&quot;:&quot;Disconnect&quot;,&quot;vendors&quot;:[{&quot;key&quot;:&quot;Cisco&quot;}]}}"></div>
        </div>
        <div id="subheader-a615f12191-item-2be79c86a1" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-2be79c86a1-tab" tabindex="0"
             class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-2be79c86a1&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-04-20T08:41:31Z&quot;,&quot;dc:title&quot;:&quot;My Dashboard&quot;}}">
            <div class="container responsivegrid">


                <div id="container-2be79c86a1" class="cmp-container">


                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">


                        <div class="new newpar section aem-Grid-newComponent">

                            <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                        </div>

                    </div>
                    <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1/no_resource_0","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1/no_resource_0","selectors":null,"servlet":"Script /libs/wcm/foundation/components/responsivegrid/responsivegrid.html","totalTime":13,"selfTime":11}-->

                </div>


                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":16,"selfTime":3}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-45434d4799" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-45434d4799-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-45434d4799&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Configurations&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-45434d4799" class="cmp-container">


                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">


                        <div class="new newpar section aem-Grid-newComponent">

                            <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_2/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_2/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                        </div>

                    </div>
                    <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_2/no_resource_0","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_2/no_resource_0","selectors":null,"servlet":"Script /libs/wcm/foundation/components/responsivegrid/responsivegrid.html","totalTime":10,"selfTime":8}-->

                </div>


                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_2","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_2","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":13,"selfTime":3}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-75d487c7d3" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-75d487c7d3-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-75d487c7d3&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Deals&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-75d487c7d3" class="cmp-container">


                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">


                        <div class="new newpar section aem-Grid-newComponent">

                            <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_3/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_3/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                        </div>

                    </div>
                    <!--cq{"decorated":true,"type":"wcm/foundation/components/responsivegrid","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_3/no_resource_0","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_3/no_resource_0","selectors":null,"servlet":"Script /libs/wcm/foundation/components/responsivegrid/responsivegrid.html","totalTime":11,"selfTime":9}-->

                </div>


                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_3","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_3","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":13,"selfTime":2}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-c13059895b" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-c13059895b-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-c13059895b&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Quotes&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-c13059895b" class="cmp-container ">


                    <div class="new newpar section">

                        <!--cq{"decorated":true,"type":"core/wcm/components/container/v1/container/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908127238/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908127238/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                    </div>

                </div>

                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908127238","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908127238","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":12,"selfTime":10}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-4d2ab10a95" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-4d2ab10a95-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-4d2ab10a95&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Renewals&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-4d2ab10a95" class="cmp-container ">


                    <div class="new newpar section">

                        <!--cq{"decorated":true,"type":"core/wcm/components/container/v1/container/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908130933/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908130933/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                    </div>

                </div>

                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908130933","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908130933","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":12,"selfTime":10}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-706252a39b" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-706252a39b-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-706252a39b&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Orders&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-706252a39b" class="cmp-container ">


                    <div class="new newpar section">

                        <!--cq{"decorated":true,"type":"core/wcm/components/container/v1/container/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908133244/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908133244/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":3,"selfTime":3}-->
                    </div>

                </div>

                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908133244","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908133244","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":10,"selfTime":7}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-f229463a5b" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-f229463a5b-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-f229463a5b&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Returns&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-f229463a5b" class="cmp-container ">


                    <div class="new newpar section">

                        <!--cq{"decorated":true,"type":"core/wcm/components/container/v1/container/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908136325/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908136325/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":2,"selfTime":2}-->
                    </div>

                </div>

                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908136325","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908136325","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":10,"selfTime":8}-->
            </div>
        </div>
        <div id="subheader-a615f12191-item-c1a04efb61" role="tabpanel"
             aria-labelledby="subheader-a615f12191-item-c1a04efb61-tab" tabindex="0" class="cmp-tabs__tabpanel"
             data-cmp-hook-tabs="tabpanel"
             data-cmp-data-layer="{&quot;subheader-a615f12191-item-c1a04efb61&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;Tools&quot;}}"
             aria-hidden="true">
            <div class="container responsivegrid">


                <div id="container-c1a04efb61" class="cmp-container ">


                    <div class="new newpar section">

                        <!--cq{"decorated":true,"type":"core/wcm/components/container/v1/container/new","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908168380/*","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908168380/*","selectors":null,"servlet":"Script /libs/wcm/foundation/components/parsys/newpar/newpar.html","totalTime":1,"selfTime":1}-->
                    </div>

                </div>

                <!--cq{"decorated":true,"type":"techdata/components/container","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader/item_1618908168380","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader/item_1618908168380","selectors":null,"servlet":"Script /apps/core/wcm/components/container/v1/container/container.html","totalTime":9,"selfTime":8}-->
            </div>
        </div>


    </div>
    <!--cq{"decorated":true,"type":"techdata/components/subheader","path":"/content/techdata/language-masters/en/dcp/quotes/quote-details/jcr:content/root/subheader","structurePath":"/conf/techdata/settings/wcm/templates/dcp-commerce-template/structure/jcr:content/root/subheader","selectors":null,"servlet":"Script /apps/techdata/components/subheader/subheader.html","totalTime":150,"selfTime":55}-->
</div>