<div class="cmp-gauge-chart">
  <div class="cmp-gauge-chart__title">My Orders</div>
</div>

<div id="canvas-holder" class="cmp-gauge-chart" style="width:100%">
  <canvas id="chart"></canvas>
</div>
<div class="cmp-gauge-chart">
  <div class="cmp-gauge-chart__orders-processed">
    <div class="cmp-gauge-chart__orders-processed--number">$879,999,999</div>
    <div class="cmp-gauge-chart__orders-processed--title">Orders Processed</div>
  </div>
</div>

<script src="../../../../../../node_modules/chartjs-gauge/node_modules/chart.js/dist/Chart.bundle.js"></script>
<script src="../../../../../../node_modules/chartjs-gauge/dist/chartjs-gauge.js"></script>
