<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="../../../../../../node_modules/chartjs-gauge/node_modules/chart.js/dist/Chart.bundle.js"></script>
  <script src="../../../../../../node_modules/chartjs-gauge/dist/chartjs-gauge.js"></script>  
</head>

<body>
  <div id="canvas-holder" style="width:100%">
    <canvas id="chart"></canvas>
  </div>
</body>
</html>
