/* file from wknd */

@import './../../../variables';
@import './../../../../site/variables';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}

.cmp-text--font-xsmall {
  p {
      font-size: $font-size-xsmall;
  }
}

.cmp-text--font-small {
      font-size: $font-size-small;
  p {
      font-size: $font-size-small;
  }
}

.cmp-text--font-default {
      font-size: $font-size-base;
  p {
      font-size: $font-size-base;
  }
}

.cmp-text--font-large {
      font-size: $font-size-large;
  p {
      font-size: $font-size-large;
  }
}

/*  font weight*/

.font-w-500 {
  font-weight: 500;
}
