.cmp-button {}
.cmp-button__text {}
.cmp-button__icon {}

// Overriding core component styles.

.cmp-button {
    cursor: pointer !important;
}

button {
    border: none !important;
}

.cmp-button--background-enabled {
    & .cmp-button {
        border-radius: rem(3px);
        background-color: get-color(header-links-blue);
        &:hover {
            background-color: get-color(td-lightblue);
        }
    }
    .cmp-button__icon {
        color: get-color(brand-white);
    }
    & .cmp-button__text {
        color: get-color(brand-white);
    }
}

.cmp-button__clear {
    background-color: transparent !important;
    cursor: pointer !important;
}
.cmp-button__text--disabled {
    & .cmp-button__text {
        display: none;
    }
    & .cmp-button__icon {
        display: unset;
    }
}

.cmp-button__icon--disabled {
    & .cmp-button__text {
        display: unset;
    }
    & .cmp-button__icon {
        display: none;
    }
}

.cmp-button {
    border: unset;
    padding: rem(1px) rem(6px);
    color: unset;
    text-decoration: none;
    background: none;

    &.btn-xxsmall {
        font-size: $font-size-custom-xxsmall;
        width: 100%;
        padding: rem(6px);
        margin-top: rem(18px);
    }

    &:active,
    &:focus {
        outline: none;
        border: none;
    }

    &__disabled {
        color: get-color(text-light-charcoal);
        background-color: get-color(td-lighter-gray);
        width: rem(240px);
        height: rem(40px);
        box-shadow: inset 0 0 0 rem(1px) get-color(brand-light-gray2);

        &.btn-xxsmall {
            font-size: $font-size-custom-xxsmall;
            width: 100%;
            padding: rem(6px);
            margin-top: rem(18px);
        }
    }

    &__primary {
        color: get-color(brand-white);
        background-color: get-color(td-dark-blue);
        width: rem(240px);
        height: rem(40px);
    }
    &__outlined {
        color: get-color(td-dark-blue);
        background-color: get-color(brand-white);
        width: rem(240px);
        height: rem(40px);
        box-shadow: inset 0 0 0 rem(2px) get-color(td-dark-blue);
    }
    &__region-select {
        color: get-color(brand-white);
        background-color: get-color(td-primary-blue);
        font-size: $font-size-custom-xxsmall;
        width: 100%;
        cursor: pointer;
    }
}

.cmp-radio-btn {
    display: block;
    position: relative;
    padding-left: rem(22px);
    cursor: pointer;
    font-size: $font-size-custom-xxsmall;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:last-of-type {
        margin-bottom: 0;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: rem(24px);
        height: rem(24px);
        left: rem(-2px);
        top: rem(-2px);
        &:checked {
            ~  {
                .checkmark {
                    background-color: get-color(td-primary-blue);
                    box-shadow: inset 0 0 0 0;
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: rem(14px);
        width: rem(14px);
        background-color: get-color(brand-white);
        border-radius: 50%;
        box-shadow: inset 0 0 0 rem(2px) get-color(text-light-charcoal);
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: rem(3.6px);
            left: rem(3.5px);
            width: rem(6px);
            height: rem(6px);
            border-radius: 50%;
            background-color: get-color(brand-white);
        }
    }
}

.cmp-jump-to-top-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;

    .cmp-jump-to-top {
        box-sizing: border-box;
        height: rem(60px);
        width: rem(60px);
        border: rem(1px) solid get-color(brand-light-gray2);
        background-color: get-color(brand-white);
        box-shadow: 0 rem(2px) rem(4px) 0 get-color(brand-box-shadow);
        text-align: center;
        font-size: 30px;
        color: get-color(brand-blue);

        &:hover {
            box-shadow: 0 rem(4px) rem(4px) 0 get-color(brand-box-shadow);
        }

        a {
            height: rem(60px);
            width: rem(60px);
            color: get-color(brand-blue) !important;
        }
    }
}
