.cmp-container {
    float: unset !important;

    &--fixed > .cmp-container {
        margin: 0 auto;
        max-width: 73.125rem;  // 1170px / 16
        overflow: hidden;

        @include media("<lg") {
            margin: 0 1.25rem;  // 20px / 16
        }
    }

    &--padding > .cmp-container {
        @include media(">=lg") {
            .aem-Grid {
                margin-left: -0.5rem;  // -8px / 16
                margin-right: -0.5rem;  // -8px / 16
                width: auto;

                > .aem-GridColumn {
                    padding-left: 0.5rem;  // 8px / 16
                    padding-right: 0.5rem;  // 8px / 16
                }
            }
        }

        @include media("<lg") {
            .aem-Grid {
                margin-left: -0.25rem;  // -4px / 16
                margin-right: -0.25rem;  // -4px / 16
                width: auto;

                > .aem-GridColumn {
                    padding-left: 0.25rem;  // 4px / 16
                    padding-right: 0.25rem;  // 4px / 16
                }
            }
        }
    }

    // Ported over from ui.frontend/src/main/webpack/components/_container.scss
    &__full-width > .cmp-container,
    &--max-1440 {
        max-width: 90rem;  // 1440px / 16
        margin: 0 auto !important;
        float: unset !important;
        clear: both !important;
    }

    &__full-width--max-1600 > .cmp-container,
    &--max-1600 {
        max-width: 100rem;  // 1600px / 16
        margin: 0 auto !important;
        float: unset !important;
        clear: both !important;
    }
}
