.cmp-experiencefragment {}
// .cmp-experiencefragment--<name> {}

// Ported from ui.frontend/src/main/webpack/components/_experiencefragment.scss
.experiencefragment.cmp-experiencefragment--header {
    z-index: 1030;
    position: relative;
    max-height: 80px;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0px;
    padding-right: 0px;

    .search {
        margin-top: 17px;
    }

    .button {
        margin-top: 17px;
    }
}
