.cmp-title {
}
.cmp-title__text {
}
.cmp-title__link {
}

$title-headings: (
    //  tag  size      weight line-height
    "h1" rem(54px) bold rem(56px),
    "h2" rem(36px) bold rem(40px),
    "h3" rem(36px) normal rem(40px),
    "h4" rem(24px) bold rem(32px),
    "h5" rem(24px) normal rem(28px),
    "h6" rem(16px) bold rem(24px)
);

$title-headings-mobile: (
    "h1" rem(36px) bold rem(40px),
    "h2" rem(28px) bold rem(32px),
    "h3" rem(28px) normal rem(32px),
    "h4" rem(20px) bold rem(24px),
    "h5" rem(20px) normal rem(24px),
    "h6" rem(16px) bold rem(24px)
);

.cmp-title {
    text-align: center;

    @each $heading, $fontSize, $weight, $lineHeight in $title-headings-mobile {
        #{$heading} {
            font-size: $fontSize;
            font-weight: $weight;
            line-height: $lineHeight;
        }
    }
    @include media(">=lg") {
        @each $heading, $fontSize, $weight, $lineHeight in $title-headings {
            #{$heading} {
                font-size: $fontSize;
                font-weight: $weight;
                line-height: $lineHeight;
            }
        }
    }
    &__text {
        margin: 0 0 rem(40px) 0;
        letter-spacing: rem(-0.15px);
        @include media(">=lg") {
            margin: 0 0 rem(50px) 0;
        }
    }
}
