# Configuration created by Apache Sling JCR Installer
cq.aclsetup.rules=["allow;jcr:read;everyone;/","deny;jcr:read;everyone;/libs","allow;jcr:read;everyone;/libs;rep:glob\=*/widgets","allow;jcr:read;everyone;/libs;rep:glob\=*/widgets/*","deny;jcr:read;everyone;/apps","allow;jcr:read;everyone;/apps;rep:glob\=*/widgets","allow;jcr:read;everyone;/apps;rep:glob\=*/widgets/*","allow;jcr:read;caconfig-service-user;/"]
