//== Base

html,
body {
	margin: 0;
	font-family: $font-family;
	line-height: $font-height;
	background: $color-background !important;
}


a {
    color: inherit;
}
button,
input,
optgroup,
select,
textarea {
	font: inherit;
}

.cmp-text__white {
	color: #ffffff;
}

.cmp-text__black {
	color: #000000;
}

.cmp-text__light-blue {
	color: #00b1e2;
}

.dp-footer {
	padding-top: 40.4px !important;
	padding-bottom: 37.4px !important;
	padding-left: 28.4px !important;
	padding-right: 47.4px !important;
	margin-top: 3rem;
	color: white;
}

