<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
	<div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>
<div class="signin headerutility" >
	<sly data-sly-resource="${'signin' @ resourceType='techdata/components/signin'}" />
</div>
<div class="minicart headerutility" >
	<sly data-sly-resource="${'minicart' @ resourceType='techdata/components/minicart'}" />
</div>
<div class="languagenavigation headerutility" >
	<sly data-sly-resource="${'languagenavigation' @ resourceType='techdata/components/languagenavigation'}" />
</div>