<footer class="td-brand-bg-ocean td-fineprint">
	<nav class="navigation container-fluid td-container py-5 td-brand-white">
		<div class="row py-5">
			<div class="col-lg-8">
				<div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}" /></div>
			</div>
			<div class="col-lg-4 corp-social td-title-lg text-center">
				<div data-sly-resource="${'social' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
			</div>

		</div>
	</nav>
	<section class="td-attribution py-4 text-center sny-fineprint td-brand-white"> ©2019 Tech Data Corp. | Sitemap</section>
</footer>