            
              
              
<footer class="td-brand-bg-ocean td-fineprint">
  <nav class="navigation container-fluid td-container py-5 td-brand-white">
    <div class="row py-5">
      <div class="col-lg-2">
  <h3 class="td-font td-medium mb-3">Navigation Title</h3>
  <ul class="list-unstyled">
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
  </ul>
</div>

      <div class="col-lg-2">
  <h3 class="td-font td-medium mb-3">Navigation Title</h3>
  <ul class="list-unstyled">
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
  </ul>
</div>

      <div class="col-lg-2">
  <h3 class="td-font td-medium mb-3">Navigation Title</h3>
  <ul class="list-unstyled">
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
  </ul>
</div>

      <div class="col-lg-2">
  <h3 class="td-font td-medium mb-3">Navigation Title</h3>
  <ul class="list-unstyled">
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
    <li>Navigation link</li>
  </ul>
</div>

      <div class="col-lg-4 corp-social td-title-lg text-center">
        <a href="" class="mr-lg-4 td-brand-white" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="" class="mr-lg-4 td-brand-white" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="" class="mr-lg-4 td-brand-white" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="" class="mr-lg-4 td-brand-white" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </nav>
  <section class="td-attribution py-4 text-center sny-fineprint td-brand-white">
    ©2019 Tech Data Corp. | Sitemap
  </section>
</footer>

            
