<div data-observe-mutation>
  <div data-component="OrdersTrackingDetail" data-cmp-type="react" className="cmp-orders-tracking-detail"></div>
</div>
<script>
  const renewalsGridDom = document.querySelector("[data-component='OrdersTrackingDetail']");
  const AEM_DATA = {
    ordersUrl: "/content/tds-site/uk/en/dcp/orders-tracking/order-tracking-grid",
    uiServiceEndPoint: "http://localhost:3000/ui-commerce/v2/order",
    ordersDownloadDocumentsEndpoint: "http://localhost:3000/ui-commerce/v2/DownloadDocuments",
    exportAllOrderLinesEndpoint: "http://localhost:3000/ui-commerce/v2/OrdersExport",
    exportLinesWithSerialNumbersOnlyEndpoint: "http://localhost:3000/ui-commerce/v2/ReportOrdersExport",
    orderModifyEndpoint: "http://localhost:3000/ui-commerce/v2/OrderModify",
    orderModifyChangeEndpoint: "http://localhost:3000/ui-commerce/v2/OrderModifyChange",
    replaceProductEndpoint: "http://localhost:3000/ui-commerce/v2/ReplaceProductUpdate",
    replacementsProductsEndpoint: "http://localhost:3000/ui-commerce/v2/ReplacementProduct",
    trackDeliveryEndpoint: "http://localhost:3000/ui-commerce/v3/order/carrierurl",
    agGridLicenseKey: "CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79",
    labels: {
      menuCopy: "Copy",
      menuCopyWithHeaders: "Copy with headers",
      menuExport: "Export",
      actions: "Actions",
      back: "Back",
      orderNo: "Order №",
    },
    itemsLabels: {
      header: "Line Item Details",
      lineNo: "Line №",
      description: "Description",
      lineStatus: "Line Status",
      shipDate: "Ship date",
      unitPrice: "Unit cost ({currency-code})",
      itemsQuantity: "Qty",
      lineTotalPrice: "Line  total ({currency-code})",
      mfrPartNo: "Mfr №:",
      tdsPartNo: "TDS №:",
      seeOptions: "See options",
      endOfLife: "End Of Life",
    },

    actionLabels: {
      viewDNotes: "View D-Notes",
      viewInvoices: "View Invoices",
      actionModifyOrder: "Modify Order",
      exportSerialNumbers: "Export Serial Numbers",
      copySerialNumber: "Copy Serial Number",
      return: "Return",
      track: "Track",
      toasterCopySerialNumbersMessage: "Your serial numbers have been successfully copied to the clipboard.",
    },

    soldToLabels:{
      soldTo: "Sold to",
      soldToPhone: "Phone:",
      soldToEmail: "Email:",
    },

    orderAcknowledgementLabels: {
      orderAcknowledgement: "Order Acknowledgement",
      customerAccountCode: "Customer account code:",
      orderDate: "Order date:",
      purchaseOrderNo: "Purchase order №:",
      orderType: "Order type:",
    },

    contactLabels: {
      contact: "Contact",
      contactName: "Name:",
      contactPhone: "Phone:",
      contactEmail: "Email:",
    },

    footerLabels: {
      totalOrderNetPrice: "Total Order Net Price",
      line1: "Note: Pricing displayed is subject to vendor price changes and exchange rate",
      line2: "Taxes & Shipping Fees are not included",
      line3: "This order and our trading relationship are governed by the current TD SYNNEX Terms and Conditions of Supply as set out at ",
      line3Link: "https://eu.tdsynnex.com/terms-conditions",
    },

    orderModifyLabels: {
      addNewItem: "Add new Item",
      editQuantities: "Edit quantities of eligible items",
      lineTotal: "Line total",
      modifyOrderTitle: "Modify order",
      cancel: "Cancel",
      update: "Update",
      manufacturersPartNumber: "Manufacturer's part number",
      quantity: "Quantity",
      add: "Add",
      lineMfgPartNo: "Mfr. №:",
      additionalQuantityAdded: "Additional quantities will show in the Order Details page as a new line",
      selectReasonLabel: "Select reason for rejection*",
      rejectionPrice: "Price",
      rejectionAvailability: "Availability",
      rejectionOther: "Other",
      rejectionRequiredInfo: "This is required field",
    },

    trackingFlyout: {
      title: "Track and Trace",
      trackingDescription: "Select the D-Note you want to track.",
      mfrNo: "Mfr №:",
      tdsNo: "TDS №:",
      button: "Track",
      cancelButton: "Cancel",
      dNoteColumn:"D-note №",
      shipDateColumn:"Ship Date"
    },
    dNotesFlyout: {
      title: "D-notes",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    dNoteColumnList: [
      {
        columnLabel: "D-note №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "dateFormatted",
      },
    ],
    invoicesFlyout: {
      title: "Invoices",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    invoicesColumnList: [
      {
        columnLabel: "Invoice №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "dateFormatted",
      },
    ],
    exportFlyout: {
      title: "Export",
      description: "Send to",
      secondaryDescription: "Details to include",
      button: "Export",
      exportSuccessMessage: "Your .xlsx export has been created successfully.",
    },
    exportOptionsList: [{ label: "Exel (.xlxs)", key: "exportOptionsListKey" }],
    exportSecondaryOptionsList: [
      { label: "Export all order lines", key: "exportAllOrderLinesKey" },
      { label: "Export lines with serial numbers only", key: "exportLinesWithSerialNumbersKey" },
    ],
    productReplacementFlyout: {
      replacementModifyOrder: 'Modify order',
      pleaseSelect: 'Please select one of the following options to replace the line item.',
      replaceWithSuggestedItem: 'Replace item with the suggested item',
      removeWithoutReplacement: 'Remove selected line item from your order without selecting a replacement.',
      cancel: "Cancel",
      update: "Update",
      lineTotal: "Line total",
      quantity: "Qty",
      unitCost: "Unit cost",
      lineMfgPartNo: "Mfg №:"
    }
  };
  renewalsGridDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
