<div data-observe-mutation>
  <div data-component="OrdersTrackingDetail" data-cmp-type="react" className="cmp-orders-tracking-detail"></div>
</div>
<script>
  const renewalsGridDom = document.querySelector("[data-component='OrdersTrackingDetail']");
  const AEM_DATA = {
    uiCommerceServiceDomain: "http://localhost:3000/ui-commerce",
    ordersUrl: "/content/tds-site/uk/en/dcp/orders-tracking/order-tracking-grid",
    uiServiceEndPoint: "http://localhost:3000/ui-commerce",
    uiLocalizeServiceDomain: "http://localhost:3000/ui-localize",
    agGridLicenseKey: "CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79",
    labels: {
      pageTitle: "Order Details",
      menuCopy: "Copy",
      menuCopyWithHeaders: "Copy with headers",
      menuExport: "Export",
      actions: "Actions",
      back: "Back",
      orderNo: "Order №",
      completeDeliveryOnly: "Complete delivery only",
      migrationInfoBoxText: "Due to data migration, a new order was created for items that have not been shipped.",
      originalInfoBoxText: "Due to data migration, this new order was created for items that have not been shipped in a previous order.",
      viewOrderText: "View order",
    },
    itemsLabels: {
      header: "Line Item Details",
      lineNo: "Line №",
      descriptionPN: "Description & PN",
      lineStatus: "Line Status",
      shipDate: "Ship date",
      unitPrice: "Unit cost ({currency-code})",
      itemsQuantity: "Qty",
      lineTotalPrice: "Line  total ({currency-code})",
      mfrPartNo: "Mfr №:",
      tdsPartNo: "TDS №:",
      seeOptions: "See options",
      endOfLife: "End Of Life",
      itemsUpdateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
      endUserInfoTemplate: '{name}<br/>{firstName} {lastName}<br/>{line1}<br/>{line2}<br/>{line3}<br/>{city} {state} {zip} {country}<br/>{phone}<br/>{email}',
      endUserInfoClose: 'Close',
      shippedByLabel: 'Shipped by',
      tdSynnexPOLabel: 'TD Synnex PO'
    },

    actionLabels: {
      viewDNotes: "View D-Notes",
      viewInvoices: "View Invoices",
      releaseTheOrder: "Release the order",
      actionModifyOrder: "Modify Order",
      exportSerialNumbers: "Export Serial Numbers",
      xmlMessageLabel: "XML Message",
      xmlMessageAlertLabel: "XML Page is currently not available",
      copySerialNumber: "Copy Serial Number",
      return: "Return",
      track: "Track",
      toasterCopySerialNumbersMessage: "Your serial numbers have been successfully copied to the clipboard.",
      titleReleaseModal: "Release order",
      orderNoString: "Order №",
      PONoString: "PO №",
      upperText: 'Releasing your order will remove the "ship complete" block from your order and cannot be undone.',
      lowerText: 'Select "Release Order" to allow items to ship as they become available.',
      cancelString: "Cancel",
      releaseOrderString: "Release Order",
      releaseButtonLabel: "Release the order",
      releaseSuccessText: '"Complete Delivery Flag" has been removed from your order.',
      releaseFailText: "It wasn't possible to complete your request at this time. Please try again later.",
    },

    soldToLabels: {
      soldTo: "Ship to",
      soldToPhone: "Phone:",
      soldToEmail: "Email:",
      shipToTemplate: "{companyName}<br/>{line1}<br/>{line2} {housenumber}<br/>{line3}<br/>{lineName3}<br/>{lineName4}<br/>{city} {state} {zip} {country}<br/>{phoneNumber}<br/>{email}",
    },

    orderAcknowledgementLabels: {
      orderAcknowledgement: "Order Acknowledgement",
      customerAccountCode: "Customer account code:",
      orderDate: "Order date:",
      purchaseOrderNo: "Purchase order №:",
      orderType: "Order type:",
      orderCreatedBy: "Order created by:"
    },

    contactLabels: {
      contact: "Contact",
      contactPhone: "Tel:",
    },

    footerLabels: {
      totalOrderNetPrice: "Total Order Net Price",
      priceLoadingMessage: "The recent modifications requested for your order are currently being processed, and will be completed shortly, once completed we will update the final order total",
      line1: "Note: Pricing displayed is subject to vendor price changes and exchange rate",
      line2: "Taxes & Shipping Fees are not included",
      line3: "This order and our trading relationship are governed by the current TD SYNNEX Terms and Conditions of Supply as set out at",
      line3Link: "https://eu.tdsynnex.com/terms-conditions",
    },

    orderModifyLabels: {
      addNewItem: "Add new Item",
      editQuantities: "Edit quantities of eligible items - if a line from your order is not listed here, it is not possible to modify that line",
      lineTotal: "Line total",
      modifyOrderTitle: "Modify order",
      cancel: "Cancel",
      update: "Update",
      manufacturersPartNumber: "Manufacturer's part number",
      quantity: "Quantity",
      add: "Add",
      lineMfgPartNo: "Mfr. №:",
      additionalQuantityAdded: "Additional quantities will show in the Order Details page as a new line",
      selectReasonLabel: "Select reason for rejection*",
      rejectionPrice: "Price",
      rejectionAvailability: "Availability",
      rejectionOther: "Other",
      rejectionRequiredInfo: "This is required field",
      cancelNewItem: "Cancel",
      updateSucessMessage: "Your order has been successfully updated as requested",
      modifyUpdateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
      updateErrorListMessage: "We weren't able to complete the following updates:",
      line: "Line",
      reduceQuantity: "Reduce Quantity",
      addNewLine: "Add new line",
      pleaseTryAgain: "Please try again.",
      newItemInfo: "The item will show in the order detail as a new line.",
      newItemRemove: "Remove",
      newItemErrorMessage: "Product not found.",
      sorry: "Sorry,",
      thereAreNoItemsAddNew: "there are no items eligible to modify, but you can add a new line to your order",
      thereAreNoItems: "there are no items eligible to modify, but you can create a new order"
    },

    trackingFlyout: {
      titleTracking: "Track and Trace",
      descriptionTracking: "Select the D-Note you want to track.",
      mfrNoTracking: "Mfr №:",
      tdsNoTracking: "TDS №:",
      buttonTracking: "Track",
      cancelButtonTracking: "Cancel",
      idColumnTracking: "D-note №",
      shipDateColumnTracking: "Ship Date",
    },
    returnFlyout: {
      titleReturn: "Return",
      descriptionReturn: "Select the Invoice you want to return.",
      mfrNoReturn: "Mfr №:",
      tdsNoReturn: "TDS №:",
      buttonReturn: "Return",
      cancelButtonReturn: "Cancel",
      idColumnReturn: "Invoice №",
      shipDateColumnReturn: "Ship Date",
      line:{
        invoices: [
          {id:1, }
        ]
      }
    },
    dNotesFlyout: {
      title: "D-notes",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    dNoteColumnList: [
      {
        columnLabel: "D-note №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "actualShipDateFormatted",
      },
    ],
    invoicesFlyout: {
      title: "Invoices",
      description: "Click a link to view or select items to download.",
      orderNo: "Order №:",
      poNo: "PO №:",
      button: "Download selected",
      clearAllButton: "Clear all",
    },
    invoicesColumnList: [
      {
        columnLabel: "Invoice №",
        columnKey: "id",
      },
      {
        columnLabel: "Ship Date",
        columnKey: "dateFormatted",
      },
    ],
    exportOptionsList: [{ label: "Exel (.xlxs)", key: "exportOptionsListKey" }],
    exportSecondaryOptionsList: [
      { label: "Export all order lines", key: "exportAllOrderLinesKey" },
      { label: "Export lines with serial numbers only", key: "exportLinesWithSerialNumbersKey" },
    ],
    productReplacementFlyout: {
      replacementModifyOrder: "Modify order",
      pleaseSelect: "Please select one of the following options to replace the line item.",
      qty: "Qty",
      unitCost: "Unit cost",
      replaceWithSuggestedItem: "Replace item with the suggested item",
      removeWithoutReplacement: "Cancel selected line item from your order without selecting a replacement",
      cancel: "Cancel",
      update: "Update",
      lineTotal: "Line total",
      quantity: "Qty",
      unitCost: "Unit cost",
      lineMfgPartNo: "Mfg №:",
      replacementUpdateSucessMessage: "Your order has been successfully updated as requested",
      replacementUpdateErrorMessage: "It was not possible to complete your request at this time, please try again later.",
      replacementUpdateErrorListMessage: "We weren't able to complete the following updates:",
      replacementLine: "Line",
      replacementReduceQuantity: "Reduce Quantity",
      replacementAddNewLine: "Add new line",
      replacementPleaseTryAgain: "Please try again.",
    },
    statusesLabels: {
      statusesTitle: "Order status explained",
      statusesClose: "Close",
      statusesList: [
        {
          title: "Acknowledged",
          explanation: "We have received your order."
        },
        {
          title: "Estimated",
          explanation: "We have a PO open with the supplier that will fulfill your order, but they didn't confirm the delivery date yet."
        },
        {
          title: "Confirmed",
          explanation: "This delivery date was provided by the supplier of the product."
        },
        {
          title: "Available",
          explanation: "The product is available in our TD SYNNEX warehouse, but it cannot be shipped yet. For example, we are waiting for the other products in the order."
        },
        {
          title: "Shipped",
          explanation: "The product has been shipped to its final destination."
        },
        {
          title: "Constraint",
          explanation: "There is a constraint situation, and at the moment it is uncertain when the stock will be available for your order."
        },
        {
          title: "Expedited",
          explanation: "The supplier agreed to give your order a higher priority."
        },
        {
          title: "Transit",
          explanation: "The stock that will fulfill your order are now in transit to our TD SYNNEX warehouse."
        },
        {
          title: "Investigation",
          explanation: "The delivery date was flagged by our internal quality controls. We are reviewing the delivery date with our supplier."
        },
        {
          title: "Damaged",
          explanation: "The product arrived damaged at our warehouse - or was missing during the scheduled delivery. We are looking for a solution with the supplier."
        },
        {
          title: "Late Delivery",
          explanation: "We passed the expected delivery date, and working on getting you a new confirmation from the supplier."
        },
        {
          title: "Delivered",
          explanation: "The product has been delivered at its final destination. It could still be open in the backlog for administrative reasons (e.g. a price issue being resolved)."
        }
      ]
    },
  };
  renewalsGridDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
