<!-- <div id="ModalBox" data-observe-mutation>
	<div
		data-component="Modal"
		data-cmp-type="react"
		className="cmp-modal"
		data-config='{"title":"Track My Order","buttonLabel":"Connect All","buttonIcon":"fas fa-angle-double-up"}'>
	</div>
</div> -->
 
 <!-- Track My Order Modal -->

 <div class="cmp-modal visible">
    <div class="cmp-modal_container">
      <div class="cmp-modal_backdrop"></div>
      <div class="cmp-modal_content">
        <div class="cmp-modal_header">
          <h3 class="cmp-modal_title">Track My Order: 14009754980</h3>
          <button class="cmp-modal_close" aria-label="Close">
            <span class="cmp-modal_close" aria-hidden="true">×</span>
          </button>
        </div>
        <div class="cmp-modal_body">
          <section>
            <div class="cmp-track-details-info">
              <div class="cmp-track-details-info__info">
                There are multiple shipments associated with this Order. Click an
                invoice number to preview with the option to print, or Download
                All for a zip file of all shown here.
              </div>
              <div class="cmp-track-details-info__lines">
                <div class="cmp-track-details-info__line">
                  <div class="cmp-show-more">
                    <div class="cmp-show-more__labele">
                      <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                      </span>
                    </div>
                  </div>
                  <div class="cmp-track-details-info__line--logo">
                  </div>
                  <div class="id pending">Pending</div>
                  <div class="value"></div>
                </div>
                <div class="cmp-track-details-info__line">
                  <div class="cmp-show-more">
                    <div class="cmp-show-more__labele">
                      <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                      </span>
                    </div>
                  </div>
                  <div class="cmp-track-details-info__line--logo">
                    <i class="fab fa-fedex"></i>
                  </div>
                  <div class="id ongoing">14009754983</div>
                  <div class="cmp-track-details-info__line--status">In Transit</div>
                </div>
                <div class="cmp-track-details-info__line">
                  <div class="cmp-show-more">
                    <div class="cmp-show-more__labele">
                      <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                      </span>
                    </div>
                  </div>
                  <div class="cmp-track-details-info__line--logo">
                    <i class="fab fa-ups"></i>
                  </div>
                  <div class="id ongoing">14009754983</div>
                  <div class="cmp-track-details-info__line--status">Delivered</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
