<sly data-sly-use.serviceData="com.techdata.core.models.CaConfigReader">
	<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
		<div class="cq-placeholder" data-emptyText="${component.title}"></div>
	</sly>	
	<sly data-sly-use.configJson="${'editconfig.js' @ uiServiceDomain=serviceData.uiServiceDomain, puchOutEndpoint=serviceData.puchOutEndpoint}">
		<div id="EditConfig" data-observe-mutation>
			<div data-component="EditConfig" data-cmp-type="react" className="cmp-edit-config"
			data-config="${configJson.properties}"></div>
		</div>
	</sly>
</sly>
	