@import "main";


.cmp-button {
	cursor: pointer !important;
}
.cmp-button__text {}
.cmp-button__icon {}
//.cmp-button__icon--myIcon {}
button {border: none !important;}
.cmp-button--background-enabled {
	& .cmp-button {
		border-radius: rem(3px);
		background-color: get-color(header-links-blue);;
		&:hover {
			background-color: get-color(td-lightblue);;
		}
	}
	.cmp-button__icon {
		color: get-color(brand-white);
	}
	& .cmp-button__text {
		color: get-color(brand-white);
	}
}

.cmp-button__clear {
	background-color: transparent !important;
	cursor: pointer !important;	
}
.cmp-button__text--disabled {
	& .cmp-button__text {
		display: none;
	}
	& .cmp-button__icon {
		display: unset;
	}
}

.cmp-button__icon--disabled {
	& .cmp-button__text {
		display: unset;
	}
	& .cmp-button__icon {
		display: none;
	}
}

.cmp-button {
	border: unset;
	padding: rem(1px) rem(6px);
	color: unset;
	text-decoration: none;
	background: none;
	&:active, &:focus {
		outline: none;
		border: none;
	}
	&__full {
		color: get-color(brand-white);
		background-color: get-color(td-dark-blue);
		width: rem(240px);
		height: rem(40px);
	}
	&__outlined {
		color: get-color(td-dark-blue);
		background-color: get-color(brand-white);
		width: rem(240px);
		height: rem(40px);
		box-shadow: inset 0 0 0 rem(2px) get-color(td-dark-blue);
	}
}