.cmp-teaser,
.dp-teaser-big {
  &__card {
    padding: 3.18rem 0.5rem;
    .cmp-teaser {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      min-height: 20.43rem;
      background-color: #ffffff;
      background-clip: border-box;
      border: 0.06rem solid #adadad;
      border-width: 0.125rem;
      border-radius: 0;
      border-color: #eaeaea;
      &:hover {
        box-shadow: 0 0 6px #00B1E2;
      }
    }
    .cmp-teaser__content {
      display: flex;
      flex-grow: 1;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    .cmp-teaser__title {
      text-align: center;
      // padding-top: rem(24px);
      // padding-bottom: rem(24px);
      min-height: 6.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.31rem;
      margin: 0;
      line-height: 1.5rem;
      .cmp-teaser__title-link {
        text-decoration: none;
        color: #000c21;
        line-height: 1.5rem;
      }
    }
    .cmp-teaser__image {
      position: relative;
      margin-bottom: 4.68rem;
      img {
        border-radius: 50%;
        width: 6.62rem;
        height: 6.62rem;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .cmp-teaser__description {
      // flex: 1 1 auto;
      padding: 0 1.5rem;
      p {
        color: #676c71;
        font-size: 0.87rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom:1rem;
        word-wrap: break-word;
        line-height: 1.18rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  &__card-image--rounded {
    padding: 8.56rem 0.56rem 1.25rem;
    .cmp-teaser{
      min-height: 25rem;
    }
    .cmp-teaser__description{
      text-align: center;
    }
    .cmp-teaser__image {
      margin-bottom: 9.75rem;
      img {
        border: 1.18rem solid #000c21;
        width: 16rem;
        height: 16rem;
      }
    }
  }
}
