.cmp-container {}


.cmp-container {

  float: unset !important;
  max-width: $container-max-width;
  margin: 0 auto !important;

  &--max-1400 {
    max-width: 1400px;
    margin: 0 auto !important;
  }

  &--max-1600 {
    max-width: 1600px;
    margin: 0 auto !important;
  }
}