.cmp-list {}
.cmp-list__item {}
.cmp-list__item-link {}
.cmp-list__item-title {}
.cmp-list__item-date {}

.dp-list{
    &--teaser {
        .cmp-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
        }

        .cmp-list__item {
            text-align: center;
            > article {
                display: flex;
                flex-direction: column;
                font-weight: 300;
                font-size: 1.25rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    &--menu-grid {

        .cmp-list__item-title{
            display: block;
        }
    }

    &--brand-grid{
        .cmp-list__item-title{
            display: none;
        }
        .cmp-image__image {
            width: 10rem;
        }
    }

    &--fixed-width {
        .cmp-image__image {
            width: 15rem;
        }
    }
    
    &--fixed-height {
        .cmp-image__image {
            height: 15rem;
        }
    }
}