@import "main";

@include desktop {
    .cmp-megamenu {
        position: relative;
        z-index: 99;
        &__title {
            display: none;
        }
        &__body {
            .fa-chevron-left {
                display: none;
            }
        }
        .cmp-megamenu__primary {
            padding-left: 0;
            li {
                display: inline;
                padding: 0 rem(16px);
                font-size: rem(15px);
                border: 0 none;
                &:active,
                &:hover,
                &:focus {
                    outline: none;
                }
                .cmp-megamenu__tab-text {
                    transition: border .3s;
                    padding: 0 rem(3px);
                    // display: block;
                    min-height: rem(30px);
                    border-bottom: transparent rem(3px) solid;
                    text-decoration: none;
                    color: get-color(header-links-blue);
                }
                &:hover {
                    .cmp-megamenu__tab-text {
                        border-bottom-color: get-color(brand-light-blue);
                    }
                }
                a.cmp-megamenu__tab--active {
                    border-bottom-color: get-color(brand-light-blue);
                }
            }
        }

        .cmp-megamenu__tabpanel {
            display: none;
        }

        .cmp-megamenu__tabpanel--active {
            display: block;
        }
    }

    .cmp-megamenu .cmp-navigation {
        display: flex;
        position: absolute;
        min-height: rem(370px);
        border-top: rem(2px) solid get-color(td-dark-blue);
        background-color: get-color(brand-white);
        .cmp-megamenu__wrapper {
            ul {
                min-width: 270px;
                list-style: none;
                padding: 0 0 rem(10px);
                margin: 0;
                li:first-child a {
                    padding-top: rem(10px);
                }
            }
            a {
                display: block;
                color: get-color(text-mid-gray);
                padding: rem(5px) rem(21px);
                transition: all .3s;
                font-size: rem(13px);
                text-decoration: none;
            }
            i,
            svg {
                transition: color .3s;
                height: auto;
            }
        }
        .cmp-megamenu__wrapper-item {
            display: none;
            &--active {
                display: block;
            }
        }
        .cmp-megamenu__secondary {
            background-color: get-color(brand-button-blue);
            a {
                color: get-color(brand-white);
                i,
                svg {
                    margin-right: rem(14px);
                }
                &.cmp-megamenu__item--active,
                &:hover {
                    background-color: get-color(brand-white);
                    color: get-color(td-dark-blue);
                }
            }
            // hide mobile navbar items for desktop
            .cmp-navigation__item--level-0 {
                .cmp-navigation__group {
                    display: none;
                }
            }
            &--title {
                display: none;
            }
            &--sub-title {
                display: none;
            }
        }
        .cmp-megamenu-level-title {
            color: get-color(td-dark-blue);
            margin: 0;
            border-bottom: rem(1px) solid get-color(secondary-light-grey);
            font-size: rem(13px);
            padding: rem(0 10px 9px);
            font-weight: normal;
        }
        .cmp-megamenu__tertiary {
            padding: rem(10px 22px);
            border-right: rem(1px) solid get-color(brand-light-gray2);
            a {
                padding: rem(5px 0px 5px 10px);
                display: flex;
                justify-content: space-between;
                i,
                svg {
                    color: get-color(secondary-light-grey);
                    display: none;
                }
                &.cmp-megamenu__item--active,
                &:hover {
                    color: get-color(brand-light-blue);
                    font-weight: 600;
                    i,
                    svg {
                        color: get-color(brand-light-blue);
                    }
                }
            }
            a[data-cmp-clickable="true"] {
                i,
                svg {
                    display: inline-block;
                }
            }
        }
        .cmp-megamenu__quaternary {
            .cmp-megamenu__wrapper-item {
                padding: rem(9px 22px);
            }
            a {
                padding-left: rem(28px);
            }
            .cmp-megamenu-level-title {
                padding: rem(5px 10px 4px 0px);
                cursor: pointer;
                i,
                svg {
                    color: get-color(secondary-light-grey);
                    margin-right: rem(15px);
                }
            }
        }
    }
}

@include tablet {
    .experiencefragment {
        &.cmp-experiencefragment--header-mobile {
            .cmp-experiencefragment {
                >.cmp-container {
                    .aem-Grid {
                        .megamenu {
                            .cmp-megamenu {
                                &__title {
                                    text-align: center;
                                    border-bottom: 1px solid get-color(secondary-light-grey);
                                    line-height: rem(50px);
                                    color: get-color(text-light-charcoal);
                                    font-size: rem(14px);
                                    &.inactive-md {
                                        display: none;
                                    }
                                    &.active-md {
                                        display: block;
                                    }
                                }
                                &__body {
                                    .fa-chevron-left {
                                        color: get-color(border-lighter-gray);
                                        font-size: 16px;
                                        position: absolute;
                                        left: rem(10px);
                                        top: rem(13px);
                                        opacity: 0;
                                    }
                                }
                                &__primary {
                                    padding: 0;
                                    &.inactive-md {
                                        display: none;
                                    }
                                    &.active-md {
                                        display: block;
                                    }
                                }
                                &__tabpanel {
                                    div {
                                        display: none;
                                        &.active-md {
                                            display: block;
                                        }
                                    }
                                    .cmp-megamenu__secondary {
                                        &.inactive-md {
                                            display: none;
                                        }
                                        &.active-md {
                                            display: block;
                                        }
                                        &--title {
                                            display: block;
                                            text-align: center;
                                            border-bottom: 1px solid get-color(secondary-light-grey);
                                            padding: 10px 0;
                                            color: get-color(text-light-charcoal);
                                            font-size: rem(14px);
                                            &:first-letter {
                                                text-transform: capitalize;
                                            }
                                        }
                                        &--sub-title {
                                            border-bottom: 1px solid get-color(secondary-light-grey);
                                            padding: 10px 0;
                                            color: #000C21;
                                            font-size: rem(14px);
                                            display: block;
                                            &:first-letter {
                                                text-transform: capitalize;
                                            }
                                        }
                                    }
                                    .cmp-navigation {
                                        &__group {
                                            padding: 0;
                                            .cmp-navigation__group {
                                                padding-left: rem(30px);
                                                display: none;
                                                &.inactive-md {
                                                    display: none;
                                                }
                                                &.active-md {
                                                    display: block;
                                                }
                                            }
                                            li {
                                                list-style: none;
                                                position: relative;
                                                a {
                                                    text-decoration: none;
                                                    color: get-color(text-light-charcoal);
                                                    svg, >i {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                        &__item {
                                            color: get-color(text-light-charcoal);
                                            font-family: $open-sans;
                                            font-size: rem(14px);
                                            letter-spacing: 0;
                                            line-height: rem(40px);
                                            &--level-0 {
                                                &.has-child.active {
                                                    border-bottom: 1px solid get-color(secondary-light-grey);
                                                }
                                            }
                                            &.has-child {
                                                &:before {
                                                    content: '\f054';
                                                    font-family: 'Font Awesome 5 Free';
                                                    font-size: rem(16px);
                                                    font-weight: 900;
                                                    color: get-color(border-lighter-gray);
                                                    position: absolute;
                                                    right: 0;
                                                }
                                                &.active {
                                                    >a {
                                                        color: get-color(brand-light-blue);   
                                                    }
                                                    &:before {
                                                        color: get-color(brand-light-blue);
                                                        content: '\f078';
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
