.cmp-text {}
.cmp-text__paragraph {}


.dp-aem-alert{
  border: 1px solid #048FC8;
  padding: 2rem;
  background-color: #fff;
  color: #53565A;
  box-shadow: 0px 0px 5px 0px #048FC8!important;
}

.dp-text{
  p{
    font-size: 1rem;
    color: #5D6165;
  }
  &--xsmall{
    p{
      font-size: 0.7rem;
    }
  }
  &--small{
    p{
      font-size: 0.875rem;
    }
  }
  &--big{
    p{
      font-size: 1.25rem;
    }
  }
  &--white{
    p{
      color: #fff;
    }
  }
  &--light-blue{
    p{
      color: #00B1E2;
    }
  }
  &--dark-blue{
    p{
      color: #000C21;
    }
  }
  &--align-center{
    text-align: center;
  }
  &--align-right{
    text-align: right;
  }
}
