@import 'main';

@keyframes a-fade-in {
	from {
		opacity: 0;
		visibility: visible;
	}
	to {
		opacity: 1;
		visibility: hidden;
	}
}
@keyframes a-fade-out {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
.cmp-modal {
	font-family: $font-family-sans-serif;
	&.visible {
		animation: a-fade-in 0.15s linear;
		visibility: visible;
	}
	&.hidden {
		animation: a-fade-out 0.15s linear;
		visibility: hidden;
	}
	&_backdrop {
		background-color: get-color(td-lighter-gray);
		opacity: 0.5;
		z-index: 1030;
		position: fixed;
		height: auto;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	&_content {
		border: 1px solid get-color(td-lighter-gray);
		background-color: get-color(brand-white);
		line-height: 1.5;
		box-sizing: border-box;
		position: fixed;
		z-index: 1031;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		max-height: 100%;
		height: fit-content;
		overflow: auto;
		max-width: 100%;
		width: fit-content;
		min-width: 30%;
		box-shadow: 2px 2px 4px;
	}
	&_header {
		color: get-color(brand-blue);
		font-size: $font-size-large;
		display: flex;
		justify-content: space-between;
		height: 2rem;
	}
	&_title {
		margin: rem(10px) rem(10px) 0rem rem(30px);
	}
	&_body {
		margin: 2rem;
		min-height: rem(100px);
		font-size: $font-size-medium;
	}
	&_btn {
		color: get-color(brand-white);
		background: get-color(brand-blue);
		width: 100%;
		height: 100%;
		cursor: pointer;
		&_text {
			margin: 1rem;
			font-size: $font-size-small;
		}
		&-icon {
			margin-right: 0.5rem;
		}
	}
	&_close {
		font-size: 1.5rem;
		height: rem(39px);
		width: rem(39px);
		background: get-color(td-lighter-gray);
		margin: rem(2px);
		cursor: pointer;
	}
	&_footer {
		height: rem(50px);
	}
}

///details info modal content style///
.cmp-details-info {
	max-width: rem(500px);
	&__info {
		font-size: $font-size-small;
		margin-bottom: rem(20px);
		color: get-color('brand-text-gray');
	}
	&__line {
		display: grid;
		grid-template-columns: 30% 40% 30%;
		min-height: rem(53px);
		height: fit-content;
		align-items: flex-start;
		padding-top: rem(16px);
		border-top: 1px solid get-color('secondary-light-grey');
		text-align: left;
		color: get-color('brand-text-gray');
		& .value {
			text-align: right;
		}
		& .ongoing {
			text-decoration: underline;
			color: get-color(brand-button-blue);
			cursor: pointer;
		}
		&:last-child {
			border-bottom: 1px solid get-color('secondary-light-grey');
		}
	}
	& .cmp-show-more {
		&__label {
			cursor: pointer;
			& .icon {
				margin-left: rem(5px);
				color: get-color('td-primary-blue');
				& i:before {
					display: inline-block;
				}
			}
			& .expanded {
				& svg,
				i:before {
					transform: rotate(90deg);
				}
			}
		}
		&__content {
			margin-top: rem(10px);
			margin-bottom: rem(5px);
			font-size: $font-size-xsmall;
		}
	}
}

///vendor connection modal content style///
.cmp-vendor-connection {
	max-width: rem(500px);
	&__header {
		font-size: $font-size-medium;
		font-weight: $font-weight-bold;
		margin-bottom: rem(20px);
		color: get-color('brand-text-gray');
		text-align: left;
	}
	&__vendors {
		&__vendor {
			display: grid;
			grid-template-columns: 30% 50% 20%;
			min-height: rem(53px);
			height: fit-content;
			align-items: center;
			border-top: 1px solid get-color('secondary-light-grey');
			text-align: left;
			color: get-color('brand-text-gray');
			border-top: 1px solid get-color('secondary-light-grey');
			& .logo {
			}
			& .status {
			}
			& .toggler {
				justify-self: right;
				align-self: center;
			}
			&:last-child {
				border-bottom: 1px solid get-color('secondary-light-grey');
			}
		}
	}
}
