@import "main";

.cmp-product-lines-grid {
  height: auto;
  width: 100%;
  overflow: auto;
  &__header {
    color: get-color(td-dark-blue);
    font-family: $font-family-sans-serif;
    z-index: 1;
    position: absolute;
    transform: translate(0px, -6px);
    &__title {
      margin-left: rem(16px);
      font-size: $font-size-large;
    }
    &__expand-collapse {
      margin-left: rem(16px);
      font-size: $font-size-small;
      color: get-color(td-primary-blue);
      & span {
        cursor: pointer;
        margin: 0 rem(8px) 0 rem(8px);
      }
    }
  }
  .ag-root-wrapper {
    border: unset;
    border-bottom: 1px solid get-color(brand-scrollbar);
  }
  .ag-root-wrapper-body {
    .ag-header-container {
      background-color: get-color(td-dark-blue);
      .ag-header-cell-text {
        color: get-color(brand-white);
      }
    }
    .ag-center-cols-container {
      .ag-row {
        .ag-cell {
          border-top: 1px solid get-color(brand-scrollbar);
          &:first-child {
            border: none;
          }
        }
      }
    }
    .ag-cell-focus {
      border: unset !important;
    }
    .ag-row-odd,
    .ag-row-even {
      background-color: get-color(brand-white);
    }
  }
  &__child-grid {
    .ag-root-wrapper-body {
      border: unset;
      margin-top: 0;
      .ag-header {
        display: none;
      }
    }
  }
  &__item-information {
    &__image-link {
      width: 90px;
      height: 50px;
    }
  }
}
