@import 'main';

.cmp-product-lines-grid {
	height: 600px;
	width: 100%;
	overflow: auto;
	&__child-grid {
		& .ag-root-wrapper-body{
			margin-top: 0;
			& .ag-header{
				display: none;
			}
		}
	}
}
