<div class="subheader tabs panelcontainer aem-GridColumn aem-GridColumn--default--12"><div id="subheader" style="background-color: #000c21" class="cmp-tabs" data-cmp-data-layer="{&quot;subheader&quot;:{&quot;repo:modifyDate&quot;:&quot;2024-07-12T10:45:27Z&quot;,&quot;shownItems&quot;:[],&quot;@type&quot;:&quot;techdata/components/subheader&quot;}}">
     <div>
          <div class="cmp-sub-header--sub-nav new-sub" data-current-page-path="/content/techdata/apac-language-masters/en/dcp/renewals">

               <div class="cmp-sub-header--content">
                    <div class="cmp-sub-header--sub-nav__title">
                         
                         <span class="cmp-sub-header__span" style="color: rgb(255,255,255)">Renewals</span>
                    </div>
                    
                    <ol></ol>
                    
                         
<div><div class="button">
  
<a id="action-renewals-new-purchase" class="cmp-button " href="#open-new-purchase" data-cmp-clickable="" data-cmp-data-layer="{&quot;action-renewals-new-purchase&quot;:{&quot;@type&quot;:&quot;techdata/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2024-10-16T09:27:33Z&quot;,&quot;dc:title&quot;:&quot;New purchase&quot;,&quot;xdm:linkURL&quot;:&quot;#open-new-purchase&quot;}}" style="display: none;">
	
	

  
	<span class="cmp-button__text" style="color: rgb(255,255,255)">New purchase</span>
</a>

    
</div>
</div>
                    
               </div>
          </div>
     </div>
     
     
</div></div>