<div class="subheader tabs aem-GridColumn aem-GridColumn--default--12"><div id="subheader" style="background-color: #000c21" class="cmp-tabs" data-cmp-data-layer="{&quot;subheader&quot;:{&quot;repo:modifyDate&quot;:&quot;2024-06-20T13:05:41Z&quot;,&quot;shownItems&quot;:[&quot;subheader-item-3e0437e54b&quot;],&quot;@type&quot;:&quot;techdata/components/subheader&quot;}}">
    <div>
         <div class="cmp-sub-header--sub-nav new-sub" data-current-page-path="/content/techdata/apac-language-masters/en/dcp/renewals">

              <div class="cmp-sub-header--content">
                   <div class="cmp-sub-header--sub-nav__title">
                        
                        <span class="cmp-sub-header__span" style="color: rgb(255,255,255)">Renewals</span>
                   </div>
                   <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false" style="color: rgb(255,255,255)">
                        
                        <li role="tab" id="subheader-item-3e0437e54b-tab" class="cmp-tabs__tab cmp-tabs__tab--active" aria-controls="subheader-item-3e0437e54b-tabpanel" tabindex="0" data-cmp-hook-tabs="tab">
                             
                                       
                             
                                       
                                  
                                       <span class="cmp-sub-header__span" data-cmp-data-layer="{&quot;subheader-item-3e0437e54b&quot;:{&quot;xdm:linkURL&quot;:&quot;#action-renewals-new-purchase&quot;,&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;New purchase&quot;}}">
                                            <a href="#action-renewals-new-purchase.html" style="color: #fff" target="_self">New purchase</a>
                                       </span>
                                  
                                  

                             
                             
                        </li>
                        
                   </ol>
                   
                   
              </div>
         </div>
    </div>
    <div id="subheader-item-3e0437e54b-tabpanel" role="tabpanel" aria-labelledby="subheader-item-3e0437e54b-tab" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;subheader-item-3e0437e54b&quot;:{&quot;@type&quot;:&quot;techdata/components/subheader/item&quot;,&quot;dc:title&quot;:&quot;New purchase&quot;}}"><div class="container responsivegrid">

   
   
   
   <div id="container-3e0437e54b" class="cmp-container">
       
       
       
   </div>

</div>
</div>

    
</div></div>