<!-- <div id="top" class="cmp-jump-to-top-wrap">
    <button class="cmp-jump-to-top">
        <a href="#top">
            <i class="fas fa-chevron-up"></i>        
        </a>
    </button>
</div> -->


<h3 class="cmp-class-for-uiFrontend-only">This text is for UI Frontend only to show the jump to top button. DO NOT USE IT IN AEM, please! Scroll down to use this  simple back-to-top button.</h3>


<button class="cmp-jump-to-top hide" id="js-jumptotop">
        <i class="fas fa-chevron-up"></i>   
</button>
