.mb-responsive-100-50 {
    margin-bottom: 3.125rem;  // 50px / 16
    @include media(">=lg") {
        margin-bottom: 6.25rem; // 100px / 16
    }
}

.mx-10 {
    margin-left: 0.625rem;  // 10px / 16
}

.m-2 {
    margin: 2rem;  // 32px / 16
}
