<div data-sly-unwrap="{$wcmmode.disabled}">
	<div class="row py-2 pb-3 d-flex align-items-center">
		<div class="col-lg-2 td-logo">
			<img
				class="shop-logo img-fluid"
				src="https://shopglobaluidesign-techdata-dev.azurewebsites.net/images/Tech-Data.png"
				style="height: 40px; width: auto"
				alt="TechData Logo"
			/>
		</div>
		<div class="col-lg-5 td-main-site-navigation">
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Products
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<div
						data-sly-resource="${ @path='products-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></div>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Solutions
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<div
						data-sly-resource="${ @path='solutions-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></div>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Services
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<div
						data-sly-resource="${ @path='services-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></div>
				</ul>
			</span>

			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Brands
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<div
						data-sly-resource="${ @path='brands-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></div>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					About Us
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<div
						data-sly-resource="${ @path='about-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></div>
				</ul>
			</span>
		</div>
		<div class="col-sm-12 col-lg-3 td-main-site-navigation">
			<input
				class="form-control form-control-sm"
				type="text"
				placeholder="Search for solutions"
				aria-label="site search"
			/>
		</div>
		<div class="col-lg-2 col td-search">
			<div
				data-sly-unwrap="{$wcmmode.disabled}"
				data-sly-resource="${'profile-button' @ resourceType='/apps/digital-platform/components/content/button'}"
			></div>
		</div>
	</div>
	<!--/* <sly data-sly-resource="${'td-breadcrumb' @ resourceType='/apps/core/wcm/components/breadcrumb/v2/breadcrumb'}"></sly> */-->
</div>
