<div data-sly-unwrap="${wcmmode.disabled}">
	<div class="row py-2 pb-3 d-flex align-items-center">
		<div class="col-lg-2 td-logo-">
			<h1>
				<img
					src="https://shopglobaluidesign-techdata-dev.azurewebsites.net/images/Tech-Data.png"
					alt=""
					class="img-fluid pr-5"
				/>
			</h1>
		</div>
		<div class="col-lg-4 col-sm-12 td-main-site-navigation">
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Products
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<sly
						data-sly-resource="${ @path='products-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></sly>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Solutions
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<sly
						data-sly-resource="${ @path='solutions-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></sly>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Services
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<sly
						data-sly-resource="${ @path='services-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></sly>
				</ul>
			</span>

			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					Brands
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<sly
						data-sly-resource="${ @path='brands-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></sly>
				</ul>
			</span>
			<span class="dropdown">
				<button
					class="btn btn-link btn-sm dropdown-toggle"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-expanded="false"
				>
					About Us
				</button>
				<ul class="dropdown-menu p-4 rounded-0" aria-labelledby="dropdownMenuButton">
					<sly
						data-sly-resource="${ @path='about-nav', resourceType='/apps/digital-platform/components/structure/navigation'}"
					></sly>
				</ul>
			</span>
		</div>
		<div class="col-sm-12 col-lg-4 td-main-site-navigation">
			<sly
				data-sly-resource="${ @path='main-site-search', resourceType='/apps/digital-platform/components/content/dp-content/sitesearch'}"
			></sly>
		</div>
		<div class="col-lg-2 col-sm-12 td-search text-right d-flex" style="display: flex; justify-content: space-between">
			<div
				data-sly-unwrap="{$wcmmode.disabled}"
				data-sly-resource="${'profile-button' @ resourceType='/apps/digital-platform/components/content/button'}"
			></div>
			<div
				data-sly-unwrap="{$wcmmode.disabled}"
				data-sly-resource="${'profile-cart' @ resourceType='/apps/digital-platform/components/content/cart'}"
			></div>
		</div>
	</div>
</div>
