.cmp-teaser,
.dp-teaser {
	&__card {
		padding: 3.18rem 0.5rem;
		&:last-child {
			.cmp-teaser {
				box-shadow: unset;
			}
		}
		.cmp-teaser {
			box-shadow: inset rem(-1px) 0 0 0 get-color(brand-light-gray);
			position: relative;
			display: flex;
			flex-direction: column;
			min-width: 0;
			min-height: rem(304px);
			background-color: get-color(brand-white);
			background-clip: border-box;
			color: get-color(text-dark-grey) !important;
			cursor: default;

			@include mobile {
				box-shadow: none;
			}

			&:hover {
				color: get-color(brand-blue) !important;
				cursor: default;
				.cmp-teaser__title-link {
					color: get-color(brand-blue) !important;
					font-weight: 600;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				.cmp-teaser__title {
					color: get-color(brand-blue) !important;
					font-weight: 600;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				.cmp-teaser__image img {
					box-shadow: 0 0 0 rem(6px) get-color(brand-blue);
				}
			}

			&__content {
				display: flex;
				flex-grow: 1;
				flex-direction: column-reverse;
				justify-content: space-between;
			}
			&__title {
				text-align: center;
				min-height: 4.375rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 1.31rem;
				margin: 0;
				line-height: 1.5rem;				
				font-weight: $font-weight-normal;
				&-link {
					text-decoration: none;
					line-height: 1.5rem;
					color: get-color(text-dark-grey);
					font-weight: 300;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&__image {
				position: relative;
				margin-bottom: 5.625rem;
				img,
				svg {
					border-radius: 50%;
					width: 6.62rem;
					height: 6.62rem;
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%) translateY(-33%);
				}
			}
			&__description {
				padding: 0 rem(30px);
				max-height: rem(144px);
				word-wrap: break-word;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
				overflow: hidden;
				p {
					font-size: 0.87rem;
					font-weight: 300;
					margin-top: 0;
					margin-bottom: 0.875rem;
					line-height: 1.18rem;
					-webkit-line-clamp: unset !important;
					display: block !important;
					overflow: unset !important;
				}
			}
		}
		&--aboutus {
			padding: rem(15px) rem(35px) 0;
			background-color: get-color(brand-blue) !important;
			.cmp-teaser {
				box-shadow: unset;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				min-width: 0;
				min-height: rem(100px);
				background-clip: border-box;
				color: get-color(text-dark-grey) !important;
				cursor: pointer;
				&:hover {
					color: get-color(brand-blue) !important;
					cursor: pointer;
					.cmp-teaser__title-link {
						color: get-color(brand-white) !important;
					}

					svg {
						fill: get-color(brand-white);
					}
				}
				&:not(:hover) {
				    svg circle {
				        fill: get-color(brand-blue);
				    }
				}
				&__content {
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					justify-content: space-between;
				}
				&__title {
					text-align: center;
					min-height: 4.375rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					font-size: $font-size-medium;
					font-weight: 600;
					margin: 0;
					line-height: 1.5rem;
					color: #fff;
					&-link {
						text-decoration: none;
						line-height: 1.5rem;
						color: get-color(brand-white);
					}
				}
				&__image {
					img, svg {
						border-radius: 50%;
						width: 6.62rem;
						height: 6.62rem;
					}

					width: 6.62rem;
					height: 6.62rem;

					svg {
						fill: get-color(brand-blue);
						background-color: get-color(brand-white);
					}
				}
				&__description {
					display: none;
				}
			}
		}
		&--image-highlight {
			&.cmp-teaser__card {
				.cmp-teaser {
					min-height: rem(287px);
					&:hover {
						.cmp-teaser__title-link {
							font-weight: $font-weight-bold;
						}
						.cmp-image__image {
							svg {
								path,
								polygon {
									fill: get-color(td-lightblue);
								}
							}
						}
						.cmp-teaser__description {
							color: get-color(text-dark-grey);
						}
					}

					&__title {
						&-link {
							color: get-color(text-dark-grey);
							font-size: $font-size-custom-medium;
							line-height: rem(24px);
							font-weight: $font-weight-semi-bold;
						}
					}

					.cmp-image__image {
						svg {
							path,
							polygon {
								fill: get-color(td-dark-blue);
							}
						}
					}
				}
			}
		}
	}
	&__card-image--rounded {
		padding: 8.56rem 0.56rem 1.25rem;
		.cmp-teaser {
			min-height: 25rem;
		}
		.cmp-teaser__description {
			text-align: center;
		}
		.cmp-teaser__image {
			margin-bottom: 9.75rem;
			img {
				border: 0 solid get-color(border-light-gray);
				width: 16rem;
				height: 16rem;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
	&--button {
		.cmp-teaser {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:hover {
				a {
					font-weight: 900;
				}
			}
			&:not(:hover) {
                svg circle {
                    fill: get-color(brand-blue);
                }
            }
		}

		.cmp-teaser__title-link {
			color: get-color(brand-black);
			text-decoration: none;
			font-weight: 100;
			transition: all .3s;
		}

		.cmp-teaser__image {
			height: auto;
			text-align: center;
			max-width: rem(120px);
			width: 100%;

			svg {
				border-radius: 50%;
				padding: rem(10px);
				height: auto;
				transition: all .3s;
				width: rem(120px);

				path,
				polygon {
						fill: get-color(brand-white);
				}
			}
		}
	}
}
