.cmp-teaser,
.dp-teaser {
	&__card {
    padding: rem(51px) rem(8px);
    
		.cmp-teaser {
      position: relative;
			display: flex;
			flex-direction: column;
			min-width: 0;
      min-height: rem(297px);
			background-color: get-color(brand-white);
			background-clip: border-box;
			border: rem(1px) solid get-color(secondary-grey);
			border-width: rem(2px);
			border-radius: 0;
			border-color: get-color(brand-light-gray);
			&:hover {
				box-shadow: 0 0 6px get-color(brand-light-blue);
			}
		}
		.cmp-teaser__content {
			display: flex;
      flex-grow: 1;
			flex-direction: column-reverse;
      justify-content: space-between;
		}
		.cmp-teaser__title {
			text-align: center;
			// padding-top: rem(24px);
			// padding-bottom: rem(24px);
      min-height: rem(70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
			font-size: rem(21px);
			margin: 0;
      line-height: rem(24px);
			.cmp-teaser__title-link {
				text-decoration: none;
				color: get-color(brand-blue);
				line-height: rem(24px);
			}
		}
		.cmp-teaser__image {
      position: relative;
      margin-bottom: rem(90px);
			img {
				border-radius: 50%;
				width: rem(106px);
				height: rem(106px);
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%) translateY(-33%);
			}
		}
		.cmp-teaser__description {
			// flex: 1 1 auto;
			padding: 0 rem(24px);
			word-wrap: break-word;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
			p {
				color: #676c71;
				font-size: rem(14px);
				font-weight: 300;
				margin-top: 0;
				margin-bottom: rem(14px);
				line-height: rem(19px);
				-webkit-line-clamp: unset!important;
				display: block!important;
				overflow: unset!important;
			}
		}
	}
	&__card-image--rounded {
		padding: rem(137px) rem(9px) rem(20px);
    .cmp-teaser{
      min-height: rem(410px);
    }
    .cmp-teaser__description{
      text-align: center;
    }
		.cmp-teaser__image {
      margin-bottom: rem(156px);
			img {
				border: rem(19px) solid get-color(brand-blue);
				width: rem(256px);
				height: rem(256px);
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}
