/**
 * @namespace teaser
 * @group Teaser Components
 *
 * SCSS code for styling the teaser component, type 5.
 *
 * @author Ryan Williams <ryan.williams@tdsynnex.com>
 * @version 1.0.0
 * @since 1.0.0
 */

/**
 * @class teaser--type-5
 *
 * Styles for type 5 of the teaser component.
 */
.teaser {
  &.teaser--type-5 {
    /**
     * Teaser container styles.
     */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem !important;
    background: white;
    margin-right: 2rem;

    @include desktop {
      flex: 1 !important;
    }

    @include tablet {
      flex: 1 !important;
    }

    @include mobile {
      flex: unset !important;
    }

    [id^='teaser-'] {
      flex-basis: 17.25rem;
    }

    /**
     * Teaser image styles.
     */
    .cmp-teaser__image {
      // Add image styles here

      .cmp-image__image {
        width: auto;
        max-width: clamp(300px, 40.5vw, 640px);
      }

      @include tablet {
        .cmp-image__image {
          width: 400px;
        }
      }

      @include mobile {
        .cmp-image__image {
          width: 300px;
        }
      }
    }

    /**
     * Image link styles.
     */
    .cmp-image__link {
      // Add image link styles here
    }

    /**
     * Teaser content styles.
     */
    .cmp-teaser__content {
      /**
       * Teaser title styles.
       */
      .cmp-teaser__title {
        height: none;
        padding-left: 2rem;
        width: clamp(300px, 40.5vw, 640px);
      }

      /**
       * Title link styles.
       */
      .cmp-teaser__title-link {
        // Add title link styles here
      }

      /**
       * Teaser description styles.
       */
      .cmp-teaser__description {
        height: none;
        padding: 1.5rem 2rem 2rem 2rem;
        text-decoration: none;
        color: initial;

        &:hover {
          text-decoration: none;
        }

        ul {
          list-style: inside;
          margin-left: 10px;
        }
      }

      /**
       * Description link styles.
       */
      .cmp-teaser__desc-link {
        &:hover {
          text-decoration: none;
        }
      }

      /**
       * Action container styles.
       */
      .cmp-teaser__action-container {
        // Add action container styles here
      }
    }
  }
}
