.cmp-teaser {
    // Add "cmp-teaser--feature-callout" class for Feature Callout Variation
    &--feature-callout {
        margin-bottom: rem(100px);

        @include media("<lg") {
            margin-bottom: rem(60px);
        }
        .cmp-teaser__image {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            z-index: 1;
            background-size: cover;
            .cmp-image__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
            }
        }
        .cmp-teaser__content {
            padding: 0 rem(54px) rem(45px) rem(50px);
            border: rem(1px) solid get-color(secondary-light-grey);

            @include media("<lg") {
                padding: 0 rem(12px) rem(10px) rem(12px);
            }
        }
        .cmp-teaser__disclaimer {
            color: get-color(brand-black);
            font-size: rem(11px);
            line-height: 1.45;
            font-weight: 300;
        }
        .cmp-teaser__action-link {
            line-height: rem(24px);
            background-color: get-color(brand-gold);
            border-radius: rem(4px);
            padding: rem(8px) rem(25px);
            display: inline-flex;
            align-items: center;
            border: none;
            line-height: rem(24px);
            color: get-color(secondary-black);
            text-decoration: none;
        }
    }
    // Add "cmp-teaser--carousel-item" class for carousel Variation
    &--carousel-item  {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: auto;
        // margin-bottom: rem(100px);

        @include media("<lg") {
            border: 0.0625rem solid get-color(secondary-light-grey);
            border-radius: 0 0 0.25rem 0.25rem;
            box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, 0.08);
            height: 100%;
        }

        .cmp-teaser {
            &__image {
                position: relative;
                top: 0;
                z-index: 0;
                height: 100%;
                width: 100%;
                display: block;
                bottom: 0;

                @include media("<lg") {
                    height: 100%;
                    width: 100%;
                    display: block;
                    position: static;
                }
                .cmp-image__image {
                    object-fit: cover;
                    height: auto;
                    width: 100%;
                    position: relative;
                    background-size: auto auto;
                }
            }
            &__title {
                > * {
                    margin: 0;
                }
                @include media(">=lg") {
                    padding: rem(0 29px 6px 0);
                }
            }
            &__description {
                p {
                    margin: 0;
                }
                @include media(">=lg") {
                    padding: rem(0 29px 26px 0);
                }
            }
            &__action-container {
                @include media(">=lg") {
                    margin-bottom: rem(20px);
                }
            }

            &__content {
                background-color: get-color(brand-white);
                margin: rem(50px);
                position: absolute;
                bottom: rem(1px);
                width: rem(392px);
                padding: rem(21px) 0 rem(29px) rem(46px);
                padding-bottom: rem(48px);
                box-shadow: 0 rem(1.5px) rem(1.5px) 0 rgba(0, 0, 0, 0.08);
                border-radius: rem(4px);
                @include media(">=lg") {
                    min-width: rem(240px);
                    min-height: rem(100px);
                }

                @include media("<lg") {
                    width: 100%;
                    display: block;
                    box-shadow: none;
                    padding: 1.125rem 1.25rem 2.25rem;
                    margin: 0;
                    position: relative;
                }
            }
            .cmp-teaser__disclaimer {
                color: get-color(secondary-black);
                font-size: rem(11px);
                line-height: 1.45;
                font-weight: 300;
            }
            .cmp-teaser__action-link {
                line-height: rem(24px);
                background-color: get-color(brand-gold);
                border-radius: rem(4px);
                padding: rem(8px) rem(25px);
                display: inline-flex;
                align-items: center;
                border: none;
                line-height: rem(24px);
                color: get-color(secondary-black);
                text-decoration: none;
            }
        }
    }
}

$teaser-headings: (
    //  tag  size      weight line-height
    "h1" rem(54px) bold rem(56px),
    "h2" rem(36px) bold rem(40px),
    "h3" rem(36px) normal rem(40px),
    "h4" rem(24px) bold rem(32px),
    "h5" rem(24px) normal rem(28px),
    "h6" rem(16px) bold rem(24px)
);

$teaser-headings-mobile: (
    "h1" rem(36px) bold rem(40px),
    "h2" rem(28px) bold rem(32px),
    "h3" rem(28px) normal rem(32px),
    "h4" rem(20px) bold rem(24px),
    "h5" rem(20px) normal rem(24px),
    "h6" rem(16px) bold rem(24px)
);

.cmp-teaser__content {
    text-align: left;

    @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings-mobile {
        #{$heading} {
            font-size: $fontSize;
            font-weight: $weight;
            line-height: $lineHeight;
        }
    }
    @include media(">=lg") {
        @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings {
            #{$heading} {
                font-size: $fontSize;
                font-weight: $weight;
                line-height: $lineHeight;
            }
        }
    }
    &__text {
        margin: 0 0 rem(40px) 0;
        letter-spacing: rem(-0.15px);
        @include media(">=lg") {
            margin: 0 0 rem(50px) 0;
        }
    }
}
