.cmp-teaser {
    // Add "cmp-teaser--feature-callout" class for Feature Callout Variation
    &--feature-callout {
        margin-bottom: rem(100px);

        @include media("<lg") {
            margin-bottom: rem(60px);
        }
        .cmp-teaser__image {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            z-index: 1;
            background-size: cover;
            .cmp-image__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
            }
        }
        .cmp-teaser__content {
            padding: 0 rem(54px) rem(45px) rem(50px);
            border: rem(1px) solid get-color(secondary-light-grey);

            @include media("<lg") {
                padding: 0 rem(12px) rem(10px) rem(12px);
            }
        }
        .cmp-teaser__disclaimer {
            color: get-color(brand-black);
            font-size: rem(11px);
            line-height: 1.45;
            font-weight: 300;
        }
        .cmp-teaser__action-link {
            line-height: rem(24px);
            background-color: get-color(brand-gold);
            border-radius: rem(4px);
            padding: rem(8px) rem(25px);
            display: inline-flex;
            align-items: center;
            border: none;
            line-height: rem(24px);
            color: get-color(secondary-black);
            text-decoration: none;
        }
    }
    // Add "cmp-teaser--carousel-item" class for carousel Variation
    &--carousel-item  {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: auto;
        // margin-bottom: rem(100px);

        @include media("<lg") {
            border: 0.0625rem solid get-color(secondary-light-grey);
            border-radius: 0 0 0.25rem 0.25rem;
            box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, 0.08);
            height: 100%;
        }

        .cmp-teaser {
            &__image {
                position: relative;
                top: 0;
                z-index: 0;
                height: 100%;
                width: 100%;
                display: block;
                bottom: 0;

                @include media("<lg") {
                    height: 100%;
                    width: 100%;
                    display: block;
                    position: static;
                }
                .cmp-image__image {
                    object-fit: cover;
                    height: auto;
                    width: 100%;
                    position: relative;
                    background-size: auto auto;
                }
            }
            &__title {
                > * {
                    margin: 0;
                }
                @include media(">=lg") {
                    padding: rem(0 29px 6px 0);
                }
            }
            &__description {
                p {
                    margin: 0;
                }
                @include media(">=lg") {
                    padding: rem(0 29px 26px 0);
                }
            }
            &__action-container {
                @include media(">=lg") {
                    margin-bottom: rem(20px);
                }
            }

            &__content {
                background-color: get-color(brand-white);
                margin: rem(50px);
                position: absolute;
                bottom: rem(1px);
                width: rem(392px);
                padding: rem(21px) 0 rem(29px) rem(46px);
                padding-bottom: rem(48px);
                box-shadow: 0 rem(1.5px) rem(1.5px) 0 rgba(0, 0, 0, 0.08);
                border-radius: rem(4px);
                @include media(">=lg") {
                    min-width: rem(240px);
                    min-height: rem(100px);
                }

                @include media("<lg") {
                    width: 100%;
                    display: block;
                    box-shadow: none;
                    padding: 1.125rem 1.25rem 2.25rem;
                    margin: 0;
                    position: relative;
                }
            }
            .cmp-teaser__disclaimer {
                color: get-color(secondary-black);
                font-size: rem(11px);
                line-height: 1.45;
                font-weight: 300;
            }
            .cmp-teaser__action-link {
                line-height: rem(24px);
                background-color: get-color(brand-gold);
                border-radius: rem(4px);
                padding: rem(8px) rem(25px);
                display: inline-flex;
                align-items: center;
                border: none;
                line-height: rem(24px);
                color: get-color(secondary-black);
                text-decoration: none;
            }
        }
    }
}

$teaser-headings: (
    //  tag  size      weight line-height
    "h1" rem(54px) bold rem(56px),
    "h2" rem(36px) bold rem(40px),
    "h3" rem(36px) normal rem(40px),
    "h4" rem(24px) bold rem(32px),
    "h5" rem(24px) normal rem(28px),
    "h6" rem(16px) bold rem(24px)
);

$teaser-headings-mobile: (
    "h1" rem(36px) bold rem(40px),
    "h2" rem(28px) bold rem(32px),
    "h3" rem(28px) normal rem(32px),
    "h4" rem(20px) bold rem(24px),
    "h5" rem(20px) normal rem(24px),
    "h6" rem(16px) bold rem(24px)
);

.cmp-teaser__content {
    text-align: left;

    @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings-mobile {
        #{$heading} {
            font-size: $fontSize;
            font-weight: $weight;
            line-height: $lineHeight;
        }
    }
    @include media(">=lg") {
        @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings {
            #{$heading} {
                font-size: $fontSize;
                font-weight: $weight;
                line-height: $lineHeight;
            }
        }
    }
    &__text {
        margin: 0 0 rem(40px) 0;
        letter-spacing: rem(-0.15px);
        @include media(">=lg") {
            margin: 0 0 rem(50px) 0;
        }
    }
}


/* TEMP TEASER */
.cmp-teaser {
}

.cmp-teaser__image {
}
.cmp-teaser__content {
}
.cmp-teaser__title {
}
.cmp-teaser__title-link {
}
.cmp-teaser__description {
}
.cmp-teaser__action-container {
}
.cmp-teaser__action-link {
}

.cmp-container--full {
  max-width: 1440px;
}

.cmp-container--fixed {
  max-width: 1440px;
}

/* hero 1 */
.hero-style-1 {
  position: relative;
  height: 31.25rem;
    background-image: url('https://source.unsplash.com/yjRWmDk3_g4');
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
  overflow: hidden;
  .cmp-teaser {
  }

  .cmp-teaser__image {
  }
  .cmp-image__image {
    height: 31.25rem;
  }
  .cmp-teaser__content {
    font-family: "Open Sans", sans-serif;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 7.375rem;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    color: #fff;
    text-shadow: 0 0 0.1rem #919599;
  }

  .cmp-teaser__pretitle {
    font-family: "Open Sans", sans-serif;
    font-size: 3.125rem;
  }

  .cmp-teaser__title {
    display: flex;
    font-family: "Open Sans", sans-serif;
    margin: 2.7rem 0;
    margin-left: 2.125rem;
    font-size: 4.375rem;
    position: relative;
    top: 35px;
    font-weight: 600;
  }

  .cmp-teaser__title-link {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #ffffff;

    &.cmp-buttons__plus {
      width: 1.563rem;
      height: 1.563rem;
      font-size: 2rem;
      margin: 0.75rem 0 0 0.75rem;
      position: relative;
      &.blue {
        background-color: #00b1e2;
        color: #ffffff;
        &:before {
          content: "+";
          position: absolute;
          top: 50%;
          left: 12%;
          line-height: 0;
        }
      }
      &.white {
        background-color: #ffffff;
        color: #00b1e2;
        &:before {
          content: "+";
          position: absolute;
          top: 50%;
          left: 12%;
          line-height: 0;
        }
      }
    }
  }
  .cmp-teaser__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.875rem;
    margin-left: 12.125rem;
    position: relative;
    top: -90px;
  }
  .cmp-teaser__action-container {
    font-family: "Open Sans", sans-serif;
  }
  .cmp-teaser__action-link {
    font-family: "Open Sans", sans-serif;
  }
}

/* end hero 1 */

/* hero 2 */
.hero-style-2 {
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 31.25rem;
    background-image: url('https://source.unsplash.com/s7nlaF3kefg');
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
  overflow: hidden;
  .cmp-teaser {
  }
  .cmp-teaser__image {
  }
  .cmp-teaser__content {
    font-family: "Open Sans", sans-serif;
    padding-top: 6rem;
    padding-bottom: 3.125rem;
    padding-left: 2.188rem;
    box-sizing: border-box;
    color: #7c8388;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .cmp-teaser__pretitle {
    font-size: 3.125rem;
    font-family: "Open Sans", sans-serif;
  }

  .cmp-teaser__title {
    display: flex;
    font-size: 2.5rem;
    margin: .5rem 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .cmp-teaser__title-link {
  }
  .cmp-teaser__description {
    font-size: 1.375rem;
    width: 42%;
    font-family: "Open Sans", sans-serif;
    p{
      margin: 0;
    }
  }
  .cmp-teaser__action-container {
  }
  .cmp-teaser__action-link {
  }
}

/* end hero 2 */

/* hero 3 */

.hero-style-3 {
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 31.25rem;
    background-image: url('https://source.unsplash.com/i_JUAdanGH0');
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;

  .cmp-teaser {
  }
  .cmp-teaser__image {
  }
  .cmp-teaser__content {
    font-family: "Open Sans", sans-serif;
    padding-top: 4.875rem;
    padding-bottom: 3.125rem;
    padding-left: 3.75rem;
    box-sizing: border-box;
    color: #53565a;
    align-content: center;
    color: #fff;
    text-shadow: 0 0 0.063rem #919599;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .cmp-teaser__title {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    margin: .5rem 0;
    font-weight: 400;
  }
  .cmp-teaser__title-link {
    font-family: "Open Sans", sans-serif;
  }
  .cmp-teaser__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.375rem;
    width: 42%;
  }
  .cmp-teaser__action-container {
    font-family: "Open Sans", sans-serif;
    width: 14.125rem;
  }
  .cmp-teaser__action-link {
  }
}

/* end hero 3 */

/* hero 4 */
.hero-style-4 {

  .cmp-teaser {
    background-image: url('https://source.unsplash.com/PhYq704ffdA');
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
  }

  .cmp-teaser__image {

  }
  .cmp-teaser__content {
    padding-top: 8.563rem;
    padding-bottom: 5rem;
    display: flex;
  }
  .cmp-teaser__title {
    //width: 33.125rem;
    width: 50%;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0 0 0.063rem #919599;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 43px;
    text-align: right;
    padding-right: 4.438rem;
    border-right: 1px solid #979797;
    box-sizing: border-box;
  }
  .cmp-teaser__title-link {
  }
  .cmp-teaser__description {
    //width: 38.5rem;
    width: 50%;
    color: #ffffff;
    text-shadow: 0 0 0.063rem #919599;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 22px;
    padding-left: 3.438rem;
    padding-right: 3.438rem;
    margin: 0;
  }
  .cmp-teaser__action-container {
  }
  .cmp-teaser__action-link {
  }
}

/* end hero 4 */

/* END OF TEMP TEASER*/
