/**
 * @namespace teaser
 * @group Teaser Components
 *
 * SCSS code for styling the teaser component, type 7.
 *
 * @author Ryan Williams <ryan.williams@tdsynnex.com>
 * @version 1.0.0
 * @since 1.0.0
 */

/**
 * @class teaser--type-7
 *
 * Styles for type 7 of the teaser component.
 */
.teaser {
  &.teaser--type-7 {
    /**
     * Teaser container styles.
     */
    display: flex !important;
    width: 30% !important;
    flex-direction: column !important;
    align-items: flex-start;
    gap: 1rem;
    justify-content: start !important;

    /**
     * Inner teaser container styles.
     */
    [id^='teaser-'] {
      width: 20.25rem;
      align-self: center;
      justify-content: left;
    }

    /**
     * Teaser image styles.
     */
    .cmp-teaser__image {
      // Add image styles here
    }

    /**
     * Image link styles.
     */
    .cmp-image__link {
      // Add image link styles here
    }

    /**
     * Teaser content styles.
     */
    .cmp-teaser__content {
      display: flex;
      padding: 1.5rem 0 2rem 0;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      width: 100%;

      /**
       * Teaser title styles.
       */
      .cmp-teaser__title {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;
        height: 0 !important;

        &::before {
          content: ' ';
          border: solid var(--Legacy-Sky, map-get($color-palette, 'brand-light-blue')) 3px;
          display: block;
          height: 1.875rem;
        }

        &:first-of-type {
          padding-top: 1.5rem;
        }
      }

      /**
       * Title link styles.
       */
      .cmp-teaser__title-link {
        // Add title link styles here
      }

      /**
       * Teaser description styles.
       */
      .cmp-teaser__description {
        width: 100%;
        padding: 1.5rem 2rem 2rem 2rem;

        ul {
          list-style-type: disc;
          margin-left: max(1rem, 2rem);
          margin-right: max(1rem, 2rem);
        }
      }

      /**
       * Description link styles.
       */
      .cmp-teaser__desc-link {
        // Add description link styles here
      }

      /**
       * Action container styles.
       */
      .cmp-teaser__action-container {
        padding: 1.5rem 2rem 2rem 2rem;
      }

      /**
       * Action link styles.
       */
      .cmp-teaser__action-link {
        // Add action link styles here
      }
    }
  }
}
