<sly data-sly-use.postMap="${'com.techdata.digitalCommerce.core.models.APIModel' @ apiURL=' ', jsonInput= ' ', method='POST' , requestVariable='productDetails'}">

<h2>Data Coming from Generic Class</h2>

<sly data-sly-list.keyName="${postMap.jsonMap}"> 
<sly data-sly-test="${keyname == 'MaterialNumber'}"><div>MaterialNumber : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'IsFreeFrightEligible'}"><div>IsFreeFrightEligible : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'IsVendorShipped'}"><div>IsVendorShipped : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'ManufacturerPartNumber'}"><div>ManufacturerPartNumber : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'ShortDescription'}"><div>ShortDescription : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'LongDescription'}"><div>LongDescription : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'MSRPString'}"><div>MSRPString : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'UnitPriceString'}"><div>UnitPriceString : ${postMap.jsonMap[keyname]}</div></sly>
<sly data-sly-test="${keyname == 'ImageURL'}"><div>ImageURL : ${postMap.jsonMap[keyname]}</div></sly>

</sly>
</sly>

