.cmp-tabs {
    .cmp-tabs__tablist {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        justify-content: center;
    }

    .cmp-tabs__grouped-list {
        display: inline-block;
        list-style: none;
        column-count: 2;
        column-gap: rem(65px);
        li {
            text-align: left;
            padding-bottom: 0;
            &:hover {
                color: get-color(brand-light-blue);
            }
        }
    }
    .cmp-tabs__tab {
        box-sizing: border-box;
        border-bottom: 0px solid transparent;
        padding: 0.5rem 1rem;
        cursor: pointer;

        &--active {
            border-color: inherit;
        }
    }

    .cmp-tabs__tabpanel {
        display: none;
        margin-left: 16.7%;
        margin-right: 4%;

        &--active {
            display: block;
        }
    }
}

.tmp-bg {
    background-color: get-color(brand-blue);
}
.top-nav {
    .nav {
        border: none;
    }
    .li,
    [role="tab"] {
        padding: 0 1rem;
        font-size: 0.9rem;
        //  color: #00B1E2;
        border-bottom: transparent 3px solid;
        &:active,
        &:hover,
        &:focus {
            //  border: none !important;
            outline: none;
        }
        &:hover {
            border-bottom: #00b1e2 3px solid;
        }
        min-height: 30px;
    }

    .cmp-tabs__tab--active {
        border-bottom: #00b1e2 3px solid;
    }
    .cmp-tabs__tabpanel {
        padding: 2rem 0;
    }
    .cmp-tabs__tabpanel--active {
        display: block;
    }
}

.tab-icon {
    .cmp-tabs__tablist {
        margin-bottom: 4rem;
    }

    .cmp-tabs__tab {
        text-align: center;
        padding: 0 0.5rem;
        border-bottom: 0;
        font-size: 1rem;

        .cmp-tabs__tab-image {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
            border: 6px solid transparent;
            padding: 1.5rem;
            margin-top: 0.9rem;
            transition: border-color 0.3s;
            img {
                width: auto;
                margin: 0 auto;
            }
        }

        &.cmp-tabs__tab--active,
        &:hover,
        &:active {
            outline: 0 none;

            .cmp-tabs__tab-image {
                border-color: #cfcaca;
            }
        }
    }
}

.cmp-tabs__tabpanel--text {
    height: 36px;
    width: 133px;

    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

.cmp-text__white {
    &.cmp-tabs__tabpanel--text,
    cmp-tabs__tab,
    cmp-tabs__tab--active {
        color: #ffffff;
    }
}

.tab-center {
    .cmp-tabs__tablist {
        display: flex;
        justify-content: center;
    }
}
