<div id="DropdownMenu" class="cmp-sign-in" data-observe-mutation>
	<div
		data-component="DropdownMenu"
		data-cmp-type="react"
		className="cmp-sign-in-option"
        data-config='{
            "label": "Local Sign-In",
            "authenticationURL": "http://localhost:3000",
            "items": [
            {
                "linkTitle":"My Dashboard",
                "linkUrl":"/dashboard",
                "iconUrl":"fa fa-user"
            },
            {
                "linkTitle":"Reseller Tools",
                "linkUrl":"/reseller-tools",
                "iconUrl":"fa fa-calculator"
            },
            {
                "linkTitle":"Saved Carts",
                "linkUrl":"/saved-carts",
                "iconUrl":"fa fa-shopping-cart"
            },
            {
                "linkTitle":"Favorites",
                "linkUrl":"/favorites",
                "iconUrl":"fa fa-heart"
            },
            {
                "linkTitle":"Account Settings",
                "linkUrl":"/account-settings",
                "iconUrl":"fa fa-cog"
            }],
            "uiServiceEndPoint": "http://localhost:3000/login"
        }'
	></div>
</div>

