<div id="EditConfig" data-observe-mutation>
    <div
        data-component="EditConfig"
        data-cmp-type="react"
        className="cmp-edit-config"
        data-config='{
			"label": "EDIT A CONFIG",
			"buttonTitle": "Edit Configuration",
            "endpoint": "http://localhost:3000",
            "puchOutEndpoint": "http://localhost:3000/ui-config/v1/getPunchOutURL",
            "criteria": "PAY",
            "ignoreSalesOrganization": true,
            "isDefault": false,
            "placeholderText":"placholder text",
            "errorTitle": "Error from AEM"
		}'
    ></div>
</div>
