<div class="container-fluid mx-0 px-0">
  <div class="teaser cmp-teaser--carousel-item">
    <div id="teaser-c0294248db" class="cmp-teaser"
      data-cmp-data-layer="{&quot;teaser-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Linked Teaser&quot;,&quot;dc:description&quot;:&quot;<p>Teaser Description</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <div class="cmp-teaser__image">
        <div data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1550672498426/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8" data-title="Gray lava rock formation"
          id="image-c0294248db"
          data-cmp-data-layer="{&quot;image-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Gray lava rock formation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c58c09f6-e382-4698-bfbd-e8c8d37712c8&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:38Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
          class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
          <a class="cmp-image__link" href="/content/core-components-examples/library/page-authoring/teaser.html"
            data-cmp-clickable="" data-cmp-hook-image="link">
            <img src="https://source.unsplash.com/yjRWmDk3_g4" class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Gray lava rock formation" title="Gray lava rock formation">
          </a>
          <meta itemprop="caption" content="Gray lava rock formation">
        </div>
      </div>
      <div class="cmp-teaser__content">
        <div id="teaser-61035a52f1" class="cmp-teaser__content--hero-style-1">
          <div class="cmp-teaser__content--hero-style-1__content">
            <div class="cmp-teaser__content--hero-style-1__pretitle">Connecting the World</div>
            <h2 class="cmp-teaser__content--hero-style-1__title">Power of Technology
              <div class="cmp-buttons__plus white float-l"></div>
            </h2>
            <div class="cmp-teaser__content--hero-style-1__description float-l">with the</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
<br />
<div class="container-fluid mx-0 px-0">
  <div class="teaser cmp-teaser--carousel-item">
    <div id="teaser-c0294248db" class="cmp-teaser"
      data-cmp-data-layer="{&quot;teaser-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Linked Teaser&quot;,&quot;dc:description&quot;:&quot;<p>Teaser Description</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <div class="cmp-teaser__image">
        <div data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1550672498426/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8" data-title="Gray lava rock formation"
          id="image-c0294248db"
          data-cmp-data-layer="{&quot;image-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Gray lava rock formation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c58c09f6-e382-4698-bfbd-e8c8d37712c8&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:38Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
          class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
          <a class="cmp-image__link" href="/content/core-components-examples/library/page-authoring/teaser.html"
            data-cmp-clickable="" data-cmp-hook-image="link">
            <img src="https://source.unsplash.com/s7nlaF3kefg" class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Gray lava rock formation" title="Gray lava rock formation">
          </a>
          <meta itemprop="caption" content="Gray lava rock formation">
        </div>
      </div>
      <div class="cmp-teaser__content">
        <div id="teaser-61035a52f1" class="cmp-teaser__content--hero-style-2">
          <div class="cmp-teaser__content--hero-style-2__content">
            <h1 class="cmp-teaser__content--hero-style-2__title float-l">
              Power Your Cloud Business
              <div class="cmp-buttons__plus blue float-l"></div>
            </h1>

            <div class="cmp-teaser__content--hero-style-2__description">
              <p>
                Leverage Tech Data's StreamOne platform to create a customer
                experience that matches your business model
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
<br />
<div class="container-fluid mx-0 px-0">
  <div class="teaser cmp-teaser--carousel-item">
    <div id="teaser-c0294248db" class="cmp-teaser"
      data-cmp-data-layer="{&quot;teaser-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Linked Teaser&quot;,&quot;dc:description&quot;:&quot;<p>Teaser Description</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <div class="cmp-teaser__image">
        <div data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1550672498426/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8" data-title="Gray lava rock formation"
          id="image-c0294248db"
          data-cmp-data-layer="{&quot;image-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Gray lava rock formation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c58c09f6-e382-4698-bfbd-e8c8d37712c8&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:38Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
          class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
          <a class="cmp-image__link" href="/content/core-components-examples/library/page-authoring/teaser.html"
            data-cmp-clickable="" data-cmp-hook-image="link">
            <img src="https://source.unsplash.com/i_JUAdanGH0" class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Gray lava rock formation" title="Gray lava rock formation">
          </a>
          <meta itemprop="caption" content="Gray lava rock formation">
        </div>
      </div>
      <div class="cmp-teaser__content">
        <div id="teaser-61035a52f1" class="cmp-teaser__content--hero-style-3">
          <div class="cmp-teaser__content--hero-style-3__content">
            <h1 class="cmp-teaser__content--hero-style-3__title float-l">
              Power Your Cloud Business
              <div class="cmp-buttons__plus blue float-l"></div>
            </h1>

            <div class="cmp-teaser__content--hero-style-3__description">
              <p>
                Leverage Tech Data's StreamOne platform to create a customer
                experience that matches your business model
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />
<br />
<!--


*** HIDING THE 4th TEASER AS I NOTICE TAMMY HAD REMOVED IT FROM THE COMPS.
    I will verify with her tomorrow. ***

<div class="container-fluid mx-0 px-0">
  <div class="teaser cmp-teaser--carousel-item">
    <div id="teaser-c0294248db" class="cmp-teaser"
      data-cmp-data-layer="{&quot;teaser-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Linked Teaser&quot;,&quot;dc:description&quot;:&quot;<p>Teaser Description</p>\r\n&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <div class="cmp-teaser__image">
        <div data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1550672498426/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8" data-title="Gray lava rock formation"
          id="image-c0294248db"
          data-cmp-data-layer="{&quot;image-c0294248db&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:39:46Z&quot;,&quot;dc:title&quot;:&quot;Gray lava rock formation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c58c09f6-e382-4698-bfbd-e8c8d37712c8&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:38Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
          class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
          <a class="cmp-image__link" href="/content/core-components-examples/library/page-authoring/teaser.html"
            data-cmp-clickable="" data-cmp-hook-image="link">
            <img src="https://source.unsplash.com/PhYq704ffdA" class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="" title="">
          </a>
          <meta itemprop="caption" content="Gray lava rock formation">
        </div>
      </div>
      <div class="cmp-teaser__content">
        <div id="teaser-61035a52f1" class="cmp-teaser__content--hero-style-4">
          <div class="cmp-teaser__content--hero-style-4__content d-flex">
            <div class="cmp-teaser__content--hero-style-4__title">
              About Us:&nbsp;&nbsp;&nbsp;A Closer Look at <br>
              What Makes Us Tech Data</div>
            <h2 class="cmp-teaser__content--hero-style-4__description">At vero eos et accusamus et iusto odio
              dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
              occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
              laborum et dolorum fuga. </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
