<div data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html" id="${carousel.id}"
  class="cmp-carousel ${properties.customWrapperClasses}" role="group" aria-label="${carousel.accessibilityLabel}"
  aria-live="polite" aria-roledescription="carousel" data-cmp-is="carousel"
  data-cmp-autoplay="${(wcmmode.edit || wcmmode.preview) ? '' : carousel.autoplay}" data-cmp-delay="${carousel.delay}"
  data-cmp-autopause-disabled="${carousel.autopauseDisabled}" data-cmp-data-layer="${carousel.data.json}">
  <div data-sly-test="${carousel.items && carousel.items.size > 0}" class="cmp-carousel__content" aria-atomic="false"
    aria-live="${carousel.autoplay ? 'off' : 'polite'}">
    <div data-sly-repeat.item="${carousel.items}" data-sly-resource="${item.name @ decorationTagName='div'}"
      id="${item.id}" class="cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''}" role="tabpanel"
      aria-roledescription="slide"
      aria-label="${'Slide {0} of {1}' @ format=[itemList.count, carousel.items.size], i18n}"
      data-cmp-data-layer="${item.data.json}" data-cmp-hook-carousel="item"></div>
    <section role="tablist" aria-label="${'Choose a slide to display' @ i18n}" data-cmp-hook-carousel="indicators"
      class="cmp-carousel__indicators dp-carousel__nav dp-carousel__nav-labels">
      <sly data-sly-repeat.item="${carousel.items}">
        <a role="tab" aria-controls="${carousel.id}-item-${itemList.index}"
          aria-label="${'Slide {0}' @ format=[itemList.count], i18n}" data-cmp-hook-carousel="indicator"
          class="dp-carousel__nav-label ${properties.navigationColor} ${properties.navigationSize}${itemList.first ? ' cmp-carousel__indicator--active' : ''}">
          <span data-sly-test="${!itemList.first}" class="dp-carousel__nav-label-separator">|</span>
          ${item.title}
        </a>
      </sly>
    </section>
    <!-- <ol class="cmp-carousel__indicators dp-carousel__nav dp-carousel__nav-dots" role="tablist"
      aria-label="${'Choose a slide to display' @ i18n}" data-cmp-hook-carousel="indicators">
      <li data-sly-repeat.item="${carousel.items}"
        class="cmp-carousel__indicator${itemList.first ? ' cmp-carousel__indicator--active' : ''} dp-carousel__nav-dot ${properties.navigationColor}"
        role="tab" aria-controls="${carousel.id}-item-${itemList.index}"
        aria-label="${'Slide {0}' @ format=[itemList.count], i18n}" data-cmp-hook-carousel="indicator">${item.title}
      </li>
    </ol> -->
    <div data-sly-test="${properties.enableAlert}" data-sly-unwrap data-sly-use.alertTemplate="alert.html">
      <div data-sly-unwrap data-sly-call="${alertTemplate}"></div>
    </div>
  </div>
  <sly
    data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
    data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</div>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-call="${template.placeholder @ isEmpty=!resource.children}"></sly>
<div data-sly-test="${wcmmode.edit && carousel.items.size < 1}" class="alert alert-primary">
  <!--/* Customize title and text to provide instructions for developers */-->
  <h4>Developer Mode Only</h4>
  <p>Carousel. This component may be limited by polices to follow design rules.</p>
  <p>If you need a different functionality please contact support.</p>
</div>