.cmp-carousel__indicators {

  align-self: center;
  width: auto;
  flex-wrap: nowrap;

  //New classes for position of carousel dots
  &--left {
    &.cmp-carousel-slide {
      align-self: flex-start;
    }
  }

  &--right {
    &.cmp-carousel-slide {
      align-self: flex-end;
    }
  }
}