@import "../../_mixins.scss";

.dp-carousel {
  position: relative;

  &.dp-carousel__navigation--hero1 {
    .dp-carousel__nav {
      justify-content: flex-end;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: rem(8px) rem(24px);
      box-sizing: border-box;

      @include tablet {
        justify-content: center;
      }
    }

    .dp-carousel__nav-labels {
      display: flex;
      align-items: center;
      z-index: 1;

      @include tablet {
        justify-content: center;
      }
    }

    .dp-carousel__nav-label {
      font-size: 0.75rem;
      cursor: pointer;
      color: get-color(secondary-light-grey) !important;
      padding: rem(4px) 0;
      margin: 0 rem(16px);
      position: relative;
      text-decoration: none;

      &:last-of-type {
        margin-right: 0;
      }

      @media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
        margin: 0;
        padding: 0;
      }

      @include tablet {
        font-size: 0;
        margin: 0 5px;
        border: 1px solid get-color(secondary-light-grey);
        background: get-color(brand-black);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-indent: -3000px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: rem(2px);
        width: 0;
        background-color: get-color(brand-nav-blue);
        transition: width 0.3s;
        display: block;

        @include tablet {
          background-color: unset;
        }
      }

      &:focus {
        outline: 0 none;
      }

      &.cmp-carousel__indicator--active,
      &:hover {
        background-color: rgba(0,0,0,0);        
        color: get-color(brand-white);
        opacity: 1;
        cursor: pointer;

        @include tablet {
          opacity: 0.5;
        }

        &::before {
          width: 100%;
        }

      }
    }

    .dp-carousel__nav-label-separator {
      color: get-color(secondary-light-grey);
      padding: rem(4px) 0;
      position: absolute;
      left: rem(-20px);
      top: 0;
      display: inline-block;

      @media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
        box-shadow: 0px 0 0 0 get-color(secondary-light-grey);
        padding: 0;
        position: absolute;
        left: -1.25rem;
        top: 0;
        display: inline-block;
        height: 100%;
        width: 2px;
        color: transparent;
      }
    }
  }

  &.dp-carousel__alert--hero1 {
    .dp-carousel__alert {
      //px-4 py-3 mt-1 position-absolute w-100
      padding: rem(16px) rem(24px);
      position: absolute;
      width: 100%;
      bottom: rem(47px);
      left: 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: get-color(brand-white);
        opacity: 0.4;
      }
    }

    .dp-carousel__alert-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 90rem;
      margin: 0 auto;

      @media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: normal;
        align-content: center;
      }

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .dp-carousel__alert-text {
      //col position-relative h5 m-0 text-shadow-1
      flex: 1 0 0%;
      position: relative;
      font-size: rem(22px);
      font-weight: 500;
      color: get-color(brand-white);
      text-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.5);
      margin-bottom: rem(10px);

      @include tablet {
        font-size: rem(13px);
        font-weight: bold;
        line-height: rem(18px);
      }
    }

    .dp-carousel__alert-buttons {
      //col-md-auto d-flex align-items-end position-relative
      flex: 0 0 auto;
      position: relative;
      display: flex;
      align-items: flex-end;

      @include tablet {
        font-size: rem(12px);
        letter-spacing: 0;
        line-height: rem(13px);
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .dp-carousel__alert-button {
      //text-uppercase btn btn-light rounded-0 font-weight-bold mr-4
      background-color: get-color(brand-white);
      color: get-color(brand-button-blue);
      border: 0 none;
      text-decoration: none;
      vertical-align: middle;
      padding: rem(4.8px) rem(12px);
      margin-right: rem(24px);
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        margin-top: rem(10px);
        margin-right: 0;
      }

      @include mobile {
        margin-top: rem(10px);
        margin-right: 0;
      }
    }

    .dp-carousel__alert-button-color {
      color: get-color(brand-light-blue);
    }

    @include desktop {
      .cmp-carousel {
        .cmp-carousel__content {
          &::after {
            background: linear-gradient(180deg,
                rgba(0, 12, 33, 0) 0%,
                get-color(brand-blue) 100%);
            height: rem(135px);
            content: " ";
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}

.dp-carousel:not(.dp-carousel__navigation--hero1) .dp-carousel__nav {
  display: flex;
  padding: rem(10px) rem(36px);
  z-index: 2;

  .dp-carousel__nav-label {
    &::before {
      display: none;
    }

    font-size: 0;
    opacity: 0.7;
    width: rem(10px);
    height: rem(10px);
    color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 rem(6.4px);
    box-shadow: inset 0 0 0 rem(1px) get-color(cool-gray-1);
    cursor: pointer;
    text-indent: -3000px;
    flex: 0 1 auto;
    position: relative;

    &.cmp-carousel__indicator--active,
    &:hover {
      color: map-get($color-palette, "black");
      opacity: 1;
      background-color: map-get($color-palette, "black");
    }
  }
}

.dp-carousel__nav-label-separator {
  display: none;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
  .carousel-max-1440.dp-carousel.dp-carousel__navigation--hero1 .dp-carousel__nav-labels {
    max-width: 90rem;
    left: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@include desktop {
  .carousel-max-1440 .cmp-carousel .cmp-teaser__content {
    max-width: 90rem;
    margin: 0 auto !important;
  }

  .carousel-max-1440.dp-carousel.dp-carousel__navigation--hero1 .dp-carousel__nav-labels {
    max-width: 90rem;
    left: calc(50% - 45rem);
  }

  .carousel-max-1440 .dp-carousel.dp-carousel__alert--hero1 .dp-carousel__alert-container {
    max-width: 90rem;
    margin: 0 auto;
  }

  .carousel-max-1440 .dp-carousel.dp-carousel__navigation--hero1 .dp-carousel__nav-labels {
    max-width: 90rem;
    left: calc(50% - 45rem);
  }

  .carousel-max-height-500 .cmp-teaser__image .cmp-image__image {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
    object-position: center;
  }
}


// New nav dots styling
.cmp-carousel__indicators {
  align-self: center;
  width: auto;
  flex-wrap: nowrap;

  &--active {
    background-color: get-color(brand-blue) !important;
  }

  //New classes for position of carousel dots
  &--left {
    .cmp-carousel__indicators {
      align-self: flex-start;
      padding-left: 25%;
    }
  }

  &--right {
    .cmp-carousel__indicators {
      align-self: flex-end;
      padding-right: 25%;
    }
  }
}


.cmp-carousel-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .cmp-carousel__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    position: absolute;
  }

  &--left {
    .cmp-carousel__actions {
      left: rem(24px) !important;
    }
  }

  &--right {
    .cmp-carousel__actions {
      right: rem(24px) !important;
    }
  }


  .cmp-carousel__action {
    width: 1.875rem;
    height: 1.875rem;
    border: 0;
    border-radius: 50%;
    padding: 0.375rem;
    line-height: 1.875rem;
    background-color: inherit;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &--previous {
      order: 1;
      border-top: none;
      border-right: none;
      z-index: 3;
      position: absolute;
      left: 0;

      .cmp-carousel__action-icon {
        position: absolute;
        top: 50%;
        width: 0.875rem;
        height: 0.875rem;
        border-left: 3px solid get-color(cool-gray-8);
        border-bottom: 3px solid get-color(cool-gray-8);
        border-top: none;
        border-right: none;
        z-index: 2;
        transform: translateY(-50%) translateX(-4px) rotate(45deg);
        cursor: pointer;
      }

    }

    &--next {
      order: 1;
      border-left: none;
      position: absolute;
      right: 0;
      border-bottom: none;

      .cmp-carousel__action-icon {
        position: absolute;
        top: 50%;
        width: 1rem;
        height: 1rem;
        border-right: 3px solid get-color(cool-gray-8);
        border-top: 3px solid get-color(cool-gray-8);
        border-left: none;
        border-bottom: none;
        z-index: 2;
        transform: translateY(-50%) translateX(-9px) rotate(45deg);
        cursor: pointer;
      }
    }



  }

  .cmp-carousel__action-icon {
    &:before {
      display: inline-block;
      vertical-align: top;
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga";
    }
  }

  .cmp-carousel__action-text {
    display: none;
  }


}

.tds-alertcarousel {
  &.dp-carousel {
    &.dp-carousel__navigation--hero1 .dp-carousel__nav-label {
      font-size: rem(14px);
      background-color: rgba(0, 0, 0, 0) !important;

      &::before {
        background-color: map-get($color-palette, "green") !important;
      }
    }

    &.dp-carousel__alert--hero1 {
      .dp-carousel__alert-button-color {
        color: get-color(deep-teal);
      }

      .dp-carousel__alert-buttons {
        a {
          color: get-color(deep-teal);

          svg {
            path {
              fill: get-color(deep-teal);
              stroke-width: 8% !important;
              stroke: get-color(deep-teal);
            }
          }
        }
      }
    }
  }
}