.form-style-container {
  .cmp-form {
    .cmp-form-text, .cmp-form-options {
      margin-bottom: 20px;
    }

    fieldset {
      border: none;
      padding: 0;
    }

    .cmp-form-text input,
    .cmp-form-text textarea,
    .cmp-form-options select {
      font-size: 16px;
      line-height: 16px;
      border: 0;
      border-bottom: 1px solid #979797;
      font-family: inherit;
      border-radius: 0;
      width: 100%;
      outline: none;
      padding: 15px 0;
    }

    .cmp-form-text textarea {
      border: 1px solid #ccc;
      padding: 15px;
      width: 100%;
    }

    ::-webkit-input-placeholder,
    select:invalid {
      color: #555555;
    }

    option {
      color: black;
    }

    label,
    legend {
      font-size: 14px;
      line-height: 16px;
      color: #555555;
      margin-bottom: 10px;
    }

    &-options {
      &__field-label {
        position: relative;
        padding-left: 10px;
        margin-right: 15px;
      }
      &__field-description {
        top: 0;
        left: 0;
      }
      &__field--checkbox {
        -webkit-appearance: none;
        &:after {
          content: '\f096';
          position: absolute;
          left: 0;
          top: 2px;
          @include font-awesome-custom-icon;
          color: #555555;
        }
        &:checked {
          &:after {
            content: '\f14a';
            color: #00B1E2;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
          }
        }
      }
      &__field--radio {
        -webkit-appearance: none;

        &:after {
          content: '\f111';
          position: absolute;
          left: 0;
          top: 0;
          @include font-awesome-custom-icon;
          color: #555555;
        }

        &:checked {
          &:after {
            content: '\f192';
            color: #00B1E2;
            font-weight: 600;
          }
        }
      }
    }

    .cmp-form-button {
      font-size: 16px;
      line-height: 19px;
      background-color: #000C21;
      width: 100%;
      border: none;
      padding: 12px 10px;
      font-weight: bold;
      text-align: center;
      color: white;
    }
  }

}