<div
	class="tabs cmp-text__white aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0"
>
	<div
		id="tabs-6e6e88e136"
		class="cmp-tabs"
		data-cmp-is="tabs"
		data-cmp-data-layer="{&#34;tabs-6e6e88e136&#34;:{&#34;shownItems&#34;:[&#34;tabs-6e6e88e136-item-6cadd3dd6f&#34;],&#34;@type&#34;:&#34;techdata/components/tabs&#34;,&#34;repo:modifyDate&#34;:&#34;2021-03-05T15:01:31Z&#34;}}"
	>
		<ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
			<li
				role="tab"
				id="tabs-6e6e88e136-item-6cadd3dd6f-tab"
				class="cmp-tabs__tab cmp-tabs__tab--active"
				aria-controls="tabs-6e6e88e136-item-6cadd3dd6f-tabpanel"
				tabindex="0"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Business</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item1.coreimg.png/1613663003543/business.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-88b4c01e6c-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-88b4c01e6c-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Marketing</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item2.coreimg.png/1613663066417/marketing.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-7a2f8ea26c-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-7a2f8ea26c-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Sales</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item3.coreimg.png/1613663100217/sales.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-a1e423820a-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-a1e423820a-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Engineering</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item4.coreimg.png/1613663081434/engineering.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-7be4d2f9bf-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-7be4d2f9bf-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Operations</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item5.coreimg.png/1613663115746/operations.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-43b498d1ac-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-43b498d1ac-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Financial</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item6.coreimg.png/1613663128749/financial.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>

			<li
				role="tab"
				id="tabs-6e6e88e136-item-6abf07cae0-tab"
				class="cmp-tabs__tab"
				aria-controls="tabs-6e6e88e136-item-6abf07cae0-tabpanel"
				tabindex="-1"
				data-cmp-hook-tabs="tab"
			>
				<p class="cmp-tabs__tabpanel--text">Lifecycle</p>
				<span class="cmp-tabs__tab-image">
					<img
						src="/content/techdata/language-masters/ondra---test-homepage/_jcr_content/root/container/container_506289227/container/tabs/tabicons/item7.coreimg.png/1613663140409/lifecycle.png"
						class="cmp-image__image"
						itemprop="contentUrl"
						data-cmp-hook-image="image"
					/>
				</span>
			</li>
		</ol>
		<div
			id="tabs-6e6e88e136-item-6cadd3dd6f"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-6cadd3dd6f"
			tabindex="0"
			class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-6cadd3dd6f&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Business&#34;}}">
			<div class="container responsivegrid">
				<div id="container-6cadd3dd6f" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
						<div class="separator dp-separator--hidden aem-GridColumn aem-GridColumn--default--12">
							<div id="separator-15dcf57c74" class="cmp-separator">
								<hr class="cmp-separator__horizontal-rule" />
							</div>
						</div>
						<section
							class="dp-title dp-title__text--white dp-title__plus-sign-white-on-blue aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
							<h2 class="dp-title__text">
								<a class="dp-title__link" href="https://www.google.com" data-cmp-clickable>
									Business Strategy Services
								</a>
								<span class="dp-title__plus-sign"> + </span>
							</h2>
						</section>
						<div
							class="tabs cmp-text__white aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--3">
							<div
								id="tabs-086c0a610c"
								class="cmp-tabs"
								data-cmp-is="tabs"
								data-cmp-data-layer="{&#34;tabs-086c0a610c&#34;:{&#34;shownItems&#34;:[&#34;tabs-086c0a610c-item-ca5527c1cd&#34;],&#34;@type&#34;:&#34;techdata/components/tabs&#34;,&#34;repo:modifyDate&#34;:&#34;2021-02-08T10:36:27Z&#34;}}">
								<ol role="tablist" class="cmp-tabs__grouped-list" aria-multiselectable="false">
									<li
										role="tab"
										id="tabs-086c0a610c-item-e32b2f23e4-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-e32b2f23e4-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Portfolio
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-383eb07946-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-383eb07946-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Vendor
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-ca5527c1cd-tab"
										class="cmp-tabs__tab cmp-tabs__tab--active"
										aria-controls="tabs-086c0a610c-item-ca5527c1cd-tabpanel"
										tabindex="0"
										data-cmp-hook-tabs="tab"
									>
										Technology
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-db073552be-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-db073552be-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Geography
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-d5531102f2-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-d5531102f2-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Vertical
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-a7bd5d2d6d-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-a7bd5d2d6d-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Segment
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-eb8b4ba814-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-eb8b4ba814-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Services
									</li>
								</ol>
								<div
									id="tabs-086c0a610c-item-e32b2f23e4"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-e32b2f23e4"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-e32b2f23e4&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Portfolio&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-e32b2f23e4" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-383eb07946"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-383eb07946"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-383eb07946&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Vendor&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-383eb07946" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-ca5527c1cd"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-ca5527c1cd"
									tabindex="0"
									class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-ca5527c1cd&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Technology&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-ca5527c1cd" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-db073552be"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-db073552be"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-db073552be&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Geography&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-db073552be" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-d5531102f2"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-d5531102f2"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-d5531102f2&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Vertical&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-d5531102f2" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-a7bd5d2d6d"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-a7bd5d2d6d"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-a7bd5d2d6d&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Segment&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-a7bd5d2d6d" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-eb8b4ba814"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-eb8b4ba814"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-eb8b4ba814&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Services&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-eb8b4ba814" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="separator dp-separator--hidden dp-separator--space-small aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--7 aem-GridColumn--offset--default--0"
						>
							<div id="separator-95456b8770" class="cmp-separator">
								<hr class="cmp-separator__horizontal-rule" />
							</div>
						</div>
						<div
							class="text dp-text--small dp-text--white aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--offset--default--3">
							<div
								data-cmp-data-layer="{&#34;text-db6d42be0d&#34;:{&#34;@type&#34;:&#34;techdata/components/text&#34;,&#34;repo:modifyDate&#34;:&#34;2021-02-08T11:14:02Z&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Tech Data offer a wide range of modern business strategy services to help increase profit, drive growth, reduce costs and improve customer satisfaction. Find out more about our services and how they can benefit you and your customers.&lt;/p>\r\n&#34;}}"
								id="text-db6d42be0d"
								class="cmp-text">
								<p>
									Tech Data offer a wide range of modern business strategy services to help increase profit, drive
									growth, reduce costs and improve customer satisfaction. Find out more about our services and how they
									can benefit you and your customers.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-88b4c01e6c"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-88b4c01e6c"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-88b4c01e6c&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Marketing&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-6cadd3dd6f" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
						<div class="separator dp-separator--hidden aem-GridColumn aem-GridColumn--default--12">
							<div id="separator-15dcf57c74" class="cmp-separator">
								<hr class="cmp-separator__horizontal-rule" />
							</div>
						</div>
						<section
							class="dp-title dp-title__text--white dp-title__plus-sign-white-on-blue aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
							<h2 class="dp-title__text">
								<a class="dp-title__link" href="https://www.google.com" data-cmp-clickable>Marketing</a>
								<span class="dp-title__plus-sign"> + </span>
							</h2>
						</section>
						<div
							class="tabs cmp-text__white aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--3">
							<div
								id="tabs-086c0a610c"
								class="cmp-tabs"
								data-cmp-is="tabs"
								data-cmp-data-layer="{&#34;tabs-086c0a610c&#34;:{&#34;shownItems&#34;:[&#34;tabs-086c0a610c-item-ca5527c1cd&#34;],&#34;@type&#34;:&#34;techdata/components/tabs&#34;,&#34;repo:modifyDate&#34;:&#34;2021-02-08T10:36:27Z&#34;}}"
							>
								<ol role="tablist" class="cmp-tabs__grouped-list" aria-multiselectable="false">
									<li
										role="tab"
										id="tabs-086c0a610c-item-e32b2f23e4-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-e32b2f23e4-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Portfolio
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-383eb07946-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-383eb07946-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Vendor
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-ca5527c1cd-tab"
										class="cmp-tabs__tab cmp-tabs__tab--active"
										aria-controls="tabs-086c0a610c-item-ca5527c1cd-tabpanel"
										tabindex="0"
										data-cmp-hook-tabs="tab"
									>
										Technology
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-db073552be-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-db073552be-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Geography
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-d5531102f2-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-d5531102f2-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Vertical
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-a7bd5d2d6d-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-a7bd5d2d6d-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Segment
									</li>

									<li
										role="tab"
										id="tabs-086c0a610c-item-eb8b4ba814-tab"
										class="cmp-tabs__tab"
										aria-controls="tabs-086c0a610c-item-eb8b4ba814-tabpanel"
										tabindex="-1"
										data-cmp-hook-tabs="tab"
									>
										Services
									</li>
								</ol>
								<div
									id="tabs-086c0a610c-item-e32b2f23e4"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-e32b2f23e4"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-e32b2f23e4&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Portfolio&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-e32b2f23e4" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-383eb07946"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-383eb07946"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-383eb07946&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Vendor&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-383eb07946" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-ca5527c1cd"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-ca5527c1cd"
									tabindex="0"
									class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-ca5527c1cd&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Technology&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-ca5527c1cd" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-db073552be"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-db073552be"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-db073552be&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Geography&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-db073552be" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-d5531102f2"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-d5531102f2"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-d5531102f2&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Vertical&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-d5531102f2" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-a7bd5d2d6d"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-a7bd5d2d6d"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-a7bd5d2d6d&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Segment&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-a7bd5d2d6d" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
								<div
									id="tabs-086c0a610c-item-eb8b4ba814"
									role="tabpanel"
									aria-labelledby="tabs-086c0a610c-item-eb8b4ba814"
									tabindex="0"
									class="cmp-tabs__tabpanel"
									data-cmp-hook-tabs="tabpanel"
									data-cmp-data-layer="{&#34;tabs-086c0a610c-item-eb8b4ba814&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Services&#34;}}"
								>
									<div class="container responsivegrid">
										<div id="container-eb8b4ba814" class="cmp-container">
											<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="separator dp-separator--hidden dp-separator--space-small aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--7 aem-GridColumn--offset--default--0"
						>
							<div id="separator-95456b8770" class="cmp-separator">
								<hr class="cmp-separator__horizontal-rule" />
							</div>
						</div>
						<div
							class="text dp-text--small dp-text--white aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--offset--default--3"
						>
							<div
								data-cmp-data-layer="{&#34;text-db6d42be0d&#34;:{&#34;@type&#34;:&#34;techdata/components/text&#34;,&#34;repo:modifyDate&#34;:&#34;2021-02-08T11:14:02Z&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Tech Data offer a wide range of modern business strategy services to help increase profit, drive growth, reduce costs and improve customer satisfaction. Find out more about our services and how they can benefit you and your customers.&lt;/p>\r\n&#34;}}"
								id="text-db6d42be0d"
								class="cmp-text"
							>
								<p>
									Tech Data offer a wide range of modern business strategy services to help increase profit, drive
									growth, reduce costs and improve customer satisfaction. Find out more about our services and how they
									can benefit you and your customers.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-7a2f8ea26c"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-7a2f8ea26c"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-7a2f8ea26c&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Sales&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-7a2f8ea26c" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-a1e423820a"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-a1e423820a"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-a1e423820a&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Engineering&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-a1e423820a" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-7be4d2f9bf"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-7be4d2f9bf"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-7be4d2f9bf&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Operations&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-7be4d2f9bf" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-43b498d1ac"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-43b498d1ac"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-43b498d1ac&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Financial&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-43b498d1ac" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
				</div>
			</div>
		</div>
		<div
			id="tabs-6e6e88e136-item-6abf07cae0"
			role="tabpanel"
			aria-labelledby="tabs-6e6e88e136-item-6abf07cae0"
			tabindex="0"
			class="cmp-tabs__tabpanel"
			data-cmp-hook-tabs="tabpanel"
			data-cmp-data-layer="{&#34;tabs-6e6e88e136-item-6abf07cae0&#34;:{&#34;@type&#34;:&#34;techdata/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Lifecycle&#34;}}"
		>
			<div class="container responsivegrid">
				<div id="container-6abf07cae0" class="cmp-container">
					<div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
				</div>
			</div>
		</div>
	</div>
</div>
