<div class="tabs cmp-tabs-our-purpose">
    <div id="tabs-d734aa9c61" class="cmp-tabs"
        data-cmp-data-layer="{&quot;tabs-d734aa9c61&quot;:{&quot;shownItems&quot;:[&quot;tabs-d734aa9c61-item-236e9c3f08&quot;],&quot;@type&quot;:&quot;core-components-examples/components/tabs&quot;}}"
        data-placeholder-text="false">
        <ol role="tablist" class="cmp-tabs__tablist cmp-tabs__tablist--our-purpose" aria-multiselectable="false">
            <li role="tab" id="tabs-d734aa9c61-item-236e9c3f01-tab" class="cmp-tabs__tab cmp-tabs__tab--active"
                aria-controls="tabs-d734aa9c61-item-236e9c3f01-tabpanel" tabindex="0" data-cmp-hook-tabs="tab"
                aria-selected="true">
                Inclusion
            </li>
            <li role="tab" id="tabs-d734aa9c61-item-9148bed6ab-tab" class="cmp-tabs__tab"
                aria-controls="tabs-d734aa9c61-item-9148bed6ab-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab"
                aria-selected="false">
                Collaboration
            </li>
            <li role="tab" id="tabs-d734aa9c61-item-705e21779e-tab" class="cmp-tabs__tab"
                aria-controls="tabs-d734aa9c61-item-705e21779e-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab"
                aria-selected="false">
                Integrity
            </li>
            <li role="tab" id="tabs-d734aa9c61-item-236e9c3f08-tab" class="cmp-tabs__tab cmp-tabs__tab"
                aria-controls="tabs-d734aa9c61-item-236e9c3f08-tabpanel" tabindex="0" data-cmp-hook-tabs="tab"
                aria-selected="true">
                Excellence
            </li>
        </ol>

        <!-- Tab 1 Auctor Augue Mauris -->
        <div id="tabs-d734aa9c61-item-236e9c3f01-tabpanel" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
            role="tabpanel" aria-labelledby="tabs-d734aa9c61-item-236e9c3f01-tab" tabindex="0"
            data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-236e9c3f01&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-31e9b022fd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}"
                            id="text-31e9b022fd" class="cmp-text">
                            <p>
                                We amplify strengths.
                            </p>
                            <p>
                                We meet the ever-evolving demands of our customers and the marketplace by bringing out
                                the best in our people and our partners across every aspect of the supply chain.
                            </p>
                            <p>
                                When we leverage our collective expertise, listen well, support and inspire each other
                                we do more than achieve our goals – we do great things.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab 2 Aliquam Sem Et -->
        <div id="tabs-d734aa9c61-item-9148bed6ab" class="cmp-tabs__tabpanel" role="tabpanel"
            aria-labelledby="tabs-d734aa9c61-item-9148bed6ab-tab" tabindex="0" data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-9148bed6ab&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}"
            aria-hidden="true">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-cc6b3466b5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>&quot;}}"
                            id="text-cc6b3466b5" class="cmp-text">
                            <p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in
                                tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo
                                vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus
                                in metus vulputate eu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab 3 Imperdiet Sed Euismod Nisi -->
        <div id="tabs-d734aa9c61-item-705e21779e-tabpanel" class="cmp-tabs__tabpanel" role="tabpanel"
            aria-labelledby="tabs-d734aa9c61-item-705e21779e-tab" tabindex="0" data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-705e21779e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}"
            aria-hidden="true">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-cb937612dc&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}"
                            id="text-cb937612dc" class="cmp-text">
                            <p>Imperdiet Sed Euismod Nisi: Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                                habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis
                                mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus
                                rutrum tellus pellentesque eu tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab 4 Cursus Metus -->
        <div id="tabs-d734aa9c61-item-705e21779e-tabpanel" class="cmp-tabs__tabpanel" role="tabpanel"
            aria-labelledby="tabs-d734aa9c61-item-705e21779e-tab" tabindex="0" data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-705e21779e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}"
            aria-hidden="true">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-cb937612dc&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}"
                            id="text-cb937612dc" class="cmp-text">
                            <p>Cursus Metus: Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse
                                platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris.
                                Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum
                                tellus pellentesque eu tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab 5 Vestibulum Lorem Sed -->
        <div id="tabs-d734aa9c61-item-705e21779e-tabpanel" class="cmp-tabs__tabpanel" role="tabpanel"
            aria-labelledby="tabs-d734aa9c61-item-705e21779e-tab" tabindex="0" data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-705e21779e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}"
            aria-hidden="true">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-cb937612dc&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}"
                            id="text-cb937612dc" class="cmp-text">
                            <p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst
                                vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet
                                sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus
                                pellentesque eu tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab 6 Massa Eget Egestas Purus -->
        <div id="tabs-d734aa9c61-item-705e21779e-tabpanel" class="cmp-tabs__tabpanel" role="tabpanel"
            aria-labelledby="tabs-d734aa9c61-item-705e21779e-tab" tabindex="0" data-cmp-hook-tabs="tabpanel"
            data-cmp-data-layer="{&quot;tabs-d734aa9c61-item-705e21779e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}"
            aria-hidden="true">
            <div class="responsivegrid">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="text aem-GridColumn aem-GridColumn--default--12">
                        <div data-cmp-data-layer="{&quot;text-cb937612dc&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}"
                            id="text-cb937612dc" class="cmp-text">
                            <p>Massa Eget Egestas Purus: Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                                habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis
                                mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus
                                rutrum tellus pellentesque eu tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>