<div class="tabs" data-component="tabs">
    <div id="tabs-c324455e43" class="cmp-tabs" data-cmp-data-layer="{&quot;tabs-c324455e43&quot;:{&quot;shownItems&quot;:[&quot;tabs-c324455e43-item-ace94c0467&quot;],&quot;@type&quot;:&quot;core-components-examples/components/tabs&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:11:51Z&quot;}}" data-placeholder-text="false">
      <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
        <li role="tab" id="tabs-c324455e43-item-ace94c0467-tab" class="cmp-tabs__tab cmp-tabs__tab--active" aria-controls="tabs-c324455e43-item-ace94c0467-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">Tab 1</li>
        <li role="tab" id="tabs-c324455e43-item-6afd3ea640-tab" class="cmp-tabs__tab" aria-controls="tabs-c324455e43-item-6afd3ea640-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Tab 2</li>
        <li role="tab" id="tabs-c324455e43-item-0c51149435-tab" class="cmp-tabs__tab" aria-controls="tabs-c324455e43-item-0c51149435-tabpanel" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Tab 3</li>
      </ol>
      <div id="tabs-c324455e43-item-ace94c0467" role="tabpanel" aria-labelledby="tabs-c324455e43-item-ace94c0467" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-c324455e43-item-ace94c0467&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
      <div id="tabs-c324455e43-item-6afd3ea640" role="tabpanel" aria-labelledby="tabs-c324455e43-item-6afd3ea640" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-c324455e43-item-6afd3ea640&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
      <div id="tabs-c324455e43-item-0c51149435" role="tabpanel" aria-labelledby="tabs-c324455e43-item-0c51149435" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-c324455e43-item-0c51149435&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
    </div>
  </div>