# Configuration created by Apache Sling JCR Installer
cq.wcm.msm.action.excludednodetypes=["cq:LiveSyncConfig","cq:BlueprintSyncConfig","cq:LiveSyncAction","cq:meta"]
cq.wcm.msm.action.excludedparagraphitems=["cq:propertyInheritanceCancelled"]
cq.wcm.msm.impl.action.referencesupdate.prop_updateNested=B"true"
cq.wcm.msm.action.excludedprops=["jcr:.*","sling:.*","cq:(?!(redirectTarget)$).*"]