# Configuration created by Apache Sling JCR Installer
identitySyncType="default"
keyStorePassword=""
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/"
userIDAttribute="Email"
idpIdentifier=""
assertionConsumerServiceURL="https://sit-author.dc.tdebusiness.cloud/saml_login"
defaultGroups=[""]
storeSAMLResponse=B"false"
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="certalias___1644238542381"
addGroupMemberships=B"true"
path=["/"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["Email\=profile/email","FirstName\=profile/givenName","LastName\=profile/familyName"]
clockTolerance=I"60"
groupMembershipAttribute="groupMembership"
idpUrl="https://sso.cstenet.com/idp/SSO.saml2"
logoutUrl=""
serviceProviderEntityId="https://sit-author.dc.tdebusiness.cloud"
handleLogout=B"false"
userIntermediatePath=""
spPrivateKeyAlias=""
useEncryption=B"false"
nameIdFormat="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
