// @use 'sass-rem' as rem;

@import './../teaser/teaser.scss';

.cmp-teaser-demo {
  // Add "cmp-teaser--solution" class for solution Variation
  &--solution {
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;

    @include media('<lg') {
      margin-bottom: 3.75rem;
    }
    .cmp-teaser-demo__image {
      position: relative;
      width: 100%;
      z-index: 1;
      background-size: cover;
      display: flex;
      justify-content: center;
      .cmp-image__image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        position: absolute;
        top: 0;
        transform: translate(-50%, -40%);
        border-radius: 100px;
      }
    }
    .cmp-teaser-demo__content {
      padding: rem-convert(64px) rem-convert(54px) 2.8125rem 3.125rem;
      border: 0.0625rem solid get-color(secondary-light-grey);
      min-height: rem-convert(250px);

      @include media('<lg') {
        padding: rem-convert(64px) 0.75rem 0.625rem 0.75rem;
      }
    }
    .cmp-teaser-demo__description {
      color: get-color(secondary-dark-grey);
      font-size: 0.875rem;
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      min-height: 75px;
    }
    .cmp-teaser-demo__title {
      color: get-color(brand-black);
      font-size: 1.5rem;
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      font-weight: 700;
    }
  }
  // Add "cmp-teaser-demo--about-us" class for about us Variation
  &--about-us {
    margin-bottom: 6.25rem;
    margin-top: rem-convert(148px);

    @include media('<lg') {
      margin-bottom: 3.75rem;
    }
    .cmp-teaser-demo__image {
      position: relative;
      width: 100%;
      z-index: 1;
      background-size: cover;
      display: flex;
      justify-content: center;
      .cmp-image__image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        top: 0;
        transform: translate(-50%, -40%);
        border-radius: 300px;
        border: 40px solid get-color(brand-blue);
      }
    }
    .cmp-teaser-demo__content {
      padding: rem-convert(192px) rem-convert(54px) 1rem 3.125rem;
      border: 0.0625rem solid get-color(secondary-light-grey);
      min-height: rem-convert(350px);

      @include media('<lg') {
        padding: rem-convert(192px) 0.75rem 0.625rem 0.75rem;
      }
    }
    .cmp-teaser-demo__description {
      color: get-color(secondary-dark-grey);
      font-size: 0.875rem;
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      min-height: 75px;
    }
    .cmp-teaser-demo__title {
      color: get-color(secondary-link-blue);
      font-size: 1.5rem;
      line-height: 1.45;
      font-weight: 300;
      text-align: center;
      font-weight: 700;
    }
  }
}

$teaser-headings: (
  //  tag  size      weight line-height
  'h1' rem-convert(54px) bold 3.5rem,
  'h2' 2.25rem bold 2.5rem,
  'h3' 2.25rem normal 2.5rem,
  'h4' 1.5rem bold 2rem,
  'h5' 1.5rem normal 1.75rem,
  'h6' 1rem bold 1.5rem
);

$teaser-headings-mobile: ('h1' 2.25rem bold 2.5rem, 'h2' 1.75rem bold 2rem, 'h3' 1.75rem normal 2rem, 'h4' 1.25rem bold 1.5rem, 'h5' 1.25rem normal 1.5rem, 'h6' 1rem bold 1.5rem);

.cmp-teaser-demo__content {
  text-align: left;

  @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings-mobile {
    #{$heading} {
      font-size: $fontSize;
      font-weight: $weight;
      line-height: $lineHeight;
    }
  }
  @include media('>=lg') {
    @each $heading, $fontSize, $weight, $lineHeight in $teaser-headings {
      #{$heading} {
        font-size: $fontSize;
        font-weight: $weight;
        line-height: $lineHeight;
      }
    }
  }
  &__text {
    margin: 0 0 2.5rem 0;
    letter-spacing: rem-convert(-0.15px);
    @include media('>=lg') {
      margin: 0 0 3.125rem 0;
    }
  }
}
