<div class="cmp-marketing">
    <h1>Title Style Everett</h1>
    <h2>Lablels are Everett Regular</h2>
    <h2>Subheader is Everett Medium</h2>
    <h3>Large body copy is in GeorgiaPro Regular</h3>
    <h4>Content text is in GeorgiaPro Regular</h4>
    <h5>abcdefghijklmnopqrstuvwxyz</h5>
    <h6>abcdefghijklmnopqrstuvwxyz</h6>
</div>

<div class="cmp-digital cmp-primary-palette--teal">
    <h1>Title Style</h1>
    <h2>Lablels are Arial Regular</h2>
    <h2>Subheader is Arial Bold</h2>
    <h3>Large body copy is in GeorgiaPro Regular</h3>
    <h4>Content text is in GeorgiaPro Regular</h4>
    <h5>abcdefghijklmnopqrstuvwxyz</h5>
    <h6>abcdefghijklmnopqrstuvwxyz</h6>
</div> 

<div class="cmp-tds-font-georgia-pro-reg">
    Title Style
</div> 

<div class="cmp-tds-font-georgia-pro-bold cmp-h3">
    Title Style
</div> 

<div class="cmp-tds-font-legacy">
    Title Style
</div> 