<div data-sly-unwrap="${wcmmode.disabled}">
	<div class="row py-4">
		<div class="col-6 px-4">
			<h3>
				<sly
					data-sly-resource="${ @path='headerLogo', resourceType='/apps/digital-platform/components/content/image'}"
				></sly>
			</h3>
			<div
				data-sly-resource="${'corp-desc' @ resourceType='/apps/digital-platform/components/content/text'}"
				class="corp-desc"
			></div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-lg-4 color-white">
					<h6 class="">Products</h6>
					<sly
						data-sly-resource="${'footer-products' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
					<h6 class="">Solutions</h6>
					<sly
						data-sly-resource="${'footer-solutions' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
				</div>
				<div class="col-lg-4">
					<h6 class="">Partner with Tech Data</h6>

					<sly
						data-sly-resource="${'footer-partner' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
					<h6 class="">Services</h6>
					<sly
						data-sly-resource="${'footer-services' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
				</div>
				<div class="col-lg-4">
					<h6 class="">About Us</h6>

					<sly
						data-sly-resource="${'footer-about' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
					<h6 class="">Contact Tech Data</h6>
					<sly
						data-sly-resource="${'footer-contact' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></sly>
				</div>
			</div>
		</div>
	</div>
	<div class="row dp-footer-attribution td-font-size-fineprint">
		<div class="col-lg-6 offset-lg-6">
			<div
				data-sly-unwrap="${wcmmode.disabled}"
				data-sly-resource="${ @path='footerAttribution', resourceType='/apps/digital-platform/components/structure/responsivegrid'}"
			></div>
		</div>
	</div>
</div>
