<div data-sly-unwrap="${wcmmode.disabled}">
	<div class="row py-4">
		<div class="col-6 px-4">
			<h3>
				<img
					class="shop-logo img-fluid"
					src="https://shopglobaluidesign-techdata-dev.azurewebsites.net/images/Tech-Data.png"
					style="height: 40px; width: auto"
					alt="TechData Logo"
				/>
			</h3>
			<div
				data-sly-resource="${'corp-desc' @ resourceType='/apps/digital-platform/components/content/text'}"
				class="corp-desc"
			></div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-lg-4 color-white">
					<h6 class="td-font-size-description">Products</h6>
					<div
						data-sly-resource="${'footer-products' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
					<h6 class="td-font-size-description">Solutions</h6>
					<div
						data-sly-resource="${'footer-solutions' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
				</div>
				<div class="col-lg-4">
					<h6 class="td-font-size-description">Partner with Tech Data</h6>

					<div
						data-sly-resource="${'footer-partner' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
					<h6 class="td-font-size-description">Services</h6>
					<div
						data-sly-resource="${'footer-services' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
				</div>
				<div class="col-lg-4">
					<h6 class="td-font-size-description">About Us</h6>

					<div
						data-sly-resource="${'footer-about' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
					<h6 class="td-font-size-description">Contact Tech Data</h6>
					<div
						data-sly-resource="${'footer-contact' @ resourceType='/apps/core/wcm/components/navigation/v1/navigation'}"
						class="corp-title"
					></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row dp-footer-attribution td-font-size-fineprint">
		<div class="col-sm-12 clo-lg-6 offset-lg-6">Ⓒ 2020, TD Digital Platform.</div>
	</div>
</div>
