<div data-sly-unwrap="${wcmmode.disabled}">
	<div class="row py-4">
		<div class="col-6 px-4">
			<h3>
				<sly
					data-sly-resource="${ @path='headerLogo', resourceType='/apps/digital-platform/components/content/image'}"
				></sly>
			</h3>
			<div
				data-sly-resource="${'corp-desc' @ resourceType='/apps/digital-platform/components/content/text'}"
				class="corp-desc"
			></div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-lg-4 color-white">
					<h5 class="td-font-size-subtitle">Products</h5>
					<div
						data-sly-resource="${'footer-products' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
					<h5 class="td-font-size-subtitle">Solutions</h5>
					<div
						data-sly-resource="${'footer-solutions' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
				</div>
				<div class="col-lg-4">
					<h5 class="td-font-size-subtitle">Partner with Tech Data</h5>

					<div
						data-sly-resource="${'footer-partner' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
					<h5 class="td-font-size-subtitle">Services</h5>
					<div
						data-sly-resource="${'footer-services' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
				</div>
				<div class="col-lg-4">
					<h5 class="td-font-size-subtitle">About Us</h5>

					<div
						data-sly-resource="${'footer-about' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
					<h5 class="td-font-size-subtitle">Contact Tech Data</h5>
					<div
						data-sly-resource="${'footer-contact' @ resourceType='/apps/digital-platform/components/content/list'}"
						class="corp-title"
					></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row dp-footer-attribution td-font-size-fineprint">
		<div class="col-lg-6 offset-lg-6">
			<div
				data-sly-unwrap="${wcmmode.disabled}"
				data-sly-resource="${ @path='footerAttribution', resourceType='/apps/digital-platform/components/structure/responsivegrid'}"
			></div>
		</div>
	</div>
</div>
