<sly data-sly-use.serviceData="com.techdata.core.models.CaConfigReader">
  <sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
      <div class="cq-placeholder" data-emptyText="${component.title}"></div>
  </sly>

  <sly data-sly-use.model="${'renewalsgrid.js' @ multifieldName='columnList', serviceData=serviceData,agGridLicenseKey=serviceData.agGridLicenseKey,exportXLSRenewalsEndpoint=serviceData.exportXLSRenewalsEndpoint,renewalDetailsEndpoint=serviceData.renewalDetailsEndpoint}">

  <div data-observe-mutation>
    <div
        data-component="RenewalsGrid"
        data-cmp-type="react"
        className="cmp-renewals-grid"
        data-config="${model.configJson}"
    ></div>
  </div>
</sly>