<div
  class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--2 aem-GridColumn--default--6"
  style="width: 50%; margin-left: 25%; margin-top: 10%"
>
  <div id="container-26b4fa503a" class="cmp-container">
    <div
      class="buttongroup cmp-button-group__color-pill aem-GridColumn aem-GridColumn--default--12"
    >
      <div class="cmp-button-group">
        <ul class="cmp-button-group-list">
          <li class="cmp-button-group__item">
            <a title="Partner with us" href="#" target="_self">
              <article>
                <div class="cmp-image">
                  <img
                    src="/content/dam/techdata/asset.jpg"
                    class="cmp-image__image"
                    alt="Partner with us"
                    title="Partner with us"
                  />
                </div>
                <span class="cmp-button-group-list__item-title"
                  >Partner with us</span
                >
              </article>
            </a>
          </li>

          <li class="cmp-button-group__item">
            <a title="Work with us" href="#" target="_self">
              <article>
                <div class="cmp-image">
                  <img
                    src="/content/dam/techdata/asset.jpg"
                    class="cmp-image__image"
                    alt="Work with us"
                    title="Work with us"
                  />
                </div>
                <span class="cmp-button-group-list__item-title"
                  >Work with us</span
                >
              </article>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
