<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <div>
      <div
        class="button cmp-tds-button btn-green cmp-tds-button-dark-mode aem-GridColumn aem-GridColumn--default--12"
        style="background-color: #1d3152"
      >
        <button
          disabled
          type="button"
          id="button-6cbf1a09e1"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-6cbf1a09e1":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Green - Dark mode -
          </span>
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-black cmp-tds-button-light-mode aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-f03444652a"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-f03444652a":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__text" style="color: "
            >Black - Light mode -
          </span>
        </button>
      </div>
      <div
        class="button cmp-tds-button-dark-mode cmp-tds-button btn-teal cmp-tds-button-primary aem-GridColumn aem-GridColumn--default--12 cmp-tds-button-arial-font-family cmp-tds-button-width-static"
      >
        <button
          
          type="button"
          id="button-260378ccb5"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-260378ccb5":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Teal - Primary -
          </span>
        </button>
      </div>

      <div
        class="button cmp-tds-button-dark-mode cmp-tds-button btn-teal cmp-tds-button-secondary aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          
          type="button"
          id="button-260378ccb5"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-260378ccb5":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Teal - Secondary -
          </span>
        </button>
      </div>


      <div
        class="button cmp-tds-button-dark-mode cmp-tds-button btn-teal cmp-tds-button-secondary-fill aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          
          type="button"
          id="button-260378ccb5"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-260378ccb5":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Teal - Secondary - fill
          </span>
        </button>
      </div>


      <div
        class="button cmp-tds-button btn-deep-teal cmp-tds-button-light-mode cmp-tds-button-secondary aem-GridColumn aem-GridColumn--default--12 cmp-tds-button-twk-everett-font-family cmp-tds-button-full-width"
      >
        <button
          disabled="true"
          type="button"
          id="button-e65d278125"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-e65d278125":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__text" style="color: "
            >Secondary - Deep Teal</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-aqua cmp-tds-button-secondary aem-GridColumn aem-GridColumn--default--12 cmp-tds-button-light-mode"
      >
        <button
          type="button"
          id="button-7f518c6ce4"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-7f518c6ce4":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: ">Secondary - Aqua</span>
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-chartreuse cmp-tds-button-primary cmp-tds-button-dark-mode aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-12367a99af"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-12367a99af":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Chartreuse - Primary - Dark mode</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-teal cmp-tds-button-secondary-fill cmp-tds-button-light-mode aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-8e8c489b9d"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-8e8c489b9d":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Secondary Fill - Teal - Light Mode</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-cool-gray-10 cmp-tds-button-secondary aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-66aa7d0583"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-66aa7d0583":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__text" style="color: "
            >Secondary - Cool Gray 10</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-white cmp-tds-button-secondary cmp-tds-button-dark-mode aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-378d751739"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-378d751739":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Secondary - White - Dark mode</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button btn-amber cmp-tds-button-primary cmp-tds-button-dark-mode aem-GridColumn aem-GridColumn--default--12"
      >
        <button
          type="button"
          id="button-62b11fcd52"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-62b11fcd52":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__text" style="color: "
            >Amber - Primary - Dark mode</span
          >
        </button>
      </div>
      <div
        class="button cmp-tds-button cmp-tds-button-light-mode cmp-tds-button-secondary btn-cherry aem-GridColumn aem-GridColumn--default--12"
        style="background-color: #e4e5e6"
      >
        <button
          type="button"
          id="button-19028a6ad4"
          class="cmp-button"
          data-cmp-clickable=""
          data-cmp-data-layer='{"button-19028a6ad4":{"@type":"tds-site/components/button","repo:modifyDate":"2022-09-29T19:27:36Z","dc:title":"Example"}}'
        >
          <span class="cmp-button__icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="cmp-button__text" style="color: "
            >Cherry - Secondary - Light Mode</span
          >
        </button>
      </div>
    </div>
  </body>
</html>
