@use "sass:map";

tds-button {
  &[minimal] {
    --button-min-width: 7rem;
    --button-height: 32px;
    --button-padding: 8px 20px;
    --button-font-size: 12px;
    --button-line-height: 12px;
    --icon-height: 16px;
    --icon-width: 16px;
  }

  &[theme="dark"] {
    &[variant="primary"] {
      /* stylelint-disable-next-line max-nesting-depth */
      &[disabled] {
        --button-bg-color: #{map.get($color-palette, "neutral-gray-2")};
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "teal")};
      --button-hover: linear-gradient(
        0deg,
        rgb(255 255 255 / 20%),
        rgb(255 255 255 / 20%)
      ),
        #{map.get($color-palette, "teal")};
      --button-active: linear-gradient(
        0deg,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%)
      ),
        #{map.get($color-palette, "teal")};
      --button-color: #{map.get($color-palette, "white")};
    }

    &[variant="secondary"] {
      &[filled] {
        /* stylelint-disable-next-line max-nesting-depth */
        &[disabled] {
          --button-bg-color: #{map.get($color-palette, "neutral-gray-2")};
          --button-color: #{map.get($color-palette, "cool-gray-8")};
        }

        --button-border: none;
        --button-bg-color: linear-gradient(
          0deg,
          rgb(255 255 255 / 90%),
          rgb(255 255 255 / 90%)
        ),
          #{map.get($color-palette, "teal")};
        --button-hover: linear-gradient(
          0deg,
          rgb(255 255 255 / 80%),
          rgb(255 255 255 / 80%)
        ),
          #{map.get($color-palette, "teal")};
        --button-active: linear-gradient(
          0deg,
          rgb(255 255 255 / 70%),
          rgb(255 255 255 / 70%)
        ),
          #{map.get($color-palette, "teal")};
        --button-color: #{map.get($color-palette, "teal")};
      }

      &[disabled] {
        --button-outline-color: #{map.get($color-palette, "cool-gray-8")};
        --button-outline-width: 1px;
        --button-outline-offset: -1px;
        --button-outline-style: solid;
        --button-bg-color: #{map.get($color-palette, "white")};
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: rgb(0 87 88 / 10%);
      --button-active: rgb(0 87 88 / 20%);
      --button-color: #{map.get($color-palette, "teal")};
      --button-outline-color: #{map.get($color-palette, "teal")};
      --button-outline-width: 1px;
      --button-outline-offset: -1px;
      --button-outline-style: solid;
    }

    &[variant="tertiary"] {
      &[disabled] {
        --button-bg-color: transparent;
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: rgb(0 87 88 / 10%);
      --button-active: rgb(0 87 88 / 20%);
      --button-color: #{map.get($color-palette, "teal")};
    }

    &[variant="link"] {
      &[disabled] {
        --button-bg-color: transparent;
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: #{map.get($color-palette, "white")};
      --button-active: #{map.get($color-palette, "white")};
      --button-color: #{map.get($color-palette, "teal")};
      --button-color-hover: #007b7a;
      --button-color-active: #004747;
      --button-text-decoration: underline;
    }

    &[variant="affirmative"] {
      &[disabled] {
        --button-bg-color: #{map.get($color-palette, "neutral-gray-2")};
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "forest")};
      --button-hover: linear-gradient(
        0deg,
        rgb(0 0 0 / 15%),
        rgb(0 0 0 / 15%)
      ),
        #{map.get($color-palette, "forest")};
      --button-active: linear-gradient(
        0deg,
        rgb(0 0 0 / 30%),
        rgb(0 0 0 / 30%)
      ),
        #{map.get($color-palette, "forest")};
    }

    &[variant="destructive"] {
      &[disabled] {
        --button-bg-color: #{map.get($color-palette, "neutral-gray-2")};
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "cherry")};
      --button-hover: linear-gradient(
        0deg,
        rgb(0 0 0 / 15%),
        rgb(0 0 0 / 15%)
      ),
        #{map.get($color-palette, "cherry")};
      --button-active: linear-gradient(
        0deg,
        rgb(0 0 0 / 30%),
        rgb(0 0 0 / 30%)
      ),
        #{map.get($color-palette, "cherry")};
    }
  }

  &[theme="light"] {
    &[variant="primary"] {
      &[disabled] {
        --button-bg-color: rgb(228 229 230 / 80%);
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: rgb(255 255 255 / 85%);
      --button-active: rgb(255 255 255 / 70%);
      --button-color: #{map.get($color-palette, "teal")};
    }

    &[variant="secondary"] {
      &[filled] {
        /* stylelint-disable-next-line max-nesting-depth */
        &[disabled] {
          --button-bg-color: rgb(228 229 230 / 20%);
          --button-color: #{map.get($color-palette, "cool-gray-8")};
        }

        --button-bg-color: rgb(255 255 255 / 20%);
        --button-hover: rgb(255 255 255 / 10%);
        --button-active: rgb(255 255 255 / 30%);
        --button-color: #{map.get($color-palette, "white")};
      }

      &[disabled] {
        --button-bg-color: transparent;
        --button-color: #{map.get($color-palette, "cool-gray-8")};
        --button-bg-color-border: 1px solid #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: transparent;
      --button-hover: rgb(255 255 255 / 10%);
      --button-active: rgb(255 255 255 / 20%);
      --button-color: #{map.get($color-palette, "white")};
      --button-border: 1px solid #{map.get($color-palette, "white")};
    }

    &[variant="tertiary"] {
      &[disabled] {
        --button-bg-color: transparent;
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: transparent;
      --button-hover: rgb(255 255 255 / 10%);
      --button-active: rgb(255 255 255 / 20%);
      --button-color: #{map.get($color-palette, "white")};
    }

    &[variant="link"] {
      &[disabled] {
        --button-bg-color: transparent;
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: transparent;
      --button-hover: transparent;
      --button-active: transparent;
      --button-color: #{map.get($color-palette, "white")};
      --button-color-hover: #dce0e6;
      --button-color-active: #bac1cc;
      --button-text-decoration: underline;
    }

    &[variant="affirmative"] {
      &[disabled] {
        --button-bg-color: rgb(228 229 230 / 80%);
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: linear-gradient(
        0deg,
        rgb(0 0 0 / 15%),
        rgb(0 0 0 / 15%)
      ),
        #{map.get($color-palette, "forest")};
      --button-active: linear-gradient(
        0deg,
        rgb(0 0 0 / 30%),
        rgb(0 0 0 / 30%)
      ),
        #{map.get($color-palette, "forest")};
      --button-color: #{map.get($color-palette, "forest")};
    }

    &[variant="destructive"] {
      &[disabled] {
        --button-bg-color: rgb(228 229 230 / 80%);
        --button-color: #{map.get($color-palette, "cool-gray-8")};
      }

      --button-bg-color: #{map.get($color-palette, "white")};
      --button-hover: linear-gradient(
        0deg,
        rgb(0 0 0 / 15%),
        rgb(0 0 0 / 15%)
      ),
        #{map.get($color-palette, "cherry")};
      --button-active: linear-gradient(
        0deg,
        rgb(0 0 0 / 30%),
        rgb(0 0 0 / 30%)
      ),
        #{map.get($color-palette, "cherry")};
      --button-color: #{map.get($color-palette, "cherry")};
    }
  }
}
