@import "../../../site/variables";

.cmp-renewals-grid {
	width: 100%;
	overflow: auto;
    margin-right: rem(10px);
	& .status {
		display: flex;
	}
	& .icon {
		display: flex;
		margin-top: rem(20px);
		margin-right: rem(5px);
	}
	.cmp-renewal-plan-column{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(380px, 1fr) );
		grid-gap: 26px;
		padding: 20px;
		-webkit-box-shadow: inset 5px -5px 4px -4px #E1E1E1; 
		box-shadow: inset 5px -5px 4px -4px #E1E1E1, inset -6px 3px 4px -4px #E1E1E1;
		@media (max-width:750px){
			display: flex;
			flex-direction: column;
		}
		.card {	
			padding: 20px;
			text-align: left;
			position: relative;
			padding-bottom: 2rem;
			&::after{
				content: "";
				position: absolute;
				background-color: #e1e1e4;
				width: 1px;
				height: calc(100% - 15%);
				top: 0;
				bottom: 0;
				right: 0;				
			}
			&:nth-child(-n+4){			
				&::before{
					content: "";
					position: absolute;
					background-color: #e1e1e4;
					height: 1px;
					width: calc(100% - 9%);
					left: 9px;
					bottom: 0;				
				}
				
			}
			.rightHeader {
				float: right;
				font-size: 20px;
				color: #000c21;
			}
			.clear {
				clear: both;
			}
			.leftHeader {
				float: left;
				font-size: 20px;
				color: #000c21;
				h4{
					label{
						cursor: pointer;
					}
				}
			}
			.planDetails {
				text-align: left;
				font-size: 12px;
			}
			.currentPlan {
				text-align: left;
				font-style: italic;
				color: #0ab00a;
			}		
			.footer{
				display: flex;
				margin-top: 2rem;
				gap: 1px;
				button {
					width : 130px;
					background-color: white;
					cursor: pointer;
				}
				span.vertical-separator{
					background: #cbc9c9;
					width: 1px;
					height: 24px;
				  }
			}
			
			p {
				line-height: 0.5em;
			}
		  }
	}
	.cmp-header-price{
		text-align: center;
		span.ag-header-cell-text{
			position: relative;
			&::before{
				left: -15px !important;
				top: 0 !important;
			}
		}
	}
	
}

.place-cmp-order-dialog-container {
    padding: 1.6rem 2rem;
}

p.cmp-place-order-actions {
    display: flex;
    flex-direction: row-reverse;
}

.cmp-place-order-terms{
	a.cmp-place-order-link {
		color: #00558C;
		cursor: pointer;
	}
}


