# Configuration created by Apache Sling JCR Installer
debugTrackingEvents="true"
legacyUrl="http://exwb11preview.dev.web.us.tdworldwide.com"
typeAheadUrl="https://typeahead.dev.web.us.tdworldwide.com"
jqueryPath="jquery"
debug="true"
corporateUrl="http://exwb11preview.dev.web.us.tdworldwide.com"
techSelectContentUrl="https://shop.techdata.com/siteredirect/?referrer\=shop.techdata.com&destination\=http://content.techselect.techdata.com&authPage\=login.aspx&landingPage\=http://content.techselect.techdata.com"
corporateDomain="exwb11preview.dev.web.us.tdworldwide.com/"
disableEncryption=B"true"
myOrderTrackerUrl="https://shop.dev.web.us.tdworldwide.com/siteredirect/?referrer\=shop.dev.web.us.tdworldwide.com&destination\=http://www.myordertracker.com&authPage\=/us/default.aspx&landingPage\=http://www.myordertracker.com/reseller/MyOrderTracker.aspx"
shopUrl="https://pilot.techdata.com"
shopDomain="shop.dev.web.us.tdworldwide.com"
cookieDomain=".us.tdworldwide.com"
clientlibCategories=["techdata.base","techdata.all"]
legacyDomain="exwb11preview.dev.web.us.tdworldwide.com"
uberSearchEnabled="false"
