<sly data-sly-use.serviceData="com.techdata.core.models.CaConfigReader">
    <sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
        <div class="cq-placeholder" data-emptyText="${component.title}"></div>
    </sly>
    <sly data-sly-use.model="${'minicart.js' @uiServiceDomain=serviceData.uiServiceDomain,activeCartEndpoint=serviceData.activeCartEndpoint,shopDomain=serviceData.shopDomain,cartURL=serviceData.cartURL,tdPartSmart=serviceData.tdPartSmart}">

        <div id="${properties.id}" data-observe-mutation>
            <div data-component="MiniCart"
                 data-cmp-type="react"
                 className="minicart"
                 data-config="${model.configJson}">
            </div>
        </div>
    </sly>

