<sly data-sly-include="languagenavigationscript.html" />
<sly data-sly-use.languageNavigation="com.adobe.cq.wcm.core.components.models.LanguageNavigation"
  data-sly-use.languageNavigation1="${'com.techdata.core.models.LanguageNavigationImpl' @items=languageNavigation.items}">
  <button onclick="regionSelect()" class="cmp-dropbtn">${languageNavigation1.localePageTitle}</button>
  <div id="regionSelectDropdown" class="cmp-dropdown-content">
    <form method="POST" action="/content/core-components-examples/library/form/button.html"
      enctype="multipart/form-data" class="cmp-languagenavigation cmp-region-select-dropdown" id="${component.id}"
      name="${component.id}">

      <div class="options" data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
        data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
        data-sly-use.groupTemplate="group.html" data-sly-call="${groupTemplate.group @ items=languageNavigation1.test}"
        data-sly-test.hasContent="${languageNavigation1.test && languageNavigation1.test.size > 0}"
        data-cmp-data-layer="${languageNavigation.data.json}">
        <input type="hidden" name=":formstart"
          value="/content/core-components-examples/library/form/button/jcr:content/root/responsivegrid/demo_881795653/component/container">
        <input type="hidden" name="_charset_" value="utf-8">
      </div>
      <div class="button aem-GridColumn aem-GridColumn--default--12">
        <button type="BUTTON" id="form-button-1117902125" class="cmp-button__region-select"
          name="button">${properties.changeLocationLabel}</button>
      </div>
    </form>
  </div>
</sly>
<sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent, classAppend='cmp-languagenavigation'}">
</sly>
