.cmp-carousel {}
.cmp-carousel__content {}
.cmp-carousel__item {}
.cmp-carousel__actions {}
.cmp-carousel__action {}
.cmp-carousel__action--disabled {}
.cmp-carousel__action--previous {}
.cmp-carousel__action--next {}
.cmp-carousel__action--pause {}
.cmp-carousel__action--play {}
.cmp-carousel__action-icon {}
.cmp-carousel__action-text {}
.cmp-carousel__indicator {}

.cmp-carousel__indicator--active{
  background-color: get-color(brand-blue);
}


.dp-carousel{
  &.dp-carousel__navigation--hero1{
    //default
    .dp-carousel__nav{
      justify-content: flex-end;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: .5rem 1.5rem;
      box-sizing: border-box;
      //m-0 px-4 py-2 position-absolute w-100 bottom-0
      @include tablet {
        justify-content: center;
      }
    }
    .dp-carousel__nav-labels{
      //d-flex font-12
      display: flex;
      align-items: center;
      @include tablet {
        justify-content: center;
      }
    }
    .dp-carousel__nav-label{
      font-size: .75rem;
      cursor: pointer;
      color: get-color(secondary-light-grey) !important;
      //text-decoration-none position-relative mx-3 py-1
      padding: .25rem 0;
      margin: 0 1rem;
      position: relative;
      text-decoration: none;
      @include tablet {
        font-size: 0;
        margin: 0 5px;
        border: 1px solid get-color(secondary-light-grey);
        background: get-color(brand-black);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-indent: -3000px;
      }
      &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: get-color(brand-nav-blue);
        transition: width .3s;
        display: block;
        @include tablet {
          background-color: unset;
        }
      }
      &:focus{
        outline: 0 none;
      }
      &.cmp-carousel__indicator--active,
      &:hover{
        color: get-color(brand-blue);
        background-color: get-color(brand-blue);
        opacity: 1;
        @include tablet {
          background-color: get-color(brand-blue);
          opacity: 0.5;
        }
        &::before{
          width: 100%;
        }
      }
    }
    // .dp-carousel__nav-dots{
    //   display: none;
    // }
    .dp-carousel__nav-label-separator{
      //text-white py-1
      color: #D6D6D6;
      padding: .25rem 0;
      position: absolute;
      left: -1.2rem;
      top: 0;
      display: inline-block;
    }
  } //end navigation hero class 
  
  &.dp-carousel__alert--hero1{
    .dp-carousel__alert{
      //px-4 py-3 mt-1 position-absolute w-100
      padding: 1rem 1.5rem;
      position: absolute;
      width: 100%;
      bottom: 47px;
      left: 0;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        opacity: .40;
      }
    }
    .dp-carousel__alert-container{
      display: flex;
      align-items: center;
      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .dp-carousel__alert-text{
      //col position-relative h5 m-0 text-shadow-1
      flex: 1 0 0%;
      position: relative;
      font-size: 1.375rem;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 2px 4px rgba(0,0,0,0.5);
      margin-bottom: rem(10px);
      @include tablet {
        font-size: rem(13px);
        font-weight: bold;
        line-height: rem(18px);
      }
    }
    .dp-carousel__alert-buttons{
      //col-md-auto d-flex align-items-end position-relative
      flex: 0 0 auto;
      position: relative;
      display: flex;
      align-items: flex-end;
      @include tablet {
        font-size: rem(12px);
        letter-spacing: 0;
        line-height: rem(13px);
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .dp-carousel__alert-button{
      //text-uppercase btn btn-light rounded-0 font-weight-bold mr-4
      background-color: #fff;
      color: #04588e;
      border: 0 none;
      text-decoration: none;
      vertical-align: middle;
      padding: .3rem .75rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 1.5rem;
      margin-bottom: rem(10px);
    }
    .dp-carousel__alert-button-color{
      color: #00B1E2;
    }
  }
  //nav items styles
  //nav alignment
  //alert alignment
  //alert background color
  //alert background opacity
  //alert text color
  //select navigation
  &.dp-carousel__nav-use-dots{
    // .dp-carousel__nav-dots{
    //   display: flex;
    // }
    // .dp-carousel__nav-labels{
    //   display: none;
    // }
  }
}
.dp-carousel:not(.dp-carousel__navigation--hero1) .dp-carousel__nav{
  position: absolute;
  bottom: 10px;
  
  .dp-carousel__nav-label{
    &::before{
      display: none;
    }
    font-size: 0;
    opacity: .7;
    width: 10px;
    height: 10px;
    color: transparent;
    border: 1px solid get-color(brand-black);
    background-color: get-color(brand-white);
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 .4rem;
    
    &.cmp-carousel__indicator--active,
    &:hover{
      color: #fff;;
      background-color: get-color(brand-blue);
      opacity: 1;
    }
  }
}
.dp-carousel__nav-label-separator{
  display: none;
}
.carousel-max-1440 .cmp-carousel .cmp-teaser__content {
  max-width: 90rem;
  margin: 0 auto!important;
}

.carousel-max-1440.dp-carousel.dp-carousel__alert--hero1 .dp-carousel__alert-container {
    max-width: 90rem;
    margin: 0 auto;
}

.carousel-max-1440.dp-carousel.dp-carousel__navigation--hero1 .dp-carousel__nav-labels {
    max-width: 90rem;
    left: calc(50% - 45rem);
}

.carousel-max-1440 .dp-carousel.dp-carousel__alert--hero1 .dp-carousel__alert-container {
    max-width: 90rem;
    margin: 0 auto;
}

.carousel-max-1440 .dp-carousel.dp-carousel__navigation--hero1 .dp-carousel__nav-labels {
    max-width: 90rem;
    left: calc(50% - 45rem);
}

.carousel-max-height-500 .cmp-teaser__image .cmp-image__image {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
    object-position: center;
}

// New nav dots styling
.cmp-carousel__indicators {
  width: 50%;
  
  //New classes for position of carousel dots
  &--left {
    .cmp-carousel__indicators{
      left: 0;
    }
  }


  &--right {
    .cmp-carousel__indicators{
      left: 50%;
    }
  }
}