.contentFragment-bio {
  .cmp-contentfragment {
    clear: both;
    overflow: hidden;
    width: 50%;
    margin: 0 auto 0.9375rem;
    @include mobile {
      width: 100%;
      padding: 0 1.875rem;
      margin-top: 1.25rem;
    }
    &__title,
    &__element-title,
    &__element--photo .cmp-contentfragment__element-value {
      display: none;
    }
    &__element--photo {
      float: left;
      margin-right: 1.25rem;
      margin-bottom: 2.5rem;
      @include mobile {
        margin: 0 auto 2.5rem;
        float: none;
        display: flex;
        justify-content: center;
      }
      img {
        max-width: 9.375rem;
        @include mobile {
          border-radius: 50%;
        }
      }
    }
    &__element--title {
      .cmp-contentfragment__element-value {
        font-size: 1.25rem;
        color: gray;
        @include mobile {
          font-size: 1rem;
          line-height: 1.375rem;
        }
      }
    }
    &__element--name {
      padding-top: 2.5rem;
      @include mobile {
        padding-top: 0;
      }
      .cmp-contentfragment__element-value {
        font-size: 1.875rem;
        margin-bottom: 0.625rem;
        @include mobile {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
    }

    &__element--bio {
      display: block;
      clear: both;
      margin-top: 0.625rem;
      margin-left: 0;
      border-top: 0.0625rem solid lightgray;
      padding-top: 1.875rem;
      @include mobile {
        border-top: none;
        padding-top: 1rem;
      }
      .cmp-contentfragment__element-value {
        margin-inline-start: 0;
        font-size: 0.9375rem;
        @include mobile {
          font-size: 0.875rem;
          line-height: 1.1875rem;
        }
      }
    }
    &__element--name,
    &__element--title {
      margin-left: 1.25rem;
      @include mobile {
        margin-left: 0;
      }
    }
  }
}
