.cmp-experiencefragment {}
// .cmp-experiencefragment--<name> {}

#cmp-techdata-header {
    &.cmp-experiencefragment--header {
        &.cmp-container {
            .aem-Grid {
                display: flex;
                align-items: center;
                @include desktop {
                    height: rem(80px);
                }
                .search {
                    margin-top: 0;
                    width: unset;
                    float: unset;
                    @include desktop {
                        margin-left: auto;
                    }
                }
                .cmp-header--logo-small {
                    width: 27px;
                    height: auto;
                    object-fit: cover;
                    display: none;
                }

                // hide language switcher and others on lower resolution
                @include tablet {
                    // this classname 'button' is too generic. Use language-switcher-btn or 
                    // something similar
                    .button {
                        display: none;
                    }
                }

                @include desktop {
                    .cmp-td-hamburgerMenu,
                    .cmp-hamburger-container {
                        display: none;
                    }
                }
            }
        }
    }
}

@include desktop {
    .cmp-td-hamburgerMenu,
    .cmp-hamburger-container {
        display: none;
    }
}
