.cmp-image {}
.cmp-image__link {}
.cmp-image__image {}
.cmp-image__title {}

.dp-figure{
  margin: 0;
  &--spacing-header{
    padding: 1.063rem 1.3rem 1rem .6rem;
  }
  &--spacing-footer{
    padding: .4rem 0 .5rem;
  }
}

.cmp-td-logo{
  &--header{
    width: rem(196px) !important;
    padding: rem(21px) rem(26px) rem(21px) rem(10px);

    @include mobile {
      padding: rem(8px)
    }
  }
  &--footer{
    width: rem(128px) !important;
    padding: rem(0px) rem(0px) rem(8px);
  }
}
