//Component Mixins

@mixin nav-button {
	background-color: transparent;
	color: get-color(brand-text-gray);
	padding: rem(10px) rem(14px);
	transition: all 200ms ease;
	text-align: left;
	width: 100%;

	&:hover {
		background-color: get-color(td-primary-blue);
		color: get-color(brand-white);

		svg {
			color: get-color(brand-white);
		}
	}
}

@mixin reset-list-styles {
	list-style-type: none;
	text-decoration: none;
}

@mixin reset-spacing-styles {
	padding: 0;
	margin: 0;
}

@mixin chevron-icon {
	color: get-color(brand-nav-blue);
	margin-left: rem(8px);
	transition: all 200ms ease;
	width: rem(24px);
}

//Search Bar styles
.cmp-searchbar {
	min-width: rem(250px);
	position: relative;
	width: 100%;

	@include mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 0;
		position: relative;
		width: 80%;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 100%;
	}

	&__input {
		border: rem(1px) solid get-color(brand-black);
		border-radius: rem(6px) 0 0 rem(6px);
		box-sizing: border-box;
		outline: none;
		padding: rem(10px) rem(14px);
		transition: all 400ms ease;
		width: 100%;

		&::placeholder{
			color: get-color(brand-text-gray);
		}

		@include mobile {
			border: rem(1px) solid get-color(border-light-gray);
			border-radius: 0;
			padding: 0;
			visibility: hidden;
			min-width: 0;
			width: 0;

			&--mobile {
				padding: rem(6px) rem(10px);
				visibility: visible;
				width: 100%;
			}
		}
	}

	&__button {
		background-color: get-color(brand-black);
		border-right: rem(1.5px) solid get-color(brand-black) !important;
		border-top: rem(1.5px) solid get-color(brand-black) !important;
		border-bottom: rem(1.5px) solid get-color(brand-black) !important;
		border-left: 0 !important;
		border-radius: 0 rem(6px) rem(6px) 0;
		box-sizing: border-box;
		padding: rem(9.5px) rem(13.5px);
		transition: all 200ms ease;

		&:hover {
			background-color: get-color(brand-text-gray);
			cursor: pointer;

			@include mobile {
				background-color: transparent;
			}
		}

		@include mobile {
			background-color: transparent;
			border: none !important;
			padding: 0;
			margin: 0 rem(8px);
		}

		&--checked {
			background-color: get-color(brand-white);

			&:hover {
				background-color: get-color(brand-light-gray);
			}

			svg {
				color: get-color(brand-black);
			}
		}
	}

	&__icon {
		color: get-color(brand-white);

		@include mobile {
			color: get-color(brand-light-blue);
		}

		&--checked {
			color: get-color(brand-black);
		}
	}

	&__context-menu {
		box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
		background-color: get-color(brand-white);
		position: absolute;
		width: 100%;
		z-index: 100;

		@include mobile {
			position: relative;
			margin-bottom: rem(12px);
			min-width: rem(350px);
		}
	}
}

//Search Area styles
.cmp-searcharea {
	@include reset-list-styles;
	@include reset-spacing-styles;
	box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
	margin: 0 rem(10px) 0 rem(10px);
	max-height: 0;
	transition: all 200ms ease;
	overflow: scroll;

	&--checked {
		background-color: get-color(brand-white);
		left: 0;
		max-height: rem(250px);
		position: relative;
		width: 96%;

		@include mobile {
			width: 100%;
			margin: 0;
		}
	}
	
	&__button {
		@include nav-button;
	}

	&__selectedarea {
		border-bottom: rem(2px) solid get-color(brand-black);
		margin-left: 0;
		margin-right: 0;
		transition: all 200ms ease;

		&--checked {
			margin-left: rem(10px);
			margin-right: rem(10px);

			@include mobile {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&-button {
			@include nav-button;
			display: flex;
			align-items: center;
			padding: rem(10px) rem(14px);

			@include mobile {
				min-width: rem(350px);
			}
		}

		&-icon {
			@include chevron-icon;
		}
	}
}

//Search Suggestions styles
.cmp-searchsuggestions {
	@include reset-list-styles;
	@include reset-spacing-styles;

	&:first-child {
		color: get-color(brand-nav-blue);
	}

	&__suggestion, 
	&__link {
		@include reset-list-styles;
		@include reset-spacing-styles;
		color: get-color(brand-text-gray);
	}

	&__suggestion {
		display: flex;
		align-items: center;
		transition: all 200ms ease;
		padding: rem(8px) rem(16px);

		&:first-child {
			flex-direction: column;
			justify-content: center;
			margin-top: rem(8px);

			@include mobile {
				display: flex;
				flex-direction: column;
			}
		}

		&:hover {
			background-color: map-get($color-palette, 'td-lighter-gray');
			color: get-color(brand-white);
		}
	}
}

//Search Bar Refinements styles
.cmp-searchrefinements {
	@include reset-spacing-styles;

	&__link, 
	&__item,
	&__refinement {
		@include reset-list-styles;
		@include reset-spacing-styles;
		color: get-color(brand-nav-blue);
	}

	&__item {
		padding-left: rem(4px);
		
		&-icon {
			@include chevron-icon;
			@include mobile {
				width: auto;
			}
		}
	}

}

//Loading indicator Styling
.cmp-searchbar__loading-indicator {
	right: 0.8rem;
	left: unset;
}

.cmp-searchbar__clear {
	display: none;
}

.cmp-searchbar__clear-icon {
	left: 0.5rem;
	right: unset;
}

//AEM overriding Styling
.experiencefragment.cmp-experiencefragment--header .cmp-experiencefragment>.cmp-container .aem-Grid .search {
	margin-left: auto !important;
	width: 35% !important;

	@include mobile {
		width: 100% !important;
	}
}

.experiencefragment.cmp-experiencefragment--header-mobile .cmp-experiencefragment>.cmp-container> div {
	@include mobile {
		height: auto;
		min-height: rem(40px);
		transition: height 400ms ease;
	}
}