//Component Mixins

@mixin nav-button {
	background-color: transparent;
	color: get-color(brand-text-gray);
	padding-block-start: rem(12px);
	padding-block-end: rem(12px);
	padding-inline-start: rem(32px);
	padding-inline-end: rem(32px);
	transition: all 200ms ease;
	text-align: left;
	width: 100%;

	&:hover {
		background-color: get-color(td-primary-blue);
		color: get-color(brand-white);

		svg {
			color: get-color(brand-white);
		}
	}
}

@mixin reset-list-styles {
	list-style-type: none;
	text-decoration: none;
}

@mixin reset-spacing-styles {
	padding: 0;
	margin: 0;
}

@mixin chevron-icon {
	color: get-color(brand-nav-blue);
	margin-left: rem(8px);
	transition: all 200ms ease;
	width: rem(24px);
}

//Search Bar styles
.cmp-searchbar {
	min-width: rem(250px);
	width: 100%;

	&__container {
		display: flex;
		align-items: center;
	}

	&__input {
		border: 1px solid get-color(brand-black);
		border-radius: rem(6px) 0 0 rem(6px);
		outline: none;
		padding: rem(8px) rem(16px);
		width: 100%;

		&::placeholder{
			color: get-color(brand-text-gray);
		}
	}

	&__button {
		background-color: get-color(brand-black);
		border: rem(1.5px) solid get-color(brand-black);
		padding: rem(9px) rem(17px);
		transition: all 200ms ease;

		&:hover {
			background-color: get-color(brand-text-gray);
			cursor: pointer;
		}
	}

	&__icon {
		color: get-color(brand-white);
	}

	&__context-menu {
		box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
	}
}

//Search Area styles
.cmp-searcharea {
	@include reset-list-styles;
	@include reset-spacing-styles;
	box-shadow: rem(1px) rem(1px) rem(5px) rgba(0, 0, 0, 0.2);
	margin: 0 rem(10px) 0 rem(10px);
	max-height: 0;
	transition: all 200ms ease;
	overflow: scroll;

	&--checked {
		max-height: rem(250px);
	}
	
	&__button {
		@include nav-button;
	}

	&__selectedarea {
		border-bottom: rem(2px) solid get-color(brand-black);
		margin-left: 0;
		margin-right: 0;
		transition: all 200ms ease;

		&--checked {
			margin-left: rem(10px);
			margin-right: rem(10px);
		}

		&-button {
			@include nav-button;
			display: flex;
			align-items: center;
			padding-block-start: rem(12px);
			padding-block-end: rem(4px);
			padding-inline-start: rem(16px);
			padding-inline-end: rem(4px);
		}

		&-icon {
			@include chevron-icon;
		}
	}
}

//Search Suggestions styles
.cmp-searchsuggestions {
	@include reset-list-styles;
	@include reset-spacing-styles;

	&:first-child {
		color: get-color(brand-nav-blue);
	}

	&__suggestion, 
	&__link {
		@include reset-list-styles;
		@include reset-spacing-styles;
		color: get-color(brand-text-gray);
	}

	&__suggestion {
		display: flex;
		align-items: center;
		transition: all 200ms ease;
		padding: rem(8px) rem(16px);

		&:first-child {
			justify-content: center;
			margin-top: rem(8px);

			.cmp-searchsuggestions__link {
				color: get-color(brand-nav-blue);
			}
		}

		&:hover {
			background-color: map-get($color-palette, 'td-lighter-gray');
			color: get-color(brand-white);
		}
	}
}

//Search Bar Refinements styles
.cmp-searchrefinements {
	@include reset-spacing-styles;

	&__link, 
	&__item,
	&__refinement {
		@include reset-list-styles;
		@include reset-spacing-styles;
		color: get-color(brand-nav-blue);
	}

	&__item {
		padding-left: rem(4px);
		
		&-icon {
			@include chevron-icon;
		}
	}

}

.experiencefragment.cmp-experiencefragment--header .cmp-experiencefragment>.cmp-container .aem-Grid .search {
	// making this desktop only as in mobile search is next to signin.
	@include desktop {
		margin-left: unset !important;
		margin-right: auto;
	}
	// this is only a temporary fix to order to meet the sprinnt deadline. I will refactore it in the next sprint. - OP 7.12.21
}

@mixin cmp-searchbar__input {
	border: 1px solid get-color(input-border);
	border-radius: rem(3px);
	&::placeholder {
		font-style: normal;
	}
}

.cmp-searchbar--dark-blue {
	& .cmp-searchbar__input {
		@include cmp-searchbar__input;
	}
	& .cmp-searchbar__icon {
		color: #21314d;
	}
}
.cmp-searchbar--light-blue {
	& .cmp-searchbar__input {
		@include cmp-searchbar__input;
	}
	& .cmp-searchbar__icon {
		color: #02b8dc;
	}
}
.cmp-searchbar--grey {
	& .cmp-searchbar__input {
		@include cmp-searchbar__input;
	}
	& .cmp-searchbar__icon {
		color: #979797;
	}
}
.cmp-searchbar--white {
	& .cmp-searchbar__input {
		@include cmp-searchbar__input;
	}
	& .cmp-searchbar__icon {
		color: #ffffff;
	}
}
//default view
.cmp-searchbar__field {
	height: 1.97em;
	display: flex;
}
.cmp-searchbar__icon {
	background-image: unset;
	right: 0.8rem;
	left: unset;
}
/* .cmp-searchbar__input {
	border: 1px solid lightgray;
	outline: none;
	padding: 0;
	padding-right: rem(44px);
	padding-left: rem(10px);
	text-overflow: ellipsis;
	min-width: 200px;
	@include tablet {
        min-width: 0;
    }
	&::placeholder {
		font-style: normal;
		font-family: 'Open Sans';
		font-size: 0.84em;
		font-weight: 300;
		letter-spacing: 0;
		color: #153B51;
	}
} */
.cmp-searchbar__loading-indicator {
	right: 0.8rem;
	left: unset;
}
.cmp-searchbar__clear {
	display: none;
}
.cmp-searchbar__clear-icon {
	left: 0.5rem;
	right: unset;
}

