.cmp-search {
}
.cmp-search__form {
}
.cmp-search__field {
}
.cmp-search__icon {
}
.cmp-search__input {
}
.cmp-search__loading-indicator {
}
.cmp-search__clear {
}
.cmp-search__clear-icon {
}
.cmp-search__results {
}
.cmp-search__item {
}
.cmp-search__item--is-focused {
}
.cmp-search__item-mark {
}
.cmp-search__item-title {
}

#cmp-techdata-header.cmp-container .aem-Grid .search {
	// making this desktop only as in mobile search is next to signin.
	@include desktop {
		margin-left: unset !important;
		margin-right: auto;
	}
	// this is only a temporary fix to order to meet the sprinnt deadline. I will refactore it in the next sprint. - OP 7.12.21
}

@mixin cmp-search__input {
	border: 1px solid get-color(input-border);
	border-radius: rem(3px);	
	&::placeholder {
		font-style: normal;
	}
}

.cmp-search--dark-blue {
	& .cmp-search__input {
		@include cmp-search__input;
	}
	& .cmp-search__icon {
		color: #21314d;
	}
}
.cmp-search--light-blue {
	& .cmp-search__input {
		@include cmp-search__input;
	}
	& .cmp-search__icon {
		color: #02b8dc;
	}
}
.cmp-search--grey {
	& .cmp-search__input {
		@include cmp-search__input;
	}
	& .cmp-search__icon {
		color: #979797;
	}
}
.cmp-search--white {
	& .cmp-search__input {
		@include cmp-search__input;
	}
	& .cmp-search__icon {
		color: #ffffff;
	}
}
//default view
.cmp-search__field {
	height: 1.97em;
	display: flex;
}
.cmp-search__icon {
	background-image: unset;
	right: 0.8rem;
	left: unset;
}
.cmp-search__input {
	border: 1px solid lightgray;
	outline: none;
	padding: 0;
	padding-right: rem(44px);
	padding-left: rem(10px);
	text-overflow: ellipsis;
	min-width: 200px;
	@include tablet {
        min-width: 0;
    }
	&::placeholder {
		font-style: normal;
		font-family: 'Open Sans';
		font-size: 0.84em;
		font-weight: 300;
		letter-spacing: 0;
		color: #153B51;
	}
}
.cmp-search__loading-indicator {
	right: 0.8rem;
	left: unset;
}
.cmp-search__clear {
	display: none;
}
.cmp-search__clear-icon {
	left: 0.5rem;
	right: unset;
}

