// OUR PURPOSE TABS

.cmp-tabs-our-purpose {
    line-height: rem(30px);
    .cmp-tabs {
        display: flex;
        &__tablist {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: -webkit-fill-available;
            width: 18%;
            margin: 0;
            line-height: rem(50px);
            .cmp-tabs__tab {
                padding: 0 rem(16px);
                position: relative;
                top: rem(-10px);
            }
        }

        &__tabpanel {
            margin: 0 !important;
            width: 82%;
            padding-left: rem(45px);
            border-left: rem(1px) solid get-color(brand-scrollbar);

            .cmp-container {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
        }

        &__tab {
            //color: get-color(brand-blue);
            i,
            svg {
                color: transparent;
            }
            &--active,
            &:hover,
            &:active {
                font-weight: 600;
                color: get-color(brand-blue) !important;
                // &::after {
                //     font-family: "Font Awesome 5 Free";
                //     content: "\f054";
                // }

                i,
                svg {
                    color: get-color(brand-light-blue) !important;
                }
            }
        }
    }
}
