@import'../../site/_variables.scss';
@import '../../global/_mixins.scss';
@import '../../global/styles/_font-face.scss';

.cmp-tds-title {

    &.dp-title {

        h1 {
            font-size: rem(40px);
            line-height: rem(61px);

            &.large {
                font-size: rem(66px);
            }
        }

        h2 {
            font-size: rem(32px);
            line-height: rem(48px);
        }

        h3 {
            font-size: rem(28px);
            line-height: rem(42px);
        }

        h4 {
            font-size: rem(20px);
            line-height: rem(30px);
        }

        h5 {
            font-size: rem(16px);
            line-height: rem(24px);
        }

        h6 {
            font-size: rem(14px);
            line-height: rem(19.92px);
        }

        p {
            font-size: rem(16px);
            line-height: rem(24px);

            &.large {
                font-size: rem(20px);
                line-height: rem(30px);
            }

            &.small {
                font-size: rem(14px);
                line-height: rem(16.8px);
            }
        }

    }
}


.cmp-marketing {
    font-family: $font-family-marketing;

    &-large {
        font-size: $font-size-marketing-h1-large;

    }

    &-card {      
        h2 {
            font-family: $font-family-marketing-md;
            font-size: $font-size-marketing-h2;
            margin: 0;
        }
    }

    h1 {
        font-size: $font-size-marketing-h1;
        margin: 0;
    }

    h2 {
        font-family: $font-family-marketing;
        font-size: $font-size-marketing-h2;
        margin: 0;
    }

    h3 {
        font-size: $font-size-marketing-h3;
        margin: 0;
    }

    h4 {
        font-size: $font-size-marketing-h4;
        margin: 0;
    }

    h5 {
        font-size: $font-size-marketing-h5;
        margin: 0;
    }

    h6 {
        font-size: $font-size-marketing-h6;
        margin: 0;
    }
}

.cmp-digital {

    &-large {}

    &-card {}

    h1 {
        font-family: $font-family-digital;
        font-size: 88px;
        margin: 0;
    }

    h2 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 33px;
        margin: 0;
    }

    h3 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h4 {
        font-family: $font-family-digital;
        font-size: 20px;
        margin: 0;
    }

    h5 {
        font-family: $font-family-digital;
        font-size: 15px;
        margin: 0;
    }

    h6 {
        font-family: $font-family-digital;
        font-size: 13px;
        margin: 0;
    }
}

.dp-title {
    &__text {
        color: #000C21;
        font-weight: 300;

        &--gray {

            .dp-title__text,
            .dp-title__link {
                color: #5D6165 !important;
            }
        }

        &--light-blue {

            .dp-title__text,
            .dp-title__link {
                color: #00B1E2 !important;
            }

        }

        &--dark-blue {

            .dp-title__text,
            .dp-title__link {
                color: #000C21 !important;
            }
        }

        &--white {

            .dp-title__text,
            .dp-title__link {
                color: #ffff !important;
            }
        }

        &-align {
            &-center {
                text-align: center;
            }

            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }
        }

        &-font {
            &-bold {
                .dp-title__text {
                    font-weight: 700;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
    }

    &__plus-sign {
        position: absolute;
        background-color: #00B1E2;
        color: #ffff;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        margin-left: .5rem;

        &-white-on-blue {
            .dp-title__plus-sign {
                color: #ffff !important;
                background-color: #00B1E2;
            }
        }

        &-blue-on-white {
            .dp-title__plus-sign {
                color: #00B1E2 !important;
                background-color: #ffff;
            }
        }
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@include mobile {
    .dp-title {
        h1 {
            font-size: 1.375rem;
        }

        h3 {
            font-size: 0.875rem;
        }
    }
}
