/* stylelint-disable -- ryan.williams@tdsynnex.com: Too many errors to resolve right now */
@import '../../site/_variables.scss';
@import '../../global/mixins';
@import '../../global/styles/_font-face.scss';
@import '../../../../../../../tds-core/ui.frontend/src/utils/text-enhancer/text-enhancer.scss';

.cmp-td-legacy {
  font-family: $open-sans;

  h1 {
    font-size: $font-size-digital-h2; //32px
  }

  h2 {
    font-size: $font-size-digital-h2-card; //28px
  }

  h3 {
    font-size: $font-size-custom-midi; //20px
  }

  h4 {
    font-size: $font-size-medium; //16px
  }

  h5 {
    font-size: $font-size-custom-xxsmall; //13px
  }

  h6 {
    font-size: $font-size-custom-xxsmall; //13px
  }
}

.dp-title {
  @include typewriter-animation;
  &__text {

    &--gray {
      .dp-title__text,
      .dp-title__link {
        color: #5d6165 !important;
      }
    }

    &--light-blue {
      .dp-title__text,
      .dp-title__link {
        color: #00b1e2 !important;
      }
    }

    &--dark-blue {
      .dp-title__text,
      .dp-title__link {
        color: #000c21 !important;
      }
    }

    &--white {
      .dp-title__text,
      .dp-title__link {
        color: #ffff !important;
      }
    }

    &-align {
      &-center {
        text-align: center;

        @include mobile {
          margin: 0 !important;
          width: auto !important;
          float: none !important;
        }
      }

      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }
    }

    &-font {
      &-bold {
        .dp-title__text {
          font-weight: 700;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__plus-sign {
    position: absolute;
    background-color: #00b1e2;
    color: #ffff;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    margin-left: 0.5rem;

    &-white-on-blue {
      .dp-title__plus-sign {
        color: #ffff !important;
        background-color: #00b1e2;
      }
    }

    &-blue-on-white {
      .dp-title__plus-sign {
        color: #00b1e2 !important;
        background-color: #ffff;
      }
    }
  }
}
