.cmp-configurations-grid {
  width: 100%;
  overflow: auto;
  &__checkout-icon {
    color: get-color(brand-light-blue-icon);
    margin-left: rem(20px);
    cursor: pointer;
  }

  .cmp-simple-drop-down__selection {
    width: rem(153px);
  }

  .cmp-details-info {
    &__line {
      display: grid;
      grid-template-columns: 5% 25% 40% 30%;

      &.cmp-details-info__lines--single {
        grid-template-columns: 30% 40% 30%;
      }
    }
    &__info {
      text-align: left;
      font-weight: 600;
    }
    .cmp-show-more__content {
      display: grid;
      grid-template-columns: 30% 40% 30%;
      text-align: left;

      .cmp-modal_quote-details{
        padding-right: rem(4px);
      }

      .cmp-modal_btn {
        height: 44px;
      }
    }
  }
}

.customErrorNoRows {
  display: flex;
  align-items: center;
  text-align: center;
  background: $white;
  padding: rem(8px);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}

.errorIcon {
  color: $pink;
  font-size: $font-size-medium;
  font-weight: bold;
  margin-left: rem(4px);
}