.dropdownbutton {
  .cmp-form {
    .cmp-form-text, .cmp-form-options {
      margin-bottom: 20px;
    }

    label {
      display: none;
    }

    fieldset {
      border: none;
      padding: 0;
    }

    .cmp-form-text input,
    .cmp-form-text textarea,
    .cmp-form-options select {
      font-size: 16px;
      line-height: 16px;
      border: 0;
      border-bottom: 1px solid #979797;
      font-family: inherit;
      border-radius: 0;
      width: 100%;
      outline: none;
      padding: 15px 0;
      cursor: text;
    }

    .cmp-form-text textarea {
      border: 1px solid #ccc;
      padding: 15px;
      width: 100%;
    }

    ::-webkit-input-placeholder,
    select:invalid {
      color: #555555;
    }

    option {
      color: black;
    }

    .cmp-form-button {
      font-size: 16px;
      line-height: 19px;
      background-color: #000C21;
      width: 100%;
      border: none;
      padding: 12px 10px;
      font-weight: bold;
      text-align: center;
      color: white;
    }
  }

}