.cmp-td-order-details {
    font-smooth: always;
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_header--details,
    &_header--status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_header--details {
        font-size: $font-size-xsmall;
        color: get-color(brand-text-gray);
    }

    &_header--status {
        font-size: $font-size-small;
        color: get-color(brand-button-blue);

        a {
            border-right: rem(1px) solid get-color(brand-light-gray2);
            text-decoration: none;
            color: get-color(brand-button-blue);
            padding-right: rem(24px);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_header--details,
    &_header--status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        div {
            padding: 0 rem(25px);
        }

        .order-number {
            color: get-color(td-dark-blue);
            font-size: $font-size-custom-medium;
            font-weight: 700;
            position: relative;

            &:before {
                content: "\f053";
                font-family: "Font Awesome 5 Free";
                color: get-color(td-dark-blue);
                position: absolute;
                left: 0;
            }
        }
        .open {
            font-size: $font-size-small;
            color: get-color(brand-white);
            background-color: get-color(button-open);
            padding: rem(7px) rem(10px);
            border: 0;
        }
    }
}
