.cmp-quote-preview {
  &__note {
    width: 100%;
    padding: rem(20px 29px);
    .cmp-notes-container {
      padding: 0.8rem 0.78rem;
      background-color: $gray-lighter;
      font-size: $font-size-small;
      line-height: 1.5;

      section:first-child {
        color: #555555;
        font-weight: $font-weight-bold;
      }

      .cmp-notes-actions {
        display: flex;
        gap: 2rem;
        color: $gray;
        margin-top: 3px;
        &--setup {
          position: relative;
          .icon {
            @include icon($white, $yellow);
            margin-right: 4px;
          }
        }
        &--attachment {
          position: relative;
          .icon {
            @include icon($color: $white, $background: $pink);
            margin-right: 4px;
          }
        }
      }
    }
  }

  .ag-header-container {
	& > div{
		div.ag-header-cell:nth-child(3),div.ag-header-cell:nth-child(5) {
			.ag-cell-label-container .ag-header-cell-label span.ag-header-cell-text{
				width: 4rem;
			}		
		}
	}
  }
}
[data-component="QuotePreview"], [data-component="QuoteDetails"]{
  .cmp-product-lines-grid .ag-root-wrapper-body .ag-cell {
      border-top: none !important;//overwrite aggrid library default lining separator 
    }
    .cmp-product-lines-grid__item-information__image-link {
      border-top: none !important;//overwrite aggrid library default lining separator
    }
    
    .ag-cell-focus,
    .ag-cell-no-focus {
      border: none !important; //overwrite library ag grid blue highlighting cell
    }
    .ag-cell:focus {
      border: none !important; //overwrite library ag grid blue highlighting cell
      outline: none;
    }
    
    .ag-row.ag-row-even.ag-row-group.cmp-product-lines-grid__row.ag-row-position-absolute{
        border-bottom: 0.0625rem solid #d8d8d8;
    }
    
    .ag-row.ag-row-no-focus.ag-row-level-0.ag-row-group.ag-row-group-contracted.cmp-product-lines-grid__row.ag-row-position-absolute{
        border-bottom: 0.0625rem solid #d8d8d8;
    
    }
    
    .cmp-product-lines-grid__child-grid__row .ag-cell:nth-child(n+3) {
        border-bottom: 0.0625rem solid #d8d8d8;
    }

    a.cmp-product-lines-grid__item-information__image-link img[alt*="No Image"] {
      padding-top: 15px;
  }

}

[data-component="QuoteDetails"]{
  .cmp-product-lines-grid__child-grid{
    .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value{
        &:nth-child(n+3){
            border-bottom: 0.0625rem solid #d8d8d8;
        }
    }
  }
}