.cmp-search-criteria {
  font-size: $font-size-xsmall;
  font-family: $font-family-sans-serif;
  z-index: 1;
  // position: absolute;
  margin-top: 0.375rem;

  .hidden {
    display: none;
  }

  &__content-header {
    display: flex;
    flex-direction: row;
  }
  &__icon {
    color: white;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  &__icon-button {
    color: black;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  &--expanded {
    position: relative;
  }
  &__header {
    cursor: pointer;
    display: flex;
    margin-left: 0.5rem;
    & svg,
    i {
      color: get-color(td-primary-blue);
      margin-top: 0.25rem;
      &:before {
        display: inline-block;
      }
    }
    &__title {
      font-size: $font-size-small;
      font-weight: $font-weight-semi-bold;
      text-transform: uppercase;
      margin-left: 0.5rem;
    }
    &__filter {
      display: flex;
      align-items: center;
      justify-items: center;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      padding-top: 0.125rem;
      padding-left: 1.25rem;
      padding-bottom: 0.125rem;
      border-radius: 20px;
      background-color: black;
      color: white;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-items: center;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0.125rem;
      padding-left: 0;
      padding-bottom: 0.125rem;
      border-radius: 20px;
      color: black;
      cursor: pointer;
      .fs-16 {
        font-size: 1rem;
      }
    }
  }
  &__content {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    &--hidden {
      display: none;
    }
    &__query-input {
      display: flex;
      margin-right: 1rem;
      width: 100%;
      &__prefix {
        margin-right: 0.3125rem;
      }
      &__search {
        display: flex;
        align-items: center;
        white-space: nowrap;
        &__clear {
          text-decoration: underline;
          font-size: $font-size-xsmall;
          color: get-color(brand-button-blue);
          margin: 0 1rem 0 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.option-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
