/// Your Company Information

.cmp-quote-address-info {
  display: inline-grid;
  width: 33%;
  margin: rem(30px) 0;
  padding-left: rem(65px);
  box-shadow: rem(1px) 0 0 0 get-color(v-divider-gray);

  &:last-of-type {    
    box-shadow: 0 0 0 0;
  }

  &:first-of-type {
    padding-left: rem(40px);
  }

    &__title {
        // height: rem(19px);
        // width: rem(184px);
        color: get-color(td-dark-blue);
        font-family: $open-sans;
        font-size: rem(14px);
        font-weight: 600;
        letter-spacing: 0;
        line-height: rem(19px);
        margin-bottom: rem(12px);
    }

    &__company-name {
        color: get-color(text-light-charcoal);
        font-family: $open-sans;
        font-size: rem(13px);
        font-weight: 600;
        letter-spacing: 0;
        line-height: rem(18px);
        margin-bottom: rem(12px);
      }

      &__company-info {
        color: get-color(border-light-gray);
        font-family: $open-sans;
        font-size: rem(13px);
        letter-spacing: 0;
        line-height: rem(18px);
        &--name {}
        &--street {}
        &--city-state-zip {}
        &--state {
          margin-bottom: rem(12px);
        }
      }
}

/// End User Information