/// Your Company Information

.cmp-quote-address-info {
  display: inline-grid;
  width: 33%;
  margin: 1.875rem 0;
  padding-left: 4.0625rem;
  box-shadow: 0.0625rem 0 0 0 get-color(v-divider-gray);

  @include tablet {
    border-bottom: 1px solid get-color(v-divider-gray);
    border-left: none;
    padding-left: 1.0625rem;
    width: 100%;
  }

  &:last-of-type {
    box-shadow: 0 0 0 0;
  }

  &:first-of-type {
    padding-left: 2.5rem;
  }

  &__title {
    // height: 1.1875rem;
    // width: 11.5rem;
    color: get-color(td-dark-blue);
    font-family: $open-sans;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1875rem;
    margin-bottom: 0.75rem;
  }

  &__company-name {
    color: get-color(text-light-charcoal);
    font-family: $open-sans;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.125rem;
    margin-bottom: 0.75rem;
  }

  &__company-info {
    color: get-color(border-light-gray);
    font-family: $open-sans;
    font-size: 0.8125rem;
    letter-spacing: 0;
    line-height: 1.125rem;
    &--name {
    }
    &--street {
    }
    &--city-state-zip {
    }
    &--state {
      margin-bottom: 0.75rem;
    }
  }
}

/// End User Information
