.cmp-td-quote-subtotal {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: fit-content;
  font-family: $open-sans;

  &__section {
    font-size: rem(16px);
    font-weight: $font-weight-bold;
    white-space: nowrap;
    border-bottom: rem(1px) solid get-color(secondary-light-grey);
    color: get-color(border-light-gray);
    width: fit-content;
    min-width: rem(300px);
    &__line {
      margin: rem(12px) 0;
      text-align: right;
      display: grid;
      grid-template-columns: 60% 40%;
      justify-content: space-between;
      &--bold {
        color: get-color(brand-black);
      }
    }
    &:last-child {
      border-bottom: unset;
    }
  }

  &__price-area {
    display: inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;

    &--title {
      font-size: rem(20px);
    }

    &--price {
      font-size: rem(24px);
      margin-left: rem(30px);
    }
  }

  &__checkout-area {
    width: rem(240px);
  }
}
