<div class="list cmp-list">
  <ul id="list-f50b36b533" data-cmp-data-layer="{&quot;list-f50b36b533&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-14T14:09:59Z&quot;}}" class="cmp-list">
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-f50b36b533-item-b0a08e7237&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:28Z&quot;,&quot;dc:title&quot;:&quot;Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/carousel.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Carousel</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-f50b36b533-item-bd937d6b13&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:32Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-f50b36b533-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/list/v2/list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
  </ul>
</div>