<!DOCTYPE html>
<html>
<head>
    <title>Tech Data - Filmstrip</title>
    <meta charset="UTF-8">
</head>

<body>

    <div class="center slider">
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Rich Hume
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Chief Executive Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Beth E. Simonetti
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Human <br />
                    Resources Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Rich Hume
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Chief Executive Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Beth E. Simonetti
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Human <br />
                    Resources Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Rich Hume
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Chief Executive Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Beth E. Simonetti
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Human <br />
                    Resources Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
        <a href="#">
            <div class="cmp-filmstrip-carousel__cards--card">
                <div class="cmp-filmstrip-carousel__cards--card--name">
                    Charles V. Dannewitz
                </div>
                <div class="cmp-filmstrip-carousel__cards--card--position">
                    Executive Vice President,
                    Chief Financial Officer
                </div>
            </div>
        </a>
    </div>
</body>

</html>