.dp-social {
  display: flex;
  a{
    background-color: #4867aa;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      vertical-align: middle;
      color: #fff;
    }
    &.bg-twitter{
      background-color: #50abf1;
    }
    &.bg-instagram{
      background-color: #e0456f;
    }
    &.bg-youtube{
      background-color: #fe0000;
    }
    &.bg-linkedin{
      background-color: #0077b5;
    }
  }
}