<div class="hero">
    <div class="local-container">
      <div class="row">
        <div class="hero-content col-sm-6 col-xs-12">
          <h1 class="hero-title">Learn More from Companies Like Yours</h1>
          <p class="hero-contents"> At TD SYNNEX, we understand that speed and agility are essential for enterprise cloud adoption, which is why our solutions streamline and simplify deployment processes that tend to be lengthy and complicated. Learn from businesses who have experienced the benefits firsthand of cutting deployment time from days to minutes, while driving increased productivity and accelerated time to market. </p>
        </div>
        <div class="hero-content video col-sm-6 col-xs-12">
          <div class="video-cie">
            <div class="video-content relative">
              <!-- The script tag should live in the head of your page if at all possible -->
              <img
                style="width: 100%; margin: auto; display: block"
                class="vidyard-player-embed"
                src="https://play.vidyard.com/YGzsFJsxThE2k1Fnm8sihK.jpg"
                data-uuid="YGzsFJsxThE2k1Fnm8sihK"
                data-v="4"
                data-type="inline"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="story-content">
    <div class="local-container">
      <div class="wrapper">
        <h2 class="story-title">Today’s digital transformation outcomes are within your reach when leveraging our portfolio of Click-to-Run™ Solutions.</h2>
        
        <div class="row">
          <div class="col-sm-6 col-xs-12 story-info"> 
              <h3 class="story-title">Featured Story</h3>
              <p>Initially, PLEXIT wanted to help his end customer Reagro migrate from Google Workspace to Microsoft 365. Reagro employees work remotely, and with this came some uncertainties about the level of security for their propriety, more confidential information. PLEXIT was dedicated to securing remote users and finding catch-all solutions that could deliver in terms of device management, advanced reporting and productivity tools.</p>
			        <p>Read on to learn more about the TD SYNNEX solutions PLEXIT leveraged to deliver game-changing outcomes.</p>
              <div class="btn-container">
                <a href="/content/dam/tds-site/americas/us/solutions/files/PLEXIT-Case-Study.pdf" class="btn-primary-lp">Read More</a>
              </div>
          </div> 
          <div class="col-sm-6 col-xs-12 story-img"> 
            <img src="/content/dam/tds-site/americas/us/solutions/images/team-working-together.png">
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="case-study">
    <div class="local-container">
      <h2>Case Study Library</h2>
      <ul class="re-li">
        <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-mcm.png" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/MCM%20Technology%20Solutions%20Case%20Study.pdf" target="_blank">
                <p>Upgrading their client from Microsoft 365 Business Standard licenses to Microsoft 365 Business Premium licenses, MCM Technology Solutions took advantage of the cutting-edge security and compliance benefits.<span>Read&nbsp;More</span></p> 
              </a>
            </div>
          </div>
        </li>
		    <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-questra.png" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/Questa-Software-Systems-Case-Study.pdf" target="_blank">
                <p>Questa Software Systems Private Limited was looking for a solution capable of outlining security standards to build the baseline security policies and help their customers identify possible challenges in the future.<span>Read&nbsp;More</span></p> 
              </a>
            </div>
          </div>
        </li>
		 <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-wodc.png" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/W-O-Donnell-Consulting-Inc-Case-Study.pdf" target="_blank">
                <p>W. O’Donnell Consulting sought a backup solution that would help clients overcome issues of limited storage capacity and the associated costs of renewal fees, appliance upgrades, warranty, and software support.<span>Read&nbsp;More</span>
                </p>
              </a>
            </div>
          </div>
        </li>
		  <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-CDM.jpg" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/CDM%20ICT%20Case%20Study.pdf" target="_blank">
                <p>Thanks to the Small Business Cloud Server Click-to-Run™ setup process, provisioning ATC’s new Azure environment took just one hour, and with the move of the Exchange server increasing mailbox capacity to 50GB, ATC couldn’t wait to find out what they could do next.<span>Read&nbsp;More</span>
                </p>
              </a>
            </div>
          </div>
        </li>
	      <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-limotta.png" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/LIMOTTA-IT-Case-Study.pdf" target="_blank">
                <p>Thanks to the Click-to-Run™ setup process, provisioning ATC’s new Azure environment took just one hour, and with the move of the Exchange server increasing mailbox capacity to 50GB, ATC couldn’t wait to find out what they could do next. <span>Read&nbsp;More</span>
                </p>
              </a>
            </div>
          </div>
        </li>
		  <li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-sanit.jpg" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/San-iT-Case-Study.pdf" target="_blank">
                <p>For San-iT’s end users, saving time and accelerating speed to market were vital to achieving successful outcomes. Learn how our quick, reliable, and cost-effective Click-to-Run™ Solution saved San-iT a vast amount of time – as the deployment was reduced from a projected 20-hour timeline to a seamless deployment lasting only one hour in contrast. <span>Read&nbsp;More</span>
                </p>
              </a>
            </div>
          </div>
        </li>
		<li>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front data-services">
                <img src="/content/dam/tds-site/americas/us/solutions/images/logo-aiis.jpg" />
              </div>
              <a class="flip-card-back" href="/content/dam/tds-site/americas/us/solutions/files/AIIS-Azure-Sentinel-Case-Study.pdf" target="_blank">
                <p>When a law practice client reached out with vast cybersecurity needs that were critical to success, AIIS realized they had their hands full. Read on to learn more about the game-changing outcomes delivered with our Azure Sentinel Click-to-Run™ solution. <span>Read&nbsp;More</span>
                </p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="cta-content">
    <div class="local-container">
      <h2>Request a demo</h2>
      <div class="btn-container">
        <a href="#" class="btn-primary-lp open-feature-modal">Connect</a>
      </div>
    </div>

    <div class="feature-modal xoo-modal">
      <div class="xoo-modal__wrapper">
        <h2>Request a Demo</h2>
        <div class="_form_1"></div>
        <form id="mktoForm_8774"></form>
        <script>
          MktoForms2.loadForm("//info.techdata.com", "946-OMQ-360", 8774);
        </script>
        <div class="xoo-modal__close"></div>
      </div>
    </div>
  </div>