

.cmp-popup__modal {
  display: none;
  position: fixed;
  z-index: 9999999; //There are diff z-indexes in the codebase for the navbar, we might need to redefine all of them.
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &--open {
    display: block;
  }
}

.cmp-popup__modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 0 15px;
  border: 1px solid #888;
  width: 450px;
  
  @include mobile {
    width: 90%;
  }

 &__close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
  }
  
  &__close:hover,
  &__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  &>.cmp-container {
    padding: 25px 15px 32px 15px;
  }
}
