<style>
  .cmp-sub-header--sub-nav {
    height: max-content;
    padding: 1rm 0;
    background-color: #003031;
    color: white;
    z-index: 250;
  }
</style>

<div class="subheader tabs panelcontainer aem-GridColumn aem-GridColumn--default--12">
  <div id="subheader" style="background-color: #000c21" class="cmp-tabs" data-cmp-data-layer='{"subheader":{"repo:modifyDate":"2024-07-12T10:45:27Z","shownItems":[],"@type":"techdata/components/subheader"}}'>
    <div>
      <div class="cmp-sub-header--sub-nav new-sub" data-current-page-path="/content/techdata/apac-language-masters/en/dcp/renewals">
        <div class="cmp-sub-header--content">
          <div class="cmp-sub-header--sub-nav__title">
            <span class="cmp-sub-header__span" style="color: rgb(255, 255, 255)">Renewals</span>
          </div>

          <ol></ol>

          <div>
            <div class="button">
              <a id="action-renewals-new-purchase" class="cmp-button" href="#open-new-purchase" data-cmp-clickable="" data-cmp-data-layer='{"action-renewals-new-purchase":{"@type":"techdata/components/button","repo:modifyDate":"2024-10-16T09:27:33Z","dc:title":"New purchase","xdm:linkURL":"#open-new-purchase"}}' style="display: none">
                <span class="cmp-button__text" style="color: rgb(255, 255, 255)">New purchase</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
