<style>
    .cmp-sub-header--sub-nav{     
        height: max-content;
        padding: 1rm 0;
        background-color: #003031;
        color: white;
        z-index: 250;
    }  
</style>

<div class="subheader tabs aem-GridColumn aem-GridColumn--default--12">
     <div id="subheader" style="background-color: #000c21" class="cmp-tabs" data-cmp-data-layer="{&quot;subheader&quot;:{&quot;repo:modifyDate&quot;:&quot;2024-07-12T06:42:19Z&quot;,&quot;shownItems&quot;:[],&quot;@type&quot;:&quot;techdata/components/subheader&quot;}}">
          <div>
               <div class="cmp-sub-header--sub-nav new-sub" data-current-page-path="/content/techdata/apac-language-masters/en/dcp/renewals">
                    <div class="cmp-sub-header--content">
                         <div class="cmp-sub-header--sub-nav__title">
                              <span class="cmp-sub-header__span" style="color: rgb(255,255,255)">Renewals</span>
                         </div>
                         <ol></ol>
                         <div>
                              <div class="button">
                                   <a id="action-renewals-new-purchase" class="cmp-button " href="#action-renewals-new-purchase" data-cmp-clickable="" data-cmp-data-layer="{&quot;action-renewals-new-purchase&quot;:{&quot;@type&quot;:&quot;techdata/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2024-07-12T06:44:52Z&quot;,&quot;dc:title&quot;:&quot;New purchase&quot;,&quot;xdm:linkURL&quot;:&quot;#action-renewals-new-purchase&quot;}}">
                                        <span class="cmp-button__text" style="color: rgb(255,255,255)">New purchase</span>
                                   </a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>