<div class="cmp-tabs cmp-sub-header">
  <div class="">
    <div data-component="NewSubheader" data-cmp-type="react" class="cmp-sub-header--sub-nav cmp-sub-header__wrapper"
      data-config='
      {
        "minified": "true",
        "accountnumberLabel": "Account Number",
        "toolsIndex": "10",
        "menuItems": [{
          "title": "Dashboards"
        }, {
          "title": "Configurations",
          "link": "/us/en/dcp/configurations.html",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/1Source/"
        }, {
          "title": "Favorites",
          "link": "/us/en/dcp/favorites",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/favorites"
        }, {
          "title": "Saved Carts",
          "link": "/us/en/dcp/carts",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/carts"
        }, {
          "title": "Deals",
          "link": "/us/en/dcp/search",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/spa/search"
        }, {
          "title": "Quotes",
          "link": "/us/en/dcp/quotes.html",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/quotes"
        }, {
          "title": "Renewals",
          "link": "/us/en/dcp/renewals.html",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/renewals"
        }, {
          "title": "Orders",
          "link": "/us/en/dcp/orders.html",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/orderV2/search"
        }, {
          "title": "Returns",
          "link": "/us/en/dcp/returns",
          "legacyLink": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/returns"
        }, {
          "title": "Tools"
        }],
        "dashboardMenuItems": [{
          "title": "Endpoint",
          "imagePath": "/content/dam/techdata/shared/dcp/dashboard/EndPointDashboard.png",
          "link": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/dashboard"
        }, {
          "title": "1Source (Legacy)",
          "imagePath": "/content/dam/techdata/digital-commerce-platform/dashboards/1SourceDashboard.png",
          "link": "https://shop-rc.cstenet.com/loginRedirect?returnUrl=https://shop-rc.cstenet.com/1source"
        }, {
          "title": "1Source (Beta)",
          "imagePath": "/content/dam/techdata/digital-commerce-platform/dashboards/1SourceBetaDashboard.png",
          "link": "https://uat.dc.tdebusiness.cloud/us/en/dcp/dashboard.html"
        }],
        "vendorConnectionsModal": {
          "getConnectionsEndPoint": "http://localhost:3000/ui-account/v1/getVendorConnections",
          "disconnectEndPoint": "http://localhost:3000/ui-account/v1/vendorDisconnect",
          "setConnectionsEndPoint": "http://localhost:3000/ui-account/v1/setVendorConnection",
          "vendorConnectionDataRefreshEndpoint": "http://localhost:3000/ui-account/v1/refreshData",
          "loginPageCommonName": "vendorlogin",
          "vendorSignInCodeParameter": "code",
          "disableVendorConnectionLink": "false",
          "title": "Vendor Connections",
          "buttonLabel": "Close",
          "buttonIcon": "fas fa server",
          "content": "Manage your vendor connections below",
          "connectedLabel": "Connect",
          "disconnectedLabel": "Disconnect",
          "vendorConnectionRefreshMessage": "Our systems are now retrieving refreshed data from the vendor. This can take up to a minute. Please refresh this page (F5) to see the results.",
          "vendors": [{
            "key": "cisco",
            "logInUrl": "http://localhost:3000/vendor.html?q=CISCO&redirectUrl=http://localhost:8080/vendor-pages/vendorlogin-cisco.html",
            "iconPath" : "/content/dam/techdata/tech-data-dot-com/global/site/brands/Cisco_logo.svg",
            "connectLandingPage" : "http://localhost:8080/vendor-pages/vendor-cisco.html"
          },
          {
            "key": "hp",
            "logInUrl": "http://localhost:3000/vendor.html?q=HP&redirectUrl=http://localhost:8080/vendor-pages/vendorlogin-hp.html",
            "iconPath" : "/content/dam/techdata/tech-data-dot-com/global/site/brands/Hewlett_Packard_Enterprise_logo.svg",
            "connectLandingPage" : "http://localhost:8080/vendor-pages/vendor-hp.html"
          },
          {
            "key": "dell",
            "logInUrl": "http://localhost:3000/vendor.html?q=DELL&redirectUrl=http://localhost:8080/vendor-pages/vendorlogin-dell.html",
            "iconPath" : "/content/dam/techdata/tech-data-dot-com/global/site/brands/Dell_Logo.svg",
            "connectLandingPage" : "http://localhost:8080/vendor-pages/vendor-dell.html"
          }]
        }
      }
      '>
    </div>
  </div>
</div>

      
      