<section class="cmp-sub-header">
  <nav class="cmp-sub-header--sub-nav">
    <ul>
      <li class="dashboard"><a href="#">My Dashboard</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Configurations</a></li>
      <li><a href="#">Deals</a></li>
      <li><a href="#">Quotes</a></li>
      <li><a href="#">Renewals</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Tools</a></li>
    </ul>
    <ul>
      <li><a href="#">Stark Enterprises</a></li>
      <li><a href="#">Account Number: 1234567890</a></li>
      <li><a href="#">link</a></li>
    </ul>
  </nav>

</section>
