/* stylelint-disable -- This file needs to be refactored. */
/// Hero styles with mobile responsiveness, image configurations and font settings.
/// @group Hero
.hero {
  /// Provides mobile specific styles for hero
  /// @access public
  @include mobile {
    height: auto;
    position: relative;
  }

  .cmp-teaser__image {
    img {
      @include mobile {
        min-height: 597px;
      }
    }
  }

  /*
        Okay below flavors are based on what you can do in AEM
        unfortunately I believe you can only put CSS class on the parent
        so below code is a wrapper to the already existing class declaration in L83.

        That way the footer text is seperatly configured on the AEM side.

        Justification: Waiting for AEM to add a functionality
        to customize multiple elements inside a component

    */

  /// Style overrides for .cmp-teaser__footer based on parent class
  /// @access public
  /// @group Hero.Teaser
  &.cmp-tds-footer-font-arial {
    .cmp-teaser__footer {
      font-family: 'Arial';
    }
  }

  &.cmp-tds-footer-font-everett {
    .cmp-teaser__footer {
      font-family: 'TWKEverett-Regular-web';
    }
  }

  &.cmp-tds-footer-font-everett-bold {
    .cmp-teaser__footer {
      font-family: 'TWKEverett-Medium-web';
    }
  }

  /// Describes the overall teaser component within a Hero section
  /// @access public
  /// @group Hero.Teaser
  .cmp-teaser {
    color: map-get($color-palette, 'charcoal');
    position: relative;
    @include mobile {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }

    &__title {
      font-size: 4.125rem;
      font-weight: 700;
      line-height: 115%; /* 4.74375rem */

      @include mobile {
        font-size: 2.375rem;
        font-weight: 700;
        line-height: 120%; /* 2.85rem */
      }
    }

    &__image-container {
      position: relative;
    }

    &__content[data-cmp-hasimage] {
      position: absolute;
      top: 10rem;
      display: flex;
      left: 3rem;

      @include mobile {
        top: 4.19rem;
        left: 2rem;
        bottom: 0;
        padding: 0;
        height: 500px;
      }

      .cmp-item {
        color: inherit;
      }
      .cmp-teaser__footer {
        color: inherit;
      }
    }

    &__footer {
      font-size: rem(20px);
      @include mobile {
        font-size: 0.89rem;
      }
    }

    .cmp-hero-items-description-list {
      display: flex;
      margin: 2rem 0;
      width: 46%;
      justify-content: space-between;
      color: get-color(brand-white);
      @include mobile {
        width: 100% !important;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  .cmp-item {
    font-size: rem(20px);
    @include mobile {
      font-size: 0.89rem;
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
    }
  }

  .cmp-item > p:first-child {
    display: flex;
    justify-content: center;
    img {
      @include mobile {
        width: 1.2rem;
      }
    }
  }

  .cmp-item > p:nth-child(2) {
    text-align: center;
    width: 10rem;
    margin-top: 1rem;
    @include mobile {
      width: max-content;
      margin-top: 0;
    }
  }

  .cmp-item img,
  picture {
    max-width: 100%;
    display: block;
    width: 2rem;
  }

  .cmp-teaser__action-container {
    a {
      padding: rem(12.8px) rem(24px);
      display: inline-block;
      background: $white;
      border-radius: rem(1px);
      text-align: center;
      font-family: $font-family;
      font-style: normal;
      font-weight: 400;
      font-size: rem(20px);
      line-height: rem(18px);
      color: $brand-green;
      margin-top: rem(24px);
      text-transform: capitalize;

      @include mobile {
        padding: rem(12px) rem(20px);
        font-family: $font-family-everett;
        font-size: rem(16px);
        line-height: rem(24px);
        width: 100%;
      }
    }
  }
}

.hero {
  &.hero-centered {
    .cmp-teaser {
      &__title {
        font-family: Arial;
        font-size: 4.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 115%; /* 4.74375rem */
        width: 31.4375rem;

        @media (max-width: 767.98px) {
          font-family: Arial;
          font-size: 2.375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 2.85rem */
          width: 18.125rem !important;
        }
      }

      &-hero__description {
        width: 31.4375rem;

        @media (max-width: 767.98px) {
          width: 18.125rem !important;
        }
      }

      &__bottom-section--title {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.875rem */
        padding-bottom: 1.5rem;

        @media (max-width: 767.98px) {
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 125%;
          padding-bottom: 0.38rem;
        }
      }

      &__bottom-section--link {
        @media (max-width: 767.98px) {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 1.3125rem */
        }
      }

      &__content[data-cmp-hasimage] {
        position: absolute;
        top: 35%;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
        left: 0;

        @include mobile {
          top: 0;
          left: 2rem;
          bottom: 0;
          padding: 0;
          height: 500px;
        }

        .cmp-item {
          color: inherit;
        }
        .cmp-teaser__footer {
          color: inherit;
        }
      }
    }
  }
}

/// Variant of hero component with unique styling and structure
/// @group Hero
.hero {
  font-family: 'Arial', sans-serif;
  &.cmp-dpb-hero {
    position: relative;

    .cmp-teaser__image {
      img {
        width: 100%;
        overflow: hidden;
        @include mobile {
          min-height: 520px;
        }
      }
    }

    .cmp-teaser__content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0;

      @include tablet {
        top: 40%;
      }

      @include mobile {
        margin-left: 0;
        border-left: 0 solid get-color(brand-white);
        font-size: rem(20px);
        align-content: flex-start;
        padding: 2rem;
      }
    }

    .cmp-teaser__pretitle {
      display: none;
    }

    .cmp-teaser__description {
      max-width: rem(570px);
      text-shadow: 0 0 0 #919599;
      font-weight: normal;
      font-size: rem(35px);
      letter-spacing: normal;
      line-height: normal;
      padding: 0 0 0 rem(55px);
      margin-bottom: 0;

      @include desktop {
        margin-top: 0;
        margin-left: rem(55px);
        border-left: rem(5px) solid get-color(brand-white);
      }

      @include tablet {
        margin-top: 0;
        margin-left: rem(55px);
        border-left: rem(5px) solid transparent;
        font-size: rem(26px);
        width: 90%;
      }

      @include mobile {
        margin-top: rem(20px);
        margin-left: 0;
        border-left: rem(5px) solid transparent;
        font-size: rem(20px);
      }

      @include desktop-l {
        margin-top: 0;
        margin-left: rem(55px);
        border-left: rem(5px) solid transparent;
        font-size: rem(26px);
        width: 90%;
      }
    }

    .cmp-teaser__desc-link {
      text-decoration: none;
      color: unset;

      &:hover {
        text-decoration: none;
      }
    }
    .cmp-teaser__action-container {
      a {
        padding: rem(8px) rem(12px);
        display: inline-block;
        background: $white;
        border-radius: rem(2px);
        text-align: center;
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(18px);
        color: $brand-green;

        @include mobile {
          padding: rem(12px) rem(20px);
          font-family: $font-family-everett;
          font-size: rem(16px);
          line-height: rem(24px);
          width: 100%;
        }
      }
    }
  }
}

/// Describes the teaser component's configurations for mobile display
/// @access public
/// @group Teaser
.cmp-teaser {
  .mobile-image {
    display: none;
    min-height: 31.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    @include mobile {
      display: block;
    }
  }

  &__image-container {
    .cmp-teaser__image {
      @include mobile {
        display: none;
      }
    }
  }

  &__bottom-section {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    min-width: 616px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    grid-auto-flow: column;
    align-items: self-end;

    @include mobile {
      position: sticky;
      width: 100%;
      min-width: auto;
      display: block;
    }

    &--wrapper {
      position: sticky;
      bottom: 0;
      display: flex;
      padding: 25px 22px;
      gap: 20px;
      flex-basis: 50%;

      @include mobile {
        display: flex;
        padding: 20px 16px;
      }

      &:first-child {
        background-color: var(--teal, map-get($color-palette, 'teal'));
      }

      &:last-child {
        background-color: var(--deep-teal, map-get($color-palette, 'deep-teal'));
      }

      img {
        width: 48px;
      }
    }

    &--title {
      margin-bottom: 22px;
      padding-top: 6px;

      @include mobile {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
      }
    }

    &--link {
      display: block;
      padding-bottom: 6px;
      cursor: pointer;
      text-decoration: none;
      font-weight: 400;
    }
  }
}

/// Handles cursor pointer style for .cmp-teaser__bottom-section--wrapper
/// @access public
/// @group Teaser
.cmp-teaser__bottom-section--wrapper {
  width: 19.25rem;
  height: 9.625rem;
  flex-shrink: 0;
  cursor: pointer;

  @include mobile {
    height: unset;
  }

  &:hover .cmp-teaser__bottom-section--link {
    text-decoration: underline;
    opacity: 0.85;
  }

  &:active .cmp-teaser__bottom-section--link {
    text-decoration: underline;
    opacity: 0.7;
  }
}
