// @use 'sass-rem' as rem;

@import '../../variables';
@import '../../../site/variables';

.cmp-todays-action-items {
  font-family: $font-family;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 3.4375rem;

  @include mobile {
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: get-color(text-mid-gray);
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 1.5625rem;
  }

  &__tab {
    border-radius: 0.3125rem;
    border: 0.0625rem solid get-color(td-lightblue);
    width: 49%;
    height: rem-convert(95px);
    padding: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
      width: 100%;
      margin-bottom: 10px;
    }

    &__title {
      width: 100%;
      font-size: $font-size-xsmall;
      font: $open-sans;
      line-height: 17px;
      text-transform: uppercase;
      color: get-color(td-dark-blue);
    }

    &__items {
      font-size: 2.25rem;
      color: get-color(td-lightblue);
    }

    &__action-icon {
      font-size: $font-size-custom-xxxlarge;
      color: get-color(v-divider-gray);
      size: 39.51px;
      line-height: 40px;
    }
  }
}
