<div class="cmp-list" data-component="link-list">
    <ul id="link-list-071ec16d50" data-cmp-data-layer="{&quot;link-list-071ec16d50&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:56:13Z&quot;}}" class="cmp-link-list">
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
        <article>
          <span class="cmp-link-list__item-title">&copy;2020 Tech Data Corp.</span>
        </article>
      </li>
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
        <article>
          <span class="cmp-link-list__item-title">Privacy</span>
        </article>
      </li>
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
        <article>
          <span class="cmp-link-list__item-title">Terms & Conditions</span>
        </article>
      </li>
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
        <article>
          <span class="cmp-link-list__item-title">Legal</span>
        </article>
      </li>
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-d911db0f45&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:36Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/download.html&quot;}}">
        <article>
          <span class="cmp-link-list__item-title">Site Map</span>
        </article>
      </li>
      <li class="cmp-link-list__item" data-cmp-data-layer="{&quot;link-list-071ec16d50-item-da73ac8b3b&quot;:{&quot;@type&quot;:&quot;core/wcm/components/link-list/v2/link-list/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:40Z&quot;,&quot;dc:title&quot;:&quot;link-List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/link-list.html&quot;}}">
        <article>
            <div class="cmp-image">
              <img src="https://icons.iconarchive.com/icons/wikipedia/flags/1024/US-United-States-Flag-icon.png" class="cmp-image__image" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
            </div>
          <span class="cmp-link-list__item-title">Change Region</span>
        </article>
      </li>
    </ul>
  </div>