<div
  class="container responsivegrid aem-GridColumn aem-GridColumn--default--12"
>
  <div id="container-3419472278" class="cmp-container">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div
        class="container responsivegrid cmp-container--max-1440 aem-GridColumn aem-GridColumn--default--12"
      >
        <div id="container-d784afb064" class="cmp-container">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
            <div
              class="separator dp-separator--hidden dp-separator--space-medium aem-GridColumn aem-GridColumn--default--12"
            >
              <div id="separator-f97d13d7b9" class="cmp-separator">
                <hr
                  class="cmp-separator__horizontal-rule"
                  style="border-top: 1px solid"
                />
              </div>
            </div>
            <div
              class="separator dp-separator--hidden dp-separator--space-medium aem-GridColumn aem-GridColumn--default--12"
            >
              <div id="separator-e8d587ef31" class="cmp-separator">
                <hr
                  class="cmp-separator__horizontal-rule"
                  style="border-top: 1px solid"
                />
              </div>
            </div>
            <figure
              class="dp-figure aem-GridColumn aem-GridColumn--default--12"
            >
              <div
                data-cmp-lazythreshold="0"
                data-cmp-src="/content/tds-site/testing-branch/en/test-image-component/_jcr_content/root/container/container/image.coreimg{.width}.png/1667578031244/banner-digital-practice-builder.png"
                data-asset="/content/dam/tds-site/americas/us/services/digital-practice-builder/banner-digital-practice-builder.png"
                data-title="undefined"
                class="cmp-image"
                itemscope=""
                itemtype="http://schema.org/ImageObject"
                id="image-9a742f5706"
              >
                <img
                  src="https://w7.pngwing.com/pngs/895/199/png-transparent-spider-man-heroes-download-with-transparent-background-free-thumbnail.png"
                  class="cmp-image__image not svg"
                  itemprop="contentUrl"
                  data-cmp-hook-image="image"
                  data-mobile-logo="https://cdn.pixabay.com/photo/2016/03/25/19/37/crocus-1279508__340.png"
                  alt=""
                />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
