<div class="image cmp-image--spacing-header">
	<div
		data-cmp-lazythreshold="0"
		data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg{.width}.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
		data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
		data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
		data-title="Snowy mountain glacier"
		id="image-8974cba812"
		data-cmp-data-layer='{"image-8974cba812":{"@type":"core-components-examples/components/image","repo:modifyDate":"2019-01-22T17:31:25Z","dc:title":"Snowy mountain glacier","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html","image":{"repo:id":"45c6ee92-90e1-4af2-af69-b6dcbc7daeb7","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg","xdm:tags":[]}}}'
		class="cmp-image"
		itemscope=""
		itemtype="http://schema.org/ImageObject"
	>
		<a
			class="cmp-image__link"
			href="/content/core-components-examples/library/page-authoring/image.html"
			data-cmp-clickable=""
			data-cmp-hook-image="link"
		>
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/512px-Adobe_XD_CC_icon.svg.png"
				class="cmp-image__image"
				itemprop="contentUrl"
				data-cmp-hook-image="image"
				alt="Snowy mountain glacier"
				title="Snowy mountain glacier"
			/>
		</a>
		<meta itemprop="caption" content="Snowy mountain glacier" />
	</div>
</div>
-
