<div class="image cmp-image--spacing-header">
<figure
	class="dp-figure aem-GridColumn aem-GridColumn--default--12"
  >
	<div
		data-cmp-lazythreshold="0"
		data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_554582955/component/image.coreimg{.width}.jpeg/1550672497829/lava-into-ocean.jpeg"
		data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
		data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
		data-title="Lava flowing into the ocean"
		id="image-f4b958f398"
		data-cmp-data-layer='{"image-f4b958f398":{"@type":"core-components-examples/components/image","repo:modifyDate":"2019-01-22T17:31:15Z","dc:title":"Lava flowing into the ocean","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg","xdm:tags":[]}}}'
		class="cmp-image"
		itemscope=""
		itemtype="http://schema.org/ImageObject"
	>
		<img
			src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/512px-Adobe_XD_CC_icon.svg.png"
			class="cmp-image__image"
			itemprop="contentUrl"
			data-cmp-hook-image="image"
			alt="Lava flowing into the ocean"
			title="Lava flowing into the ocean"
			data-mobile-logo="https://cdn.pixabay.com/photo/2016/03/25/19/37/crocus-1279508__340.png"
		/>
		<meta itemprop="caption" content="Lava flowing into the ocean" />
	</div>
</figure>
</div>
