@import './../../../variables';
@import './../../../../site/variables';

.cmp-text {}
.cmp-text__paragraph {}


.cmp-aem-alert{
  border: rem(1px) solid get-color(td-primary-blue);
  padding: rem(32px);
  background-color: get-color(brand-white);
  color: get-color(text-mid-gray);
  box-shadow: 0px 0px rem(5px) 0px get-color(td-primary-blue)!important;
}

.cmp-text-color {
  &--onDark-theme {
    color: get-color(brand-white);
  }
  &--onLight-theme {
    color: get-color(text-light-gray);
  }
}
