<div id="OrdersGridBox" data-observe-mutation>
  <div
    data-component="OrdersGrid"
    data-cmp-type="react"
    className="cmp-orders-grid"
    data-config='          {
            "label": "Orders grid",
            "uiServiceEndPoint": "http://localhost:3000/ui-commerce/v1/orders",
            "downloadAllInvoicesEndpoint": "http://localhost:3000/ui-commerce/v1/downloadInvoice?orderId={order-id}&downloadAll=true",
            "orderDetailUrl": "/order-details-demo",
            "itemsPerPage": "25",
            "paginationStyle": "scroll",
            "options": {
              "defaultSortingColumnKey": "id",
              "defaultSortingDirection": "desc"
            },
            "invoicesModal": {
              "title": "Order",
              "buttonLabel": "Download All Related Invoices",
              "buttonIcon": "fas fa-download",
              "content": "There are multiple Invoices associated with this Order. Click an invoice number to preview with the option to print or Download All for a zip file of all shown here",
              "errorMessage": "This data is currently unavailable. Please try again later or contact your sales representative.",
              "pendingInfo": "Invoice is pending and will appear here after shipment is processed"
            },
            "trackingConfig" : {
              "trackingIcons" : [
                  {
                    "carrier": "FEDEX",
                    "logoPath": "/content/dam/techdata/digital-commerce-platform/tracking-logos/fedex.png/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                  },
                  {"carrier": "UPS", "logoPath": "/content/dam/techdata/digital-commerce-platform/tracking-logos/ups.png"}
                ],
              "trackingStatus" : [
                  {"key" : "pending", "value" : "Pending"},
                  {"key" : "in transit", "value" : "In Transit"},
                  {"key" : "completed", "value" : "Completed"}
              ],
              "modalTitle" : "Track My Order ...",
              "multipleOrderInformation" : "There are multiple shipments associated with this this Order.",
              "pendingInfo": "Invoice is pending and will appear here after shipment is processed"
            },
            "pendingValue": "Pending",
            "labelList": [
              {
                "labelKey": "multiple",
                "labelValue": "Multiple"
              },
              {
                "labelKey": "pending",
                "labelValue": "Pending"
              }
            ],
            "searchCriteria": {
              "title": "Filter Orders",
              "searchButtonLabel": "Apply",
              "clearButtonLabel": "Clear All Filters",
              "inputPlaceholder": "Enter your search",
              "labelButtonFilter": "Open Orders Report",
              "keywordDropdown": {
                "label": "Keyword",
                "items": [
                  {
                    "key": "id",
                    "value": "TD Order #"
                  },
                  {
                    "key": "customerPO",
                    "value": "Customer PO"
                  }
                ]
              },
              "vendorsDropdown": {
                "label": "Vendors",
                "items": [
                  {
                    "key": "allVendors",
                    "value": "All Vendors"
                  },
                  {
                    "key": "cisco",
                    "value": "Cisco"
                  }
                ]
              },
              "methodsDropdown": {
                "label": "Order Method",
                "items": [
                  {
                    "key": "allMethods",
                    "value": "All Order Methods"
                  },
                  {
                    "key": "web",
                    "value": "Web"
                  },
                  {
                    "key": "edi",
                    "value": "EDI"
                  },
                  {
                    "key": "xml",
                    "value": "XML"
                  },
                  {
                    "key": "phoneOrEmail",
                    "value": "Phone/Email"
                  }
                ]
              }
            },
            "iconList": [
              {
                "iconKey": "onHold",
                "iconValue": "fas fa-hand-paper",
                "iconText": "On Hold"
              },
              {
                "iconKey": "inProcess",
                "iconValue": "fas fa-dolly",
                "iconText": "In Process"
              },
              {
                "iconKey": "open",
                "iconValue": "fas fa-box-open",
                "iconText": "Open"
              },
              {
                "iconKey": "shipped",
                "iconValue": "fas fa-check",
                "iconText": "Shipped"
              },
              {
                "iconKey": "cancelled",
                "iconValue": "fas fa-ban",
                "iconText": "Cancelled"
              }
            ],
            "columnList": [
              {
                "columnLabel": "Order #",
                "columnKey": "id",
                "sortable": true
              },
              {
                "columnLabel": "Order Date",
                "columnKey": "created",
                "sortable": true
              },
              {
                "columnLabel": "Reseller Name",
                "columnKey": "reseller",
                "sortable": false
              },
              {
                "columnLabel": "Vendor Name",
                "columnKey": "vendor",
                "sortable": false
              },
              {
                "columnLabel": "Ship To",
                "columnKey": "shipTo",
                "sortable": true
              },
              {
                "columnLabel": "Order Type 34",
                "columnKey": "type",
                "sortable": false
              },
              {
                "columnLabel": "Order Value",
                "columnKey": "priceFormatted",
                "sortable": true
              },
              {
                "columnLabel": "Invoice #",
                "columnKey": "invoices",
                "sortable": false
              },
              {
                "columnLabel": "Status",
                "columnKey": "status",
                "sortable": true
              },
              {
                "columnLabel": "Track",
                "columnKey": "trackings",
                "sortable": false
              },
              {
                "columnLabel": "Returns",
                "columnKey": "isReturn",
                "sortable": false
              }
            ]
          }'
  ></div>
</div>
