<div id="OrdersGridBox" data-observe-mutation>
	<div
		data-component="OrdersGrid"
		data-cmp-type="react"
		className="cmp-orders-grid"
		data-config='{"label":"Orders grid","uiServiceEndPoint":"http://localhost:3000/ui-commerce/v1/order/?details=true", "quoteDetailUrl":"/language-masters/en/dcp/quote-details", "itemsPerPage":"25", "paginationStyle": "scroll", "columnList":[{"columnLabel":"Order #","columnKey":"orderId", "sortable": true},{"columnLabel":"Order Date","columnKey":"orderDate", "sortable": false}, {"columnLabel":"Reseller PO#","columnKey":"resellerPO", "sortable": false}, {"columnLabel":"Ship To","columnKey":"shipTo", "sortable": true}, {"columnLabel":"Order Type","columnKey":"orderType", "sortable": false}, {"columnLabel":"Order Value","columnKey":"orderValue", "sortable": true}, {"columnLabel":"Invoice #","columnKey":"invoiceNum", "sortable": true}, {"columnLabel":"Status","columnKey":"status", "sortable": true}, {"columnLabel":"Track","columnKey":"track", "sortable": false},{"columnLabel":"Returns","columnKey":"returns", "sortable": false}]}'
	></div>
</div>
