<div id="OrdersGridBox" data-observe-mutation>
	<div
		data-component="OrdersGrid"
		data-cmp-type="react"
		className="cmp-orders-grid"
		data-config='{"label":"Orders grid",
		"uiServiceEndPoint":"http://localhost:3000/ui-commerce/v1/orders/?details=true",
		"orderDetailUrl":"/language-masters/en/dcp/quote-details",
		"itemsPerPage":"25",
		"paginationStyle": "scroll",
		"columnList":[
		{"columnLabel":"Order #","columnKey":"id", "sortable": true},
		{"columnLabel":"Order Date","columnKey":"created", "sortable": false},
		{"columnLabel":"Reseller Name","columnKey":"reseller", "sortable": false},
		{"columnLabel":"Vendor Name","columnKey":"vendor", "sortable": false},
		{"columnLabel":"Ship To","columnKey":"shipTo", "sortable": true},
		{"columnLabel":"Order Type 34","columnKey":"type", "sortable": false},
		{"columnLabel":"Order Value","columnKey":"priceFormatted", "sortable": true},
		{"columnLabel":"Invoice #","columnKey":"invoiceNum", "sortable": true},
		{"columnLabel":"Status","columnKey":"status", "sortable": true},
		{"columnLabel":"Track","columnKey":"trackings", "sortable": false},
		{"columnLabel":"Returns","columnKey":"isReturn", "sortable": false}]}'
	></div>
</div>
