<div data-observe-mutation>
  <div
    data-component="RenewalsGrid"
    data-cmp-type="react"
    className="cmp-renewals-grid"
  ></div>
</div>
<script>
  const renewalsGridDom = document.querySelector(
    "[data-component='RenewalsGrid']"
  );
  const AEM_DATA = {
    detailUrl:
      "/content/techdata/americas-language-masters/en/dcp/renewals/renewal-details",
    columnList: [
      {
        columnLabel: "Reseller name",
        columnKey: "resellername",
        sortable: true,
        type: "plainResellerColumn",
      },
      {
        columnLabel: "End user name",
        columnKey: "endUser",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Vendor and program",
        columnKey: "vendor",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Agreement No",
        columnKey: "agreementnumber",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Renewal Plan",
        columnKey: "renewedduration",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Due in (days)",
        columnKey: "dueDays",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Due Date",
        columnKey: "dueDate",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Price (USD)",
        columnKey: "total",
        sortable: true,
        type: "plainText",
      },
      {
        columnLabel: "Actions",
        columnKey: "actions",
        sortable: false,
        type: "buttonList",
      },
    ],
    searchOptionsList: [
      {
        searchLabel: "Agreement number",
        searchKey: "ContractID",
        showIfInternal: "false",
      },
      {
        searchLabel: "Vendor Quote ID",
        searchKey: "VendorQuoteID",
        showIfInternal: "false",
      },
      {
        searchLabel: "Instance number",
        searchKey: "Instance",
        showIfInternal: "false",
      },
      {
        searchLabel: "End-User Name",
        searchKey: "EndUser",
        showIfInternal: "false",
      },
      {
        searchLabel: "End-User Email Address",
        searchKey: "EndUserEmail",
        showIfInternal: "false",
      },
      {
        searchLabel: "Reseller Name",
        searchKey: "ResellerName",
        showIfInternal: "true",
      },
      {
        searchLabel: "Reseller Number",
        searchKey: "ResellerId",
        showIfInternal: "true",
      },
    ],
    uiServiceEndPoint:
      "http://localhost:3000/ui-renewal/v1/Search",
    agGridLicenseKey:
      "CompanyName=Tech Data Corporation,LicensedGroup=1602297,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=25,LicensedProductionInstancesCount=1,AssetReference=AG-021049,ExpiryDate=2_February_2023_[v2]_MTY3NTI5NjAwMDAwMA==340781a1814319241544115aa922bb79",
    itemsPerPage: "25",
    paginationStyle: "scroll",
    options: {
      defaultSortingColumnKey: "dueDate",
      defaultSortingDirection: "asc",
    },
    showResultLabel: "Show Result",
    filterListValues: [
      {
        accordionLabel: "Vendors and Program",
        filterField: "ProgramName",
        filterOptionsValues: [
          {
            filterOptionLabel: "Veeam",
            subFilterOptionsValues: [
              { subFilterOptionsLabel: "Pro Partner" },
              { subFilterOptionsLabel: "Pro Partner Subscriber" },
            ],
          },
          {
            filterOptionLabel: "VMWare",
            subFilterOptionsValues: [
              { subFilterOptionsLabel: "Support and Subscriber" },
              { subFilterOptionsLabel: "Standard" },
            ],
          },
        ],
      },
      {
        accordionLabel: "End User Type",
        filterField: "endUserType",
        filterOptionsValues: [
          { filterOptionLabel: "Academic" },
          { filterOptionLabel: "Educational" },
        ],
      },
      { accordionLabel: "Date", filterField: "date" },
    ],
    productGrid: {
      quoteIdLabel: "Quote ID:",
      refNoLabel: "Ref No:",
      expiryDateLabel: "Expiry Date:",
      downloadPDFLabel: "Download PDF",
      downloadXLSLabel: "Download XLS",
      seeDetailsLabel: "See details",
    },
  };
  renewalsGridDom.dataset.config = JSON.stringify(AEM_DATA);
</script>
